
div(class='x-footer-newsletter')
    div(class='x-footer-newsletter__container')
        div(class='x-footer-newsletter__title-container js--footer-newsletter-title')            
            div(class='x-footer-newsletter__title')
                <vtex.cmc:newsletterText/>

        div(class='x-footer-newsletter__content')
            form(class='x-footer-newsletter__form js--footer-newsletter-form')
                div(class='x-footer-newsletter__form-group x-form__group')
                    input(id='footerNewsletterFirstName',
                        type='text',
                        class='x-footer-newsletter__form-input x-form__input',
                        name='firstName',
                        placeholder='Nome')

                div(class='x-footer-newsletter__form-group x-form__group')
                    input(id='footerNewsletterEmail',
                        type='text',
                        name='email',
                        class='x-footer-newsletter__form-input x-form__input',
                        placeholder='E-mail')               

                div(class='x-footer-newsletter__form-group x-form__group')
                    input(id='footerNewsletterSubmit',
                        class='x-footer-newsletter__form-submit',
                        type='submit',
                        value='Cadastrar')

            div(class='x-footer-newsletter__loading x-ajax-loader__loading js--footer-newsletter-loading')
                span(class='x-ajax-loader__loading-dot')
                span(class='x-ajax-loader__loading-dot')
                span(class='x-ajax-loader__loading-dot')

            div(class='x-footer-newsletter__success js--footer-newsletter-success')
                <vtex.cmc:newsletterSuccess/>

            div(class='x-footer-newsletter__error js--footer-newsletter-error')
                <vtex.cmc:newsletterError/>
                a(href='#', class='x-footer-newsletter__error-btn js--footer-newsletter-error-btn') Voltar
