
%accordion {
    &__container {
        padding: 0;
    }

    &__title {
        @extend %drop__text;
        border-bottom: 1px solid #E8E8E8;
        @include rem(font-size, 13px);
        @include rem(padding-top, 20px);
        @include rem(padding-bottom, 20px);
        margin: 0;
        text-transform: none;
        letter-spacing: 0;
        height: auto !important;
        cursor: pointer;
    }

    &__content {
        display: none;
        @include rem(padding-top, 8px);
        @include rem(padding-bottom, 8px);
    }
}
