
%banners-collection {
    &__call-to-action-box {
        position: absolute;
        left: 50%;
        @include rem(bottom, -16px);
        transform: translateX(-49%);
        background-color: $color-white;
        @include rem(padding, 16px 42px);
        text-align: center;

        @include headings {
            color: $color-black;
            font-family: $font-support;
            font-style: italic;
            @include rem(font-size, 48px);
        }
    }

    &__link {
        color: $color-black;
        @include rem(font-size, 11px);
        @include font-weight(black);
        @include rem(padding-bottom, 12px);
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        @include prevent-rendering;

        &:before {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $color-black;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }

        @include mq('sm', max) {
            color: $color-white;

            &:before {
                background-color: $color-white;
            }
        }
    }

    &__title {
        @include headings {
            color: $color-black;
            font-family: $font-fortunates;
            @include rem(font-size, 68px);
        }

        @include mq('sm', max) {
            @include headings {
                color: $color-white;
                @include rem(font-size, 54px);
            }
        }
    }
}
