
%btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    color: $color-white;
    @include rem(padding-left, 32px);
    @include rem(padding-right, 32px);
    @include rem(font-size, 11px);
    @include font-weight(light);
    @include rem(height, 32px);
    letter-spacing: 1px;

    &--reset {
        @include reset-button;
    }

    &--primary,
    &--secondary,
    &--white,
    &--black,
    &--black-fill,
    &--white-fill {
        @extend %btn;
    }

    &--primary {
        background-color: $color-primary;

        &:hover {
            border-color: lighten($color-primary, 10%);
            background-color: lighten($color-primary, 25%);
        }
    }

    &--secondary {
        border: 1px solid $color-secondary;
        color: $color-secondary;

        &:hover {
            background-color: darken($color-secondary, 10%);
            color: $color-white;
        }
    }

    &--white {
        color: $color-white;
        border-color: $color-white;

        &:hover {
            color: $color-black;
            background-color: $color-white;
        }
    }

    &--black {
        color: $color-white;
        background-color: $color-black;
        border-color: $color-black;

        &:hover {
            border-color: lighten($color-black, 10%);
            background-color: lighten($color-black, 25%);
        }
    }

    &--black-fill {
        color: $color-black;
        border-color: $color-black;

        &:hover {
            color: $color-black;
            background-color: $color-white;
        }
    }

    &--white-fill {
        color: $color-black;
        border-color: $color-black;
        background-color: $color-white;

        &:hover {
            color: $color-white;
            background-color: $color-black;
        }
    }
}
