
%drop {
    &__text {
        display: flex;
        align-items: center;
        @include rem(font-size, 12px);
        @include rem(padding-left, 8px);
        @include rem(height, 32px);
        position: relative;

        &:after {
            @include arrow-generate(down, 8px, 2px);
            border-color: #9B9B9B;
            @include rem(font-size, 6px);
            position: absolute;
            top: 50%;
            @include rem(right, 8px);            
            transition: transform .3s;
            will-change: transform;
        }

        &.is--active {
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
