
%link-hover {
    @include mq('sm') {
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: $color-black;
            position: absolute;
            left: 0;
            will-change: transform;
            transition: all .225s $decelerate-ease;
            transform: scale(0);
        }

        &.is--active:after,
        &:hover:after {            
            transition: all .225s $accelerate-ease;
            transform: scale(1);
        }
    }
}
