
%newsletter {
    &__title {
        @include rem(font-size, 15px);
        @include font-weight(semi-bold);
        text-transform: unset;
    }

    &__form-group {
        align-items: center;
        width: 100%;
    }

    &__checkbox-text {
        color: $color-gray-dark;
        @include rem(max-width, 168px);
    }

    &__form-submit {
        @include flex-centered;
        width: 100%;
        @extend %btn--black;
        @include rem(font-size, 14px);
        color: $color-gray-light;
    }

    &__loading {
        display: none;

        &.is--active {
            @include flex-centered;
        }
    }

    &__messages-format {
        display: none;
        text-align: center;

        h2 {
            display: block;
            font-family: $font-support;
            line-height: 1;
        }

        p {
            display: block;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include rem(padding-top, 5px);
        }

        &.is--active {
            @include flex-centered;
            flex-direction: column;
        }
    }

    &__error {
        h2 {
            @include rem(font-size, 32px);
        }

        p {
            @include rem(font-size, 10px);
        }
    }

    &__error-btn {
        @extend %btn--primary;
        @include rem(margin-top, 12px);
    }

    &__success {
        h2 {
            @include rem(font-size, 48px);
        }

        p {
            @include rem(font-size, 12px);
        }
    }
}
