
%off-canvas {
    background-color: rgba(#efeae3, .9);
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    @include rem(max-width, $off-canvas-max-width);
    overflow-y: auto;
    z-index: z('off-canvas');

    &.is--active {
        will-change: transform;
    }
}
