
%page-content {
    &__container {
        @include container;

        @include mq('sm') {
            display: flex;
            @include rem(padding-top, 42px);
            @include rem(padding-bottom, 42px);
        }

        @include mq('sm', max) {
            @include rem(padding-top, 16px);
            @include rem(padding-bottom, 32px);
        }
    }

    &__left {
        .x-breadcrumb {
            ul {
                justify-content: flex-start;
            }
        }

        @include mq('sm') {
            @include rem(max-width, 296px);
            @include rem(padding-right, 16px);
            width: 100%;
        }
    }

    &__left-title {
        @include rem(font-size, 24px);
        @include font-weight(black);
        @include rem(margin-bottom, 24px);

        @include mq('sm', max) {
            @include rem(font-size, 20px);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
        }
    }

    &__right {
        flex: 1;
    }

    &__content {
        position: relative;
    }

    &__formats {
        @include rem(font-size, 14px);
        @include font-weight(light);
        line-height: 2;


        @include headings {
            @include font-weight(light);
            line-height: 1;

            @include mq('sm') {
                @include rem(padding-bottom, 12px);
            }
        }

        h1 {
            @include rem(font-size, 24px);
            @include rem(margin-bottom, 24px);
        }

        h2 {
            @include rem(font-size, 42px);
            @include rem(margin-bottom, 28px);
            text-align: center;
        }

        h3 {
            @include rem(font-size, 21px);
            @include rem(margin-bottom, 0px);
        }

        h4 {
            @include rem(font-size, 14px);
            @include rem(margin-bottom, 14px);
            @include font-weight(semi-bold);
            letter-spacing: .5px;
        }

        h5 {
            @include rem(font-size, 14px);
            @include rem(margin-bottom, 12px);
        }

        h6 {
            @include rem(font-size, 12px);
            @include rem(margin-bottom, 12px);
        }

        p {
            @include rem(margin-bottom, 24px);
        }

        p a,
        a {
            color: $color-black;
            text-decoration: underline;

            &:hover {
                @include link-hover($color-black);
            }
        }

        ol,
        ul {
            @include rem(padding-left, 32px);
            @include rem(margin-bottom, 24px);
        }

        ul {
            list-style: circle;
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        blockquote {
            border-left: 4px solid $color-black;
            border-bottom: 1px solid $color-black;
            @include rem(margin-bottom, 16px);
            @include rem(padding, 12px);
        }

        .vve-video__container {
            position: relative;
            padding-bottom: 56.25%;
            @include rem(padding-top, 30px);
            height: 0;
            overflow: hidden;

            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__accordion {
        .vve-accordion {
            &__container {
                @extend %accordion__container;
            }

            &__title {
                @extend %accordion__title;
            }

            &__content {
                @extend %accordion__content;
            }
        }
    }
}
