
%common__light-style {
    display: inline-block;
    @include rem(font-size, 11px);
    @include rem(margin-right, 14px);
    text-decoration: none;
    position: relative;
    @include prevent-rendering;
}

%price-style {
    &__old-price {
        @extend %common__light-style;
        color: #666666;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        @include rem (margin-top, 10px);
        @include rem (font-size, 13px);
        @include rem (height, 20px);
        @include rem (line-height, 20px);

        &:before {
            // content: '';
            background-color: $color-grat-dark-2;
            width: 105%;
            height: 1px;
            position: absolute;
            left: 0;
            @include rem(top, 4px);
        }
    }

    &__best-price {
        @include rem(font-size, 20px);
        font-weight: 900;
        color: $color-purple;
        letter-spacing: 1px;
        display: block;
        font-family: $font-main;
        text-transform: uppercase;
        
        .x-a-vista {
            @include rem(font-size, 13px);
            font-family: $font-main;
            font-weight: bold;
            color: #00B7D8;
            text-transform: uppercase;
        }
    }

    &__installments {
        @extend %common__light-style;
        margin-right: 0;
    }
}
