
%qty-selector {
    &__wrapper {
        @include flex-centered;
        @include rem(margin-top, 3px);
        @include rem(margin-bottom, 3px);
        border: 1px solid $color-black;
    }

    &__val {
        @include rem(font-size, 12px);
        width: 3ch;
        text-align: center;
        @include font-weight(regular);
    }

    &__btn {
        @include flex-centered;
        @include rem(height, 27px);
        @include rem(width, 27px);
        
        position: absolute;
        right: 0;
        padding: 17px 15px;

        &:before {
            
            @include font-weight(light);
            line-height: 1;
            height: auto;
            display: block;
        }

        &.has--minus {
            bottom: 0;
            background: url('/arquivos/btn-minus.png') no-repeat;
            background-size: 14px 8px;
            background-position: center center;
            width: 14px;
            height: 8px;
            display: block;
        }

        &.has--plus {
            top: 0;
            background: url('/arquivos/btn-plus.png') no-repeat;
            background-size: 14px 8px;
            background-position: center center;
            width: 14px;
            height: 8px;
            display: block;
        }
    }
}
