
%scroll-style {
    .mCSB_scrollTools {
        opacity: 1 !important;
    }

    .mCSB_draggerRail {
        @include rem(width, 7px !important);
        background-color: $color-white !important;
    }

    .mCSB_dragger_bar {
        background-color: $color-black !important;
        @include rem(margin, 0 5px !important);
        @include rem(width, 7px !important);
        @include rem(height, 7px !important);
    }
}
