
%shelves-container {
    &.x-shelf,
    .x-shelf {
        ul {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            &.has--shelf-loader {
                opacity: .5;
                transition: all .3s ease;
            }
        }
    }

    &[data-col='1'] {
        &.x-shelf,
        .x-shelf {
            li {
                &:not(.is--shelf-item-preload) {
                    width: 100%;
                }
            }
        }
    }

    &[data-col='2'] {
        &.x-shelf,
        .x-shelf {
            li {
                &:not(.is--shelf-item-preload) {
                    width: 48.5%;
                    width: calc(50% - 8px);
                    @include rem(margin, 16px 16px 16px 0);

                    @include mq('sm', max) {
                        margin-top: 0;
                    }

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &[data-col='3'] {
        &.x-shelf,
        .x-shelf {
            li {
                &:not(.is--shelf-item-preload) {
                    width: 31%;
                    width: calc(33.33% - 8px);
                    @include rem(margin, 12px 12px 12px 0);

                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &[data-col='4'] {
        &.x-shelf,
        .x-shelf {
            ul {
                justify-content: flex-start;
            }

            li {
                &:not(.is--shelf-item-preload) {
                    width: 22.5%;
                    width: calc(25% - 6px);
                    @include rem(margin, 8px 8px 8px 0);

                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
