
%sidebar-menu {
        &__items {
        @include mq('sm') {
            @include rem(padding, 44px 28px 0px 23px);
            background-color: #F2F2F2;
            @include rem(height, 703px)
        }

        @include mq('sm', max) {
            // border: 1px solid #F2F2F2;
            background-color: #F2F2F2;
            @include rem(margin-bottom, 32px);
        }
    }

    &__item {
        color: $color-black;
        text-transform: uppercase;
        @include rem(font-size, 11px);
        @include font-weight(light);
        letter-spacing: 1.5px;

        &.is--active {
            @include mq('sm') {
                @include font-weight(bold);
            }

            @include mq('sm', max) {
                @include flex-centered;
                justify-content: flex-start;


                &:after {
                    @include arrow-generate(down, 8px, 1px);
                    border-color: $color-black;
                    @include rem(margin-right, 12px);
                    transition: all .3s;
                    position: absolute;
                    @include rem(top, 15px);
                    right: 0;
                }

                &.is--rotate {
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        @include mq('sm', max) {
            @include rem(margin-bottom, 6px);
            display: none;
            position: relative;
            padding-left: 40px;
            width: 100%;
        }
    }

    &__link {
        @include rem(margin-top, 7px);
        @include rem(margin-bottom, 7px);
        @include rem(padding-top, 6px);
        @include rem(padding-bottom, 6px);
        display: inline-block;

        @extend %link-hover;

        @include mq('sm', max) {
            display: block;
            @include link-hover($color-black);
            @include rem(padding-bottom, 2px);
            text-align: left;
            width: 100%;
        }
    }
}
