
%slick-arrows {
    .slick-arrow {
        border: 2px solid $color-gray;
        border-radius: 50%;
        top: 40%;
        @include rem(height, 48px);
        @include rem(width, 48px);

        @include mq('sm', max) {
            border-width: 1px;
            top: 35%;
            @include rem(height, 32px);
            @include rem(width, 32px);
        }

        &:before {
            @extend %iconfont;
            @include rem(font-size, 16px);
            color: $color-black;

            @include mq('sm', max) {
                @include rem(font-size, 12px);
            }
        }
    }

    .slick-prev {
        @include rem(left, -12px);

        &:before {
            content: '\EA03';
        }
    }

    .slick-next {
        @include rem(right, -14px);

        &:before {
            content: '\EA04';
        }
    }
}
