
%tabs {
    &__links {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-black;
        background-color: #fafafa;
        @include rem(padding, 1.5px 35px 0)
    }

    &__link {
        @include rem(font-size, 11px);
        @include rem(letter-spacing, 1.5px);
        @include mq('sm', max) {
            @include rem(font-size, 16px);
        }
        &:nth-child(2) {
            text-align: center;
        }

        &.is--active {
            .x-product__description-tabs-link-wrapper {
                z-index: 999;
                @include font-weight(bold);
                position: relative;

                &:after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: #000;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                }  
            }            
        }
    }

    &__content-item {
        @include rem(font-size, 14px);
        @include font-weight(light);
        @include rem(padding-top, 20.5px);
        @include rem(padding-bottom, 12px);
        display: none;
        line-height: 1;
        @include mq('sm', max) {
            @include rem(font-size, 15px);
        }

        &.is--active {
            display: block;
        }
    }
}
