
.x-footer-newsletter {
    background: #E6E6E6;
    &__container {
        @include mq('sm') {
            $local-width: ((806 / 1280) * 100%);
            display: flex;
            flex-direction: row;
            align-items: center;
            @include rem(padding-top, 29px);
            @include rem(padding-bottom, 29px);
            @include rem(padding-left, 45px);
            @include rem(padding-right, 45px);
            margin: 0 auto;
            width: 100%;
        }

        @include mq('sm', max) {
            @include rem(padding-top, 26px);
            @include rem(padding-bottom, 26px);
            @include rem(padding-left, 26px);
            @include rem(padding-right, 26px);
        }
    }

    &__title-container {
        @include mq('sm') {
            width: 45%;
        }

        @include mq('sm', max) {
            @include flex-centered;
            flex-direction: column;
            @include rem(margin-top, 16px);
            @include rem(margin-bottom, 16px);
        }
    }

    &__title-icon {
        @include mq('sm', max) {
            @include rem(margin-bottom, 24px);
        }
    }

    &__title {
        text-align: center;
        font-size: 16px;
        color: #5C5C5C;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;

        @include mq('sm', max) {
            @include headings {
                @include rem(font-size, 32px);
                font-family: $font-support;
                text-transform: none;
                letter-spacing: 0;
            }
        }
        
        strong {
            color: #662C62;
            @include mq('sm', max) {
                display: block;
            }
        }
    }

    &__content {
        width: 55%;

        @include mq('sm', max) {
            width: 100%;
        }

        .js--footer-newsletter-form:not(.is--active) {
            display: none;
        }

    }

    &__form {
        @include mq('sm') {
            display: flex;
            justify-content: space-between;
        }

        &:not(.is--active) {
            display: none;
        }
    }

    &__form-group {
        @extend %newsletter__form-group;


        @include mq('sm') {
            @include rem(margin-right, 20px);
        }

        &:nth-child(3) {
            label.error {
                left: 0;
            }
        }

        &:last-child {
            @include mq('sm') {
                @include rem(max-width, 158px);
            }
        }

        @include mq('sm', max) {
            @include rem(margin-bottom, 16px);

            input.x-footer-newsletter__form-submit {
                width: auto;
                margin: 0 auto;
            }
        }
    }

    &__checkbox-text {
        @extend %newsletter__checkbox-text;
    }

    &__form-input,
    &__form-submit {
        @include rem(min-height, 42px !important);
    }

    &__form-submit {
        @extend %newsletter__form-submit;
        height: 37px;
        min-height: inherit !important;
        padding: 0 2rem;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background-color: #662C62;
        border-color: #662C62;
        border-radius: 18px;
    }

    &__form-input {
        color: #A7A7A7 !important;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: bold;
        background-color: $color-white;
        border: none !important;
        border-radius: 5px;
        @include placeholder(#A7A7A7 !important, 1);
        
        @include mq('sm', max) {
            border-color: $color-white !important;
            @include rem(min-height, 48px !important);
        }
        
    }

    &__loading {
        @extend %newsletter__loading;
    }

    &__error {
        @extend %newsletter__messages-format;
        @extend %newsletter__error;
    }

    &__error-btn {
        @extend %newsletter__error-btn;
        text-transform: unset;
        background-color: #662C62;
        border-color: #662C62;
        border-radius: 18px;
        height: 37px;
        padding: 0 2rem;
        min-height: inherit !important;
    }

    &__success {
        @extend %newsletter__messages-format;
        @extend %newsletter__success;
    }
}
