include ./../../../common/_mixins/_mixin__header-search.pug

div(class='x-search')
    //- Mixin Header Search
    +headerSearch(true)

ul(class='x-utilities')
    block items

        li(class='x-utilities__item')
            a(class='js--login', href='/account', title='Login')
                img(src='/arquivos/icon-login.png')/

        li(class='x-utilities__item')
            a(href='/account/wishlist', title='Wishlist')
                img(src='/arquivos/icon-wishlist.png')/

        li(class='x-utilities__item')
            a(href='/checkout')
                div(class='is--hide x-minicart js--minicart')
                    div(class='x-minicart__amount-wrapper', rv-show='cart.itemCount | gt 0')
                        span(class='x-minicart__amount', data-minicart-amount='')

                button(class='x-minicart js--minicart-open', title='Minha sacola')
                    img(src='/arquivos/icon-mini_cart.png')/
                    span(class='x-minicart__amount', data-minicart-amount='0')