div(class='x-banner')
    img(class='x-banner__img' src='/arquivos/app-imgbanner.png')/
    div(class='size_title')
        p(class='x-banner__title') Seu negócio na palma da mão
        button(class='x-banner__btn')
            a(href="#x-youtube") Conheça o app GetNet

div(class='x-container')
    p(class='x-container__title') Controle suas vendas com a
        span(class='color_title')
            |  praticidade getnet
        div(class='x-container__subtitle')
            p Conheça o #[span(class='color_se') app GetNet!] Nele você pode acompanhar as vendas em tempo real, antecipar suas vendas, fazer a gestão de seu negócio, gerar um comprovante de venda digital, pedir bobina e muito mais!

div(class='x-flexslick')
    div(class='x-flexslick__content-type')
        div(class='x-flexslick__slider')

            div(class='x-flexslick__single-item')
                div(class='x-flexslick__wrapper')
                    img(class='x-flexslick__img-container' src='/arquivos/celular-4.png' alt="Digital para sua vida")/
                    div(class='x-flexslick__wrapper2')
                        #{`vtex.cmc:svgLpAppIconClick`}/
                        div(class='x-flexslick__title-single') Digital para sua vida
                        div(class='x-flexslick__subtitle-single') O app Getnet é integrado com sua maquininha para facilitar o acesso às suas informações de venda.
                        
            div(class='x-flexslick__single-item')
                div(class='x-flexslick__wrapper')
                    img(class='x-flexslick__img-container' src='/arquivos/celular-3.png', alt="Antecipe suas vendas em segundos")/
                    div(class='x-flexslick__wrapper2')
                        #{`vtex.cmc:svgLpAppIconMoney`}/
                        div(class='x-flexslick__title-single2') Antecipe suas vendas em segundos
                        div(class='x-flexslick__subtitle-single2') Com apenas três cliques no app, você antecipa suas vendas e recebe o dinheiro na sua conta na hora!
                                    
    
            div(class='x-flexslick_single-item')
                div(class='x-flexslick__wrapper')
                    img(class='x-flexslick__img-container' src='/arquivos/celular-2.png' alt='Acompanhe suas financias em tempo real')/
                    div(class='x-flexslick__wrapper2')
                        #{`vtex.cmc:svgLpAppIconApp`}/
                        div(class='x-flexslick__title-single3') Acompanhe suas financias em tempo real
                        div(class='x-flexslick__subtitle-single3') Confira o detalhamento das suas vendas diárias e mensais, consulte e compartilhe comprovantes e planeje o que você tem para receber.
                        

            div(class='x-flexslick__single-item')
                div(class='x-flexslick__wrapper')
                    img(class='x-flexslick__img-container' src='/arquivos/celular-1.png', alt="Solicite nossos serviços onde e quando você quiser")/
                    div(class='x-flexslick__wrapper2')
                        #{`vtex.cmc:svgLpAppIconClick`}/
                        div(class='x-flexslick__title-single') Solicite nossos serviços onde e quando você quiser
                        div(class='x-flexslick__subtitle-single') No app Getnet, você solicita bobinas e kit de sinalização, pode acessar o comparativo de mercado e ainda conta com apoio técnico na palma da sua mão.


div(class='x-flexslick2')
    div(class='x-flexslick2__content-type')
        div(id='x-flexslick2__theTarget1' class='x-flexslick2__slider')
            div(class='x-flexslick2__single-item')
                div(class='x-flexslick2__wrapper')
                    div(class='x-flexslick2__wrapper2')
                        #{`vtex.cmc:svgLpAppIconClick`}/
                        div(class='x-flexslick2__title-single') Digital para sua vida
                        div(class='x-flexslick2__subtitle-single') O app Getnet é integrado com sua maquininha para facilitar o acesso às suas informações de venda.
                        div(class='x-flexslick2__divider')
                    img(class='x-flexslick2__img-container'  src='/arquivos/celular-4.png' alt="Digital para sua vida")/      
           
            div(class='x-flexslick2__single-item')
                div(class='x-flexslick2__wrapper')
                    div(class='x-flexslick2__wrapper2')
                        #{`vtex.cmc:svgLpAppIconMoney`}/                        
                        div(class='x-flexslick2__title-single2') Antecipe suas vendas em segundos
                        div(class='x-flexslick2__subtitle-single2') Com apenas três cliques no app, você antecipa suas vendas e recebe o dinheiro na sua conta na hora!
                        img( class='x-flexslick2__img-container' src='/arquivos/celular-3.png' alt="Antecipe suas vendas em segundos")/
                   
            div(class='x-flexslick2__single-item')
                div(class='x-flexslick2__wrapper')
                    div(class='x-flexslick2__wrapper2')
                        #{`vtex.cmc:svgLpAppIconApp`}/
                        div(class='x-flexslick2__title-single3') Acompanhe suas financias em tempo real
                        div(class='x-flexslick2__subtitle-single3') Confira o detalhamento das suas vendas diárias e mensais, consulte e compartilhe comprovantes e planeje o que você tem para receber.
                        img(class='x-flexslick2__img-container' src='/arquivos/celular-2.png' alt='Acompanhe suas financias em tempo real')/
                    
            div(class='x-flexslick2__single-item')
                div(class='x-flexslick2__wrapper')
                    div(class='x-flexslick2__wrapper2')
                        #{`vtex.cmc:svgLpAppIconClick`}/
                        div(class='x-flexslick2__title-single') Solicite nossos serviços onde e quando você quiser
                        div(class='x-flexslick2__subtitle-single') No app Getnet, você solicita bobinas e kit de sinalização, pode acessar o comparativo de mercado e ainda conta com apoio técnico na palma da sua mão.
                        img(class='x-flexslick2__img-container' src='/arquivos/celular-1.png', alt="Solicite nossos serviços onde e quando você quiser")/


div(id="x-youtube" class='x-youtube')
    div(class='x-youtube__youtube-2')
        div(class='x-youtube__title') Conheça as funcionalidades e baixe o aplicativo!
        div(class='x-youtube__subtitle' style='margin-bottom: 10px') Tenha o controle dos seus negócios a um toque de distância.            
            div(style='margin-right: 10px')
                a(href='https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR') 
                    include ./../../../../common/custom-elements/svg-icons/google-play.pug
                a(href='https://itunes.apple.com/br/app/getnet/id1024724502?mt=8') 
                    include ./../../../../common/custom-elements/svg-icons/app-store.pug
    div
        div
            iframe(width='100%' height='400' src='https://www.youtube.com/embed/mRn6thgeJYI' frameborder='0' allowfullscreen='allowfullscreen')
       
div(class='x-youtubemq')
    div(class='x-youtubemq__youtube-2')
        div(class='x-youtubemq__title') Conheça as funcionalidades e baixe o aplicativo!
        div
            div(class='x-youtubemq__video-container')
                iframe(width='100%' height='400' src='https://www.youtube.com/embed/mRn6thgeJYI' frameborder='0' allowfullscreen='allowfullscreen')
        div(class='x-youtubemq__subtitle') Tenha o controle dos seus negócios a um toque de distância.
        div(class='x-youtubemq__button')
            a(href="https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR")
                include ./../../../../common/custom-elements/svg-icons/google-play.pug
            a(href="https://itunes.apple.com/br/app/getnet/id1024724502?mt=8")
                include ./../../../../common/custom-elements/svg-icons/app-store.pug
            