
div(class='x-product__img-container', id='productImg')
    div(id='productNavImg', class='x-product__nav-img-container')
        div(class='x-product__nav-img-wrapper', rv-each-img=`app.product.navImages`)
            img(class='x-product__nav-img',
                rv-src=`img.imageUrl | getResizeImageByRatio 'width' 525 1`,
                rv-alt=`app.product.productName`,
                rv-title=`app.product.productName`)/

    div(id='productMainImg', class='x-product__main-img-container')
        div(class='x-product__main-img-wrapper', rv-each-img=`app.product.images`)
            img(class='x-product__main-img',
                rv-src=`img.imageUrl | getResizeImageByRatio 'width' 525 1`,
                rv-alt=`app.product.productName`,
                rv-title=`app.product.productName`)/
