section(class='x-rates')
    div(class='x-rates__center')
        div(class='x-rates__header')
            h2 Receba suas vendas
                strong com taxas imperdíveis
            p Todas suas vendas diretamente na sua conta com flexibilidade na escolha #[br/] do prazo de recebimento
        div(class='x-rates__header-percent')
            div(class='x-rates__header-percent--left')
                h3 2%
                p No
                    strong crédito #[br/]
                    strong à vista
                    |e #[br/]no
                    strong débito
            div(class='x-rates__header-percent--middle')
                h2 Receba já! em até 2 dias úteis na sua conta
                p Mais simplicidade para você vender mais. #[br/] Ficou com dúvidas? Clique aqui e confira melhor as #[br/] taxas aplicadas e as condições dessa oferta.
            div(class='x-rates__header-percent--right')
                h3 Garanta já a sua
                a(href="#x-shelf") PEDIR MÁQUINA
        div(class='x-rates__header-percent--text')
            p Outras opções #[strong de recebimento]
        div(class='x-rates__contents')
            div(class='x-rates__left')
                div(class='x-superget-taxas__credito--titulo')
                    h3 Receba já D+30
                div(class='x-superget-taxas__credito--info-taxas')

                    div(class='x-superget-taxas__credito--column')
                        div(class='x-superget-taxas__info')
                            #{`vtex.cmc:iconeDinheiro`}/
                            h4  Débito
                            p  receba em #[strong 1 dia]

                            p(class='x-superget-taxas__valores') À vista
                                strong(class="x-discount") 2,00%

                    div(class='x-superget-taxas__credito--column')
                        div(class='x-superget-taxas__info')
                            #{`vtex.cmc:iconeCartao`}/
                            h4  Crédito
                            P receba em #[strong 30 dia]

                        div(class="x-superget-taxas")
                            p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                            p(class='x-superget-taxas__valores x-border') parcelado #[strong 3,79%]
                                span(class='x-discount') +2,99% por parcela


            div(class='x-rates__right')
                div(class='x-superget-taxas__credito--titulo')
                    h3 Receba conforme suas vendas
                div(class='x-superget-taxas__credito--info-taxas')

                    div(class='x-superget-taxas__credito--column')
                        div(class='x-superget-taxas__info')
                            #{`vtex.cmc:iconeDinheiro`}/
                            h4 Débito
                            p receba em #[strong 1 dia]

                            p(class='x-superget-taxas__valores') À vista
                                strong(class="x-discount") 1,95%

                    div(class='x-superget-taxas__credito--column')
                        div(class='x-superget-taxas__info')
                            #{`vtex.cmc:iconeCartao`}/
                            h4  Crédito
                            p  receba em #[strong 30 dia]
                        div(class="x-superget-taxas")
                            p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                            p(class='x-superget-taxas__valores x-border') parcelado #[strong 6,40%]
                                span(class='x-discount') +2,99% por parcela