section(class='x-superdigital')
    div(class='x-superdigital__center')
        div(class='x-superdigital__contents')
            div(class='x-superdigital__item')
                <vtex:contentPlaceHolder id="Banner SuperDigital" />
            div(class='x-superdigital__item')
                <vtex:contentPlaceHolder id="Texto SuperDigital" />
        div(class='x-superdigital__advantages')
            header(class='x-superdigital__advantages--header')
                h3
                    | Conheça as vantagens
                    strong de ter uma superdigital
            ul(class='x-superdigital__advantages--list')
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgrecebimentos`}/
                    p
                        | Recebimento das vendas da sua
                        strong SuperGet
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgpagamentos`}/
                    p Pagamento de contas no site ou aplicativo
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgrecarga`}/
                    p Recarga de Celular
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgcartinternacional`}/
                    p Compras como cartão pré-pago internacional
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgbilheteunico`}/
                    p Recarga de Bilhete Único (apenas para cidade de São Paulo)
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgsaque`}/
                    p
                        | Saque nos caixas eletrônicos
                        strong Santander
                        |  e
                        strong Banco 24 horas
            div(class='x-superdigital__advantages--cta')
                a(class='x-button', href='/superdigital') Saiba Mais