section(class='x-testimonials')
    div(class='x-testimonials__center')
        div(class='x-testimonials__header')
            h2
                | Conheça quem escolheu
                strong crescer com SuperGet
        div(class='x-testimonials__contents')
            ul(class='x-testimonials__items')
                <vtex:contentPlaceHolder id="Depoimentos"/>