        .x-checkout-bar {
            width: 100%;
            display: flex;
            flex-direction: row;
            color: white;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }

        .x-barbox {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 325px;
            height: 56px;
            border-radius: 28px;
        }

        .x-barbox.first {
            background-color: #B30800;
            z-index: 10;
            line-height: 14px;
            margin-top: 0px
        }

        .x-checkout-bar-text-porcentagem {
            font-size: 26px;
            font-weight: 600;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            margin-right: 10px;
        }

        .x-barbox.first>div {
            display: flex;
            flex-direction: column;
        }

        .x-checkout-bar-text-bold {
            font-weight: bold;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .x-checkout-bar-text-small {
            font-weight: bold;
            font-size: 8px;
        }

        .x-checkout-bar-text {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
        }

        .x-barbox.second {
            background-color: #C90A01;
            margin-left: -45px;
            z-index: 9;
        }

        .x-barbox.second .x-checkout-bar-image {
            margin-right: -35px;
        }

        .x-barbox.second .x-checkout-bar-image path {
            fill: white;
            width: 38px !important;
            margin-right: 0px;
            height: auto;
        }

        .x-barbox.second :last-child {
            width: 95px;
        }

        .x-barbox.third {
            background-color: #E81006;
            margin-left: -45px;
            z-index: 8;
        }

        .x-barbox.third .x-checkout-bar-image svg {
            fill: white;
            width: 30px !important;
            margin-right: 10px;
            height: auto;
        }

        .x-barbox.third :last-child {
            width: 65px;
        }

        .x-barbox.fourty {
            background-color: #FF0B00;
            margin-left: -45px;
        }

        .x-barbox.fourty .x-checkout-bar-image svg {
            fill: white;
            width: 24px !important;
            margin-right: 8px;
            height: auto;
        }

        .x-barbox.fourty :last-child {
            width: 140px;
        }

        @media only screen and (max-width: 765px) {
            .x-barbox {
                margin: 0 auto;
                flex-direction: column;
            }
            .x-barbox {
                width: 302px;
                min-width: 50px;
                height: 75px;
                border-radius: 33px;
            }
            .x-barbox.first {
                width: 75%;
            }
            .x-checkout-bar-text,
            .x-checkout-bar-image {
                margin-left: 25px;
            }
            .x-checkout-bar-text-porcentagem {
                font-size: 22px;
                margin: 2px auto;
            }
            .x-checkout-bar-text-bold {
                font-size: 8px;
                margin: 5px 0 -3px;
            }
            .x-checkout-bar-text-small {
                font-size: 5.5px;
            }
            .x-checkout-bar-text {
                font-size: 8px;
                line-height: 12px;
            }
            .x-barbox.second .x-checkout-bar-image svg {
                width: 65px !important;
            }
            .x-barbox.second :last-child {
                width: 62px;
            }
            .x-barbox.third .x-checkout-bar-image svg {
                width: 25px !important;
            }
            .x-barbox.fourty .x-checkout-bar-image svg {
                width: 17px !important;
            }
            .x-barbox.fourty :last-child {
                width: 68px;
            }
        }
