input[type=checkbox] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &+span {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    &+span:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: white;
        box-sizing: border-box;
        border: 2px solid $color-red-light;
    }

    // Box hover
    &:hover+span:before {
        background: $color-red-light;
    }

    // Box checked
    &:checked+span:before {
        background: $color-white;
    }

    // Disabled state span.
    &:disabled+span {
        color: $color-red-light;
        cursor: auto;
    }

    // Disabled box.
    &:disabled+span:before {
        background: $color-white;
    }

    // Checkmark. Could be replaced with an image
    &:checked+span:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        background: red;
        width: 6px;
        height: 6px;
    }
}