@mixin combobox {
    width: 16px;
    height: 16px;

    float: left;

    position: relative;
    top: 0;
    left: 0;

    border: 2px solid red;
    border-radius: 0;

    background: white;

    margin-right: 8px;
}

@mixin check {
    content: '';
    width: 6px;
    height: 6px;
    background-color: red;
    position: absolute;
    top: 3px;
    left: 3px;
}

.choose-shipping-option {
    display: block;
    color: #ababab;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
}

.delivery-shipping-options .sla-items-list.sla-items-list {
    padding-bottom: 0;
}

.icon-circle-blank {
    @include combobox;
}

.icon-circle-blank::before {
    content: '';
}

.icon-ok-circle {
    @include combobox;
}

.icon-ok-circle::before {
    @include check;
}

#creditCardselectedCard0cc-0,
#creditCardselectedCard1cc-0,
#creditCardselectedCard2cc-0,
#creditCardselectedCard3cc-0,
#creditCardselectedCard4cc-0,
#creditCardselectedCard5cc-0 {
    display: flex; 
    display: block; 
    align-items: center;
    justify-content: space-between;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: relative;
    background-color: #f1f1f1;
    border: 2px solid #ff0b00;
    color: #ff0b00;
    height: 16px;
    width: 16px;
    cursor: pointer;
    outline: none;
    margin: 0;
    margin-top: 16px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 12px;
    margin: 16px auto atuo auto;
}

.card-flag.Visa {
    background-image: url($visa-image);
    background-size: contain;
    background-repeat: no-repeat;
    width: 56px;
}

.card-flag-label {
    width: 56px;
}

#creditCardselectedCard0cc-0:checked,
#creditCardselectedCard0cc-1:checked,
#creditCardselectedCard1cc-0:checked,
#creditCardselectedCard2cc-0:checked,
#creditCardselectedCard3cc-0:checked,
#creditCardselectedCard4cc-0:checked,
#creditCardselectedCard5cc-0:checked {
    background-color: white;
}

#creditCardselectedCard0cc-0:checked::before,
#creditCardselectedCard0cc-1:checked::before,
#creditCardselectedCard1cc-0:checked::before,
#creditCardselectedCard2cc-0:checked::before,
#creditCardselectedCard3cc-0:checked::before,
#creditCardselectedCard4cc-0:checked::before,
#creditCardselectedCard5cc-0:checked::before {
   @include check;
}
.card-flag.American,.card-flag.Hipercard,.card-flag.Elo,.card-flag.Mastercard{
    margin-left: 8px;
}

.shipping-option-item.shipping-option-item {
    border: 0;
    background: white;
    box-shadow: none;
    padding: 0;
    padding-bottom: 12px;
    text-shadow: none;
}

.shipping-option-item.shipping-option-item:last-child {
    padding-bottom: 0;
}

.shipping-option-item.focus.focus {
    box-shadow: none;
}
