@charset "UTF-8";
@import './__config-base.scss';
@import './layouts/home/_home-rate.scss';


/* nao substituir esta parte */

.fl-html {
  h1, h2, h3, h4, h5, h6, p, span, a {
    letter-spacing: 0;
  }
}

.x-rates {
  @include mq('sm', max) {
    padding: 35px 0;
  }
}

/* acabada a parte que nao pode substituir */
@font-face {
  font-family: 'KievitOT';
  font-family: "Open Sans", sans-serif;
  src: url("/arquivos/KievitOT-Regular.eot.css");
  src: url("/arquivos/KievitOT-Regular.eot.css") format("embedded-opentype"), url("/arquivos/KievitOT-Regular.ttf.css") format("truetype"), url("/arquivos/KievitOT-Regular.woff.css") format("woff"), url("/arquivos/KievitOT-Regular.svg.css") format("svg");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'KievitOT';
  font-family: "Open Sans", sans-serif;
  src: url("/arquivos/kievit/KievitOT-Bold.eot.css");
  src: url("/arquivos/KievitOT-Bold.eot.css") format("embedded-opentype"), url("/arquivos/KievitOT-Bold.ttf.css") format("truetype"), url("/arquivos/KievitOT-Bold.woff.css") format("woff"), url("/arquivos/KievitOT-Bold.svg.css") format("svg");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'KievitOT';
  font-family: "Open Sans", sans-serif;
  src: url("/arquivos/KievitOT-ExtraLight.eot.css");
  src: url("/arquivos/KievitOT-ExtraLight.eot.css") format("embedded-opentype"), url("/arquivos/KievitOT-ExtraLight.ttf.css") format("truetype"), url("/arquivos/KievitOT-ExtraLight.woff.css") format("woff"), url("/arquivos/KievitOT-ExtraLight.svg.css") format("svg");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'KievitOT';
  font-family: "Open Sans", sans-serif;
  src: url("/arquivos/kievit/KievitOT-Italic.eot.css");
  src: url("/arquivos/KievitOT-Italic.eot.css") format("embedded-opentype"), url("/arquivos/KievitOT-Italic.ttf.css") format("truetype"), url("/arquivos/KievitOT-Italic.woff.css") format("woff"), url("/arquivos/KievitOT-Italic.svg.css") format("svg");
  font-weight: normal;
  font-style: italic;
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    height: auto;
  }
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */

template, [hidden] {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

body > img {
  display: block;
}

* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  font-family: "KievitOT", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-variant-numeric: lining-nums;
  color: #5D5D5D;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
}

.port-u-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

@media all and (min-width: 1280px) {
  .port-u-wrapper {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
  }
}

.port-c-main-header {
  padding: 12px 0 16px;
  display: block;
  position: fixed;
  height: 62px;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  background: linear-gradient(45deg, red 0%, #a30101 100%);
  color: white;
  z-index: 20;
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.port-c-main-header__logo {
  display: block;
  width: 111px;
  height: 30px;
  margin-top: 4px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.port-c-main-header__nav__toggler {
  text-align: center;
  position: absolute;
  top: 12px;
  right: 12px;
}

.port-c-main-header__nav__toggler__icon {
  display: block;
  position: relative;
  margin: 10px auto 0;
  width: 24px;
  height: auto;
}

.port-c-main-header__nav__toggler__text {
  margin-top: 4px;
  display: block;
  line-height: 1;
  font-size: 14px;
}

.port-c-main-header__nav__toggler__text__x, .port-c-main-header__nav__toggler__icon__x {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.port-c-main-header__nav__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 14%;
  right: 0;
  padding: 72px 32px 24px;
  background: white;
  box-shadow: -1px 0 14px 0 rgba(0, 0, 0, 0.5);
  transform: translate3d(110%, 0, 0);
  a {
    color: red;
  }
}

.port-c-main-header__nav__menu__close {
  text-align: center;
  position: absolute;
  top: 16px;
  right: 12px;
  display: block;
  span {
    display: block;
    line-height: 1;
    font-size: 14px;
  }
  .port-c-main-header__nav__menu__close__icon {
    font-weight: 300;
    font-size: 60px;
    line-height: 0.5;
    height: 24px;
  }
}

.port-c-main-header__nav__menu ul {
  position: relative;
  li {
    display: block;
    margin-bottom: 24px;
  }
  a {
    font-size: 20px;
  }
  li.is-active {
    a {
      border-bottom: 2px solid red;
    }
    .port-c-main-header__nav__cta a {
      border: none;
    }
  }
  .port-c-main-header__nav__cta {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    bottom: -72px;
    a {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1;
      display: block;
      width: 100%;
      padding: 8px 18px;
      background: red;
      border-radius: 19px;
      color: white;
    }
  }
}

.animations-enabled .port-c-main-header__nav__menu {
  transition: transform 150ms ease-in;
}

.is-menu-active .port-c-main-header__nav__menu {
  transform: translate3d(0, 0, 0);
  transition: transform 150ms ease-out;
}

@media all and (min-width: 720px) {
  .port-c-main-header {
    padding: 16px 0 0;
  }
  .port-c-main-header__logo {
    width: 121px;
    height: 32px;
    margin-bottom: 10px;
  }
  .port-c-main-header .port-u-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .port-c-main-header__nav__toggler {
    display: none;
  }
  .animations-enabled .port-c-main-header__nav__menu, .is-menu-active .port-c-main-header__nav__menu {
    transform: none;
    transition: none;
  }
  .port-c-main-header__nav__menu {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding: 0;
    background: none;
    box-shadow: none;
    transform: translate3d(0, 0, 0);
    .is-active a {
      border: none;
    }
    a {
      color: white;
    }
  }
  .port-c-main-header__nav__menu__close {
    display: none;
  }
  .port-c-main-header__nav__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    li, .port-c-main-header__nav__cta {
      display: block;
      margin-bottom: 0;
      margin-left: 16px;
      position: relative;
    }
    li {
      &:hover a:after {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &.is-active a {
        &:after {
          content: '';
          display: block;
          height: 4px;
          width: 100%;
          background: white;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
        border-bottom: none;
      }
    }
    .port-c-main-header__nav__cta a, a {
      display: block;
      font-size: 14px;
      text-align: center;
      line-height: 1;
      padding: 0;
      padding-bottom: 16px;
      border: none;
    }
    .port-c-main-header__nav__cta {
      bottom: auto;
      a {
        background: none;
        font-weight: 400;
        text-transform: none;
        display: block;
        width: auto;
        background: none;
        border-radius: 0;
        font-weight: 800;
      }
    }
  }
}

@media all and (min-width: 960px) {
  .port-c-main-header .port-u-wrapper {
    justify-content: space-between;
  }
  .port-c-main-header__nav__menu ul {
    li {
      margin-left: 23px;
    }
    .port-c-main-header__nav__cta {
      margin-left: 23px;
      a {
        font-size: 16px;
        padding: 0 0 18px;
      }
    }
    a {
      font-size: 16px;
      padding: 0 0 18px;
    }
  }
}

@media all and (min-width: 1280px) {
  .port-c-main-header__nav__menu ul {
    li {
      margin-left: 36px;
    }
    .port-c-main-header__nav__cta {
      margin-left: 36px;
      a {
        font-size: 18px;
        padding: 0 0 18px;
      }
    }
    a {
      font-size: 18px;
      padding: 0 0 18px;
    }
  }
}

.port-c-main-footer {
  font-size: 14px;
  color: #E7E7E7;
  overflow: hidden;
}

.port-c-main-footer__sitemap {
  background: #5D5C5D;
  padding: 40px 0;
}

.port-c-main-footer__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.port-c-main-footer__signature {
  margin-bottom: 40px;
  img {
    max-width: 170px;
    width: 100%;
    margin-bottom: 20px;
    opacity: .5;
  }
}

.port-c-main-footer__cta {
  background: #501e50;
  color: white;
  display: block;
  font-weight: normal;
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  padding: 9px 29px;
  border-radius: 25px;
  border: 1px solid #501e50;
  display: block;
  margin: 0 auto;
  transition: .2s ease;
  &:hover {
    background: rgba(80, 30, 80, 0);
    border-color: white;
  }
}

.port-c-main-footer__nav {
  ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding-left: 0;
    margin: 0;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #E7E7E7;
  }
}

.port-c-main-footer__colophon {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #e5e0d1;
  color: #501e50;
  small {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .port-c-main-footer__container {
    flex-flow: row-reverse wrap;
    max-width: 868px;
    margin: auto;
  }
  .port-c-main-footer__signature {
    margin-bottom: 0;
    text-align: center;
    img {
      max-width: 230px;
    }
  }
}

.port-c-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: scale(0, 0);
  transition: all ease 0.5s;
  
}

.port-c-modal.is--active {
  opacity: 1;
  transform: initial;
}

.animations-enabled .port-c-modal {
  transition: opacity 150ms ease;
}

.port-c-modal.port-c-modal--active {
  transform: scale(1, 1);
  opacity: 1;
  transition: opacity 150ms ease;
}

.port-c-modal__container {
  max-width: 1083px;
  max-height: 90vh;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}
.port-c-modal__wrapper {
  position: relative;
  padding-top: 60px;
  min-height: 100px;
  background: white;
  transform: translateY(19px);
 



  
}

.animations-enabled {
  .port-c-modal__wrapper {
    transition: transform 150ms ease;
  }
  .port-c-modal.port-c-modal--active .port-c-modal__wrapper {
    transform: translateY(0);
    transition: transform 150ms ease;
  }
}

.port-c-modal__close {
  font-weight: 300;
  text-decoration: none;
  font-size: 46px;
  line-height: 0.4;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 46px;
  right: 12px;
  color: red;
  opacity: 1;
  transition: opacity 150ms ease;
  &:hover {
    opacity: 0.5;
    transition: opacity 150ms ease;
  }
}

.port-c-modal__content {
  max-height: calc(90vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 105px;
  padding-right: 57px;
  padding-bottom: 112px;
    @media screen and (max-width: 780px) {
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 108px;
  }
}


.port-c-modal__video {
  .port-c-modal__wrapper {
    padding-top: 0;
    background: transparent;
    transform: translateY(0);
  }
  .port-c-modal__content {
    padding: 0;
  }
}

@media all and (min-width: 768px) {
  .port-c-modal__wrapper {
    padding-top: 60spx;
  }
  .port-c-modal__content {
    max-height: calc(90vh - 20px);
  }
}

@media all and (min-width: 990px) {
  .port-c-modal__container {
    margin-left: auto;
    margin-right: auto;
  }
}

.port-c-inicio {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: transparent;
  background-image: url("/arquivos/port-c-inicio-destaque-bg-mobile.jpg");
  background-size: cover;
  z-index: 1;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:before {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(101, 99, 101, 0.5) 58.63%, rgba(1, 1, 1, 0.7) 100%, #46075e 100%);
    opacity: 0.7;
    z-index: 2;
  }
  &:after {
    z-index: 3;
  }
  p {
    margin: 0;
  }
  .port-u-wrapper {
    position: relative;
    z-index: 4;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

.port-c-inicio__img {
  padding-left: 10px;
  padding-right: 10px;
}

img.port-c-inicio__img__desktop {
  display: none;
}

.port-c-inicio__info h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 0.75;
  margin: 0;
  color: red;
  img {
    display: block;
    margin: 0;
    width: 80%;
    height: auto;
  }
}

.port-c-inicio__text {
  display: flex;
  flex-direction: column-reverse;
}

.port-c-inicio__price {
  margin-top: 22px;
}

.port-c-inicio__price__ptag {
  font-variant-numeric: lining-nums;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 0.75;
  strong sup {
    font-size: 12px;
    top: -29px;
  }
  span {
    flex-basis: 45%;
    margin-right: 16px;
    color: black;
    line-height: 1.2;
  }
  strong {
    font-variant-numeric: lining-nums;
    font-size: 50px;
    white-space: nowrap;
    flex-basis: 45%;
    color: red;
  }
  small {
    font-family: 'KievitOT', sans-serif;
    font-size: 28px;
    color: red;
  }
}

.port-c-inicio__price__spot small {
  font-size: 12px;
  color: black;
}

.port-c-inicio__text > p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 12px;
  color: black;
}

.port-c-inicio__cta {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 28px;
  a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    padding: 10px 32px;
    background: red;
    border-radius: 19px;
    color: white;
  }
}

.port-c-inicio__disclaimer small {
  font-size: 12px;
  line-height: 1.2;
  color: #4a4a4a;
}

@media all and (min-width: 720px) {
  .port-c-inicio {
    overflow: hidden;
    background-image: url("/portabilidade/public/images/port-c-inicio/port-c-inicio-destaque-bg-desktop.jpg");
  }
  img {
    &.port-c-inicio__img__mobile {
      display: none;
    }
    &.port-c-inicio__img__desktop {
      display: block;
    }
  }
  .port-c-inicio__data {
    display: flex;
    flex-direction: row-reverse;
  }
  .port-c-inicio__info {
    padding-top: 35px;
    margin-right: 40px;
    flex-basis: 340px;
    h1 img {
      width: 90%;
    }
  }
  .port-c-inicio__img {
    flex-basis: calc(100% - 340px);
    position: relative;
  }
  img.port-c-inicio__img__desktop {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
  }
  .port-c-inicio__text {
    flex-direction: column;
    > p {
      margin-top: 18px;
    }
  }
  .port-c-inicio__price {
    margin-top: 16px;
  }
  .port-c-inicio__cta {
    text-align: left;
  }
  .port-c-inicio__price__ptag {
    strong {
      font-size: 55px;
    }
    small {
      font-size: 35px;
    }
    span {
      flex-basis: 48%;
      padding-top: 4px;
    }
    small:nth-child(2) {
      font-size: 32px;
    }
  }
  .port-c-inicio__disclaimer {
    width: 45%;
  }
}

@media all and (min-width: 960px) {
  .port-c-inicio {
    padding-bottom: 18px;
    overflow: hidden;
  }
  .port-c-inicio__info h1 {
    font-size: 100px;
    img {
      width: 90%;
    }
  }
  .port-c-inicio__data {
    justify-content: space-between;
  }
  .port-c-inicio__info {
    padding-top: 50px;
    margin-right: 40px;
    flex-basis: 418px;
  }
  .port-c-inicio__img {
    flex-basis: calc(100% - 428px);
    padding-top: 100px;
  }
  img.port-c-inicio__img__desktop {
    width: auto;
  }
  .port-c-inicio__text > p {
    font-size: 20px;
    margin-top: 10px;
  }
  .port-c-inicio__price__ptag {
    width: 100%;
    justify-content: space-between;
    > span {
      font-size: 17px;
      padding-top: 21px;
    }
    strong {
      flex-basis: 55%;
      font-size: 80px;
    }
    small {
      &:nth-child(2) {
        font-size: 52px;
      }
      font-size: 54px;
    }
  }
  .port-c-inicio__price__spot small {
    font-size: 14px;
  }
  .port-c-inicio__cta {
    margin-top: 24px;
    margin-bottom: 54px;
    a {
      font-size: 20px;
      padding: 16px 40px;
      border-radius: 30px;
    }
  }
  .port-c-inicio__disclaimer {
    width: 45%;
  }
}

@media all and (min-width: 1200px) {
  .port-c-inicio__img {
    flex-grow: 2;
    padding-top: 40px;
  }
}

.port-c-inicio-v3 {
  position: relative;
  padding-top: 1px;
  padding-bottom: 5px;
  min-height: 420px;
  background-position: top center;
  background-image: url(/arquivos/port-c-inicio-destaque-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.port-c-inicio-v3__info {
  p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0;
    color: #fff;
  }
  h1 {
    color: white;
    font-size: 24px;
    margin-top: 25px;
    line-height: 1.2;
    letter-spacing: -.25px;
    margin-bottom: 10px;
    span {
      display: block;
    }
  }
}

.port-c-inicio-v3__video {
  width: 100%;
  max-width: 530px;
  margin-bottom: 12px;
  h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
  }
}

.port-c-inicio-v3__fluid {
  box-shadow: 0 2px 16px 0 rgba(255, 0, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
  line-height: 0;
  iframe {
    height: 186px;
    width: 100%;
  }
}

.port-c-inicio-v3__info p {
  color: white;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
  br {
    display: none;
  }
}

.port-c-inicio-v3__img {
  padding-left: 10px;
  padding-right: 10px;
}

img.port-c-inicio-v3__img__desktop {
  display: none;
}

p.port-c-inicio-v3__disclaimer {
  padding: 0;
  text-align: left;
  display: block;
  font-size: 9px;
  line-height: 1.1;
  margin-bottom: 0;
  font-weight: 300;
}

.port-c-inicio-v3__disclaimer small {
  font-size: 9px;
  color: white;
}

@media all and (min-width: 768px) {
  .port-c-inicio-v3 {
    background-image: url(/arquivos/port-c-inicio-destaque-bg-desk.jpg);
    min-height: initial;
    padding-bottom: 30px;
  }
  .port-c-inicio-v3__info {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    p br {
      display: block;
    }
  }
  .port-c-inicio-v3__text {
    flex-basis: calc(50% - 13px);
    max-width: calc(50% - 13px);
    h1 {
      margin-top: 0;
      font-weight: 700;
    }
    p {
      margin-bottom: 0;
      line-height: 1.5;
      font-weight: 700;
    }
  }
  .port-c-inicio-v3__video {
    flex-basis: calc(50% - 13px);
    max-width: calc(50% - 13px);
    margin-bottom: 0;
    h3 {
      font-size: 24px;
    }
  }
  p.port-c-inicio-v3__disclaimer {
    font-size: 14px;
    margin-top: 0;
    max-width: 100%;
    line-height: 1.215;
    small {
      font-size: 14px;
    }
  }
}

@media all and (min-width: 960px) {
  .port-c-inicio-v3 .port-u-wrapper {
    height: 100%;
  }
  .port-c-inicio-v3__info {
    padding-top: 115px;
    h1 {
      font-size: 42px;
      letter-spacing: 0;
      margin-top: 0;
    }
    p {
      font-size: 18px;
      letter-spacing: 0;
      font-weight: 300;
    }
  }
  .port-c-inicio-v3__text {
    flex-basis: calc(50% - 42px);
    max-width: calc(50% - 42px);
  }
  .port-c-inicio-v3__video iframe {
    height: 298px;
  }
  .port-c-inicio-v3__info p br {
    display: block;
  }
}

.port-cc-strip {
  text-align: center;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #501e50;
  img {
    width: 100%;
    height: auto;
  }
  > p {
    margin: 0;
    margin-bottom: 16px;
  }
}

.port-cc-strip__img--desktop {
  display: none;
}

@media all and (min-width: 720px) {
  .port-cc-strip {
    font-size: 18px;
  }
  .port-cc-strip__img--mobile {
    display: none;
  }
  .port-cc-strip__img--desktop {
    display: block;
  }
}

@media all and (min-width: 960px) {
  .port-cc-strip .port-u-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    > p {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .port-cc-strip__cards {
    position: relative;
    &:before {
      content: '';
      height: 70px;
      width: 8px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      right: -28px;
      background: #FFF;
      z-index: 2;
    }
    &:after {
      content: '';
      height: 44px;
      width: 1px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -22px;
      right: -28px;
      box-shadow: 0 1px 10px #000;
      z-index: 1;
    }
  }
}

.port-c-vantagens {
  overflow: hidden;
  background: #eeefef;
  color: #501e50;
}

.port-c-vantagens__content > img {
  display: block;
  width: 120%;
  margin-left: -10%;
  margin-top: 28px;
  margin-bottom: 28px;
}

.port-c-vantagens h2 {
  line-height: 1.2;
  margin: 0;
  margin-bottom: 10px;
  color: #5e0080;
}

.port-c-vantagens__content > p {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 36px;
}

.port-c-vantagens__selling-points {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    position: relative;
    padding-top: 35px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 36px;
    flex-basis: 47%;
    background-color: white;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
  }
  img {
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
  }
  p {
    font-size: 12px;
    margin: 0;
  }
}

p.port-c-vantagens__disclaimer {
  text-align: right;
  font-size: 12px;
  color: #5d5c5d;
}

.port-c-vantagens_cta {
  background: #501E50;
  color: #fff;
  line-height: 1;
  font-size: 16px;
  padding: 8px 23px;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #501E50;
  transition: background .2s ease, color .2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0);
    color: #501E50;
  }
}

@media all and (min-width: 768px) {
  .port-c-vantagens__selling-points li {
    flex-basis: 23%;
    margin-right: 2%;
  }
}

@media all and (min-width: 960px) {
  .port-c-vantagens {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -69px;
      right: calc(100vw - 500px);
      height: 800px;
      width: 800px;
      background-color: transparent;
      background-image: url("/portabilidade/public/images/port-c-vantagens/port-c-vantagens-destaque-desktop.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      z-index: 2;
    }
    h2 {
      font-size: 36px;
    }
  }
  .port-c-vantagens__content {
    > img {
      display: none;
    }
    margin-left: calc(100% - 640px);
    width: 640px;
    position: relative;
    z-index: 3;
  }
  .port-c-vantagens__selling-points {
    justify-content: flex-start;
    li {
      flex-basis: calc(33.333% - 16px);
      margin-right: 24px;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
  p.port-c-vantagens__disclaimer {
    text-align: left;
    margin: 0;
  }
}

@media all and (min-width: 1280px) {
  .port-c-vantagens {
    padding-top: 70px;
    padding-bottom: 70px;
    &:before {
      top: -110px;
      right: calc(100vw - 550px);
    }
    h2 {
      span {
        font-size: 34px;
      }
      strong {
        font-size: 46px;
      }
    }
  }
}

@media all and (min-width: 1330px) {
  .port-c-vantagens:before {
    right: calc(100vw - 514px);
  }
}

@media all and (min-width: 1500px) {
  .port-c-vantagens:before {
    top: -105px;
    right: calc(100vw - 610px);
  }
}

.port-c-escolha {
  padding-top: 60px;
  padding-bottom: 80px;
  background: linear-gradient(133.46deg, #cd3a1f 0%, #5e304a 62.75%, #35224c 100%);
  h1 {
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    margin: 0;
    margin-bottom: 8px;
    color: white;
    &:before {
      content: '';
      position: absolute;
      top: 20px;
      right: calc(100% + 40px);
      width: 135px;
      height: 45px;
      background-image: url("/portabilidade/public/images/port-c-escolha/port-c-escolha-grafismo-titulo.png");
    }
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 60px;
    color: white;
  }
}

.port-c-escolha__items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-left: -5.5%;
}

.port-c-escolha__item {
  display: block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 110px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  background: white;
  border-radius: 30px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
  &:not(:first-of-type) {
    margin-top: -50px;
  }
}

.port-c-escolha__item__mosts {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 20px;
  right: 0;
  padding-left: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  background: linear-gradient(135deg, #fbb33f 0%, #e42299 100%);
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: white;
  strong {
    display: block;
  }
}

.port-c-escolha__item > {
  img {
    display: block;
    width: 118px;
    height: auto;
    position: absolute;
    top: -22px;
    left: -2px;
  }
  h3 {
    width: calc(100% - 118px);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    margin-left: 118px;
    margin-bottom: 10px;
    color: red;
    strong {
      font-size: 38px;
      display: block;
      text-transform: none;
      letter-spacing: -1.4px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 17px;
    li {
      font-size: 18px;
      position: relative;
      display: block;
      padding-left: 0;
      margin-bottom: 14px;
      color: #282828;
      display: flex;
      flex-wrap: row wrap;
      align-items: center;
      justify-content: left;
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 9px;
    }
    p {
      margin: 0;
      line-height: 1.22;
    }
  }
}

.port-c-escolha__item__price {
  margin-left: 118px;
  margin-bottom: 23px;
  > div {
    width: min-content;
    margin: 0;
  }
  sup {
    top: -20px;
    font-size: 16px;
  }
}

.port-c-escolha__item__price__offer {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  color: #501e50;
}

.port-c-escolha__item__price__crossed {
  text-decoration: line-through;
  font-size: 14px;
  display: inline-block;
  color: #686868;
}

.port-c-escolha__item__price__currentp {
  display: inline-flex;
  color: #501e50;
}

.port-c-escolha__item__price__prefix {
  font-size: 16px;
  padding-top: 8px;
  margin-right: 2px;
  strong {
    font-size: 20px;
    display: block;
  }
}

.port-c-escolha__item__price__value {
  white-space: nowrap;
  font-variant-numeric: lining-nums;
  font-weight: 800;
  font-size: 44px;
  letter-spacing: -2px;
}

.port-c-escolha__item__price__or {
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: max-content;
  color: #501e50;
}

.port-c-escolha__item__cta {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  display: block;
  padding: 13px 0;
  border: 1px solid red;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 14px;
  background: red;
  border-radius: 25px;
  color: white;
  transition: all .2s ease-out;
  &:hover {
    background: white;
    color: red;
  }
}

.port-c-escolha__item__read-more {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  color: #501e50;
  position: relative;
  z-index: 10;
  clear: both;
}

.port-c-escolha__item__infos {
  opacity: 0;
  max-height: 0;
  transition: max-height .3s ease-out, opacity .5s ease-in;
  float: left;
  &.is-open {
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 1;
    max-height: 600px;
  }
  h4 {
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -1px;
    color: red;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    color: #282828;
    font-size: 18px;
    line-height: 1.45;
  }
  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }
}

.port-c-escolha__item__infos__stores {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 7px;
    &:last-of-type {
      margin-left: 7px;
      margin-right: 0;
    }
  }
}

.port-c-escolha__item__disclaimer {
  text-align: center;
  font-size: 12px;
  margin: 0;
  color: #501e50;
  small {
    text-align: center;
    font-size: 12px;
    margin: 0;
    color: #501e50;
  }
}

.port-c-escolha__disclaimer {
  text-align: right;
  font-size: 12px;
  margin: 0;
  margin-top: 14px;
  color: #d7d7d7;
  small {
    text-align: right;
    font-size: 12px;
    margin: 0;
    margin-top: 14px;
    color: #d7d7d7;
  }
}

.port-c-escolha__item__price__pre-or {
  font-size: 16px;
  display: block;
  margin: 5px 0 0;
  color: #501e50;
}

.port-c-escolha__item {
  .port-c-escolha__highlight-info {
    padding: 18px 10px 16px;
    margin: -5px -20px -5px -8px;
    border: 2px solid #FF0000;
    position: relative;
    min-height: 90px;
    p {
      font-size: 14px;
      line-height: 16px;
      margin-left: 56px;
    }
  }
  .port-c-escolha__highlight-red-text {
    text-transform: uppercase;
    line-height: 14px;
    font-weight: normal;
    width: 70px;
    color: #FF0000;
    position: absolute;
    background: #fff;
    margin-left: -26px;
    padding: 5px 0;
    top: 0;
    margin-top: 9px;
  }
  .port-c-escolha__highlight-big {
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    display: block;
  }
  .port-c-escolha__highlight-medium {
    font-size: 12px;
    line-height: 12px;
  }
}

.port-c-escolha__gostou {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin-top: 60px;
  padding: 0 10px;
  margin-bottom: 0;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .port-c-escolha__items {
    width: 100%;
    margin-left: 0;
  }
  .port-c-escolha__item {
    padding-left: 25px;
    padding-right: 25px;
    > {
      img {
        width: 25%;
        top: -52px;
        left: 0;
      }
      h3, ul {
        width: 33.333%;
      }
    }
  }
  .port-c-escolha__item__price, .port-c-escolha__item__cta {
    width: 33.333%;
  }
  .port-c-escolha__item > {
    h3, ul {
      margin-left: calc(25% + 8px);
    }
    h3 {
      margin-bottom: 30px;
      font-size: 20px;
      strong {
        font-size: 42px;
      }
    }
  }
  .port-c-escolha__item__price {
    margin-top: -22px;
    margin-left: unset;
    float: right;
    > div {
      margin: 0 auto;
    }
  }
  .port-c-escolha__item__price__or {
    float: right;
  }
  .port-c-escolha__item__cta {
    display: inline-block;
    position: absolute;
    max-width: calc(33.333% - 40px);
    top: 170px;
    right: 20px;
  }
}

@media all and (min-width: 960px) {
  .port-c-escolha {
    padding-top: 80px;
    padding-bottom: 150px;
    h1 {
      font-size: 48px;
      margin-bottom: 8px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 71px;
    }
  }
  .port-c-escolha__item__mosts {
    font-size: 17px;
    text-align: right;
    top: 25px;
    right: -1px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
  }
  .port-c-escolha__item {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    > {
      img {
        top: -46px;
        left: unset;
        width: 230px;
      }
      h3, ul {
        margin-left: 238px;
      }
      h3 strong {
        font-size: 52px;
      }
    }
  }
  .port-c-escolha__item__price__value {
    font-size: 52px;
  }
  .port-c-escolha__item__infos {
    display: flex;
    justify-content: space-between;
    &.is-open {
      margin-top: 72px;
      max-height: 300px;
    }
    h4 {
      margin-top: 0;
    }
  }
  .port-c-escolha__item__infos__extra img {
    margin-bottom: 40px;
    margin-bottom: 40px;
  }
  .port-c-escolha__item__infos div {
    flex-basis: calc(50% - 22px);
  }
  .port-c-escolha__item__infos__stores {
    text-align: left;
  }
  .port-c-escolha__item__cta {
    right: 50px;
    top: 200px;
  }
  .port-c-escolha__item__read-more {
    margin-top: 44px;
  }
}

@media all and (min-width: 1280px) {
  .port-c-escolha__item {
    padding: 40px 110px 130px;
    &:last-of-type {
      padding-bottom: 70px;
    }
    > {
      img {
        left: 80px;
      }
      h3, ul {
        width: calc(50% - 125px);
      }
    }
  }
  .port-c-escolha__item__price, .port-c-escolha__item__cta {
    width: calc(50% - 125px);
  }
  .port-c-escolha__item > {
    h3, ul {
      margin-left: 223px;
    }
    h3 {
      margin-bottom: 26px;
      font-size: 24px;
      strong {
        font-size: 60px;
      }
    }
  }
  .port-c-escolha__item__price {
    margin-top: -38px;
  }
  .port-c-escolha__item__price__currentp {
    line-height: 1;
  }
  .port-c-escolha__item__price__crossed {
    font-size: 18px;
  }
  .port-c-escolha__item__price__prefix {
    line-height: 28px;
    padding-top: 2px;
    font-size: 20px;
    strong {
      font-size: 20px;
    }
  }
  .port-c-escolha__item__price__value {
    font-size: 64px;
  }
  .port-c-escolha__item__price sup {
    top: -22px;
    font-size: 20px;
  }
  .port-c-escolha__item__price__or {
    font-size: 18px;
  }
  .port-c-escolha__item__mosts {
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .port-c-escolha__item__cta {
    right: 110px;
    top: 203px;
    max-width: calc(50% - 235px);
  }
}

.port-c-credenciamento {
  background-image: url(https://site.getnet.com.br/wp-content/uploads/2019/04/bg-credencimento-sg_mob.png);
  background-repeat: no-repeat;
  background-position: 41%;
  background-size: cover;
  padding: 15px 0;
}

.port-c-credenciamento__content {
  padding-left: 45%;
  color: #501e50;
  display: flex;
  flex-flow: row wrap;
}

.port-c-credenciamento__text {
  margin-bottom: 10px;
  h2 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 8px;
  }
  p {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -.2px;
    margin: 0;
  }
}

.port-c-credenciamento__cta {
  font-size: 15px;
  line-height: 1;
  font-weight: normal;
  text-decoration: none;
  padding: 7px 18px;
  background: red;
  border: 1px solid red;
  color: white !important;
  border-radius: 30px;
}

@media all and (min-width: 960px) {
  .port-c-credenciamento {
    background-image: url(https://site.getnet.com.br/wp-content/uploads/2019/04/bg-credencimento-sg_desk.png);
    background-size: cover;
    background-position: 35% center;
    padding: 47px 0;
  }
  .port-c-credenciamento__content {
    padding-left: 220px;
    align-items: flex-end;
    justify-content: space-between;
  }
  .port-c-credenciamento__text {
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 27px;
    }
  }
  .port-c-credenciamento__cta {
    font-size: 20px;
    padding: 12px 26px 14px;
    font-weight: bold !important;
  }
}

@media all and (min-width: 1200px) {
  .port-c-credenciamento {
    background-position: center center;
  }
  .port-c-credenciamento__content {
    padding-left: 190px;
    height: 66px;
  }
  .port-c-credenciamento__text {
    margin-bottom: 0;
  }
}

.port-c-steps {
  background: #f9f9f9;
  padding: 50px 0;
}

.port-c-steps__heading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 40px;
  h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
    color: #501E50;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }
}

.port-c-steps__tabs {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: auto;
}

.port-c-steps__step-by-step, .port-c-steps__container {
  display: flex;
  flex-flow: row;
  width: 300vw;
}

.port-c-steps__step, .port-c-steps__step-content {
  max-width: calc(25% - 5px);
  flex-basis: calc(25% - 5px);
  margin-right: 10px;
  background-color: #E7E7E7;
}

.port-c-steps__step {
  border-radius: 5px 5px 0 0;
}

.port-c-steps__step-content {
  border-radius: 0 0 5px 5px;
}

.port-c-steps__step-title {
  flex-basis: 40%;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 12px;
  margin: 0;
  cursor: pointer;
  transition: all .25s ease-out;
  border-radius: 5px 5px 0 0;
  height: 100%;
  border-bottom: 10px #E7E7E7 solid;
  span {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #5D5D5D;
    height: 45px;
    flex-basis: 45px;
  }
  strong {
    flex-basis: calc(100% - 65px);
    margin-left: 20px;
    font-weight: bold;
  }
}

.port-c-steps__step.is-active .port-c-steps__step-title {
  background: #937593;
  border-bottom: 10px #501E50 solid;
  margin: 0;
  * {
    color: #FFF;
    transition: all .6s ease-out;
  }
  span {
    border-color: transparent;
    background-image: linear-gradient(#937593, #937593), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

.port-c-steps__step-content {
  padding: 20px 14px;
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    color: #5D5C5D;
    a {
      color: #501e50;
    }
  }
}

.port-c-step_cta {
  background-color: #501e50;
  border-radius: 25px;
  padding: 8px 25px;
  font-size: 16px;
  border: 1px solid #501e50;
  line-height: 1;
  color: #FFF;
  text-decoration: none;
  transition: all .2s ease-out;
  margin-top: 20px;
  display: block;
  width: fit-content;
  &:hover {
    background-color: rgba(80, 30, 80, 0);
    color: #501e50;
  }
}

.port-c-steps_download-apps {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  li {
    display: inline-block;
    transition: opacity .2s ease-out;
    max-width: calc(50% - 10px);
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    img {
      height: 28px;
      max-width: 100%;
    }
    &:hover {
      opacity: .8;
    }
  }
}

.port-c-steps__step-content.is-active {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .port-c-steps {
    padding: 80px 0;
  }
  .port-c-steps__tabs {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
  }
  .port-c-steps__step-by-step, .port-c-steps__container {
    display: block;
  }
  .port-c-steps__heading {
    h2 {
      flex-basis: 60%;
      max-width: 60%;
      font-size: 36px;
      margin-bottom: 0;
    }
    p {
      flex-basis: 40%;
      max-width: 40%;
      padding-left: 26px;
    }
  }
  .port-c-steps__step-by-step {
    flex-basis: 40%;
    border-right: 1px solid #9a9a9a;
  }
  .port-c-steps__container {
    flex-basis: 60%;
    max-width: 60%;
    position: relative;
  }
  .port-c-steps__step, .port-c-steps__step-content {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
    background-color: transparent;
  }
  .port-c-steps__step-title {
    flex-basis: 100%;
    max-width: 100%;
    border-bottom: 0;
    padding: 12px 10px;
  }
  .port-c-steps__step.is-active .port-c-steps__step-title {
    border-radius: 5px 0 0 5px;
    border-bottom: 0;
    border-right: 10px #501E50 solid;
  }
  .port-c-steps__step-content {
    padding: 30px 26px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: opacity .4s ease-out, visibility .4s ease-out, top .6s ease-out, background-color .2s ease-out;
    position: absolute;
    &.is-active {
      visibility: visible;
      height: auto;
      opacity: 1;
      width: 100%;
    }
  }
  .port-c-steps_download-apps li img {
    height: 36px;
  }
  .port-c-steps__step-content {
    &[aria-labelledby="port-c-steps__step--1"] {
      top: 30px;
    }
    &[aria-labelledby="port-c-steps__step--2"] {
      top: 95px;
    }
    &[aria-labelledby="port-c-steps__step--3"] {
      top: 140px;
    }
    &[aria-labelledby="port-c-steps__step--4"] {
      top: 185px;
    }
  }
  .is-active.port-c-steps__step-content {
    &[aria-labelledby="port-c-steps__step--1"] {
      top: 0;
    }
    &[aria-labelledby="port-c-steps__step--2"] {
      top: 65px;
    }
    &[aria-labelledby="port-c-steps__step--3"] {
      top: 110px;
    }
    &[aria-labelledby="port-c-steps__step--4"] {
      top: 155px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .port-c-steps__step-title {
    padding: 0 23px;
    height: 94px;
  }
  .port-c-steps__step-content {
    &[aria-labelledby="port-c-steps__step--1"] {
      top: 30px;
    }
    &[aria-labelledby="port-c-steps__step--2"] {
      top: 115px;
    }
    &[aria-labelledby="port-c-steps__step--3"] {
      top: 160px;
    }
    &[aria-labelledby="port-c-steps__step--4"] {
      top: 205px;
    }
  }
  .is-active.port-c-steps__step-content {
    &[aria-labelledby="port-c-steps__step--1"] {
      top: 0;
    }
    &[aria-labelledby="port-c-steps__step--2"] {
      top: 85px;
    }
    &[aria-labelledby="port-c-steps__step--3"] {
      top: 130px;
    }
    &[aria-labelledby="port-c-steps__step--4"] {
      top: 175px;
    }
  }
}

.port-c-superdigital {
  padding-top: 60px;
  overflow: hidden;
  background-color: #f0efef;
}

.port-c-superdigital__img {
  display: none;
}

.port-c-superdigital h2 {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
  margin-bottom: 8px;
  color: red;
}

.port-c-superdigital__content {
  p {
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    margin-bottom: 30px;
    color: #5d5d5d;
  }
  > img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
}

.port-c-superdigital__features {
  text-align: center;
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    color: #5d5c5d;
    strong {
      font-weight: 800;
    }
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  li {
    flex-basis: 48%;
    margin-bottom: 12px;
    p {
      line-height: 1.4;
      font-size: 14px;
      margin: 0 auto;
      max-width: 140px;
    }
  }
}

.port-c-superdigital__cta {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 10px 32px;
  background: transparent;
  border: 1px solid #501e50;
  border-radius: 19px;
  color: #501e50;
}

.port-superdigital__disclaimer small {
  font-size: 12px;
  margin: 0;
}

.port-c-superdigital__graf {
  display: block;
  min-width: 100%;
  margin-left: -5%;
  margin-top: 30px;
}

@media all and (min-width: 960px) {
  .port-c-superdigital {
    .port-u-wrapper > .port-c-superdigital__disclaimer {
      display: none;
    }
    padding-top: 42px;
  }
  .port-c-superdigital__cols {
    display: flex;
    justify-content: space-between;
  }
  .port-c-superdigital__img {
    display: block;
    flex-basis: 48%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .port-c-superdigital__content {
    flex-basis: 48%;
    > img {
      display: none;
    }
    h2 {
      font-size: 34px;
    }
  }
  .port-c-superdigital__features {
    > p {
      font-size: 18px;
    }
    h3 {
      text-align: left;
      font-size: 20px;
    }
    li {
      flex-basis: 32%;
    }
  }
  .port-c-superdigital__cta {
    width: 50%;
    margin-bottom: 12px;
  }
  .port-c-superdigital__features li {
    img {
      max-height: 46px;
      max-width: 46px;
      height: auto;
      width: auto;
    }
    div {
      height: 58px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media all and (min-width: 1200px) {
  .port-c-superdigital__img {
    flex-basis: 40%;
  }
  .port-c-superdigital__content {
    flex-basis: 54%;
    h2 {
      font-size: 46px;
    }
  }
  .port-c-superdigital__features h3 {
    font-size: 24px;
  }
}

.port-c-taxas {
  padding-top: 50px;
  padding-bottom: 50px;
  .port-u-wrapper > h2 {
    font-weight: bold;
    font-size: 26px;
    position: relative;
    margin: 0;
    margin-bottom: 18px;
    color: #501e50;
  }
}

.port-c-taxas__intro {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #5d5d5d;
}

.port-c-taxas__ltitles {
  display: none;
}

.port-c-taxas__values {
  text-align: center;
  h2 {
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    background: red;
    color: white;
  }
}

.port-c-taxas__wbox {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
  ul:first-child {
    margin-top: 0;
  }
}

.port-c-taxas__values {
  > div {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      font-size: 28px;
      display: block;
      flex-basis: 49%;
      color: #501e50;
    }
  }
  sup {
    font-size: 14px;
  }
  > div li {
    span {
      display: block;
      font-size: 18px;
    }
    &:first-child {
      font-weight: 800;
      font-size: 20px;
      flex-basis: 100%;
      margin-bottom: 4px;
      color: red;
    }
  }
}

.port-c-taxas__debito ul li {
  flex-basis: 100%;
  &:last-child {
    display: none;
  }
}

.port-c-taxas__credito {
  margin-top: 40px;
}

.port-c-taxas__disclaimer {
  text-align: right;
  font-size: 12px;
  margin: 0;
  margin-top: 16px;
  color: #501e50;
}

.port-c-taxas__tmodal {
  font-size: 16px;
  text-align: center;
  display: block;
  margin-top: 24px;
  margin-left: 50px;
  margin-right: 50px;
}

.port-c-taxas-offer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 18px;
  margin: 20px 0 15px;
  border: 2px solid #FF0000;
  .port-c-taxas-offer__red-box-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 16px;
    font-family: "KievitOT", sans-serif;
    display: inline-block;
    padding: 12px;
    margin: -52px 0 22px;
    position: relative;
    z-index: 1;
    background-color: #FF0000;
    color: #fff;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 20px;
      top: 10px;
      background: #fff;
      z-index: -1;
    }
    &:before {
      left: -6px;
    }
    &:after {
      right: -6px;
    }
  }
  .port-c-taxas-offer__red-text {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .port-c-taxas-offer__big {
    font-size: 44px;
    line-height: 60px;
    font-weight: bold;
    display: block;
    margin-right: 8px;
  }
  .port-c-taxas-offer__medium {
    font-size: 18px;
  }
  .port-c-taxas-offer__purple {
    p, h3 {
      color: #501E50;
    }
  }
  .port-c-taxas-offer__purple-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
    font-weight: bold;
  }
  .port-c-taxas-offer__purple p {
    font-size: 16px;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.port-c-taxas__disclaimer--offer {
  margin-bottom: 40px;
  text-align: right;
  padding-left: 14px;
  font-size: 12px;
  line-height: 1.1;
  small {
    font-size: 12px;
  }
}

.port-c-taxas-2__table-content {
  .port-c-taxas-2__table-title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    line-height: 33px;
    margin-bottom: 15px;
    color: #FF0000;
    font-weight: 700;
  }
  .port-c-taxas-2__table {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px;
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
    hr {
      border: none;
      margin: 0;
      border-bottom: 1px solid #FF0000;
    }
  }
  .port-c-taxas-2__type-title {
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 12px;
    font-size: 18px;
    color: #FF0000;
    font-weight: 700;
  }
  .port-c-taxas-2__small-purple {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    display: block;
    color: #501E50;
  }
  .port-c-taxas-2__debito {
    text-align: center;
  }
  .port-c-taxas-2__periodo, .port-c-taxas-2__pagamento-tipo, .port-c-taxas-2__porcentagem {
    display: block;
    color: #501E50;
  }
  .port-c-taxas-2__periodo {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0 0px;
  }
  .port-c-taxas-2__porcentagem--spaced {
    margin-bottom: 30px;
  }
  .port-c-taxas-2__porcentagem-info {
    font-size: 13px;
    letter-spacing: -0.46px;
    line-height: 14px;
    white-space: nowrap;
    padding-top: 5px;
    position: absolute;
    bottom: 7px;
    left: 0;
    color: #5D5C5D;
    &:before {
      content: '';
      width: 63px;
      display: block;
      height: 4px;
      position: absolute;
      top: -5px;
      left: 0px;
      border: 1px solid #5D5C5D;
      border-top: none;
    }
  }
  .port-c-taxas-2__pagamento-tipo {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  .port-c-taxas-2__porcentagem {
    font-size: 26px;
    line-height: 31px;
  }
  .port-c-taxas-2__credito {
    width: 100%;
    margin-top: 30px;
  }
  .port-c-taxas-2__credito-colunas {
    text-align: center;
  }
  .port-c-taxas-2__coluna-divider {
    display: flex;
    justify-content: space-around;
    width: 185px;
    margin: 0 auto;
  }
  .port-c-taxas-2__credito-colunas-divider {
    text-align: left;
    position: relative;
    &:nth-of-type(1) {
      text-align: right;
      position: relative;
      &:after {
        content: '';
        width: 1px;
        height: 55px;
        display: block;
        right: -15px;
        top: 0;
        position: absolute;
        background: #501E50;
      }
    }
  }
}

.port-c-taxas-2__tmodal-text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 50px;
  color: #501E50;
}

@media all and (min-width: 768px) {
  .port-c-taxas-2__table-content {
    .port-c-taxas-2__table {
      flex-direction: row;
      padding: 15px 62px 28px;
    }
    .port-c-taxas-2__debito {
      width: calc(49% - 28px);
      margin-right: 56px;
    }
    .port-c-taxas-2__credito-colunas {
      display: flex;
      justify-content: space-around;
      padding: 0 10px;
    }
    .port-c-taxas-2__credito {
      margin-top: 0;
      width: calc(51% - 28px);
    }
    .port-c-taxas-2__coluna--center {
      margin-left: 40px;
    }
  }
  .port-c-taxas-2__tmodal-text {
    margin-top: 50px;
  }
  .port-c-taxas {
    padding-top: 70px;
    padding-bottom: 80px;
    .port-u-wrapper > h2 {
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
  .port-c-taxas__intro {
    margin-bottom: 70px;
    max-width: 640px;
  }
  .port-c-taxas__table {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
  }
  .port-c-taxas__wbox {
    padding: 0;
    position: relative;
    top: -50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .port-c-taxas__values h2 {
    position: relative;
    top: -70px;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .port-c-taxas__ltitles {
    text-align: right;
    display: block;
    flex-basis: 160px;
    padding-top: 28px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-weight: 800;
      display: block;
      font-size: 20px;
      color: red;
      &:last-child {
        margin-top: 16px;
      }
    }
  }
  .port-c-taxas__values {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 192px);
  }
  .port-c-taxas__credito {
    margin-top: 0;
  }
  .port-c-taxas__values {
    > div {
      flex-grow: 3;
    }
    ul li span {
      display: none;
    }
  }
  .port-c-taxas__debito ul {
    li:last-child {
      display: block;
    }
    width: 100%;
  }
  .port-c-taxas__values > div {
    ul {
      display: block;
      margin-top: 0;
    }
    li {
      text-align: center;
      margin-bottom: 8px;
      &:first-child {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .port-c-taxas__credito ul {
    flex-basis: 31%;
  }
  .port-c-taxas__tmodal {
    margin-top: 46px;
    color: #501e50;
  }
  .port-c-taxas__disclaimer {
    margin-left: 30%;
  }
  .port-c-taxas-offer {
    flex-direction: row;
    padding: 40px 40px 30px 60px;
    margin: 20px 0 10px;
    .port-c-taxas-offer__red-box-title {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.2px;
      line-height: 19px;
      margin: -60px 20px 10px;
      position: absolute;
      padding: 12px 28px;
      &:before, &:after {
        width: 25px;
      }
      &:before {
        left: -25px;
      }
      &:after {
        right: -25px;
      }
    }
    .port-c-taxas-offer__red {
      margin-right: 38px;
    }
    .port-c-taxas-offer__red-text {
      flex-direction: column;
      align-items: flex-start;
      width: 179px;
      display: block;
    }
    .port-c-taxas-offer__big {
      font-size: 84px;
      line-height: 70px;
      margin-bottom: 4px;
    }
    .port-c-taxas-offer__medium {
      font-size: 30px;
      line-height: 30px;
    }
    .port-c-taxas-offer__purple-title {
      font-size: 28px;
      line-height: 34px;
      margin-top: 20px;
    }
    .port-c-taxas-offer__purple p {
      font-size: 22px;
      line-height: 33px;
    }
  }
  .port-c-taxas-2__table-content .port-c-taxas-2__type-title {
    font-size: 20px;
  }
  .port-c-taxas__disclaimer--offer {
    margin-bottom: 50px;
    margin-left: 0;
    small {
      max-width: 380px;
      display: block;
      margin-left: auto;
    }
  }
}

@media scree and (min-width: 1024px) {
  .port-c-taxas-2__table-content .port-c-taxas-2__type-title {
    font-size: 18px;
  }
}

.port-c-superget-compra {
  background-color: #f9f9f9;
  background-image: linear-gradient(232.73deg, #CD3A1F 0%, #5E304A 62.75%, #35224C 100%);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.port-c-superget-compra__img {
  display: none;
}

.port-c-superget-compra h5 {
  font-size: 28px;
  line-height: 1.25;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.port-c-superget-compra__content {
  p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 530px;
    margin: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
  }
  > img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}

.port-c-superget-compra__cta {
  width: fit-content;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 9px 21px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 19px;
  color: #FFFFFF;
}

.port-superget-compra__disclaimer small {
  font-size: 12px;
  margin: 0;
}

@media all and (min-width: 768px) {
  .port-c-superget-compra {
    background-size: 100% 350px;
    padding-bottom: 30px;
    .port-u-wrapper > .port-c-superget-compra__disclaimer {
      display: none;
    }
  }
  .port-c-superget-compra__cols {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
  }
  .port-c-superget-compra__img {
    display: block;
    flex-basis: calc(100% - 420px);
    max-width: calc(100% - 420px);
    img {
      width: 100%;
      height: auto;
    }
  }
  .port-c-superget-compra__content {
    flex-basis: 360px;
    max-width: 360px;
    > img {
      display: none;
    }
    h5 {
      text-transform: uppercase;
    }
  }
  .port-c-superget-compra__cta {
    margin-bottom: 12px;
    transition: all .15s ease;
    margin-left: 0;
    margin-right: 0;
    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

@media all and (min-width: 1024px) {
  .port-c-superget-compra {
    background-size: 100% 330px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .port-c-superget-compra__img {
    flex-basis: calc(100% - 465px);
    max-width: calc(100% - 465px);
    margin-bottom: 100px;
  }
  .port-c-superget-compra__content {
    flex-basis: 420px;
    max-width: 420px;
  }
}

@media all and (min-width: 1366px) {
  .port-c-superget-compra__img {
    flex-basis: calc(100% - 585px);
    max-width: calc(100% - 585px);
    margin-bottom: 90px;
  }
  .port-c-superget-compra__content {
    flex-basis: 530px;
    max-width: 530px;
    h5 {
      font-size: 42px;
    }
  }
}

.port-c-ajuda {
  padding-top: 26px;
  padding-bottom: 0;
  background-color: #e7e7e7;
  overflow: hidden;
  h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    color: #501e50;
    strong {
      display: block;
      font-weight: 800;
    }
  }
  ul {
    width: 110%;
    margin: 0;
    margin-left: -5%;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    display: block;
    background: white;
    a {
      font-weight: normal;
      text-decoration: none;
      font-size: 18px;
      display: block;
      width: 100%;
      padding-left: 14px;
      padding-bottom: 14px;
      padding-top: 14px;
      padding-right: 76px;
      color: white;
      background: #501e50;
      &:after {
        content: '';
        position: absolute;
        right: 28px;
        top: 20px;
        width: 23px;
        height: 11px;
        color: white;
        background-image: url("/arquivos/port-c-ajuda-seta.png");
        transform: rotate(0deg);
        transition: transform 150ms ease;
      }
    }
    &.is-open a:after {
      transform: rotate(180deg);
      transition: transform 150ms ease;
    }
    &:nth-child(2) a {
      background-color: #834c83;
    }
    &:nth-child(3) a {
      background-color: #a269a2;
    }
    &:nth-child(4) a {
      background-color: #b08ab0;
    }
    .port-c-ajuda__content {
      font-size: 18px;
      line-height: 1.5;
      display: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 14px;
      padding-right: 14px;
      background: white;
    }
    &.is-open .port-c-ajuda__content {
      padding-top: 14px;
      padding-bottom: 28px;
      max-height: 1000px;
      transition: height 300ms ease, padding 300ms ease;
    }
    .port-c-ajuda__content p {
      margin: 14px;
    }
  }
}

.port-c-ajuda__graf {
  display: block;
  min-width: 100%;
  margin-left: -5%;
  margin-top: 80px;
}

@media all and (min-width: 960px) {
  .port-c-ajuda {
    padding-top: 50px;
    h2 {
      font-size: 36px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 30px;
    }
    ul {
      width: 86%;
      margin-left: auto;
      margin-right: auto;
    }
    li {
      a {
        font-weight: 400;
        font-size: 22px;
        padding-left: 50px;
      }
      .port-c-ajuda__content {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

.port-c-m-video {
  h2 {
    color: #501E50;
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .port-c-m-video__btns {
    display: flex;
    margin-bottom: 20px;
  }
  .port-c-m-video__btn {
    background-color: #e7e7e7;
    padding: 23px 20px;
    margin-right: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: .2s ease;
    &:after {
      content: '';
      background-color: #5d5c5d;
      -webkit-mask-size: contain;
      mask-size: contain;
      height: 24px;
      width: 20px;
      margin-left: 20px;
    }
  }
  .port-c-m-video__btn--android:after {
    -webkit-mask-image: url(/portabilidade/public/images/port-c-step/port-c-step-i-android.png);
    mask-image: url(/portabilidade/public/images/port-c-step/port-c-step-i-android.png);
  }
  .port-c-m-video__btn--ios:after {
    -webkit-mask-image: url(/portabilidade/public/images/port-c-step/port-c-step-i-ios.png);
    mask-image: url(/portabilidade/public/images/port-c-step/port-c-step-i-ios.png);
  }
  .port-c-m-video__btn--active {
    background-color: white;
    color: #501e50;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
    &:after {
      background-color: #501e50;
    }
  }
  .port-c-m-video-fluid {
    width: fit-content;
    max-width: 100%;
    margin-bottom: 12px;
    box-shadow: 0 2px 16px 0 rgba(255, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    line-height: 0;
    iframe {
      display: none;
      max-width: 100%;
      max-height: 55vh;
      &.show-video {
        display: block;
      }
    }
  }
}

@media all and (max-width: 320px) {
  .port-c-m-video .port-c-m-video__btn {
    margin-right: 20px;
    &:after {
      margin-left: 10px;
    }
  }
}

@media all and (max-width: 767px) {
  .port-c-m-video .port-c-m-video-fluid iframe {
    max-height: 240px;
  }
}

@media all and (min-width: 990px) {
  .port-c-m-video p {
    font-size: 18px;
  }
}

.port-c-modal__superdigital {
  font-size: 18px;
  color: #501e50;
  h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 12px;
    color: red;
  }
  p {
    line-height: 1.5;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: block;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 2px;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #501e50;
    small {
      font-size: 16px;
    }
  }
}

@media all and (min-width: 960px) {
  .port-c-modal__superdigital {
    h2 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 18px;
      strong {
        font-weight: 800;
        display: block;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    li {
      font-size: 20px;
      flex-basis: 49%;
    }
    h3 {
      font-size: 26px;
      padding-bottom: 4px;
      margin-top: 40px;
      small {
        font-size: 18px;
      }
    }
  }
}

/* Módulo TaxBox */

.port-c-modal__taxas {
  .o-taxbox {
    margin-top: 50px;
  }
  .o-taxbox__text {
    font-size: 18px;
    line-height: 1.2;
    color: #5D5C5D;
  }
  .o-btn-taxbox {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: 5px 30px 6px;
    border-radius: 30px;
    border: 1px solid #501E50;
    transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
  }
  .o-btn-taxbox--active {
    color: #fff;
    background-color: #501E50;
  }
  .o-btn-taxbox strong {
    display: block;
  }
  .o-btn-taxbox--red {
    color: #FE0100;
    border: 1px solid #FE0100;
    &.o-btn-taxbox--active {
      color: #fff;
      background-color: #FE0100;
    }
  }
  .o-btn-taxbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .o-taxbox-preview {
    text-align: center;
    padding: 35px 25px 50px;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
  }
  .o-taxbox-preview__part-title {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0 24px;
    img {
      margin-right: 10px;
    }
    h3 {
      font-size: 26px;
      margin: 0;
      color: #501E50;
    }
    h4 {
      font-size: 20px;
      margin: 0;
      color: #501E50;
    }
    .u-break-line-mobile {
      display: block;
    }
  }
  .o-taxbox-preview__info {
    transform: scale(0);
    opacity: 0;
    height: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    &.o-taxbox-preview__info--active {
      transform: scale(1);
      opacity: 1;
      height: auto;
      overflow: visible;
    }
    hr {
      margin: 40px 0 30px;
      border: none;
      border-bottom: 1px solid #9A9A9A;
    }
  }
  .o-taxbox__info-text {
    font-size: 20px;
    line-height: 36px;
    color: #501E50;
  }
  .o-taxbox__info-value {
    font-size: 58px;
    font-weight: bold;
    display: block;
    margin: 10px 0 35px;
    color: #501E50;
    sup {
      font-size: 22px;
      vertical-align: baseline;
    }
  }
  .o-taxbox__link {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    text-decoration: underline;
    display: block;
    margin: 10px auto 0;
  }
  .o-taxbox__link--floating {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #501E50;
  }
  .o-taxbox__link small {
    font-size: 14px;
  }
  .u-break-text-mobile {
    display: block;
  }
  .o-taxbox__disclaimer {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: -25px;
    text-align: right;
    display: block;
  }
  .o-taxbox__info-flags img {
    height: 27px;
  }
  .o-modal--taxbox {
    .o-modal__title {
      font-size: 26px;
      font-weight: normal;
      margin: 0;
      padding-bottom: 6px;
      color: #FE0100;
    }
    .o-modal__text {
      margin: 0;
      max-height: 100%;
    }
  }
  .o-table__plan {
    max-width: 630px;
  }
  .o-table__plan-head {
    font-size: 20px;
    strong {
      color: #FF0000;
    }
  }
  .o-table__plan {
    td, th {
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      padding: 5px 20px 5px 20px;
      color: #5D5C5D;
    }
    .o-table__plan-head--right {
      text-align: right;
      padding: 5px 60px 5px 0px;
    }
  }
  .o-modal--taxbox {
    .o-modal__text-content p {
      color: #5D5C5D;
      font-size: 24px;
    }
    .o-modal__container {
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-size: 24px;
      color: #FF0000;
    }
  }
  .o-table-tax-calc {
    width: calc(100% - 10px);
    text-align: center;
    border-collapse: collapse;
    .o-table-tax-calc__border-right {
      border-right: 1px solid #fff;
    }
    .o-table-tax-calc__border-bottom {
      border-bottom: 1px solid #fff;
    }
    th {
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        padding: 10px 0;
        margin: 0;
        vertical-align: bottom;
        color: #fff;
        background-color: #FF0000;
      }
    }
    .o-table-tax-calc__subheader {
      font-weight: bold;
      padding: 5px 15px;
      color: #fff;
      background-color: #501E50;
    }
    tbody td {
      font-size: 16px;
      line-height: 19px;
      padding: 6px 0px;
      color: #5D5C5D;
    }
    .o-table-tax-calc__bold {
      font-weight: bold;
      background-color: #E7E7E7;
    }
  }
  .taxa-adicional-par {
    margin-top: 32px;
    color: #501E50;
    font-size: 12px;
    line-height: 12px;
  }
}

#modal-taxas {
  .port-c-modal__wrapper {
    padding-top: 0;
  }
  .port-c-modal__content {
    padding-top: 60px;
  }
}

@media all and (min-width: 768px) {
  .port-c-modal__taxas {
    .u-break-text-mobile {
      display: none;
    }
    .o-btn-taxbox {
      margin-top: 0px !important;
    }
    .o-taxbox-preview__part-title .u-break-line-mobile {
      display: inline-block;
    }
  }
}

@media all and (min-width: 1024px) {
  .port-c-modal__taxas {
    .o-modal--taxbox {
      .o-modal__content {
        padding: 50px 30px;
      }
      h3 {
        font-size: 26px;
      }
      .o-modal__text-content p {
        color: #5D5C5D;
        font-size: 24px;
      }
      .o-modal__title {
        font-size: 36px;
      }
    }
    .o-taxbox-preview {
      width: fit-content;
      padding: 40px 32px 80px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .o-taxbox-preview__col-separetion {
      width: 550px;
    }
    .o-taxbox-preview__info--credit-result {
      width: 0;
      padding-left: 0;
      max-width: 440px;
      border-left: 1px solid #501E50;
      &.o-taxbox-preview__info--active {
        width: auto;
        padding-left: 23px;
        margin-left: 26px;
      }
      hr {
        display: none;
      }
    }
    .o-btn-taxbox-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .o-btn-taxbox {
      margin: 0 10px 0 !important;
    }
    .o-taxbox-preview__info hr {
      margin: 50px 0 40px;
    }
    .o-taxbox-preview__part-title h4 {
      margin-bottom: 10px;
    }
    .o-taxbox__text {
      font-size: 24px;
      padding-right: 220px;
    }
    .o-taxbox__info-value {
      font-size: 80px;
      sup {
        font-size: 35px;
        vertical-align: super;
      }
    }
    .o-taxbox__disclaimer {
      position: absolute;
      right: 0;
    }
  }
}

.port-c-modal__taxas > {
  h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    color: red;
  }
  h3 {
    text-align: center;
    font-size: 26px;
    color: red;
  }
  h2 strong {
    display: block;
    font-weight: 800;
  }
  p {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
  }
}

.port-c-modal__taxas__twrap {
  max-width: 100%;
  overflow-x: auto;
}

.port-c-modal__taxas .o-table__plan {
  width: 100%;
  max-width: 100%;
  .o-table__plan-head {
    font-size: 16px;
    font-weight: 800;
    background: #501E50;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    &:first-child {
      padding-right: 60px;
    }
    strong {
      text-align: center;
      display: block;
      color: white;
    }
  }
  td {
    font-size: 16px;
    padding-left: 20px;
  }
}

.port-c-m-regulamento {
  h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
    font-weight: 600;
  }
  p {
    font-size: 17px;
    line-height: 1.5;
    margin: 0;
    margin-top: 40px;
    font-weight: 500;
    color: #501e50;
  }
}

.port-c-m-sobre-taxas {
  text-align: center;
}

.port-c-m-sobre-taxas__ltitles {
  display: none;
}

.port-c-m-sobre-taxas__values {
  h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
    color: red;
  }
  > div {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      font-size: 28px;
      display: block;
      flex-basis: 49%;
      color: #501e50;
    }
  }
  sup {
    font-size: 14px;
  }
  > div li {
    span {
      display: block;
      font-size: 18px;
    }
    &:first-child {
      font-weight: 800;
      font-size: 20px;
      flex-basis: 100%;
      margin-bottom: 4px;
    }
  }
}

.port-c-m-sobre-taxas__debito ul li {
  flex-basis: 100%;
  &:last-child {
    display: none;
  }
}

.port-c-m-sobre-taxas__credito {
  margin-top: 40px;
}

.port-c-m-sobre-taxas > p {
  text-align: right;
  font-size: 12px;
  margin: 0;
  margin-top: 40px;
  color: #501e50;
}

@media all and (min-width: 960px) {
  .port-c-m-sobre-taxas__table {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .port-c-m-sobre-taxas__ltitles {
    text-align: right;
    display: block;
    flex-basis: 160px;
    padding-top: 94px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-weight: 800;
      display: block;
      font-size: 20px;
      color: red;
      &:last-child {
        margin-top: 16px;
      }
    }
  }
  .port-c-m-sobre-taxas__values {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 192px);
  }
  .port-c-m-sobre-taxas__credito {
    margin-top: 0;
  }
  .port-c-m-sobre-taxas__values {
    > div {
      flex-grow: 3;
    }
    ul li span {
      display: none;
    }
  }
  .port-c-m-sobre-taxas__debito ul li:last-child {
    display: block;
  }
  .port-c-m-sobre-taxas__values > div {
    ul {
      display: block;
    }
    li {
      margin-bottom: 8px;
      &:first-child {
        font-size: 16px;
      }
    }
  }
  .port-c-m-sobre-taxas__credito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
      flex-basis: 100%;
    }
    ul {
      flex-basis: 31%;
    }
  }
}

.inbenta {
  position: relative;
  z-index: 99999;
  .messages__message--received {
    p, span {
      font-family: KievitOT,Helvetica,Arial,sans-serif;
      font-size: 15.5px;
      color: #501E50;
    }
  }
}

.inbenta-bot__bubble .inbenta-bot__bubble__header, .inbenta-bot__chat .inbenta-bot__chat__header {
  background-color: #f4f4f4;
}

.inbenta-bot__bubble .header__title, .inbenta-bot__chat .header__title {
  font-family: KievitOT,Helvetica,Arial,sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #501E50;
}

.inbenta-bot__bubble .messages__message--sent .messages__message__content, .inbenta-bot__chat .messages__message--sent .messages__message__content {
  background-color: #501E50 !important;
  color: #FFF !important;
}

.inbenta-bot__bubble .body__wrapper, .inbenta-bot__chat .body__wrapper {
  background-color: #E7E7E7;
}

.inbenta-bot__bubble .messages__message--received .messages__message__avatar, .inbenta-bot__chat .messages__message--received .messages__message__avatar {
  display: none !important;
}

.inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button, .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button {
  color: #501E50 !important;
}

.inbenta-bot__bubble .header__actions__icon, .inbenta-bot__chat .header__actions__icon {
  color: #F00;
}

.inbenta-bot__bubble .footer__form__button .inbenta-bot-icon--send, .inbenta-bot__chat .footer__form__button .inbenta-bot-icon--send {
  color: transparent;
  right: -54px !important;
}

.inbenta-bot__bubble .footer__form__button .inbenta-bot-icon--send::before, .inbenta-bot__chat .footer__form__button .inbenta-bot-icon--send::before {
  content: '';
  display: block;
  width: 31px;
  height: 31px;
  background-image: url("/portabilidade/public/images/port-u-chatbot/icone-aviao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.inbenta-bot__bubble .footer__form--focus .footer__form__button .inbenta-bot-icon--send, .inbenta-bot__chat .footer__form--focus .footer__form__button .inbenta-bot-icon--send {
  right: 0px !important;
}

.inbenta-bot a {
  color: #501E50 !important;
  &:hover {
    color: #501E50 !important;
  }
}

.inbenta-bot__bubble .content__open-sidebubble__phrase, .inbenta-bot__chat .content__open-sidebubble__phrase, .inbenta-bot__bubble .content__open-sidebubble__icon, .inbenta-bot__chat .content__open-sidebubble__icon {
  color: #501E50 !important;
}

.inbenta .inbenta-bot__launcher {
  right: 10px !important;
  bottom: 10px !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent !important;
  box-shadow: none !important;
  .inbenta-bot__launcher__image {
    width: 56px;
    height: 56px;
    background-image: url("/portabilidade/public/images/port-u-chatbot/botao-chatboat-flutuante@2x.png") !important;
  }
  .inbenta-bot__launcher__text {
    font-weight: 300;
    border-radius: 20px;
    padding: 8px 25px 10px;
    overflow: hidden;
    color: #501E50;
    background-color: #E7E7E7;
    box-shadow: 0 3px 4px 0 rgba(186, 186, 186, 0.75);
    transform: scale(0, 1);
    transform-origin: right center;
    transition: transform 0.25s ease;
  }
  &:hover .inbenta-bot__launcher__text {
    transform: scale(1, 1);
  }
}

.o-banner-horizontal-small__chatbot-img {
  margin-bottom: 20px;
}

.home .inbenta .inbenta-bot__launcher {
  transition: transform 0.25s ease;
  transform: translateX(200px);
  &.laucher__show {
    transform: translateX(0px);
  }
}

.inbenta-bot__bubble__confirmation .confirmation-box__icon:before, .inbenta-bot__chat__confirmation .confirmation-box__icon:before {
  color: #501e50;
}

.inbenta-bot__bubble__confirmation .confirmation-box__icon, .inbenta-bot__chat__confirmation .confirmation-box__icon {
  background: #e7e7e5 !important;
}

.inbenta-bot__bubble__confirmation .confirmation-box__buttons .inbenta-bot-button, .inbenta-bot__chat__confirmation .confirmation-box__buttons .inbenta-bot-button {
  background: #501e50;
}

.inbenta-bot__bubble__confirmation .confirmation-box__buttons .inbenta-bot-button:hover, .inbenta-bot__chat__confirmation .confirmation-box__buttons .inbenta-bot-button:hover {
  background: #adadad;
}

.inbenta-bot-rating__content {
  .inbenta-bot-rating__content__buttons .inbenta-bot-button {
    background: #501E50 !important;
  }
  .inbenta-bot-rating__content__phrase {
    font-weight: 400 !important;
  }
}

.inbenta-bot-rating__content__comment .comment__phrase, .inbenta-bot-rating__content .inbenta-bot-rating__content__thanks {
  font-weight: 400 !important;
}

.inbenta-bot-rating__content__comment .inbenta-bot-button {
  background-color: #501E50 !important;
  text-transform: lowercase !important;
}

.inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea {
  background: #fff !important;
  box-shadow: none !important;
}

.inbenta-bot-rating__content {
  .inbenta-bot-icon--rating-no, .inbenta-bot-icon--rating-yes {
    color: #fff !important;
  }
}

.inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea:hover, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea:hover {
  border: 1px solid #e7e7e7 !important;
}

.inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__phrase, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__phrase, .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__thanks, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__thanks, .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__phrase, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__phrase {
  font-style: normal !important;
}

.inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button + .inbenta-bot-button, .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button + .inbenta-bot-button {
  margin-left: 7px !important;
}

@media (min-width: 768px) {
  .inbenta .inbenta-bot__launcher {
    right: 30px !important;
    bottom: 30px !important;
    .inbenta-bot__launcher__image {
      width: 72px;
      height: 72px;
    }
  }
}
a.js-trigger-modal {
  text-decoration: underline;
}
.x-cadastre{
  width: 390px;
  font-size: 15px;
  letter-spacing: .5px;
  background: #662c62;
  color: #fff;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 18px;
  padding: 7px 40px;

}
@media (max-width: 500px) {
  .x-cadastre{
    width: auto;
  }
}
/*# sourceMappingURL=bundle.css.map*/