@import './__config-base.scss';
.x-site-map {
    &__container {
        @extend %page-content__container;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        @include mq("sm", max) {
            width: 100%;
            padding: 0 !important;
        }
    }

    &__banner {
        background-image: url("/arquivos/institutional-gradient.png");
        width: 100%;
        height: 232px;
        background-size: 100% 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__banner-title {
        @include rem(font-size, 40px);
        color: #fff;
        font-weight: bold;
        width: 55%;
        margin: auto;
        text-align: center;
        @include mq("sm", max) {
            @include rem(font-size, 36px);
            width: 90%;
        }
    }



    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2%;
        margin-top: 10%;
        padding: 0 10% 20px 10%;
        .x-site-map__title{
            width: 70%;
            margin-top: 4%;
            h2{
                @include rem(font-size, 24px !important);
                font-weight: bold !important;
                color: #6b3367;
                text-align: left !important;
                margin-bottom: 1rem !important;
            }
        }
        .x-site-map__links{
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content:space-between;
            .x-box{
                width: 80%;
                .x-box-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .x-title-content{
                        width: 100%;
                        border-bottom: 3px solid #6b3367;
                        margin-bottom: 13px;
                        h2{
                            @include rem(font-size, 19px !important);
                            font-weight: bold !important;
                            color: #6b3367;
                            text-align: left !important;
                            padding-bottom: 10px !important;
                                i {
                                    border: solid #6b3367;
                                    border-width: 0 1px 1px 0;
                                    display: inline-block;
                                    padding: 4px;
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    -webkit-transform: rotate(45deg);
                                    position: absolute;
                                    right: 37px;
                                    margin-top: 8px;
                                    transition: transform 200ms;
                                }                              
                        }
                    }
                    .x-list-content{
                        max-height: 0;
                        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
                        overflow: hidden;
                        ul{

                            margin-top: 10px;
                            list-style: none;
                            li{
                                text-align: left;
                                margin-bottom: 8%; 
                                a{
                                    @include rem(font-size, 15px !important);
                                    font-weight: 400;
                                    text-decoration: none;
                                    color: #6b3367;
                                }
                            }
                        }
                    }
                }
                &.x-products{
                    width: 80%;
                }
                &.x-institucional{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .x-box-content:nth-of-type(1){
                        margin-bottom: 4%;
                    }
                }
                &.x-contact{
                    width: 80%;
                }
                &.is--active{
                    .x-title-content{
                        h2{
                            i{
                              transform:rotate(-135deg);  
                            }
                        }
                    }
                    .x-list-content{
                        max-height: 900px;
                    }
                }
            }
        }

    }
}