.step{
    @media screen and (max-width: 800px) {
        margin: 0 auto 15px;
    }
}
.cart-template.mini-cart.span4{
    @media screen and (max-width: 800px) {
        margin: 0 auto 15px;
    }
}
.step.accordion-group {
    background: none;
    background-color: white;
    max-width: 336px;
    position: relative;
    border: 0;
    padding: 8px;
    margin-top: 44px;
    box-sizing: border-box;

   
        
    .input.text {
        label {
            @include inputLabel;

            &[for="client-first-name"],
            &[for="client-last-name"],
            &[for="client-phone"] {
                font-size: 0;
            }

            &::after {
                font-size: 13px;
            }
            
            &[for="client-first-name"]::after {
                content: "Nome ";
            }
            
            &[for="client-last-name"]::after {
                content: "Sobrenome ";
            }
            
            &[for="client-phone"]::after {
                content: "Celular";
            }
        }

        input {
            @include input;
        }
    }
}

.accordion-heading {
    position: relative;
    position: absolute;
    top: -56px;
    width: 100%;
    height: 32px;
    left: 0;

    .icon-user {
        display: none;
    }

    .accordion-toggle {
        span {
            @include formHeader;
            font-size: 14px;
        }

        padding: 0;
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 12px;
    }
}

.btn-success {
    @include btnSuccess;
    max-width: 202px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-top: 16px;
}

.btn-success:hover {
    background-color: $color-red-light;
}



.checkout-container.orderform-active {
    overflow: visible;
}

.body-checkout-confirmation{
    .cconf-alert{
        color: #137752;
    }
}

#app-container{
    .fw3.f3.lh-copy.mb1{
        color: #662c62;
        font-weight: 700;
        font-size: 20px;
    }
    .cf{
        .cf{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .cconf-profile,.cconf-payment,.cconf-summary{
                width: 314px;
                max-width: 100%;
                height: 100%;
                min-height: 197px;
                display: flex;
                flex-direction: column;
                background: #fff;
                box-shadow: rgba(0,0,0,.2) 0 0 1px 1px;
                color: rgba(0,0,0,.8);
                padding: 10px 20px 50px;
                margin: 10px auto;
                .cf{
                    display: initial;
                }
            }
        }
        .pv4-ns{
            .bg-near-white.lh-title{
                background: #fff;
                box-shadow: rgba(0,0,0,.2) 0 0 1px 1px;
                color: rgba(0,0,0,.8);
                padding: 20px;
            }
            .w-two-thirds-l{
                .w-70-m{
                    background: #fff;
                    box-shadow: rgba(0,0,0,.2) 0 0 1px 1px;
                    color: rgba(0,0,0,.8);
                }
            }
            .cconf-product-table{
                .cconf-product{
                    .lh-title{
                        a{
                            text-decoration: none;
                            font-weight: bold;
                            color: #662b61;
                        }
                    }
                }
            }
        }
        .mt0-ns{
            margin: 0 auto;
            justify-content: center;
            .cconf-myorders-button {
                background: #662b61;
                text-align: center;
                display: inline-block;
                float: none;
                color: #fff;
                padding: 10px 50px;
                border-radius: 30px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                width: auto;
                border: 0;
                margin-left: 0;
                margin: 10px;
            }
            .cconf-continue-button{
                background: red;
                text-align: center;
                display: inline-block;
                float: none;
                color: #fff;
                padding: 10px 50px;
                border-radius: 30px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                width: auto;
                border: 0;
                margin-left: 0;
                margin: 10px;
                height: 40px;
            }
        }
    }
}