section(class='x-home__sale')
    div(class='x-home__sale-wrapper')
        h2(class='x-home__sale-title') 
            vtex:contentPlaceHolder(id='Sale Title')/
        div(class='x-home__sale-container')
            vtex:contentPlaceHolder(id='Sale Link')/