
section(class='x-home__shelf')
    div(class='x-home__shelf-content')
        div(class='x-home__shelf-titulo-container')
            vtex:contentPlaceHolder(id="Titulo Vitrine")/
        div(class='x-home__shelf-container js--home-shelf')
            vtex:contentPlaceHolder(id="Vitrine Principal")/