<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
  <head>
    <vtex:template id="SuperGetCommon-ResourceHints"/>
    <vtex:template id="SuperGetCommon-Head"/>
    <vtex:contentPlaceHolder id="TITLE PAGE"/>
    <vtex:metaTags/>
    <vtex:template id="SuperGetCommon-JsonLd"/>
    <vtex:template id="SuperGetCommon-Styles"/>
    <vtex:template id="SuperGetDesktop-Styles"/>
    <link rel="stylesheet" href="/arquivos/superget-desktop-product.css" media="all"/>
    <vtex:template id="SuperGetCommon-ThemeScripts"/><vtex.cmc:productRichSnippets showFacebook="1"/>
  </head>
  <body><vtex.cmc:productRichSnippets showGoogle="1"/>
    <vtex:template id="SuperGetDesktop-Header"/>
    <main class="x-product__main" role="main">
      <section class="hidden-heading">
        <vtex.cmc:ProductTag/>
        <vtex.cmc:productName/>
        <vtex.cmc:productDescriptionShort/>
        <vtex.cmc:ProductDescription/>
      </section>
      <section class="hidden-heading" id="vtexBreadcrumb">
        <vtex.cmc:breadCrumb/>
      </section>
      <section class="x-product__component" id="productComponent">
        <div class="x-product__wrapper is--hide" rv-remove-class-is--hide="app.state.isFetchingProduct | neg">
          <div class="x-product__img-container" id="productImg">
            <div class="x-product__nav-img-container" id="productNavImg">
              <div class="x-product__nav-img-wrapper" rv-each-img="app.product.navImages"><img class="x-product__nav-img" rv-src="img.imageUrl | getResizeImageByRatio 'width' 525 1" rv-alt="app.product.productName" rv-title="app.product.productName"/></div>
            </div>
            <div class="x-product__main-img-container" id="productMainImg">
              <div class="x-product__main-img-wrapper" rv-each-img="app.product.images"><img class="x-product__main-img" rv-src="img.imageUrl | getResizeImageByRatio 'width' 525 1" rv-alt="app.product.productName" rv-title="app.product.productName"/></div>
            </div>
          </div>
          <div class="x-foo x-product__container">
            <div class="x-product__info">
              <div class="x-product__name-wrapper">
                <div class="x-product__discount" rv-if="app.product.discountPercentage"><span class="x-product__discount-flag"><strong rv-text="app.product.discountPercentage | suffix '%'"></strong>Desconto</span></div>
                <div class="x-product__name" rv-text="app.product.productName"></div>
                <div class="x-product__ref" rv-text="app.product.productReference | prefix 'Código Ref.: '">   </div>
              </div>
              <div class="x-product__price-info" rv-if="app.product.available">
                <del class="x-product__old-price" rv-if="app.product.skuInfo.listPrice" rv-text="app.product.skuInfo.listPrice | formatPrice | prefix 'de ' "></del>
                <div class="x-product__installments" rv-if="app.product.skuInfo.installments | gt 1">
                  <p class="x-product__installments-text"><span rv-text="app.product.skuInfo.installments | prefix 'por ' | suffix 'x'"></span>
                    <span rv-text="app.product.skuInfo.installmentsValue | formatPrice"></span>
                  </p>
                </div>
                <div class="x-product__best-price">
                  ou
                  <span rv-html="app.product.skuInfo.bestPrice | formatPrice | suffix ' à vista no boleto' "></span>
                </div>
              </div>
              <div class="x-product__price-info" rv-if="app.product.available | neg">
                <p class="x-product__best-price">Produto indisponível</p>
              </div>
            </div>
            <div class="x-product__flags" rv-class-has--error="app.flags.hasError">
              <p class="x-product__flags-text">Escolha sua operadora sem nenhum custo:
                <vtex.cmc:svgIconError/>
              </p>
              <ul class="x-product__flags-list">
                <li class="x-product__flags-item" rv-each-flag="app.product.chip" rv-data-flag="flag" rv-on-click="app.controller.flags.select" rv-class="flag | toLowerCase | prefix 'is--'"></li>
              </ul>
            </div>
            <div class="x-product__cart-btn-wrapper">
              <button class="x-product__cart-btn x-btn x-btn--tertiary-inverse" rv-text="app.props.buyBtnName" rv-disabled="app.state.isFetchingCart" rv-class-has--error="app.state.buyBtnError" rv-on-click="app.controller.cart.add">Comprar</button>
            </div>
          </div>
        </div>
      </section>
      <section class="x-superget-sell">
        <div class="x-superget-sell__center">
          <div class="x-superget-sell__contents">
            <p></p>
          </div>
        </div>
      </section>
      <section class="x-rates">
        <div class="x-rates__center">
          <div class="x-rates__header">
            <h2>Receba suas vendas <strong>com taxas imperdíveis</strong></h2>
            <p>Todas suas vendas diretamente na sua conta com flexibilidade na escolha do prazo de recebimento</p>
          </div>
          <div class="x-rates__contents">
            <div class="x-rates__left">
              <div class="x-superget-taxas__credito--titulo">
                <h3>
                  <vtex.cmc:iconeDinheiro/>Débito
                </h3>
                <p class="x-superget-taxas__info">Receba em<strong>1 dia</strong></p>
                <p class="x-superget-taxas__valores">Venda à vista<strong>2,00%                                </strong></p>
              </div>
            </div>
            <div class="x-rates__right">
              <div class="x-superget-taxas__credito--titulo">
                <h3>
                  <vtex.cmc:iconeCartao/>Crédito
                </h3>
              </div>
              <div class="x-superget-taxas__credito--info-taxas">
                <div class="x-superget-taxas__credito--collum">
                  <p class="x-superget-taxas__info">Receba em<strong>2 dias</strong></p>
                  <p class="x-superget-taxas__valores">Venda à vista<strong>2,00%</strong></p>
                  <p class="x-superget-taxas__valores">Venda parcelada<strong>5,59%<span>+2,99% por parcela</span></strong></p>
                </div>
                <div class="x-superget-taxas__credito--collum">
                  <p class="x-superget-taxas__info">Receba em<strong>30 dias</strong></p>
                  <p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
                  <p class="x-superget-taxas__valores">Venda parcelada<strong>3,79%<span>+2,99% por parcela</span></strong></p>
                </div>
                <div class="x-superget-taxas__credito--collum">
                  <p class="x-superget-taxas__info">Receba em<strong>12 parcelas</strong></p>
                  <p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
                  <p class="x-superget-taxas__valores">Venda parcelada<strong>6,40%</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="x-superget-taxas__credito--sub-infos"></div>
        </div>
      </section>
      <section class="x-payments-card">
        <div class="x-payments-card__center">
          <div class="x-payments-card__header">
            <h2>Aceite os principais <strong>cartões e venda mais!</strong></h2>
          </div>
          <div class="x-payments-card__contents">
            <div class="x-payments-card__item">
              <div class="x-payments-card__item--title">
                <h3><span class="x-icon-fisica"></span> Pessoa Física</h3>
              </div>
              <div class="x-payments-card__item--cards">
                <ul>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgmastercard/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgvisa/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgamex/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgelo/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svghipercard/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svghiper/></span></li>
                </ul>
              </div>
            </div>
            <div class="x-payments-card__item">
              <div class="x-payments-card__item--title">
                <h3><span class="x-icon-juridica"></span> Pessoa Jurídica</h3>
              </div>
              <div class="x-payments-card__item--cards">
                <ul>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgmastercard/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgvisa/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgamex/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgelo/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svghipercard/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svghiper/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgben/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgalelo/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgsodexo/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgticket/></span></li>
                  <li><span class="x-payments-card__item--cards-icon">
                      <vtex.cmc:svgvalerefeicao/></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="x-shelf" id="x-shelf">
        <div class="x-shelf__center">
          <div class="x-shelf__header"><vtex:contentPlaceHolder id="Titulo Vitrine"/></div>
          <div class="x-shelf__contents">
            <div class="x-shelf__full"><vtex:contentPlaceHolder id="Vitrine Relacionados"/></div>
          </div>
        </div>
      </section>
    </main>
    <vtex:template id="SuperGetCommon-AjaxLoader"/>
    <vtex:template id="SuperGetCommon-Overlay"/>
    <vtex:template id="SuperGet-Desktop-Footer"/>
    <vtex:template id="SuperGetCommon-Scripts"/>
    <vtex:template id="SuperGetDesktop-Scripts"/>
    <vtex:template id="SuperGetCommon-GoogleFonts"/>
    <vtex:template id="SuperGetCommon-ClearCache"/>
    <script type="text/javascript" src="/arquivos/jquery.maskMoney.min.js"></script>
    <script type="text/javascript" src="/arquivos/superget-desktop-product.js"></script>
  </body>
</html>