
extends ./../_layouts/_desktop-account-base.pug


block append accountContentLeft
    //- Mixin General Breacrumb
    +generalBreadcrumb('orders')

    h2(class='x-account__left-title') Meus pedidos
    vtex:template(id='SuperGetCommon-AccountMenu')/


block append accountContentRight
    div(class='x-account__content')
        div(class='x-account__orders')
            <vtex.cmc:orderList/>

            include ./../../common/_partials/account/_account__orders-tracking.pug
