
extends ./../_layouts/_desktop-base.pug


//- Template variables
block vars
    - var $templateName = 'landing-taxas-e-tarifas'
    - var $templateClass = 'landing-taxas-e-tarifas'


//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/

//- Rich Snippets
block append richSnippetsHead
    <vtex.cmc:productRichSnippets showFacebook="1"/>

block append richSnippetsBody
    <vtex.cmc:productRichSnippets showGoogle="1"/>

//- Main Content
block content    
    section(id='vtexBreadcrumb', class='hidden-heading')
        #{`vtex.cmc:breadCrumb`}/

    include ./../../common/_partials/landings/taxas-e-tarifas/taxas-e-tarifas.pug
    
//- Page scripts
block append scripts
    script(type='text/javascript', src=`/arquivos/jquery.maskMoney.min.js`)
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
