
extends ./../_layouts/_desktop-base.pug


//- Template variables
block vars
    - var $templateName = 'category'
    - var $templateClass = 'category'


//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/


//- Main Content
block content
    section(class='x-category__main-container')
        div(class='hidden-heading') <vtex.cmc:searchTitle/>

        article(class='x-category__search')
            div(class='x-category__search-wrapper')
                h4(class='x-category__search-title js--searched-text')
                p(class='x-category__search-text') Você buscou por #[span(class='js--searched-text')]
                p(class='x-category__search-text') Exibindo #[span(class='js--searched-results-num')] resultado(s) encontrado(s)

        include ./../_partials/category/_category__filters.pug
        include ./../_partials/category/_category__products.pug


//- Footer
block append footer
    div(class='x-category__filters-vtex is--hide')
        <vtex.cmc:searchNavigator/>


//- Page scripts
block append scripts
    script(type='text/javascript').
        var scriptContent = $('.resultItemsWrapper').children('script').html();
        eval('window.'+ /(PageClick_)([0-9]+)/g.exec(scriptContent)[0] +' = function() {}');
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)

