
extends ./../_layouts/_desktop-account-base.pug

//- Page styles
block append styles
    link(rel='stylesheet', href='/arquivos/superget-desktop-category.css', media='all')/


block append accountContentLeft       
    vtex:template(id='SuperGetCommon-AccountMenu')/


block append accountContentRight
    div(class='x-wishlist')
        div(class='x-wishlist__content')
            ul(class='x-wishlist__items x-shelf', data-wishlist-items='data-wishlist-items', data-col='4')

        div(class='x-wishlist__btn-wrapper')
            button(class='x-wishlist__btn-clear', title='Remover todos', data-wishlist-clear='data-wishlist-clear') Remover todos
