
extends ./../_layouts/_desktop-base.pug


//- Template variables
block vars
    - var $templateName = 'product'
    - var $templateClass = 'product'


//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/

//- Rich Snippets
block append richSnippetsHead
    <vtex.cmc:productRichSnippets showFacebook="1"/>

block append richSnippetsBody
    <vtex.cmc:productRichSnippets showGoogle="1"/>

//- Main Content
block content
    //- SEO Parts
    section(class='hidden-heading')
        #{`vtex.cmc:ProductTag`}/
        #{`vtex.cmc:productName`}/
        #{`vtex.cmc:productDescriptionShort`}/
        #{`vtex.cmc:ProductDescription`}/
    section(id='vtexBreadcrumb', class='hidden-heading')
        #{`vtex.cmc:breadCrumb`}/

    //- Content - Product component
    section(id='productComponent', class='x-product__component')
        div(class='x-product__wrapper is--hide',
            rv-remove-class-is--hide=`app.state.isFetchingProduct | neg`)
            include ../_partials/product/image.pug

            div(class='x-foo x-product__container')
                include ../_partials/product/info_product4.pug
                div(class="x-app_logo")
                    ul
                        li
                            a(href="https://supergetqa.vtexcommercestable.com.br/")
                                img(id="x-logo_app_image_1", src="/arquivos/logo_aplicativo_exclusivo.png", alt="logo_app_exclusive")/
                                div(class="x-text_logo_exlusive")
                                    p(class="x-para_1") Baixe nosso
                                    p(class="x-para_2") App exclusivo
                        li
                            img(id="x-logo_app_image_2", src="/arquivos/descricao_app_exclusivo.png", alt="descricao_app_exclusivo")/


                include ../_partials/product/cart-btn.pug


    include ../_partials/product/superget-sell.pug
    include ../_partials/product/rates.pug
    //- include ../../common/_partials/product/taxas-e-tarifas.pug
    include ../_partials/product/payments-card.pug
    include ../_partials/product/shelf.pug

//- Page scripts
block append scripts
    script(type='text/javascript', src=`/arquivos/jquery.maskMoney.min.js`)
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
