doctype html
head
  vtex:template#SuperGetCommon-ResourceHints
    vtex:template#SuperGetCommon-Head
      vtex:contentplaceholder(id='TITLE PAGE')
        vtex:metatags
          vtex:template#SuperGetCommon-JsonLd
            vtex:template#SuperGetCommon-Styles
              vtex:template#SuperGetDesktop-Styles
                link(rel='stylesheet' href='/arquivos/superget-desktop-home.css' media='all')
                link(rel='stylesheet' href='/arquivos/getnet-modaltaxas.css' media='all')
                link(rel='stylesheet' href='/arquivos/superget-desktop-portabilidade.css' media='all')
                link(rel='stylesheet' href='/arquivos/superget-desktop-portabilidade.js' media='all')
                vtex:template#SuperGetCommon-ThemeScripts
                  meta(name='google-site-verification' content='sZogK42Tx2TMb35kOvt-vjxxO8bEOAeAxeOVvL8K8T8')
header.port-c-main-header
  .port-u-wrapper
    a.js-navigate-to.port-c-main-header__logo(href='#inicio' title='Clique aqui para voltar ao topo')
      img(src='/portabilidade/public/images/port-c-main-header/logo.png' alt='Logotipo da Getnet')
    nav.port-c-main-header__nav
      a.js-open-menu.port-c-main-header__nav__toggler(href='#')
        img.port-c-main-header__nav__toggler__icon(src='/portabilidade/public/images/port-c-main-header/hamburguer.png' alt='Ícone composto por três linhas horizontais empilhadas verticalmente. Representa um menu.')
      .port-c-main-header__nav__menu
        a.js-close-menu.port-c-main-header__nav__menu__close(href='#')
          span.port-c-main-header__nav__menu__close__icon &amp;times
        ul.port-main-header__nav-items
          li
            a.js-navigate-to(href='#inicio' title='Volte ao topo') In&iacute;cio
          li.port-c-main-header__nav__cta
            a.js-navigate-to(href='#passo-a-passo' title='Veja como fazer a portabilidade para a Getnet') Vou pra SuperGet!
          li
            a.js-navigate-to(href='#taxas' title='Conheça as taxas da Getnet') Taxas
          li
            a.js-navigate-to(href='#superget-compra' title='Ainda não tem uma SuperGet? Compre a sua!') Compre sua SuperGet
          li
            a.js-navigate-to(href='#ajuda' title='Está com dúvidas sobre a portabilidade? Veja as perguntas mais frequentes') D&uacute;vidas?
main.port-c-main-content
  section#inicio.port-c-inicio-v3
    .port-u-wrapper
      .port-c-inicio-v3__data
        .port-c-inicio-v3__info
          .port-c-inicio-v3__text
            h1
              span Adeus maquininha,
              |  Ol&aacute; SuperGet!
            p
              | J&aacute; tem uma maquininha de cr&eacute;dito e d&eacute;bito bluetooth que conecta com o celular?
               
              | ? Fa&ccedil;a a portabilidade e venha para a Getnet. &Eacute; gr&aacute;tis!
              br
              | Receba em 
              strong 2 dias
              | , com 
              strong
                | 2% de
                | taxa!
             
          .port-c-inicio-v3__video
            h3 Entenda como funciona!
            .port-c-inicio-v3__fluid
              iframe(width='900' height='429' src='https://www.youtube.com/embed/AgGZL9XcMQE?enablejsapi=1&html5=1' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='allowfullscreen')
        p.port-c-inicio-v3__disclaimer
          small
            | Portabilidade v&aacute;lida para a maioria das maquinas do mercado que
            | conectam com o celular por bluetooth. O funcionamento das maquininhas no App SuperGet Mobile est&aacute; sujeito
            | a manuten&ccedil;&atilde;o da compatibilidade atualmente existente. Verifique os termos do contrato com a credenciadora
            | com quem adquiriu sua maquininha para evitar viola&ccedil;&otilde;es de obriga&ccedil;&otilde;es previamente assumidas.
  section#passo-a-passo.port-c-steps
    .port-u-wrapper
      .port-c-steps__content
        .port-c-steps__heading
          h2 Quer trazer o seu neg&oacute;cio para a SuperGet?
          p &Eacute; simples e voc&ecirc; n&atilde;o paga nada. S&atilde;o apenas 4 passos:
        .port-c-steps__tabs
          .port-c-steps__step-by-step
            #port-c-steps__step--1.port-c-steps__step.js-show-step.is-active
              h3.port-c-steps__step-title
                span 1
                strong
                  | Verifique a compatibilidade da sua
                  | maquininha de cart&atilde;o
            #port-c-steps__step--2.port-c-steps__step.js-show-step
              h3.port-c-steps__step-title
                span 2
                strong Fa&ccedil;a o cadastro na SuperGet
            #port-c-steps__step--3.port-c-steps__step.js-show-step
              h3.port-c-steps__step-title
                span 3
                strong
                  | Baixe o App Getnet e crie seu login e
                  | senha
            #port-c-steps__step--4.port-c-steps__step.js-show-step
              h3.port-c-steps__step-title
                span 4
                strong
                  | Baixe o App SuperGet Mobile e fa&ccedil;a o teste
                  | de compatibilidade
          .port-c-steps__container
            .port-c-steps__step-content.js-show-step-content.is-active(aria-labelledby='port-c-steps__step--1')
              p
                | Verifique no manual ou na etiqueta do fabricante da sua maquininha de cart&atilde;o se ela &eacute; um desses modelos: 
                strong PAX D150
                | , 
                strong Gertec MP5
                |  e 
                strong Newland ME30S
                | . Apenas as maquininhas que conectam com o celular s&atilde;o compat&iacute;veis com a portabilidade SuperGet.
            .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--2')
              p
                | Diretamente no site.
                br
                | &Eacute; r&aacute;pido e voc&ecirc; nem precisa sair de casa.
              a.js-trigger-ga-event.port-c-step_cta(href='https://credenciamentodigital.getnet.com.br/#/cadastro?affiliate=true' target='_blank' title='Clique aqui para se cadastrar na Getnet' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__credenciamento-digital')
                | Quero
                | me cadastrar!
            .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--3')
              p
                | Esse login e senha ser&atilde;o utilizados para realizar as suas vendas no App SuperGet. 
                a.js-trigger-ga-event(href='https://site.getnet.com.br/bem-vindo/app-getnet/' target='_blank' title='Clique aqui para se cadastrar na Getnet' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__onboarding')
                  | Saiba como
                  | cadastrar seu acesso no App Getnet
                | .
              ul.port-c-steps_download-apps
                li
                  a.js-trigger-ga-event(href='https://itunes.apple.com/br/app/getnet/id1024724502?mt=8' title='Baixar o App Getnet na App Store' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-getnet--apps-store' target='_blank')
                    img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-app-store@2x.png' title='Imagem com o logotipo de Apple e os dizerem Baixar na App Store')
                li
                  a.js-trigger-ga-event(href='https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR' title='Baixar o App Getnet na Google Play' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-getnet--google-play' target='_blank')
                    img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-android.png' title='Imagem com o logotipo da Play Store e os dizerem Disponível no Google Play')
            .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--4')
              p
                | Conecte a sua maquininha via bluetooth com o celular e fa&ccedil;a o teste de compatibilidade. Sendo compat&iacute;vel, voc&ecirc; ter&aacute; uma SuperGet! Agora &eacute; s&oacute; come&ccedil;ar a vender! 
                a.js-trigger-modal(data-modal='modal-tutorial-bluetooth' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__modal-pareamento' href='#') Veja como conectar
                | .
              ul.port-c-steps_download-apps
                li
                  a.js-trigger-ga-event(href='https://apps.apple.com/br/app/superget-mobile/id1461510055' title='Baixar o App Getnet na App Store' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-superget-mobile--apps-store' target='_blank')
                    img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-app-store@2x.png' title='Imagem com o logotipo de Apple e os dizerem Baixar na App Store')
                li
                  a.js-trigger-ga-event(href='https://play.google.com/store/apps/details?id=br.com.getnet.supergetmobile' title='Baixar o App Getnet na Google Play' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__superget-mobile--google-play' target='_blank')
                    img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-android.png' title='Imagem com o logotipo da Play Store e os dizerem Disponível no Google Play')
  section#taxas.port-c-taxas
    .port-u-wrapper
      h2
        | Vem para a SuperGet
        br
        | e aproveite as taxas exclusivas
      p.port-c-taxas__intro
        | Trazer o seu neg&oacute;cio para a SuperGet significa mais simplicidade e liberdade. A portabilidade &eacute; gr&aacute;tis e voc&ecirc; tem 
        strong taxas especiais para suas vendas!
      .port-c-taxas-offer
        h3.port-c-taxas-offer__red-box-title V&aacute;lido para Pessoa F&iacute;sica e MEI
        .port-c-taxas-offer__red
          h2.port-c-taxas-offer__red-text
            span.port-c-taxas-offer__big 2%
            span.port-c-taxas-offer__medium
              | no 
              strong cr&eacute;dito &agrave; vista
              |  e no
              strong d&eacute;bito
        .port-c-taxas-offer__purple
          h3.port-c-taxas-offer__purple-title Receba j&aacute;! Em at&eacute; 2 dias &uacute;teis na sua conta
          p
            | Mais simplicidade para voc&ecirc; vender mais.
            br
            | Ficou com d&uacute;vidas? Clique aqui e confira melhor as 
            a.js-trigger-modal(data-modal='modal-taxas' data-eventcategory='portabilidade_taxas' data-eventaction='clique' data-eventlabel='portabilidade_taxas_modal-tabela' href='#')
              | taxas
              | aplicadas
            |  e as 
            a.js-trigger-modal(data-modal='modal-regulamento-oferta-taxas' data-eventcategory='portabilidade_taxas' data-eventaction='clique' data-eventlabel='portabilidade_taxas_modal-disclaimer' href='#')
              | condi&ccedil;&otilde;es desse plano de
              | recebimento
            | .
      .port-c-taxas__disclaimer--offer
        small
          | V&aacute;lido para contrata&ccedil;&otilde;es de Pessoa F&iacute;sica e MEI, para
          | cr&eacute;dito &agrave; vista e d&eacute;bito. Sujeita &agrave; an&aacute;lise cadastral.
      .port-c-taxas-2__table-content
        h3.port-c-taxas-2__table-title Outras op&ccedil;&otilde;es de recebimento
        .port-c-taxas-2__table
          .port-c-taxas-2__table-separation.port-c-taxas-2__debito
            h4.port-c-taxas-2__type-title Receba J&aacute; D+30
            hr
            .port-c-taxas-2__credito-colunas
              .port-c-taxas-2__coluna
                span.port-c-taxas-2__periodo d&eacute;bito
                span.port-c-taxas-2__small-purple receba em 1 dia
                div
                  div
                    span.port-c-taxas-2__pagamento-tipo &agrave; vista
                    span.port-c-taxas-2__porcentagem 2,00%
              .port-c-taxas-2__coluna
                span.port-c-taxas-2__periodo cr&eacute;dito
                span.port-c-taxas-2__small-purple receba em 30 dias
                .port-c-taxas-2__coluna-divider
                  .port-c-taxas-2__credito-colunas-divider
                    span.port-c-taxas-2__pagamento-tipo
                      | &agrave;
                      | vista
                    span.port-c-taxas-2__porcentagem 3,09%
                  .port-c-taxas-2__credito-colunas-divider
                    span.port-c-taxas-2__pagamento-tipo parcelado
                    span.port-c-taxas-2__porcentagem.port-c-taxas-2__porcentagem--spaced 3,79%
                    span.port-c-taxas-2__porcentagem-info + 2,99% por parcela
          .port-c-taxas-2__table-separation.port-c-taxas-2__credito
            h4.port-c-taxas-2__type-title Receba conforme suas vendas
            hr
            .port-c-taxas-2__credito-colunas
              .port-c-taxas-2__coluna
                span.port-c-taxas-2__periodo d&eacute;bito
                span.port-c-taxas-2__small-purple receba em 1 dia
                div
                  div
                    span.port-c-taxas-2__pagamento-tipo &agrave; vista
                    span.port-c-taxas-2__porcentagem 1,95%
              .port-c-taxas-2__coluna
                span.port-c-taxas-2__periodo cr&eacute;dito
                span.port-c-taxas-2__small-purple receba parcelado a cada 30 dias
                .port-c-taxas-2__coluna-divider
                  .port-c-taxas-2__credito-colunas-divider
                    span.port-c-taxas-2__pagamento-tipo
                      | &agrave;
                      | vista
                    span.port-c-taxas-2__porcentagem 3,09%
                  .port-c-taxas-2__credito-colunas-divider
                    span.port-c-taxas-2__pagamento-tipo parcelado
                    span.port-c-taxas-2__porcentagem.port-c-taxas-2__porcentagem--spaced 6,40%
      p.port-c-taxas-2__tmodal-text
        | Ficou com d&uacute;vidas? Clique aqui e 
        a.port-c-taxas-2__tmodal.js-trigger-ga-event.js-trigger-modal(href='#' data-modal='modal-taxas' data-eventcategory='portabilidade_taxas' data-eventaction='clique' data-eventlabel='portabilidade_taxas_modal-tabela') entenda melhor as taxas aplicadas
  section#superget-compra.port-c-superget-compra
    .port-u-wrapper
      .port-c-superget-compra__cols
        .port-c-superget-compra__img
          img(src='/portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque.png' srcset='/portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque.png, /portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque@2x.png 2x' alt='Modelos de compra SuperGet com Chip, SuperGet com Chip + Wi-fi, SuperGet Com Bobina e SuperGet Mobile à partir de 12x de R$2,00')
        .port-c-superget-compra__content
          h2 Ainda n&atilde;o tem uma m&aacute;quina de cart&atilde;o?
          p
            | Voc&ecirc; tamb&eacute;m pode comprar uma 
            strong SuperGet Mobile por apenas 12x R$2,00.
            |  Conhe&ccedil;a tamb&eacute;m as outras m&aacute;quinas da linha SuperGet e escolha a m&aacute;quina de cart&atilde;o que mais combina com seu neg&oacute;cio.
          img(src='/portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque.png' srcset='/portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque.png, /portabilidade/public/images/port-c-superget-compra/port-c-superget-compra-destaque@2x.png 2x' alt='Modelos de compra SuperGet com Chip, SuperGet com Chip + Wi-fi, SuperGet Com Bobina e SuperGet Mobile à partir de 12x de R$2,00')
          a.js-trigger-ga-event.port-c-superget-compra__cta(href='https://site.getnet.com.br/maquininha/superget-compra/' title='Clique aqui para ver a SuperGet Compra') Quero minha SuperGet
  section#ajuda.port-c-ajuda
    .port-u-wrapper
      h2
        strong Ficou com d&uacute;vidas sobre?
        |  A gente ajuda a resolver:
      ul
        li
          .port-c-ajuda__header
            a.js-open-faq.js-trigger-ga-event(href='#' title='Clique para ver a resposta' data-eventcategory='portabilidade_faq' data-eventaction='clique' data-eventlabel='lorem ipsum?') O que é a Portabilidade para SuperGet Mobile?
          .port-c-ajuda__content
            p É a possibilidade de utilização do App SuperGet Mobile com a maioria das máquinas com conexão bluetooth disponíveis no mercado, que já foram adquiridas previamente pelos Clientes/Estabelecimentos Comerciais. Dessa forma, você, cliente, pode usufruir das vantagens que os clientes SuperGet tem. 
        li
          .port-c-ajuda__header
            a.js-open-faq.js-trigger-ga-event(href='#' title='Clique para ver a resposta' data-eventcategory='portabilidade_faq' data-eventaction='clique' data-eventlabel='lorem ipsum?') Quais as vantagens de fazer a portabilidade?
          .port-c-ajuda__content
            p As vantagens são você se beneficiar das condições de taxa e prazo de pagamento da SuperGet. 
            |Pessoa Física e MEI (Micro Empreendedor Indiviual) tem taxa de 2% para crédito à vista e débito e recebem em até 2 dias úteis. 
        li
          .port-c-ajuda__header
            a.js-open-faq.js-trigger-ga-event(href='#' title='Clique para ver a resposta' data-eventcategory='portabilidade_faq' data-eventaction='clique' data-eventlabel='lorem ipsum?') Quem é elegível a Portabilidade
          .port-c-ajuda__content
            p Qualquer cliente que tenha feito o Cadastro na SuperGet, baixado o App Getnet e o App SuperGet Mobile e possuir uma maquininha que conecta com o celular por bluetooth compatível com a portabilidade.
        li
          .port-c-ajuda__header
            a.js-open-faq.js-trigger-ga-event(href='#' title='Clique para ver a resposta' data-eventcategory='portabilidade_faq' data-eventaction='clique' data-eventlabel='lorem ipsum?') Quais os modelos de maquininhas compatíveis com o App SuperGet Mobile?
          .port-c-ajuda__content
            p Atualmente a maior dos modelos de maquininhas que conectam com o celular são compatíveis. Os modelos abaixo são os mais utilizados:
               |PAX D150
               |GERTEC MP05
               |ME30S  
               |Caso você tenha outro modelo de maquininha que conecta com o celular, também pode fazer o teste. O nome do equipamento pode ser identificado na própria maquininha.
               |IMPORTANTE: O funcionamento do App SuperGet Mobile em maquininhas que conectam com o celular de outras credenciadoras está sujeito a manutenção da compatibilidade atualmente existente.

    img.port-c-ajuda__graf(src='/portabilidade/public/images/port-c-superdigital/port-c-superdigital-grafismo.svg' aria-hidden='true')
#modal-saiba-sobre-taxas.port-c-modal(aria-hidden='true')
  .port-c-modal__container
    .port-c-modal__wrapper
      a.port-c-modal__close.js-modal-close(href='#') x
      .port-c-modal__content
        .port-c-m-sobre-taxas
          .port-c-m-sobre-taxas__table
            .port-c-m-sobre-taxas__ltitles
              ul
                li
                li venda &agrave; vista
                li venda parceladas
            .port-c-m-sobre-taxas__values
              .port-c-m-sobre-taxas__debito
                h2 d&eacute;bito
                ul
                  li receba em 1 dia
                  li
                    | 1,95%
                    span venda &agrave; vista
                  li &ndash;
              .port-c-m-sobre-taxas__credito
                h2 cr&eacute;dito
                ul
                  li receba em 2 dias
                  li
                    | 4,75%
                    span venda &agrave; vista
                  li
                    | 5,59%
                    sup **
                    span venda parcelada
                ul
                  li receba em 30 dias
                  li
                    | 3,09%
                    span venda &agrave; vista
                  li
                    | 3,79%
                    sup **
                    span venda parcelada
                ul
                  li
                    | receba em at&eacute; 12x
                    sup *
                  li
                    | 3,09%
                    span venda &agrave; vista
                  li
                    | 6,40%
                    span venda parcelada
          p
            | * Nesta op&ccedil;&atilde;o voc&ecirc; ir&aacute; receber de acordo com o parcelamento realizado no momento da venda para o seu cliente. | ** Taxa adicional de 2,99% por parcela.
#modal-superdigital.port-c-modal(aria-hidden='true')
  .port-c-modal__container
    .port-c-modal__wrapper
      a.port-c-modal__close.js-modal-close(href='#') x
      .port-c-modal__content
        .port-c-modal__superdigital
          h2
            strong Conta Superdigital,
            |  uma conta para todo mundo!
          p
            | Com a assinatura 
            strong SUPER ZERO
            |  da Super digital voc&ecirc; n&atilde;o paga taxa mensal e tem diversos servi&ccedil;os ilimitados e gratuitos! Veja mais abaixo:
          h3
            | servi&ccedil;os ilimitados e gratuitos | 
            small R$0/m&ecirc;s
          ul
            li 1 cart&atilde;o f&iacute;sico
            li 5 cart&otilde;es virtuais
            li Dep&oacute;sitos na Superdigital
            li Pagamentos de contas
            li Transfer&ecirc;ncias entre contas Superdigital
            li Recargas de celular
            li C&acirc;mbio em at&eacute; 10 moedas
          h3
            | servi&ccedil;os extras | 
            small R$ 5,90/cada
          ul
            li Saque no Banco24Horas
            li Transfer&ecirc;ncia para bancos (TED)
#modal-taxas.port-c-modal.port-c-modal(aria-hidden='true')
  .port-c-modal__container
    .port-c-modal__wrapper
      a.port-c-modal__close.js-modal-close(href='#') x
      .port-c-modal__content.port-c-modal__taxas
        h2
          strong Informa&ccedil;&otilde;es de taxas
          | para venda no d&eacute;bito e cr&eacute;dito
        p
          | Para maior transpar&ecirc;ncia disponibilizamos todas as taxas cobradas em suas transa&ccedil;&otilde;es de vendas.
        .port-c-modal__taxas__twrap
          table.o-table__plan
            tr
              th.o-table__plan-head.o-table__plan-head--right Plano de recebimento:
              th.o-table__plan-head
                strong 2 dias*
              th.o-table__plan-head
                strong 30 dias*
              th.o-table__plan-head
                strong
                  | Receba conforme
                  br
                  | suas vendas
            tr
              td.o-table__plan-head--right D&eacute;bito:
              td
                | 2,00%
                br
              td 2,00%
              td 1,95%
            tr
              td.o-table__plan-head--right
                | Cr&eacute;dito &agrave; vista:
                br
              td
                | 2,00%
                br
              td 3,09%
              td 3,09%
            tr
              td.o-table__plan-head--right
                | Venda parcelada:
                br
              td
                | 5,59%
                br
              td 3,79%
              td 6,40%
            tr
              td.o-table__plan-head--right Taxa adicional por m&ecirc;s**:
              td 2,99%
              td 2,99%
              td --
        br
        br
        h3
          strong Simula&ccedil;&atilde;o das taxas em uma venda de R$ 100,00
        .port-c-modal__taxas__twrap
          table.o-table-tax-calc
            tr
              th
              th.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(colspan='2')
                | Receber em 2 dias
              th.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(colspan='2')
                | Receber em 30 dias
              th.o-table-tax-calc__border-bottom(colspan='2')
                | Receba conforme
                br
                | suas vendas
            tr
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(rowspan='2')
                | Quantidade
                br
                | de Parcelas
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                | Taxa
                br
                | Padr&atilde;o
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(rowspan='2')
                | Vlr Liq
                br
                | Receber
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                | Taxa
                br
                | Padr&atilde;o
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom.o-table-tax-calc__border-right(rowspan='2')
                | Vlr Liq
                br
                | Receber
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                | Taxa
                br
                | Total***
              td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                | Vlr Liq
                br
                | Receber
            tbody
              tr
                td D&eacute;bito
                td 2,00%*
                td.o-table-tax-calc__bold R$ 98,00
                td 2,00%*
                td.o-table-tax-calc__bold R$ 98,00
                td 1,95%
                td.o-table-tax-calc__bold R$ 98,05
              tr
                td Cr&eacute;dito &agrave; vista
                td 2,00%*
                td.o-table-tax-calc__bold R$ 98,00
                td 3,09%
                td.o-table-tax-calc__bold R$ 96,91
                td 3,09%
                td.o-table-tax-calc__bold R$ 96,91
              tr
                td 2
                td 9,82%
                td.o-table-tax-calc__bold R$ 90,18
                td 8,11%
                td.o-table-tax-calc__bold R$ 91,89
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 3
                td 9,82%
                td.o-table-tax-calc__bold R$ 90,18
                td 8,11%
                td.o-table-tax-calc__bold R$ 91,89
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 4
                td 12,65%
                td.o-table-tax-calc__bold R$ 87,35
                td 10,98%
                td.o-table-tax-calc__bold R$ 89,02
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 5
                td 12,65%
                td.o-table-tax-calc__bold R$ 87,35
                td 10,98%
                td.o-table-tax-calc__bold R$ 89,02
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 6
                td 12,65%
                td.o-table-tax-calc__bold R$ 87,35
                td 10,98%
                td.o-table-tax-calc__bold R$ 89,02
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 7
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 8
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 9
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 10
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 11
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
              tr
                td 12
                td 16,88%
                td.o-table-tax-calc__bold R$ 83,12
                td 15,30%
                td.o-table-tax-calc__bold R$ 84,70
                td 6,40%
                td.o-table-tax-calc__bold R$ 93,60
          p.taxa-adicional-par
            | * Taxas v&aacute;lidas para Pessoa F&iacute;sica e MEI (Micro Empreendedor Individual).
            br
            | ** Taxa adicional para vendas parceladas.
            br
            | *** N&atilde;o inclui taxa de Antecipa&ccedil;&atilde;o de vendas, se contratada.
#modal-regulamento-oferta-taxas.port-c-modal(aria-hidden='true')
  .port-c-modal__container
    .port-c-modal__wrapper
      a.port-c-modal__close.js-modal-close(href='#') x
      .port-c-modal__content
        .port-c-m-regulamento
          h2 confira as condi&ccedil;&otilde;es
          p
            | Condi&ccedil;&atilde;o v&aacute;lida somente para Pessoa F&iacute;sica ou MEI (Microempreendedor Individual) que contratar uma SuperGet Aluguel (com chip) ou Venda (Mobile, 2G, 3G Wifi ou Bobina) com plano de recebimento &quot;Receba J&aacute; 2 dias&quot;. Condi&ccedil;&atilde;o n&atilde;o cumulativa com outras negocia&ccedil;&otilde;es dispon&iacute;veis pela Getnet Adquir&ecirc;ncia e Servi&ccedil;os para Meios de Pagamento S/A ou pelo Banco Santander Brasil SA. Sujeito &agrave; an&aacute;lise cadastral.
#modal-tutorial-bluetooth.port-c-modal(aria-hidden='true')
  .port-c-modal__container
    .port-c-modal__wrapper
      a.port-c-modal__close.js-modal-close(href='#') x
      .port-c-modal__content
        .port-c-m-video
          h2 como conectar a sua m&aacute;quina
          p Selecione o sistema operacional do seu celular:
          .port-c-m-video__btns
            a.port-c-m-video__btn.port-c-m-video__btn--android.js-toggle-video.js-trigger-ga-event.port-c-m-video__btn--active(href='#' title='Veja como fazer a portabilidade da sua máquina por dispositivos Android' data-eventcategory='superget_mobile_video' data-eventaction='clique' data-eventlabel='superget_mobile_video-android') Android 
            a.port-c-m-video__btn.port-c-m-video__btn--ios.js-toggle-video.js-trigger-ga-event(href='#' title='Veja como fazer a portabilidade da sua máquina pelo iPhone' data-eventcategory='superget_mobile_video' data-eventaction='clique' data-eventlabel='superget_mobile_video-ios') iOS
          .port-c-m-video-fluid
            iframe#video-android.port-c-m-video__android.show-video(width='900' height='429' src='https://www.youtube.com/embed/AgGZL9XcMQE?enablejsapi=1&html5;1' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='allowfullscreen')
            iframe#video-ios.port-c-m-video__ios(width='900' height='429' src='https://www.youtube.com/embed/_ywgIvpVw2w?enablejsapi=1&html5;1' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='allowfullscreen')
vtex:template#SuperGetCommon-AjaxLoader
  vtex:template#SuperGetCommon-Overlay
    vtex:template#SuperGet-Desktop-Footer
      vtex:template#SuperGetCommon-Scripts
        vtex:template#SuperGetDesktop-Scripts
          vtex:template#SuperGetCommon-GoogleFonts
            vtex:template#SuperGetCommon-ClearCache
              script(type='text/javascript' src='/arquivos/superget-desktop-home.js')
