
extends ./../_layouts/_desktop-institutional-base.pug

block append vars
    - var $templateName = 'institutional'
    - var $templateClass = 'institutional'

block append institutionalContentLeft
    vtex:template(id='SuperGetCommon-InstitutionalMenu')/

block append institutionalContentRight
    div(class='x-institutional__content')
        <vtex:contentPlaceHolder id="Conteúdo Institucional" />
        <vtex:contentPlaceHolder id="Conteúdo Institucional - Acordeon" />
