
extends ./../_layouts/_desktop-base.pug


//- Template variables
block append vars
    - var $templateName = 'login'
    - var $templateClass = 'login'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/
block append content
    <vtex.cmc:userLogin/>
    
block append scripts
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
