extends ./../_layouts/_desktop-base.pug


//- Template variables
block append vars
    - var $templateName = 'home'
    - var $templateClass = 'home'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/

//- Main Content
block content
    main(class='x-content')
        section(class='x-banner')
            div(class='x-banner__contents')
                <vtex:contentPlaceHolder id="Banner Principal" />
        section(class='x-benefits')
            div(class='x-benefits__center')
                div(class='x-benefits__header')
                    h2
                        | A máquina de cartão com
                        strong os melhores benefícios!
                div(class='x-benefits__contents')
                    ul(class='x-benefits__list')
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgfrete`}/
                            p Frete grátis para todo Brasil
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgtaxa`}/
                            p Sem taxa de adesão
                        li
                            span(class='x-benefits__list--icon')
                                img(src='/arquivos/chip.png')/
                            p Chip e plano de dados grátis
                            p *exceto para superget mobile
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgcelular`}/
                            p Não precisa de celular
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgdolar`}/
                            p Compre à vista ou em até 12x sem juros
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgapps`}/
                            p Gerencie suas vendas no app
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgrecarga`}/
                            p Recarga de celular*
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgcontagratis`}/
                            p Conta Digital Grátis**
                    div(class='x-benefits__info')

        section(id="x-shelf" class='x-shelf')
            div(class='x-shelf__center')
                div(class='x-shelf__header')
                    h2
                        | Escolha a máquina que mais
                        strong Combina com seu negócio
                div(class='x-shelf__contents')
                    div(class='x-shelf__full')
                        <vtex:contentPlaceHolder id="Produtos Destaque" />
        section(class='x-superget-sell')
            div(class='x-superget-sell__center')
                div(class='x-superget-sell__header')
                    h2
                        | Veja como é fácil começar
                        strong a vender com SuperGet
                div(class='x-superget-sell__contents')
                    ul(class='x-superget-sell__list')
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsmachine`}/
                            p Compre a máquina
                            span(class='infoText') Realize a compra da maquininha que mais combina com o seu negócio, à vista ou em até 12x sem juros, frete grátis para todo o Brasil e sem taxa de adesão!
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsuser`}/
                            p Realize o cadastro no site
                            span(class='infoText') Para a utilização da sua maquininha é necessário realizar o credenciamento junto a Getnet. Este credenciamento está sujeito a análise e aprovação. Para clientes que já possuem cadastro na Getnet deverão apenas realizar a ativação da maquininha. É simples, rápido e fácil!
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsmoney`}/
                            p Ative e comece a vender!
                            span(class='infoText') Aqui a ativação da sua maquininha é simples e rápida. Você faz pelo app e já pode começar a vender. Boas vendas!

        section(class='x-rates')
            div(class='x-rates__center')
                div(class='x-rates__header')
                    h2 Receba suas vendas
                        strong com taxas imperdíveis
                    p Todas suas vendas diretamente na sua conta com flexibilidade na escolha #[br/] do prazo de recebimento
                div(class='x-rates__header-percent')
                    div(class='x-rates__header-percent--left')
                        h3 2%
                        p No
                            strong crédito #[br/]
                            strong à vista
                            |e #[br/]no
                            strong débito
                    div(class='x-rates__header-percent--middle')
                        h2 Receba já! em até 2 dias úteis na sua conta
                        p Mais simplicidade para você vender mais. #[br/] Ficou com dúvidas? Clique aqui e confira melhor as #[br/] taxas aplicadas e as condições dessa oferta.
                    div(class='x-rates__header-percent--right')
                        h3 Garanta já a sua
                        a(href="#x-shelf") PEDIR MÁQUINA
                div(class='x-rates__header-percent--text')
                    p Outras opções #[strong de recebimento]
                div(class='x-rates__contents')
                    div(class='x-rates__left')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba já D+30
                        div(class='x-superget-taxas__credito--info-taxas')

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeDinheiro`}/
                                    h4  Débito
                                    p  receba em #[strong 1 dia]

                                    p(class='x-superget-taxas__valores') À vista
                                            strong(class="x-discount") 2,00%

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeCartao`}/
                                    h4  Crédito
                                    P receba em #[strong 30 dia]

                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores x-border') parcelado #[strong 3,79%]
                                        span(class='x-discount') +2,99% por parcela


                    div(class='x-rates__right')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba conforme suas vendas
                        div(class='x-superget-taxas__credito--info-taxas')

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeDinheiro`}/
                                    h4 Débito
                                    p receba em #[strong 1 dia]

                                    p(class='x-superget-taxas__valores') À vista
                                        strong(class="x-discount") 1,95%

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeCartao`}/
                                    h4  Crédito
                                    p  receba em #[strong 30 dia]
                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores x-border' style='border-left:0') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores x-border') parcelado #[strong 6,40%]
                                        span(class='x-discount') +2,99% por parcela

        section(class='x-payments-card')
            div(class='x-payments-card__center')
                div(class='x-payments-card__header')
                    h2
                        | Aceite os principais
                        strong cartões e venda mais!
                div(class='x-payments-card__contents')
                    div(class='x-payments-card__item')
                        div(class='x-payments-card__item--title')
                            h3
                                span(class='x-icon-fisica')
                                |  Pessoa Física
                        div(class='x-payments-card__item--cards')
                            ul
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgmastercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvisa`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgamex`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghipercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghiper`}/
                    div(class='x-payments-card__item')
                        div(class='x-payments-card__item--title')
                            h3
                                span(class='x-icon-juridica')
                                |  Pessoa Jurídica
                        div(class='x-payments-card__item--cards')
                            ul
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgmastercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvisa`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgamex`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghipercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghiper`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgben`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgalelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgsodexo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgticket`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvalerefeicao`}/

        section(class='x-superdigital')
            div(class='x-superdigital__center')
                div(class='x-superdigital__contents')
                    div(class='x-superdigital__item')
                        <vtex:contentPlaceHolder id="Banner SuperDigital" />
                    div(class='x-superdigital__item')
                        <vtex:contentPlaceHolder id="Texto SuperDigital" />
                div(class='x-superdigital__advantages')
                    header(class='x-superdigital__advantages--header')
                        h3
                            | Conheça as vantagens
                            strong de ter uma superdigital
                    ul(class='x-superdigital__advantages--list')
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgrecebimentos`}/
                            p
                                | Recebimento das vendas da sua
                                strong SuperGet
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgpagamentos`}/
                            p Pagamento de contas no site ou aplicativo
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgrecarga`}/
                            p Recarga de Celular
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgcartinternacional`}/
                            p Compras como cartão pré-pago internacional
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgbilheteunico`}/
                            p Recarga de Bilhete Único (apenas para cidade de São Paulo)
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgsaque`}/
                            p
                                | Saque nos caixas eletrônicos
                                strong Santander
                                |  e
                                strong Banco 24 horas
                    div(class='x-superdigital__advantages--cta')
                        a(class='x-button', href='/superdigital') Saiba Mais

        section(class='x-testimonials')
            div(class='x-testimonials__center')
                div(class='x-testimonials__header')
                    h2
                        | Conheça quem escolheu
                        strong crescer com SuperGet
                div(class='x-testimonials__contents')
                    ul(class='x-testimonials__items')
                        <vtex:contentPlaceHolder id="Depoimentos"/>

        section(class='x-faq')
            div(class='x-faq__contents')
                div(class='x-faq__item')
                    <vtex:contentPlaceHolder id="Banner Perguntas Frequentes"/>
                div(class='x-faq__item')
                    div(class='x-faq__item--header')
                        h2 Confira algumas dúvidas frequentes
                    div(class='x-faq__item--container')
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Como posso acompanhar a entrega da minha SuperGet?
                            div(class='x-faq__item--container js--faq-container')
                                | Você pode acompanhar o status da entrega da sua máquina pelo nosso aplicativo! Baixe o APP Getnet e crie um usuário com o seu CPF ou CNPJ. Você receberá a confirmação do pedido no seu e-mail,  e pode acompanhar o status da entrega da sua SuperGet pelo aplicativo.
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Como funciona a SuperDigital?
                            div(class='x-faq__item--container js--faq-container')
                                | Compre sua SuperGet e receba o valor das suas vendas direto na Superdigital, uma conta digital grátis! A Superdigital é igual a um banco, só que mais prática. Sem precisar de uma conta bancária, você compra com o cartão pré-pago Internacional Mastercard® e saca nos caixas da Rede Banco24Horas, recebe e transfere dinheiro pra qualquer banco, paga suas contas direto pelo aplicativo e compra em sites e aplicativos com segurança com o cartão virtual.
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Quando irei receber o valor das minhas vendas?
                            div(class='x-faq__item--container js--faq-container')
                                | Aqui na Getnet, é você que escolhe quando receber suas vendas! Todos os valores de vendas feitas no débito estarão disponíveis para você no dia seguinte, e para receber as vendas a crédito você pode escolher entre receber tudo em 2 dias, 30 dias ou mês a mês conforme o parcelamento realizado no cartão do seu cliente.
                        div(class='x-faq__item--container-cta')
                            a(href='/institucionais/perguntas-frequentes') Veja Mais

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
