
extends ./../_layouts/_desktop-base.pug


//- Template variables
block append vars
    - var $templateName = 'landing-app'
    - var $templateClass = 'landing-app'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/

//- Main Content
block content
    include ./../../common/_partials/landings/app/app.pug

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
