<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
  <head>
    <vtex:template id="SuperGetCommon-ResourceHints"/>
    <vtex:template id="SuperGetCommon-Head"/>
    <vtex:contentPlaceHolder id="TITLE PAGE"/>
    <vtex:metaTags/>
    <vtex:template id="SuperGetCommon-JsonLd"/>
    <vtex:template id="SuperGetCommon-Styles"/>
    <vtex:template id="SuperGetDesktop-Styles"/>
    <link rel="stylesheet" href="/arquivos/superget-desktop-product.css" media="all"/>
    <link rel="stylesheet" href="/arquivos/getnet-modaltaxas.css" media="all"/>
    <vtex:template id="SuperGetCommon-ThemeScripts"/><vtex.cmc:productRichSnippets showFacebook="1"/>
  </head>
  <body><vtex.cmc:productRichSnippets showGoogle="1"/>
    <vtex:template id="SuperGetDesktop-Header"/>
    <section class="x-top-banner">
        <vtex:contentPlaceHolder id="Banner Top" />
    </section>
    <main class="x-product__main" role="main">
          <section class="x__modal__credenciamento x-modal--is-not-open">
				<div class="x__modal__credenciamento__container">
					<div class="x__modal__credenciamento__container__sair">X</div>
					<div class="x__modal__credenciamento__container__conteudo">
						<h2>Você já comprou sua SuperGet? </h2>
						<p>
							Agora é a vez de confirmar alguns dados e escolher onde você vai receber
							suas vendas (esse é o processo do seu credenciamento aos sistemas da Getnet).
						</p>
						<p>
							Não vai demorar mais do que 3 minutinhos.
						</p>
						<span><strong>Vamos para o site da Getnet?</strong></span>
					</div>
					<div class="x__modal__credenciamento__container__carregamento">
						<div class="x__modal__credenciamento__container__carregamento__estado"></div>
					</div>
				</div>
			</section>
		<!--FIM MODAL CREDENCIAMENTO-->


		<!--MODAL AGENDAMENTO-->
			<section class="x__modal__agendamento x-modal--is-not-open">
				<div class="x__modal__agendamento__container">
					<div class="x__modal__agendamento__container__sair">X</div>
					<div class="x__modal__agendamento__container__conteudo">
						<h2>Você quer alugar uma SuperGet? Tudo bem!</h2>
						<p>
							No aluguel, você tem manutenção e substituição da máquina grátis.
							Bom, né? Esteja sempre pronto para vender!
						</p>
						<p>
							Não vai demorar mais do que 3 minutinhos.
						</p>
						<span><strong>Vamos para o site da Getnet?</strong></span>
					</div>
					<div class="x__modal__agendamento__container__carregamento">
						<div class="x__modal__agendamento__container__carregamento__estado"></div>
					</div>
				</div>
			</section>
      <section class="hidden-heading">
        <vtex.cmc:ProductTag/>
        <vtex.cmc:productName/>
        <vtex.cmc:productDescriptionShort/>
        <vtex.cmc:ProductDescription/>
      </section>
      <section class="hidden-heading" id="vtexBreadcrumb">
        <vtex.cmc:breadCrumb/>
      </section>
      <section class="x-product__component" id="productComponent">
        <div class="x-product__wrapper is--hide" rv-remove-class-is--hide="app.state.isFetchingProduct | neg">
          <div class="x-product__img-container" id="productImg">
            <div class="x-product__nav-img-container" id="productNavImg">
              <div class="x-product__nav-img-wrapper" rv-each-img="app.product.navImages"><img class="x-product__nav-img" rv-src="img.imageUrl | getResizeImageByRatio 'width' 525 1" rv-alt="app.product.productName" rv-title="app.product.productName"/></div>
            </div>
            <div class="x-product__main-img-container" id="productMainImg">
              <div class="x-product__main-img-wrapper" rv-each-img="app.product.images"><img class="x-product__main-img" rv-src="img.imageUrl | getResizeImageByRatio 'width' 525 1" rv-alt="app.product.productName" rv-title="app.product.productName"/></div>
            </div>
          </div>
          <div class="x-foo x-product__container">
            <div class="x-product__info">
              <div class="x-product__name-wrapper">
                <div class="x-product__discount" rv-if="app.product.discountPercentage"><span class="x-product__discount-flag"><strong rv-text="app.product.discountPercentage | suffix '%'"></strong>Desconto</span></div>
                <div class="x-black" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="127.279" height="127.279" viewBox="0 0 127.279 127.279">
                          <g id="Group_9" data-name="Group 9" transform="translate(-813.36 -1734.36)">
                            <path id="np_tag_2784821_000000" d="M6.4,58.891,41.109,93.6a4.8,4.8,0,0,0,6.781,0l42.09-42.09A10.565,10.565,0,0,0,93.043,44.8l1.926-26.84A12.095,12.095,0,0,0,82.043,5.031L55.2,6.957a10.565,10.565,0,0,0-6.711,3.062L6.4,52.11a4.8,4.8,0,0,0,0,6.781ZM74.8,16.125a6.413,6.413,0,1,1-1.883,4.539A6.415,6.415,0,0,1,74.8,16.125Z" transform="translate(877 1727.289) rotate(45)"></path>
                            <text id="Black_Week" data-name="Black
                        Week" transform="translate(850.71 1776.874)" fill="#fff" font-size="15" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="16">BLACK</tspan><tspan x="0" y="36">WEEK</tspan></text>
                          </g>
                        </svg>
                        
                        </div>
                <h1 class="x-product__name" rv-text="app.product.productName"></h1>
                <div class="x-product__ref" rv-text="app.product.productReference | prefix 'Código Ref.: '">   </div>
              </div>
              <div class="x-product__price-info" rv-if="app.product.available">
                <del class="x-product__old-price" rv-text="app.product.skuInfo.listPrice | formatPrice | prefix 'de ' ">de R$ 118,80</del>                <!--<div class="x-product_price">-->
                <!--  <ul>-->
                <!--    <li>-->
                <!--      <div class="x-product_price_left_side"><b>-->
                <!--          <p>POR</p>-->
                <!--          <p>12X</p></b></div>-->
                <!--    </li>-->
                <!--    <li>-->
                <!--      <div class="x-product_price_right_side"><b>-->
                <!--          <p class="x-product_price_right_side_preco_parcelas">R$ 2,00</p></b></div>-->
                <!--    </li>-->
                <!--  </ul>-->
                <!--</div>-->
                <div class="x-product__installments" rv-if="app.product.skuInfo.installments | gt 1">
                  <p class="x-product__installments-text"><span rv-text="app.product.skuInfo.installments | prefix 'por ' | suffix 'x'"></span>
                    <span rv-text="app.product.skuInfo.installmentsValue | formatPrice"></span>
                  </p>
                </div>
                <div class="x-product__best-price">
                  ou
                  <span rv-html="app.product.skuInfo.bestPrice | formatPrice | suffix ' à vista no boleto ' "></span>
                </div>
              </div>
              <div class="x-product__price-info" rv-if="app.product.available | neg">
                <p class="x-product__best-price">Produto indisponível</p>
              </div>
            </div>
         
            <div class="x-app_logo">
                <div class="x-free_shipping">
                    <p>FRETE GRÁTIS PRA TODO BRASIL</p>
                </div>
              <ul>
                <li>
                    <!--<a href="#">-->
                    <img id="x-logo_app_image_1" src="/arquivos/logo_aplicativo_exclusivo.png" alt="logo_app_exclusive" />
                    <div class="x-text_logo_exlusive">
                      <p class="x-para_1">Baixe nosso</p>
                      <p class="x-para_2">app exclusivo</p>
                    </div>
                        
                    <!--</a>-->
                        
                    </li>
                <li><img id="x-logo_app_image_2" src="/arquivos/descricao_app_exclusivo.png" alt="descricao_app_exclusivo"/></li>
              </ul>
            </div>
            
            <button class="x-product__cart-btn x-btn x-btn--tertiary-inverse" onclick="document.querySelector('#botao-maquina-4').click()">Comprar</button>
            
          </div>
        </div>
      </section>
      <section class="x-superget-sell">
        <div class="x-superget-sell__center">
          <div class="x-superget-sell__contents">
            <p></p>
          </div>
        </div>
        <div class="x-superget-sell__saiba-mais">
            <p class="more-info">Saiba <span class="more">mais</span><span class="less">menos</span></p>
        </div>
      </section>
      <section class="x-rates">
          <div class="x-rates__center">
            <div class="x-rates__header">
              <h2>Receba suas vendas <strong>com taxas imperdíveis</strong></h2>
              <p>Todas suas vendas diretamente na sua conta com flexibilidade na escolha <br/> do prazo de recebimento</p>
            </div>
            <div class="x-rates__header-percent">
              <div class="x-rates__header-percent--left">
                <h3>2%</h3>
                <p>No <strong>crédito <br/></strong><strong>à vista </strong>e <br/>no <strong>débito</strong></p>
              </div>
              <div class="x-rates__header-percent--middle">
                <h2>Receba já! em até 2 dias úteis na sua conta </h2>
                <p>Mais simplicidade para você vender mais. <br/> Ficou com dúvidas? <strong class="js--open-taxas">Clique aqui</strong> e confira melhor as <br/> taxas aplicadas e as condições dessa oferta.</p>
              </div>
              <div class="x-rates__header-percent--right">
                <h3>Garanta já a sua</h3><a href="##x-comparative">PEDIR MAQUININHA</a>
              </div>
            </div>
            <div class="x-rates__header-percent--text">
              <p>Opções <strong>de recebimento</strong></p>
            </div>
            
            <div>
                <div class="x-rates__contents">
                  <div class="x-rates__first" style="width: 49%;">
                    <div class="x-superget-taxas__credito--titulo">
                      <h3>Receba já D+2</h3>
                    </div>
                    <div class="x-superget-taxas__credito--info-taxas">
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeDinheiro />
                          <h4> Débito </h4>
                          <p> receba em <strong>1 dia</strong> </p>
                          <p class="x-superget-taxas__valores">À vista<strong class="x-discount">2,00%</strong></p>
                        </div>
                      </div>
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeCartao />
                          <h4> Crédito </h4>
                          <P>receba em <strong>2 dias</strong> </P>
                        </div>
                        <div class="x-superget-taxas">
                          <p class="x-superget-taxas__valores">À vista <strong>2,00%</strong></p>
                          <p class="x-superget-taxas__valores x-border">parcelado <span class="x-after"><strong>5,59%</strong></span> <span class="x-discount">+2,99%
                              por parcela</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="x-rates__right" style="width: 49%;">
                    <div class="x-superget-taxas__credito--titulo">
                      <h3>Receba conforme <br/> suas vendas</h3>
                    </div>
                    <div class="x-superget-taxas__credito--info-taxas">
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeDinheiro />
                          <h4>Débito </h4>
                          <p>receba em <strong>1 dia</strong></p>
                          <p class="x-superget-taxas__valores">À vista<strong class="x-discount">1,95%</strong></p>
                        </div>
                      </div>
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeCartao />
                          <h4 class="heigth"> Crédito </h4>
                          <br></br>
                        </div>
                        <div class="x-superget-taxas">
                          <p class="x-superget-taxas__valores x-border" style="border-left:0">À vista  <span class="x-after"><strong>3,09%</strong></span><span class="x-discount">Receba em 31 dias
                            </span></p>
                            <p class="x-superget-taxas__valores x-border">parcelado <span class="x-after"><strong>6,40%</strong></span><span class="x-discount">Recebimento <br/> conforme parcelas
                              </span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </section>
        
        
        
        <section class="x-rates is--hidden">
          <div class="x-rates__center">
            <div class="x-rates__header">
              <h2>Receba suas vendas <strong>com taxas imperdíveis</strong></h2>
              <p>Todas suas vendas diretamente na sua conta com flexibilidade na escolha do prazo de recebimento</p>
            </div>
            <div class="x-rates__contents">
              <div class="x-rates__left">
                <div class="x-superget-taxas__credito--titulo">
                  <h3>
                    <vtex.cmc:iconeDinheiro/>Débito
                  </h3>
                  <p class="x-superget-taxas__info">Receba em<strong>1 dia</strong></p>
                  <p class="x-superget-taxas__valores">Venda à vista<strong>2,00%</strong></p>
                </div>
                <div class="x-superget-taxas__debito--cta">
                  <p>Garanta já a sua</p>
                  <button><a href="#x-shelf">PEDIR MAQUININHA</a></button>
                </div>
              </div>
              <div class="x-rates__right">
                <div class="x-superget-taxas__credito--titulo">
                  <h3>
                    <vtex.cmc:iconeCartao/>Crédito
                  </h3>
                </div>
                <div class="x-superget-taxas__credito--info-taxas">
                  <div class="x-superget-taxas__credito--collum">
                    <p class="x-superget-taxas__info">Receba em<strong>2 dias</strong></p>
                    <p class="x-superget-taxas__valores">Venda à vista<strong>2,00%</strong></p>
                    <p class="x-superget-taxas__valores">Venda parcelada<strong>5,59%<span>+2,99% por parcela</span></strong></p>
                  </div>
                  <div class="x-superget-taxas__credito--collum">
                    <p class="x-superget-taxas__info">Receba em<strong>30 dias</strong></p>
                    <p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
                    <p class="x-superget-taxas__valores">Venda parcelada<strong>3,79%<span>+2,99% por parcela</span></strong></p>
                  </div>
                  <div class="x-superget-taxas__credito--collum">
                    <p class="x-superget-taxas__info">Receba em<strong>12 parcelas</strong></p>
                    <p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
                    <p class="x-superget-taxas__valores">Venda parcelada<strong>6,40%</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="x-superget-taxas__credito--sub-infos"></div>
          </div>
          
        </section>
        <vtex.cmc:paymentsCardDesktop />
        <!-- <section class="x-testimonials">
          <div class="x-testimonials__center">
            <div class="x-testimonials__header">
              <h2>Conheça quem escolheu <strong>crescer com SuperGet</strong></h2>
            </div>
            <div class="x-testimonials__contents">
              <ul class="x-testimonials__items"><vtex:contentPlaceHolder id="Depoimentos"/></ul>
            </div>
          </div>
        </section> -->
        <section class="x-shelf" id="x-shelf">
            <div class="x-shelf__center">
              <div class="x-shelf__header"><vtex:contentPlaceHolder id="Titulo Vitrine"/></div>
              <div class="x-shelf__contents">
                <div class="x-shelf__full"><vtex:contentPlaceHolder id="Vitrine Relacionados"/></div>
              </div>
            </div>
        </section>
    </main>
    
    <div class="x-modal is--hidden">
        <vtex.cmc:modalTaxas/>
    </div>
    
    <vtex:template id="SuperGetCommon-AjaxLoader"/>
    <vtex:template id="SuperGetCommon-Overlay"/>
    <vtex:template id="SuperGet-Desktop-Footer"/>
    <vtex:template id="SuperGetCommon-Scripts"/>
    <vtex:template id="SuperGetDesktop-Scripts"/>
    <vtex:template id="SuperGetCommon-GoogleFonts"/>
    <vtex:template id="SuperGetCommon-ClearCache"/>
    <script type="text/javascript" src="/arquivos/jquery.maskMoney.min.js"></script>
    <script type="text/javascript" src="/arquivos/superget-desktop-product.js"></script>
  </body>
</html>