doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title Getnet | Portabilidade
  vtex:template#SuperGetCommon-ResourceHints
    vtex:template#SuperGetCommon-Head
      vtex:contentplaceholder(id='TITLE PAGE')
        vtex:metatags
          vtex:template#SuperGetCommon-JsonLd
            vtex:template#SuperGetCommon-Styles
              link(rel='stylesheet' href='/arquivos/getnet-modaltaxas.css' media='all')
              link(rel='stylesheet' href='/arquivos/superget-desktop-home.css' media='all')
              link(rel='stylesheet' href='/arquivos/superget-desktop-general.css?v=637048610517570000' media='all')
              vtex:template#SuperGetDesktop-Styles
                vtex:template#SuperGetCommon-ThemeScripts
                  link(href='/arquivos/superget-desktop-portabilidade-layout2.css' rel='stylesheet')
                  link(rel='stylesheet' href='/arquivos/getnet-modaltaxas.css' media='all')
                  script(src='https://sdk.inbenta.io/chatbot/1/inbenta-chatbot-sdk.js')
                  meta(name='google-site-verification' content='sZogK42Tx2TMb35kOvt-vjxxO8bEOAeAxeOVvL8K8T8')
vtex:template#SuperGetDesktop-Header
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W3253GQ' height='0' width='0' style='display:none;visibility:hidden')
  header.port-c-main-header
    .port-u-wrapper
      a.js-navigate-to.port-c-main-header__logo(href='#inicio' title='Clique aqui para voltar ao topo')
        svg#Agrupar_81(data-name='Agrupar 81' xmlns='http://www.w3.org/2000/svg' width='126.516' height='28.402' viewbox='0 0 126.516 28.402')
          path#Caminho_133(data-name='Caminho 133' d='M155.865,179.327a10.615,10.615,0,0,1,.174-1.673,10.362,10.362,0,0,1,.426-1.515,12.132,12.132,0,0,0,2.84.915,15.008,15.008,0,0,0,2.935.315,6.651,6.651,0,0,0,3.392-.71,2.3,2.3,0,0,0,1.183-2.1,2.781,2.781,0,0,0-.41-1.546,4.1,4.1,0,0,0-1.294-1.183,20.169,20.169,0,0,0-2.461-1.247l-1.61-.694a12.614,12.614,0,0,1-2.7-1.531,5.907,5.907,0,0,1-1.688-2,6.005,6.005,0,0,1-.6-2.777,5.709,5.709,0,0,1,.852-3.156,5.4,5.4,0,0,1,2.54-2.035,10.9,10.9,0,0,1,4.213-.71,17.412,17.412,0,0,1,5.775.915,12.366,12.366,0,0,1-.631,3.156,14.523,14.523,0,0,0-2.6-.678,15.584,15.584,0,0,0-2.572-.237,5.114,5.114,0,0,0-3.014.726,2.361,2.361,0,0,0-.994,2.02,2.631,2.631,0,0,0,.836,1.972,8.788,8.788,0,0,0,2.6,1.562l1.7.726a16.514,16.514,0,0,1,3.282,1.8,5.966,5.966,0,0,1,1.815,2.067,5.9,5.9,0,0,1,.584,2.7,5.716,5.716,0,0,1-.915,3.219,5.846,5.846,0,0,1-2.746,2.146,11.642,11.642,0,0,1-4.45.757A15.382,15.382,0,0,1,155.865,179.327Z' transform='translate(-155.865 -157.678)' fill='#ffffff')
          path#Caminho_134(data-name='Caminho 134' d='M247.841,184.758v16.284h-3.219l-.189-2.051a5.669,5.669,0,0,1-4.734,2.43,5.829,5.829,0,0,1-4.355-1.515,6.251,6.251,0,0,1-1.483-4.544v-10.6h3.471v9.815a5.9,5.9,0,0,0,.347,2.225,2.4,2.4,0,0,0,1.12,1.247,4.505,4.505,0,0,0,2.1.41,5.491,5.491,0,0,0,1.862-.316,4.988,4.988,0,0,0,1.609-.947V184.758Z' transform='translate(-216.409 -178.699)' fill='#ffffff')
          path#Caminho_135(data-name='Caminho 135' d='M325.875,185.211a8.338,8.338,0,0,1,2.162,6.185,10.5,10.5,0,0,1-.978,4.734,6.62,6.62,0,0,1-2.888,2.966,9.854,9.854,0,0,1-4.655,1.01,10.239,10.239,0,0,1-2.777-.347v6.028h-3.471V183.949a23.269,23.269,0,0,1,2.9-.631,20.353,20.353,0,0,1,3.156-.253Q323.713,183.065,325.875,185.211Zm-2.667,10.524a5.834,5.834,0,0,0,1.325-4.15,5.915,5.915,0,0,0-1.31-4.1,5.333,5.333,0,0,0-4.15-1.451,13.659,13.659,0,0,0-2.336.221v10.54a10.054,10.054,0,0,0,2.556.347A5.129,5.129,0,0,0,323.209,195.736Z' transform='translate(-278.049 -177.385)' fill='#ffffff')
          path#Caminho_136(data-name='Caminho 136' d='M402.772,192.974H391.695a4.882,4.882,0,0,0,1.609,3.14,5.515,5.515,0,0,0,3.566,1.026,13.692,13.692,0,0,0,2.84-.3,12.616,12.616,0,0,0,2.714-.9q-.253,1.8-.536,3.156a12.186,12.186,0,0,1-5.112,1.01q-4.292,0-6.454-2.241a8.811,8.811,0,0,1-2.162-6.375,11.05,11.05,0,0,1,.8-4.355,6.415,6.415,0,0,1,2.525-2.982,8.037,8.037,0,0,1,4.371-1.089,7.71,7.71,0,0,1,3.992.947A5.769,5.769,0,0,1,402.2,186.6a8.71,8.71,0,0,1,.757,3.692A19.856,19.856,0,0,1,402.772,192.974Zm-11.14-2.9h7.827a4.293,4.293,0,0,0-.994-3.03,3.62,3.62,0,0,0-2.793-1.073Q392.073,185.968,391.632,190.071Z' transform='translate(-336.184 -177.385)' fill='#ffffff')
          path#Caminho_137(data-name='Caminho 137' d='M476.671,183.191a14.443,14.443,0,0,1-.095,1.625,10.787,10.787,0,0,1-.221,1.341,23.582,23.582,0,0,0-2.619-.126,17.209,17.209,0,0,0-2.556.189v13.507h-3.471V183.949a16.225,16.225,0,0,1,2.793-.631,21.324,21.324,0,0,1,3.14-.253A26.733,26.733,0,0,1,476.671,183.191Z' transform='translate(-397.933 -177.385)' fill='#ffffff')
          path#Caminho_138(data-name='Caminho 138' d='M533.3,168.468v11.045a18.367,18.367,0,0,1-3.077.852,17.453,17.453,0,0,1-3.266.315,11.525,11.525,0,0,1-5.886-1.4,8.869,8.869,0,0,1-3.629-3.976,14.018,14.018,0,0,1-1.215-6.043,13.334,13.334,0,0,1,1.31-6.17,8.764,8.764,0,0,1,3.755-3.834,12.148,12.148,0,0,1,5.759-1.294,20.381,20.381,0,0,1,3.282.253,13.384,13.384,0,0,1,2.745.726,9.965,9.965,0,0,1-.41,2.146,15.646,15.646,0,0,0-5.617-1.01,9.409,9.409,0,0,0-4.544,1.042,6.942,6.942,0,0,0-2.951,3.093,10.979,10.979,0,0,0-1.026,4.954,11.919,11.919,0,0,0,.994,5.128,6.991,6.991,0,0,0,2.919,3.187,9.351,9.351,0,0,0,4.671,1.089,13.387,13.387,0,0,0,1.972-.158,18.106,18.106,0,0,0,2-.41v-9.531Z' transform='translate(-435.595 -157.896)' fill='#ffffff')
          path#Caminho_139(data-name='Caminho 139' d='M621.883,192.343H610.175a6.619,6.619,0,0,0,1.7,4.324,5.63,5.63,0,0,0,4.166,1.483,11.389,11.389,0,0,0,2.714-.332,10.116,10.116,0,0,0,2.588-1.026,19.422,19.422,0,0,1-.347,2.115,8.125,8.125,0,0,1-2.351.931,12.4,12.4,0,0,1-2.667.268,8.8,8.8,0,0,1-4.418-1.026,6.628,6.628,0,0,1-2.73-2.951,10.572,10.572,0,0,1-.931-4.639,11.354,11.354,0,0,1,.773-4.324,6.473,6.473,0,0,1,2.414-3,7.246,7.246,0,0,1,4.134-1.1,7.015,7.015,0,0,1,3.8.963,5.777,5.777,0,0,1,2.256,2.6,9.2,9.2,0,0,1,.726,3.756A13.509,13.509,0,0,1,621.883,192.343ZM611.6,186.395a6.592,6.592,0,0,0-1.42,3.961h9.594v-.126a5.763,5.763,0,0,0-1.183-3.834,4.265,4.265,0,0,0-3.456-1.4A4.449,4.449,0,0,0,611.6,186.395Z' transform='translate(-506.76 -177.385)' fill='#ffffff')
          path#Caminho_140(data-name='Caminho 140' d='M692.133,179.475a6.73,6.73,0,0,0,1.357-.379q-.127,1.073-.284,1.894a8.262,8.262,0,0,1-2.84.505,5,5,0,0,1-3.613-1.231,5.086,5.086,0,0,1-1.278-3.819v-17.01a6.68,6.68,0,0,1,1.089-.252,7.4,7.4,0,0,1,1.12-.095v5.744H693.4a15.1,15.1,0,0,1-.221,1.988h-5.491v9.373a3.674,3.674,0,0,0,.773,2.588,3,3,0,0,0,2.288.821A8.089,8.089,0,0,0,692.133,179.475Z' transform='translate(-566.974 -158.773)' fill='#ffffff')
      nav.port-c-main-header__nav
        a.js-open-menu.port-c-main-header__nav__toggler(href='#')
          img.port-c-main-header__nav__toggler__icon(src='https://site.getnet.com.br/wp-content/uploads/2019/08/hamburguer.png' alt='?cone composto por tr?s linhas horizontais empilhadas verticalmente. Representa um menu.')
        .port-c-main-header__nav__menu
          a.js-close-menu.port-c-main-header__nav__menu__close(href='#')
            span.port-c-main-header__nav__menu__close__icon &times;
          ul.port-main-header__nav-items
            li
              a.js-navigate-to(href='#inicio' title='Volte ao topo') In&iacute;cio
            li.port-c-main-header__nav__cta
              a.js-navigate-to(href='#passo-a-passo' title='Veja como fazer a portabilidade para a Getnet') Vou pra SuperGet!
            li
              a.js-navigate-to(href='#taxas' title='Conheçaa as taxas da Getnet') Taxas
            li
              a.js-navigate-to(href='#ajuda' title='Est? com d?vidas sobre a portabilidade? Veja as perguntas mais frequentes') D&uacute;vidas?
  main.port-c-main-content
    section#inicio.port-c-inicio-v3
      .port-u-wrapper
        .port-c-inicio-v3__data
          .port-c-inicio-v3__info
            .port-c-inicio-v3__text
              h1
                span Adeus maquininha,
                |  Ol&aacute; SuperGet!
              p
                | J&aacute; tem uma maquininha que conecta com o celular? Fa&ccedil;a a portabilidade e venha para a SuperGet.
              h2 Receba em 2 dias, com 2% de taxa, para cr&eacute;dito &aacute; vista e d&eacute;bito.
              p.port-c-inicio-v3__cta
                a(href='https://credenciamentodigital.getnet.com.br/#/cadastro?affiliate=true?portability=true' title='Faça a portabilidade para a Getnet' target='_blank' data-eventcategory='portabilidade_banner' data-eventaction='clique' data-eventlabel='portabilidade_banner--ir-para-credenciamento')
                  | Fa&ccedil;a a portabilidade!
            .port-c-inicio-v3__video
              h3 Entenda como funciona!
              .port-c-inicio-v3__fluid
                iframe(width='900' height='429' src='https://www.youtube.com/embed/5TBegkjVy_Q?enablejsapi=1&html5=1&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;' allowfullscreen='0')
          p.port-c-inicio-v3__disclaimer
            small
              | Portabilidade v&aacute;lida para a maioria das m&aacute;quinas do mercado que conectam com o celular por bluetooth. O funcionamento das maquininhas no app SuperGet Mobile est&aacute; sujeito a manuten&ccedil;&atilde;o da compatibilidade atualmente existente. Verifique os termos do contrato com a credenciadora com quem adquiriu sua maquininha para evitar viola&ccedil;&otilde;es de obriga&ccedil;&otilde;es previamente assumidas. Taxa v&aacute;lida para PF e MEI.
    section#passo-a-passo.port-c-steps
      .port-u-wrapper
        .port-c-steps__content
          .port-c-steps__heading
            h2 Quer trazer o seu neg&oacute;cio para a SuperGet?
            p &Eacute; simples, s&atilde;o apenas 4 passos:
          .port-c-steps__tabs
            .port-c-steps__step-by-step
              #port-c-steps__step--1.port-c-steps__step.js-show-step.is-active
                h3.port-c-steps__step-title
                  span 1
                  strong Verifique a compatibilidade da sua maquininha de cart&atilde;o
                .port-c-steps__step-content.js-show-step-content.is-active(aria-labelledby='port-c-steps__step--1')
                  p
                    | Verifique no manual ou na etiqueta do fabricante da sua maquininha de cart&atilde;o se ela &eacute; um desses modelos: 
                    strong PAX D150
                    | , 
                    strong Gertec MP5
                    |  e 
                    strong Newland ME30S
                    | . Apenas as maquininhas que conectam com o celular s&atilde;o compat&iacute;veis com a portabilidade SuperGet.
              #port-c-steps__step--2.port-c-steps__step.js-show-step
                h3.port-c-steps__step-title
                  span 2
                  strong Fa&ccedil;a o cadastro na SuperGet
                .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--2')
                  p
                    | Diretamente no site.
                    br
                    | &eacute; r&aacute;pido e voc&ecirc; nem precisa sair de casa.
                  a.js-trigger-ga-event.port-c-step_cta(href='https://credenciamentodigital.getnet.com.br/#/cadastro?affiliate=true?portability=true' target='_blank' title='Clique aqui para se cadastrar na Getnet' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__credenciamento-digital') Quero me cadastrar!
              #port-c-steps__step--3.port-c-steps__step.js-show-step
                h3.port-c-steps__step-title
                  span 3
                  strong Baixe o app Getnet e crie seu login e senha
                .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--3')
                  p
                    | Esse login e senha ser&atilde;o utilizados para realizar as suas vendas no App SuperGet. 
                    a.js-trigger-ga-event(href='https://site.getnet.com.br/bem-vindo/app-getnet/' target='_blank' title='Clique aqui para se cadastrar na Getnet' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__onboarding') Saiba como cadastrar seu acesso no app Getnet
                    | .
                  ul.port-c-steps_download-apps
                    li
                      a.js-trigger-ga-event(href='https://itunes.apple.com/br/app/getnet/id1024724502?mt=8' title='Baixar o app Getnet na app Store' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-getnet--apps-store' target='_blank')
                        img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-app-store@2x.png' title='Imagem com o logotipo de Apple e os dizerem Baixar na App Store')
                    li
                      a.js-trigger-ga-event(href='https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR' title='Baixar o app Getnet na Google Play' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-getnet--google-play' target='_blank')
                        img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-android.png' title='Imagem com o logotipo da Play Store e os dizerem Dispon?vel no Google Play')
              #port-c-steps__step--4.port-c-steps__step.js-show-step
                h3.port-c-steps__step-title
                  span 4
                  strong Baixe o app SuperGet Mobile e fa&ccedil;a o teste de compatibilidade da sua maquininha
                .port-c-steps__step-content.js-show-step-content(aria-labelledby='port-c-steps__step--4')
                  p
                    | Conecte a sua maquininha via 
                    em bluetooth
                    |  com o celular e fa&ccedil;a o teste de compatibilidade. Sendo compat&iacute;vel, voc&ecirc; ter&aacute; uma SuperGet! Agora &eacute; s&oacute; come&ccedil;ar a vender! 
                    a.js-trigger-modal(data-modal='modal-tutorial-bluetooth' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__modal-pareamento' href='#') Veja como conectar
                    | .
                  ul.port-c-steps_download-apps
                    li
                      a.js-trigger-ga-event(href='https://apps.apple.com/br/app/superget-mobile/id1461510055' title='Baixar o app Getnet na App Store' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__app-superget-mobile--apps-store' target='_blank')
                        img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-app-store@2x.png' title='Imagem com o logotipo de apple e os dizerem Baixar na app Store')
                    li
                      a.js-trigger-ga-event(href='https://play.google.com/store/apps/details?id=br.com.getnet.supergetmobile' title='Baixar o app Getnet na Google Play' data-eventcategory='portabilidade_passo-a-passo' data-eventaction='clique' data-eventlabel='portabilidade_passo-a-passo__superget-mobile--google-play' target='_blank')
                        img(src='https://site.getnet.com.br/wp-content/themes/getnet/public/images/selo-android.png' title='Imagem com o logotipo da Play Store e os dizerem Dispon?vel no Google Play')
                  small
                    | Observa&ccedil;&atilde;o: A libera&ccedil;&atilde;o do seu cadastro pode levar alguns minutos. Caso n&atilde;o consiga acessar o app SuperGet Mobile de imediato, por favor aguarde 30 minutos antes de tentar novamente.
    section#taxas.port-c-taxas
      .port-u-wrapper
        h2
          strong Receba suas vendas
          |  com taxas imperd&iacute;veis
        p.port-c-taxas__intro
          | Todas suas vendas diretamente na sua conta com flexibilidade na escolha do prazo de recebimento
        .port-c-taxas-offer
          .port-c-taxas-offer__tag
            h2.port-c-taxas-offer__tag-text
              span.port-c-taxas-offer__tag-text--big 2%
              span.port-c-taxas-offer__tag-text--medium
                | no 
                strong cr&eacute;dito &aacute; vista
                |  e no 
                strong d&eacute;bito
          .port-c-taxas-offer__content
            h3.port-c-taxas-offer__content-title Receba j&aacute;! Em at&eacute; 2 dias &uacute;teis na sua conta
            p
              | Mais simplicidade para voc&ecirc; vender mais. Ficou com d&uacute;vidas? Confira melhor as 
              a.js-trigger-modal(data-modal='modal-taxas' data-eventcategory='superget_taxas_passo1' data-eventaction='clique' data-eventlabel='saiba-mais_taxas' href='#') taxas aplicadas
              |  e as 
              a.js-trigger-modal(data-modal='modal-regulamento-oferta-taxas' data-eventcategory='superget_taxas_regulamento_oferta' data-eventaction='clique' data-eventlabel='consulte_regulamento_oferta-taxas' href='#') condi&ccedil;&otilde;es deste plano de recebimento.
          .port-c-taxas-offer__cta
            h4.port-c-taxas-offer__cta-title Garanta j&aacute; a sua SuperGet!
            a.js-trigger-ga-event.js-navigate-to.port-c-taxas-offer__cta--btn(href='https://www.superget.com.br/#x-shelf' title='Clique aqui para escolher a sua SuperGet' data-eventcategory='superget_taxas_passo1' data-eventaction='clique' data-eventlabel='escolha_sua_superget') eu quero!
        .port-c-taxas__disclaimer--offer
          small
            | V&aacute;lido para contrata&ccedil;&otilde;es de Pessoa F&iacute;sica e MEI, para cr&eacute;dito &aacute; vista e d&eacute;bito.
            br
            | Sujeita &aacute; an&aacute;lise cadastral.
        .port-c-taxas-2__table
          h3.port-c-taxas-2__table--main-title Op&ccedil;&otilde;es de recebimento
          .port-c-taxas-2__table--cards
            .port-c-taxas-2__table--card
              h4.port-c-taxas-2__table--title Receba j&aacute; D+2
              .port-c-taxas-2__table--content
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito@2x.png 2x' alt='?cone de uma carteira' title='Taxa de d?bito')
                    |  D&eacute;bito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 1 dia
                  span.port-c-taxas-2__table--opt-payment &Agrave; vista
                  span.port-c-taxas-2__table--opt-percent 2,00%
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito@2x.png 2x' alt='?cone de um cart?o de cr?dito' title='Taxa de cr?dito')
                    |  Cr&eacute;dito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 2 dias
                  .port-c-taxas-2__table--opt-taxes
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment &Agrave; vista
                      span.port-c-taxas-2__table--opt-percent 2,00%
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment Parcelado
                      span.port-c-taxas-2__table--opt-percent 5,59%
                      span.port-c-taxas-2__table--opt-percent-extra + 2,99% por parcela
            .port-c-taxas-2__table--card
              h4.port-c-taxas-2__table--title Receba j&aacute; D+30
              .port-c-taxas-2__table--content
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito@2x.png 2x' alt='?cone de uma carteira' title='Taxa de d?bito')
                    |  D&eacute;bito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 1 dia
                  span.port-c-taxas-2__table--opt-payment &Agrave; vista
                  span.port-c-taxas-2__table--opt-percent 2,00%
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito@2x.png 2x' alt='?cone de um cart?o de cr?dito' title='Taxa de cr?dito')
                    |  Cr&eacute;dito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 30 dias
                  .port-c-taxas-2__table--opt-taxes
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment &Agrave; vista
                      span.port-c-taxas-2__table--opt-percent 3,09%
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment Parcelado
                      span.port-c-taxas-2__table--opt-percent 3,79%
                      span.port-c-taxas-2__table--opt-percent-extra + 2,99% por parcela
            .port-c-taxas-2__table--card
              h4.port-c-taxas-2__table--title Receba conforme suas vendas
              .port-c-taxas-2__table--content
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-debito@2x.png 2x' alt='?cone de uma carteira' title='Taxa de d?bito')
                    |  D&eacute;bito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 1 dia
                  span.port-c-taxas-2__table--opt-payment &Agrave; vista
                  span.port-c-taxas-2__table--opt-percent 1,95%
                .port-c-taxas-2__table--opt
                  span.port-c-taxas-2__table--opt-type
                    img(src='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito.png, https://site.getnet.com.br/wp-content/uploads/2019/09/icon-taxa-credito@2x.png 2x' alt='?cone de um cart?o de cr?dito' title='Taxa de cr?dito')
                    |  Cr&eacute;dito
                  span.port-c-taxas-2__table--opt-period
                    | receba em: 
                    strong 30 dias
                  .port-c-taxas-2__table--opt-taxes
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment &Agrave; vista
                      span.port-c-taxas-2__table--opt-percent 3,09%
                    .port-c-taxas-2__table--opt-tax
                      span.port-c-taxas-2__table--opt-payment Parcelado
                      span.port-c-taxas-2__table--opt-percent 6,40%
        p.port-c-taxas-2__tmodal-text
          | Ficou com d&uacute;vidas? Clique aqui e 
          a.port-c-taxas-2__tmodal.js-trigger-ga-event.js-trigger-modal(href='#' data-modal='modal-taxas' data-eventcategory='superget_taxas_passo1' data-eventaction='clique' data-eventlabel='saiba-mais_taxas') entenda melhor as taxas aplicadas
    section#superget-compra.port-c-superget-compra
      .port-u-wrapper
        .port-c-superget-compra__cols
          .port-c-superget-compra__img
            img(src='https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque.png, https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque@2x.png 2x' alt='Modelos de compra SuperGet com Chip, SuperGet com Chip + Wi-fi, SuperGet Com Bobina e SuperGet Mobile ? partir de 12x de R$2,00')
          .port-c-superget-compra__content
            h2 Ainda n&atilde;o tem uma m&aacute;quina de cart&atilde;o?
            p
              | Voc&ecirc; tamb&eacute;m pode comprar uma 
              strong SuperGet Mobile por apenas 12x R$2,00.
              |  Conhe&ccedil;a tamb&eacute;m as outras m&aacute;quinas da linha SuperGet e escolha a m&aacute;quina de cart&atilde;o que mais combina com seu neg&oacute;cio.
            img(src='https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque.png, https://site.getnet.com.br/wp-content/uploads/2019/07/port-c-superget-compra-destaque@2x.png 2x' alt='Modelos de compra SuperGet com Chip, SuperGet com Chip + Wi-fi, SuperGet Com Bobina e SuperGet Mobile ? partir de 12x de R$2,00')
            a.js-trigger-ga-event.port-c-superget-compra__cta(href='https://www.superget.com.br/#x-shelf' title='Clique aqui para ver a SuperGet Compra') Quero minha SuperGet
  footer.port-c-main-footer
    section.port-c-main-footer__sitemap
      .port-u-wrapper
        .port-c-main-footer__container
          .port-c-main-footer__signature
            img(src='https://site.getnet.com.br/wp-content/uploads/2019/07/logo-getnet.png' srcset='https://site.getnet.com.br/wp-content/uploads/2019/07/logo-getnet.png, https://site.getnet.com.br/wp-content/uploads/2019/07/logo-getnet.png 2x' alt='Logo Getnet, uma empresa Santander' title='Getnet - Uma empresa Santander')
            a.js-trigger-ga-event.port-c-main-footer__cta(href='https://site.getnet.com.br/' title='Clique aqui para ver a SuperGet Compra') Visite o site da Getnet
          nav.port-c-main-footer__nav
            ul
              li
                a.js-navigate-to(href='#inicio' title='Volte ao topo') In&iacute;cio
              li.port-c-main-header__nav__cta
                a.js-navigate-to(href='#passo-a-passo' title='Veja como fazer a portabilidade para a Getnet') Vou pra SuperGet!
              li
                a.js-navigate-to(href='#taxas' title='Conhe?a as taxas da Getnet') Taxas
              li
                a.js-navigate-to(href='#superget-compra' title='Ainda não tem uma SuperGet? Compre a sua!') Compre sua SuperGet
              li
                a.js-navigate-to(href='#ajuda' title='Está com dúvidas sobre a portabilidade? Veja as perguntas mais frequentes') D&uacute;vidas?
  #modal-saiba-sobre-taxas.port-c-modal(aria-hidden='true')
    .port-c-modal__container
      .port-c-modal__wrapper
        a.port-c-modal__close.js-modal-close(href='#') &times;
        .port-c-modal__content
          .port-c-m-sobre-taxas
            .port-c-m-sobre-taxas__table
              .port-c-m-sobre-taxas__ltitles
                ul
                  li
                  li venda &aacute; vista
                  li venda parceladas
              .port-c-m-sobre-taxas__values
                .port-c-m-sobre-taxas__debito
                  h2 d&eacute;bito
                  ul
                    li receba em 1 dia
                    li
                      | 1,95%
                      span venda &aacute; vista
                    li ?
                .port-c-m-sobre-taxas__credito
                  h2 cr&eacute;dito
                  ul
                    li receba em 2 dias
                    li
                      | 4,75%
                      span venda &aacute; vista
                    li
                      | 5,59%
                      sup **
                      span venda parcelada
                  ul
                    li receba em 30 dias
                    li
                      | 3,09%
                      span venda &aacute; vista
                    li
                      | 3,79%
                      sup **
                      span venda parcelada
                  ul
                    li
                      | receba em at&eacute; 12x
                      sup *
                    li
                      | 3,09%
                      span venda &aacute; vista
                    li
                      | 6,40%
                      span venda parcelada
            p
              | * Nesta op&ccedil;&atilde;o voc&ecirc; ir&aacute; receber de acordo com o parcelamento realizado no momento da venda para o seu cliente. | ** Taxa adicional de 2,99% por parcela.
  #modal-taxas.port-c-modal.port-c-modal(aria-hidden='true')
    .port-c-modal__container
      .port-c-modal__wrapper
        a.port-c-modal__close.js-modal-close(href='#') &times;
        .port-c-modal__content.port-c-modal__taxas
          h2
            strong Informa&ccedil;&otilde;es de taxas
            | para venda no d&eacute;bito e cr&eacute;dito
          p
            | Para maior transpar&ecirc;ncia disponibilizamos todas as taxas cobradas em suas transa&ccedil;&otilde;es de vendas.
          .port-c-modal__taxas__twrap
            table.o-table__plan
              tr
                th.o-table__plan-head.o-table__plan-head--right Plano de recebimento:
                th.o-table__plan-head
                  strong 2 dias*
                th.o-table__plan-head
                  strong 30 dias*
                th.o-table__plan-head
                  strong
                    | Receba conforme
                    br
                    | suas vendas
              tr
                td.o-table__plan-head--right D&eacute;bito:
                td
                  | 2,00%
                  br
                td 2,00%
                td 1,95%
              tr
                td.o-table__plan-head--right
                  | Cr&eacute;dito &aacute; vista:
                  br
                td
                  | 2,00%
                  br
                td 3,09%
                td 3,09%
              tr
                td.o-table__plan-head--right
                  | Venda parcelada:
                  br
                td
                  | 5,59%
                  br
                td 3,79%
                td 6,40%
              tr
                td.o-table__plan-head--right Taxa adicional por m&ecirc;s**:
                td 2,99%
                td 2,99%
                td --
          br
          br
          h3
            strong Simula&ccedil;&atilde;o das taxas em uma venda de R$ 100,00
          .port-c-modal__taxas__twrap
            table.o-table-tax-calc
              tr
                th
                th.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(colspan='2') Receber em 2 dias
                th.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(colspan='2') Receber em 30 dias
                th.o-table-tax-calc__border-bottom(colspan='2')
                  | Receba conforme
                  br
                  | suas vendas
              tr
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(rowspan='2')
                  | Quantidade
                  br
                  | de Parcelas
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                  | Taxa
                  br
                  | Padr&atilde;o
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-right.o-table-tax-calc__border-bottom(rowspan='2')
                  | Vlr Liq
                  br
                  | Receber
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                  | Taxa
                  br
                  | Padr&atilde;o
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom.o-table-tax-calc__border-right(rowspan='2')
                  | Vlr Liq
                  br
                  | Receber
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                  | Taxa
                  br
                  | Total***
                td.o-table-tax-calc__subheader.o-table-tax-calc__border-bottom(rowspan='2')
                  | Vlr Liq
                  br
                  | Receber
              tbody
                tr
                  td D&eacute;bito
                  td 2,00%*
                  td.o-table-tax-calc__bold R$ 98,00
                  td 2,00%*
                  td.o-table-tax-calc__bold R$ 98,00
                  td 1,95%
                  td.o-table-tax-calc__bold R$ 98,05
                tr
                  td Cr&eacute;dito &aacute; vista
                  td 2,00%*
                  td.o-table-tax-calc__bold R$ 98,00
                  td 3,09%
                  td.o-table-tax-calc__bold R$ 96,91
                  td 3,09%
                  td.o-table-tax-calc__bold R$ 96,91
                tr
                  td 2
                  td 9,82%
                  td.o-table-tax-calc__bold R$ 90,18
                  td 8,11%
                  td.o-table-tax-calc__bold R$ 91,89
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 3
                  td 9,82%
                  td.o-table-tax-calc__bold R$ 90,18
                  td 8,11%
                  td.o-table-tax-calc__bold R$ 91,89
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 4
                  td 12,65%
                  td.o-table-tax-calc__bold R$ 87,35
                  td 10,98%
                  td.o-table-tax-calc__bold R$ 89,02
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 5
                  td 12,65%
                  td.o-table-tax-calc__bold R$ 87,35
                  td 10,98%
                  td.o-table-tax-calc__bold R$ 89,02
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 6
                  td 12,65%
                  td.o-table-tax-calc__bold R$ 87,35
                  td 10,98%
                  td.o-table-tax-calc__bold R$ 89,02
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 7
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 8
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 9
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 10
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 11
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
                tr
                  td 12
                  td 16,88%
                  td.o-table-tax-calc__bold R$ 83,12
                  td 15,30%
                  td.o-table-tax-calc__bold R$ 84,70
                  td 6,40%
                  td.o-table-tax-calc__bold R$ 93,60
            p.taxa-adicional-par
              | * Taxas v&aacute;lidas para Pessoa F&iacute;sica e MEI (Micro Empreendedor Individual).
              br
              | ** Taxa adicional para vendas parceladas.
              br
              | *** N&atilde;o inclui taxa de Antecipa&ccedil;&atilde;o de vendas, se contratada.
  #modal-regulamento-oferta-taxas.port-c-modal(aria-hidden='true')
    .port-c-modal__container
      .port-c-modal__wrapper
        a.port-c-modal__close.js-modal-close(href='#') &times;
        .port-c-modal__content
          .port-c-m-regulamento
            h2 confira as condi&ccedil;&otilde;es
            p
              | Condi&ccedil;&atilde;o v&aacute;lida somente para Pessoa F&iacute;sica ou MEI (Microempreendedor Individual) que contratar uma SuperGet Aluguel (com chip) ou Venda (Mobile, 2G, 3G Wifi ou Bobina) com plano de recebimento &quot;Receba J&aacute; 2 dias&quot;. Condi&ccedil;&atilde;o n&atilde;o cumulativa com outras negocia&ccedil;&otilde;es dispon&iacute;veis pela Getnet Adquir&ecirc;ncia e Servi&ccedil;os para Meios de Pagamento S/A ou pelo Banco Santander Brasil SA. Sujeito &aacute; an&aacute;lise cadastral.
  #modal-tutorial-bluetooth--old.port-c-modal(aria-hidden='true')
    .port-c-modal__container
      .port-c-modal__wrapper
        a.port-c-modal__close.js-modal-close(href='#') &times;
        .port-c-modal__content
          .port-c-m-video
            h2 como conectar a sua m&aacute;quina
            p Selecione o sistema operacional do seu celular:
            .port-c-m-video__btns
              a.port-c-m-video__btn.port-c-m-video__btn--android.js-toggle-video.js-trigger-ga-event.port-c-m-video__btn--active(href='#' title='Veja como fazer a portabilidade da sua m?quina por dispositivos Android' data-eventcategory='superget_mobile_video' data-eventaction='clique' data-eventlabel='superget_mobile_video-android') Android 
              a.port-c-m-video__btn.port-c-m-video__btn--ios.js-toggle-video.js-trigger-ga-event(href='#' title='Veja como fazer a portabilidade da sua m?quina pelo iPhone' data-eventcategory='superget_mobile_video' data-eventaction='clique' data-eventlabel='superget_mobile_video-ios') iOS
            .port-c-m-video-fluid
              iframe#video-android.port-c-m-video__android.show-video(width='900' height='429' src='https://www.youtube.com/embed/AgGZL9XcMQE?enablejsapi=1&html5=1&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='0')
              iframe#video-android.port-c-m-video__android.show-video(width='529' height='280' src='https://www.youtube.com/embed/6r5Rvz8jINk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='0')
              iframe#video-ios.port-c-m-video__ios(width='900' height='429' src='https://www.youtube.com/embed/_ywgIvpVw2w?enablejsapi=1&html5=1&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='0')
  #modal-tutorial-bluetooth.port-c-modal(aria-hidden='true')
    .port-c-modal__container
      .port-c-modal__wrapper
        a.port-c-modal__close.js-modal-close(href='#') &times;
        .port-c-modal__content
          .port-c-m-video
            h2 como conectar a sua maquininha
            p
              | Veja como transformar a sua maquininha em uma SuperGet atrav&eacute;s do App SuperGet Mobile:
            br
            .port-c-m-video-fluid
              iframe#video-android.port-c-m-video__android.show-video(width='900' height='429' src='https://www.youtube.com/embed/XbvoCoUlsGw?enablejsapi=1&html5=1&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='0')
  script(src='/arquivos/superget-desktop-portabilidade-layout2.js')
  script(src='/arquivos/superget-desktop-portabilidade-layoutapp.js')
  vtex:template#SuperGet-Desktop-Footer
    script.
      // global variable for the player
      var playerIOS;
      //var playerAndroid;
      function onYouTubePlayerAPIReady() {
      // playerIOS = new YT.Player('video-ios', {
      //   events: {
      //     'onReady': onPlayerReady
      //   }
      // });
      playerAndroid = new YT.Player('video-android', {
      events: {
      // call this function when player is ready to use
      'onReady': onPlayerReady
      }
      });
      }
      function onPlayerReady(event) {
      var pauseButtons = document.querySelectorAll('.port-c-modal a');
      [].forEach.call(pauseButtons, function(pauseButton) {
      pauseButton.addEventListener("click", function() {
      // playerIOS.pauseVideo();
      playerAndroid.pauseVideo();
      });
      });
      }
      // Inject YouTube API script
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      //hide button
      var headerList = document.querySelector('.x-header__info--list');
      headerList.style.justifyContent="space-around";
      var btnPortabilidade = document.querySelector('.x-header__info--item:nth-of-type(2)');
      btnPortabilidade.style.display="none";
      <div class="x-modal is--hidden modal-taxas port-c-modal" id="modal-taxas">
      <vtex.cmc:modalTaxas/>
      </div>
      <vtex:template id="SuperGetCommon-AjaxLoader"/>
      <vtex:template id="SuperGetCommon-Overlay"/>
      <vtex:template id="SuperGetCommon-Scripts"/>
      <vtex:template id="SuperGetDesktop-Scripts"/>
      <vtex:template id="SuperGetCommon-GoogleFonts"/>
      <vtex:template id="SuperGetCommon-ClearCache"/>
