svg(xmlns='http://www.w3.org/2000/svg', width='108.218', height='31.056', viewBox='0 0 108.218 31.056')
  g(transform='translate(-0.724 -0.723)')
    path(d='M109.108,28.833a3.113,3.113,0,0,1-3.116,3.113H4.01A3.117,3.117,0,0,1,.89,28.833V4.007A3.121,3.121,0,0,1,4.01.89h101.98a3.116,3.116,0,0,1,3.116,3.117V28.833Z', transform='translate(-0.167 -0.167)')
    g(transform='translate(10.397 5.053)')
      path(d='M26.883,18.4a4.712,4.712,0,0,1,2.244-3.953,4.826,4.826,0,0,0-3.8-2.055c-1.6-.168-3.15.957-3.964.957-.831,0-2.085-.94-3.437-.913a5.06,5.06,0,0,0-4.259,2.6c-1.842,3.189-.468,7.874,1.3,10.452.883,1.262,1.914,2.672,3.264,2.622,1.321-.054,1.814-.842,3.408-.842s2.043.842,3.419.81c1.418-.023,2.31-1.268,3.162-2.542a10.43,10.43,0,0,0,1.446-2.945A4.555,4.555,0,0,1,26.883,18.4Z', transform='translate(-12.792 -7.369)', fill='#fff')
      path(d='M26.213,9.541a4.638,4.638,0,0,0,1.062-3.324A4.724,4.724,0,0,0,24.22,7.8,4.414,4.414,0,0,0,23.13,11,3.9,3.9,0,0,0,26.213,9.541Z', transform='translate(-14.723 -6.217)', fill='#fff')
    g(transform='translate(34.471 14.631)')
      path(d='M51.542,29.013H49.7l-1.011-3.177H45.17l-.963,3.177h-1.8L45.892,18.2h2.151ZM48.38,24.5l-.914-2.824q-.145-.433-.545-2.038h-.033q-.16.69-.514,2.038l-.9,2.824Z', transform='translate(-42.41 -18.038)', fill='#fff')
      path(d='M62.932,25.675a4.432,4.432,0,0,1-1.075,3.145,3.144,3.144,0,0,1-2.391,1.027,2.391,2.391,0,0,1-2.215-1.107h-.033v4.109H55.485v-8.41q0-1.251-.064-2.568h1.524l.1,1.236h.033a3.083,3.083,0,0,1,4.935-.306A4.3,4.3,0,0,1,62.932,25.675Zm-1.765.063a3.211,3.211,0,0,0-.514-1.878,1.774,1.774,0,0,0-1.509-.771,1.8,1.8,0,0,0-1.163.425,1.972,1.972,0,0,0-.682,1.116,2.268,2.268,0,0,0-.08.528v1.3a2.084,2.084,0,0,0,.522,1.437,1.73,1.73,0,0,0,1.356.586,1.774,1.774,0,0,0,1.524-.754A3.32,3.32,0,0,0,61.167,25.738Z', transform='translate(-44.846 -18.695)', fill='#fff')
      path(d='M73.969,25.675a4.429,4.429,0,0,1-1.076,3.145,3.141,3.141,0,0,1-2.39,1.027,2.389,2.389,0,0,1-2.214-1.107h-.033v4.109H66.523v-8.41q0-1.251-.064-2.568h1.524l.1,1.236h.033a3.084,3.084,0,0,1,4.935-.306A4.309,4.309,0,0,1,73.969,25.675Zm-1.765.063a3.211,3.211,0,0,0-.514-1.878,1.772,1.772,0,0,0-1.508-.771,1.8,1.8,0,0,0-1.164.425,1.971,1.971,0,0,0-.681,1.116,2.313,2.313,0,0,0-.08.528v1.3a2.09,2.09,0,0,0,.52,1.437,1.733,1.733,0,0,0,1.357.586,1.774,1.774,0,0,0,1.524-.754A3.32,3.32,0,0,0,72.2,25.738Z', transform='translate(-46.912 -18.695)', fill='#fff')
      path(d='M86.493,25.943a2.883,2.883,0,0,1-.961,2.247,4.258,4.258,0,0,1-2.946.947,5.158,5.158,0,0,1-2.8-.674l.4-1.444a4.75,4.75,0,0,0,2.505.691,2.368,2.368,0,0,0,1.526-.442,1.444,1.444,0,0,0,.545-1.182,1.507,1.507,0,0,0-.449-1.109,4.178,4.178,0,0,0-1.492-.836q-2.841-1.059-2.84-3.1a2.745,2.745,0,0,1,1-2.186A3.925,3.925,0,0,1,83.622,18a5.25,5.25,0,0,1,2.455.514l-.433,1.413a4.259,4.259,0,0,0-2.07-.5,2.1,2.1,0,0,0-1.427.449,1.284,1.284,0,0,0-.433.979,1.322,1.322,0,0,0,.5,1.059,5.613,5.613,0,0,0,1.574.835,5.339,5.339,0,0,1,2.054,1.315A2.748,2.748,0,0,1,86.493,25.943Z', transform='translate(-49.406 -18.001)', fill='#fff')
      path(d='M93.994,22.761h-1.91v3.787q0,1.445,1.011,1.444a3.082,3.082,0,0,0,.77-.08l.048,1.316a3.926,3.926,0,0,1-1.348.192,2.079,2.079,0,0,1-1.605-.626,3.074,3.074,0,0,1-.578-2.1V22.759H89.244v-1.3h1.138V20.031l1.7-.514v1.942h1.91v1.3Z', transform='translate(-51.177 -18.285)', fill='#fff')
      path(d='M103.932,25.707A4.279,4.279,0,0,1,102.9,28.66a3.668,3.668,0,0,1-2.858,1.188,3.488,3.488,0,0,1-2.735-1.139,4.147,4.147,0,0,1-1.019-2.872,4.237,4.237,0,0,1,1.051-2.968,3.637,3.637,0,0,1,2.832-1.156,3.562,3.562,0,0,1,2.76,1.14A4.1,4.1,0,0,1,103.932,25.707Zm-1.8.056a3.508,3.508,0,0,0-.465-1.851,1.712,1.712,0,0,0-1.556-.933,1.738,1.738,0,0,0-1.589.933,3.576,3.576,0,0,0-.465,1.883,3.5,3.5,0,0,0,.465,1.85,1.771,1.771,0,0,0,3.129-.016A3.521,3.521,0,0,0,102.134,25.763Z', transform='translate(-52.497 -18.696)', fill='#fff')
      path(d='M111.66,23.4a3.009,3.009,0,0,0-.546-.048,1.637,1.637,0,0,0-1.413.691,2.6,2.6,0,0,0-.433,1.54v4.092h-1.732l.016-5.343q0-1.348-.065-2.455H109l.063,1.492h.048a2.667,2.667,0,0,1,.866-1.235,2.1,2.1,0,0,1,1.253-.418,2.782,2.782,0,0,1,.433.032Z', transform='translate(-54.592 -18.695)', fill='#fff')
      path(d='M120.56,25.4a4.065,4.065,0,0,1-.063.786h-5.2a2.263,2.263,0,0,0,.754,1.766,2.575,2.575,0,0,0,1.7.545,5.75,5.75,0,0,0,2.1-.369l.271,1.2a6.5,6.5,0,0,1-2.615.482,3.788,3.788,0,0,1-2.85-1.067,3.942,3.942,0,0,1-1.035-2.864,4.468,4.468,0,0,1,.964-2.937,3.321,3.321,0,0,1,2.727-1.251,2.907,2.907,0,0,1,2.553,1.251A4.218,4.218,0,0,1,120.56,25.4Zm-1.652-.449a2.354,2.354,0,0,0-.336-1.332,1.514,1.514,0,0,0-1.381-.723,1.644,1.644,0,0,0-1.379.706,2.586,2.586,0,0,0-.513,1.348h3.61Z', transform='translate(-55.742 -18.692)', fill='#fff')
    g(transform='translate(35.5 5.329)')
      path(d='M48.044,9.417a2.668,2.668,0,0,1-.86,2.16,3.42,3.42,0,0,1-2.262.67,10.487,10.487,0,0,1-1.246-.063V6.957a9.2,9.2,0,0,1,1.467-.111,3.163,3.163,0,0,1,2.105.607A2.454,2.454,0,0,1,48.044,9.417Zm-.9.024a1.943,1.943,0,0,0-.493-1.427,1.942,1.942,0,0,0-1.439-.5,3.6,3.6,0,0,0-.686.055v3.974a4.5,4.5,0,0,0,.575.024,2.015,2.015,0,0,0,1.509-.544A2.178,2.178,0,0,0,47.146,9.44Z', transform='translate(-43.676 -6.61)', fill='#fff')
      path(d='M54.045,10.585a2.1,2.1,0,0,1-.5,1.451,1.8,1.8,0,0,1-1.4.584,1.712,1.712,0,0,1-1.344-.56,2.04,2.04,0,0,1-.5-1.411,2.081,2.081,0,0,1,.516-1.458A1.79,1.79,0,0,1,52.2,8.623a1.752,1.752,0,0,1,1.357.559A2.023,2.023,0,0,1,54.045,10.585Zm-.884.028a1.733,1.733,0,0,0-.228-.91.841.841,0,0,0-.764-.458.854.854,0,0,0-.781.458,1.756,1.756,0,0,0-.228.925,1.733,1.733,0,0,0,.228.91.86.86,0,0,0,.773.458.85.85,0,0,0,.764-.467A1.722,1.722,0,0,0,53.161,10.613Z', transform='translate(-44.915 -6.943)', fill='#fff')
      path(d='M61.486,8.719l-1.2,3.832h-.78l-.5-1.664A12.456,12.456,0,0,1,58.7,9.649h-.015a9.063,9.063,0,0,1-.308,1.238l-.528,1.664h-.789L55.935,8.719h.875l.433,1.821q.157.646.26,1.23h.015q.1-.48.316-1.222l.544-1.829h.694l.521,1.79q.189.655.307,1.261h.024a12.054,12.054,0,0,1,.26-1.261l.465-1.79h.836Z', transform='translate(-45.971 -6.961)', fill='#fff')
      path(d='M67.424,12.532h-.852V10.337q0-1.014-.772-1.014a.769.769,0,0,0-.615.279.989.989,0,0,0-.237.657v2.273H64.1V9.8q0-.5-.031-1.1h.749l.04.6h.024a1.231,1.231,0,0,1,.441-.462,1.44,1.44,0,0,1,.772-.215,1.223,1.223,0,0,1,.892.347,1.686,1.686,0,0,1,.441,1.27Z', transform='translate(-47.493 -6.942)', fill='#fff')
      path(d='M70.892,12.146h-.851V6.556h.851Z', transform='translate(-48.612 -6.556)', fill='#fff')
      path(d='M76.394,10.585a2.1,2.1,0,0,1-.5,1.451,1.8,1.8,0,0,1-1.4.584,1.71,1.71,0,0,1-1.344-.56,2.04,2.04,0,0,1-.5-1.411,2.081,2.081,0,0,1,.516-1.458,1.79,1.79,0,0,1,1.391-.567,1.754,1.754,0,0,1,1.357.559A2.023,2.023,0,0,1,76.394,10.585Zm-.884.028a1.733,1.733,0,0,0-.228-.91.84.84,0,0,0-.763-.458.853.853,0,0,0-.781.458,1.756,1.756,0,0,0-.228.925,1.733,1.733,0,0,0,.228.91A.86.86,0,0,0,74.51,12a.849.849,0,0,0,.763-.467A1.715,1.715,0,0,0,75.509,10.613Z', transform='translate(-49.098 -6.943)', fill='#fff')
      path(d='M81.606,12.533h-.765l-.063-.441h-.024a1.312,1.312,0,0,1-1.119.528,1.155,1.155,0,0,1-.875-.347,1.088,1.088,0,0,1-.3-.78,1.19,1.19,0,0,1,.588-1.072,3.05,3.05,0,0,1,1.652-.363V9.986q0-.757-.8-.757a1.782,1.782,0,0,0-1,.284l-.173-.559a2.457,2.457,0,0,1,1.314-.331q1.5,0,1.5,1.585v1.411A5.983,5.983,0,0,0,81.606,12.533Zm-.884-1.317v-.591q-1.409-.024-1.409.772a.577.577,0,0,0,.163.449.6.6,0,0,0,.416.15.86.86,0,0,0,.521-.177.727.727,0,0,0,.309-.6Z', transform='translate(-50.188 -6.943)', fill='#fff')
      path(d='M87.443,12.146h-.756l-.04-.615h-.024a1.274,1.274,0,0,1-1.231.7,1.442,1.442,0,0,1-1.151-.544,2.118,2.118,0,0,1-.457-1.411,2.221,2.221,0,0,1,.5-1.506,1.527,1.527,0,0,1,1.183-.536,1.148,1.148,0,0,1,1.079.52h.016v-2.2h.853v4.557Q87.413,11.673,87.443,12.146ZM86.56,10.53V9.891a1.254,1.254,0,0,0-.024-.268.97.97,0,0,0-.308-.516.837.837,0,0,0-.57-.209.874.874,0,0,0-.749.379,1.623,1.623,0,0,0-.273.97,1.513,1.513,0,0,0,.262.923.877.877,0,0,0,.745.378.821.821,0,0,0,.673-.315A1.05,1.05,0,0,0,86.56,10.53Z', transform='translate(-51.184 -6.556)', fill='#fff')
      path(d='M96.384,10.585a2.1,2.1,0,0,1-.5,1.451,1.8,1.8,0,0,1-1.4.584,1.715,1.715,0,0,1-1.344-.56,2.039,2.039,0,0,1-.5-1.411,2.081,2.081,0,0,1,.516-1.458,1.791,1.791,0,0,1,1.392-.567,1.751,1.751,0,0,1,1.356.559A2.023,2.023,0,0,1,96.384,10.585Zm-.883.028a1.733,1.733,0,0,0-.228-.91.842.842,0,0,0-.765-.458.856.856,0,0,0-.781.458,1.756,1.756,0,0,0-.228.925,1.733,1.733,0,0,0,.228.91.87.87,0,0,0,1.538-.008A1.729,1.729,0,0,0,95.5,10.613Z', transform='translate(-52.84 -6.943)', fill='#fff')
      path(d='M102.11,12.532h-.851V10.337q0-1.014-.773-1.014a.766.766,0,0,0-.614.279.985.985,0,0,0-.237.657v2.273h-.853V9.8q0-.5-.03-1.1H99.5l.04.6h.024A1.243,1.243,0,0,1,100,8.835a1.443,1.443,0,0,1,.773-.215,1.222,1.222,0,0,1,.891.347,1.683,1.683,0,0,1,.441,1.27Z', transform='translate(-53.986 -6.942)', fill='#fff')
      path(d='M109.4,9.137h-.938V11c0,.473.167.71.5.71a1.5,1.5,0,0,0,.38-.04l.022.646a1.914,1.914,0,0,1-.662.1,1.018,1.018,0,0,1-.788-.307,1.5,1.5,0,0,1-.284-1.033V9.137h-.56V8.5h.56V7.8l.835-.252V8.5h.938v.639Z', transform='translate(-55.542 -6.741)', fill='#fff')
      path(d='M114.718,12.146h-.853V9.967q0-1.03-.771-1.031a.813.813,0,0,0-.813.6,1.07,1.07,0,0,0-.04.306v2.3h-.851V6.556h.851V8.865h.016a1.288,1.288,0,0,1,1.151-.63,1.187,1.187,0,0,1,.876.347,1.745,1.745,0,0,1,.433,1.285v2.278Z', transform='translate(-56.352 -6.556)', fill='#fff')
      path(d='M120.422,10.434a2.055,2.055,0,0,1-.032.386h-2.555a1.117,1.117,0,0,0,.37.867,1.269,1.269,0,0,0,.836.268,2.822,2.822,0,0,0,1.033-.181l.133.592a3.208,3.208,0,0,1-1.286.237,1.857,1.857,0,0,1-1.4-.524,1.931,1.931,0,0,1-.508-1.407,2.193,2.193,0,0,1,.473-1.443,1.629,1.629,0,0,1,1.34-.614,1.425,1.425,0,0,1,1.253.614A2.046,2.046,0,0,1,120.422,10.434Zm-.813-.22a1.147,1.147,0,0,0-.165-.654.744.744,0,0,0-.678-.355.809.809,0,0,0-.678.347,1.29,1.29,0,0,0-.253.662h1.774Z', transform='translate(-57.405 -6.941)', fill='#fff')
