svg(xmlns='http://www.w3.org/2000/svg', width='23.881', height='26.525', viewBox='0 0 23.881 26.525')
  g(transform='translate(-20.2 -16.9)')
    path(d='M44.081,22.269A5.37,5.37,0,0,0,38.712,16.9H25.569A5.37,5.37,0,0,0,20.2,22.269V32.727a5.379,5.379,0,0,0,4.448,5.289v4.528a.962.962,0,0,0,.481.8.722.722,0,0,0,.4.08.805.805,0,0,0,.521-.16L28.735,41.3a16.871,16.871,0,0,1,9.977-3.246,5.37,5.37,0,0,0,5.369-5.369ZM42.318,32.727a3.574,3.574,0,0,1-3.566,3.566,18.832,18.832,0,0,0-11.019,3.566l-1.282.922V37.175a.889.889,0,0,0-.882-.882A3.574,3.574,0,0,1,22,32.727V22.269A3.574,3.574,0,0,1,25.569,18.7H38.752a3.574,3.574,0,0,1,3.566,3.566Z', fill='red')
    path(d='M45.625,31A2.763,2.763,0,0,0,42.7,33.8a.882.882,0,1,0,1.763,0c0-.962,1.042-1,1.162-1s1.162.04,1.162,1v.2a1.018,1.018,0,0,1-.561.922l-.8.441a1.3,1.3,0,0,0-.681,1.162v.721a.882.882,0,0,0,1.763,0V36.81l.561-.28a2.788,2.788,0,0,0,1.483-2.484V33.8A2.784,2.784,0,0,0,45.625,31Z', transform='translate(-13.485 -8.45)', fill='red')
    path(d='M48.382,51.3a1.123,1.123,0,0,0,0,2.244A1.123,1.123,0,0,0,48.382,51.3Z', transform='translate(-16.241 -20.616)', fill='red')
