svg(xmlns='http://www.w3.org/2000/svg', width='28', height='27.327', viewBox='0 0 28 27.327')
  g(transform='translate(-12 -11)')
    g(transform='translate(12 11)')
      path(d='M26,38.327a1.886,1.886,0,0,1-1.63-.886l-1.985-3.048h-2.02A8.269,8.269,0,0,1,12,26.241V19.152A8.269,8.269,0,0,1,20.365,11H31.671A8.26,8.26,0,0,1,40,19.152v7.089a8.269,8.269,0,0,1-8.365,8.152h-2.02l-2.02,3.048A1.786,1.786,0,0,1,26,38.327Zm-5.635-25.2a6.136,6.136,0,0,0-6.238,6.025v7.089a6.136,6.136,0,0,0,6.238,6.025h3.154L26,36.058l2.481-3.792h3.154a6.136,6.136,0,0,0,6.238-6.025V19.152a6.136,6.136,0,0,0-6.238-6.025Z', transform='translate(-12 -11)', fill='red')
    g(transform='translate(18.557 18.797)')
      path(d='M43.968,35.127H31.563a1.063,1.063,0,0,1,0-2.127H43.968a1.063,1.063,0,1,1,0,2.127Z', transform='translate(-30.5 -33)', fill='red')
    g(transform='translate(18.557 24.468)')
      path(d='M39.006,51.127H31.563a1.063,1.063,0,0,1,0-2.127h7.443a1.063,1.063,0,0,1,0,2.127Z', transform='translate(-30.5 -49)', fill='red')
    g(transform='translate(30.962 24.442)')
      path(d='M66.563,51.078a.965.965,0,0,1-.744-.319,1.02,1.02,0,0,1-.319-.744.965.965,0,0,1,.319-.744l.142-.142c.071-.035.106-.071.177-.106s.142-.035.213-.071a.864.864,0,0,1,.425,0,.5.5,0,0,1,.213.071.775.775,0,0,1,.177.106.277.277,0,0,1,.142.142,1.02,1.02,0,0,1,.319.744.965.965,0,0,1-.319.744.773.773,0,0,1-.177.142c-.071.035-.106.071-.177.106s-.142.035-.213.071Z', transform='translate(-65.5 -48.925)', fill='red')
