svg(xmlns='http://www.w3.org/2000/svg', width='26.865', height='20.208', viewBox='0 0 26.865 20.208')
  g(transform='translate(-100.855 -202.9)')
    g(transform='translate(100.855 202.9)')
      g(transform='translate(0 0)')
        path(d='M125.3,221.795H103.229a.574.574,0,0,1-.134-.01s.17.033.042,0a2.188,2.188,0,0,1-.252-.065s-.082-.026-.082-.029c.088.039.1.042.039.013-.026-.013-.052-.026-.075-.039a2.086,2.086,0,0,1-.18-.114c-.124-.082.1.1,0,0-.029-.029-.062-.056-.091-.088s-.039-.039-.059-.062a.293.293,0,0,1-.029-.033c-.046-.052-.036-.042.023.033-.036,0-.118-.18-.137-.216,0-.01-.062-.111-.059-.114.01.026.023.052.033.078-.01-.026-.02-.052-.029-.082a1.513,1.513,0,0,1-.056-.209c0-.013-.007-.029-.01-.042-.013-.072-.01-.059,0,.042a.581.581,0,0,1-.007-.111v-.069c-.01-.863,0-1.725,0-2.584V205.318c0-.046,0-.091.007-.141.007-.154-.036.147,0,0,.01-.042.016-.085.029-.127s.016-.056.023-.085a.822.822,0,0,1,.029-.082c.026-.065.02-.052-.016.036-.013-.01.085-.167.1-.189s.046-.072.072-.108c.082-.121-.1.1,0,0,.049-.052.095-.1.147-.15a.3.3,0,0,1,.033-.029c.052-.046.042-.036-.033.023,0-.016.085-.059.1-.072s.212-.137.225-.121-.134.049-.036.016c.042-.013.082-.029.124-.039s.085-.023.127-.033l.042-.01h0c-.013,0-.029,0-.042.007a.8.8,0,0,1,.088-.007.856.856,0,0,1,.091,0h22.028a.857.857,0,0,1,.091,0c.016,0,.029,0,.046,0,.072.007.059,0-.042-.007a.766.766,0,0,1,.131.026c.072.016.137.039.209.062.141.046-.127-.069,0,0,.036.02.075.039.114.059s.072.042.108.069c.013.007.023.016.036.023.056.042.046.033-.033-.026.013-.007.147.137.154.144a.738.738,0,0,1,.085.095s-.078-.114-.026-.033.1.167.154.255c.059.111-.02-.039-.013-.039a.581.581,0,0,1,.042.121c.023.069.036.141.052.212.033.147,0-.15,0,0,0,.046,0,.092.007.134v15.363a.8.8,0,0,1-.01.183c.013,0,.026-.154,0-.02-.007.036-.016.072-.023.108s-.023.085-.036.124c-.007.023-.069.127-.013.042s-.013.023-.02.039a1.212,1.212,0,0,1-.062.111c-.023.036-.046.072-.072.108-.056.085.023-.036.026-.033s-.157.167-.176.183a.857.857,0,0,1-.065.056l.065-.049-.069.049a2.055,2.055,0,0,1-.183.108l-.039.02c-.065.029-.052.026.039-.013a.582.582,0,0,1-.121.042c-.069.023-.14.036-.212.052-.147.033.15,0,0,0a1.146,1.146,0,0,1-.16.016.653.653,0,1,0,0,1.307,2.454,2.454,0,0,0,2.418-2.457V205.321a2.467,2.467,0,0,0-1-1.954,2.638,2.638,0,0,0-1.647-.467H103.4c-.072,0-.14,0-.212,0a2.457,2.457,0,0,0-2,1.209,3.051,3.051,0,0,0-.323,1.608v14.223c0,.248,0,.5,0,.745a2.455,2.455,0,0,0,2.437,2.418c.735.007,1.467,0,2.2,0h19.81a.66.66,0,0,0,.653-.653A.67.67,0,0,0,125.3,221.795Z', transform='translate(-100.855 -202.9)', fill='red')
    g(transform='translate(104.455 207.343)')
      g(transform='translate(0)')
        path(d='M229.568,339.081c-.3.258-.595.513-.892.771q-1.049.907-2.1,1.81-1.235,1.068-2.473,2.134c-.66.572-1.323,1.14-1.983,1.712-.18.157-.359.31-.539.467l-.114.1a.187.187,0,0,0-.026.023c-.042.036-.088.072-.127.108s.147-.095.029-.029l-.16.088c-.062.036.026-.01.036-.013a.691.691,0,0,0-.075.026c-.052.016-.1.023-.157.039-.072.023.033,0,.039,0a.345.345,0,0,1-.082.007c-.075,0-.147,0-.222,0s.042,0,.039.007-.065-.013-.078-.016c-.052-.013-.1-.033-.15-.046-.069-.016.026.013.036.016-.023-.01-.046-.023-.069-.033s-.15-.095-.157-.091.18.147.108.082l-.059-.049-.144-.124a.485.485,0,0,0-.042-.036c-.108-.091-.216-.186-.327-.281-.572-.49-1.14-.98-1.712-1.474q-1.215-1.044-2.431-2.091-1.142-.98-2.284-1.964l-1.268-1.091c-.02-.016-.039-.036-.062-.052a.654.654,0,1,0-.925.925l.915.787q1.073.926,2.15,1.849l2.5,2.147,1.954,1.679.493.425a3.054,3.054,0,0,0,.673.506,2.2,2.2,0,0,0,1.683.114,2.662,2.662,0,0,0,.82-.51l.3-.258q.853-.735,1.7-1.47,1.225-1.054,2.447-2.111,1.157-.995,2.31-1.993l1.291-1.114c.02-.016.039-.036.062-.052a.658.658,0,0,0,0-.925.677.677,0,0,0-.925.01Z', transform='translate(-211.01 -338.884)', fill='red')
    g(transform='translate(105.105 211.97)')
      g(transform='translate(0 0)')
        path(d='M235.81,480.684l-1.8,1.813c-.961.964-1.268,1.278-2.228,2.241-.222.222-.444.448-.667.67a.654.654,0,0,0,.925.925l1.8-1.813c.961-.964,1.268-1.277,2.228-2.241.222-.222.444-.448.667-.67a.654.654,0,1,0-.925-.925Z', transform='translate(-230.923 -480.498)', fill='red')
    g(transform='translate(117.474 211.972)')
      g(transform='translate(0 0)')
        path(d='M615.307,485.473l-1.8-1.813c-.961-.964-1.268-1.278-2.228-2.241-.222-.222-.444-.448-.667-.67a.654.654,0,0,0-.925.925l1.8,1.813c.961.964,1.268,1.278,2.228,2.241.222.222.444.448.667.67a.654.654,0,0,0,.925-.925Z', transform='translate(-609.498 -480.561)', fill='red')
