svg(xmlns='http://www.w3.org/2000/svg', width='24.396', height='24.527', viewBox='0 0 24.396 24.527')
  g(transform='translate(-0.158 0.123)')
    path(d='M20.7,14.509c-2.176-2.264-4.135.392-5.485,1.741A16.538,16.538,0,0,1,8.248,9.285C12.3,5.585,11.513,5.063,6.942.71,4.679-1.467,2.807,1.145,1.37,2.625A4.032,4.032,0,0,0,.2,5.193c-.74,6.616,9.881,18.761,18.326,19.2,2.525.174,3.439-1.262,5.223-3.047a2.57,2.57,0,0,0-.044-3.787ZM22.656,20.3c-1.436,1.524-2.264,2.742-4.048,2.655C11.121,22.431,1.153,11.505,1.675,5.28,1.762,3.974,3.112,2.93,4.287,1.8a1.042,1.042,0,0,1,1.654,0c4.222,4.222,4.484,3.4,1.175,6.529a1.079,1.079,0,0,0-.3,1.306c1.306,3.221,4.788,6.442,7.922,8.053,1.872.914,3.178-3.918,4.875-2.133,1,1,2.046,2,3.047,3.047A1.075,1.075,0,0,1,22.656,20.3Z', transform='translate(0 0)', fill='red', fill-rule='evenodd')
