svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='109.728', height='32.512', viewBox='0 0 109.728 32.512')
  defs
    lineargradient#a(x1='0.915', y1='6.614', x2='-0.382', y2='5.945', gradientUnits='objectBoundingBox')
      stop(offset='0', stop-color='#00a0ff')
      stop(offset='0.01', stop-color='#00a1ff')
      stop(offset='0.26', stop-color='#00beff')
      stop(offset='0.51', stop-color='#00d2ff')
      stop(offset='0.76', stop-color='#00dfff')
      stop(offset='1', stop-color='#00e3ff')
    lineargradient#b(x1='1.077', y1='17.089', x2='-1.306', y2='17.089', gradientUnits='objectBoundingBox')
      stop(offset='0', stop-color='#ffe000')
      stop(offset='0.41', stop-color='#ffbd00')
      stop(offset='0.78', stop-color='orange')
      stop(offset='1', stop-color='#ff9c00')
    lineargradient#c(x1='0.863', y1='10.855', x2='-0.502', y2='9.087', gradientUnits='objectBoundingBox')
      stop(offset='0', stop-color='#ff3a44')
      stop(offset='1', stop-color='#c31162')
    lineargradient#d(x1='-0.188', y1='13.576', x2='0.421', y2='12.786', gradientUnits='objectBoundingBox')
      stop(offset='0', stop-color='#32a071')
      stop(offset='0.07', stop-color='#2da771')
      stop(offset='0.48', stop-color='#15cf74')
      stop(offset='0.8', stop-color='#06e775')
      stop(offset='1', stop-color='#00f076')
  g(transform='translate(-8.128 -8.128)')
    rect(width='109.728', height='32.512', rx='5', transform='translate(8.128 8.128)')
    path(d='M73.036,30.869a3.463,3.463,0,1,0,3.471,3.454,3.406,3.406,0,0,0-3.471-3.454Zm0,5.551a2.1,2.1,0,1,1,1.951-2.1,2,2,0,0,1-1.951,2.1ZM65.46,30.869a3.463,3.463,0,1,0,3.471,3.454,3.406,3.406,0,0,0-3.471-3.454Zm0,5.551a2.1,2.1,0,1,1,1.951-2.1,2,2,0,0,1-1.951,2.1Zm-9.006-4.487V33.4h3.511a3.064,3.064,0,0,1-.813,1.845,3.593,3.593,0,0,1-2.715,1.073,3.9,3.9,0,0,1,0-7.8A3.771,3.771,0,0,1,59.1,29.561l1.032-1.032a5.121,5.121,0,0,0-3.682-1.479,5.373,5.373,0,1,0,0,10.737,4.934,4.934,0,0,0,3.747-1.5,4.877,4.877,0,0,0,1.268-3.438,5.1,5.1,0,0,0-.073-.91Zm36.828,1.138a3.194,3.194,0,0,0-6.21,1.252A3.438,3.438,0,0,0,93.38,36.25L92.2,35.437a1.959,1.959,0,0,1-1.7.951,1.748,1.748,0,0,1-1.674-1.049l4.625-1.91Zm-4.714,1.154A1.9,1.9,0,0,1,90.381,32.2a1.333,1.333,0,0,1,1.276.74Zm-3.755,3.349h1.52V27.415h-1.52Zm-2.487-5.933h-.057a2.39,2.39,0,0,0-1.821-.813,3.463,3.463,0,0,0,0,6.917,2.341,2.341,0,0,0,1.821-.813h.057v.5c0,1.325-.707,2.032-1.845,2.032a1.918,1.918,0,0,1-1.748-1.227l-1.317.545a3.251,3.251,0,0,0,3.064,2.048c1.78,0,3.251-1.049,3.251-3.6V31.072H82.326Zm-1.748,4.779a2.1,2.1,0,0,1,0-4.186,2.1,2.1,0,0,1,0,4.186ZM100.4,27.415H96.761v10.16h1.52V33.722H100.4a3.162,3.162,0,1,0,0-6.307Zm0,4.877H98.281V28.829h2.154a1.739,1.739,0,1,1,0,3.479Zm9.38-1.455a2.837,2.837,0,0,0-2.707,1.552l1.341.561a1.447,1.447,0,0,1,1.39-.74,1.463,1.463,0,0,1,1.626,1.309v.1a3.4,3.4,0,0,0-1.585-.39c-1.447,0-2.926.813-2.926,2.292a2.349,2.349,0,0,0,2.528,2.235,2.154,2.154,0,0,0,1.934-.992h.049v.813H112.9v-3.91a2.8,2.8,0,0,0-3.08-2.812ZM109.6,36.4c-.5,0-1.187-.252-1.187-.862,0-.813.862-1.089,1.626-1.089a2.7,2.7,0,0,1,1.382.341,1.837,1.837,0,0,1-1.788,1.626Zm8.632-5.332-1.739,4.405h-.049l-1.8-4.405h-1.626l2.707,6.161-1.544,3.422h1.585l4.162-9.583Zm-13.655,6.5h1.512V27.415h-1.512Z', transform='translate(-9.523 -5.063)', fill='#fff')
    path(d='M20.351,17.527a1.626,1.626,0,0,0-.382,1.138V36.644a1.577,1.577,0,0,0,.382,1.138l.057.065L30.479,27.776v-.244L20.408,17.47Z', transform='translate(-3.738 -3.27)', fill='url(#a)')
    path(d='M36.232,32.678,32.9,29.321v-.244l3.332-3.357.073.049,3.991,2.26a1.235,1.235,0,0,1,0,2.349l-3.975,2.26Z', transform='translate(-6.159 -4.815)', fill='url(#b)')
    path(d='M34,33.43,30.567,30,20.44,40.128a1.317,1.317,0,0,0,1.682.057L34,33.43', transform='translate(-3.826 -5.616)', fill='url(#c)')
    path(d='M34,24.161,22.122,17.415a1.309,1.309,0,0,0-1.682.049L30.567,27.591Z', transform='translate(-3.826 -3.207)', fill='url(#d)')
    path(d='M51.34,21.876V17h1.487a2.441,2.441,0,1,1,0,4.877Zm.626-.6h.862a1.691,1.691,0,0,0,1.837-1.837A1.7,1.7,0,0,0,52.827,17.6h-.862Z', transform='translate(-9.611 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M57.3,21.877V17h.626v4.877Z', transform='translate(-10.727 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M60.739,21.96a1.821,1.821,0,0,1-1.032-.341,1.626,1.626,0,0,1-.666-.975l.569-.236a1.374,1.374,0,0,0,.423.683,1.073,1.073,0,0,0,.707.276,1.105,1.105,0,0,0,.7-.219.675.675,0,0,0,.293-.577.748.748,0,0,0-.293-.634,3.007,3.007,0,0,0-.91-.415,2.333,2.333,0,0,1-.983-.528,1.1,1.1,0,0,1-.333-.813,1.227,1.227,0,0,1,.415-.918,1.756,1.756,0,0,1,2.089-.073,1.382,1.382,0,0,1,.5.675l-.569.236a.853.853,0,0,0-.3-.423.935.935,0,0,0-.626-.2.992.992,0,0,0-.618.2.618.618,0,0,0-.252.5.545.545,0,0,0,.236.455,2.178,2.178,0,0,0,.691.341,5.422,5.422,0,0,1,.6.219,2.585,2.585,0,0,1,.488.293,1.162,1.162,0,0,1,.374.447,1.39,1.39,0,0,1,.13.626,1.349,1.349,0,0,1-.146.634,1.138,1.138,0,0,1-.39.439,1.813,1.813,0,0,1-.52.252,1.983,1.983,0,0,1-.577.073Z', transform='translate(-11.052 -3.16)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M64.856,21.877H64.23V17H65.9a1.528,1.528,0,0,1,1.073.415,1.422,1.422,0,0,1,0,2.073A1.528,1.528,0,0,1,65.9,19.9h-1.04Zm0-2.577h1.057a.85.85,0,1,0,0-1.7H64.856Z', transform='translate(-12.024 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M73.012,21.218a2.528,2.528,0,0,1-3.576,0,2.634,2.634,0,0,1,0-3.609,2.544,2.544,0,0,1,4.332,1.8,2.438,2.438,0,0,1-.756,1.8ZM69.9,20.812a1.8,1.8,0,0,0,1.325.553,1.78,1.78,0,0,0,1.325-.553,2.065,2.065,0,0,0,0-2.8,1.78,1.78,0,0,0-1.325-.553,1.8,1.8,0,0,0-1.325.553A2.089,2.089,0,0,0,69.9,20.812Z', transform='translate(-12.864 -3.158)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M76,21.877V17h.813l2.365,3.8h0V17H79.8v4.877h-.65L76.715,17.9h0v3.975Z', transform='translate(-14.227 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M82,21.589V16.712h.626v4.877Zm.585-5.259h-.545l.358-.87h.675Z', transform='translate(-15.35 -2.894)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M85.245,21.877,83.53,17h.691l1.317,3.958h0L86.976,17h.691L85.9,21.877Z', transform='translate(-15.637 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M92.343,17.6H90.116v1.544h2.008v.585H90.116v1.544h2.227v.6H89.49V17h2.853Z', transform='translate(-16.753 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M94.2,21.877V17h.65v4.275h2.113v.6Z', transform='translate(-17.634 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M100.55,21.877V17h.764l2.373,3.8h0V17h.626v4.877h-.65L101.176,17.9h0v3.975Z', transform='translate(-18.823 -3.182)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
    path(d='M110.472,21.218a2.528,2.528,0,0,1-3.576,0,2.634,2.634,0,0,1,0-3.609,2.381,2.381,0,0,1,1.788-.74,2.438,2.438,0,0,1,1.788.74,2.5,2.5,0,0,1,.715,1.8A2.438,2.438,0,0,1,110.472,21.218Zm-3.113-.406a1.861,1.861,0,0,0,2.65,0,2.065,2.065,0,0,0,0-2.8,1.861,1.861,0,0,0-2.65,0,2.065,2.065,0,0,0,0,2.8Z', transform='translate(-19.877 -3.158)', fill='#fff', stroke='#fff', stroke-miterlimit='10', stroke-width='0.2')
