svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='216.282', height='429.374', viewBox='0 0 216.282 429.374')
  defs
    lineargradient#a(x1='0.5', x2='0.5', y2='1', gradientUnits='objectBoundingBox')
      stop(offset='0', stop-color='#f8a348')
      stop(offset='0.42', stop-color='#ffcd50')
      stop(offset='0.617', stop-color='#bd0a9b')
      stop(offset='1', stop-color='#20036c')
  path(d='M88.291,451.525q-2.863,0-5.751-.12c-14.1,0-42.378-3.372-42.378-3.372l37.321-103.15H87.522a29.811,29.811,0,0,0,11.035-57.858A136.485,136.485,0,0,1,150.132,22.253c14.1,0,42.455,3.449,42.455,3.449l-37.32,103.149h-9.5a29.81,29.81,0,0,0-11.035,57.858l-.053.147A136.41,136.41,0,0,1,88.293,451.525Z', transform='translate(-8.371 -22.151)', fill='url(#a)')
