svg(xmlns='http://www.w3.org/2000/svg', width='169.73', height='2.6', viewBox='0 0 169.73 2.6')
  rect(width='1.97', height='1.96', transform='translate(97.11 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(101.05 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(85.04 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(88.98 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(92.91 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(72.98 0.37)', fill='#501e50')
  rect(width='1.96', height='1.96', transform='translate(76.91 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(80.84 0.37)', fill='#501e50')
  rect(width='1.97', height='1.96', transform='translate(68.78 0.37)', fill='#501e50')
  rect(width='64.32', height='2.6', transform='translate(105.41)', fill='#e6e1d2')
  rect(width='66.46', height='2.6', fill='red')
