svg(xmlns='http://www.w3.org/2000/svg', width='21.034', height='13.707', viewBox='0 0 21.034 13.707')
  g(transform='translate(-5.5 -21)')
    path(d='M24.761,25.512H23.284v-.548a1.711,1.711,0,0,0-1.709-1.709H20.035v-.548A1.711,1.711,0,0,0,18.326,21H7.218A1.711,1.711,0,0,0,5.5,22.706v5.778a1.711,1.711,0,0,0,1.709,1.709H8.75v.548a1.711,1.711,0,0,0,1.709,1.709H12v.487a1.775,1.775,0,0,0,1.772,1.77h10.99a1.775,1.775,0,0,0,1.773-1.772V27.284a1.775,1.775,0,0,0-1.772-1.772ZM12.708,28.48H25.825v1.1H12.708Zm13.117-1.2v.487H12.708v-.487a1.064,1.064,0,0,1,1.063-1.063h10.99A1.064,1.064,0,0,1,25.825,27.284ZM8.75,24.963v4.523H7.209a1,1,0,0,1-1-1V22.706a1,1,0,0,1,1-1H18.316a1,1,0,0,1,1.009,1v.548H10.458A1.711,1.711,0,0,0,8.75,24.963Zm1.709,6.78a1,1,0,0,1-1-1V24.963a1,1,0,0,1,1-1H21.566a1,1,0,0,1,1,1v.548H13.772A1.775,1.775,0,0,0,12,27.284v4.46ZM24.761,34H13.772a1.063,1.063,0,0,1-1.063-1.063V30.285H25.825V32.94A1.064,1.064,0,0,1,24.761,34Z', fill='#662c62')
    path(d='M41.344,64.91H39.084a.354.354,0,0,0,0,.709h2.259a.354.354,0,0,0,0-.709Z', transform='translate(-25.377 -33.533)', fill='#662c62')
    path(d='M55.5,64.91h-1.13a.354.354,0,0,0,0,.709H55.5a.354.354,0,0,0,0-.709Z', transform='translate(-37.053 -33.533)', fill='#662c62')
