svg(xmlns='http://www.w3.org/2000/svg', width='16.571', height='16.188', viewBox='0 0 16.571 16.188')
  g(transform='translate(0 0)')
    path(d='M7.271,15.552H1.686a.872.872,0,0,1-.871-.871V13.8H8.142v.881A.872.872,0,0,1,7.271,15.552ZM1.686.907H7.271a.872.872,0,0,1,.871.871v.609H.815V1.778A.872.872,0,0,1,1.686.907ZM8.515,12.115a.373.373,0,0,0-.373.373v.565H.815V3.134H8.142v.378a.373.373,0,0,0,.747,0V1.778A1.62,1.62,0,0,0,7.271.16H1.686A1.62,1.62,0,0,0,.068,1.778v12.9A1.62,1.62,0,0,0,1.686,16.3H7.271a1.62,1.62,0,0,0,1.618-1.618V12.489a.373.373,0,0,0-.373-.373Z', transform='translate(-0.068 -0.16)', fill='#662c62', fill-rule='evenodd')
    path(d='M20.353,5.73a.373.373,0,1,0-.373-.373.374.374,0,0,0,.373.373', transform='translate(-15.024 -3.782)', fill='#662c62', fill-rule='evenodd')
    path(d='M13.576,5.73H14.2a.373.373,0,0,0,0-.747h-.621a.373.373,0,1,0,0,.747', transform='translate(-9.934 -3.782)', fill='#662c62', fill-rule='evenodd')
    path(d='M16.2,56.983h-.621a.373.373,0,0,0,0,.747H16.2a.373.373,0,1,0,0-.747', transform='translate(-11.436 -42.839)', fill='#662c62', fill-rule='evenodd')
    path(d='M24.8,34.1a.6.6,0,0,1-.07-.47.607.607,0,1,0,.457.744A.6.6,0,0,1,24.8,34.1', transform='translate(-18.037 -25.285)', fill='#662c62', fill-rule='evenodd')
    path(d='M27.216,31.929a.6.6,0,0,0-.268.365.6.6,0,0,1,.457.744.606.606,0,1,0-.189-1.109', transform='translate(-20.257 -23.954)', fill='#662c62', fill-rule='evenodd')
    path(d='M23.025,17.076a3.466,3.466,0,0,0-1.758-1.914,1.07,1.07,0,0,0-.972.052,1.186,1.186,0,0,0-.537.858,3.024,3.024,0,0,0,.69,2.19c.084.1.223.265.376.463l-2.483,1.528a.127.127,0,0,1-.172-.041l-1.75-2.844L22.9,13.381l1.75,2.844a.126.126,0,0,1-.041.171l-.77.474h0l-.717.441A1.913,1.913,0,0,1,23.025,17.076Zm-1.3,5.377a1.286,1.286,0,0,1-.266-.772,1.921,1.921,0,0,0,.332.069,4.732,4.732,0,0,0,.411,1.022A1.111,1.111,0,0,1,21.727,22.453Zm-.471-3.117a2.541,2.541,0,0,1,.352.776,4.856,4.856,0,0,0,.029.839.89.89,0,0,1-.349-.226,1.865,1.865,0,0,1-.39-1.169Zm-5.342-3.028,6.267-3.856a.126.126,0,0,1,.171.041l.155.253-6.479,3.987-.155-.252A.126.126,0,0,1,15.914,16.308Zm11.8,5.387c-.069-.389-.119-.732-.164-1.037-.225-1.524-.337-2.289-1.933-3.158l-.793-.361L25,17.033a.873.873,0,0,0,.285-1.2L23.34,12.672h0l-.351-.57a.872.872,0,0,0-1.2-.286l-6.268,3.856a.872.872,0,0,0-.285,1.2l2.3,3.733a.873.873,0,0,0,1.2.286l1.458-.9a2.337,2.337,0,0,0,.548,1.24,2.232,2.232,0,0,0,.41,1.695,2.17,2.17,0,0,0,1.678.7A6,6,0,0,0,24.8,24.98a.373.373,0,0,0,.272-.7,4.942,4.942,0,0,1-2.127-1.715,4.407,4.407,0,0,1-.591-2.44l0-.047-.007-.047a5.54,5.54,0,0,0-1.334-2.255,2.307,2.307,0,0,1-.523-1.59.43.43,0,0,1,.191-.34.37.37,0,0,1,.319.011A2.731,2.731,0,0,1,22.313,17.3a5.926,5.926,0,0,0,.985,1.614.373.373,0,1,0,.569-.484c-.079-.093-.218-.27-.362-.477l.556-.342,1.214.551c1.258.688,1.323,1.135,1.54,2.605.046.312.1.662.168,1.059.1.578.216,1.251.216,1.252l.737-.124s-.114-.677-.218-1.258Z', transform='translate(-11.365 -8.818)', fill='#662c62', fill-rule='evenodd')
