svg(xmlns='http://www.w3.org/2000/svg', width='17.889', height='18.912', viewBox='0 0 17.889 18.912')
  g(transform='translate(0.5 0.5)')
    path(d='M4.871,12.844A4.259,4.259,0,0,1,9.131,8.584H21.76', transform='translate(-4.871 -6.687)', fill='none', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='1')
    path(d='M45.044,3.5l1.9,1.9-1.9,1.9', transform='translate(-30.053 -3.5)', fill='none', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='1')
    g(transform='translate(0 11.756)')
      path(d='M21.76,35A4.259,4.259,0,0,1,17.5,39.261H4.871', transform='translate(-4.871 -35.002)', fill='none', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='1')
      path(d='M6.769,45.126l-1.9-1.9,1.9-1.9', transform='translate(-4.871 -38.969)', fill='none', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='1')
    g(transform='translate(6.774 4.995)')
      g(transform='translate(0 0)')
        g(transform='translate(0 0.621)')
          path(d='M23.025,23.559a1.67,1.67,0,1,0,1.67-1.67,1.67,1.67,0,1,1,1.67-1.67', transform='translate(-23.025 -18.549)', fill='none', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='1')
        line(y1='0.621', transform='translate(1.67)', stroke-width='1', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', fill='none')
        line(y1='0.621', transform='translate(1.67 7.301)', stroke-width='1', stroke='#662c62', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', fill='none')
