svg(xmlns='http://www.w3.org/2000/svg', width='16.758', height='16.758', viewBox='0 0 16.758 16.758')
  g(transform='translate(-2 -1)')
    g(transform='translate(2 1)')
      path(d='M10.476,13.677a1.4,1.4,0,0,0,.977-.747c.4-.843,0-1.438-.855-1.883-.123-.064-.086-.047-.434-.207-.322-.149-.294-.135-.4-.191-.518-.271-.661-.485-.5-.831.2-.426,1.122-.4,1.445-.171l.325.231.462-.651L11.173,9a1.83,1.83,0,0,0-.7-.281V8h-.8v.7a1.442,1.442,0,0,0-1.133.778c-.4.841,0,1.436.849,1.88.123.065.094.051.436.208s.294.135.4.19c.522.273.667.487.5.834-.2.426-1.122.4-1.445.171l-.325-.231L8.5,13.18l.325.231a1.923,1.923,0,0,0,.853.306v.668h.8Z', transform='translate(-1.695 -1.616)', fill='#662c62', fill-rule='evenodd')
      rect(width='11.97', height='0.798', transform='translate(2.394 3.99)', fill='#662c62')
      path(d='M15.166,7.182a1.6,1.6,0,0,0,1.592-1.6V1.6A1.59,1.59,0,0,0,15.166,0H1.592A1.6,1.6,0,0,0,0,1.6V5.586a1.59,1.59,0,0,0,1.592,1.6h3.2v-.8h-3.2a.792.792,0,0,1-.794-.8V1.6A.8.8,0,0,1,1.592.8H15.166a.792.792,0,0,1,.794.8V5.586a.8.8,0,0,1-.794.8h-3.2v.8Z', fill='#662c62', fill-rule='evenodd')
      path(d='M13.778,5V17.37a.392.392,0,0,1-.391.4h-8A.394.394,0,0,1,5,17.37V5h.8V16.97H12.98V5Z', transform='translate(-1.01 -1.01)', fill='#662c62', fill-rule='evenodd')
      path(d='M6.995,20.293A2,2,0,0,0,5,18.3v-.8a2.793,2.793,0,0,1,2.793,2.793Z', transform='translate(-1.01 -3.535)', fill='#662c62', fill-rule='evenodd')
      path(d='M15.293,18.3v-.8A2.793,2.793,0,0,0,12.5,20.293h.8A2,2,0,0,1,15.293,18.3Z', transform='translate(-2.525 -3.535)', fill='#662c62', fill-rule='evenodd')
