svg(xmlns='http://www.w3.org/2000/svg', width='18.925', height='16.596', viewBox='0 0 18.925 16.596')
  g(transform='translate(0.15 0.15)')
    path(d='M20.318,48.786a1.414,1.414,0,0,1-1.094-.038,1.2,1.2,0,0,1-.659-.668.291.291,0,0,0-.548.195,1.76,1.76,0,0,0,.971,1,2.1,2.1,0,0,0,.467.145v.4a.291.291,0,1,0,.582,0v-.37a1.829,1.829,0,0,0,.5-.125,1.194,1.194,0,0,0,.771-1.455c-.224-.68-.867-.858-1.434-1.014a1.658,1.658,0,0,1-1.019-.528.662.662,0,0,1-.009-.721,1.231,1.231,0,0,1,1.218-.344,1.138,1.138,0,0,1,.854.726.291.291,0,0,0,.559-.163,1.732,1.732,0,0,0-1.308-1.136c-.044-.008-.089-.014-.135-.02v-.378a.291.291,0,0,0-.582,0v.379a1.5,1.5,0,0,0-1.088.61,1.243,1.243,0,0,0,0,1.356,2.118,2.118,0,0,0,1.357.78c.566.156.917.277,1.036.635A.623.623,0,0,1,20.318,48.786Z', transform='translate(-15.38 -38.762)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    path(d='M21.291,108.582h2.037a.291.291,0,0,0,0-.582H21.291a.291.291,0,0,0,0,.582Z', transform='translate(-17.944 -93.449)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    path(d='M87.746,44a.291.291,0,0,0-.291.291v.379a1.5,1.5,0,0,0-1.088.61,1.243,1.243,0,0,0,0,1.356,2.118,2.118,0,0,0,1.357.78c.566.156.917.277,1.036.635a.623.623,0,0,1-.44.735,1.414,1.414,0,0,1-1.094-.038,1.2,1.2,0,0,1-.659-.668.291.291,0,0,0-.549.195,1.76,1.76,0,0,0,.971,1,2.1,2.1,0,0,0,.467.145v.4a.291.291,0,1,0,.582,0v-.37a1.829,1.829,0,0,0,.5-.125,1.194,1.194,0,0,0,.771-1.455c-.224-.68-.867-.858-1.434-1.014a1.658,1.658,0,0,1-1.019-.528.662.662,0,0,1-.009-.721,1.231,1.231,0,0,1,1.218-.344,1.138,1.138,0,0,1,.854.726.291.291,0,0,0,.559-.163,1.732,1.732,0,0,0-1.308-1.136c-.044-.008-.089-.014-.135-.02v-.378A.291.291,0,0,0,87.746,44Z', transform='translate(-73.486 -38.762)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    path(d='M89.291,108.582h2.037a.291.291,0,0,0,0-.582H89.291a.291.291,0,0,0,0,.582Z', transform='translate(-76.05 -93.449)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    path(d='M38,30.019a.291.291,0,0,0,.291.291h5.843l-.332.181a.291.291,0,0,0,.279.511l1.334-.728a.291.291,0,0,0,0-.511l-1.334-.727a.291.291,0,1,0-.279.511l.332.181H38.291A.291.291,0,0,0,38,30.019Z', transform='translate(-32.471 -25.945)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    rect(width='0.582', height='6.402', transform='translate(8.148 4.947)', fill='#662c62')
    path(d='M8.148,22.842a.874.874,0,0,1-.873.873H1.455a.874.874,0,0,1-.873-.873V9.455a.874.874,0,0,1,.873-.873h.6l.118.273A1.218,1.218,0,0,0,3.191,9.6H5.539a1.219,1.219,0,0,0,1.018-.745l.118-.273h.6a.874.874,0,0,1,.873.873V11.2H8.73V9.455A1.459,1.459,0,0,0,7.275,8H1.455A1.459,1.459,0,0,0,0,9.455V22.842A1.459,1.459,0,0,0,1.455,24.3h5.82A1.459,1.459,0,0,0,8.73,22.842V21.1H8.148ZM6.023,8.624a.67.67,0,0,1-.484.395H3.191a.669.669,0,0,1-.484-.395l-.018-.042H6.041Z', transform='translate(0 -8)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    rect(width='0.582', height='6.402', transform='translate(9.894 4.947)', fill='#662c62')
    path(d='M75.275,8h-5.82A1.459,1.459,0,0,0,68,9.455V11.2h.582V9.455a.874.874,0,0,1,.873-.873h.6l.118.273a1.218,1.218,0,0,0,1.018.745h2.348a1.219,1.219,0,0,0,1.018-.745l.118-.273h.6a.874.874,0,0,1,.873.873V22.842a.874.874,0,0,1-.873.873h-5.82a.874.874,0,0,1-.873-.873V21.1H68v1.746A1.459,1.459,0,0,0,69.455,24.3h5.82a1.459,1.459,0,0,0,1.455-1.455V9.455A1.459,1.459,0,0,0,75.275,8Zm-1.252.624a.67.67,0,0,1-.484.395H71.191a.669.669,0,0,1-.484-.395l-.018-.042h3.352Z', transform='translate(-58.106 -8)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    path(d='M45.566,86.018a.291.291,0,0,0-.291-.291H39.432l.332-.181a.291.291,0,1,0-.279-.511l-1.334.727a.291.291,0,0,0,0,.511L39.485,87a.291.291,0,0,0,.279-.511l-.332-.181h5.843A.291.291,0,0,0,45.566,86.018Z', transform='translate(-32.471 -73.796)', fill='#662c62', stroke='#662c62', stroke-width='0.3')
    circle(cx='0.291', cy='0.291', r='0.291', transform='translate(4.365 3.783)', fill='#662c62')
    circle(cx='0.291', cy='0.291', r='0.291', transform='translate(13.678 11.931)', fill='#662c62')
