svg(xmlns='http://www.w3.org/2000/svg', width='14.235', height='15.406', viewBox='0 0 14.235 15.406')
  g(transform='translate(0 0)')
    path(d='M4.061,14.937a1.474,1.474,0,0,0,1.474,1.469h8.412a2.434,2.434,0,0,0,2.429-2.429V12.811a.514.514,0,0,0-.514-.514h-1.4V3.316A2.321,2.321,0,0,0,12.138,1H3.532A1.392,1.392,0,0,0,2.14,2.392V6.5a.514.514,0,0,0,.514.514H4.061Zm11.3-.96a1.407,1.407,0,0,1-1.412,1.4H6.936a1.443,1.443,0,0,0,.077-.442V13.325h8.334ZM13.432,3.316V12.3H6.495a.514.514,0,0,0-.514.514v2.136a.447.447,0,0,1-.447.442.442.442,0,0,1-.447-.442V2.392a1.371,1.371,0,0,0-.056-.365h7.107a1.294,1.294,0,0,1,1.294,1.289ZM3.162,5.966V2.371a.365.365,0,0,1,.37-.344H3.7a.365.365,0,0,1,.365.365V5.986Z', transform='translate(-2.14 -1)', fill='#662c62')
    path(d='M10.394,6.807h3.245a.514.514,0,0,0,0-1.027H10.394a.514.514,0,1,0,0,1.027Z', transform='translate(-5.905 -3.325)', fill='#662c62')
    path(d='M19.884,6.807h.385a.514.514,0,0,0,0-1.027h-.385a.514.514,0,0,0,0,1.027Z', transform='translate(-10.522 -3.325)', fill='#662c62')
    path(d='M10.394,10.947h3.245a.514.514,0,0,0,0-1.027H10.394a.514.514,0,1,0,0,1.027Z', transform='translate(-5.905 -5.339)', fill='#662c62')
    path(d='M19.884,10.947h.385a.514.514,0,0,0,0-1.027h-.385a.514.514,0,0,0,0,1.027Z', transform='translate(-10.522 -5.339)', fill='#662c62')
    path(d='M10.394,15.087h3.245a.514.514,0,0,0,0-1.027H10.394a.514.514,0,1,0,0,1.027Z', transform='translate(-5.905 -7.353)', fill='#662c62')
    path(d='M19.884,15.087h.385a.514.514,0,0,0,0-1.027h-.385a.514.514,0,0,0,0,1.027Z', transform='translate(-10.522 -7.353)', fill='#662c62')
    path(d='M19.884,19.227h.385a.514.514,0,0,0,0-1.027h-.385a.514.514,0,0,0,0,1.027Z', transform='translate(-10.522 -9.367)', fill='#662c62')
