svg(xmlns='http://www.w3.org/2000/svg', width='15.235', height='15.235', viewBox='0 0 15.235 15.235')
  g(transform='translate(0)')
    g(transform='translate(0)')
      path(d='M13.761,9.522A4.761,4.761,0,1,0,9,4.761,4.761,4.761,0,0,0,13.761,9.522Zm0-.635A4.126,4.126,0,1,0,9.635,4.761,4.126,4.126,0,0,0,13.761,8.887Z', transform='translate(-3.287)', fill='#662c62', fill-rule='evenodd')
      path(d='M6.977,12.559V12H6.343v.589a1.249,1.249,0,0,0-1.042,1.2c0,1.367,2.154,1.159,2.154,2.122a.685.685,0,0,1-.768.655,1.755,1.755,0,0,1-1.134-.479l-.353.472a2.043,2.043,0,0,0,1.143.561v.595h.635v-.594A1.235,1.235,0,0,0,8.084,15.89c0-1.442-2.154-1.2-2.154-2.116a.727.727,0,0,1,.806-.649,1.567,1.567,0,0,1,.976.384L8,12.993A1.757,1.757,0,0,0,6.977,12.559Z', transform='translate(-1.899 -4.383)', fill='#662c62', fill-rule='evenodd')
      path(d='M9.171,11.964A4.757,4.757,0,1,1,6.558,9.351a4.109,4.109,0,0,0,.464.958A4.125,4.125,0,1,0,8.213,11.5,4.109,4.109,0,0,0,9.171,11.964Z', transform='translate(0 -3.287)', fill='#662c62', fill-rule='evenodd')
      path(d='M4.864,1.915l-.808.808.449.449L6.077,1.6,4.506.03,4.057.479l.8.8H3.222A2.223,2.223,0,0,0,1,3.5V5.724h.635V3.5A1.588,1.588,0,0,1,3.222,1.915Z', transform='translate(-0.365 -0.011)', fill='#662c62', fill-rule='evenodd')
      path(d='M3.864,1.885l-.808.808.449.449L5.077,1.57,3.506,0,3.057.449l.8.8H2.222A2.223,2.223,0,0,0,0,3.472V5.694H.635V3.472A1.588,1.588,0,0,1,2.222,1.885Z', transform='translate(14.598 15.216) rotate(180)', fill='#662c62', fill-rule='evenodd')
      path(d='M13.3,6.444a2.116,2.116,0,0,1,0-.635h1.879V5.175H13.509A1.651,1.651,0,0,1,15,4.335a2.129,2.129,0,0,1,1.348.509l.324-.489a2.4,2.4,0,0,0-1.7-.615,2.316,2.316,0,0,0-2.19,1.435H12v.635h.617a2.629,2.629,0,0,0-.019.316,2.773,2.773,0,0,0,.018.318H12v.635h.771a2.308,2.308,0,0,0,2.212,1.485,2.5,2.5,0,0,0,1.811-.74l-.35-.469A2.111,2.111,0,0,1,15,7.963a1.665,1.665,0,0,1-1.493-.884h1.663V6.444Z', transform='translate(-4.383 -1.366)', fill='#662c62', fill-rule='evenodd')
