svg(xmlns='http://www.w3.org/2000/svg', width='16.748', height='11.039', viewBox='0 0 16.748 11.039')
  g(transform='translate(0 0)')
    path(d='M7.332,973.362A1.338,1.338,0,0,0,6,974.694v8.374A1.338,1.338,0,0,0,7.332,984.4H21.416a1.338,1.338,0,0,0,1.332-1.332v-8.374a1.338,1.338,0,0,0-1.332-1.332Zm0,.761H21.416a.561.561,0,0,1,.571.571v.571H6.761v-.571A.561.561,0,0,1,7.332,974.123Zm-.571,1.9H21.987v1.142H6.761Zm0,1.9H21.987v5.139a.562.562,0,0,1-.571.571H7.332a.562.562,0,0,1-.571-.571Zm10.658,1.517a1.526,1.526,0,0,0,0,3.051,1.517,1.517,0,0,0,.952-.339,1.51,1.51,0,0,0,.952.339,1.523,1.523,0,1,0-.946-2.712A1.522,1.522,0,0,0,17.419,979.446Zm0,.767a.758.758,0,1,1-.761.761A.756.756,0,0,1,17.419,980.214Zm1.9,0a.761.761,0,1,1-.494,1.338,1.491,1.491,0,0,0,.113-.577,1.516,1.516,0,0,0-.113-.577A.762.762,0,0,1,19.322,980.214Z', transform='translate(-6 -973.362)', fill='#662c62')
