svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 56.569 20.298')
  defs
    style .cls-1 { fill: #a7a7a7 }
  g(id='vtex', transform='translate(-0.049)')
    path(id='Path_23',
      data-name='Path 23',
      class='cls-1',
      d='M1321.741,168.333a1.493,1.493,0,0,1-.346.093c-.55.011-1.1,0-1.654.007a.423.423,0,0,1-.4-.219c-.494-.792-1-1.579-1.5-2.371-.041-.063-.082-.123-.137-.208-.056.085-.1.145-.138.212-.442.758-.888,1.516-1.323,2.278a.524.524,0,0,1-.531.312c-.468-.022-.94,0-1.412-.011a1.16,1.16,0,0,1-.286-.074,1.313,1.313,0,0,1,.093-.282q1.187-1.99,2.393-3.976a.307.307,0,0,0-.007-.383q-1.21-1.879-2.408-3.772a1.252,1.252,0,0,1-.089-.268,1.223,1.223,0,0,1,.275-.063c.546-.007,1.089.007,1.635-.007a.485.485,0,0,1,.464.268c.457.728.918,1.453,1.379,2.181.037.056.074.108.13.19.056-.082.1-.137.134-.2.45-.732.907-1.464,1.349-2.2a.435.435,0,0,1,.42-.242c.513.007,1.029,0,1.542.007a.938.938,0,0,1,.238.063.911.911,0,0,1-.078.253q-1.2,1.912-2.408,3.813a.292.292,0,0,0,0,.375c.836,1.308,1.665,2.624,2.5,3.935.052.082.1.167.156.249A.164.164,0,0,1,1321.741,168.333Z',
      transform='translate(-1265.123 -153.666)')
    path(id='Path_24',
      data-name='Path 24',
      class='cls-1',
      d='M9.527,15.623c-.167.312-.308.572-.446.832-.364.687-.728,1.379-1.093,2.066a1.174,1.174,0,0,1-2.122,0Q3.035,13.174.2,7.83A1.152,1.152,0,0,1,.977,6.113a1.71,1.71,0,0,1,.275-.019H4.444C4.4,6,4.381,5.935,4.351,5.872,3.79,4.8,3.217,3.727,2.667,2.65A1.8,1.8,0,0,1,3.686.1a1.924,1.924,0,0,1,.6-.1Q13.169,0,22.062,0a1.74,1.74,0,0,1,1.553,2.557c-.524,1.018-1.07,2.022-1.609,3.032q-3.64,6.84-7.276,13.679A1.767,1.767,0,0,1,13.058,20.3a1.735,1.735,0,0,1-1.579-1c-.513-.962-1.018-1.925-1.527-2.887C9.817,16.165,9.683,15.916,9.527,15.623Zm.048-9.58c-1.275,0-2.549.011-3.824,0a.785.785,0,0,0-.736,1.215c.881,1.6,1.721,3.218,2.575,4.827q.6,1.12,1.193,2.245a.807.807,0,0,0,1.479-.015q1.472-2.759,2.943-5.515c.3-.572.617-1.145.914-1.721a.681.681,0,0,0-.386-.981,1.336,1.336,0,0,0-.383-.048C12.092,6.039,10.835,6.042,9.576,6.042Z')
    path(id='Path_25',
      data-name='Path 25',
      class='cls-1',
      d='M690.9,160.157c.249,0,.494,0,.743,0a.252.252,0,0,1,.286.223q.847,3.155,1.7,6.31c.03.1.052.216.186.219s.175-.115.2-.223q.842-3.11,1.68-6.221c.082-.3.093-.308.405-.308.446,0,.892,0,1.338,0,.286,0,.346.078.268.346q-1.02,3.6-2.036,7.2a1.878,1.878,0,0,1-2.122,1.36,1.777,1.777,0,0,1-1.579-1.4c-.684-2.393-1.379-4.783-2.066-7.172-.071-.245-.007-.327.253-.327S690.654,160.157,690.9,160.157Z',
      transform='translate(-664.192 -154.204)')
    path(id='Path_26',
      data-name='Path 26',
      class='cls-1',
      d='M1132.433,161.15c0-.695-.019-1.386.007-2.081a4.062,4.062,0,0,1,.175-1.033,1.905,1.905,0,0,1,1.676-1.3,10.627,10.627,0,0,1,2.683-.011c.238.022.479.059.717.078a.241.241,0,0,1,.253.275c0,.323,0,.643,0,.966,0,.227-.074.3-.3.3H1135.3c-.676,0-.873.193-.881.87,0,.29.007.583,0,.873-.007.164.056.212.216.212.959-.007,1.918,0,2.88,0,.294,0,.331.037.331.334v.892c0,.286-.045.331-.338.331h-2.936c-.093,0-.152.03-.149.141.011.457,0,.918.03,1.371.033.435.241.606.684.606q1.226.006,2.453,0c.3,0,.36.052.36.349v.873c0,.256-.048.316-.3.346-.349.041-.7.093-1.052.108a12.408,12.408,0,0,1-2.167-.026,2.049,2.049,0,0,1-1.955-2.014c-.033-.412-.03-.829-.033-1.241S1132.433,161.559,1132.433,161.15Z',
      transform='translate(-1090.297 -150.823)')
    path(id='Path_27',
      data-name='Path 27',
      class='cls-1',
      d='M933.885,164.98v3.289c0,.286-.071.357-.364.357h-1.189c-.409,0-.435-.026-.435-.427v-6.373c0-.056,0-.111,0-.167.019-.175-.048-.242-.23-.238-.576.007-1.152,0-1.728,0-.29,0-.338-.048-.338-.331v-1c0-.223.063-.29.286-.29h5.983c.227,0,.282.059.282.286v1.059c0,.216-.059.275-.279.275-.595,0-1.189,0-1.784,0-.164,0-.212.048-.212.212C933.888,162.751,933.885,163.866,933.885,164.98Z',
      transform='translate(-895.007 -153.862)')
