svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 15.968 15.968')
  defs
    style .cls-1 { fill: currentColor }
  g(id='fechar', transform='translate(-37.3 -37.3)')
    path(
      id='Path_14',
      data-name='Path 14',
      class='cls-1',
      d='M52.388,53.268l-7.1-7.1-7.1,7.1-.88-.88,7.1-7.1-7.1-7.1.88-.88,7.1,7.1,7.1-7.1.88.88-7.1,7.1,7.1,7.1Z',
      transform='translate(0 0)')
