svg(xmlns='http://www.w3.org/2000/svg',
  viewBox='0 0 482.808 15.645')
  g(id='LOGO',
    transform='translate(0 0.1)')
    path(id='Path_42',
      data-name='Path 42',
      d='M0,.912A.413.413,0,0,1,.412.5H6.464a4.747,4.747,0,0,1,4.858,4.652A4.832,4.832,0,0,1,8.028,9.558l3.047,5.517a.4.4,0,0,1-.371.618H8.975a.473.473,0,0,1-.371-.206L5.64,9.722H2.306v5.517a.443.443,0,0,1-.412.412H.412A.413.413,0,0,1,0,15.239ZM6.3,7.87A2.733,2.733,0,0,0,9.016,5.193,2.719,2.719,0,0,0,6.3,2.6H2.347V7.87Z',
      transform='translate(0 -0.353)')
    path(id='Path_43',
      data-name='Path 43',
      d='M104.9.912A.413.413,0,0,1,105.312.5H114.2a.413.413,0,0,1,.412.412V2.147a.413.413,0,0,1-.412.412h-7V6.964h5.929a.443.443,0,0,1,.412.412V8.611a.413.413,0,0,1-.412.412h-5.929v4.652h7a.413.413,0,0,1,.412.412V15.28a.413.413,0,0,1-.412.412h-8.893a.413.413,0,0,1-.412-.412Z',
      transform='translate(-61.712 -0.353)')
    path(id='Path_44',
      data-name='Path 44',
      d='M205.7.371A.406.406,0,0,1,206.112,0h.535l9.634,10.869h.041V.618a.413.413,0,0,1,.412-.412h1.441a.443.443,0,0,1,.412.412V15.233a.406.406,0,0,1-.412.371H217.6l-9.634-11.2h-.041V14.986a.413.413,0,0,1-.412.412h-1.4a.443.443,0,0,1-.412-.412V.371Z',
      transform='translate(-121.012 -0.059)')
    path(id='Path_45',
      data-name='Path 45',
      d='M311.443,14.763,318.277.147a.548.548,0,0,1,.371-.247h.206a.473.473,0,0,1,.371.247l6.793,14.616a.392.392,0,0,1-.371.576h-1.4a.5.5,0,0,1-.494-.329l-1.359-2.964h-7.246l-1.359,2.964a.556.556,0,0,1-.494.329h-1.4C311.484,15.339,311.319,15.051,311.443,14.763Zm10.046-4.57-2.717-5.929h-.124l-2.717,5.929Z',
      transform='translate(-183.196)')
    path(id='Path_46',
      data-name='Path 46',
      d='M418.735,2.559h-3.623a.413.413,0,0,1-.412-.412V.912A.413.413,0,0,1,415.112.5h9.552a.413.413,0,0,1,.412.412V2.147a.413.413,0,0,1-.412.412H421.04V15.28a.443.443,0,0,1-.412.412h-1.482a.443.443,0,0,1-.412-.412Z',
      transform='translate(-243.965 -0.353)')
    path(id='Path_47',
      data-name='Path 47',
      d='M507.619,14.763,514.453.147a.548.548,0,0,1,.371-.247h.206a.473.473,0,0,1,.371.247l6.793,14.616a.392.392,0,0,1-.371.576h-1.4a.5.5,0,0,1-.494-.329l-1.359-2.964h-7.246l-1.359,2.964a.556.556,0,0,1-.494.329h-1.4C507.66,15.339,507.454,15.051,507.619,14.763Zm10.046-4.57-2.717-5.929h-.123l-2.717,5.929Z',
      transform='translate(-298.595)')
    path(id='Path_48',
      data-name='Path 48',
      d='M615.344,0a7.937,7.937,0,0,1,5.393,2.017.414.414,0,0,1,.041.618l-.988.988a.309.309,0,0,1-.535,0,5.969,5.969,0,0,0-3.829-1.441,5.578,5.578,0,0,0-5.558,5.64,5.579,5.579,0,0,0,5.6,5.6,5.988,5.988,0,0,0,3.829-1.441.439.439,0,0,1,.535-.041l1.029.988a.4.4,0,0,1-.041.576,7.691,7.691,0,0,1-5.393,2.1A7.883,7.883,0,0,1,607.4,7.822,7.8,7.8,0,0,1,615.344,0Z',
      transform='translate(-357.328 -0.059)')
    path(id='Path_49',
      data-name='Path 49',
      d='M711.443,14.763,718.277.147a.548.548,0,0,1,.37-.247h.206a.473.473,0,0,1,.371.247l6.793,14.616a.392.392,0,0,1-.371.576h-1.4a.5.5,0,0,1-.494-.329l-1.359-2.964h-7.246l-1.359,2.964a.556.556,0,0,1-.494.329h-1.4C711.484,15.339,711.319,15.051,711.443,14.763Zm10.046-4.57-2.717-5.929h-.124l-2.717,5.929Z',
      transform='translate(-418.514)')
    path(id='Path_50',
      data-name='Path 50',
      d='M821.448.329A.443.443,0,0,1,821.859,0h.371a.473.473,0,0,1,.371.247l4.652,11.075h.082L831.946.247A.417.417,0,0,1,832.317,0h.37a.489.489,0,0,1,.412.329L835.816,14.9c.082.288-.082.494-.412.494h-1.441a.464.464,0,0,1-.412-.288L831.9,5.393h-.082l-3.994,9.963a.373.373,0,0,1-.371.247h-.412a.417.417,0,0,1-.371-.247l-4.035-9.963h-.082l-1.606,9.716a.409.409,0,0,1-.412.288H819.1c-.329,0-.453-.206-.412-.494Z',
      transform='translate(-481.625 -0.059)')
    path(id='Path_51',
      data-name='Path 51',
      d='M937.2.912A.413.413,0,0,1,937.612.5h5.064a4.933,4.933,0,0,1,4.982,4.776,4.946,4.946,0,0,1-4.94,4.9h-3.211V15.28a.443.443,0,0,1-.412.412h-1.441a.413.413,0,0,1-.412-.412V.912Zm5.352,7.164a2.83,2.83,0,0,0,2.841-2.758,2.7,2.7,0,0,0-2.841-2.594h-3.047V8.117h3.047Z',
      transform='translate(-551.349 -0.353)')
    path(id='Path_52',
      data-name='Path 52',
      d='M1043.487,0a7.882,7.882,0,0,1,7.987,7.822,7.99,7.99,0,0,1-15.974,0A7.882,7.882,0,0,1,1043.487,0Zm0,13.463a5.7,5.7,0,0,0,5.764-5.6,5.765,5.765,0,0,0-11.528,0A5.721,5.721,0,0,0,1043.487,13.463Z',
      transform='translate(-609.178 -0.059)')
    path(id='Path_53',
      data-name='Path 53',
      d='M1148.525,13.216c.206-.288.371-.618.577-.906s.494-.371.741-.165a6.485,6.485,0,0,0,3.541,1.482c1.523,0,2.511-.906,2.511-2.017,0-1.317-1.153-2.141-3.335-3.005-2.264-.947-4.035-2.1-4.035-4.611,0-1.688,1.318-3.994,4.858-3.994a7.659,7.659,0,0,1,4.117,1.276.5.5,0,0,1,.123.741c-.165.247-.371.576-.535.823a.517.517,0,0,1-.782.206,7.193,7.193,0,0,0-3.006-1.07c-1.853,0-2.511,1.153-2.511,1.935,0,1.235.988,1.976,2.841,2.717,2.594,1.029,4.776,2.223,4.776,4.858,0,2.264-2.058,4.117-4.94,4.117a7.266,7.266,0,0,1-4.776-1.729C1148.443,13.751,1148.278,13.586,1148.525,13.216Z',
      transform='translate(-675.598 -0.059)')
