svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 41.945 13.45')
  defs
    style .cls-1 { fill: #a7a7a7 }
  g(id='enext', transform='translate(0 -0.055)')
    path(id='Path_28',
      data-name='Path 28',
      class='cls-1',
      d='M7.173,218.367a3.972,3.972,0,0,0-3.919-1.439,3.8,3.8,0,0,0-2,.963,3.607,3.607,0,0,0-1.192,1.99,2.2,2.2,0,0,1-.066.352v2.586a.039.039,0,0,1,.009.024,2.945,2.945,0,0,0,.328,1.241,3.406,3.406,0,0,0,.791,1.035,4.256,4.256,0,0,0,1.325.813.6.6,0,0,0,.2.052.529.529,0,0,0,.058.021,5.372,5.372,0,0,0,1.265.229c.032.026.067.011.1.013h.77c.041,0,.082.015.12-.013.06-.009.122-.015.184-.019a4.16,4.16,0,0,0,1.267-.3,2.889,2.889,0,0,0,1.057-.68.61.61,0,0,0,.176-.559,1.107,1.107,0,0,0-.349-.609.565.565,0,0,0-.632-.12c-.126.051-.249.1-.371.163a4.7,4.7,0,0,1-.918.4.918.918,0,0,0-.1.006,3.472,3.472,0,0,1-.975.082,2.712,2.712,0,0,1-1.3-.369,1.824,1.824,0,0,1-.932-1.655c0-.828,0-1.655,0-2.483a1.272,1.272,0,0,1,.009-.169A1.649,1.649,0,0,1,3,218.676a2.127,2.127,0,0,1,1.327-.214,1.807,1.807,0,0,1,1.572,1.6,1.042,1.042,0,0,1-.022.38.279.279,0,0,1-.261.219c-.114.009-.229.026-.345.026q-1.285,0-2.568,0c-.135,0-.154.017-.154.15q0,.576,0,1.153c0,.141.017.157.156.157,1.171,0,2.343,0,3.512,0a.749.749,0,0,0,.294-.043.152.152,0,0,1,.06-.021,1.482,1.482,0,0,0,.484-.114,1.089,1.089,0,0,0,.551-.412,1.956,1.956,0,0,0,.221-.765,4.552,4.552,0,0,0,0-.767A3.045,3.045,0,0,0,7.173,218.367Z',
      transform='translate(0 -212.748)')
    path(id='Path_29',
      data-name='Path 29',
      class='cls-1',
      d='M1489.532,223.042l-1.409-1.99c-.026-.037-.051-.067-.013-.118.291-.407.575-.815.864-1.224.469-.664.941-1.327,1.406-1.992a.537.537,0,0,0,.116-.4.758.758,0,0,0-.229-.416,1.923,1.923,0,0,0-.919-.523c-.03-.028-.064-.013-.1-.015h0l-.075,0a.575.575,0,0,0-.495.251q-.888,1.4-1.786,2.785a1.179,1.179,0,0,1-.178.255c-.176-.277-.351-.549-.525-.819-.457-.716-.92-1.428-1.372-2.148a.628.628,0,0,0-.382-.313c-.028-.028-.064-.013-.1-.015h-.122c-.034,0-.069-.013-.1.013h0a1.722,1.722,0,0,0-1.018.6.551.551,0,0,0-.148.339.123.123,0,0,0,0,.129h0a.737.737,0,0,0,.172.35q1.032,1.468,2.062,2.937c.052.075.15.146.142.229s-.092.156-.144.231q-1.057,1.518-2.116,3.034a.963.963,0,0,0-.229.437.2.2,0,0,0,0,.167h0a.943.943,0,0,0,.439.594,1.364,1.364,0,0,0,.9.322.607.607,0,0,0,.5-.275q.571-.872,1.143-1.743c.285-.433.568-.866.853-1.3.024-.036.043-.09.09-.019.154.238.307.476.463.712l1.563,2.378a.52.52,0,0,0,.176.174.77.77,0,0,0,.523.062,1.7,1.7,0,0,0,.909-.529.588.588,0,0,0,.1-.806Q1490.018,223.727,1489.532,223.042Z',
      transform='translate(-1455.033 -212.252)')
    path(id='Path_30',
      data-name='Path 30',
      class='cls-1',
      d='M1974.077,11.643c-.032-.028-.068-.011-.1-.013h0a7.56,7.56,0,0,1-1.147-.022,1.047,1.047,0,0,1-.587-.247,1.077,1.077,0,0,1-.3-.812c0-.058.017-.118-.013-.174,0-.037,0-.075,0-.112q0-4.746,0-9.491a.518.518,0,0,0-.249-.459,1.4,1.4,0,0,0-1.535-.052.6.6,0,0,0-.337.568q.011,4.765.005,9.529c0,.058,0,.118,0,.176,0,.041-.015.084.013.122a3.17,3.17,0,0,0,.148.847,2.447,2.447,0,0,0,.8,1.175,2.949,2.949,0,0,0,1.072.525,3.876,3.876,0,0,0,.83.137c.03.026.065.013.1.013h0l.2.006c.021.021.047.015.071.015h.945c.024,0,.051.006.071-.015-.075,0-.148,0-.223,0l.223,0c.034-.006.067-.009.1-.017a.862.862,0,0,0,.619-1.068A.771.771,0,0,0,1974.077,11.643Z',
      transform='translate(-1932.881)')
    path(id='Path_31',
      data-name='Path 31',
      class='cls-1',
      d='M646.195,220.212v-.253c0-.036.013-.071-.013-.1-.008-.058-.015-.118-.021-.176a3.715,3.715,0,0,0-.373-1.3,3.829,3.829,0,0,0-1-1.25,2.949,2.949,0,0,0-1.631-.686c-.032-.026-.068-.013-.1-.013h-.377c-.036,0-.071-.013-.1.013-.157.015-.313.041-.469.071a3.765,3.765,0,0,0-1.078.463.158.158,0,0,0-.082.154c0,.521,0,1.044,0,1.565,0,.022-.013.049.017.071a1.987,1.987,0,0,1,.633-.4,1.774,1.774,0,0,1,.752-.116c.03.026.066.013.1.013h0a1.2,1.2,0,0,1,.336.069,1.941,1.941,0,0,1,.926.663,1.983,1.983,0,0,1,.442,1.291q-.006,2.311,0,4.62c0,.051,0,.1,0,.15a.436.436,0,0,0,.107.246,1.047,1.047,0,0,0,.56.32,1.441,1.441,0,0,0,.849-.032.657.657,0,0,0,.521-.72C646.189,223.316,646.195,221.764,646.195,220.212Z',
      transform='translate(-628.935 -212.314)')
    path(id='Path_32',
      data-name='Path 32',
      class='cls-1',
      d='M505.968,223.761c0-.034.011-.069-.013-.1h0a.407.407,0,0,1-.118-.2.61.61,0,0,0-.446-.343,1.082,1.082,0,0,0-.266-.043,1.326,1.326,0,0,0-.879.216.554.554,0,0,0-.244.478c.006.5,0,1,0,1.507s0,.98,0,1.469v4.806a.4.4,0,0,0,.037.216.839.839,0,0,0,.542.382,1.461,1.461,0,0,0,.808-.022.723.723,0,0,0,.566-.517c.028-.032.015-.071.015-.109Q505.966,227.629,505.968,223.761Z',
      transform='translate(-494.554 -218.835)')
    path(id='Path_33',
      data-name='Path 33',
      class='cls-1',
      d='M2120.292,219c.508,0,1.014,0,1.522,0,.03,0,.063.009.09-.015a.543.543,0,0,0,.388-.317,1.074,1.074,0,0,0,.013-.943.618.618,0,0,0-.4-.38.1.1,0,0,0-.071-.015h-1.558c-.026,0-.058-.009-.075.022v1.623C2120.221,219.018,2120.26,219,2120.292,219Z',
      transform='translate(-2080.462 -213.204)')
    path(id='Path_34',
      data-name='Path 34',
      class='cls-1',
      d='M1023.706,219.55c-.007-.049-.017-.1-.021-.146a2.948,2.948,0,0,0-.294-1.031,3.632,3.632,0,0,0-1.6-1.595,3.95,3.95,0,0,0-1.589-.439c-.038-.028-.079-.011-.12-.013l.017.006a.06.06,0,0,1-.017-.006h-.4c-.039,0-.083-.015-.12.013-.1.009-.193.013-.289.028a3.933,3.933,0,0,0-1.4.463,4.266,4.266,0,0,0-.71.515,3.622,3.622,0,0,0-.307.3,4.227,4.227,0,0,0-.307.377,3.353,3.353,0,0,0-.611,1.747c-.028.037-.011.081-.013.122h0c0,.429,0,.858,0,1.288,0,.3,0,.59,0,.887,0,.041-.015.084.013.122.015.092.008.184.023.276a3.844,3.844,0,0,0,.214.853,3.241,3.241,0,0,0,.682,1.068,4.327,4.327,0,0,0,2,1.155,4.544,4.544,0,0,0,1,.157c.037.028.079.011.118.013h.757c.039,0,.081.015.118-.013a4.5,4.5,0,0,0,1.453-.324,2.849,2.849,0,0,0,1.044-.669.617.617,0,0,0,.189-.527,1.093,1.093,0,0,0-.315-.611.563.563,0,0,0-.62-.176c-.116.041-.231.09-.343.141-.26.12-.508.27-.78.369a2.719,2.719,0,0,1-.991.184h-.165a2.555,2.555,0,0,1-.654-.058,2.353,2.353,0,0,1-1.471-.866,1.644,1.644,0,0,1-.373-.977c-.017-.858-.007-1.717-.007-2.575a1.547,1.547,0,0,1,.467-1.095,1.986,1.986,0,0,1,1.065-.589,2.36,2.36,0,0,1,1.121.041,1.876,1.876,0,0,1,.969.671,1.652,1.652,0,0,1,.352,1.171.371.371,0,0,1-.092.238.427.427,0,0,1-.367.12.159.159,0,0,1-.049.009.366.366,0,0,0,.049-.009l-2.674,0c-.024,0-.051-.006-.068.021h0c0,.44,0,.881,0,1.321,0,.06.007.086.079.086,1.13,0,2.26,0,3.39-.006a2.443,2.443,0,0,0,.907-.163,1.02,1.02,0,0,0,.65-.7,3.273,3.273,0,0,0,.1-.536c.028-.037.011-.081.013-.12h0v-.4C1023.717,219.63,1023.734,219.587,1023.706,219.55Z',
      transform='translate(-996.881 -212.214)')
