svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 15.162 15.162")
  path(id="instagram",
    d="M60.282,47.065V58.337a1.956,1.956,0,0,1-1.945,1.945H47.065a1.956,1.956,0,0,1-1.945-1.945V47.065a1.956,1.956,0,0,1,1.945-1.945H58.337A1.956,1.956,0,0,1,60.282,47.065Zm-1.717,2.053V47.49a.662.662,0,0,0-.207-.479.649.649,0,0,0-.483-.207H56.165a.649.649,0,0,0-.483.207.662.662,0,0,0-.207.479v1.628a.674.674,0,0,0,.68.68h1.717a.674.674,0,0,0,.68-.68Zm-2.8,3.555a2.8,2.8,0,0,0-.894-2.088,3.111,3.111,0,0,0-4.3,0,2.887,2.887,0,0,0,0,4.175,3.111,3.111,0,0,0,4.3,0A2.8,2.8,0,0,0,55.761,52.673Zm2.8,5.261v-6.4H57.231a4.247,4.247,0,0,1,.207,1.292,4.374,4.374,0,0,1-.622,2.3A4.606,4.606,0,0,1,55.1,56.783a4.743,4.743,0,0,1-2.368.622,4.61,4.61,0,0,1-3.318-1.338A4.334,4.334,0,0,1,48,52.831a4.247,4.247,0,0,1,.207-1.292h-1.4v6.394a.591.591,0,0,0,.6.6H57.953a.587.587,0,0,0,.415-.172.574.574,0,0,0,.2-.429Z",
    transform="translate(-45.12 -45.12)")
