svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 11.271 12.298')
  path(id='icon-conta',
    d='M11.285,11.725A5.655,5.655,0,0,0,6.8,6.607c.059-.021.118-.044.176-.069a3.4,3.4,0,0,0,0-6.271A3.4,3.4,0,0,0,3.244,5.809a3.392,3.392,0,0,0,1.081.729c.058.024.117.047.176.069A5.65,5.65,0,0,0,.016,11.725a.533.533,0,0,0,.53.572H10.753a.532.532,0,0,0,.389-.17A.539.539,0,0,0,11.285,11.725Z',
    transform='translate(-0.015)')
