svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 7.592 15.162")
  path(id="facebook",
    d="M63.124,60.5h2.844V52.923h2.577l.267-2.607H65.968v-1.3a1.434,1.434,0,0,1,.178-.829q.178-.237.859-.237h1.807V45.34H66.2a2.915,2.915,0,0,0-2.429.846,4.227,4.227,0,0,0-.652,2.59v1.54h-1.9v2.607h1.9Z",
    transform="translate(-61.22 -45.34)")
