svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 18 18')
  defs
    style .cls-1 { fill: #ff5a29 } .cls-2 { fill: #fff }
  g(id='certinho', transform='translate(4.752 5.801)')
    circle(id='Ellipse_6',
      data-name='Ellipse 6',
      class='cls-1',
      cx='9',
      cy='9',
      r='9',
      transform='translate(-4.752 -5.801)')
    path(id='Path_41',
      data-name='Path 41',
      class='cls-2',
      d='M2.853,5,1.06,3.206,0,4.238,3.016,7.254,9.047,1.223,7.851,0Z')
