svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 12.365 12.6')
  path(id='icon-busca',
    d='M12.115,11.055,8.753,7.693a4.808,4.808,0,0,0-.485-6.27A4.84,4.84,0,1,0,1.424,8.269,4.811,4.811,0,0,0,4.846,9.692a4.927,4.927,0,0,0,2.6-.757l3.392,3.392a.878.878,0,0,0,1.272,0A.934.934,0,0,0,12.115,11.055ZM2.7,7a3.016,3.016,0,0,1,0-4.271,3.049,3.049,0,0,1,2.15-.878A3.1,3.1,0,0,1,7,2.726a3,3,0,0,1,.878,2.15A3,3,0,0,1,7,7.027H7A3.081,3.081,0,0,1,2.7,7Z')
