svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 13.256 12.298')
  path(id='icon-coracao',
    d='M6.523,12.072c.554-.379,6.525-4.541,6.525-8.239C13.048,1.522,11.636,0,9.6,0A3.827,3.827,0,0,0,6.524,1.995,3.827,3.827,0,0,0,3.447,0C1.412,0,0,1.522,0,3.833c0,3.7,5.965,7.86,6.519,8.239Z',
    transform='matrix(1, -0.017, 0.017, 1, 0, 0.228)')
