svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 11.318 14.145')
  g(id='icon-sacola', transform='translate(-15.993 -6)')
    path(id='Path_54',
      data-name='Path 54',
      d='M26.811,39.317H16.493a.5.5,0,0,1-.5-.534l.666-9.319a.5.5,0,0,1,.5-.464h8.986a.5.5,0,0,1,.5.464l.666,9.319a.5.5,0,0,1-.5.534Zm-9.782-1h9.246L25.681,30H17.623Z',
      transform='translate(0 -19.173)')
    path(id='Path_55',
      data-name='Path 55',
      d='M38.159,9.328a.5.5,0,0,1-.5-.5,1.831,1.831,0,0,0-3.661,0,.5.5,0,0,1-1,0,2.829,2.829,0,1,1,5.658,0,.5.5,0,0,1-.5.5Z',
      transform='translate(-14.177 0)')
    path(id='Path_56',
      data-name='Path 56',
      d='M33.5,24.992a.5.5,0,0,1-.5-.5V20.5a.5.5,0,0,1,1,0v3.994A.5.5,0,0,1,33.5,24.992Z',
      transform='translate(-14.177 -11.67)')
    path(id='Path_57',
      data-name='Path 57',
      d='M61.5,24.992a.5.5,0,0,1-.5-.5V20.5a.5.5,0,1,1,1,0v3.994A.5.5,0,0,1,61.5,24.992Z',
      transform='translate(-37.518 -11.67)')
