
@include mq('sm') {
    .x-product__img-main {
        img.has--placeloader {
            padding: 29.5% 100%;
        }
    }

    .x-product__img-nav {
        img.has--placeloader {
            padding: 18.5% 100%;
        }
    }
}

@include mq('sm', max) {
    .x-product__img-main {
        img.has--placeloader {
            padding: 70% 50%;
        }
    }
}
