
@include mq('sm') {
    .x-main-banner__big {
        img.has--placeloader {
            padding: 28% 100%;
        }
    }

    .x-main-banner__small {
        img.has--placeloader {
            padding: 57% 100%;
        }
    }
}


// Mobile
@include mq('sm', max) {
    .x-main-banner {
        img.has--placeloader {
            padding: 44% 50%;
        }
    }
}
