
.x-home,
.x-product,
.x-empty-search {
    &__main-shelf,
    &__suggestion-shelf {
        img,
        .x-shelf__placeloader {
            &.has--placeloader {
                padding: 62.3% 50%
            }
        }

        .x-shelf__img-back {
            &.has--placeloader {
                padding: 0;
            }
        }
    }
}
