
@include mq('sm') {
    .x-category__banner {
        img.has--placeloader {
            padding: 7.8% 100%
        }
    }

    .x-category__products {
        img,
        .x-shelf__placeloader {
            &.has--placeloader {
                padding: 62.3% 50%;
            }
        }

        .x-shelf__img-back {
            &.has--placeloader {
                padding: 0;
            }
        }
    }
}

@include mq('sm', max) {
    .x-category__banner {
        img.has--placeloader {
            padding: 30% 50%;
        }
    }

    .x-category__products {
        img,
        .x-shelf__placeloader {
            &.has--placeloader {
                padding: 75% 50%;
            }
        }
    }
}
