
.x-lookbook {
    &__banner {
        img {
            &.has--placeloader {
                padding: 22% 50%;
            }
        }
    }

    &__list {
        img,
        .x-shelf__placeloader {
            &.has--placeloader {
                padding: 75% 50%;
            }
        }
    }

    &__more-collection-nav {
        img {
            &.has--placeloader {
                padding: 21% 50%;
            }
        }
    }
}
