.client-pre-email {
    background-color: $background-color;

    &-h {
        margin-bottom: 20px;

        label {
            margin-top: 55px;

            span {
                color: #662c62;    
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }

            small { display: none; }            
        }
    }

    .btn-success {
        position: relative;
        top: initial;
        left: initial;
        height: 38px;
        font-size: 12px;
    }

    .emailInfo {
        position: static;
        padding: 0 15px;
        margin-top: 50px;
        background-color: $background-color;
        border: none;

        .icon-lock {
            display: none;
        }

        h3 {
            color: #662c62;    
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }

        ul {
            padding-left: 22px;

            @media (max-width: 490px) {
                padding: 0;
            }

            li {
                margin-top: 16px;
                color: #767676;
                display: flex;

                i {
                    float: left;
                }

                i::before {
                    content: '';
                    display: block;
                    float: left;
                    width: 12px;
                    height: 12px;
                    background-color: $color-red-light;
                    margin-right: 16px;
                }
            }
        }
    }

    .pre-email {
        .client-email.input {
            margin: 0;
            width: 100%;

            input {
                height: 32px;
                font-size: 12px;
                padding: 0;
                padding-left: 24px;
                width: 462px;

                color: $color-black;
                font-weight: 600;

                #btn-client-pre-email {
                    position: initial;
                }
            }
        }
    }
}