extends ./../../common/_layouts/_common-base.pug

//- Template variables
block vars
    - var $templateType = 'mobile'

//- Page styles
block append styles
    vtex:template(id='SuperGetMobile-Head')/
    vtex:template(id='SuperGetMobile-Styles')/


block append deviceHeader
    vtex:template(id='SuperGetMobile-Header')/

block append footer
    vtex:template(id='SuperGetMobile-MainMenu')/

block append deviceScripts
    vtex:template(id='SuperGetMobile-Scripts')/

//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/


//- Main Content
block content
    section(class='x-institutional__container')

        div(class='x-institutional__banner')
            h1(class='x-institutional__banner-title') Confiança e segurança para os seus negócios

        div(class='x-institutional__left')
            block institutionalContentLeft

        div(class='x-institutional__right')
            block institutionalContentRight

//- Page scripts
block append scripts
    script(type='text/javascript', src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyBgudOVG700NMffR-iUIhSBWJbUuBXx4m4`)
    script(type='text/javascript', src=`https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js`)
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)

block append footer
    vtex:template(id='SuperGET-Mobile-Footer')/
    vtex:template(id='SuperGetMobile-MainMenu')/
    vtex:template(id='SuperGetMobile-Footer')/

block append deviceScripts
    vtex:template(id='SuperGetMobile-Scripts')/
