
extends ./../../common/_layouts/_common-base.pug

block vars
    - var $templateType = 'mobile'

block append deviceHeader
    vtex:template(id='SuperGetMobile-Header')/

block append styles
    vtex:template(id='SuperGetMobile-Head')/
    vtex:template(id='SuperGetMobile-Styles')/

block append footer
    vtex:template(id='SuperGetMobile-Footer')/

block append deviceScripts
    vtex:template(id='SuperGetMobile-Scripts')/
