
.x-atendimento {
    position: fixed;
    bottom: 10%;
    z-index: 99;
    right: 65px;
    text-align: right;

    @include mq('sm', max) {
        bottom: 7%;
        right: 25px;
    }

    
    &__icones {

        &--box {

            a:not([href*="faq"]) {
                display: none;
            }

            &:hover {
                &>a:not([href*='faq']) {
                    width: auto;
                    display: inline-block;
                    vertical-align: middle;
                    background: #f00;
                    color: #FFF;
                    padding: 5px 20px;
                    margin-bottom: 15px;
                    border: 1px solid #F00;
                    border-radius: 20px;
                    box-shadow: 3px 5px 8px #999;
                }
            }
        }
    
        &--item,
        &--box span,
        &--box a[href*='faq'] {
            width: 45px;
            height: 67px;
            display: inline-block;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: width 2s;
            vertical-align: middle;
            
            svg,
            &[href*="faq"] svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        &:not(.is--active) {

            .x-atendimento__icones--item-fechar,
            .js-atendimento__box {
                display: none;
            }
        }

        &.is--active {
            .x-atendimento__icones--item-interrogacao {
                display: none;
            }
        }
       
    }

}

.x-superget-sell {
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    
    &__center {
        margin: 0 45px;
        padding: 30px 0;
        width: calc(100% - 90px);
        display: flex;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
        background: #f4f4f4;
        @include mq(sm, max) {
            width: calc(100% - 34px);            
            padding: 0;
            @include rem(max-width, 342px);
        }
    }
    
    &__header {
        width: 100%;
        color: #662C62;
        font-size: 20px;
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 30px;
        @include mq(sm, max) {
            @include rem(max-width, 257px);

        }
        
        h2 {
            letter-spacing: 0.5px;
            margin-bottom: 5px;
            display: block;
            width: 100%;
            font-weight: 400;
            @include mq(sm, max) {
                @include rem(font-size, 12px);
                text-transform: uppercase;
            }
            
            strong {
                font-weight: 700;
            }
        }
        
        p {
            font-size: 17px;
            font-size: 1.0625rem;
            letter-spacing: 0.5px;
            color: #5C5C5C;
        }
    }

    &__contents {
        width: 100%;
        margin-bottom: 30px;

    }
    
    &__list {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 45px;
        @include mq(sm, max) {            
            padding: 0;
            justify-content: space-between;
        }
    }
    
    &__item {
        position: relative;
        .showInfo{
            position: absolute;
            right: 14px;
            top: -16px;
            color: RGBA( 0, 0, 0, 0.4);
            width: 20px;
            border-radius: 100%;
            border: 1px solid RGBA( 0, 0, 0, 0.4);
            height: 20px;
            text-align: center;
            /* padding: 1px; */
            font-size: 13px;
            font-weight: bold;
        }
        .infoText{
            visibility: hidden;
            width: 297px;
            background-color: #eef6f7;
            color: #8198a9;
            text-align: left;
            border-radius: 6px;
            padding: 20px;
            position: absolute;
            z-index: 1;
            bottom: 123%;
            left: 22px;
            // margin-left: -60px;
            font-size: 14px;
            border: 1px solid RGB( 212, 220, 228);
            .close{
                position: absolute;
                right: 9px;
                font-size: 17px;
                top: 0;
                color: rgba(255, 0, 0, 0.8);
            }
          &:after{
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -7px;
            border-width: 7px;
            border-style: solid;
            border-color: RGB( 212, 220, 228) transparent transparent;
          }
        }  
        .arrow  {
            position: absolute;
            right: -6px;
            top: 6px;
            i{
                border: solid red;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }  
        
        @include mq(sm, max) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &:last-of-type p:after {
            display: none;
        }


        &--icon {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            height: 42px;
            width: 85%;
            
            svg {
                width: 42px;
            }
        }

        &:last-child {
            svg {
                width: 85px;
                height: auto;
            }
        }

        p {
            font-size: 18px;
            color: #5C5C5C;
            text-transform: lowercase;
            letter-spacing: 0.5px;
            display: flex;
            align-items: center;
            
            &:after {
                content: "";
                // background: url("/arquivos/icon--arrow-right-red.png");
                -webkit-background-size: 8px 8px;
                background-size: 8px;
                background-repeat: no-repeat;
                width: 8px;
                height: 16px;
                display: inline-block;
                margin: 0 25px;
                @include mq(sm, max) {
                    display: none;
                }
            }

            @include mq(sm, max) {
                text-align: center;
                max-width: 105px;
            }

            @include mq(sm, max) {
                @include rem(font-size, 11px)
            }
        }
    }
    &__item:nth-child(2) .infoText{
        left: -93%;
        &:after{
            // left: none;
            // right: 48%;
            left: 50%;
        }
    }
    &__item:nth-child(3) .infoText{
        left: -200%;
        // right: 18%;
        &:after{
            left:89%;
            // left: none;
            // right: 9%;
        }
    }
    &__item.is--active{
        .showInfo{
            visibility: hidden;
        }
        .infoText{
            visibility: visible;
        }
    }
}
.showInfo{
    &.phone {
        position: absolute;
        left: 55px !important;
        top: -42px !important;
    }
}
.infoText{
    &.phone {
        bottom: 53px  !important;
        left: -6px  !important;
        &:after{
            left: 8% !important;
        }
    }    
}
.showInfo{
    &.email {
        position: absolute;
        left: 195px  !important;
        top: -42px  !important;
    }
}
.infoText{
    &.email {
        bottom: 53px  !important;
        left: 3px  !important;
        &::after{
            left: 53% !important;
        }
    }
}
