
div(class='x-category__middle-content')
    div(class='x-category__filters-container')
        div(class='x-category__filters-text js--category-filters-open') Filtrar

    div(class='x-category__order-container')
        include ./_category__order.pug

    div(class='x-category__grid-container')
        include ./_category__grid.pug
