
div(class='x-category__filters-content is--mobile js--filters-content-mobile')
    button(class='x-category__filters-close js--category-filters-close', title="Fechar", role='Close')
        <vtex.cmc:svgIconClosePopup/>

    div(class='x-category__filters-dinamics js--append-filter')
