
div(class='x-category__grid')
    button(class='x-category__grid-btn js--change-grid', data-value='1', title='Visualizar em 1 coluna')
        <vtex.cmc:svgIconGridOne/>
    button(class='x-category__grid-btn js--change-grid is--active', data-value='2', title='Visualizar em 2 colunas')
        <vtex.cmc:svgIconGridTwo/>
