
div(class='x-category__grid')    
    button(class='x-category__grid-btn js--change-grid', data-value='2', title='Visualizar em 3 colunas')
        <vtex.cmc:svgIconGridTwo/>
    button(class='x-category__grid-btn js--change-grid is--active', data-value='3', title='Visualizar em 3 colunas')
        <vtex.cmc:svgIconGridThree/>
    button(class='x-category__grid-btn js--change-grid', data-value='4', title='Visualizar em 4 colunas')
        <vtex.cmc:svgIconGridFour/>
