
div(class='x-category__products js--category-products', data-col='3')
    div(class='x-category__filters-content js--filters-content')
            div(class='x-category__filters-dinamics js--append-filter')
            
    <vtex.cmc:searchResult layout="8d6f6e27-67b6-4923-9bde-836917f047e2" itemCount="6" columnCount="6"/>
