
article(class='x-category__filter-container js--fixed-filter')
    div(class='x-category__filters')
        div(class='x-category__filters-name')
            div(class='x-category__filters-titles js--append-filter-titles')
            
            include ./_category__order.pug
            include ./_category__grid.pug
        
