
div(class='x-category__banner-container')
    div(class='x-category__banner js--category-banner')
        <vtex:contentPlaceHolder id="Categoria Banner Principal" />
    div(class='x-category__text js--category-text')
        <vtex:contentPlaceHolder id="Categoria Descrição" />
