
.x-newsletter {
    @extend %off-canvas;
    transform: translateX(100%);
    @include rem(max-width, 494px);
    @include rem(max-height, 664px);
    transition: none;

    &.is--active {
        transition: all .3s ease;
        transform: translateX(0);
        z-index: z('side-newsletter');
        padding-right: $side-newsletter-width;
    }

    &.is--popup {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        @include rem(max-height, 582px);
        @include rem(max-width, 420px);

        .x-newsletter {
            &__img-container {
                @include rem(height, 180px);
                overflow: hidden;
            }

            &__title {
                position: relative;

                p {
                    @include rem(font-size, 11px !important);
                }

                @include headings {
                    @include rem(font-size, 36px !important);
                }
            }

            &__close {
                display: block;
                position: absolute;
                @include rem(top, 24px);
                @include rem(right, 24px);

                .icon-close-popup {
                    @include rem(height, 16px);
                    @include rem(width, 16px);
                }
            }

            &__title-icon {
                display: block !important;
            }
        }
    }

    &__content {
        @include flex-spaced;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        @extend %newsletter__title;
        @include flex-centered;
        flex-direction: column;
        flex: 1;
        text-align: center;
        line-height: 1;
        width: 100%;

        p {
            @include rem(font-size, 12px);
            letter-spacing: 3px;
        }

        @include headings {
            @include rem(font-size, 42px);
            font-family: $font-support;
            color: $color-black;
            text-transform: inherit;
            text-transform: initial;
        }
    }

    &__close {
        display: none;
    }

    &__title-icon {
        display: none;
    }

    &__form-container {
        width: 100%;
        @include rem(margin, 0 auto 48px);
        @include rem(max-width, 320px);
        @include mq('md', max) {
            @include rem(margin, 0 auto 80px);
        }
    }

    &__title,
    &__form {
        &.is--inactive {
            display: none;
        }
    }

    &__form-group {
        @extend %newsletter__form-group;

        // &:first-child {
            @include rem(margin-bottom, 18px);
        // }

        // Checkbox
        // &:nth-child(3) {
        //     @include rem(margin-top, 18px);
        //     @include rem(margin-bottom, 18px);
        // }

        &:last-child {
            max-width: 100%;
            margin-bottom: 0;
        }

        label.error {
            display: block;
            width: 100%;
            text-align: center;
        }

        input[type="text"] {
            border-color: $color-white;
            @include rem(font-size, 14px);
            @include font-weight(light);
        }
    }

    &__form-input {
        @include rem(height, 48px);
        @include rem(padding-left, 24px !important);
    }

    &__checkbox-text {
        @extend %newsletter__checkbox-text;
        @include rem(font-size, 11px);
        max-width: 100%;
    }

    &__form-submit {
        @extend %newsletter__form-submit;
        @include rem(height, 42px);
        @include mq('md', min) {
            @include rem(margin-top, 15px);
        }
    }

    &__loading {
        @extend %newsletter__loading;
    }

    &__error {
        @extend %newsletter__messages-format;
        @extend %newsletter__error;
    }

    &__error-btn {
        @extend %newsletter__error-btn;
    }

    &__success {
        @extend %newsletter__messages-format;
        @extend %newsletter__success;
    }
}
