.x-doubts {
    width: 100%;
    display: flex;
    
    &__center {
        padding: 0 45px;
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 38px auto 30px;

        @include mq('sm', max) {
            width: 100%;
            padding: 0 40px;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__header {
        width: 50%;
        color: #662C62;
        font-size: 21px;
        
        @include mq('sm', max) {
            width: 100%;
        }
        
        h2 {
            letter-spacing: 0.5px;
            margin-bottom: 5px;
            display: block;
            width: 100%;
            font-weight: 600;
            text-align: left;

            @include mq('sm', max) {
                display: none;
            }
        }
        
        p {
            font-size: 17px;
            letter-spacing: 0.5px;
            color: #5C5C5C;
            text-align: left;

            @include mq('sm', max) {
                font-size: 16px;
                color: #662C62;
                font-weight: bold;
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }
    
    &__contents {
        width: 50%;
        
        @include mq('sm', max) {
            width: 100%;
        }
        
        &__item {
            text-align: center;
            &--icon {
                display: block;
                margin: 0 auto 15px;
                
                svg {
                    width: 27px;
                }
            }

            p {
                font-size: 15px;
                color: #5C5C5C;
                font-family: "Ubuntu", sans-serif;
                text-transform: lowercase;
            }
        }
        
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.x-footer {
    background-color: #F2F2F2;
    &__container,
    &__right {
        
    }
    
    &__social {
        display: flex;
    }
}

div#popUpCheckUser {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.92);
    z-index: 9999999;
}

.boxPopUp {
    width: 95%;
    max-width: 595px;
    background: #FAFDFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 45px 97px;
    
    @include mq('sm', max) {
        padding: 25px 15px;
    }

    .logo-top {
        text-align: center;
        
        img {
            width: 110px;
            height: 68px;
            margin: 0 auto;
        }
        
    }
    
    .title-middle {
        h2 {
            font-size: 26px;
            font-weight: 700;
            font-family: 'Open Sans',sans-serif;
            color: #00adcc;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
            margin: 42px auto;
    
            &:after {
                content: "";
                width: 150px;
                height: 6px;
                background: url(//superget.vteximg.com.br/arquivos/sea-waves.png) repeat-x;
                background-position: 50%;
                display: block;
                margin: 9px auto 0;
            }
        }
    
        fieldset {
            label {
                display: block;
                font-size: 14px;
                color: #6A6E76;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;
                text-align: center;
            }
            
            input {
                display: block;
                margin: 22.5px auto 25.5px;
                width: 100%;
                height: 35px;
                padding: 9px 11px;
                border: 1px solid #E7E9ED;
                border-radius: 2px;
            }
            
            button#btnAC {
                width: 100%;
                margin: 25px auto 28px;
                max-width: 337px;
                border-radius: 3px;
                background: #00B7D8;
                color: #FFF;
                display: block;
                height: 50px;
            }
        }
    
        .link-cadastro {
            font-size: 14px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            color: #00ADCC;
            text-decoration: underline;
        }
    }
}