.x-footer-map {
    @media(max-width: 767px) {
        padding: 16px 27px 0;
        border-top: 1px solid #E8E8E8;
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        &:not(:first-child) {
            @include rem(margin-left, 50px);
        }

        
        &:nth-child(2) {
            @include mq('sm') {
                position: relative;
                z-index: 2;
                .x-footer-map__drop-list {
                    position: absolute;
                    z-index: -1;
                }    
            }                
        }            
        

        @media(max-width: 767px) {
            display: block;
            width: 100%;
            margin-left: 0 !important;

        }
        >div {
            cursor: pointer;
            @include rem(font-size, 11px);
            text-transform: uppercase;
            letter-spacing: 1.5px;
            display: inline-flex;
            
            @media(max-width: 767px) {
                display:block;
                width: 100%;
                position: relative;
                @include rem(margin-bottom, 0);
                @include rem(padding-bottom, 16px);
                
                &.is--active {
                    &:after {
                        transform: rotate(315deg);
                    }
                }
            }

            &:after {
                @include rem(margin-left, 16px);
                @include arrow-generate('down', 8px, 1px);
                border-color: $color-black;
                transition: transform .125s $accelerate-ease;

                @include mq('xs', max) {
                    position: absolute;
                    right: 8px;
                }
            }
        }

        &.is--active {
            > div {
                &:after {
                    transition: transform .125s $accelerate-ease;
                    transform: rotate(-45deg);
                }
            }
        }

        a {
            color: $color-black;
            @include rem(font-size, 14px);
            @include font-weight(light);
            @include rem(padding-top, 2px);
            @include rem(padding-bottom, 2px);
            @include rem(margin-bottom, 12px);

            @extend %link-hover;

            @media(max-width: 767px) {
                display: block;
                text-align: center;
            }
        }

        &:nth-last-child(2) {
            .x-footer-map__drop-item {
                display: flex;
                flex-wrap: wrap;

                @include mq('sm', max) {
                    display: block;
                    .x-footer-map__drop-inner-wrapper {
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }

    }

    &__drop-item {
        @include rem(max-width, 197px);
        display: inline-block;
        &:first-child {
            @include rem(margin-top, 20px);            
        }
        
        @include mq('sm', max) {
            display: block;
            width: 100%;
            max-width: 100%;
            margin: 0;
            
            &:first-child {
                margin: 0;
            }

            a {
                display: block;
                text-align: left;
            }
        }

        svg {
            width: 51px;
            height: 34px;
            &:nth-child(even) {
                @include rem(margin-left, 10px);
            }
        }
    }

    &__drop-list {
        display: inline-flex;
        flex-direction: column;
        overflow: hidden;
        transition: all .225s $accelerate-ease;
        opacity: 0;
        height: 0;        
        @include mq('sm', max) {            
            height: auto;
            opacity: 1;
            display: none;
            transition: none;
        }

        &.is--active {                        
            opacity: 1;
            transition: all .225s $accelerate-ease;
            @include mq('sm') {
                @include rem(height, 200px);
            }
        }
        
    }

    &__drop-inner-wrapper {
        @include rem(max-width, 120px);
    }
}
