
.x-footer {
    &__social {
        @include mq('sm', max) {
            @include rem(margin-top, 32px);
            @include rem(padding-bottom, 28px);
            border-bottom: 2px solid $color-gray-light;
            display: block;
            text-align: center;
        }

        ul {
            display: flex;
            align-items: center;

            @include mq('sm', max) {
                justify-content: center;
            }
        }

        li {
            &:not(:first-child) {
                @include rem(margin-left, 28.6px);
            }

            @include mq('sm', max) {
                @include rem(margin-right, 32px);
                display: inline-block;
                &:last-child {
                    margin-right: 0;
                }
            }

            &:first-child {
                svg {
                    width: 8px;
                    height: 16px;
                }
            }            

            &:nth-child(2) {
                svg {
                    width: 16px;
                    height: auto;
                }
            }
        }

        a {
            font-size: 0;            
        }
    }
}
