
.x-search {        

    &__drop {
        width: 100vw;
        @include rem(min-height, 451px);        
        position: fixed;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        background-color: $color-white;
        transition: all .175s $accelerate-ease;  
        opacity: 0;
        @include mq('sm',max) {
            max-height:100%;
            overflow-y: scroll;
        }
        

        &.is--active {
            transform: translateY(0);
            
            transition: all .175s $decelerate-ease;
            opacity: 1;

            .x-header.is--active & {
                top: $header-height-active;
            }
            
        }
    }

    &__logo {
        @include rem(margin, 76px 0px 129px);
        svg {
            @include mq('sm') {
                width:$header-logo-width !important;
                margin: 0 auto;
                display: block;                
            }

            @include mq('sm',max) {
                @include rem(margin-bottom, 93px);
                width: 87% !important;
                margin: 0 auto;
                display: block !important;
                path {
                    fill: $color-black !important;
                }
            }
        }
    }

    &__btn {
        position: absolute;
        @include rem(top, 76px);
        @include rem(right, 53px);
        display: flex;
        align-items: center;
        @include mq('sm',max) {
            top: 20px;
            right: 20px;
        }
        span {
            @include font-weight(regular);
            @include rem(font-size, 13px);
            color: $color-gray;
        }

        svg {
            @include rem(margin-left, 20px);
            path {
                fill :$color-gray !important;
            }
        }
    }

    &__form {
        @include flex-centered;
        

        @include mq('sm', max) {
            opacity: 0.8;
            @include rem(height, 30px);
        }
        svg{
            @include mq('sm', max) {
                display: block;
                @include rem(height, 15px);
                @include rem(width, 15px);
                margin-left: auto;
            }   
        }
    }
    label {
        @include mq('sm', max ) {
            margin-left: 10vw;
        }
    }
    &__input {
        @include rem(font-size, 17px);
        @include placeholder($color-input-placeholder, 1);
        @include rem(padding-bottom, 20px);
        border-bottom:  1px solid $color-gray-light;
        width: calc(802 / 1280 * 100%);
        font-weight: 300;
        color:$color-input-placeholder;        
        text-align: center;       

        @include mq('sm', max) {
            @include rem(width, 72%);
            @include rem(font-size, 10px);
            @include rem(margin-left, 10px);
            @include rem(margin-top, 2.5px);
            @include rem(letter-spacing, 2.5px);
            text-align: left;
            text-transform: uppercase;
        }
    }
    &__result{
        @include mq('sm', max ) {
            display: block!important;
        }
    }
    &__result-list {        
        @include mq('sm', max ) {
            max-height: unset;
        } 
        ul {
            @include rem(padding, 32px 16px 12px);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @include mq('sm', max) {
                @include rem(padding, 15px 8px 12px 8px);
            }
        }

        li {
            @include mq('sm', max) {
                width: calc(50% - 11px);
                @include rem(margin, 0 0 12px 0);
                &:nth-child(even) {
                    margin-left: 21px;
                }
            }
            @include rem(margin-left, 12px);
            @include rem(margin-right, 12px);
            article{
                @include mq('sm', max) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                }
            }

            .x-shelf__img-container{
                @include mq('sm', max) {
                    width: 100%;                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .x-shelf__content{
                width: 100%;                
            }

        }

        .x-shelf {
            overflow-y: auto;
            height: 100%;
            max-height: calc(100vh - #{$header-height-mobile * 2});
        }

        .x-shelf__item {
            @include rem(max-width, 270px);
            @include mq('sm', max ) {
                @include rem(max-width, 100%);
            }
        }

        .search__show-more-wrapper {
            @include flex-centered;
            @include rem(margin-top, 16px);
            @include rem(margin-bottom, 24px);
            width: 100%;

        }

        .search__show-more-btn {
            @extend %text__orange;
        }
    }

    &__not-found {
        display: flex;
        justify-content: center;
        @include rem(margin-top, 32px);
        @include rem(margin-bottom, 32px);

        p {
            text-transform: uppercase;
            @include font-weight(light);
            letter-spacing: 4px;
            text-align: center;
        }
    }
}
