
.x-minicart {
    &__items {        
        height: calc(100vh - #{$minicart-header-height} - #{$minicart-bottom-height});
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 3px;
            background-color: #ccc;
        }
        &::-webkit-scrollbar-track {
            background-color: #ccc;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #662c62;
            border-radius: 0;
        }
    }

    &__item-container {
        &:last-child {
            &:not(:first-child) {
                .x-minicart__item {
                    border-bottom: 0;
                }    
            }
            
        }
    }

    &__item {
        display: flex;        
        @include rem(padding-bottom, 16px);
        @include rem(padding-top, 16px);

        @include rem(padding-left, 0px);
        border-bottom: 1px solid #ededed;
    }

    &__item-img-link {
        display: inline-block;
    }

    &__item-img {
        mix-blend-mode: multiply;
    }

    &__item-right {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        @include rem(margin-left, 32px);
    }

    &__item-info {
        width: 40%;
        margin-right: 10px;
        position: relative;
    }

    &__item-name {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include rem(margin-bottom, 0px);
        flex: 1;
    }

    &__item-title {
        color: #662c62;
        font-weight: bold;
        font-size: 14px;

        @include mq('md', min) {
            width: 100%;
        }
    }

    &__item-remove {
        position: absolute;
        right: -140px;
        top: 50px;

        @include rem(margin-left, 12px);
        
        @include rem(height, 20px);
        @include rem(width, 20px);


        
        svg {
            fill: #bbb;
            transition: all .3s ease-in-out;
        }

        &:hover {
           svg {
                fill: #adadad;
            } 
        }
    }

    &__item-old-price {
        @extend %price-style__old-price;
        text-decoration: none;

    }

    &__item-best-price {
        @extend %price-style__best-price;        
        letter-spacing: 0;
        color: red;
    }

    &__item-installments-wrapper {
        @include rem(font-size, 12px);
        text-transform: uppercase;
    }

    &__item-actions {
        @include flex-spaced;
        margin-top: 17px;
    }

    &__item-variant {
        color: gray;
        @include rem(font-size, 10px);
        @include font-weight(bold);
        text-transform: uppercase;

        span {
            display: block;
            color: blue;
            @include rem(font-size, 13px);

            @include mq('sm') {
                @include ellipsis;
                width: 5.5ch;
            }
        }
    }

    &__item-qty-wrapper {
        @extend %qty-selector__wrapper;
        border:1px solid #ccc;
        
        margin: 0px;
        // &:before {
        //     content: 'QUANT.';
        //     @include rem(font-size, 11px);
        //     @include font-weight(normal);
        //     color: #878787;
        //     margin-right: 19px;
        // }        

    }

    &__item-qty-val {
        @extend %qty-selector__val;
        @include rem(height, 26px);
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        background-color: #fff;
        background-image: none;
        -webkit-appearance: none!important;
        appearance: none!important;
        font-weight: bold;
        color: red;
        font-size: 14px;

    }

    &__item-qty-btn {
        position: relative;
        box-shadow: none;
        @extend %qty-selector__btn;     
        &:before {
            @include rem(font-size, 8px);
        }
        @include rem(width, 26px);

        &.has--minus {
            &:before {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                display: block;
                background: #ccc;
                    top: 17px;
                    left: 10px;
            }
        }

        &.has--plus {
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                display: block;
                background: #ccc;
                    top: 17px;
                    left: 10px;
            }

            &:after {
                transform: rotate(90deg);
                position: absolute;
            }
                
        }
    }
}
