
.x-minicart {
    background: #fff;

    @extend %off-canvas;
    transform: translateX(100%);
    &.is--active {
        transform: translateX(0);
    }

    &__top,
    &__bottom,
    &__empty {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 20px);
    }

    &__middle {
        @include rem(padding-left, 20px);
        @include rem(padding-right, 10px);   
    }
}
