.x-minicart {
    position: absolute;
    top: 59px;
    
    &.is--active {
        box-shadow: -4px 7px 20px 3px #00000057;
    }

    &__top {
        @include rem(height, $minicart-header-height);
        background: #fff;
    }

    &__header {
        @include rem(height, $minicart-header-height);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        @include rem(font-size, 14px);
        @include font-weight(bold);

        display: flex;
        align-items: center;
        color: red;
        padding-top: 20px;
        font-size: 20px;
    }

    .x-minicart__amount-wrapper {
        color: #fff;
        font-weight: bold;
        margin-left: 8px;
    }

    &__amount {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    &__empty-btn-close {
        @include rem(font-size, 10px);
        @include font-weight(regular);
        @include rem(letter-spacing, 2.5px);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 10%;

        svg {
            width: 20px;
            height: 20px;
            fill: #662c62;
        }
    }
}