
.x-minicart {
    &__empty {
        @include flex-centered;
        height: 100%;

        .vve-container {
            @include flex-centered;
            flex-direction: column;

            @include headings {
                color: $color-black;
                font-family: $font-main;
                font-style: italic;
                @include rem(font-size, 24px);
                @include rem(margin-bottom, 5px);
            }

            p {
                @include rem(font-size, 12px);
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            a {
                @extend %btn--primary;
                @include rem(margin-top, 12px);
            }
        }
    }
}
