
.x-minicart {
    &__footer {
        @include rem(height, $minicart-bottom-height);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__bottom {
        padding: 0;
    }
    
    &__total-price {
        margin-top: auto;
        @include rem(padding, 0 16px)
    }

    &__subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include rem(margin-bottom, 32px);
        padding: 0 30px;
    }

    &__subtotal-text {
        @include rem(font-size, 11px);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 13px;
    }

    &__subtotal-price {
        @extend %price-style__best-price; 
        @include rem(font-size, 21px);
        @include font-weight(bold);

        color: red;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        @include rem(padding-bottom, 42px);
        flex-direction: column;
    }

    &__btn-keeping-buying,
    &__btn-checkout {
        @include rem(font-size, 12px);
        @include rem(padding, 20px 0px);
        justify-content: center;
        @include rem(margin-bottom,5px);

    }

    &__btn-checkout {
        @extend %btn;
        @include font-weight(bold);
        color: #fff;
        background: #6d366a;
        border-radius: 30px;
        margin: 0 60px;

        &:hover {
            opacity: 0.9;
        }

        @include mq('sm') {
            flex: 1;            
        }
    }

    &__btn-keeping-buying {
        @include font-weight(bold);
        color: blue;
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
        display: none;
    }
}
