
.x-overlay,
.x-menu-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all .3s;
    cursor: pointer;

    &.is--active {
        opacity: 1;
        visibility: visible;
    }
}

.x-overlay {
    z-index: z('overlay');
}

.x-menu-overlay {
    z-index: z('menu-overlay');
}
