.x-banner {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    .slick-dots {
        @include mq(sm, max) {
            @include rem(margin-top, 4px);
        }
        li {                
            width: 9px;
            height: 9px;
            border: 1px solid #ff0000;
            background-color: $color-white;
            transition: all .175s $accelerate-ease;
            &.slick-active {
                transition: all .175s $decelerate-ease;
                background-color: #ff0000;
            }
            button {
                &:before {
                    display: none;
                }
            }
        }
    }   


    &__contents {
        display: flex;
        width: 100%;
    }
    
    .box-banner {
        width: 100%;
        display: block;
        
        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}