.x-faq {
    background: #f8f8f8;
    padding: 30px 20px;
    
    &__contents {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    &__item {
        &:first-of-type {
            display: none;
        }


        &:last-of-type {
            padding-right: 5%;
            padding-left: 5%;
            width: 100%;
        }
        
        &--header {
            width: 100%;
            display: block;
            margin-bottom: 15px;
            
            h6 {
                font-size: 16px;
                color: #662c62;
                font-weight: 700;
                display: block;
                letter-spacing: .5px;
                text-align: center;
            }
        }
        
        &--container {
            width: 100%;
            
            &.js--faq-container {
                font-size: 15px;
                color: #5C5C5C;
                letter-spacing: 0.5px;
                padding-left: 15px;
                margin-top: 20px;
                display: none;
            }
            
            &-dropdown {
                width: 100%;
                margin-top: 20px;
                margin-top: 1.25rem;
                
                &:last-of-type {
                    .x-faq__item--title:after {
                        content: "";
                        border: 0;
                    }
                }
            }
            
            h3 {    
                font-size: 12px;
                color: #a3a3a3;
                padding-bottom: 15px;
                position: relative;
                border-bottom: 1px solid #DDDDDD;


                &:after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-bottom: 1px solid #F00;
                    border-right: 1px solid #F00;
                    display: inline-block;
                    transform: rotateZ(45deg);
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 0;
                }
                
                &.is--active {
                    &:after {
                        transform: rotateZ(225deg);
                    }
                }
            }
            
            &-cta {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                
                &> a {
                    width: 170px;
                    height: 37px;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    background: #662C62;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 18px;
                }
            }
        }
        
        &--title {
            cursor: pointer;
            font-size: 15px;
            color: #5C5C5C;
            letter-spacing: 0.5px;
            
            &.no--border:after {
                border: 0;
            }
            
            &:after {
                content: "";
                display: block;
                width: 90%;
                margin: 20px auto 0;
                border-bottom: 1px solid #DDDDDD;
            }
        }
    }
}