.x-superdigital {
    width: 100%;
    display: flex;
    margin-bottom: 45px;
    margin-top: 20px;
    
    &__center {
        padding: 0 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(sm , max) {
            padding: 0;
        }
    }
    
    &__header {
        width: 100%;
        text-transform: uppercase;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        
        h2 {
            letter-spacing: 0.5px;
            
            strong {
              font-weight: 700;
            }
        }
    }
    
    &__contents {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 10px;
        justify-content: center;
        align-items: center;
        @include mq(sm, max) {
            width: 100%;    
            margin: 0 auto 16px;        
        }
    }
    
    &__item {
        width: 50%;
        @include mq(sm, max) {
            width: 100%;
        }
        .box-banner img {
            width: auto;
            display: block;
            height: auto;
            @include mq(sm, max) {
                width: calc(327 / 375 * 100%);
                margin: 0 auto;
            }
        }
        
        &--content {
            padding-left: 40px;
            @include mq(sm, max) {
                padding: 0
            }
        }
        
        &--image {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 30px;
            padding-left: 15px;
            position: relative;
            @include mq(sm, max) {
                width: calc(289 / 375 * 100%);
                margin: 0 auto 30px;
                padding: 0;
            }
            
            img {
              width: 60%;
              display: block;
              height: auto;
              @include mq(sm, max) {
                width: 55.92%;
                padding: 0;
              }
            }
            
        }
        
        h3 {
            position: absolute;
            font-size: 26px;
            font-weight: 800;
            letter-spacing: 0.5px;
            text-transform: lowercase;
            color: #662C62;
            left: 90px;
            bottom: 0px; 
            @include mq(sm, max) {
                @include rem(font-size, 22px);
                left: calc(48 / 289 * 100%);
                width: 100%;
                display: inline-block;
                bottom: -65%;
                @include rem(margin, 0 auto 30px);
                text-align: left;

           }
        }

        &--text {
            width: 100%;
            text-align: center;
            padding: 0 40px 0 0;
            
            p {
                font-size: 16px;
                font-size: 1rem;
                color: #5C5C5C;
                line-height: 1.5;
                display: block;
                @include mq(sm, max) {
                    @include rem(font-size, 13px);
                }
                
                strong {
                    font-weight: 800;
                    color: #FF0000;
                }
            }

            @include mq(sm, max) {
                padding: 0px;
                width: calc(324 / 375 * 100%);                
                margin: 0 auto;
                padding-bottom: 25px;
            }
        }
    }
    
    &__advantages {
        width: 85%;
        display: block;
        margin: 0 auto;
        @include mq(sm, max) {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        &--header {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
            
            h3 {
                color: #662C62;
                text-transform: uppercase;
                font-size: 16px;
                font-size: 1rem;
                letter-spacing: 0.5px;
            }
        }

        &--list {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 25px;
            @include mq(sm ,max) {
                width: 100%;
                flex-direction: column;
                padding: 0 40px;
                p {
                    text-align: left;
                }
            }
            
            li {
                padding: 0 18px;                
                font-size: 13px;
                font-size: 0.8125rem;
                color: #5C5C5C;
                text-align: center;
                @include mq(sm , max) {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font-size: 12px;
                    margin-bottom: 19px;
                    span {
                        margin-right: 13px;
                    }
                }
            }
        }
        
        &--icon {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;
        }
        
        &--cta {
            width: 100%;
            display: flex;
            justify-content: center;
            
            & > a {
                width: 170px;
                height: 37px;
                font-size: 12px;
                background: #662C62;
                color: #FFFFFF;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
            }
        }
    }
}