.modal--is--open {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
}
.x-modal--is--open {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    right: 0;
}
.x-modal--is--loading {
  width: 100% !important;
}
.x-modal--is-not-open {
  display: none;
}
.x-block--scroll{
    overflow-y: hidden !important;    
}
.x__modal__credenciamento {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    width: 325px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    &__sair {
      position: absolute;
      right: 14px;
      top: 14px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      width: 96%;
      margin-left: 13px;
      margin-top: 40px;
      h2 {
        font-size: 24px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
      }
      p {
        margin: 23px 0;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        line-height: 25px;
        font-weight: 600;
        &:not(:first-of-type) {
          font-style: italic;
        }
      }
      span {
        font-size: 15px;
        display: block;
        margin-bottom: 50px;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #e20c0c;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
.x__modal__agendamento {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    width: 325px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    &__sair {
      position: absolute;
      right: 14px;
      top: 14px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      width: 96%;
      margin-left: 13px;
      margin-top: 40px;
      h2 {
        font-size: 24px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
      }
      p {
        margin: 23px 0;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        line-height: 25px;
        font-weight: 600;
        &:not(:first-of-type) {
          font-style: italic;
        }
      }
      span {
        font-size: 15px;
        display: block;
        margin-bottom: 50px;
        margin-top: 35px;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #e20c0c;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.hidden-title {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.x-shelf__contents .x-product__discount--container {
  position: relative !important;
  right: -10px !important;
  padding: 10px 5px 15px !important;
  margin: 0px !important;
}

.x-black {
  display: none;
}

.x-product-id-4 .x-black_mobile {
  display: none !important;
}
.x-product__discount {
  position: relative !important;
  left: -50% !important;
}
