.x-benefits {
    width: 100%;
    display: flex;
    margin-bottom: 35px;
    @include mq(sm, max) {
        @include rem(margin-bottom 20px);
    }
    
    &__center {
        padding: 0 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(sm, max) {
            padding: 0px
        }
    }
    
    &__header {
        width: 100%;
        text-transform: uppercase;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        
        h2 {
            letter-spacing: 0.5px;
            
            strong {
                font-weight: 700;
            }
        }
        @include mq(sm, max) {
            @include rem(width, 234px);
            margin: 0 auto 19px;
        }
    }
    
    &__contents {
        width: 85%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .x-benefits__list{
            .slick-slider{
                button{
                    background: red;
                }
            }
        }
    }
    #benefitsList > button.slick-arrow{
        top: 27px
    }
    #benefitsList > button.slick-arrow::before{
        color: red;
    }
    #benefitsList > button.slick-prev.slick-arrow{
        margin-left: -45px;
    }
    #benefitsList > button.slick-next.slick-arrow{
        margin-right: -45px;
    }
  
    &__list {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 25px;
        .slick-slider{
            button{
                background: red;
            }
        }
        &--icon {
            img {
                width: auto;
                height: 34px;
                margin: 0 auto;
            }
        }
        
        li {
            padding: 0 18px;
            font-size: 13px;
            color: #5C5C5C;
            text-align: center;
            @include mq(sm, max) {
                padding: 0;
                margin-right:10px;
            }
        }

        @include mq(sm, max) {
            .slick-track {
                display: flex;
                align-items: flex-start;
                padding-left: 7px;
            }

            margin-bottom: 14px !important;
            
        }

    }
    
    &__info {
        width: 100%;
        
        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: #5C5C5C;
            font-size: 10px;
            display: block;
            text-align: center;
        }
    }
}