html {
   &.blocked-buy-pop-up {
      overflow-y: hidden;
   }
}

.x-superget-card {
   box-sizing: border-box;
   padding: 30px 0;

   &__title-intro {
      font-family: "Open Sans", sans-serif;
      font-size: 28px;
      font-weight: 900;
      line-height: 83px;
      color: #ff0000;

      &-wrapper {
         width: 100%;
         box-sizing: border-box;
         padding: 0 26px;
      }
   }

   &__text-intro {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #5d5c5d;

      &-wrapper {
         width: 100%;
         box-sizing: border-box;
         padding: 0 15px;
      }
   }

   &__banner-title {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      line-height: 30px;
      color: #5d5c5d;
      text-align: center;

      span {
         font-weight: 600;
      }

      &-wrapper {
         width: 100%;
         box-sizing: border-box;
         padding: 0 15.625%‬;
         margin-top: 45px;
      }
   }

   &__benefits-icons {
      width: 100%;
      margin-top: 22px;

      ul {
         width: 100%;
         box-sizing: border-box;
         padding: 0 6.25%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;

         &:not(:first-child) {
            margin-top: 20px;
         }


         li {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &:not(:first-child) {
               margin-left: 25px;
            }

            img {

               &.icon-maquininha {
                  width: 24px;
                  height: 35px;
               }
               &.icon-hand {
                  width: 36px;
                  height: 39px;
               }
               &.icon-money {
                  width: 40px;
                  height: 25px;
               }
               &.icon-cellphone {
                  width: 25px;
                  height: 40px;
               }
               &.icon-transfer {
                  width: 43px;
                  height: 40px;
               }
               &.icon-agency {
                  width: 36px;
                  height: 41px;
               }
            }

            p {
      
               font-family: "Open Sans", sans-serif;
               font-size: 14px;
               line-height: 20px;
               color: #5d5c5d;
               text-align: center;
               margin-top: 20px;
            }
         }
      }
   }

   &__link { 
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #ff0000;
      text-align: center;
      box-sizing: border-box;
      padding: 12px 24px;
      border-radius: 18px;
      background-color: #eeefef;
      border: 1px solid #ff0000;

      &-wrapper {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         margin-top: 33px;
      }
   }

   &__know-more {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      border: none;
      border-color: transparent;
      background-color: transparent;
      font-size: 18px;
      line-height: 20px;
      color: #5d5c5d;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      border-bottom: 1px solid #cacaca;

      &:focus {
         outline: none;
         outline-color: transparent;
      }

      &-wrapper {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         margin-top: 28px;
      }
   }

   &__explanation {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 20px;
      color: #5d5c5d;

      &-wrapper {
         width: 100%;
         box-sizing: border-box;
         padding: 0 20px;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         margin-top: 40px;
      }
   }

   &__pop-up {

      &.is--hidden {
         display: none;
      }

      &__overlay {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.7);
         z-index: 10000;
      }

      &__content {
         position: fixed;
         top: 50%;
         left: 5%;
         width: 90%;
         background: #ffffff;
         box-sizing: border-box;
         padding-bottom: 24px;
         max-width: 960px;
         max-height: 90vh;
         overflow: hidden;
         z-index: 10001;
         transform: translateY(-50%);
      }

      &__close-button {
         -moz-appearance: none;
         -webkit-appearance: none;
         appearance: none;
         border-radius: 0;
         border: none;
         border-color: transparent;
         background-color: transparent;
         font-family: Open Sans,sans-serif;
         font-size: 80px;
         color: red;
         line-height: 66px;
         margin: 0;
         padding: 0;
         transform: translateY(-10px);

         &:focus {
            outline: none;
            outline-color: transparent;
         }

         &-wrapper {
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
         }
      }

      h2 {
         font-family: "Open Sans", sans-serif;
         font-size: 26px;
         color: #501e50;
         margin-bottom: 10px;
         box-sizing: border-box;
         padding: 0 24px 0;
      }

      p {
         font-family: "Open Sans", sans-serif;
         font-size: 18px;
         color: #501e50;
         box-sizing: border-box;
         padding: 0 24px 0;
         
         &:not(:last-child) {
            margin-bottom: 10px;
         }

         strong {
            font-weight: bolder;
         }
      }
   }
}