.x-rates {
    background: #F8F8F8;
    width: 100%;
    &__center {
        width: 100%;
        margin: 0 auto;
        @include rem(max-width, 1069px);
    }
    &__header {
        h2 {
            font-size: 22px;
            color: #662C62;
            text-align: center;
            padding: 23px 0px 23px;
        }
        p {
            font-size: 13px;
            color: #707070;
            text-align: center;
            line-height: 27px;
        }
        &-percent {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 37px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &--left {
                background-color: #f00;
                width: 220px;
                min-height: 192px;
                width: 87%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 12px 0px 35px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 60px;
                    bottom: -19px;
                    will-change: transform;
                    left: 50%;
                    transform: translateX(-50%) rotate(-90deg);
                }
                h3 {
                    font-size: 83px;
                    margin: 0 auto -14px;
                    text-align: center;
                    color: #fff;
                    font-weight: 900;
                }
                P {
                    color: #fff;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 100;
                    line-height: 24px;
                    text-align: center;
                }
            }
            &--middle {
                text-align: center;
                background: #fff;
                width: 87%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 42px;
                height: 197px;
                h2 {
                    text-transform: uppercase;
                    color: #f00;
                    font-size: 19px;
                    font-weight: 900;
                }
                p {
                    font-size: 12px;
                    color: #898989;
                    text-align: center;
                    line-height: 22px;
                    margin-top: 15px;
                }
                .js--open-taxas {
                    text-decoration: underline;
                }
            }
            &--right {
                width: 88%;
                background: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                position: relative;
                margin-top: 46px;
                height: 208px;
                text-align: center;
                align-items: center;
                &::after {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 60px;
                    bottom: -19px;
                    top: -10%;
                    will-change: transform;
                    left: 50%;
                    transform: translateX(-50%) rotate(-90deg);
                }
                h3 {
                    font-size: 22px;
                    color: #662C62;
                    font-size: 20px;
                    font-weight: bold;
                    height: 0px;
                }
                a {
                    width: 167px;
                    font-size: 11px;
                    background: red;
                    color: #fff;
                    border-radius: 23px;
                    font-family: Ubuntu, sans-serif;
                    letter-spacing: .5px;
                    -ms-flex-pack: center;
                    color: #fff;
                    text-decoration: none;
                    line-height: 35px;
                    font-weight: 700;
                }
            }
            &--text {
                color: #f00;
                text-align: center;
                font-size: 21px;
                margin-top: 37px;
            }
        }
    }
    &__contents {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 90%;
        margin: 30px auto;
        flex-direction: column;
        .x-rates__first,
        .x-rates__left,
        .x-rates__right {
            width: 100%;
            background: #FFF;
            border: 1px solid #fff;
            border-radius: 6px;
            text-align: center;
            @include rem(padding, 24px 20px 54px);
            margin-bottom: 10px;
        }
        .x-superget-taxas {
            display: flex;
        }
    }
}

.x-superget-taxas {
    &__credito--column {
        &:last-child {
            border-top: #f5f5f5 1px solid;
            padding-top: 40px;
            margin-top: 40px;
        }
    }
    &__credito--titulo {
        text-align: center;
        h3 {
            font-size: 21px;
            color: #662C62;
            font-weight: bold;
            padding-bottom: 8px;
            background: url('/arquivos/border-bottom.png') no-repeat center bottom;
            white-space: nowrap;
        }
    }
    &__info {
        font-size: 14px;
        color: #5C5C5C;
        // margin-top: 0px;
        // height: 60px;
        text-align: center;
        h4 {
            font-size: 18px;
            font-weight: 900;
            color: #662c62;
            display: inline-block;
            @include rem(margin-left,
            5px);
        }
        P {
            font-size: 11px;
            font-weight: 500;
            height: 37px;
        }
        strong {
            color: #662C62;
            margin-left: 6px;
        }
    }
    &__valores {
        font-size: 11px;
        color: #5C5C5C;
        margin: 0 13px;
        font-weight: 500;
        display: block;
        // text-align: center;
        width: 100%;
        margin: 0 auto;
        // height: 51px;
        strong {
            color: #4E1E4B;
            display: block;
            font-size: 22px;
            margin: 10px 0 0 0;
            span {
                font-weight: 400;
                font-size: 12px;
                display: block;
            }
        }
        span.x-discount {
            display: block;
            will-change: transform;
            transform: translateY(5px);
            @include rem(font-size,
            9px);
        }
        &.x-border {
            position: relative;
            border-left: 1px solid #ccc;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                border-top: 0;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                width: 56%;
                pointer-events: none;
                margin: 0 19%;
                @include rem(bottom,
                -12px);
                @include rem(height,
                8px);
                top: 48px;
            }
        }
    }
    &__credito {
        // &--column {
        //      width: 35%;
        //     &:last-child {
        //         width: 65%;
        //     }
        // }
        &--info-taxas {
            // display: flex;
            // justify-content: space-around;
            // align-items: flex-start;
            margin-top: 27px;
        }
        &--row {
            margin-top: 15px;
        }
        &--ver_melhores_taxas {
            color: #5C5C5C;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            margin-top: 15px;
        }
        &--sub-infos {
            p {
                color: #A7A7A7;
                font-size: 11px;
                text-align: center;
            }
        }
    }
}

.modal-containter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    align-items: center;
    transition: 0.4s;
    &.is--hidden {
        opacity: 0;
        transform: scale(0, 0);
    }
}

.port-c-modal.port-c-modal--active {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 150ms ease;
}

.port-c-modal__container {
    max-width: 840px;
    max-height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.port-c-modal__wrapper {
    position: relative;
    padding-top: 60px;
    min-height: 100px;
    background: white;
}

.port-c-m-regulamento h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
    text-decoration: underline;
}

.port-c-m-regulamento p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
}

.animations-enabled .port-c-modal__wrapper {
    transition: transform 150ms ease;
}

.animations-enabled .port-c-modal.port-c-modal--active .port-c-modal__wrapper {
    transform: translateY(0);
    transition: transform 150ms ease;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(0, 0);
}

.port-c-modal__close {
    text-decoration: none;
    font-size: 80px;
    line-height: 0.4;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
    opacity: 1;
    transition: opacity 150ms ease;
}

.port-c-modal__close:hover {
    opacity: 0.5;
    transition: opacity 150ms ease;
}

.port-c-modal__content {
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.port-c-modal__video .port-c-modal__wrapper {
    padding-top: 0;
    background: transparent;
    transform: translateY(0);
}

.port-c-modal__video .port-c-modal__content {
    padding: 0;
}

@media all and (min-width: 768px) {
    .port-c-modal__content {
        max-height: calc(90vh - 60px);
    }
}

@media all and (min-width: 990px) {
    .port-c-modal__container {
        margin-left: auto;
        margin-right: auto;
    }
}