.x-comparative {
  width: 100%;
  > div {
    width: 100%;
    > ul {
      justify-content: center;
      width: 100%;
      background: #fff;
      flex-flow: row wrap;
      display: flex;
      justify-content: center;
      padding: 0 5px;
      > li {
        padding: 15px 12px;
        padding-right: 5px;
        margin-top: 27px;
        flex-grow: 1;
        width: calc(50% - 15px * 2);
        box-shadow: 0 6px 12px #ddd;
        height: 690px;
        @media only screen and (min-width: 410px) {
          height: 670px;
        }
        .x-comparative__product {
          width: 100%;
          &__thumb {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
            img {
              width: 103px;
            }
          }
          &__title {
            color: #ff2600;
            display: block;
            a {
              font-size: 9px;
              text-transform: uppercase;
              display: block;
              text-align: center;
              font-weight: 900;
            }
          }
          &__text {
            margin-top: 12px;
            font-size: 12px;
            color: #5c5c5c;
            font-weight: 400;
            height: 75px;
            @media only screen and (max-width: 360px) {
              height: 100px;
            }
            @media only screen and (min-width: 400px) {
              height: 95px;
            }
          }
          &__old-price {
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            strong {
              color: #5c5c5c;
              text-decoration: line-through;
              font-weight: 900;
              margin-left: 5px;
            }
          }
          &__prices {
            color: #662c62;
            display: flex;
            align-items: flex-start;
            margin-top: 2px;
            small {
              font-size: 12px;
              color: #662c62;
              font-weight: bold;
            }
            span {
              font-weight: 900;
              font-size: 24px;
              margin-left: 10px;
              line-height: 25px;
            }
          }
          &__full-price {
            color: #662c62;
            display: block;
            font-size: 13px;
            font-size: 13.3px;
          }
          &__topics {
            margin-top: 20px;
            color: #774876;
            font-size: 11px;
            height: 80px;
            ul {
              li {
                display: flex;
                align-items: center;
                margin: 7px 0;
                height: auto;
                font-size: 7.5px;
                svg {
                  min-width: 27px;
                }
                span {
                  margin-left: 7px;
                }
              }
            }
          }
          &__advantages {
            margin-top: 15px;
            text-align: center;
            color: #5c5c5c;
            height: 100px;
            span {
              font-weight: bold;
              font-size: 13px;
              margin-bottom: 11px;
              display: block;
            }
            ul {
              font-size: 12px;
              li {
                margin: 0;
              }
            }
          }
          &__app {
            display: block;
            background-color: #f4f4f4;
            margin-top: 0;
            padding: 6px 22px;
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 370px) {
              padding: 6px 11px;
            }
            img {
              width: auto;
            }
            span {
              display: inline-block;
              text-align: center;
              color: #5c5c5c;
              font-weight: bold;
              font-size: 10px;
              @media only screen and (max-width: 360px) {
                font-size: 8px;
              }
            }
          }

          &__chips {
            background-color: #f4f4f4;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            padding: 5.4px 3px 9px 3px;
            margin-bottom: 18px;
            border-radius: 10px;
            position: relative;
            height: auto;
            span {
              font-size: 8px;
              color: #848484;
              font-weight: bold;
            }
            &.is--error {
              border: 1px solid red !important;
              transition: 0.2s;
              border-radius: 5px;
              &::after {
                content: "";
                background: url(/arquivos/icon--alert.png);
                background-repeat: no-repeat;
                background-size: 15px;
                width: 15px;
                height: 13px;
                position: absolute;
                top: 5px;
                right: 3px;
                opacity: 1;
                visibility: initial;
              }
            }

            &__container {
              display: block;
              display: flex;
              justify-content: space-evenly;
              width: 100%;
              margin-top: 9.1px;
              li {
                height: 25px;
                flex-grow: 1;
                background: white;
                border-radius: 8px;
                border: 2px solid #e6e6e6;
                &.is--active {
                  border: 2px solid #662c62 !important;
                  transition: 0.2s;
                }
                &:nth-child(2) {
                  margin-left: 4px;
                }
                &:nth-child(3) {
                  margin: 0 4px;
                }
                button {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-position: center;
                  background-size: 19px;
                  background-repeat: no-repeat;
                  &.js--chip-vivo {
                    background-image: url("/arquivos/vivo-chip.png");
                  }
                  &.js--chip-tim {
                    background-image: url("/arquivos/tim-chip.png");
                  }
                  &.js--chip-claro {
                    background-image: url("/arquivos/claro-chip.png");
                  }
                  &.js--chip-oi {
                    background-image: url("/arquivos/oi-chip.png");
                  }
                }
              }
            }
          }
          &__buy {
            display: block;
            margin-bottom: 15px;
            a {
              border-radius: 20px;
              background: #ff2600;
              color: white;
              display: block;
              text-align: center;
              padding: 10px 30px;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 9px;
            }
            &.--out-of-stock{                        
              pointer-events: none;
              cursor: not-allowed;
              background: #f4f4f4;
              color: black;
              border-color: #f4f4f4;
          }
          }
        }
        &:nth-child(2) {
          margin-left: 15px;
        }
        &:nth-child(4) {
          margin-right: 15px;
          order: 3;
        }
        &:nth-child(3) {
          order: 4;
        }
      }
    }
  }
}
