.x-testimonials {
    width: 100%;
    display: flex;
    &__center {
        padding: 0 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(sm, max) {
            padding: 0 28px;
        }
    }
    &__header {
        width: 100%;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        h2 {
            letter-spacing: 0.5px;
            strong {
                font-weight: 700;
            }
        }

        @include rem(width, 195px);        
    }

    &__items {                    
        width: 100%;        

        .slick-list {
            padding: 0 15% 0 0;
        }
        
        .slick-dots {            
            @include rem(margin-top, 4px);            
            li {                
                width: 9px;
                height: 9px;
                border: 1px solid #ff0000;
                background-color: $color-white;
                transition: all .175s $accelerate-ease;
                &.slick-active {
                    transition: all .175s $decelerate-ease;
                    background-color: #ff0000;
                }
                button {
                    &:before {
                        display: none;
                    }
                }
            }
        } 
    }


    &__contents {
        @include mq(sm, max) {
            width: 100%;
        }
    }

    .item-depoimentos {
        width: calc(284 / 319 * 100%);
    }
    
    .texto-depoimento {
        width: calc(173 / 284 * 100%);
        h3 {            
            color: #662c62;
            @include rem(font-size, 16px);            
            @include font-weight(bold);            
        }

        span {            
            color: #848484;
            @include rem(font-size, 12px);            
            @include font-weight(bold);   
            font-style: italic;
        }
        p {
            color: #848484;                
            &:not(:last-of-type) {                
                @include rem(font-size, 14px); 
                @include font-weight(bold);                
            }

            &:last-of-type {                
                color: #848484;                
                @include rem(font-size, 12px); 
                @include font-weight(light);
                font-style: italic;                              
            }
        }
    }

    .item-depoimentos__content {  
        display: flex;
        justify-content: space-between;     
    }

    .imagem-depoimento {
        width: calc(93 / 319 * 100%);        
    }
}