.body-order-form {
    background-color: #F4F4F4;
}

.container-order-form {
    @media (max-width: 490px) {
        margin: 0;
    }

}

.checkout-container {
    font-family: 'Open Sans', sans-serif;
    overflow: -webkit-paged-y;
    // comentei para tirar scroll do carrinho

    // margin-left: 24px;
    // esse margin está no maior container. favor colocar no container de checkout
}

// .orderform-template-holder {
//     .row-fluid {
//         display: flex;
//         flex-wrap: wrap;
//         max-width: 720px;
//     }
// }

.container-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 1200px) {
    .container-cart,
    .container-order-form {
        width: 1170px;
    }
}

@media (min-width: 980px) {
    .row-fluid .orderform-template-holder {
        width: 62%;
    }
}

.cart-fixed {
    position: sticky;
}

@media (min-width: 980px) {
    .cart-fixed {
        position: sticky !important;
    }
}

.container-main{
    .checkout-container{
        .orderform-template-holder.span8{
            .vtex-omnishipping-1-x-addressForm{
                .vtex-omnishipping-1-x-address{
                    div{
                        display: flex;
                        flex-direction: column;
                        .ship-number{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}