section(class='x-hero-section')
    div(class='x-container')
        div(class='x-left')
            h1(class='x-hero-section__title x-content__bolder') Sua conta, suas regras
            //- button(class='x-btn x-btn--red x-d-none')
                a(href="#x-card-section") Conheça agora

        div(class='x-img-container')
            include ./../../../../common/custom-elements/svg-icons/hero-superdigital-app-1.pug
            img(src='/arquivos/hero-superdigital-app-2.png' alt='Super digital app')/
        
section(id="x-card-section" class='x-card-section')
    div(class='x-content')
        h2(class='x-content__title x-content__bolder') Cartões para comprar e sacar no mundo todo
        p(class='x-content__body') Aqui você tem 1 cartão físico e até 5 cartões virtuais para comprar em lojas, sites e aplicativos. Chique, né?
    div(class='x-slider-content')
        figure(class='x-img-container')
            img(class='x-img-container__img' src='/arquivos/superdigital-card-1.png' alt='Super digital mastercard')/
            figcaption(class='x-content')
                h3(class='x-content__title x-content__title--small x-content__bolder') Cartão mastercard internacional
                p(class='x-content__body') Saque na Rede Banco24Horas e compre em qualquer lugar.
        figure(class='x-img-container')
            img(class='x-img-container__img' src='/arquivos/superdigital-card-2.png' alt='Super digital virtual mastercard')/
            figcaption(class='x-content')
                h3(class='x-content__title x-content__title--small x-content__bolder') Cartão virtual mastercard internacional
                p(class='x-content__body') Use em aplicativos como Uber, Netflix e Spotify e faça suas compras na internet em sites nacionais e internacionais, mesmo sem cartão de crédito
    div(class='x-call-to-action')
        h2(class='x-call-to-action__title') Compre sua máquina e garanta sua conta
            span(class='x-call-to-action__title--red')  superdigital
        button(class='x-btn x-btn--red')
            a(href="/#x-shelf") Pedir máquina

section(class='x-smartphone-section')
    div(class='x-smartphone-section__left')
        h2(class='x-smartphone-section__title') Na superdigital você faz tudo pelo celular
        div(class='x-slider-content')
            figure(class='x-img-container')
                include ./../../../../common/custom-elements/svg-icons/smarthpone-icon-1.pug
                figcaption(class='x-content')
                    p(class='x-content__body x-content__body--white') Receba e transfira em dinheiro pra qualquer banco.
            figure(class='x-img-container')
                include ./../../../../common/custom-elements/svg-icons/smartphone-icon-2.pug
                figcaption(class='x-content')
                    p(class='x-content__body x-content__body--white') Pague todas as suas contas sem sair de casa.
            figure(class='x-img-container')
                include ./../../../../common/custom-elements/svg-icons/smartphone-icon-3.pug
                figcaption(class='x-content')
                    p(class='x-content__body x-content__body--white') Coloque crédito no celular.
            figure(class='x-img-container')
                include ./../../../../common/custom-elements/svg-icons/smartphone-icon-4.pug
                figcaption(class='x-content')
                    p(class='x-content__body x-content__body--white') Recarregue seu Bilhete Único (apenas para cidade de São Paulo)

    div(class='x-download-app')
        h3(class='x-donwload-app__title') Baixe o aplicativo
        div(class='x-button-group')
            button(class='x-btn x-btn--transparent')
                a(href="https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR")
                    include ./../../../../common/custom-elements/svg-icons/google-play.pug
            button(class='x-btn x-btn--transparent')
                a(href="https://itunes.apple.com/br/app/getnet/id1024724502?mt=8")
                    include ./../../../../common/custom-elements/svg-icons/app-store.pug

section(class="x-tax-section")
    div(class="x-content")
        h2(class="x-content__title") Confira as taxas e
            span(class="x-content__title--red x-content__bolder")  abra sua conta
        include ./../../../../common/custom-elements/svg-icons/line.pug
        p(class="x-content__body") A 
            span(class="x-content__body--purple x-content__bolder") SuperDigital 
            | é uma conta sem anuidade e 100% digital: sua conta nunca vai ficar negativa! Conheça as vantagens!
    div(class="x-bottom")
        img(class="x-content__card-image" src="/arquivos/superdigital-card-account.png" alt="Line")/
        article(class="x-services")
            div(class="x-content")
                h2(class="x-content__title x-content__bolder") Super Zero
                include ./../../../../common/custom-elements/svg-icons/line.pug
            div(class="x-services-container")
                div(class="x-services-list")
                    div(class="x-content")
                        h4(class="x-content__title x-content__title--gray x-content__bolder") Serviços ilimitados e gratuitos
                            span(class="x-content__title--red x-content__bolder")  R$0,00
                    ul
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-1.pug
                            p
                                span(class="x-services-list__item--purple") 1
                                |  cartão físico
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-2.pug
                            p
                                span(class="x-services-list__item--purple") 5
                                |  cartões virtuais
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-3.pug
                            p Depósitos na
                                span(class="x-services-list__item--purple")  SuperDigital
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-4.pug
                            p Pagamentos de contas
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-5.pug
                            p Transferências entre contas
                                span(class="x-services-list__item--purple")  SuperDigital
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-6.pug
                            p Recargas de celular
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-7.pug
                            p Câmbio em até
                                span(class="x-services-list__item--purple")  10 moedas
                div(class="x-right-services")
                    div(class="x-content")
                        h4(class="x-content__title x-content__title--gray x-content__bolder") Serviços extras
                            span(class="x-content__title x-content__title--purple x-content__bolder")  R$5,90
                    div(class="x-services-list")
                        ul
                            li(class="x-services-list__item")
                                include ./../../../../common/custom-elements/svg-icons/services-icon-8.pug
                                p Saque no
                                    span(class="x-services-list__item--purple")  Banco24Horas
                            li(class="x-services-list__item")
                                include ./../../../../common/custom-elements/svg-icons/services-icon-9.pug
                                p Transferência para bancos
                                    span(class="x-services-list__item--purple")  (TED)