
//- Id: d9a7fea6-2bec-48d5-b6d8-a833992004c7
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--category'
    - var $shelfType = 'all'



block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        div(class='x-shelf__placeloader has--placeloader js--shelf-category',
            data-product-id='$productId',
            data-image-width='471.56',
            data-image-ratio='0.8010191948360795')