| #set($id = $product.Id)
| #set($idSku = $product.productVariantId)
| #set($uri = $product.Uri)
| #set($escapedName = $product.HtmlEscapedName)
article.x-product
  input.x-id(type='hidden', value='$id')
  input.x-sku(type='hidden', value='$idSku')
  input.x-departament(type='hidden', value='$product.DepartmentName')
  input.x-category(type='hidden', value='$product.CategoryName')
  .x-product__image
    .x-product__image--container
      a(title='$escapedName', href='$uri') $product.GetImageTag(400,400)
    .x-product__image--know-more
      a(href='$uri') + Saiba Mais
  .x-product__group
    .x-product__discount
      | #if ($product.HasBestPrice)
      .x-product__discount--container
        span.x-product__discount--flag
          strong.x-product__discount--text
          |  Desconto
      | #end
      p $product.DescriptionShort
    h2.x-product__name
      a(title='$escapedName', href='$uri') $product.Name
    |         #if ($product.IsInStock)
    .x-product__price
      a(title='$escapedName', href='$uri')
        | #if ($product.HasBestPrice)
        p
          span.x-product__price--old
            | De 
            strong $product.ListPrice
        | #end

        | #if ($product.NumbersOfInstallment > 1)
        p.x-product__price--installments          
          span.x-product__price--installments-number Por <br /> ${product.NumbersOfInstallment}X          
          span.x-product__price--installments-value $product.InstallmentValue
        p  
          div.x-product__price--best
            span              
              | OU
            | $product.BestPrice à vista
        | #else
        p
          span(class='x-product__price--best is--single')
            | $product.BestPrice à vista
        | #end
    .x-product__chips
      p Escolha a sua operadora:
      ul
        li
          button.js--chip-vivo(data-chip='vivo')
        li
          button.js--chip-tim(data-chip='tim')
        li
          button.js--chip-claro(data-chip='claro')
        li
          button.js--chip-oi(data-chip='oi')
    .x-product__buy-button
      a(href='$uri', title='$escapedName', data-sku='$idSku') Comprar
    |         #else
    .x-product__price--out-of-stock
      a(title='$escapedName', href='$uri') Produto Esgotado
    |         #end
