
//- Id: cf266a72-268c-43cd-8d44-618722d942db
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--carousel'
    - var $shelfType = 'all'


block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        div(class='x-shelf__placeloader has--placeloader js--shelf-carousel',
            data-product-id='$productId',
            data-image-width='416',
            data-image-ratio='0.801044105792484')