
div(class='x-copyright')
    div(class='x-copyright__container')
        div(class='x-copyright__left')
            div(class='x-copyright__text')
                <vtex.cmc:footerCopyright/>

        div(class='x-copyright__right')
            div(class='x-copyright__devs')
                div(class='x-copyright__enext')
                    a(href='https://www.enext.com.br',
                        title='Enext Consultoria',
                        rel='nofollow, noreferrer',
                        target='_blank')
                        <vtex.cmc:svgIconEnextLogo/>

                div(class='x-copyright__vtex')
                    a(href='https://www.vtex.com',
                        title='VTEX',
                        rel='nofollow, noreferrer',
                        target='_blank')
                        <vtex.cmc:svgIconVtexLogo/>