<div class="x-minicart js--minicart">
  <div class="x-minicart__top">
    <div class="x-minicart__header">
      <button class="x-minicart__empty-btn-close js--minicart-close" title="Fechar" role="Close"></button>
      <p class="x-minicart__title">Carrinho</p>
      <div class="x-minicart__amount-wrapper" rv-show="cart.itemCount | gt 0"><span class="x-minicart__amount" data-minicart-amount="">           </span></div>
    </div>
  </div>
  <div class="x-minicart__middle" rv-show="cart.itemCount | gt 0">
    <div class="x-minicart__content">
      <ul class="x-minicart__items mCustomScrollbar" data-mcs-theme="rounded-dark">
        <li class="x-minicart__item-container" rv-each-item="cart.items">
          <div class="x-minicart__item">
            <div class="x-minicart__item-left">
              <div class="x-minicart__item-img-wrapper"><a class="x-minicart__item-img-link" rv-href="item.detailUrl" rv-title="item.name"><img class="x-minicart__item-img" rv-src="item.imageUrl | getResizeImageByRatio 'width' 92 0.9782" rv-alt="item.name" rv-title="item.name"/></a></div>
            </div>
            <div class="x-minicart__item-right">
              <div class="x-minicart__item-info">
                <div class="x-minicart__item-name">
                  <h4 class="x-minicart__item-title" rv-text="item.productFullInfo.productName"></h4>
                  <button class="x-minicart__item-remove" role="remove" title="Remover" data-minicart-item-remove="" rv-data-minicart-index="item.index"><vtex.cmc:svgIconMinicartClose/></button>
                </div>
                <div class="x-minicart__item-price-wrapper">
                  <del class="x-minicart__item-old-price">
                    <span rv-if="item.unitMultiplier | gt 0" rv-text="item.unitMultiplier"></span>
                    <span rv-text="item.measurementUnit"></span>
                  </del>
                  <p class="x-minicart__item-best-price" rv-text="item.sellingPrice | formatPrice"></p>
                  <div class="x-minicart__item-installments-wrapper" rv-if="item.productSkuVariations.installments | gt 1"><span rv-text="item.productSkuVariations.installments"></span>X de <span rv-text="item.productSkuVariations.installmentsValue | formatPrice"></span></div>
                </div>
              </div>
              <div class="x-minicart__item-actions">
                <p class="x-minicart__item-variant" rv-if="item.productSkuSearch.tamanho | isNotEmpty">Tamanho <span rv-text="item.productSkuSearch.tamanho"></span></p>
                <p class="x-minicart__item-variant" rv-if="item.productFullInfo.corReal | isNotEmpty">Cor <span rv-text="item.productFullInfo.corReal"></span></p>
                <div class="x-minicart__item-qty-wrapper"><a class="x-minicart__item-qty-btn has--minus" href="#" data-minicart-item-qty="-"></a>
                  <input class="x-minicart__item-qty-val" type="text" readonly="readonly" data-minicart-item-qty-val="" rv-value="item.quantity" rv-data-minicart-availablequantity="item.availablequantity" rv-data-minicart-index="item.index"/><a class="x-minicart__item-qty-btn has--plus" href="#" data-minicart-item-qty="+"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="x-minicart__bottom" rv-show="cart.itemCount | gt 0">
    <div class="x-minicart__footer">
      <div class="x-minicart__total-price">
        <div class="x-minicart__subtotal">
          <p class="x-minicart__subtotal-text">Subtotal</p>
          <p class="x-minicart__subtotal-price" data-minicart-subtotal="">R$ 0,00</p>
        </div>
      </div>
      <div class="x-minicart__actions">
        <a class="x-minicart__btn-keeping-buying js--minicart-close" href="#">Continuar Comprando</a>
        <a class="x-minicart__btn-checkout" href="/checkout">Finalizar Compra</a>
            
      </div>
    </div>
  </div>
  <div class="x-minicart__empty" rv-show="cart.itemCount | lt 1">
    <div class="x-minicart__empty-text-container">
      Seu carrinho está vazio<vtex.cmc:minicartEmpty/></div>
  </div>
</div>
