
//- link(rel='preconnect', href='//superget.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//io.vtex.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//superget.vteximg.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//ajax.googleapis.com', crossorigin='crossorigin')
link(rel='preconnect', href='//cdnjs.cloudflare.com', crossorigin='crossorigin')
link(rel='preconnect', href='//superget.vtexcommercestable.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//google-analytics.com', crossorigin='crossorigin')
//- link(rel='preconnect', href='//selo.clearsale.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//rc.vtex.com.br', crossorigin='crossorigin')
link(rel='preconnect', href='//fonts.googleapis.com', crossorigin='crossorigin')
link(rel='preconnect', href='//fonts.gstatic.com', crossorigin='crossorigin')
//- link(rel='preconnect', href='//selo.compreeconfie.com', crossorigin='crossorigin')
link(rel='preconnect', href='//connect.facebook.net', crossorigin='crossorigin')

link(rel='prefetch', href='/arquivos/superget-common-globals.css', as='style', crossorigin='crossorigin')
