
script(type='text/javascript').
    window.VTEX = window.VTEX || {};
    window.APP = window.APP || {};
    VTEX.pathname = window.location.pathname;
    VTEX.baseImage = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
    VTEX.slickLazyDesktop = 'progressive';
    VTEX.slickLazyMobile = 'ondemand';
    VTEX.setCache = false;
    VTEX.eventTime = 0;

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('body').classList.remove('has--loader');
    });
