
include ./../../_mixins/_mixin__general-sidebar-menu.pug

-
    var prop = {
        pageType: 'institutional',
        items: [
            //- {name: 'A marca', link: '/Institucional/A-Marca'},
            {name: 'Sobre Nós', link: '/Institucional/sobre-nos'},
            //- {name: 'Onde estamos', link: '/Institucional/Visite-Nossa-Loja'},
            {name: 'Política de privacidade', link: '/Institucional/politica-de-privacidade'},
            //- {name: 'Central de Atendimento', link: '/Institucional/Central-De-Atendimento'},
            // {name: 'Dúvidas Frequentes', link: '/Institucional/Duvidas-Frequentes'},
            //- {name: 'Termos de Uso', link: '/Institucional/termos-de-uso'},
            {name: 'Troca e Devolução', link: '/Institucional/troca-e-devolucao'},
            //- {name: 'Prazos De Entrega', link: '/Institucional/prazos-de-entrega'},
            {name: 'Dúvidas Frequentes', link: '/Institucional/faq'},
        ],
    }

+generalSidebarMenu(prop)
