//- Vtex Helpers
div(style='display: none;')
    <vtex.cmc:welcomeMessage/>
    
//- External CDNs (VanillaJS)
script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.1/isMobile.min.js')

script(type='text/javascript',
    src='//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.6.0/lazyload.min.js')

//- script(type='text/javascript',
//-     src='//cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js')

//- External CDNs (jQuery Dependency)
script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')

script(type='text/javascript',
    src='//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js')


//- Local files
script(type='text/javascript',
    src='/arquivos/superget-common-vendor.js')

script(type='text/javascript',
    src='/arquivos/superget-common-globals.js')
