meta(charset='utf-8')/
meta(http-equiv='X-UA-Compatible', content='IE=edge')/
meta(name='viewport', content='minimal-ui, width=device-width,initial-scale=1')/
link(href='/arquivos/favicon.png', rel='shortcut icon', type='image/png')/
