div(class='x-search js--search')
    include ./../../_partials/general/_general__logo.pug

    button(class='x-search__close js--search__close', title='Fechar') Fechar <vtex.cmc:svgIconClose/>
        
    form(class='x-search__form js--search__form')
        input(type='text', id='searchInput', class='x-search__input js--search__input', autocomplete='on', placeholder='O que você está buscando?')/

    div(class='x-search__result js--search__result')
        div(class='x-search__shelf js--search__shelf')