footer(class='x-footer')
  div(class='x-footer__center')
    div(class='x-footer__contents')
      div(class='x-footer__item')
        div(class='x-footer__item--image')
          #{`vtex.cmc:svgSuperGETLogoBranco`}/
        div(class='x-footer__item--social')
          ul
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialFb`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialYt`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialLk`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialTw`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialIt`}/
        div(class='x-footer__item--apps')
          ul
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgAndroidApp`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgAplleApp`}/
        div(class='x-footer__item--powered')
          p
            | Powered By:
          ul
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgLogoEnext`}/
            li
              a(href='' target='_blank')
                span
                  #{`vtex.cmc:svgLogoVtex`}/
      div(class='x-footer__item')
        div(class='x-footer__item--block')
          h3
            | Sobre N&oacute;s
          ul
            li
              a(href='')
                | Institucional
            li
              a(href='')
                | Pol&iacute;ticas de privacidade
            li
              a(href='')
                | Pol&iacute;ticas de troca e devoluc&atilde;o
        div(class='x-footer__item--block')
          h3
            | Atendimento
          ul
            li
              a(href='')
                | D&uacute;vidas Frequentes
            li
              a(href='')
                | Fale Conosco
      div(class='x-footer__item')
        div(class='x-footer__item--block')
          h3
            | Central de Relacionamento
          ul
            li
              strong
                | atendimento 24 horas
            li
              | Capitais e regi&otilde;es metropolitanas
            li
              | 4020-26065
           
        div(class='x-footer__item--block')
          ul
            li
              | demais
              br
              |                             localidades
              br
              |                             0800-648-8000
      div(class='x-footer__item')
        div(class='x-footer__item--block')
          h3
            | Ouvidoria
          ul
            li
              | 0800-646-3404
            li
              | Atendimento de segunda &agrave; sexta
            li
              | das 08:30 &agrave;s 17:30 (exceto feriados)
        div(class='x-footer__item--block')
          ul
            li
              | Atendimento a pessoas com defici&ecirc;ncia auditiva e de fala
              br
              |                             0800-771-0301
        div(class='x-footer__item--block')
          ul
            li
              | Av. Pernambuco, 1483, S&atilde;o Geraldo
              br
              |                             Porto Alegre/RS. CEP: 90240-004
    div(class='x-footer__copyright')
      p
         | Copyright - 2019 | CNPJ: 10.440.482/0001-54 | Todos os direitos reservados.