
script(type='application/ld+json').
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "sameAs": [
      "https://www.facebook.com/supergetloja",
      "https://instagram.com/supergetbrand",
    ]
  }

script(type='application/ld+json').
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Store",
    "potentialAction": {
      "@type": "SearchAction",
      "query-input": "required name=search_term"
    }
  }
