
div(class='x-product__cart-btn-wrapper')
    button(class='x-product__cart-btn x-btn x-btn--tertiary-inverse',
        rv-text=`app.props.buyBtnName`,
        rv-disabled=`app.state.isFetchingCart`,
        rv-class-has--error=`app.state.buyBtnError`,
        rv-on-click=`app.controller.cart.add`) Comprar