div(class='x-product__flags',
    rv-class-has--error='app.flags.hasError')
    p(class='x-product__flags-text')
        | Escolha sua operadora:
        #{`vtex.cmc:svgIconError`}/
    
    ul(class='x-product__flags-list')
        li(class='x-product__flags-item',
            rv-each-flag='app.product.chip',
            rv-data-flag='flag',
            rv-on-click='app.controller.flags.select',
            rv-class=`flag | toLowerCase | prefix 'is--'`)