
div(class='x-product__info')
    div(class='x-product__name-wrapper')
        div(class='x-product__discount', 
            rv-if='app.product.discountPercentage')
            span(class='x-product__discount-flag')
                strong(rv-text=`app.product.discountPercentage | suffix '%'`)
                | Desconto

        div(class='x-product__name', rv-text=`app.product.productName`)
        div(class='x-product__ref', rv-text=`app.product.productReference | prefix 'Código Ref.: '`)    

    div(class='x-product__price-info', rv-if=`app.product.available`)
        del(class='x-product__old-price',
            rv-if=`app.product.skuInfo.listPrice`,
            rv-text=`app.product.skuInfo.listPrice | formatPrice | prefix 'de ' `)
        div(class='x-product__installments',
            rv-if=`app.product.skuInfo.installments | gt 1`)
            p(class='x-product__installments-text')
                | #[span(rv-text=`app.product.skuInfo.installments | prefix 'por ' | suffix 'x'`)]
                | #[span(rv-text=`app.product.skuInfo.installmentsValue | formatPrice`)]
        div(class='x-product__best-price')
            | ou
            span(rv-html=`app.product.skuInfo.bestPrice | formatPrice`)
            br/
            | à vista no boleto
    div(class='x-product__price-info', rv-if=`app.product.available | neg`)
        p(class='x-product__best-price') Produto indisponível
