section(class='x-payments-card')
    div(class='x-payments-card__center')
        div(class='x-payments-card__header')
            h2
                | Aceite os principais 
                strong cartões e venda mais!
        div(class='x-payments-card__contents')
            div(class='x-payments-card__item')
                div(class='x-payments-card__item--title')
                    h3
                        span(class='x-icon-fisica')
                        |  Pessoa Física
                div(class='x-payments-card__item--cards')
                    ul
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgmastercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvisa`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgamex`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghipercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghiper`}/
            div(class='x-payments-card__item')
                div(class='x-payments-card__item--title')
                    h3
                        span(class='x-icon-juridica')
                        |  Pessoa Jurídica
                div(class='x-payments-card__item--cards')
                    ul
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgmastercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvisa`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgamex`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghipercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghiper`}/
                    ul
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgben`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgalelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgsodexo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgticket`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvalerefeicao`}/