section(class='x-shelf')
    div(class='x-shelf__center')
        div(class='x-shelf__header')
            <vtex:contentPlaceHolder id="Titulo Vitrine"/>

        div(class='x-shelf__contents')
            div(class='x-shelf__full')
                <vtex:contentPlaceHolder id="Vitrine Relacionados"/>