section(class='x-superdigital')
    div(class='x-superdigital__center')
        div(class='x-superdigital__contents')
            div(class='x-superdigital__item')
                <vtex:contentPlaceHolder id="Textos Super SuperDigital"/>
            div(class='x-superdigital__item')
                <vtex:contentPlaceHolder id="Banners Super SuperDigital"/>
            div(class='x-superdigital__item')
                <vtex:contentPlaceHolder id="Descrição Super SuperDigital"/>
        div(class='x-superdigital__advantages')
            header(class='x-superdigital__advantages--header')
                h3
                    | Conheça as vantagens 
                    strong de ter uma superdigital
            ul(class='x-superdigital__advantages--list')
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgrecebimentos`}/
                    p
                        | Recebimento das vendas da sua 
                        strong SuperGet
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgpagamentos`}/
                    p Pagamento de contas no site ou aplicativo
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgrecarga`}/
                    p Recarga de Celular
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgcartinternacional`}/
                    p Compras como cartão pré-pago internacional
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgbilheteunico`}/
                    p Recarga de Bilhete Único
                li(class='x-superdigital__advantages--item')
                    span(class='x-superdigital__advantages--icon')
                        #{`vtex.cmc:svgbilheteunico`}/
                    p
                        | Saque nos caixas eletrônicos 
                        strong Santandres
                        |  e 
                        strong Banco 24 horas
            div(class='x-superdigital__advantages--cta')
                a(class='x-button', href='/superdigital') Saiba Mais