.main {
    font-family: "Open Sans";
    font-size: 18px;

    .x-title-page {
        font-weight: 800;
        background: #EC0000;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 41px;
        display:flex;
        justify-content: center;
        align-items: center; 
    }

    .x-call-introdution {
        font-size: 32px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8% 0%;
        
        &-content {
            color: #662c62;
            display: -ms-flexbox;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: self-start;
            align-items: self-start;
            text-align: center;
            line-height: 34px;

            &-inter {
                color:#EC0000;
                font-weight: 700;
            }
        }
    }

    .x-text-introdution {
        color: #676767;
        font-size: 16px;
        padding: 0% 15%;
        text-align: center;

        &__content{
            text-align: center;
            padding-bottom: 4%;
        }
    }

    .x-celular {
        width: 84%;
        padding: 10% 0%;
        padding-left: 17%;
    }

    .x-direct-page {
        width: 60%;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EC0000;
        border-radius: 25px;
        margin-left: 20%;

        a {
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            line-height: 22px;
            letter-spacing: 0.32px;
        }

        &:nth-child(2){
            background-color: #662c62;
        }
        &:last-child{
            transform: translateY(23px);
        }
    }
    .x-painting{
        .x-direct-page{
            &:first-child{
                transform: translateY(-13px);
            }
        }
    }
    .x-call {
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4% 0%;

        &__question {
            color: #676767;
        }

        &__askMachine {
            font-weight: 900;
            color: #EC0000;
            text-decoration: underline;

        }

        .x-division {
            width: 80%;
            margin-top: 12%;
            margin-bottom: 4%;
        }
    }

    .x-explanation-receive{
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        flex-direction: column;
        padding: 0% 16%;
        padding-bottom: 8%;
        letter-spacing: 0.6px;


        &__content {
            color: #662c62;

            &__inter {
                font-weight: 900;
                color: #EC0000;
            }
        }
    }

    .x-painting {
        background: #F8F8F8;
        
        &__frames {
            background-color: #fff;
            margin: 30px 20px;
            padding: 30px;
        }

    }

   .x-rates-taxas {
       display: flex !important;
       justify-content: space-around !important;
       margin: 0% 10%;

       &__right {
           margin-left: 20px;
       }
    } 

    .x-spaces {
        margin-top: 8%;
    }

    .x-banner-card {
        background-color: #EC0000;

        &__wrapper {
            width: 78%;
            position: relative;
            box-sizing: border-box;
            padding: 41px 0 40px 28px;

            @media only screen and (min-width: 650px) {
                max-width: 281px;
                margin: 0 auto;
            }
        }

        &__text {
            width: 100%;
            height: auto;

            &__content {
                font-family: "Open Sans";
                font-size: 15px;
                font-weight: normal;
                color: #fff;
                line-height: 21px;
                letter-spacing: 0;

                strong {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }

        &__news {
            font-family: "Open Sans";
            font-size: 17px;
            font-weight: 100;
            color: #fff;
            text-transform: uppercase;
            line-height: 33px;
            letter-spacing: 0;
        }

        &__title {
            font-family: "Open Sans";
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            line-height: 39px;
            letter-spacing: 1.58px;
        }

        &__image {
            position: absolute;
            top: 0;
            right: 0;
            width: 170px;
            transform: translateX(50%);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .x-option-benefits {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6%;

        &__sides {
            width: 70%;
            margin-top: 5%;
        }

        &__center {
            font-size: 20px;
            color: #662C62;
            letter-spacing: 0.88px;
            padding: 0% 4%;
        }
    }

    .x-options-current {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4% 10%;
        width: 100%;

        &__left{
            width: 16%;
        }

        &__reveice{
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 50%;

            &__one {
                font-size: 14px;
                font-weight: 900;   
                padding-bottom: 2%;
            }

            &__two {
                font-size: 12px;
            }
        }
    }

    .x-benefits-transfer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2% 10%;
        width: 100%;

        &__left{
            width: 16%;
            padding-bottom: 8%;
        }

        &__reveice {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 50%;
            padding-bottom: 14%;
            position: relative;

            &__title {
                font-size: 14px;
                font-weight: 900;   
                padding-bottom: 2%;
            }

            &__paragraph {
                font-size: 12px;
            }
        }
    }

    .x-conditions-revice {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #676767;
        padding: 0% 12%;
        text-align: center;

        &__title {
            font-size: 20px;
            font-weight: 900;
            padding: 0% 6%;
            padding-bottom: 8%;
        }

        &__paragraph {
            font-size: 16px;

            &__link {
                font-weight: 900;
            }
        }
    }

    .x-rate-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #EC0000;
        padding: 0% 4%;
        padding-top: 2%;
        padding-bottom: 4% ;
        border: 3px solid #EC0000;
        width: 54%;
        margin: 10% 22%;


        &__title {
            font-size: 89px;
            font-weight: 900;
            line-height: 94px;
        }

        &__paragraph {
            font-size: 27px;
            line-height: 28px;
        }
    }
}