.x-payments-card {
    width: 100%;
    display: flex;
    margin-top: 20px;
    
    @include mq(sm, max) {
        // @include rem(padding, 0 14px);
    }

    &__center {
        padding: 40px 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(sm, max) {
            padding: 0;
        }
    }
    
    &__header {
        width: 100%;
        color: #662C62;
        font-size: 18px;
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        text-align: center;
      
        h2 {
            letter-spacing: 0.5px;
            
            strong {
                font-weight: 700;
            }
        }
    }

    &__contents {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include mq(sm ,max) {
            width: 100%;            
        }
    }
    
    &__item {
        width: 80%;
        display: block;
        margin-bottom: 20px;
        
        &:last-of-type {
            margin-top: 10px;
            @include mq(sm , max) {
                ul {
                    flex-wrap: wrap;
                    li {

                    }

                    &:last-child {
                        max-width: 250px;
                        margin: 10px auto 0;
                    }
                }

                .x-payments-card__item--cards {
                    flex-direction: column;
                }
            }
        }
        
        &--title {
            border-top: 1px solid #E6E6E6;
            display: block;
            text-align: center;
            width: 65%;
            margin: 0 auto;
            
            h3 {
                color: #5C5C5C;
                text-transform: uppercase;
                font-size: 11px;
                background: #ffffff;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                position: relative;
                bottom: 19px;
                width: 30%;
                margin: 0 auto;
                
                &> span {
                    margin-right: 15px;
                    
                    &.x-icon {
                        &-fisica {
                            // background: url("/arquivos/icon--pessoa-fisica.png");
                            -webkit-background-size: 17px 17px;
                            background-size: 17px;
                            background-repeat: no-repeat;
                            height: 17px;
                            width: 17px;
                        }
                        
                        &-juridica {
                            // background: url("/arquivos/icon--pessoa-juridica.png");
                            -webkit-background-size: 17px 17px;
                            background-size: 17px;
                            background-repeat: no-repeat;
                            height: 17px;
                            width: 17px;
                        }
                    }
                }

                @include mq(sm ,max) {
                    width: auto;
                    display: inline-flex;                    
                }
            }

            @include mq(sm , max) {
                width: 100%;
                border: none;
                position: relative;
                &:before {
                    z-index: -1;                    
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    background-color: #707070;
                }

                &:before {
                    left:0;
                }               
            }
        }

        @include mq(sm ,max) {
            width: 100%;
            max-width: 290px;
        }
        
        &--cards {
            width: 100%;
            display: flex;
            justify-content: center;
            
            &> ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include mq(sm ,max) {
                    justify-content: space-between;
                }
                
                li {
                    margin-right: 30px;
                    max-width: 38px;
                    
                    span {
                        svg {
                            max-width: 100%;
                            max-height: 31px;
                        }
                    }
                    
                    &:last-of-type {
                      margin-right: 0;
                    }
                    @include mq(sm ,max) {
                        margin: 0;
                    }
                }
            }
        }
    }
}