.x-banner-machines {
    width: 100%;
    height: 496px;
    background: url("/arquivos/background-maquininha-cartao-mobile.jpg");
    overflow: hidden;
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 82%;
        height: 100%;
        &-left {
            z-index: 1;
            h3 {
                margin: 30px 0 8px;
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                line-height: 38px;
                text-transform: uppercase;
                color: #fff;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 18px;
                color: #fff;
                width: 270px;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 14px;
                width: 220px;
                height: 40px;
                background: #43C302;
                border-radius: 25px;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
            }
        }
        &-right {
            position: absolute;
            bottom: 0;
            right: -64px;
            img {
                width: 332px;
            }
        }
    }
}
.x-especification-machine {
    width: 100%;
    overflow: hidden;
    &__intro {
        margin: 40px auto 0;
        max-width: 68%;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #676767;
            strong {
                text-transform: uppercase;
            }
            span {
                strong {
                    text-transform: none;
                    color: #EC0000;
                }
            }
        }
        &-border {
            transform: translate(138px, 24px);
        }
    }
    &__machine-product {
        margin: 40px auto 0;
        max-width: 78%;
        &-text {
            &__block {
                padding: 28px;
                margin-bottom: 22px;
                &:nth-child(1) {
                    background: #662C62;
                }
                &:nth-child(2) {
                    background: #EC0000;
                }
                &:nth-child(3) {
                    background: #662C62;
                }
                &:nth-child(4) {
                    background: #EC0000;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                }  
            }
        }
    }
    &__button {
        margin: 40px auto;
        max-width: 220px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 40px;
            background: #43C302;
            border-radius: 25px;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }
    }
}

.x-shelf-product {
    width: 100%;
    padding-bottom: 45px;
    background: #EFEFEF;
    &__intro {
        margin: 0 auto 22px;
        padding-top: 40px;
        max-width: 66%;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            text-transform: uppercase;
            color: #662C62;
            margin-bottom: 20px;
            strong {
                color: #EC0000;
            }
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #676767;
        }
    }
    &__products {
        .x-shelf-machine {
            width: 100%;
            > ul {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 8px 0px;
                > li {
                    background: #fff;
                    width: 166px;
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    @media only screen and (device-width: 320px) {
                        width: 142px;
                    }
                    &:nth-child(1) {
                        margin-right: 14px;
                    }
                }
                &:last-of-type {
                    > li {
                        &:nth-child(1) {
                            order: 2;
                            margin-left: 14px;
                            margin-right: 0;
                        }
                    }
                }
            }

            &__product-thumb {
                display: flex;
                justify-content: center;
                margin: 14px;
                img {
                    width: 100px;
                }
            }
            &__product-title {
                a {
                    display: block;
                    font-size: 9px;
                    text-transform: uppercase;
                    display: block;
                    text-align: center;
                    font-weight: 900;
                    color: #ff2600;
                }
            }
            &__product-text {
                padding: 0 12px;
                margin-top: 12px;
                font-weight: 400;
                font-size: 12px;
                color: #5c5c5c;
                height: 66px;
            }
            &__product-app {
                margin: 0 auto;
                max-width: 90%;
                background-color: #f4f4f4;
                margin-top: 0;
                padding: 6px 15px;
                margin-bottom: 18px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 10px;
                img {
                    width: auto;
                }
                span {
                    display: inline-block;
                    text-align: center;
                    color: #5c5c5c;
                    font-weight: 700;
                    font-size: 10px;
                }
            }
            &__product-chips {
                margin: 0 auto;
                width: 90%;
                background-color: #f4f4f4;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                padding: 5.4px 3px 9px;
                margin-bottom: 18px;
                border-radius: 10px;
                position: relative;
                height: auto;
                &.is--error {
                    border: 1px solid red !important;
                    transition: 0.2s;
                    border-radius: 5px;
                    &::after {
                      content: "";
                      background: url(/arquivos/icon--alert.png);
                      background-repeat: no-repeat;
                      background-size: 15px;
                      width: 15px;
                      height: 13px;
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      opacity: 1;
                      visibility: initial;
                    }
                  }
                span {
                    font-size: 8px;
                    font-weight: 700;
                    color: #848484;
                }
                ul {
                    display: block;
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    margin-top: 9.1px;
                    li {
                        height: 25px;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        background: #fff;
                        border-radius: 8px;
                        border: 2px solid #e6e6e6;
                        &.is--active {
                            border: 1px solid #662c62!important;
                            transition: .2s;
                        }
                        button {
                            display: block;
                            width: 100%;
                            height: 100%;
                            &.js--chip-vivo {
                                background-position: 50%;
                                background-size: 19px;
                                background-repeat: no-repeat;
                                background-image: url("/arquivos/vivo-chip.png");
                            }
                            &.js--chip-tim {
                                background-position: 50%;
                                background-size: 19px;
                                background-repeat: no-repeat;
                                background-image: url("/arquivos/tim-chip.png");
                            }
                            &.js--chip-claro {
                                background-position: 50%;
                                background-size: 19px;
                                background-repeat: no-repeat;
                                background-image: url("/arquivos/claro-chip.png");
                            }
                            &.js--chip-oi {
                                background-position: 50%;
                                background-size: 19px;
                                background-repeat: no-repeat;
                                background-image: url("/arquivos/oi-chip.png");
                            }
                        }
                    }
                }
            }
            &__product-buy {
                margin-bottom: 20px;
                a {
                    margin: 0 auto;
                    max-width: 90%;
                    border-radius: 20px;
                    background: #ff2600;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 10px 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 9px;
                }
            }
            &__product-old-price {
                padding: 0 14px;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                strong {
                    color: #5c5c5c;
                    text-decoration: line-through;
                    font-weight: 900;
                    margin-left: 5px;
                }
            }
            &__product-prices {
                padding: 0 14px;
                margin-top: 2px;
                display: flex;
                align-items: flex-start;
                color: #662c62;
                small {
                    font-size: 12px;
                    font-weight: 700;
                    color: #662c62;
                }
                span {
                    font-weight: 900;
                    font-size: 24px;
                    margin-left: 10px;
                    line-height: 25px;
                }
            }
            &__product-full-price {
                padding: 0 14px;
                display: block;
                font-size: 13.3px;
                color: #662c62;
            }
            &__product-topics {
                margin-top: 20px;
                padding: 0 8px;
                color: #774876;
                font-size: 11px;
                height: 80px;
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        margin: 7px 0;
                        height: auto;
                        font-size: 7.5px;
                        svg {
                            min-width: 27px;
                        }
                        span {
                            margin-left: 7px;
                        }
                    }
                }
            }
            &__product-advantages {
                margin-top: 15px;
                text-align: center;
                color: #5c5c5c;
                height: 100px;
                span {
                    font-weight: 700;
                    font-size: 13px;
                    margin-bottom: 11px;
                    display: block;
                }
                ul {
                    font-size: 12px;
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.x-types-payment-machine {
    &__intro {
        max-width: 78%;
        margin: 40px auto 0;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
            text-align: center;
            color: #662C62;
            strong {
                color: #EC0000;
            }
        }
    }
    &__center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 40px 45px;
        &-content {
            margin: 0 auto;
            width: 100%;
            &__item {
                &-name-machine {
                    h3 {
                        margin-bottom: 30px;
                        font-family: 'Calibri', sans-serif;
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                        color: #676767;
                    }
                }
                &-title {
                    margin: 0 auto;
                    display: block;
                    width: 65%;
                    border-top: 1px solid #e6e6e6;
                    text-align: center;
                    h3 {
                        color: #5c5c5c;
                        text-transform: uppercase;
                        font-size: 11px;
                        background: #fff;
                        text-align: center;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 20px;
                        position: relative;
                        bottom: 19px;
                        width: 30%;
                        margin: 0 auto;
                    }
                }
                &-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        bottom: 18px;
                        li {
                            margin-right: 7px;
                            svg {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__short-desc {
        margin: 0 auto 50px;
        width: 80%;
        h4 {
            font-family: 'Calibri', sans-serif;
            font-size: 19px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 23px;
            color: #EC0000;
        }
    }
}

.x-presentation-machine {
    width: 100%;
    background: #E8E8E8;
    padding: 20px 0;
    &__text {
        width: 95%;
        background: rgba(0, 0, 0, .16);
        &-center {
            margin: 0 auto;
            max-width: 80%;
            &__intro {
                h3 {
                    padding-top: 30px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 26px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #662C62;
                    > strong {
                        color: #EC0000;
                    }
                }
            }
            &__list {
                display: flex;
                flex-direction: column;
                ul {
                    li {
                        margin-top: 16px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        color: #676767;
                        &::before {
                            content: '';
                            display: inline-block;  
                            margin-right: 8px;
                            width: 8px;
                            height: 8px;
                            background: #EC0000;
                            border-radius: 50%;
                        }
                    }
                }
                &-right {
                    margin-bottom: 34px;
                }
            }
        }
    }
}

.x-hnowmore {
    width: 100%;
    &__button {
        margin: 26px auto 36px;
        max-width: 220px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 40px;
            background: #43c302;
            border-radius: 25px;
            font-family: Open Sans,sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
    }
    &__text {
        margin: 0 auto;
        max-width: 94%;
        background: #EC0000;
        border: 1px solid #EC0000;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border: 10px solid #fff;
            &__image {
                > svg {
                    width: 106px;
                }
            }
            &__text {
                h5 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 17px;
                    font-weight: bold;
                    line-height: 23px;
                    text-align: center;
                    color: #fff;
                }
                p {
                    margin-top: 14px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                    padding: 0 42px;
                }
            }
        }
    }
    &__advantages {
        width: 100%;
        display: flex;
        flex-direction: column;
        &-image {
            margin-top: 30px;
            img {
                width: 100%;
            }
        }
        &-text {
            padding: 22px 35px 0;
            h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 26px;
                line-height: 32px;
                text-transform: uppercase;
                color: #662C62;
                margin-bottom: 30px;
                strong {
                    color: #EC0000;
                }
            }
            ul {
                li {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color: #676767;
                    line-height: 20px;
                    margin-bottom: 16px;
                    &::before {
                        content: "";
                        display: inline-block;
                        background: url("/arquivos/arrow-list.png") no-repeat;
                        width: 23px;
                        height: 15px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}

.x-machine-faq {
    width: 100%;
    &__image {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 154px;
        background: url("/arquivos/background-duvidas-maquininha.jpg");
        h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 26px;
            font-weight: bold;
            line-height: 32px;
            text-align: center;
            color: #fff;
        }
    }
    &__text {
        margin: 30px auto 0;
        max-width: 80%;
        h6 {
            margin-top: 26px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #662C62;
        }
        p {
            margin-top: 12px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            text-align: justify;
            color: #676767;
            &.spacing {
                margin-top: 0;
            }
        }
        ul {
            margin-top: 14px;
            list-style: disc;
            strong, li {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #676767;
            }
            li {
                transform: translateX(18px);
            }
        }
    }
    &__button {
        margin: 40px auto 34px;
        max-width: 220px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 40px;
            background: #43c302;
            border-radius: 25px;
            font-family: Open Sans,sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
    }
    &__consulting {
        margin: 0 auto 40px;
        max-width: 80%;
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #676767;
            margin-bottom: 40px;
        }
    }
    &__border {
        margin: 0 auto 40px;
        width: 90%;
        border-top: 1px solid #9B9B9B;
    }
}