
.x-banner-machines {
    width: 100%;
    height: 420px;
    background: url("/arquivos/background-maquininha-cartao.jpg");
    &__container {
        margin: 0 auto;
        display: flex;
        width: 88%;
        height: 100%;
        > div {
            width: 50%;
        }
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 40px;
                line-height: 48px;
                text-transform: uppercase;
                color: #fff;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: #fff;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                width: 270px;
                height: 50px;
                background: #43C302;
                border-radius: 25px;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
            }
        }
        &-right {
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 520px;
                height: 380px;
            }
        }
    }
}

.x-especification-machine {
    width: 100%;
    padding-bottom: 38px;
    height: auto;
    &__intro {
        max-width: 750px;
        margin: 60px auto 28px;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            text-align: center;
            color: #676767;
            strong {
                text-transform: uppercase;
            }
            span {
                strong {
                    color: #EC0000;
                    text-transform: none;
                }
            }
        }
    }
    &__machine-product {
        display: flex;
        justify-content: center;
        >div {
            width: 33.3%;
            max-width: 449px;
        }
        &-left {
            display: flex;
            flex-direction: column;
            align-self: center;
            p {
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                color: #fff;
            }
            &__first-text {
                background: #662C62;
                max-width: 260px;
                padding: 12px;
                margin-bottom: 32px;
                align-self: flex-end;
                transform: translateX(30px);
            }
            &__second-text {
                background: #EC0000;
                max-width: 260px;
                padding: 12px;
                align-self: flex-end;
                transform: translate(58px,-4px);
            }
        }
        &-center {
            display: flex;
            justify-content: center;
            img {
                width: 550px;
            }
        }
        &-right {
            display: flex;
            flex-direction: column;
            align-self: center;
            p {
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                color: #fff;
            }
            &__first-text {
                background: #EC0000;
                max-width: 230px;
                padding: 12px;
                transform: translateX(40px);
            }
            &__second-text {
                background: #662C62;
                max-width: 322px;
                padding: 12px;
                transform: translate(-50px, 100px);
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 60px;
            width: 270px;
            height: 50px;
            background: #43c302;
            border-radius: 25px;
            font-family: Open Sans,sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
    }
}

.x-shelf-product {
    width: 100%;
    background: #EFEFEF;
    &__intro {
        max-width: 750px;
        margin: 0 auto 28px;
        padding-top: 94px;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            line-height: 48px;
            text-transform: uppercase;
            text-align: center;
            color: #662C62;
            strong {
                color: #EC0000;
            }
        }
        p {
            margin-top: 18px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            text-align: center;
            color: #676767;
        }
    }
    &__products {
        .x-shelf-machine {
            width: 100%;
            padding-bottom: 78px;
            > ul {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 21px 43px;
                > li {
                    max-width: 286px;
                    margin: 0 12px;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    background: #fff;
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    -webkit-box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    -moz-box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    box-shadow: 0 2px 9px 0 rgba(0,0,0,.30);
                    &:nth-child(3) {
                        order: 4;
                    }
                }
            }
            &__product-thumb {
                display: flex;
                justify-content: center;
                margin-top: 22px;
                margin-bottom: 12px;
                img {
                    width: 105px;
                }
            }
            &__product-title {
                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 900;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ff2600;
                }
            }
            &__product-text {
                padding: 0 22px;
                margin-top: 12px;
                font-size: 11px;
                font-weight: 400;
                line-height: 30px;
                color: #5c5c5c;
                height: 90px;
            }
            &__product-app {
                max-width: 84%;
                margin: 0 auto;
                padding: 16px 28px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f4f4f4;
                border-radius: 10px;
                margin-bottom: 18px;
                img {
                    width: auto;
                }
                span {
                    display: inline-block;
                    text-align: center;
                    color: #5c5c5c;
                    font-weight: 700;
                    font-size: 15px;
                }
            }
            &__product-chips {
                margin: 0 auto 18px;
                width: 86%;
                background-color: #f4f4f4;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                padding: 5.4px 8px 9px 7px;
                height: 80px;
                border-radius: 10px;
                position: relative;
                &.is--error {
                    border: 1px solid red !important;
                    transition: 0.2s;
                    border-radius: 5px;
                    &::after {
                      content: "";
                      background: url(/arquivos/icon--alert.png);
                      background-repeat: no-repeat;
                      background-size: 15px;
                      width: 15px;
                      height: 13px;
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      opacity: 1;
                      visibility: initial;
                    }
                  }
                span {
                    font-size: 14px;
                    color: #848484;
                    font-weight: 700;
                }
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    padding: 0;
                    li {
                        height: 36px;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        background: #fff;
                        border-radius: 5px;
                        border: 1px solid #e6e6e6;
                        margin: 0 4px;
                        &.is--active {
                            border: 1px solid #662c62!important;
                            transition: .2s;
                        }
                        button {
                            display: block;
                            width: 100%;
                            height: 100%;
                            &.js--chip-vivo {
                                background: url("/arquivos/vivo-chip.png") no-repeat;
                                background-size: 30px;
                                background-position: 50%;
                            }
                            &.js--chip-tim {
                                background: url("/arquivos/tim-chip.png") no-repeat;
                                background-size: 30px;
                                background-position: 50%;
                            }
                            &.js--chip-claro {
                                background: url("/arquivos/claro-chip.png") no-repeat;
                                background-size: 30px;
                                background-position: 50%;
                            }
                            &.js--chip-oi {
                                background: url("/arquivos/oi-chip.png") no-repeat;
                                background-size: 30px;
                                background-position: 50%;
                            }
                        }
                    }
                }
            }
            &__product-buy {
                display: block;
                margin-bottom: 40px;
                a {
                    max-width: 86%;
                    margin: 0 auto;
                    border-radius: 20px;
                    background: #ff2600;
                    color: #fff;
                    display: block;
                    text-align: center;
                    padding: 10px 54px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            &__product-old-price {
                padding: 0 22px;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                strong {
                    color: #5c5c5c;
                    text-decoration: line-through;
                    font-weight: 900;
                    margin-left: 5px;
                }
            }
            &__product-prices {
                padding: 0 22px;
                color: #662c62;
                display: flex;
                align-items: flex-start;
                small {
                    font-size: 12px;
                    color: #662c62;
                    font-weight: 700;
                }
                span {
                    font-weight: 900;
                    font-size: 26px;
                    margin-left: 10px;
                    line-height: 25px;
                }
            }
            &__product-full-price {
                padding: 0 22px;
                color: #662c62;
                display: block;
                font-size: 13.3px;
            }
            &__product-topics {
                padding: 0 22px;
                margin-top: 14px;
                margin-bottom: 16px;
                color: #774876;
                font-size: 11px;
                ul {
                    li {
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;
                        margin: 7px 0;
                        height: 25px;
                        svg {
                            margin-right: 12px;
                        }
                    }
                }
            }
            &__product-advantages {
                margin-top: 15px;
                margin-bottom: 36px;
                text-align: center;
                color: #5c5c5c;
                height: 124px;
                span {
                    font-weight: 700;
                    font-size: 13px;
                    margin-bottom: 11px;
                    display: block;
                }
                ul {
                    font-size: 12px;
                    li {
                        margin: 12px 0;
                    }
                }
            }
        }
    }
}

.x-types-payment-machine {
    &__intro {
        max-width: 750px;
        margin: 60px auto 0px;
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            line-height: 48px;
            text-transform: uppercase;
            text-align: center;
            color: #662C62;
            strong {
                color: #EC0000;
            }
        }
    }
    &__center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 40px 45px;
        &-content {
            margin: 0 auto;
            width: 60%;
            &:first-child {
                margin: 0 auto 50px !important;
                padding-bottom: 32px;
                border-bottom: 1px solid #EC0000;
            }
            &__item {
                &-name-machine {
                    h3 {
                        margin-bottom: 50px;
                        font-family: 'Calibri', sans-serif;
                        font-size: 26px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        color: #676767;
                    }
                }
                &-title {
                    margin: 0 auto;
                    display: block;
                    width: 65%;
                    border-top: 1px solid #e6e6e6;
                    text-align: center;
                    h3 {
                        color: #5c5c5c;
                        text-transform: uppercase;
                        font-size: 11px;
                        background: #fff;
                        text-align: center;
                        display: -ms-flexbox;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 20px;
                        position: relative;
                        bottom: 19px;
                        width: 30%;
                        margin: 0 auto;
                    }
                }
                &-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    ul {
                        display: flex;
                        align-items: center;
                        position: relative;
                        bottom: 12px;
                        li {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
    &__short-desc {
        margin: 0 auto 74px;
        width: 50%;
        h4 {
            font-family: 'Calibri', sans-serif;
            font-size: 23px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 28px;
            color: #EC0000;
        }
    }
}

.x-presentation-machine {
    width: 100%;
    height: 600px;
    position: relative;
    &__text {
        width: 70%;
        position: absolute;
        height: 108%;
        top: -20px;
        background: rgba(0, 0, 0, 0.16);
        &-center {
            padding: 50px 70px;
            &__intro {
                h3 {
                    margin-bottom: 12px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 40px;
                    line-height: 48px;
                    text-transform: uppercase;
                    color: #662C62;
                    > strong {
                        color: #EC0000;
                    }
                }
            }
            &__list {
                display: flex;
                ul {
                    li {
                        margin-top: 10px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        color: #676767;
                        @media only screen and (min-width: 1600px) {
                            margin: 28px 0;
                        }
                        &::before {
                            content: '';
                            display: inline-block;  
                            margin-right: 8px;
                            width: 8px;
                            height: 8px;
                            background: #EC0000;
                            border-radius: 50%;
                        }
                    }
                }
                > div {
                    margin-right: 12px;
                }
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        background: #E8E8E8;
        &-content {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 452px;
            z-index: 9;
            p {
                position: absolute;
                bottom: -26px;
                left: 108px;
                font-family: 'Open Sans',sans-serif;
                font-size: 10px;
                color: #676767;
            }
        }
    }
}

.x-hnowmore {
    width: 100%;
    &__button {
        margin: 40px auto;
        max-width: 268px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 62px;
            width: 270px;
            height: 50px;
            background: #43c302;
            border-radius: 25px;
            font-family: Open Sans,sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
    }
    &__text {
        margin: 0 auto 80px;
        max-width: 640px;
        background: #EC0000;
        border: 1px solid #EC0000;
        &-content {
            display: flex;
            align-items: center;
            padding: 30px;
            border: 10px solid #fff;
            &__image {
                margin-right: 35px;
                > svg {
                    width: 96px;
                }
            }
            &__text {
                h5 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 24px;
                    color: #fff;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    line-height: 20px;
                    color: #fff;
                }
            }
        }
    }
    &__advantages {
        width: 100%;
        display: flex;
        &-text {
            padding: 22px 70px 0;
            h3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 40px;
                line-height: 48px;
                text-transform: uppercase;
                color: #662C62;
                margin-bottom: 30px;
                strong {
                    color: #EC0000;
                }
            }
            ul {
                li {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color: #676767;
                    line-height: 20px;
                    margin-bottom: 14px;
                    &::before {
                        content: "";
                        display: inline-block;
                        background: url("/arquivos/arrow-list.png") no-repeat;
                        width: 23px;
                        height: 15px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
}

.x-machine-faq {
    width: 100%;
    &__image {
        margin-top: 106px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 176px;
        background: url("/arquivos/background-duvidas-maquininha.jpg");
        h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            color: #fff;
        }
    }
    &__text {
        margin: 66px auto 0;
        max-width: 80%;
        h6 {
            margin-top: 26px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #662C62;
        }
        p {
            margin-top: 12px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            text-align: justify;
            color: #676767;
            &.spacing {
                margin-top: 0;
            }
        }
        ul {
            margin-top: 14px;
            list-style: disc;
            strong, li {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: #676767;
            }
            li {
                transform: translateX(18px);
            }
        }
    }
    &__button {
        margin: 44px auto 70px;
        max-width: 268px;
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
            width: 270px;
            height: 50px;
            background: #43C302;
            border-radius: 25px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }
    }
    &__consulting {
        margin: 0 auto 60px;
        max-width: 80%;
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #676767;
            margin-bottom: 40px;
        }
    }
    &__border {
        margin: 0 auto 40px;
        width: 90%;
        border-top: 1px solid #9B9B9B;
    }
}

