@charset "UTF-8";

/* nao substituir esta parte */

.fl-html h1,
.fl-html h2,
.fl-html h3,
.fl-html h4,
.fl-html h5,
.fl-html h6,
.fl-html p,
.fl-html span,
.fl-html a {
    letter-spacing: 0;
}

.c-wrapper {
    margin-top: 0;
}


/* acabada a parte que nao pode substituir */
@font-face {
    font-family: 'KievitOT', sans-serif;
    src: url("/arquivos/KievitOT-Regular.eot");
    src: url("/arquivos/OT-Regular.eot") format("embedded-opentype"), url("/arquivos/OT-Regular.ttf") format("truetype"), url("/arquivos/OT-Regular.woff") format("woff"), url("/arquivos/OT-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KievitOT', sans-serif;
    src: url("/arquivos/KievitOT-Bold.eot");
    src: url("/arquivos/OT-Bold.eot") format("embedded-opentype"), url("/arquivos/OT-Bold.ttf") format("truetype"), url("/arquivos/OT-Bold.woff") format("woff"), url("/arquivos/OT-Bold.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'KievitOT', sans-serif;
    src: url("/arquivos/KievitOT-ExtraLight.eot");
    src: url("/arquivos/OT-ExtraLight.eot") format("embedded-opentype"), url("/arquivos/OT-ExtraLight.ttf") format("truetype"), url("/arquivos/OT-ExtraLight.woff") format("woff"), url("/arquivos/OT-ExtraLight.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KievitOT', sans-serif;
    src: url("/arquivos/KievitOT-Italic.eot");
    src: url("/arquivos/OT-Italic.eot") format("embedded-opentype"), url("/arquivos/OT-Italic.ttf") format("truetype"), url("/arquivos/OT-Italic.woff") format("woff"), url("/arquivos/OT-Italic.svg") format("svg");
    font-weight: normal;
    font-style: italic;
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
   ========================================================================== */


/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}


/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
   ========================================================================== */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
   ========================================================================== */


/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}


/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
   ========================================================================== */


/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}


/* Forms
   ========================================================================== */


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}


/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
   ========================================================================== */


/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Misc
   ========================================================================== */


/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}


/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

body>img {
    display: block;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "KievitOT", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-variant-numeric: lining-nums;
    color: #5D5D5D;
}

a {
    color: inherit;
}

.port-u-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

@media all and (min-width: 1280px) {
    .port-u-wrapper {
        width: 1084px;
        margin-left: auto;
        margin-right: auto;
    }
}

.port-c-main-header {
    padding: 12px 0 16px;
    display: block;
    position: fixed;
    height: 62px;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    background: linear-gradient(45deg, red 0%, #a30101 100%);
    color: white;
    z-index: 20;
}

.port-c-main-header a {
    text-decoration: none;
    color: white;
}

.port-c-main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.port-c-main-header__logo {
    display: block;
    width: 111px;
    height: 30px;
    margin-top: 4px;
}

.port-c-main-header__logo img {
    display: block;
    width: 100%;
    height: auto;
}

.port-c-main-header__nav__toggler {
    text-align: center;
    position: absolute;
    top: 12px;
    right: 12px;
}

.port-c-main-header__nav__toggler__icon {
    display: block;
    position: relative;
    margin: 10px auto 0;
    width: 24px;
    height: auto;
}

.port-c-main-header__nav__toggler__text {
    margin-top: 4px;
    display: block;
    line-height: 1;
    font-size: 14px;
}

.port-c-main-header__nav__toggler__text__x,
.port-c-main-header__nav__toggler__icon__x {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.port-c-main-header__nav__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 14%;
    right: 0;
    padding: 72px 32px 24px;
    background: white;
    box-shadow: -1px 0 14px 0 rgba(0, 0, 0, 0.5);
    transform: translate3d(110%, 0, 0);
}

.port-c-main-header__nav__menu a {
    color: red;
}

.port-c-main-header__nav__menu__close {
    text-align: center;
    position: absolute;
    top: 16px;
    right: 12px;
    display: block;
}

.port-c-main-header__nav__menu__close span {
    display: block;
    line-height: 1;
    font-size: 14px;
}

.port-c-main-header__nav__menu__close .port-c-main-header__nav__menu__close__icon {
    font-size: 60px;
    line-height: 0.5;
    height: 24px;
}

.port-c-main-header__nav__menu ul {
    position: relative;
}

.port-c-main-header__nav__menu ul li {
    display: block;
    margin-bottom: 24px;
}

.port-c-main-header__nav__menu ul a {
    font-size: 20px;
}

.port-c-main-header__nav__menu ul li.is-active a {
    border-bottom: 2px solid red;
}

.port-c-main-header__nav__menu ul li.is-active .port-c-main-header__nav__cta a {
    border: none;
}

.port-c-main-header__nav__menu ul .port-c-main-header__nav__cta {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    bottom: -72px;
}

.port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    display: block;
    width: 100%;
    padding: 8px 18px;
    background: red;
    border-radius: 19px;
    color: white;
}

.animations-enabled .port-c-main-header__nav__menu {
    transition: transform 150ms ease-in;
}

.is-menu-active .port-c-main-header__nav__menu {
    transform: translate3d(0, 0, 0);
    transition: transform 150ms ease-out;
}

@media all and (min-width: 720px) {
    .port-c-main-header {
        padding: 16px 0 0;
    }
    .port-c-main-header__logo {
        width: 121px;
        height: 32px;
        margin-bottom: 10px;
    }
    .port-c-main-header .port-u-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .port-c-main-header__nav__toggler {
        display: none;
    }
    .animations-enabled .port-c-main-header__nav__menu,
    .is-menu-active .port-c-main-header__nav__menu {
        transform: none;
        transition: none;
    }
    .port-c-main-header__nav__menu {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        padding: 0;
        background: none;
        box-shadow: none;
        transform: translate3d(0, 0, 0);
    }
    .port-c-main-header__nav__menu .is-active a {
        border: none;
    }
    .port-c-main-header__nav__menu a {
        color: white;
    }
    .port-c-main-header__nav__menu__close {
        display: none;
    }
    .port-c-main-header__nav__menu ul {
        display: flex;
        justify-content: space-between;
        align-items: middle;
    }
    .port-c-main-header__nav__menu ul li,
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta {
        display: block;
        margin-bottom: 0;
        margin-left: 16px;
        position: relative;
    }
    .port-c-main-header__nav__menu ul li:hover a:after,
    .port-c-main-header__nav__menu ul li.is-active a:after {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .port-c-main-header__nav__menu ul li.is-active a {
        border-bottom: none;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a,
    .port-c-main-header__nav__menu ul a {
        display: block;
        font-size: 14px;
        text-align: center;
        line-height: 1;
        padding: 0;
        padding-bottom: 16px;
        border: none;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta {
        bottom: auto;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a {
        background: none;
        font-weight: 400;
        text-transform: none;
        display: block;
        width: auto;
        background: none;
        border-radius: 0;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a {
        font-weight: 800;
    }
}

@media all and (min-width: 960px) {
    .port-c-main-header .port-u-wrapper {
        justify-content: space-between;
    }
    .port-c-main-header__nav__menu ul li,
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta {
        margin-left: 23px;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a,
    .port-c-main-header__nav__menu ul a {
        font-size: 16px;
        padding: 0 0 18px;
    }
}

@media all and (min-width: 1280px) {
    .port-c-main-header__nav__menu ul li,
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta {
        margin-left: 36px;
    }
    .port-c-main-header__nav__menu ul .port-c-main-header__nav__cta a,
    .port-c-main-header__nav__menu ul a {
        font-size: 18px;
        padding: 0 0 18px;
    }
}

.port-c-main-footer {
    font-size: 14px;
    color: #E7E7E7;
    overflow: hidden;
}

.port-c-main-footer__sitemap {
    background: #5D5C5D;
    padding: 40px 0;
}

.port-c-main-footer__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.port-c-main-footer__signature {
    margin-bottom: 40px;
}

.port-c-main-footer__signature img {
    max-width: 170px;
    width: 100%;
    margin-bottom: 20px;
    opacity: .5;
}

.port-c-main-footer__cta {
    background: #501e50;
    color: white;
    display: block;
    font-weight: normal;
    width: fit-content;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 9px 29px;
    border-radius: 25px;
    border: 1px solid #501e50;
    display: block;
    margin: 0 auto;
    transition: .2s ease;
}

.port-c-main-footer__cta:hover {
    background: rgba(80, 30, 80, 0);
    border-color: white;
}

.port-c-main-footer__nav ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    padding-left: 0;
    margin: 0;
}

.port-c-main-footer__nav li {
    margin-bottom: 10px;
}

.port-c-main-footer__nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #E7E7E7;
}

.port-c-main-footer__colophon {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #e5e0d1;
    color: #501e50;
}

.port-c-main-footer__colophon small {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .port-c-main-footer__container {
        flex-flow: row-reverse wrap;
        max-width: 868px;
        margin: auto;
    }
    .port-c-main-footer__signature {
        margin-bottom: 0;
        text-align: center;
    }
    .port-c-main-footer__signature img {
        max-width: 230px;
    }
}

.port-c-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(0, 0);
}

.animations-enabled .port-c-modal {
    transition: opacity 150ms ease;
}

.port-c-modal.port-c-modal--active {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 150ms ease;
}

.port-c-modal__container {
    max-width: 840px;
    max-height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.port-c-modal__wrapper {
    position: relative;
    padding-top: 60px;
    min-height: 100px;
    background: white;
}

.animations-enabled .port-c-modal__wrapper {
    transition: transform 150ms ease;
}

.animations-enabled .port-c-modal.port-c-modal--active .port-c-modal__wrapper {
    transform: translateY(0);
    transition: transform 150ms ease;
}

.port-c-modal__close {
    text-decoration: none;
    font-size: 80px;
    line-height: 0.4;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
    opacity: 1;
    transition: opacity 150ms ease;
}

.port-c-modal__close:hover {
    opacity: 0.5;
    transition: opacity 150ms ease;
}

.port-c-modal__content {
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.port-c-modal__video .port-c-modal__wrapper {
    padding-top: 0;
    background: transparent;
    transform: translateY(0);
}

.port-c-modal__video .port-c-modal__content {
    padding: 0;
}

@media all and (min-width: 768px) {
    .port-c-modal__content {
        max-height: calc(90vh - 60px);
    }
}

@media all and (min-width: 990px) {
    .port-c-modal__container {
        margin-left: auto;
        margin-right: auto;
    }
}

.port-c-inicio-v3 {
    position: relative;
    padding-top: 1px;
    padding-bottom: 5px;
    min-height: 420px;
    background-position: top center;
    background-image: url(/arquivos/port-c-inicio-destaque-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.port-c-inicio-v3__info p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.25;
    margin: 0;
    color: white;
}

.port-c-inicio-v3__info h1 {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-top: 25px;
    line-height: 1.2;
    letter-spacing: -.25px;
    margin-bottom: 10px;
}

.port-c-inicio-v3__info h1 span {
    display: block;
}

.port-c-inicio-v3__info h2 {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 19px;
    line-height: 1.2;
    letter-spacing: -.25px;
    font-weight: bold;
    color: white;
}

.port-c-inicio-v3__video {
    width: 100%;
    max-width: 530px;
    margin-bottom: 12px;
    margin-top: 25px;
}

.port-c-inicio-v3__video h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
    color: white;
}

.port-c-inicio-v3__fluid {
    box-shadow: 0 2px 16px 0 rgba(255, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    line-height: 0;
}

.port-c-inicio-v3__fluid iframe {
    height: 186px;
    width: 100%;
}

p.port-c-inicio-v3__disclaimer {
    padding: 0;
    text-align: left;
    display: block;
    font-size: 10px;
    line-height: 1.1;
    margin-bottom: 0;
}

.port-c-inicio-v3__disclaimer small {
    font-size: 9px;
    color: white;
}
.port-c-inicio-v3__cta {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 28px;
    a {
        background-color: red;
        border-radius: 25px;
        padding: 9px 27px;
        font-size: 16px;
        border: 1px solid red;
        line-height: 1;
        color: #FFF;
        text-decoration: none;
        transition: all .2s ease-out;
        margin-top: 20px;
        display: block;
        word-break: keep-all;
        width: fit-content;
        font-weight: bold;
        &:hover{
            background-color: white;
            color: red;
            border-color: white;
        }
    }
  }

@media all and (min-width: 768px) {
    .port-c-inicio-v3 {
        background-image: url(/arquivos/port-c-inicio-destaque-bg-desk.jpg);
        min-height: initial;
        padding-bottom: 13px;
    }
    .port-c-inicio-v3__info {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .port-c-inicio-v3__text {
        flex-basis: calc(50% - 13px);
        max-width: calc(50% - 13px);
    }
    .port-c-inicio-v3__text h1 {
        margin-top: 0;
        font-size: 32px;
    }
    .port-c-inicio-v3__text p {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .port-c-inicio-v3__text h2 {
        margin-top: 35px;
    }
    .port-c-inicio-v3__video {
        flex-basis: calc(50% - 13px);
        max-width: calc(50% - 13px);
        margin-bottom: 0;
        margin-top: 0;
    }
    .port-c-inicio-v3__video h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
    }
    p.port-c-inicio-v3__disclaimer {
        font-size: 12px;
        margin-top: 0;
        max-width: 100%;
        line-height: 1.215;
    }
    p.port-c-inicio-v3__disclaimer small {
        font-size: 12px;
    }
}

@media all and (min-width: 960px) {
    .port-c-inicio-v3 .port-u-wrapper {
        height: 100%;
    }
    .port-c-inicio-v3__info {
        padding-top: 94px;
        padding-bottom: 32px;
    }
    .port-c-inicio-v3__info h1 {
        font-size: 42px;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .port-c-inicio-v3__info p {
        font-size: 18px;
        letter-spacing: 0;
    }
    .port-c-inicio-v3__info h2 {
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: 0;
    }
    .port-c-inicio-v3__text {
        flex-basis: calc(50% - 42px);
        max-width: calc(50% - 42px);
    }
    .port-c-inicio-v3__video iframe {
        height: 280px;
    }
    p.port-c-inicio-v3__disclaimer {
        font-size: 14px;
    }
    p.port-c-inicio-v3__disclaimer small {
        font-size: 14px;
    }
}

.port-c-steps {
    background: #f9f9f9;
    padding: 50px 0;
}

.port-c-steps__heading {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 40px;
}

.port-c-steps__heading h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: bold;
    color: #501E50;
    margin-top: 0;
    margin-bottom: 20px;
}

.port-c-steps__heading p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.port-c-steps__tabs {
    display: flex;
    flex-flow: column;
    padding-bottom: 20px;
    align-items: flex-start;
    overflow: auto;
}

.port-c-steps__step-by-step {
    display: flex;
    flex-flow: row;
    width: 300vw;
}

.port-c-steps__step {
    max-width: calc(25% - 5px);
    flex-basis: calc(25% - 5px);
    margin-right: 10px;
    background-color: #E7E7E7;
    display: flex;
    flex-flow: row wrap;
    border-radius: 4px;
    filter: grayscale(100%);
    opacity: .6;
    transition: all .25s ease-out;
    overflow: hidden;
}

.port-c-steps__step-title {
    flex-basis: 100%;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    transition: all .25s ease-out;
    flex-flow: row wrap;
    align-items: center;
    padding: 12px;
    margin: 0;
    cursor: pointer;
    height: 150px;
}

.port-c-steps__step-title span {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #5D5D5D;
    height: 45px;
    flex-basis: 45px;
}

.port-c-steps__step-title strong {
    flex-basis: calc(100% - 65px);
    margin-left: 20px;
    font-weight: bold;
}

.port-c-steps__step.is-active {
    filter: grayscale(0);
    opacity: 1;
}

.port-c-steps__step.is-active .port-c-steps__step-title {
    background: #693F69;
    margin: 0;
}

.port-c-steps__step.is-active .port-c-steps__step-title * {
    color: #FFF;
    transition: all .6s ease-out;
}

.port-c-steps__step.is-active .port-c-steps__step-title span {
    border-color: transparent;
    background-image: linear-gradient(#693F69, #693F69), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.port-c-steps__step-content {
    padding: 20px 14px;
    height: calc(100% - 150px);
    flex-basis: 100%;
}

.port-c-steps__step-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    color: #5D5C5D;
}

.port-c-steps__step-content p a {
    color: #501e50;
    font-weight: normal;
}

.port-c-step_cta {
    background-color: red;
    border-radius: 25px;
    padding: 8px 25px;
    font-size: 16px;
    border: 1px solid red;
    line-height: 1;
    color: #FFF;
    text-decoration: none;
    transition: all .2s ease-out;
    margin-top: 20px;
    display: block;
    width: fit-content;
    font-weight: normal;
}

.port-c-step_cta:hover {
    background-color: rgba(80, 30, 80, 0);
    color: red;
}

.port-c-steps_download-apps {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.port-c-steps_download-apps li {
    display: inline-block;
    transition: opacity .2s ease-out;
    max-width: calc(50% - 10px);
}

.port-c-steps_download-apps li:not(:last-of-type) {
    margin-right: -110px;
    ;
}

.port-c-steps_download-apps li img {
    width: 43%;
}

.port-c-steps_download-apps li:hover {
    opacity: .8;
}

.port-c-steps__step-content.is-active {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .port-c-steps {
        padding: 80px 0;
    }
    .port-c-steps__heading h2 {
        flex-basis: 60%;
        max-width: 60%;
        font-size: 36px;
        margin-bottom: 0;
    }
    .port-c-steps__heading p {
        flex-basis: 40%;
        max-width: 40%;
        padding-left: 26px;
    }
    .port-c-steps__tabs {
        display: flex;
        flex-flow: row wrap;
        overflow: visible;
    }
    .port-c-steps__step-by-step {
        flex-flow: row wrap;
        width: 100%;
    }
    .port-c-steps__step {
        filter: grayscale(0);
        opacity: 1;
        flex-basis: calc(50% - 13px);
        max-width: calc(50% - 13px);
        margin-right: 0;
        box-shadow: 0 2px 10px 0 rgba(146, 137, 137, 0.5);
    }
    .port-c-steps__step:first-of-type,
    .port-c-steps__step:nth-of-type(2) {
        margin-bottom: 26px;
    }
    .port-c-steps__step:nth-of-type(odd) {
        margin-right: 26px;
    }
    .port-c-steps__step-title {
        padding: 13px 10%;
        margin: 0;
    }
    .port-c-steps__step-title * {
        color: white;
    }
    .port-c-steps__step-title span {
        border-color: transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .port-c-steps__step:first-of-type .port-c-steps__step-title {
        background: #693F69;
    }
    .port-c-steps__step:first-of-type .port-c-steps__step-title span {
        background-image: linear-gradient(#693F69, #693F69), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    }
    .port-c-steps__step:nth-of-type(2) .port-c-steps__step-title {
        background: #834C83;
    }
    .port-c-steps__step:nth-of-type(2) .port-c-steps__step-title span {
        background-image: linear-gradient(#834C83, #834C83), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    }
    .port-c-steps__step:nth-of-type(3) .port-c-steps__step-title {
        background: #A269A2;
    }
    .port-c-steps__step:nth-of-type(3) .port-c-steps__step-title span {
        background-image: linear-gradient(#A269A2, #A269A2), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    }
    .port-c-steps__step:last-of-type .port-c-steps__step-title {
        background: #B08AB0;
    }
    .port-c-steps__step:last-of-type .port-c-steps__step-title span {
        background-image: linear-gradient(#B08AB0, #B08AB0), radial-gradient(circle at center left, #cd3a1f 0%, #35224c 100%);
    }
    .port-c-steps__step-content {
        background-color: #fff;
        width: 100%;
    }
    .port-c-steps__step_download-apps li img {
        height: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .port-c-steps__step-title {
        height: 120px;
    }
    .port-c-steps__step-content {
        height: calc(100% - 120px);
    }
}

@media screen and (min-width: 1366px) {
    .port-c-steps__tabs {
        width: 1306px;
        margin-left: -111px;
    }
    .port-c-steps__step-title {
        height: 80px;
        padding: 13px 18%;
    }
    .port-c-steps__step-content {
        height: calc(100% - 80px);
        padding: 23px 10%;
    }
}

.port-c-taxas {
    padding-top: 50px;
    padding-bottom: 50px;
}

.port-c-taxas .port-u-wrapper>h2 {
    font-weight: normal;
    font-size: 26px;
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    color: #501e50;
}

.port-c-taxas .port-u-wrapper>h2 strong {
    font-weight: bold;
    display: block;
}

.port-c-taxas__intro {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #5d5d5d;
}

.port-c-taxas__ltitles {
    display: none;
}

.port-c-taxas__values {
    text-align: center;
}

.port-c-taxas__values h2 {
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    background: red;
    color: white;
}

.port-c-taxas__wbox {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
}

.port-c-taxas__wbox ul:first-child {
    margin-top: 0;
}

.port-c-taxas__values>div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.port-c-taxas__values>div li {
    font-size: 28px;
    display: block;
    flex-basis: 49%;
    color: #501e50;
}

.port-c-taxas__values sup {
    font-size: 14px;
}

.port-c-taxas__values>div li span {
    display: block;
    font-size: 18px;
}

.port-c-taxas__values>div li:first-child {
    font-weight: 800;
    font-size: 20px;
    flex-basis: 100%;
    margin-bottom: 4px;
    color: red;
}

.port-c-taxas__debito ul li {
    flex-basis: 100%;
}

.port-c-taxas__debito ul li:last-child {
    display: none;
}

.port-c-taxas__credito {
    margin-top: 40px;
}

.port-c-taxas__disclaimer {
    text-align: right;
    font-size: 12px;
    margin: 0;
    margin-top: 16px;
    color: #501e50;
}

.port-c-taxas__tmodal {
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 24px;
    margin-left: 50px;
    margin-right: 50px;
}

.port-c-taxas-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0;
}

.port-c-taxas-offer>div:not(:last-of-type) {
    margin-bottom: 20px;
}

.port-c-taxas-offer__tag {
    text-transform: uppercase;
    background-color: red;
    padding: 20px 73px;
}

.port-c-taxas-offer__tag-text {
    display: flex;
    align-items: left;
    color: white;
    font-weight: normal;
    flex-flow: column wrap;
    margin: 0;
}

.port-c-taxas-offer__tag-text--big {
    font-weight: bold;
    font-size: 84px;
    line-height: .83333;
    margin-bottom: 8px;
}

.port-c-taxas-offer__tag-text--medium {
    font-size: 25px;
    line-height: 1;
    font-weight: normal;
    text-align-last: auto;
}

.port-c-taxas-offer__tag-text--medium strong {
    font-weight: bold;
}

.port-c-taxas-offer__content {
    background-color: #E7E7E7;
    padding: 30px 20px;
    text-align: center;
}

.port-c-taxas-offer__content-title {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    width: 85%;
    margin: 0 auto 15px;
}

.port-c-taxas-offer__content p {
    color: #501e50;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 0;
}

.port-c-taxas-offer__content p a {
    font-weight: normal;
}

.port-c-taxas-offer__content p a:hover {
    opacity: .8;
    text-decoration: underline;
}

.port-c-taxas-offer__cta {
    background-color: #E7E7E7;
    padding: 30px;
    text-align: center;
}

.port-c-taxas-offer__cta-title {
    color: #501e50;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.port-c-taxas-offer__cta--btn {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    display: block;
    padding: 13px 0;
    border: 1px solid red;
    width: 100%;
    margin: 0;
    background: red;
    border-radius: 25px;
    color: white;
    transition: all .2s ease-out;
}

.port-c-taxas-offer__cta--btn:hover {
    background: rgba(255, 0, 0, 0);
    color: red;
}

.port-c-taxas__disclaimer--offer {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: right;
    padding-left: 14px;
    font-size: 12px;
    line-height: 1.1;
}

.port-c-taxas__disclaimer--offer small {
    font-size: 12px;
}

.port-c-taxas__disclaimer--offer br {
    display: none;
}

.port-c-taxas-2__table--main-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #FF0000;
}

.port-c-taxas-2__table--cards {
    display: flex;
    flex-flow: row wrap;
}

.port-c-taxas-2__table--card {
    flex-basis: 100%;
    text-align: center;
    padding: 50px 35px;
    background-color: white;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
}

.port-c-taxas-2__table--title {
    font-size: 28px;
    line-height: 1.1785;
    color: #501e50;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 48px;
    width: auto;
    display: inline-block;
}

.port-c-taxas-2__table--title:after {
    content: '';
    height: 2px;
    display: block;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #501e50 0%, #501e50 50%, #dadada 50%, #dadada 100%);
    width: calc(100% - 20px);
    max-width: 190px;
    bottom: -8px;
    margin: auto;
}

.port-c-taxas-2__table--opt {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.port-c-taxas-2__table--opt:not(:last-of-type):after {
    content: '';
    height: 2px;
    width: 200px;
    display: block;
    margin: auto;
    background: #e7e7e7;
    margin-top: 20px;
    margin-bottom: 20px;
}

.port-c-taxas-2__table--opt-type {
    color: red;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.port-c-taxas-2__table--opt-type img {
    margin-right: 4px;
    width: 21%;
}

.port-c-taxas-2__table--opt-period {
    color: #501e50;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 11px;
}

.port-c-taxas-2__table--opt-payment {
    font-size: 18px;
    line-height: 1.2;
    color: #5d5d5d;
    margin-top: 11px;
}

.port-c-taxas-2__table--opt-percent {
    font-size: 34px;
    line-height: 1.2;
    font-weight: bold;
    color: #501e50;
}

.port-c-taxas-2__table--opt-percent-extra {
    color: #5d5d5d;
    font-size: 12px;
    line-height: 1.2;
}

.port-c-taxas-2__table--opt-taxes {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.port-c-taxas-2__table--opt-tax {
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    flex-flow: column wrap;
}

.port-c-taxas-2__table--opt-tax:not(:last-of-type) {
    border-right: 1px solid #501e50;
}

.port-c-taxas-2__table--opt-tax .port-c-taxas-2__table--opt-percent {
    font-size: 30px;
    line-height: 1.2;
}

.port-c-taxas-2__tmodal-text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 971px;
    width: 80%;
    margin: 30px auto 0;
    color: #501E50;
}

.port-c-taxas-2__tmodal-text a {
    font-weight: normal;
}

.port-c-taxas-2__tmodal-text a:hover {
    text-decoration: underline;
    opacity: .8;
}

@media all and (min-width: 768px) {
    .port-c-taxas-2__table-content .port-c-taxas-2__table {
        flex-direction: row;
        padding: 15px 62px 28px;
    }
    .port-c-taxas-2__table-content .port-c-taxas-2__debito {
        width: calc(49% - 28px);
        margin-right: 56px;
    }
    .port-c-taxas-2__table-content .port-c-taxas-2__credito-colunas {
        display: flex;
        justify-content: space-around;
        padding: 0 10px;
    }
    .port-c-taxas-2__table-content .port-c-taxas-2__credito {
        margin-top: 0;
        width: calc(51% - 28px);
    }
    .port-c-taxas-2__table-content .port-c-taxas-2__coluna--center {
        margin-left: 40px;
    }
    .port-c-taxas-2__tmodal-text {
        margin-top: 30px;
    }
    .port-c-taxas {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .port-c-taxas .port-u-wrapper>h2 {
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .port-c-taxas .port-u-wrapper>h2 strong {
        display: block;
    }
    .port-c-taxas__intro {
        font-size: 24px;
        margin-bottom: 60px;
    }
    .port-c-taxas__table {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 0;
        padding-left: 22px;
        padding-right: 22px;
        background-color: white;
        box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
    }
    .port-c-taxas__wbox {
        padding: 0;
        position: relative;
        top: -50px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .port-c-taxas__values h2 {
        position: relative;
        top: -70px;
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    .port-c-taxas__ltitles {
        text-align: right;
        display: block;
        flex-basis: 160px;
        padding-top: 28px;
    }
    .port-c-taxas__ltitles ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .port-c-taxas__ltitles li {
        font-weight: 800;
        display: block;
        font-size: 20px;
        color: red;
    }
    .port-c-taxas__ltitles li:last-child {
        margin-top: 16px;
    }
    .port-c-taxas__values {
        display: flex;
        justify-content: space-between;
        flex-basis: calc(100% - 192px);
    }
    .port-c-taxas__credito {
        margin-top: 0;
    }
    .port-c-taxas__values>div {
        flex-grow: 3;
    }
    .port-c-taxas__values ul li span {
        display: none;
    }
    .port-c-taxas__debito ul li:last-child {
        display: block;
    }
    .port-c-taxas__debito ul {
        width: 100%;
    }
    .port-c-taxas__values>div ul {
        display: block;
        margin-top: 0;
    }
    .port-c-taxas__values>div li {
        text-align: center;
        margin-bottom: 8px;
    }
    .port-c-taxas__values>div li:first-child {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .port-c-taxas__credito ul {
        flex-basis: 31%;
    }
    .port-c-taxas__tmodal {
        margin-top: 46px;
        color: #501e50;
    }
    .port-c-taxas__disclaimer {
        margin-left: 30%;
    }
    .port-c-taxas-offer {
        flex-flow: row wrap;
        align-items: stretch;
    }
    .port-c-taxas-offer__tag {
        flex-basis: 185px;
        margin-right: 20px;
        padding: 20px;
    }
    .port-c-taxas__disclaimer--offer small br {
        display: block;
    }
    .port-c-taxas__disclaimer--offer {
        margin-bottom: 50px;
        margin-left: 0;
    }
    .port-c-taxas__disclaimer--offer small {
        display: block;
        margin-left: auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .port-c-taxas-offer {
        flex-flow: row wrap;
        align-items: stretch;
    }
    .port-c-taxas-offer__tag {
        flex-basis: 185px;
        margin-right: 20px;
        padding: 20px;
    }
    .port-c-taxas-offer__content {
        flex-basis: calc(100% - 205px);
        padding: 20px;
    }
    .port-c-taxas-offer__cta {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        padding: 20px 30px;
    }
    .port-c-taxas-offer__cta-title {
        flex-basis: calc(100% - 194px);
        max-width: calc(100% - 194px);
        margin-bottom: 0;
        text-align: left;
    }
    .port-c-taxas-offer__cta--btn {
        flex-basis: 194px;
        max-width: 194px;
    }
    .port-c-taxas-2__table--content {
        display: flex;
        flex-flow: row wrap;
    }
    .port-c-taxas-2__table--opt {
        flex-basis: 50%;
    }
    .port-c-taxas-2__table--opt:not(:last-of-type):after {
        height: 100%;
        width: 2px;
        margin: 10px 0 10px auto;
    }
}

@media screen and (min-width: 1024px) {
    .port-c-taxas-offer>div:not(:last-of-type) {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .port-c-taxas-offer__content {
        flex-basis: calc(100% - 430px);
        padding: 30px 60px;
    }
    .port-c-taxas-offer__content-title {
        width: 100%;
        margin-bottom: 22px;
    }
    .port-c-taxas-offer__content p {
        font-size: 22px;
    }
    .port-c-taxas-offer__cta {
        flex-basis: 205px;
        padding: 44px 6px;
    }
    .port-c-taxas-2__table--card {
        flex-basis: 33.333%;
    }
    .port-c-taxas-2__table--card:last-of-type .port-c-taxas-2__table--title {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .port-c-taxas-offer__cta {
        padding: 38px 6px;
    }
    .port-c-taxas-2__table--card {
        padding: 50px;
    }
}

.port-c-superget-compra {
    background-color: #f9f9f9;
    background-image: linear-gradient(232.73deg, #CD3A1F 0%, #5E304A 62.75%, #35224C 100%);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.port-c-superget-compra__img {
    display: none;
}

.port-c-superget-compra h2 {
    font-size: 28px;
    line-height: 1.25;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.port-c-superget-compra__content p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 530px;
    margin: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.port-c-superget-compra__content>img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.port-c-superget-compra__cta {
    width: fit-content;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 21px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 19px;
    color: #FFFFFF;
}

.port-superget-compra__disclaimer small {
    font-size: 12px;
    margin: 0;
}

@media all and (min-width: 768px) {
    .port-c-superget-compra {
        background-size: 100% 350px;
        padding-bottom: 30px;
    }
    .port-c-superget-compra .port-u-wrapper>.port-c-superget-compra__disclaimer {
        display: none;
    }
    .port-c-superget-compra__cols {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
    }
    .port-c-superget-compra__img {
        display: block;
        flex-basis: calc(100% - 420px);
        max-width: calc(100% - 420px);
    }
    .port-c-superget-compra__img img {
        width: 100%;
        height: auto;
    }
    .port-c-superget-compra__content {
        flex-basis: 360px;
        max-width: 360px;
    }
    .port-c-superget-compra__content>img {
        display: none;
    }
    .port-c-superget-compra__content h2 {
        text-transform: uppercase;
    }
    .port-c-superget-compra__cta {
        margin-bottom: 12px;
        transition: all .15s ease;
        margin-left: 0;
        margin-right: 0;
    }
    .port-c-superget-compra__cta:hover {
        background: rgba(255, 255, 255, 0.25);
    }
}

@media all and (min-width: 1024px) {
    .port-c-superget-compra {
        background-size: 100% 330px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .port-c-superget-compra__img {
        flex-basis: calc(100% - 465px);
        max-width: calc(100% - 465px);
        margin-bottom: 100px;
    }
    .port-c-superget-compra__content {
        flex-basis: 420px;
        max-width: 420px;
    }
}

@media all and (min-width: 1366px) {
    .port-c-superget-compra__img {
        flex-basis: calc(100% - 585px);
        max-width: calc(100% - 585px);
        margin-bottom: 90px;
    }
    .port-c-superget-compra__content {
        flex-basis: 530px;
        max-width: 530px;
    }
    .port-c-superget-compra__content h2 {
        font-size: 42px;
    }
}

.port-c-ajuda {
    padding-top: 26px;
    padding-bottom: 0;
    background-color: #e7e7e7;
    overflow: hidden;
}

.port-c-ajuda h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    color: #501e50;
}

.port-c-ajuda h2 strong {
    display: block;
    font-weight: 800;
}

.port-c-ajuda ul {
    width: 110%;
    margin: 0;
    margin-left: -5%;
    padding: 0;
    list-style: none;
}

.port-c-ajuda li {
    position: relative;
    display: block;
    background: white;
}

.port-c-ajuda li a {
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-right: 76px;
    color: white;
    background: #501e50;
}

.port-c-ajuda li a:after {
    content: '';
    position: absolute;
    right: 28px;
    top: 20px;
    width: 23px;
    height: 11px;
    color: white;
    background-image: url("/arquivos/port-c-ajuda-seta.png");
    transform: rotate(0deg);
    transition: transform 150ms ease;
}

.port-c-ajuda li.is-open a:after {
    transform: rotate(180deg);
    transition: transform 150ms ease;
}

.port-c-ajuda li:nth-child(2) a {
    background-color: #834c83;
}

.port-c-ajuda li:nth-child(3) a {
    background-color: #a269a2;
}

.port-c-ajuda li:nth-child(4) a {
    background-color: #b08ab0;
}

.port-c-ajuda li .port-c-ajuda__content {
    font-size: 18px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    background: white;
    transition: height 300ms ease, padding 300ms ease;
}

.port-c-ajuda li.is-open .port-c-ajuda__content {
    padding-top: 14px;
    padding-bottom: 28px;
    max-height: 1000px;
    transition: height 300ms ease, padding 300ms ease;
}

.port-c-ajuda li .port-c-ajuda__content p {
    margin: 0;
}

.port-c-ajuda__graf {
    display: block;
    min-width: 100%;
    margin-left: -5%;
    margin-top: 80px;
}

@media all and (min-width: 960px) {
    .port-c-ajuda {
        padding-top: 50px;
    }
    .port-c-ajuda h2 {
        font-size: 36px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 30px;
    }
    .port-c-ajuda ul {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
    }
    .port-c-ajuda li a {
        font-weight: 400;
        font-size: 22px;
        padding-left: 50px;
    }
    .port-c-ajuda li .port-c-ajuda__content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.port-c-m-video h2 {
    color: #501E50;
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.port-c-m-video .port-c-m-video__btns {
    display: flex;
    margin-bottom: 20px;
}

.port-c-m-video .port-c-m-video__btn {
    background-color: #e7e7e7;
    padding: 23px 20px;
    margin-right: 28px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: .2s ease;
}

.port-c-m-video .port-c-m-video__btn:after {
    content: '';
    background-color: #5d5c5d;
    -webkit-mask-size: contain;
    mask-size: contain;
    height: 24px;
    width: 20px;
    margin-left: 20px;
}

.port-c-m-video .port-c-m-video__btn--android:after {
    -webkit-mask-image: url(/arquivos/port-c-step-i-android.png);
    mask-image: url(/arquivos/port-c-step-i-android.png);
}

.port-c-m-video .port-c-m-video__btn--ios:after {
    -webkit-mask-image: url(/arquivos/port-c-step-i-ios.png);
    mask-image: url(/arquivos/port-c-step-i-ios.png);
}

.port-c-m-video .port-c-m-video__btn--active {
    background-color: white;
    color: #501e50;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.port-c-m-video .port-c-m-video__btn--active:after {
    background-color: #501e50;
}

.port-c-m-video .port-c-m-video-fluid {
    width: fit-content;
    max-width: 100%;
    margin-bottom: 12px;
    box-shadow: 0 2px 16px 0 rgba(255, 0, 0, 0.6);
    border-radius: 4px;
    overflow: hidden;
    line-height: 0;
}

.port-c-m-video .port-c-m-video-fluid iframe {
    display: none;
    max-width: 100%;
    max-height: 55vh;
}

.port-c-m-video .port-c-m-video-fluid iframe.show-video {
    display: block;
}

@media all and (max-width: 320px) {
    .port-c-m-video .port-c-m-video__btn {
        margin-right: 20px;
    }
    .port-c-m-video .port-c-m-video__btn:after {
        margin-left: 10px;
    }
}

@media all and (max-width: 767px) {
    .port-c-m-video .port-c-m-video-fluid iframe {
        max-height: 240px;
    }
}

@media all and (min-width: 990px) {
    .port-c-m-video p {
        font-size: 18px;
    }
}


/* Módulo TaxBox */

.port-c-modal__taxas .o-taxbox {
    margin-top: 50px;
}

.port-c-modal__taxas .o-taxbox__text {
    font-size: 18px;
    line-height: 1.2;
    color: #5D5C5D;
}

.port-c-modal__taxas .o-btn-taxbox {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: 5px 30px 6px;
    border-radius: 30px;
    border: 1px solid #501E50;
    transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
}

.port-c-modal__taxas .o-btn-taxbox--active {
    color: #fff;
    background-color: #501E50;
}

.port-c-modal__taxas .o-btn-taxbox strong {
    display: block;
}

.port-c-modal__taxas .o-btn-taxbox--red {
    color: #FE0100;
    border: 1px solid #FE0100;
}

.port-c-modal__taxas .o-btn-taxbox--red.o-btn-taxbox--active {
    color: #fff;
    background-color: #FE0100;
}

.port-c-modal__taxas .o-btn-taxbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.port-c-modal__taxas .o-taxbox-preview {
    text-align: center;
    padding: 35px 25px 50px;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(186, 186, 186, 0.8);
}

.port-c-modal__taxas .o-taxbox-preview__part-title {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0 24px;
}

.port-c-modal__taxas .o-taxbox-preview__part-title img {
    margin-right: 10px;
}

.port-c-modal__taxas .o-taxbox-preview__part-title h3 {
    font-size: 26px;
    margin: 0;
    color: #501E50;
}

.port-c-modal__taxas .o-taxbox-preview__part-title h4 {
    font-size: 20px;
    margin: 0;
    color: #501E50;
}

.port-c-modal__taxas .o-taxbox-preview__part-title .u-break-line-mobile {
    display: block;
}

.port-c-modal__taxas .o-taxbox-preview__info {
    transform: scale(0);
    opacity: 0;
    height: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.port-c-modal__taxas .o-taxbox-preview__info.o-taxbox-preview__info--active {
    transform: scale(1);
    opacity: 1;
    height: auto;
    overflow: visible;
}

.port-c-modal__taxas .o-taxbox-preview__info hr {
    margin: 40px 0 30px;
    border: none;
    border-bottom: 1px solid #9A9A9A;
}

.port-c-modal__taxas .o-taxbox__info-text {
    font-size: 20px;
    line-height: 36px;
    color: #501E50;
}

.port-c-modal__taxas .o-taxbox__info-value {
    font-size: 58px;
    font-weight: bold;
    display: block;
    margin: 10px 0 35px;
    color: #501E50;
}

.port-c-modal__taxas .o-taxbox__info-value sup {
    font-size: 22px;
    vertical-align: baseline;
}

.port-c-modal__taxas .o-taxbox__link {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    text-decoration: underline;
    display: block;
    margin: 10px auto 0;
}

.port-c-modal__taxas .o-taxbox__link--floating {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #501E50;
}

.port-c-modal__taxas .o-taxbox__link small {
    font-size: 14px;
}

.port-c-modal__taxas .u-break-text-mobile {
    display: block;
}

.port-c-modal__taxas .o-taxbox__disclaimer {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: -25px;
    text-align: right;
    display: block;
}

.port-c-modal__taxas .o-taxbox__info-flags img {
    height: 27px;
}

.port-c-modal__taxas .o-modal--taxbox .o-modal__title {
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 6px;
    color: #FE0100;
}

.port-c-modal__taxas .o-modal--taxbox .o-modal__text {
    margin: 0;
    max-height: 100%;
}

.port-c-modal__taxas .o-table__plan {
    max-width: 630px;
}

.port-c-modal__taxas .o-table__plan-head {
    font-size: 20px;
}

.port-c-modal__taxas .o-table__plan-head strong {
    color: #FF0000;
}

.port-c-modal__taxas .o-table__plan td,
.port-c-modal__taxas .o-table__plan th {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding: 5px 20px 5px 20px;
    color: #5D5C5D;
}

.port-c-modal__taxas .o-table__plan .o-table__plan-head--right {
    text-align: right;
    padding: 5px 60px 5px 0px;
}

.port-c-modal__taxas .o-modal--taxbox .o-modal__text-content p {
    color: #5D5C5D;
    font-size: 24px;
}

.port-c-modal__taxas .o-modal--taxbox .o-modal__container {
    display: flex;
    flex-direction: column;
}

.port-c-modal__taxas .o-modal--taxbox h3 {
    font-size: 24px;
    color: #FF0000;
}

.port-c-modal__taxas .o-table-tax-calc {
    width: calc(100% - 10px);
    text-align: center;
    border-collapse: collapse;
}

.port-c-modal__taxas .o-table-tax-calc .o-table-tax-calc__border-right {
    border-right: 1px solid #fff;
}

.port-c-modal__taxas .o-table-tax-calc .o-table-tax-calc__border-bottom {
    border-bottom: 1px solid #fff;
}

.port-c-modal__taxas .o-table-tax-calc th:nth-child(2),
.port-c-modal__taxas .o-table-tax-calc th:nth-child(3),
.port-c-modal__taxas .o-table-tax-calc th:nth-child(4) {
    padding: 10px 0;
    margin: 0;
    vertical-align: bottom;
    color: #fff;
    background-color: #FF0000;
}

.port-c-modal__taxas .o-table-tax-calc .o-table-tax-calc__subheader {
    font-weight: bold;
    padding: 5px 15px;
    color: #fff;
    background-color: #501E50;
}

.port-c-modal__taxas .o-table-tax-calc tbody td {
    font-size: 16px;
    line-height: 19px;
    padding: 6px 0px;
    color: #5D5C5D;
}

.port-c-modal__taxas .o-table-tax-calc .o-table-tax-calc__bold {
    font-weight: bold;
    background-color: #E7E7E7;
}

.port-c-modal__taxas .taxa-adicional-par {
    margin-top: 32px;
    color: #501E50;
    font-size: 12px;
    line-height: 12px;
}

#modal-taxas .port-c-modal__wrapper {
    padding-top: 0;
}

#modal-taxas .port-c-modal__content {
    padding-top: 60px;
}

@media all and (min-width: 768px) {
    .port-c-modal__taxas .u-break-text-mobile {
        display: none;
    }
    .port-c-modal__taxas .o-btn-taxbox {
        margin-top: 0px !important;
    }
    .port-c-modal__taxas .o-taxbox-preview__part-title .u-break-line-mobile {
        display: inline-block;
    }
}

@media all and (min-width: 1024px) {
    .port-c-modal__taxas .o-modal--taxbox .o-modal__content {
        padding: 50px 30px;
    }
    .port-c-modal__taxas .o-modal--taxbox h3 {
        font-size: 26px;
    }
    .port-c-modal__taxas .o-modal--taxbox .o-modal__text-content p {
        color: #5D5C5D;
        font-size: 24px;
    }
    .port-c-modal__taxas .o-modal--taxbox .o-modal__title {
        font-size: 36px;
    }
    .port-c-modal__taxas .o-taxbox-preview {
        width: fit-content;
        padding: 40px 32px 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .port-c-modal__taxas .o-taxbox-preview__col-separetion {
        width: 550px;
    }
    .port-c-modal__taxas .o-taxbox-preview__info--credit-result {
        width: 0;
        padding-left: 0;
        max-width: 440px;
        border-left: 1px solid #501E50;
    }
    .port-c-modal__taxas .o-taxbox-preview__info--credit-result.o-taxbox-preview__info--active {
        width: auto;
        padding-left: 23px;
        margin-left: 26px;
    }
    .port-c-modal__taxas .o-taxbox-preview__info--credit-result hr {
        display: none;
    }
    .port-c-modal__taxas .o-btn-taxbox-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .port-c-modal__taxas .o-btn-taxbox {
        margin: 0 10px 0 !important;
    }
    .port-c-modal__taxas .o-taxbox-preview__info hr {
        margin: 50px 0 40px;
    }
    .port-c-modal__taxas .o-taxbox-preview__part-title h4 {
        margin-bottom: 10px;
    }
    .port-c-modal__taxas .o-taxbox__text {
        font-size: 24px;
        padding-right: 220px;
    }
    .port-c-modal__taxas .o-taxbox__info-value {
        font-size: 80px;
    }
    .port-c-modal__taxas .o-taxbox__info-value sup {
        font-size: 35px;
        vertical-align: super;
    }
    .port-c-modal__taxas .o-taxbox__disclaimer {
        position: absolute;
        right: 0;
    }
}

.port-c-modal__taxas>h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    color: red;
}

.port-c-modal__taxas>h3 {
    text-align: center;
    font-size: 26px;
    color: red;
}

.port-c-modal__taxas>h2 strong {
    display: block;
    font-weight: 800;
}

.port-c-modal__taxas>p {
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
}

.port-c-modal__taxas__twrap {
    max-width: 100%;
    overflow-x: auto;
}

.port-c-modal__taxas .o-table__plan {
    width: 100%;
    max-width: 100%;
}

.port-c-modal__taxas .o-table__plan .o-table__plan-head {
    font-size: 16px;
    font-weight: 800;
    background: #501E50;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.port-c-modal__taxas .o-table__plan .o-table__plan-head:first-child {
    padding-right: 60px;
}

.port-c-modal__taxas .o-table__plan .o-table__plan-head strong {
    text-align: center;
    display: block;
    color: white;
}

.port-c-modal__taxas .o-table__plan td {
    font-size: 16px;
    padding-left: 20px;
}

.port-c-m-regulamento h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
}

.port-c-m-regulamento p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
}

.port-c-m-sobre-taxas {
    text-align: center;
}

.port-c-m-sobre-taxas__ltitles {
    display: none;
}

.port-c-m-sobre-taxas__values h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
    color: red;
}

.port-c-m-sobre-taxas__values>div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.port-c-m-sobre-taxas__values>div li {
    font-size: 28px;
    display: block;
    flex-basis: 49%;
    color: #501e50;
}

.port-c-m-sobre-taxas__values sup {
    font-size: 14px;
}

.port-c-m-sobre-taxas__values>div li span {
    display: block;
    font-size: 18px;
}

.port-c-m-sobre-taxas__values>div li:first-child {
    font-weight: 800;
    font-size: 20px;
    flex-basis: 100%;
    margin-bottom: 4px;
}

.port-c-m-sobre-taxas__debito ul li {
    flex-basis: 100%;
}

.port-c-m-sobre-taxas__debito ul li:last-child {
    display: none;
}

.port-c-m-sobre-taxas__credito {
    margin-top: 40px;
}

.port-c-m-sobre-taxas>p {
    text-align: right;
    font-size: 12px;
    margin: 0;
    margin-top: 40px;
    color: #501e50;
}

@media all and (min-width: 960px) {
    .port-c-m-sobre-taxas__table {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .port-c-m-sobre-taxas__ltitles {
        text-align: right;
        display: block;
        flex-basis: 160px;
        padding-top: 94px;
    }
    .port-c-m-sobre-taxas__ltitles ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .port-c-m-sobre-taxas__ltitles li {
        font-weight: 800;
        display: block;
        font-size: 20px;
        color: red;
    }
    .port-c-m-sobre-taxas__ltitles li:last-child {
        margin-top: 16px;
    }
    .port-c-m-sobre-taxas__values {
        display: flex;
        justify-content: space-between;
        flex-basis: calc(100% - 192px);
    }
    .port-c-m-sobre-taxas__credito {
        margin-top: 0;
    }
    .port-c-m-sobre-taxas__values>div {
        flex-grow: 3;
    }
    .port-c-m-sobre-taxas__values ul li span {
        display: none;
    }
    .port-c-m-sobre-taxas__debito ul li:last-child {
        display: block;
    }
    .port-c-m-sobre-taxas__values>div ul {
        display: block;
    }
    .port-c-m-sobre-taxas__values>div li {
        margin-bottom: 8px;
    }
    .port-c-m-sobre-taxas__values>div li:first-child {
        font-size: 16px;
    }
    .port-c-m-sobre-taxas__credito {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .port-c-m-sobre-taxas__credito h2 {
        flex-basis: 100%;
    }
    .port-c-m-sobre-taxas__credito ul {
        flex-basis: 31%;
    }
}

.ajax-content-loader {
    display: none;
}

@media screen and (max-width: 780px) {
    .port-c-inicio-v3 {
        margin-top: 50px;
    }
}

/*# sourceMappingURL=bundle.css.map*/