section(class='x-benefits')
    div(class='x-benefits__center')
        div(class='x-benefits__header')
            h2
                | A máquina de cartão com 
                strong os melhores benefícios!
        div(class='x-benefits__contents')
            ul(class='x-benefits__list', id='benefitsList')
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgfrete`}/
                    p Frete grátis para todo Brasil
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgtaxa`}/
                    p Sem taxa de adesão
                li
                    span(class='x-benefits__list--icon')
                        img(src='/arquivos/chip.png')/
                    p Chip e plano de dados grátis
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgcelular`}/
                    p Não precisa de celular
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgdolar`}/
                    p Compre à vista ou em até 12x sem juros
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgapps`}/
                    p Gerencie suas vendas no app
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgrecarga`}/
                    p Recarga de celular*
                li
                    span(class='x-benefits__list--icon')
                        #{`vtex.cmc:svgcontagratis`}/
                    p Conta Digital Grátis**
            div(class='x-benefits__info')
              