section(class='x-faq')
    div(class='x-faq__contents')
        div(class='x-faq__item')
            <vtex:contentPlaceHolder id="Banner Perguntas Frequentes"/>
        div(class='x-faq__item')
            div(class='x-faq__item--header')
                h2 Confira algumas dúvidas frequentes
            div(class='x-faq__item--container')
                div(class='x-faq__item--container-dropdown')
                    h3(class='x-faq__item--title js--faq-title')
                        | Como posso acompanhar a entrega da minha SuperGet?
                    div(class='x-faq__item--container js--faq-container')
                        | Você pode acompanhar o status da entrega da sua máquina pelo nosso aplicativo! Baixe o APP Getnet e crie um usuário com o seu CPF ou CNPJ. Você receberá a confirmação do pedido no seu e-mail,  e pode acompanhar o status da entrega da sua SuperGet pelo aplicativo.
                div(class='x-faq__item--container-dropdown')
                    h3(class='x-faq__item--title js--faq-title')
                        | Como funciona a SuperDigital?
                    div(class='x-faq__item--container js--faq-container')
                        | Compre sua SuperGet e receba o valor das suas vendas direto na Superdigital, uma conta digital grátis! A Superdigital é igual a um banco, só que mais prática. Sem precisar de uma conta bancária, você compra com o cartão pré-pago Internacional Mastercard® e saca nos caixas da Rede Banco24Horas, recebe e transfere dinheiro pra qualquer banco, paga suas contas direto pelo aplicativo e compra em sites e aplicativos com segurança com o cartão virtual.
                div(class='x-faq__item--container-dropdown')
                    h3(class='x-faq__item--title js--faq-title')
                        | Quando irei receber o valor das minhas vendas?
                    div(class='x-faq__item--container js--faq-container')
                        | Aqui na Getnet, é você que escolhe quando receber suas vendas! Todos os valores de vendas feitas no débito estarão disponíveis para você no dia seguinte, e para receber as vendas a crédito você pode escolher entre receber tudo em 2 dias, 30 dias ou mês a mês conforme o parcelamento realizado no cartão do seu cliente.
                div(class='x-faq__item--container-cta')
                    a(href='/institucionais/perguntas-frequentes') Veja Mais
