section(class='x-rates')
    div(class='x-rates__center')
        div(class='x-rates__header')
            h2
                | Receba suas vendas 
                strong com taxas imperdíveis
            p
                | Todas suas vendas diretamente na sua conta com flexibilidade na escolha do prazo de recebimento
        div(class='x-rates__contents')
            div(class='x-rates__left')
                div(class='x-superget-taxas__credito--titulo')
                    h3
                        #{`vtex.cmc:iconeDinheiro`}/
                        | Débito
                    p(class='x-superget-taxas__info')
                        | Receba em
                        strong 1 dia
                    p(class='x-superget-taxas__valores')
                        | Venda à vista
                        strong 2,00%
                
                div(class='x-superget-taxas__debito--cta')
                    p Garanta já a sua
                    button
                        a(href="#x-shelf") PEDIR MÁQUINA

            div(class='x-rates__right')
                div(class='x-superget-taxas__credito--titulo')
                    h3
                        #{`vtex.cmc:iconeCartao`}/
                        | Crédito
                div(class='x-superget-taxas__credito--info-taxas')
                    div(class='x-superget-taxas__credito--collum')
                        p(class='x-superget-taxas__info')
                            | Receba em
                            strong 2 dias
                        p(class='x-superget-taxas__valores')
                            | Venda à vista
                            strong 2,00%
                        p(class='x-superget-taxas__valores')
                            | Venda parcelada
                            strong 5,59 %
                    div(class='x-superget-taxas__credito--collum')
                        p(class='x-superget-taxas__info')
                            | Receba em
                            strong 30 dias
                        p(class='x-superget-taxas__valores')
                            | Venda à vista
                            strong 3,09%
                        p(class='x-superget-taxas__valores')
                            | Venda parcelada
                            strong 3,79%
                                span +2,99% por parcela
                    div(class='x-superget-taxas__credito--collum')
                        p(class='x-superget-taxas__info')
                            | Receba em
                            strong 12 parcelas
                        p(class='x-superget-taxas__valores x-border' style='border-left:0')
                            | Venda à vista
                            strong 3,09%
                        p(class='x-superget-taxas__valores')
                            | Venda parcelada
                            strong 6,40%
            
        div(class='x-superget-taxas__credito--sub-infos')
            