section(class='x-superget-sell')
    div(class='x-superget-sell__center')
        div(class='x-superget-sell__header')
            h2
                | Veja como é fácil começar 
                strong a vender com SuperGet
        div(class='x-superget-sell__contents')
            ul(class='x-superget-sell__list')
                li(class='x-superget-sell__item')
                    span(class='showInfo') I 
                    span(class='x-superget-sell__item--icon')
                        #{`vtex.cmc:svgstepsmachine`}/
                    p Compre a máquina
                     span(class='infoText') Realize a compra da maquininha que mais combina com o seu negócio, à vista ou em até 12x sem juros, frete grátis para todo o Brasil e sem taxa de adesão!

                li(class='x-superget-sell__item')
                    span(class='x-superget-sell__item--icon')
                        #{`vtex.cmc:svgstepsuser`}/
                    p Realize o cadastro no site
                    span(class='infoText') Para a utilização da sua maquininha é necessário realizar o credenciamento junto a Getnet. Este credenciamento está sujeito a análise e aprovação. Para clientes que já possuem cadastro na Getnet deverão apenas realizar a ativação da maquininha. É simples, rápido e fácil!
 
                li(class='x-superget-sell__item')
                    span(class='x-superget-sell__item--icon')
                        #{`vtex.cmc:svgstepsmoney`}/
                    p Ative e comece a vender!
                     span(class='infoText') Aqui a ativação da sua maquininha é simples e rápida. Você faz pelo app e já pode começar a vender. Boas vendas!
