
- var $templateName = ''
- var $templateClass = ''

block vars

doctype
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:vtex='http://www.vtex.com.br/2009/vtex-common', xmlns:vtex.cmc='http://www.vtex.com.br/2009/vtex-commerce', lang='pt-br')
    head
        vtex:template(id='SuperGetCommon-ResourceHints')/
        vtex:template(id='SuperGetCommon-Head')/

        //- SEO
        vtex:contentPlaceHolder(id="TITLE PAGE")/
        vtex:metaTags/
        vtex:template(id='SuperGetCommon-JsonLd')/

        //- Styles
        block styles
            vtex:template(id='SuperGetCommon-Styles')/

        //- Theme Scripts
        vtex:template(id='SuperGetCommon-ThemeScripts')/

        block themeScripts

        block richSnippetsHead

    body
        block richSnippetsBody
        
        block outscreen

        block deviceHeader
        
        //- Main Content
        main(role='main', class=`x-${$templateClass}__main`)
            block content

        //- Footer
        block footer
            vtex:template(id='SuperGetCommon-AjaxLoader')/
            vtex:template(id='SuperGetCommon-Overlay')/

        //- Scripts
        block scripts
            vtex:template(id='SuperGetCommon-Scripts')/
            block deviceScripts
            vtex:template(id='SuperGetCommon-GoogleFonts')/
            vtex:template(id='SuperGetCommon-ClearCache')/
