
- var $customClass = ''
- var $shelfType = ''

include ./../_mixins/_mixin__general-wishlist-button.pug

block vars

!= '#set($productId = $product.Id)\n'
!= '#set($productTitle = $product.HtmlEscapedName)\n'
!= '#set($productLink = $product.Uri)\n'
!= '#set($productListPrice = $product.ListPrice)\n'
!= '#set($productBestPrice = $product.BestPrice)\n'
!= '#set($productInstallmentValue = $product.InstallmentValue)\n'

article(class=`x-shelf__item ${$customClass} js--shelf-item`, data-product-id='$productId')
    input(type='hidden', class='js--shelf-product-id', value='$productId')/
    input(type='hidden', class='js--shelf-product-departament', value='$product.DepartmentName')/
    input(type='hidden', class='js--shelf-product-category', value='$product.CategoryName')/
    input(type='hidden', class='js--shelf-product-name', value='$product.Name')/

    div(class='x-shelf__img-container')
        block shelfImage

    div(class='x-shelf__content')
        h2(class='x-shelf__title') $productTitle

        != '\n#if ($product.IsInStock)\n'
        div(class='x-shelf__price-container')
            p(class='x-shelf__price-text')
                != '\n#if ($product.HasBestPrice)\n'
                del(class='x-shelf__old-price') de $productListPrice por
                span(class='x-shelf__best-price') $productBestPrice 
                    span(class='x-a-vista') à vista
                != '\n#else\n'
                del(class='x-shelf__old-price')
                span(class='x-shelf__best-price') $productBestPrice 
                    span(class='x-a-vista') à vista
                != '\n#end\n'

                span(class='x-btn-add-carrinho') $product.BottomBuy

        != '\n#else\n'
        div(class='x-shelf__out-of-stock js--out-of-stock')
            p(class='x-shelf__out-of-stock-text') Produto Esgotado
        != '\n#end\n'
