.body-checkout-confirmation {
    background: #f8f8f8;
}

.x-credencia {
	display: flex;
	justify-content: space-between;
	border-radius: 3px;
	padding: 10px 40px;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 20px;
	margin: 30px auto;
	background-image: url('/arquivos/bannerCredenciamento-v2.jpg');
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	height: 216px;
	width: 65%;

    @include mq("sm", max) {
		display: none !important;
		flex-direction: column;
		padding: 10px;
		margin: 10px 0;
		width: 100%
    }

    > div {
        flex: 1;
        
        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;
        }
    }

    h2 {
        font-size: 22px;
        max-width: 100%;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0;
    }

    span {
        font-size: 10px;
        color: #fff;
    }

    img {
        max-width: 300px;
        @include mq("sm", max) {
            width: 100%;
            margin: 20px 0;
        }
    }

    .btn-red-credencie {
        color: #fff;
        background: red;
        padding: 10px 50px;
        border-radius: 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;

        @include mq("sm", max) {
            display: block;
        }
    }

    &-mobile {
        width: 100%;
        margin: 30px auto 20px;

        @include mq("sm", min) {
            display: none !important;
        }

        &__wrapper {
            width: 100%;
            position: relative;
        }

        &__background {
            width: 100%;
            height: auto;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 35px;
            box-sizing: border-box;
            padding: 0 20px;
            position: absolute;
            top: 18%;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            border-radius: 15px;
        }

        &__range {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            background: transparent;
            z-index: 2;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: #d10000;
                background-image: url("/arquivos/arrow-input-range-superget-register.png?v=1");
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
            }
        }

        &__text {
            position: absolute;
            right: 20px;
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            line-height: 12px;
            color: #ff0000;
            text-align: center;
            z-index: 1;
        }
    }
}

#app-top {
        background: #f8f8f8 !important;

    .ph3-ns.w-70-ns.db.center {
        width: 80%;
        display: flex;
        flex-direction: column;
        .cconf-bank-invoice-data{
            order: 2;
        }
        .cconf-alert{
            order: 3;
        }

        @include mq('sm', max) {
            width: 100%;
        }
        div {
            h1 {
                text-transform: none;
                font-size: 25px;
                /* font-size: 1.3125rem; */
                margin: 0;
                margin-top: 40px;
                color: #fe0002;
                font-weight: 700;
                letter-spacing: 0;
                text-align: left;
                margin-bottom: 10px;
                padding-bottom: 0;
                /* background: #f8f8f8; */
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                margin-bottom: 20px;
            }
        }
    }
}

#app-container {
    background: #f8f8f8 !important;

    .ph3-ns.w-70-ns.db.center {
        width: 80%;

        @include mq('sm', max) {
            width: 100%;
        }

        .pt4 {
            padding: 0px;

            .w-100.fl.pa2.pl0 {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    h2 {
                            color: #662c62;
                            font-weight: 700;
                            font-size: 20px;
                    }
            }

            .dib.cf.w-100.pt4 {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @include mq('sm', max) {
                    flex-direction: column;
                }

                .w-third-l {
                    width: 30%;
                    @include mq('sm', max) {
                        width: 100%;
                    }

                    article {
                        background: #fff;
                        h3 {
                            color: #662c62;
                            font-weight: 700;
                            font-size: 14px;
                            letter-spacing: 0;
                            text-transform: none;
                        }
                    }
                } 
            }

            .w-100.pv4.fl {
                h2 {
                    span {
                        color: #662c62;
                        font-weight: 700;
                        font-size: 20px;
                    }
                }

                .mb0 {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 20px;

                    .ml2 {
                        background: red;
                        color: #fff;
                        font-weight: bold;
                        text-transform: uppercase;

                        margin: 0;
                        margin-left: 5px;
                    }
                }

                .f4.mb0.lh-copy {
                    border-bottom: 0px;
                }
            }

            div {
                &:nth-child(4) {
                    float: left;
                    width: 100%;
                    text-align: center;
                    display: inline-block;

                    a {
                        text-align: center;
                        display: inline-block;
                        float: none;
                        color: #fff;

                        padding: 10px 50px;
                        border-radius: 30px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 12px;
                        width: auto;
                        border: 0px;
                        margin-bottom: 50px;
                    }

                    .cconf-myorders-button {
                        background: #662b61;
                    }

                    .cconf-continue-button {
                        background: red;
                    }
                }
            }
        }
    }
}

.cconf-product-table {
    .cconf-product {
        border: 0 !important;
        background: #fff !important;
        
        td {
            border-top: 0px !important;
            vertical-align: middle;

            .fl {
                a {
                    color: #662c62;
                    font-weight: 700;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }

    .cconf-attachment {
        td {
            background: #fff !important;
            border: 0 !important;
            border-top: 0 !important;
            .w-80-ns {
                img {
                    display: none;
                }
                .cconf-attachment-name {
                    display: none;
                }
                .pt3 {
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #6f2c62;
                        margin-top: -40px;
                }
            }
        }
    } 
}