
//- Id: 
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--wishlist-list'
    - var $shelfType = 'wishlist'
    - var $getImageTag = '$product.GetImageTag(472, 590)'



block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        != $getImageTag