
//- Id: 4d306af6-e359-4a71-be84-296a33d8a64b
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--category'
    - var $shelfType = 'all'



block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        div(class='x-shelf__placeloader has--placeloader js--shelf-category',
            data-productId='$productId',
            data-image-width='642',
            data-image-ratio='0.800498753')