
//- Id: 32fba543-8034-46e2-a9dc-2468cb4bd4ab
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--search'
    - var $shelfType = 'all'
    - var $getImageTag = '$product.GetImageTag(472, 590)'


block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        != $getImageTag