#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
<article class="x-product x-product-id-$id">
  <input class="x-id" type="hidden" value="$id"/>
  <input class="x-sku" type="hidden" value="$idSku"/>
  <input class="x-departament" type="hidden" value="$product.DepartmentName"/>
  <input class="x-category" type="hidden" value="$product.CategoryName"/>
  <div class="x-product__image">
    <div class="x-product__image--container"><a title="$escapedName" href="$uri">$product.GetImageTag(280,280)</a></div>
    <div class="x-product__image--know-more"><a href="$uri">+ Saiba Mais</a></div>
  </div>
  <div class="x-product__group">
    <div class="x-product__discount">#if ($product.HasBestPrice)
      <div class="x-product__discount--container">
    <span class="x-product__discount--flag"><strong class="x-product__discount--text"></strong> Desconto</span></div>#end
      <h3>$product.DescriptionShort</h3>
    </div>
    <h2 class="x-product__name"><a title="$escapedName" href="$uri">$product.Name</a></h2>        #if ($product.IsInStock)
    <div class="x-product__price"><a title="$escapedName" href="$uri">#if ($product.HasBestPrice)
        <p><span class="x-product__price--old">De <strong>$product.ListPrice</strong></span></p>#end
        #if ($product.NumbersOfInstallment > 1)
        <p class="x-product__price--installments">         <span class="x-product__price--installments-number">Por <br /> ${product.NumbersOfInstallment}X          </span><span class="x-product__price--installments-value">$product.InstallmentValue</span></p>
        <p> 
          <div class="x-product__price--best"><span>
                           OU&nbsp;&nbsp;</span>$product.BestPrice à vista</div>
        </p>#else
        <p><span class="x-product__price--best is--single">Por $product.BestPrice à vista</span></p>#end</a></div>
        #if($id != "4")
            <div class="x-product__chips">
                <div class="x-free_shipping">
                    <p>FRETE GRÁTIS PRA TODO BRASIL</p>
                </div>
                <p>Escolha a sua operadora gratuitamente:</p>
                <ul>
                    <li><button class="js--chip-vivo" data-chip="vivo"></button></li>
                    <li><button class="js--chip-tim" data-chip="tim"></button></li>
                    <li><button class="js--chip-claro" data-chip="claro"></button></li>
                    <li><button class="js--chip-oi" data-chip="oi"></button></li>
                </ul>
            </div>    
        #else
        <div class="x-product__chips" style="display: none">
            <ul>
                <li class="is--active"><input class="js--chip-vivo" data-chip="vivo" id="teste" checked></input></li>
            </ul>
        </div>
            <div class="x-app_logo_menu">
                <div class="x-free_shipping">
                    <p>FRETE GRÁTIS PRA TODO BRASIL</p>
                </div>
               <a href="#">
                    <div>
                        <img id="x-logo_app_image_1_home" src="/arquivos/logo_aplicativo_exclusivo.png" alt="logo_app_exclusive">
                        <div class="x-text_logo_exlusive_home">
                            <p class="x-para_1_home">Baixe nosso</p>
                            <p class="x-para_2_home">app exclusivo</p>
                        </div>
                    </div>
                    <div class="x-logo_app-box2">
                        <!--<img id="x-logo_app_image_2" src="/arquivos/descricao_app_exclusivo.png" alt="descricao_app_exclusivo">-->
                        <div class="x-logo_app-content">
                            <img id="x-logo_app_image_2" src="/arquivos/descricao_app_exclusivo_v2.png" alt="descricao_app_exclusivo">
                            <div>
                                <ul>
                                    <li>Conexão <span>bluetooth</span></li>
                                    <li>Realize transações pelo celular</li>
                                    <li>Venda pelo app SuperGet Mobile</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        #end
    <div class="x-product__buy-button"><a href="$uri" title="$escapedName" data-sku="$idSku">Comprar</a></div>        #else
    <div class="x-product__price--out-of-stock"><a title="$escapedName" href="$uri">Produto Esgotado</a></div>        #end
  </div>
</article>