
//- Id: b60b62bf-2229-4fdb-9230-64d4a5b9852f
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--carousel'


block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        div(class='x-shelf__placeloader has--placeloader js--shelf-carousel',
            data-productId='$productId',
            data-image-width='416',
            data-image-ratio='0.801044105792484')