extends ./../../../common/_partials/header/_header__utilities.pug

block prepend items
    li(class='x-utilities__item has--main-menu')
        button(class='js--menu-mobile-btn is--active', title='Menu')
            <vtex.cmc:svgIconHamburgerMenu/>
        button(class='js--menu-mobile-close', title='Menu')
            <vtex.cmc:svgIconClose/>