
extends ./../../common/_layouts/_common-base.pug

block vars
    - var $templateType = 'desktop'

block append deviceHeader
    vtex:template(id='SuperGetDesktop-Header')/

block append footer
    vtex:template(id='SuperGet-Desktop-Footer')/
block append styles
    vtex:template(id='SuperGetDesktop-Styles')/
block append deviceScripts            
    vtex:template(id='SuperGetDesktop-Scripts')/
            