
extends ./../../common/_layouts/_common-base.pug

//- Template variables
block vars
    - var $templateType = 'desktop'

//- Page styles
block append styles
    vtex:template(id='SuperGetDesktop-Styles')/


block append deviceHeader
    vtex:template(id='SuperGetDesktop-Header')/

block append deviceScripts
    vtex:template(id='SuperGetDesktop-Scripts')/

//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/


//- Main Content
block content
    section(class='x-institutional__container')

        div(class='x-institutional__banner')
            h1(class='x-institutional__banner-title') Confiança e segurança para os seus negócios

        div(class='x-institutional__left')
            block institutionalContentLeft

        div(class='x-institutional__right')
            block institutionalContentRight

//- Page scripts
block append scripts    
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)

block append footer
    vtex:template(id='SuperGet-Desktop-Footer')/

block append styles
    vtex:template(id='SuperGetDesktop-Styles')/

block append deviceScripts
    vtex:template(id='SuperGetDesktop-Scripts')/
