
extends ./_desktop-base.pug

include ./../../common/_mixins/_mixin__account-script.pug
include ./../../common/_mixins/_mixin__general-breadcrumb.pug


//- Template variables
block vars
    - var $templateName = 'account'
    - var $templateClass = 'account'


//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/


block append themeScripts
    //- Mixin Account Script
    +accountScript


//- Main Content
block content
    section(class='x-account__container')
        div(class='x-account__left')
            block accountContentLeft


        div(class='x-account__right')
            block accountContentRight


//- Page scripts
block append scripts
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
