
//- Id: f2b201d7-bdb4-4ee6-a4e1-ea19eb357ad8
extends ./../../common/_layouts/_common-shelf-base.pug


block vars
    - var $customClass = 'has--carousel'
    - var $shelfType = 'all'


block append shelfImage
    a(href='$productLink', class='x-shelf__link', title='$productTitle')
        div(class='x-shelf__placeloader has--placeloader js--shelf-carousel',
            data-product-id='$productId',
            data-image-width='208',
            data-image-ratio='0.801044105792484')