
.x-breadcrumb {
    @include rem(margin-bottom, 13px);

    ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        @include mq('sm', max) {
            @include rem(padding, 4px 16px);
            justify-content: flex-start;

            body.is--category &,
            body.is--departament &,
            body.is--serach-result & {
                padding: 0;
            }
        }
    }

    li {
        display: flex;
        align-items: center;
        @include rem(min-width, 28px);

        &:first-child {
            a {
                margin-left: 0;
                padding-left: 0;

                &:before {
                    content: '';
                    @include rem(font-size, 12px);
                }

                @include mq('sm', max) {
                    @include rem(margin-right, 26px);
                    @include rem(font-size, 0 !important);

                    &:before {
                        content: 'Super Get';
                    }
                }
            }
        }
    }

    a, p {
        color: $color-grat-dark-2;
        @include rem(font-size, 12px);
        @include font-weight(light);
        @include rem(padding-left, 5px);
        @include rem(padding-right, 5px);
        @include rem(margin-left, 5px);
        @include rem(margin-right, 5px);
        border-radius: 50%;
        text-align: center;
        position: relative;

        &:before {
            content: '●';
            position: absolute;
            @include rem(font-size, 8px);
            top: 50%;
            left: -10px;
            transform: translateY(-50%);

            @include mq('sm', max) {
                @include rem(font-size, 4px);
            }
        }

        body.is--category &,
        body.is--departament &,
        body.is--serach-result & {
            @include rem(font-size, 11px);
            color: $color-gray-dark;
            letter-spacing: 1.5px;

            @include mq('sm', max) {
                @include rem(font-size, 12px);

                &:first-child {
                    @include rem(margin-right, 6px);

                    &:before {
                        @include rem(font-size, 10px);
                    }
                }
            }

            &:before {
                @include rem(font-size, 8px);
                left: -7px;
            }
        }
    }

    a {
        &:hover {
            color: $color-black;
            text-decoration: underline;
        }
    }

    strong {
        display: flex;
        align-items: center;

        body.is--category &,
        body.is--departament &,
        body.is--serach-result & {
            @include font-weight(normal);
        }
    }
}
