.x-site-map {
    &__container {
        @extend %page-content__container;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        @include mq("sm", max) {
            width: 100%;
            padding: 0 !important;
        }
    }

    &__banner {
        background-image: url("/arquivos/institutional-gradient.png");
        width: 100%;
        height: 232px;
        background-size: 100% 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__banner-title {
        @include rem(font-size, 40px);
        color: #fff;
        font-weight: bold;
        width: 55%;
        margin: auto;
        text-align: center;
        @include mq("sm", max) {
            @include rem(font-size, 36px);
            width: 90%;
        }
    }



    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2%;
        padding: 0 10% 20px 10%;
        .x-site-map__title{
            width: 70%;
            margin-top: 4%;
            h2{
                @include rem(font-size, 24px !important);
                font-weight: bold !important;
                color: #6b3367;
                text-align: left !important;
                margin-bottom: 1rem !important;
            }
        }
        .x-site-map__links{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            .x-box{
                .x-box-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .x-title-content{
                        width: 100%;
                        border-bottom: 3px solid #6b3367;
                        margin-bottom: 13px;
                        h2{
                            @include rem(font-size, 19px !important);
                            font-weight: bold !important;
                            color: #6b3367;
                            text-align: left !important;
                            padding-bottom: 10px !important;
                        }
                    }
                    .x-list-content{
                        ul{
                            margin-top: 10px;
                            list-style: none;
                            li{
                                text-align: left;
                                margin-bottom: 8%; 
                                a{
                                    @include rem(font-size, 15px !important);
                                    font-weight: 400;
                                    text-decoration: none;
                                    color: #6b3367;
                                }
                            }
                        }
                    }
                }
                &.x-products{
                    width: 21%;
                }
                &.x-institucional{
                    width:19%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .x-box-content:nth-of-type(1){
                        margin-bottom: 4%;
                    }
                }
                &.x-contact{
                    width: 19%;
                }
                
            }
        }

    }

    // &__title {
    //     @include rem(font-size, 16px !important);
    //     font-weight: bold !important;
    //     color: #6b3367;
    //     text-transform: uppercase;
    //     text-align: left !important;
    //     margin-bottom: 1rem !important;
    // }

}
// .x-site-map-menu {
//     &__items {
//         @include mq("sm", max) {
//             border: 1px solid gray;
//             margin-bottom: 15px;
//         }
//     }

//     &__item {
//         font-weight: bold;
//         text-transform: uppercase;
//         color: $color-gray;
//         @include mq("sm", max) {
//             padding-left: 1.2rem;
//             padding-right: 1.2rem;
//             display: none;
//             &:first-child {
//                 display: block;
//                 position: relative;
//                 &:after {
//                     position: absolute;
//                     right: 15px;
//                     top: 7px;
//                     @include arrow-generate("down", 12px);
//                 }
//             }
//         }
//         a {
//             font-size: 15px;
//         }
//     }

//     &__link {
//         @extend %sidebar-menu__link;
//         color: red;
//         // &:hover {
//         //     color: red;
//         // }
//         &:after {
//             height: 4px;
//             background: #6b3367;
//         }
//     }
// }
// .item--arrow-animate {
//     &:after {
//         transform: rotate(-45deg);
//     }
// }
