section(class='x-hero-section')
    div(class='x-container')
        div(class='x-left is--hidden')
            h1(class='x-hero-section__title x-content__bolder') Super vantagens
            button(class='x-btn x-btn--red x-d-none') Conheça agora

        div(class='x-img-container')
            a(href="/#x-shelf")
                img(src='/arquivos/bannersupergettaxas-mobile.png' alt='Super Get Taxas e Tarifas')/

                div(class='x-rates__contents')
                    div(class='x-rates__left')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba já D+30
                        div(class='x-superget-taxas__credito--info-taxas')
                            div(class='x-superget-taxas__credito--collum')
                                   
                                p(class='x-superget-taxas__info')
                                    strong  Débito #[br] receba em 
                                    strong 1 dias
                                p(class='x-superget-taxas__valores')
                                    | À vista
                                    strong(class="x-discount") 2,00%
                                
                            div(class='x-superget-taxas__credito--collum')
                            
                                p(class='x-superget-taxas__info')
                                    strong  Crédito #[br] receba em 
                                    strong 30 dia
                                    
                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores') parcelada #[strong 3,79%]
                                      span(class='x-discount') +2,99% por parcela
                            
                  
                    div(class='x-rates__right')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba conforme suas vendas
                        div(class='x-superget-taxas__credito--info-taxas')
                            div(class='x-superget-taxas__credito--collum')
                                p(class='x-superget-taxas__info')
                                    strong  Débito #[br]receba em 
                                    strong 1 dias
                                p(class='x-superget-taxas__valores')
                                    | À vista
                                    strong 1,95%
                                
                            div(class='x-superget-taxas__credito--collum')
                            
                                p(class='x-superget-taxas__info')
                                    strong  Crédito #[br] receba em 
                                    strong 30 dia
                                    
                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores') parcelada 
                                      strong(class='x-discount')
                                       | 6,40%
                                      span +2,99% por parcela
                            div(class='x-superget-taxas__credito--collum')
                                
                    
                div(class='x-superget-taxas__credito--sub-infos')
        
        div(class='x-superget-taxas__credito--sub-infos')
            p * Válido somente para os modelos SuperGet com chip e SuperGet com chip 3G + WI-FI. Não disponível para modelo com bobina.
                br/ ** Nesta opção você irá receber de acordo com o parcelamento realizado no momento da venda para o seu cliente.
                br/ *** Taxa adicional de 2,99% por parcela.

include ../../../../common/_partials/product/taxas-e-tarifas.pug

section(class="x-tax-section")
    div(class="x-content")
        h2(class="x-content__title") APROVEITE E TENHA SUA
            span(class="x-content__title--red x-content__bolder")  SUPERDIGITAL
        include ./../../../../common/custom-elements/svg-icons/line.pug
        p(class="x-content__body") A 
            span(class="x-content__body--purple x-content__bolder") SuperDigital 
            | é uma conta sem anuidade e 100% digital: sua conta nunca vai ficar negativa! Conheça as vantagens!
    div(class="x-bottom")
        img(class="x-content__card-image" src="/arquivos/superdigital-card-account.png" alt="Line")/
        article(class="x-services")
            div(class="x-content")
                h2(class="x-content__title x-content__bolder") Super Zero
                include ./../../../../common/custom-elements/svg-icons/line.pug
            div(class="x-services-container")
                div(class="x-services-list")
                    div(class="x-content")
                        h4(class="x-content__title x-content__title--gray x-content__bolder") Serviços ilimitados e gratuitos
                            span(class="x-content__title--red x-content__bolder")  R$0,00
                    ul
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-1.pug
                            p
                                span(class="x-services-list__item--purple") 1
                                |  cartão físico
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-2.pug
                            p
                                span(class="x-services-list__item--purple") 5
                                |  cartões virtuais
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-3.pug
                            p Depósitos na
                                span(class="x-services-list__item--purple")  SuperDigital
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-4.pug
                            p Pagamentos de contas
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-5.pug
                            p Transferências entre contas
                                span(class="x-services-list__item--purple")  SuperDigital
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-6.pug
                            p Recargas de celular
                        li(class="x-services-list__item")
                            include ./../../../../common/custom-elements/svg-icons/services-icon-7.pug
                            p Câmbio em até
                                span(class="x-services-list__item--purple")  10 moedas
                div(class="x-right-services")
                    div(class="x-content")
                        h4(class="x-content__title x-content__title--gray x-content__bolder") Serviços extras
                            span(class="x-content__title x-content__title--purple x-content__bolder")  R$5,90
                    div(class="x-services-list")
                        ul
                            li(class="x-services-list__item")
                                include ./../../../../common/custom-elements/svg-icons/services-icon-8.pug
                                p Saque no
                                    span(class="x-services-list__item--purple")  Banco24Horas
                            li(class="x-services-list__item")
                                include ./../../../../common/custom-elements/svg-icons/services-icon-9.pug
                                p Transferência para bancos
                                    span(class="x-services-list__item--purple")  (TED)

section(class='x-payments-card')
    div(class='x-payments-card__center')
        div(class='x-payments-card__header')
            h2
                | Aceite os principais 
                strong cartões e venda mais!
        div(class='x-payments-card__contents')
            div(class='x-payments-card__item')
                div(class='x-payments-card__item--title')
                    h3
                        span(class='x-icon-fisica')
                        |  Pessoa Física
                div(class='x-payments-card__item--cards')
                    ul
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgmastercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvisa`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgamex`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghipercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghiper`}/
            div(class='x-payments-card__item')
                div(class='x-payments-card__item--title')
                    h3
                        span(class='x-icon-juridica')
                        |  Pessoa Jurídica
                div(class='x-payments-card__item--cards')
                    ul
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgmastercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvisa`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgamex`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghipercard`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svghiper`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgben`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgalelo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgsodexo`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgticket`}/
                        li
                            span(class='x-payments-card__item--cards-icon')
                                #{`vtex.cmc:svgvalerefeicao`}/
