.x-payments-card {
    width: 100%;
    height: auto;

    &__wrapper {
        width: 74.12%;
        height: auto;
        margin: 0 auto;
        padding: 80px 0;
        box-sizing: border-box;
    }
    &__header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        width: auto;
        height: auto;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        color: #662C62;
    }

    &__content {
        width: auto;
        height: auto;
    }

    &__options {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0;
    }

    &__option {
        width: auto;
        height: auto;

        &:not(:first-child) {
            margin: 0 0 0 28px;
        }

        &-flags {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                @include mq(1423px, min) {
                    width: 80px;
                    height: 50px;
                }
                @include mq(1424px, max) {
                    width: 60px;
                    height: 37.5px;
                }
                @include mq(1250px, max) {
                    width: 50px;
                    height: 31.25px;
                }

                svg {
                    width: 100%;
                    height: auto;
                }

                &:not(:first-child) {
                    margin: 0 0 0 28px;
                }
            }
        }

        &-border {
            display: block;
            width: 95.51%;
            height: 1px;
            margin: 20.5px auto 0;

            &.color-1 {
                background: #990000;
            }

            &.color-2 {
                background: #6C787A;
            }

            &.color-3 {
                background: #A7AEAF;
            }
        }

        &-label {
            display: block;
            width: auto;
            height: auto;
            font-family: "KievitOT", "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: rgba($color: #3C3C3C, $alpha: 0.6);
            text-transform: uppercase;
            text-align: center;
            box-sizing: border-box;
            padding: 0;
            margin: 20.5px 0 0;
        }
    }
}