
mixin orderItems
    label
        span Menor Preço
        input(class='js--order-by', name='orderby', type='radio', value='OrderByPriceASC')/

    label
        span Maior Preço
        input(class='js--order-by', name='orderby', type='radio', value='OrderByPriceDESC')/

    label
        span Mais vendidos
        input(class='js--order-by', name='orderby', type='radio', value='OrderByTopSaleDESC')/

    label
        span Lançamentos
        input(class='js--order-by', name='orderby', type='radio', value='OrderByReleaseDateDESC')/

mixin categoryOrder(pageType)
    div(class='x-category__order')
        div(class='x-category__order-text js--order-text') Ordenar Por:
        div(class='x-category__order-current is--desktop js--order-current') Lançamentos

        if pageType == 'category'
            nav(class='x-category__order-drop js--order-drop')
                +orderItems

        if pageType == 'wishlist'
            nav(class='x-category__order-drop js--order-drop', data-wishlist-order-by='data-wishlist-order-by')
                +orderItems


