
mixin generalBreadcrumb(pageType)
    div(class='x-breadcrumb')
        ul(class='x-breadcrumb__items')
            li(class='x-breadcrumb__item')
                a(class='x-breadcrumb__link', href='/', title='Home') Super Get

            //- Account type
            if pageType == 'account'
                li(class='x-breadcrumb__item')
                    p(class='x-breadcrumb__link', title='Minha conta') Minha conta

            //- Orders type
            if pageType == 'orders'
                li(class='x-breadcrumb__item')
                    a(class='x-breadcrumb__link', href='/account', title='Minha conta') Minha conta
                li(class='x-breadcrumb__item')
                    p(class='x-breadcrumb__link', title='Meus pedidos') Meus pedidos

            //- Wishlist type
            if pageType == 'wishlist'
                li(class='x-breadcrumb__item')
                    a(class='x-breadcrumb__link', href='/account', title='Minha conta') Minha conta
                li(class='x-breadcrumb__item')
                    p(class='x-breadcrumb__link', title='Wishlist') Wishlist

            //- Institutional type
            if pageType == 'institutional'
                li(class='x-breadcrumb__item')
                    p(class='x-breadcrumb__link', title='Institucional') Institucional

            //- Store Locator type
            if pageType == 'store-locator'
                li(class='x-breadcrumb__item')
                    p(class='x-breadcrumb__link', title='Lojas') Lojas
