
//- True if device is Desktop, else, mobile device
mixin mainMenu($device)
    if $device
        nav(class='x-header__navigation')
            ul(class='x-header__navigation--menu')
                li(class='x-header__navigation--item')
                    a(href='/maquinas') Máquinas
                li
                    a(href='/taxas-e-tarifas') Taxas e Tarifas
                li
                    a(href='/superdigital') Superdigital
                li
                    a(href='/app-getnet') app Getnet
                li
                    a(href='/credenciamento') Credenciamento
                li
                    a(href='/ajuda') Ajuda
                li
                    a(href='/quero-alugar') Quero Alugar

    if !$device
        nav(class='x-header__navigation')
            ul(class='x-header__navigation--menu')
                li(class='x-header__navigation--item')
                    a(href='/maquinas') Máquinas
                li
                    a(href='/taxas-e-tarifas') Taxas e Tarifas
                li
                    a(href='/superdigital') Superdigital
                li
                    a(href='/app-getnet') app Getnet
                li
                    a(href='/credenciamento') Credenciamento
                li
                    a(href='/ajuda') Ajuda
                li
                    a(href='/quero-alugar') Quero Alugar