//- True if Desktop
mixin headerSearch($device)
    form(class='x-search__form js--search-form')               
        input(type='text', id='searchInput', class='x-search__input js--search-input', autocomplete='off', placeholder='FAÇA AQUI SUA BUSCA')/
