.x-footer {
    background: #501e50;
    color: #FFF;
    padding: 38px 25px;
    text-align: center;
    line-height: 20px;
    &__contents {
        display: flex;
        flex-direction: column;
        margin-bottom: 46px;
    }
    &__copyright {
        border-top: 1px solid #FFF;
        padding: 15px 0;
        text-align: center;
        font-size: 12px;
        &--top {
            background: #fff;
            color: #501e50;
            text-align: center;
            font-size: 15px;
            padding: 30px;
            height: 116px;
            font-weight: 600;
        }
    }
    &__item {
        h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            font-weight: bold;
        }
        &--icone {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 35px;
        }
        span {
            margin-right: 10px;
        }
        &.two-colum {
            display: flex;
            flex-direction: row;
        }
        ul {
            li {
                font-weight: inherit;
                font-size: 14px;
                a {
                    font-size: 14px;
                    color: #FFF
                }
            }
        }
        &--block {
            margin-top: 25px;
            min-width: 50%;
        }
        &:nth-child(3) {
            ul {
                li {
                    strong {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
        }
        &--social {
            ul {
                display: flex;
                flex-direction: row;
                margin: 4px 0 30px;
            }
        }
        &--social,
        &--apps,
        &--powered {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            p {
                font-size: 13px;
                margin: 12px 18px 17px 13px;
            }
            ul {
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                li {
                    margin: 0 6px;
                }
            }
        }
        &--apps {
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        &--image {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

html body>img {
    display: none;
}