.x-privacy-policy {
    &__popup {
        border: 1px solid #ccc;
        background: #f0f0f0;
        width: 100%;
        padding: 15px;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        z-index: 9999999;

        p{
            color: #707070;
            a{
                text-decoration: underline;
            }
        }

        @include mq('sm', max) {
            justify-content: flex-start;
            p{
                margin-bottom: 20px;
                padding-right: 30px;
            }
        }
    }
    &__cta {
        width: 150px;
        background: #444444;
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:hover,
        &:focus {
            background: red;
        }

        &:focus {
            outline: 1px solid red;
            outline-offset: -4px;
        }

        &:active {
            transform: scale(0.99);
        }
    }
}

