.form-step .box-edit {
    padding: 24px;
}

.client-profile-data {
    .step.accordion-group.filled {
        .accordion-heading {
            top: -50px;
        }

        .icon-home {
            display: none;
        }
    }

    .step.accordion-group.active {
        .accordion-heading {
            top: -59px;
        }
    }
}

.box-client-info-pj, .corporate-info-box {
    width: 100%;

    ul {
        width: 100%;
    }

     .pf-pj {
        text-align: center;
     }

    .link.pf-pj {
        a {
            @include header3-secondary(uppercase, 700);
            font-size: 12px;
            color: $color-purple;
        }
    }
}

.checkbox {
    padding-left: 0;
}

.newsletter-text, .message-text {
    @include header3-secondary;
    margin-left: 10px;
}

.client-notice {
    color: #696969
}

.privacy-label{
    text-transform: initial !important;
    a{
        color: #a7a7a7;
        text-decoration: underline;
    }
}
