$color_1: gray;

.x-shelf.x-shelf__center {
	.x-shelf__header {
		margin-top: 30px;
		margin-bottom: 10px;
	}
}
.x-shelf {
	.x-shelf__full {
		.shelf {
			width: 100%;
		}
	}
	.x-product__price--old {
		text-align: center;
	}
	.x-shelf__contents {
		.x-product__image--container {
			img {
				margin: 0px auto;
				width: 250px;
			}
		}
		.x-product__price--best {
			color: $color_1;
			font-style: normal;
			font-weight: 200;
			text-align: center;
		}
	}
	.menu-product4-wrapper {
		height: 72px;
	}
	.x-product__image--know-more {
		margin: 10px 0px;
		width: 100%;
	}
	.x-product__price--installments-number {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		padding-top: 3px;
	}
	.x-product__price--installments {
		display: flex;
		justify-content: center;
	}
	ul {
		img {
			&:nth-of-child(1) {
				border-right: 1px solid lightgrey;
			}
		}
	}
	.x-shelf__header {
		margin: 0px;
	}
}
.x-shelf__contents {
	.x-product__buy-button {
		display: flex;
		justify-content: center;
	}
}
