div(class="ph3-ns w-80-ns db center")
  div(class="x-credencia")
    div(class="x-credencia-desktop")
      div(class="x-credencia-banner" style="margin-bottom: 20px;")
        a(class="btn-red-credencie", href="https://credenciamentodigital.getnet.com.br/#/cadastro?affiliate=true&amp;origin=lojasuperget&amp;_ga=2.118345993.125099039.1572464089-2017451103.1565701038", target="_blank")
          img(src="/arquivos/banner-checkout-confirmation-1.png", alt="Credenciamento", title="Credenciamento")
      div(class="x-credencia-banner")
        a(class="btn-red-credencie", href="https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR", target="_blank")
          img(src="/arquivos/banner-checkout-confirmation-2.png", alt="Credenciamento", title="Credenciamento")
    div(class="x-credencia-mobile")
      a(href="https://credenciamentodigital.getnet.com.br/#/cadastro?affiliate=true&amp;origin=lojasuperget&amp;_ga=2.118345993.125099039.1572464089-2017451103.1565701038", target="_blank", class="x-credencia-mobile-redirect", style="display: none")
        div(class="x-credencia-mobile__wrapper")
          img(src="/arquivos/banner_credenciamento_mobile.gif", alt="Credenciamento", class="x-credencia-mobile__background")/
          div(class="x-credencia-mobile__content")
            input(type="range", class="x-credencia-mobile__range", min="1", max="100", value="0")/
            p(class="x-credencia-mobile__text") CADASTRE AGORA