header(class="x-checkout-header")
    div(class="x-checkout-header__wrapper x-checkout-header__wrapper--top")
        div(class="x-checkout-header__logo")
            span(class="x-checkout-header__logo--gray") 
            span(class="x-checkout-header__logo--red") Brasil
        div(class="x-checkout-header__icon x-checkout-header__icon--lock")
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 17"> <g transform="translate(-16 -271)"> <path fill="#2986a1" d="M16,10h0V7h0A4,4,0,1,0,8,7H7.976v3H8a3,3,0,0,0-3,3v4a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V13A3,3,0,0,0,16,10ZM8.976,7.118A.48.48,0,0,0,9,7a3,3,0,0,1,6,0h0v3H8.976ZM13.5,15A1.5,1.5,0,1,1,12,13.5,1.5,1.5,0,0,1,13.5,15Z" transform="translate(11 268)"/> </g></svg>
    div(class="x-checkout-header__wrapper x-checkout-header__wrapper--bottom")
        h2(class="x-checkout-header__title") Minha garagem
        span(class="x-checkout-header__sub-title") finalizar compra