header
    div(class='x-container')
        a(href='/')
            img(src='/arquivos/logo-superget.png' alt='SuperGet')/
        div(class='secure')
            p Site Seguro
            img(src='/arquivos/secure.png' alt='Secure')/
    .x-checkout-bar
      .x-barbox.first
        span.x-checkout-bar-text-porcentagem 2%
        div
          span.x-checkout-bar-text-bold de taxa única
          span.x-checkout-bar-text-small (crédito à vista e débido)
      .x-barbox.second
        span.x-checkout-bar-image
          svg(viewbox="0 0 78.71 29.078" xmlns="http://www.w3.org/2000/svg")
            g(data-name="Agrupar 104")
              g(fill="red" fill-rule="evenodd" data-name="Agrupar 103")
                path(d="M1.948,23.263S1.939,1.939,1.939,1.939H23.262V23.263H12.6V25.2H28.109V23.263H25.2V1.939A1.945,1.945,0,0,0,23.262,0H1.939A1.945,1.945,0,0,0,0,1.939V23.262A1.95,1.95,0,0,0,1.948,25.2h2.9V23.263Z" data-name="Caminho 201")
                path(transform="translate(11.732 1.877)" d="M21.228,3.939a.951.951,0,0,1,.63.356l4.824,8.04a3.116,3.116,0,0,1,.358,1.293V21.39c0,.006-2.908,0-2.908,0v1.939h2.9a1.926,1.926,0,0,0,1.948-1.934V13.627a5,5,0,0,0-.634-2.29L23.52,3.3A2.845,2.845,0,0,0,21.228,2H12.5V3.939Z" data-name="Caminho 202")
                path(transform="translate(14.078 3.754)" d="M16.93,4A1.919,1.919,0,0,0,15,5.92v5.853a1.917,1.917,0,0,0,1.934,1.92h8.728V11.754H16.934c-.008,0,0-5.834,0-5.834s4.846.018,4.846.018V4Z" data-name="Caminho 203")
                path(transform="translate(1.877 9.386)" d="M6.846,19.693A4.846,4.846,0,1,0,2,14.846,4.846,4.846,0,0,0,6.846,19.693Zm0-1.939a2.908,2.908,0,1,0-2.908-2.908A2.908,2.908,0,0,0,6.846,17.754Z" data-name="Caminho 204")
                path(transform="translate(13.14 9.386)" d="M18.846,19.693A4.846,4.846,0,1,0,14,14.846,4.846,4.846,0,0,0,18.846,19.693Zm0-1.939a2.908,2.908,0,1,0-2.908-2.908A2.908,2.908,0,0,0,18.846,17.754Z" data-name="Caminho 205")
        span.x-checkout-bar-text Frete grátis para todo Brasil
      .x-barbox.third
        span.x-checkout-bar-image
          svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 443.615 443.615")
            path(d="M209.949 100.813C209.949 45.232 164.725 0 109.144 0 53.562 0 8.346 45.232 8.346 100.813c0 55.566 45.216 100.782 100.798 100.782 55.581.001 100.805-45.215 100.805-100.782zm-151.53 0c0-27.986 22.754-50.74 50.725-50.74 27.969 0 50.732 22.754 50.732 50.74 0 27.954-22.763 50.709-50.732 50.709-27.971 0-50.725-22.754-50.725-50.709zM334.473 242.02c-55.583 0-100.799 45.216-100.799 100.782 0 55.582 45.216 100.814 100.799 100.814 55.581 0 100.797-45.231 100.797-100.814 0-55.567-45.216-100.782-100.797-100.782zm0 151.522c-27.971 0-50.726-22.755-50.726-50.74 0-27.954 22.755-50.709 50.726-50.709 27.969 0 50.724 22.755 50.724 50.709-.001 27.985-22.756 50.74-50.724 50.74zM337.577 12.925c-13.081-7.254-29.616-2.574-36.91 10.515L94.896 392.923c-7.294 13.089-2.59 29.616 10.505 36.919a27.164 27.164 0 0013.179 3.423c9.527 0 18.77-5.02 23.733-13.936l205.77-369.484c7.293-13.09 2.592-29.617-10.506-36.92z")
        span.x-checkout-bar-text Sem taxa de adesão
      .x-barbox.fourty
        span.x-checkout-bar-image
          svg(enable-background="new 0 0 190.7 313" version="1.0" viewbox="0 0 190.7 313" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
            style(type="text/css").
              .st0{fill:#FFFFFF;}
            path.st0(d="m159 307.6h-157l0.6-266.4c-0.3-3.1-1.2-21.2 8-31.3 3.9-4.3 9.3-6.6 15.4-6.6h101l55.4 55.4v225c-0.1 9.6-6.3 23.9-23.4 23.9zm-145-12h145c10.3 0 11.2-9.2 11.3-12v-220l-48.3-48.3h-96c-2.8 0-4.8 0.8-6.5 2.7-5.1 5.6-5.3 18.1-4.9 22.5v0.5l-0.6 254.6z")
            path.st0(d="m148.1 103.2h-112c-6.4 0-11.7 5.2-11.7 11.7v152.8c0 6.4 5.2 11.7 11.7 11.7h112c6.4 0 11.7-5.2 11.7-11.7v-152.9c0-6.4-5.3-11.6-11.7-11.6zm-0.3 50.8h-26.9v-38.9h26.9v38.9zm-38.9 74v39.4h-35.5v-39.4h35.5zm-72.5-12v-50h111.4v50h-111.4zm37-62v-38.9h35.5v38.9h-35.5zm-12-38.8v38.8h-25v-38.9h25zm-25 112.8h25v39.4h-25v-39.4zm84.5 39.3v-39.3h26.9v39.4h-26.9z")
        span.x-checkout-bar-text Chip Multi Operadora e plano de dados grátis*
