footer
    div(class='x-container')
        div(class='payment')
            img(src='/arquivos/checkout-logo-footer.png' alt='SuperGet')/
            p Formas de pagamento
            div(class='brands')
                img(src='/arquivos/checkout-mc_symbol.png')/
                img(src='/arquivos/checkout-visa.png')/
                img(src='/arquivos/checkout-elo.png')/
                img(src='/arquivos/checkout-boleto.png')/
        div(class='line')
        div(class='water-mark')
            img(class='wm-logo' src='/arquivos/checkout-watermark.png')/