
footer(class="x-checkout-footer")
    div(class="x-checkout-footer__wrapper x-checkout-footer__wrapper--top")
        span(class="x-checkout-footer__advice-text") Seu pedido seguro
        div(class="x-checkout-footer__advice-logo")

    div(class="x-checkout-footer__wrapper x-checkout-footer__wrapper--bottom")
        span(class="x-checkout-footer__copyright")
