section(class='x-doubts')
  div(class='x-doubts__center')
    div(class='x-doubts__header')
      h2 Dúvidas
      p A gente te atende como você preferir.
    div(class='x-doubts__contents')
      ul(class='x-doubts__contents__list')
        li(class='x-doubts__contents__item')
          span(class='x-doubts__contents__item--icon')
            #{`vtex.cmc:svgiconphone`}/
          p Telefone
        li(class='x-doubts__contents__item')
          span(class='x-doubts__contents__item--icon')
            #{`vtex.cmc:svgiconemail`}/
          p E-Mail
        //- li(class='x-doubts__contents__item')
        //-   span(class='x-doubts__contents__item--icon')
        //-     #{`vtex.cmc:svgiconchat`}/
        //-   p Chat
        li(class='x-doubts__contents__item')
          span(class='x-doubts__contents__item--icon')
            #{`vtex.cmc:svgiconfaq`}/
          p FAQ

div(class='x-footer-newsletter')
  div(class='x-footer-newsletter__container')
      div(class='x-footer-newsletter__title-container js--footer-newsletter-title is--active')
        p(class='x-footer-newsletter__title') Assine nossa newsletter e 
          strong FIQUE POR DENTRO DAS NOVIDADES

      div(class='x-footer-newsletter__content')
          form(class='x-footer-newsletter__form js--footer-newsletter-form is--active')
              div(class='x-footer-newsletter__form-group x-form__group')
                  input(id='footerNewsletterFirstName',
                      type='text',
                      class='x-footer-newsletter__form-input x-form__input',
                      name='firstName',
                      placeholder='Nome')

              div(class='x-footer-newsletter__form-group x-form__group')
                  input(id='footerNewsletterEmail',
                      type='text',
                      name='email',
                      class='x-footer-newsletter__form-input x-form__input',
                      placeholder='E-mail')

              div(class='x-footer-newsletter__form-group x-form__group is--hide')
                  input(id='footerNewsletterIsNewsletterOptIn',
                      class='x-form__checkbox',
                      checked="checked",
                      type='checkbox',
                      name='isNewsletterOptIn')

              div(class='x-footer-newsletter__form-group x-form__group')
                  input(id='footerNewsletterSubmit',
                      class='x-footer-newsletter__form-submit x-form__submit',
                      type='submit',
                      value='Cadastrar')

          div(class='x-footer-newsletter__loading x-ajax-loader__loading js--footer-newsletter-loading')
              span(class='x-ajax-loader__loading-dot')
              span(class='x-ajax-loader__loading-dot')
              span(class='x-ajax-loader__loading-dot')

          div(class='x-footer-newsletter__success js--footer-newsletter-success')
              <vtex.cmc:newsletterSuccess/>

          div(class='x-footer-newsletter__error js--footer-newsletter-error')
              <vtex.cmc:newsletterError/>
              a(href='#', class='x-footer-newsletter__error-btn js--footer-newsletter-error-btn') Voltar

footer(class='x-footer')
  div(class='x-footer__center')
    div(class='x-footer__contents')
      div(class='x-footer__item')
        div(class='x-footer__item--image')
          #{`vtex.cmc:svgSuperGETLogoBranco`}/
        div(class='x-footer__item--social')
          ul
            li
              a(href='https://www.facebook.com/GetnetBrasil/' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialFb`}/
            li
              a(href='https://www.youtube.com/user/getnetbrasil' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialYt`}/
            li
              a(href='https://www.linkedin.com/company/getnet-br/' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialLk`}/
            li
              a(href='https://twitter.com/getnetbrasil' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialTw`}/
            li
              a(href='https://www.instagram.com/getnetbrasil/' target='_blank')
                span
                  #{`vtex.cmc:svgIconSocialIt`}/
        div(class='x-footer__item--apps')
          ul
            li
              a(href='https://play.google.com/store/apps/details?id=br.com.getnet.autoatendimento&hl=pt_BR' target='_blank')
                span
                  #{`vtex.cmc:svgAndroidApp`}/
            li
              a(href='https://itunes.apple.com/br/app/getnet/id1024724502?mt=8' target='_blank')
                span
                  #{`vtex.cmc:svgAplleApp`}/

      div(class='x-footer__item')
        div(class='x-footer__item--block')
          h3
            | Informações Gerais
          ul
            li
              strong
                | Atendimento 24 horas
            li
              | Capitais e regiões metropolitanas
            li
              | 4002-4000
            li
              | Demais localidades
            li
              | 0800-648-8000
          h3(class='h3-font-menor')
            | Já comprou sua Superget, precisa de ajuda com credenciamento?
          ul
            li
              |  4020-2606
            |
            br             
   
      div(class='x-footer__item')
        div(class='x-footer__item--block')
          h3
            | Ouvidoria
          ul
            li
              | 0800-646-3404
            li
              | Atendimento de segunda à sexta
            li
              | das 08:30 às 17:30 (exceto feriados)
        div(class='x-footer__item--block')
          ul
            li
              | Atendimento a pessoas com deficiência auditiva e de fala
              br
              | 0800-771-0301
        div(class='x-footer__item--block')
          ul
            li
              | Av. Pernambuco, 1483, São Geraldo
              br
              | Porto Alegre/RS. CEP: 90240-004
                

      div(class='x-footer__item two-colum')
        div(class='x-footer__item--block')
          h3
            | Atendimento
          ul
            li
              a(href='/Institucional/faq')
                | Dúvidas Frequentes
            li(class='is--hide')
              a(href='/Institucional/fale-conosco')
                | Fale Conosco
            li(class='is--hide')
              a(href='/Institucional/ouvidoria')
                | Ouvidoria

        div(class='x-footer__item--block')
          h3
            | Sobre Nós
          ul
            li
              a(href='/Institucional/sobre-nos')
                | Institucional
            li
              a(href='/Institucional/politica-de-privacidade')
                | Políticas de privacidade
            li
              a(href='/Institucional/troca-e-devolucao')
                | Políticas de troca e devolucão
      

    div(class='x-footer__copyright')
      p
        | Copyright - 2019 | | CNPJ: 10.440.482/0001-54 | Todos os direitos reservados.
      
      div(class='x-footer__item--powered')
        p
          | Powered By:
        ul
          li
              span
                #{`vtex.cmc:svgLogoEnext`}/
          li
              span
                #{`vtex.cmc:svgLogoVtex`}/

#{`vtex.cmc:commonMinicart`}/