include ./../../../common/_mixins/_mixin__main-menu.pug

header(class='x-header')
    div(class='x-header__center')
        div(class='x-header__menu--mobile')
            #{`vtex.cmc:svgMenuMobile`}/
            nav(class='x-header__navigation')
                ul(class='x-header__navigation--menu')
                    li(class='x-header__navigation--item')
                        a(href='#') Maquininhas
                        div(class="x-header__menu")
                            div(class="x-header__menu--content")
                                div(class="x-header__menu--content-maquinas x-shelf__contents")
                                    ul(class="x-header__menu--content-products")
                                        #{`vtex.cmc:menushelf`}/
                    //- li
                    //-     a(href='/superdigital') Superdigital
                    li
                        a(href='/app') App Getnet

                    li
                        a(href='/cartao-pre-pago-superget') Cartão SuperGet
                        
                    li
                        a(href='/Institucional/politica-de-privacidade') Ajuda
                    
                    li
                        a(href='/cadastro', id='credenciamento', target='_blank', rel='nofollow') Cadastro

                    li
                        a(href='https://site.getnet.com.br/maquininha/aluguel/', id='quero-alugar', target='_blank', rel='nofollow') Quero Alugar

        div(class='x-header__contents')
            div(class='x-header__logo')
                a(href='/' title='SuperGET')
                    #{`vtex.cmc:svgSuperGETLogo`}/
        div(class='x-header__info')
            ul(class='x-header__info--list')
                li(class='x-header__info--item')
                    button(class='js--login')
                        span
                            #{`vtex.cmc:svgHeaderUser`}/
                li(class='x-header__info--item')
                    button(class='js--minicart-open')
                        span
                            #{`vtex.cmc:svgHeaderCart`}/


div(class="x-bottombar")
    a(class='x-bottombar__button', href='/#x-shelf') Pedir Maquininha

//- Vtex Helpers
div(style='display: none;')
  #{`<vtex.cmc:welcomeMessage/>`}/



#{`vtex.cmc:atendimento`}/