
// Footer Newsletter
.icon-we-love {
    display: block;
    @include rem(height, 40px);
    @include rem(width, 178px);
    fill: $color-brown;
    @include rem(margin, 0 auto 10px);
}

.icon-card-bank,
.icon-card-amex,
.icon-card-mastercard,
.icon-card-visa,
.icon-card-paypal,
.icon-card-hipercard,
.icon-card-diners,
.icon-card-elo,
.icon-enext-logo,
.icon-facebook,
.icon-vtex-logo,
.icon-internet-security-logo,
.icon-card-visa {
    fill: lighten($color-gray-darken, 5%);
}

// Credit Cards
.icon-card-amex {
    @include rem(height, 26px);
    @include rem(width, 26px);
}

.icon-card-bank,
.icon-card-diners,
.icon-card-mastercard,
.icon-card-visa,
.icon-card-paypal,
.icon-card-hipercard,
.icon-card-elo,
.icon-card-diners {
    @include rem(height, 32px);
    @include rem(width, 32px);
}

.icon-card-visa {
    @include rem(height, 36px);
}

// Socials
.icon-facebook {
    @include rem(height, 24px);
    @include rem(width, 24px);
}

// Partner
.icon-enext-logo {
    @include rem(height, 18px);
    @include rem(width, 54px);
}

.icon-vtex-logo {
    @include rem(height, 16px);
    @include rem(width, 68px);
}

// Security
.icon-internet-security-logo {
    @include rem(height, 24px);
    @include rem(width, 64px);
}
