.steps-view {
    float: right;
    background: none;
    padding: 0;
    margin: 0;
}

#payment-data {
    margin-top: 72px;
    margin-left: 0;

    @media (min-width: 768px) {
        margin-top: 48px;
    }

    @media (max-width: 1200px) {
        width: 95%;
        margin-top: 72px;
    }

    .step.accordion-group {
        margin: 0;
        padding: 0;

        .accordion-heading {
            top: -60px;
        }

        .accordion-inner {
            padding: 24px;
            .box-step{
                .box-step-content{
                    iframe{
                        height: 510px !important;
                    }
                    .span12{
                        height: 510px;
                    }
                }
            }
        }
    }
    
}

.payment-data .step.accordion-group {
    max-width: none;
}

#app-container {
    background: white;

    .SecurityEnvironmentIcon {
        display: none;
    }

    .ChangeNumberOfPayments {
        background: white;
        margin: 0;
        padding-bottom: 48px;

        a {
            display: none;
        }
    }
}

.radio.card-flag-label .FormFieldLabel {
    @include inputLabel;
}

.radio.card-flag-label {
    width: 56px;
}

.input.text {
    .FormFieldLabel {
        width: 100%;
    }
}

.PaymentCardDueDate {
    .FormFieldLabel {
        display: block;
        width: 100%;
    }
}

.CardForm {
    display: flex;
    flex-direction: column;

    label {
        @include inputLabel;
        // margin-right: 72px;
        width: 100%;
        a {
            display: flex;
            justify-content: center;
        }
    }
}

#creditCardpayment-card-0Number,
#creditCardpayment-card-0Name,
#creditCardpayment-card-1Name,
#creditCardpayment-card-0Code,
#creditCardpayment-card-1Code,
#creditCardpayment-card-1Number,
#payment-billing-address-postalCode-0 {
    @include input;
}

#creditCardpayment-card-0Code,
#creditCardpayment-card-1Code {
    width: 48px;
    margin-right: 16px;
    margin-top: 8px;
    display: block;
}

.AddressToggle {
    margin-top: 0;
    margin-bottom: 12px;
}

.pull-right.payment-data.span12 {
    margin-left: 0;
    max-width: 768px;
    float: left;

    @media (max-width: 1200px) {
        width: 95%;
    }
}

.payment-group-item-text {
    padding-right: 0;
    padding-left: 25px;
    background: left center / auto 15px no-repeat;

    #payment-group-creditCardPaymentGroup & {
        font-size: 13px;
        padding-right: 0px;
        background-image: url($credit-card-icon);
    }

    #payment-group-bankInvoicePaymentGroup & {
        background-image: url($boleto-icon);
    }
}

.payment-group {
    margin-top: 0;
    .payment-group-item{
        border: 1px solid #7b1d7b !important;
        border-radius: 0;
        padding: 0px 10px;
    }
}

.payment-group-item {
    border: none;
    margin: 0;
    padding: 0;
}

.payment-group-item {
    display: static;
    color: $color-purple !important;
    font-weight: 900;
    opacity: 1 !important;
    text-decoration: none !important;
    border-radius: 0 !important;
}

.icon-credit-card {
    display: none;
}

.payment-group-item.active {
    margin: 0;
    color: $color-white !important;
    font-weight: 900;
    text-decoration: none;
    background: $color-purple;
    cursor: auto;
}

@media (max-width: 767px) {
    .payment-data .payment-group {
        border: 0;
    }
}

@media (max-width: 767px) {
    .payment-data .payment-group {
        margin: 0;

        // a {
        //     border: 0;
        // }
    }
}

@media (min-width: 979px) {
    .body-order-form .row-fluid .mini-cart {
        margin-left: 24px;
    }
}

@media (min-width: 979px) and (max-width: 1200px) {
    .shipping-data .step.accordion-group {
        margin-left: 12px;
    }
}

#creditCardpayment-card-0Brand,
#creditCardpayment-card-1Brand,
#creditCardpayment-card-0Month,
#creditCardpayment-card-0Year,
#creditCardpayment-card-1Number,
#creditCardpayment-card-1Month,
#creditCardpayment-card-1Year,
#creditCardpayment-card-0Value,
#creditCardpayment-card-1Number {
    border: 1px solid $input-border-color;
    color: $color-black;
    margin-bottom: 12px;
    width: 100%;
    height: 36px;
    max-width: none;
}

#creditCardpayment-card-0Value,
#creditCardpayment-card-1Value {
    width: 114px;
}

#creditCardpayment-card-0Value,
.input-prepend .add-on {
    height: 36px;
    display: inline-flex;
    align-items: center;
}

#creditCardpayment-card-0Month,
#creditCardpayment-card-1Month,
#creditCardpayment-card-0Year,
#creditCardpayment-card-1Year {
    margin: 0;
}

.card-flags.active {
    margin-bottom: 12px;
}

#creditCardpayment-card-1Number {
    margin-bottom: 0;
}

.AddressToggle {
    margin-left: 0;
}

.PaymentCardCVV span.error {
    margin-left: 0;
}

.PaymentCardValue input {
    height: 36px;
    width: 100%;
}

.payment-card-due-month + select {
    height: 36px;
}

select.input-mini + span.error {
    width: auto;
}

.CardForm {
    background-color: white;
}

.coupon-column {
    display: none;
}