#orderform-title {
    color: $color-red-light;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
    margin-bottom: 8px;

    @media (max-width: 768px) {
        margin-bottom: 32px;
        padding-left: 0;
    }
}

#orderform-to-cart {
    display: none;
}

.form-page.client-pre-email::before {
    content: '';
    width: 133px;
    position: absolute;
    height: 14px;
    background-color: $background-color;
    top: -15px;
    left: 0;

    @media (max-width: 490px) {
        top: -48px;
    }
}

.vtexIdUI-user {
    margin-top: -25px;
    margin-bottom: 30px !important;
}

.btn-success {
    @include btnSuccess;
    max-width: 100%;
}