
div(class='x-pre-header js--pre-header is--active')
    div(class='x-pre-header__container')
        <vtex.cmc:preHeader/>
    button(class='x-pre-header__close js--pre-header__close' title="Fechar")
        <vtex.cmc:svgIconClose/>