.x-account {
    &__orders {

        a[href*="cancel"] {
            display: none !important;
        }
    }
}


.myo-order-header {
    background: transparent;
    font-family: Lato, sans-serif;
}

#my-orders-container {
    font-family: Lato, sans-serif;
    .myo-invoice-btn,.myo-details-btn,.myo-reorder-btn {
        button {
            border-radius: 0;
            border: none;
            box-shadow: none !important;
        }
        span, span > span {
            @include rem(font-size, 15px !important);
        }
    }
    .myo-details-btn {
        text-align: center;
        button {
            float: none;
            display: inline-block;
            &:before {
                content: "";
                display: inline-block;
                height: 16px;
                width: 30px;
                background: url("/arquivos/ver-detalhes.png") no-repeat center;
            }
        }
        span {
            float: none;
            display: inline-block;
        }
        svg,img {
            display: none;
        }
    }
    .helvetica {

        section {
            .myo-order {
                &-card {
                    border-radius: 0;
                    border-color: #e4e4e4;
                    @include rem(margin-top, 40px);
                    >div {
                        &:last-child {
                            > div {
                                &:first-child {
                                    @include rem(padding-bottom, 10px);
                                    border-bottom: 1px solid #afafaf;
                                }
                            }
                        }
                    }
                }
                &-header {
                    background-color: transparent;
                    @include rem(padding-bottom, 25px);
                    position: relative;
                    >div {
                        width: 49%;
                        >div:nth-child(1) {
                            @include font-weight(bold);
                            color: #000;
                            display: inline-block;
                            padding: 0;
                            @include rem(margin-bottom, 5px);
                            span {
                                @include rem(font-size, 15px);
                            }
                        }
                        >div:nth-child(2),
                        a {
                            color: #333;
                            font-weight: bold;
                            span {
                                @include rem(font-size, 15px);
                            }
                        }
                    }
                    >div:nth-child(2) {
                        div {
                            text-align: right;
                        }
                    }
                    >div:nth-child(3) {
                        >div:nth-child(1) {
                            @include rem(font-size, 15px);
                        }
                        >a {
                            @include rem(font-size, 14px);
                            span {
                                >div {
                                    display: inline-block;
                                }
                                &:after {
                                    display: inline-block;
                                    content: ">";
                                    color: #868686;
                                    margin-left: 10px;
                                    transform: rotate(90deg);
                                }
                            }
                            svg {
                                display: none;
                            }
                        }
                        >div:nth-child(3) {
                            border-color: #e4e4e4;
                            box-shadow: none !important;
                            border-radius: 0;
                            left: auto;
                            right: 0;
                            text-align: right;
                            border: 1px solid #ddd;
                        }
                    }
                    >div:nth-child(4) {
                        text-align: center;
                        div {
                            @include rem(font-size, 15px);
                        }
                        >div:nth-child(1) {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            text-align: center;
                        }
                        >div:nth-child(2) {
                            display: none;
                        }
                        >div:nth-child(3) {
                            div {
                                background: $color-brown-dark;
                                color: #fff;
                                span {
                                    @include rem(font-size, 15px);
                                }
                            }
                        }
                    }
                }
            }
            .myo-order-product {
                >div:nth-child(1) {
                    width: 25%;
                }
                >div:nth-child(2) {
                    width: 75%;
                    * {
                        color: #000;
                        @include rem(font-size, 15px !important);
                    }
                    p {
                        text-transform: lowercase;
                    }
                }
            }
        }
    }
    >div:not(.helvetica) {
        position: relative;
        z-index: 999;
        background: #fff;
        margin-top: -80px;
        a[href$='cancel'] {
            display: none;
        }
        >div:nth-child(2) {
            background: #F9F9F9;
            padding: 10px 10px 20px;
        }
        >div:last-child {
            border: 1px solid #e9e5df;
            padding: 10px;
        }
        .w-100.pv4.fl {
            >h2 {
                text-transform: uppercase;

            }
            >p {
                span {
                    font-size: 14px;
                }
                >span:last-child {
                    background: $color-brown-dark !important;
                    border-radius: 15px;
                    font-weight: bold;
                    font-size: 13px;
                    border: none !important;
                    color: #fff !important;
                    text-transform: uppercase;
                }
            }
            table {
                display: block;
                position: relative;
                td,th {
                    display: block;
                }
                thead {
                    th {
                        font-weight: normal;
                        text-align: left;
                        &:first-child {
                            position: absolute;
                            top: 0;
                        }
                        &:nth-child(2) {
                            right: 0;
                            margin: auto;
                            position: absolute;
                            bottom: 25px;
                        }
                        &:nth-child(3) {
                            position: absolute;
                            bottom: 25px;
                        }
                        &:nth-child(4) {
                            position: absolute;
                            bottom: 25px;
                            right: 0;
                            left: 0;
                            margin: auto;
                        }
                    }
                }
                tbody {
                    td {
                        font-weight: bold;
                        text-align: left;
                        &:first-child {
                            padding-bottom: 75px !important;
                            padding-top: 33px !important;
                            img {
                                width: 25%;
                                display: inline-block;
                            }
                            >div {
                                width: 68%;
                                display: inline-block;
                            }
                        }
                        &:nth-child(2) {
                            position: absolute;
                            bottom: 0;
                            right: 0;

                        }
                        &:nth-child(3) {
                            position: absolute;
                            bottom: 0;
                        }
                        &:nth-child(4) {
                            position: absolute;
                            right: 0;
                            left: 0;
                            margin: auto;
                            bottom: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        article {
            >section {
                overflow: hidden;
                height: auto;
                min-height: 150px;
                h3 {
                    font-weight: bold;
                    letter-spacing: 2px;
                    margin-top: 0;
                    text-transform: uppercase;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
        .w-100.pv4.fl {
            >h2 {
                text-transform: uppercase;
                font-weight: bold;
            }
            >p {
                >span:last-child {
                    background-color: #fff;
                    border-radius: 0;
                    padding: 7px;
                    border: 1px solid #000;
                    color: #000;
                }
            }
            table {
                img {
                    width: 15%;
                }
            }
        }
        >a {
            font-weight: bold;
            color: #333;
            margin: 5px 0;
            text-transform: lowercase;
            >svg {
                display: none;
            }
            &:before {
                content: "<";
                color: #afafaf;
                margin-right: 15px;
                font-size: 16px;
            }
        }
        >div:nth-child(2) {
            h2 {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;
            }
            time {
                div {
                    float: right;
                    background: $color-brown-dark;
                    border-radius: 0;
                    padding: 7px;
                    color: #fff;
                }
            }
        }
        >div:nth-child(3) {
            li:first-child {
                text-align: center;
                a {
                    display: inline-block;
                    color: #000;
                    font-weight: bold;
                    padding: 10px 20px;
                    width: auto;
                    svg {
                        fill: #000;
                        position: relative;
                        padding-top: 3px;
                    }
                    span {
                        font-size: 16px;
                        margin-left: 5px !important;
                    }
                }
            }
            a {
                color: black;
            }
        }
        .myo-workflow {
            li {
                text-align: center;
                &.x-ultimo-ativo {
                    &:first-child {
                        &:before {
                            border: none;
                        }
                        &:after {
                            margin-top: -46px;
                        }
                    }
                    &:last-child {
                        &:before {
                            margin-top: 11px;
                        }
                        &:after {
                            border: none;
                        }
                    }
                    span:first-child {
                        background: transparent;
                    }
                    span {
                        font-weight: 900;
                    }
                    &:before {
                        content: "";
                        float: left;
                        border: 2px solid #000;
                        width: 50%;
                        margin-top: 11px;
                    }
                    &:after {
                        content: "";
                        width: 50%;
                        float: right;
                        border: 2px solid #999;
                        margin-top: -46px;
                    }
                    img {
                        position: absolute;
                        left: 0;
                    }
                }
                &.x-ultimo-ativo~li {
                    span:nth-child(1) {
                        background-color: #fff;
                        border: 4px solid black;
                    }
                }
                span {
                    float: none;
                    z-index: 96;
                    position: relative;
                }
                span:nth-child(1) {
                    margin: 0 auto;
                    background-color: #000;
                    margin-bottom: 10px;
                }
                span:nth-child(2) {
                    color: #000;
                }
                &:after {
                    content: "";
                    float: left;
                    border: 2px solid #000;
                    width: 100%;
                    margin-top: -45px;
                }
                &:first-child:after {
                    content: "";
                    width: 50%;
                    float: right;
                }
                &:last-child:after {
                    content: "";
                    width: 50%;
                    float: left;
                }
            }
        }
        >div:nth-child(5),
        >div:nth-child(6),
        >div:nth-child(7) {
            >section {
                overflow: hidden;
                height: auto;
                min-height: 300px;
                h3 {
                    margin-bottom: 20px;
                    span {
                        font-weight: 900;
                    }
                }
            }
        }
        >div:nth-child(5) {
            div {
                >p:first-child {
                    font-weight: bold;
                }
            }
        }
        >div:nth-child(5) {
            h2 {
                font-weight: bold;
                color: #000;
            }
            >table {
                thead {
                    tr {
                        th {
                            text-transform: uppercase;
                            font-weight: bold;
                            span {
                                color: #000;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            vertical-align: middle;
                            img {
                                width: 15%;
                                height: auto;
                            }
                            div {
                                width: 75%;
                            }
                            img,
                            div {
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }
    >div.cf.helvetica {

        >a {
            font-weight: bold;
            color: #868686;
            margin-top: 15px;
            >svg {
                display: none;
            }
            &:before {
                content: "<";
                color: #afafaf;
                margin-right: 15px;
                font-size: 16px;
            }
        }
        >aside {
            article {
                .myo-summary {
                    border-radius: 0;
                    &-header {
                        background-color: #fff;
                        border-radius: 0;
                        >div:last-child{
                            div {
                                background-color: #959595;
                                border-radius: 0;
                                padding: 7px;
                                color: #fff;
                            }
                        }
                    }
                    &-product {
                        h4 {
                            color: #333;
                        }
                    }
                }
                >div:nth-child(1) *{
                    color: #333;
                }
                >div:nth-child(2) {
                    >div:last-child *{
                        color: #333;
                        font-weight: bold;
                    }
                }
            }
        }
        >section{
            >p:first-child {
                font-weight: bold;
                font-size: 20px;
                text-transform: uppercase;
            }
            button {
                background-color: #fb4035;
                color: white;
                border-radius: 0;
                border: none;
                padding: 8px 16px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    >div.cf {}
}

