<section class="x-payments-card">
    <div class="x-payments-card__wrapper">
        <div class="x-payments-card__header">
            <h6 class="x-payments-card__title">
                Aceite os principais <strong>cartões e venda mais!</strong>
            </h6>
        </div>
        <div class="x-payments-card__content">
            <ul class="x-payments-card__options">
                <li class="x-payments-card__option">
                    <ul class="x-payments-card__option-flags">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1049" data-name="Grupo 1049" transform="translate(-306 -1907)">
                                    <g id="Retângulo_205" data-name="Retângulo 205" transform="translate(306 1907)"
                                        fill="none" stroke="#900" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Layer_2" data-name="Layer 2" transform="translate(-89.754 1871.193)">
                                        <g id="Layer_1-2" data-name="Layer 1-2" transform="translate(414.754 47.807)">
                                            <g id="_Group_" data-name=" Group " transform="translate(0 0)">
                                                <rect id="Retângulo_204" data-name="Retângulo 204" width="11.615"
                                                    height="20.874" transform="translate(15.67 2.84)" fill="#ff5f00" />
                                                <path id="_Path_" data-name=" Path "
                                                    d="M431.161,61.088a13.253,13.253,0,0,1,5.07-10.439,13.275,13.275,0,1,0,0,20.874A13.252,13.252,0,0,1,431.161,61.088Z"
                                                    transform="translate(-414.754 -47.809)" fill="#eb001b" />
                                                <path id="Caminho_49" data-name="Caminho 49"
                                                    d="M494.479,61.085A13.275,13.275,0,0,1,473,71.52a13.275,13.275,0,0,0,0-20.874,13.275,13.275,0,0,1,21.479,10.435Z"
                                                    transform="translate(-451.522 -47.807)" fill="#f79e1b" />
                                                <path id="Caminho_50" data-name="Caminho 50"
                                                    d="M527.355,105.233v-.428h.173v-.088h-.439v.088h.188v.428Zm.852,0v-.516h-.133l-.155.369-.155-.369h-.118v.516h.1v-.387l.144.336h.1l.144-.336v.391Z"
                                                    transform="translate(-485.667 -83.732)" fill="#f79e1b" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="80" height="50" viewBox="0 0 80 50">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Caminho_41" data-name="Caminho 41"
                                            d="M141.623,214.581l-4.21,10.643-1.7-9.049a1.885,1.885,0,0,0-1.866-1.594H126.96l-.1.453a16.914,16.914,0,0,1,3.991,1.331,1.712,1.712,0,0,1,.961,1.374l3.225,12.48h4.276l6.554-15.638Zm5.985,0-3.346,15.638h4.046l3.345-15.638Zm23.193,4.225,1.226,5.872h-3.355Zm-.593-4.225a1.841,1.841,0,0,0-1.722,1.147l-6.07,14.491h4.247l.844-2.336H172.7l.489,2.336h3.741l-3.266-15.638Zm-17.454,4.883c-.027,2.253,2.009,3.507,3.542,4.256,1.575.766,2.1,1.258,2.1,1.943-.012,1.049-1.257,1.512-2.421,1.53a8.463,8.463,0,0,1-4.155-.988l-.732,3.427a12.261,12.261,0,0,0,4.5.831c4.25,0,7.029-2.1,7.042-5.35.018-4.127-5.707-4.355-5.667-6.2.013-.561.547-1.157,1.716-1.31a7.64,7.64,0,0,1,3.988.7l.711-3.316a10.879,10.879,0,0,0-3.785-.693c-4,0-6.812,2.126-6.835,5.168"
                                            transform="translate(-126.865 -214.295)" fill="none" />
                                    </clipPath>
                                    <linearGradient id="linear-gradient" x1="-0.689" y1="5.25" x2="-0.681" y2="5.25"
                                        gradientUnits="objectBoundingBox">
                                        <stop offset="0" stop-color="#241f5d" />
                                        <stop offset="1" stop-color="#034ea1" />
                                    </linearGradient>
                                </defs>
                                <g id="Grupo_1050" data-name="Grupo 1050" transform="translate(-408 -1907)">
                                    <g id="Retângulo_206" data-name="Retângulo 206" transform="translate(408 1907)"
                                        fill="none" stroke="#900" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_696" data-name="Grupo 696" transform="translate(296.135 1709.705)">
                                        <g id="Grupo_677" data-name="Grupo 677" transform="translate(126.865 214.295)"
                                            clip-path="url(#clip-path)">
                                            <rect id="Retângulo_203" data-name="Retângulo 203" width="50.062"
                                                height="16.168" transform="translate(0 0)"
                                                fill="url(#linear-gradient)" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="80" height="50" viewBox="0 0 80 50">
                                <defs>
                                    <radialGradient id="radial-gradient" cx="0.163" cy="0.149" r="1.112"
                                        gradientTransform="matrix(0.681, 0.731, 0.67, -0.627, -2.095, 5.087)"
                                        gradientUnits="objectBoundingBox">
                                        <stop offset="0" stop-color="#7fd3f3" />
                                        <stop offset="1" stop-color="#017cc2" />
                                    </radialGradient>
                                </defs>
                                <g id="Grupo_1055" data-name="Grupo 1055" transform="translate(-510 -1907)">
                                    <g id="Grupo_679" data-name="Grupo 679" transform="translate(493.567 1877.576)">
                                        <path id="path5332" d="M138.705,35.424h36.787V72.348H138.705Z"
                                            transform="translate(-98.388 0)" fill="#fff" />
                                        <path id="path5336"
                                            d="M37.954,748.587h-.324a1.894,1.894,0,0,1-.048-.432c0-.119-.019-.24-.24-.24h-.476v.672h-.286v-1.64h.761c.261,0,.55.092.55.457a.406.406,0,0,1-.177.369c.075.043.139.113.148.3l.012.284c0,.082.012.1.079.136Zm-.353-1.161c0-.206-.142-.224-.245-.224h-.49v.457h.454c.151,0,.281-.035.281-.233m1.347.359a1.758,1.758,0,1,0-1.758,1.747,1.75,1.75,0,0,0,1.758-1.747m-.266,0a1.491,1.491,0,1,1-1.492-1.492,1.47,1.47,0,0,1,1.492,1.492"
                                            transform="translate(0 -677.003)" fill="#1790cd" />
                                        <path id="path5348"
                                            d="M175.492,55.533h-1.917a2.185,2.185,0,0,0-1.3.347v-.347h-2.826a1.991,1.991,0,0,0-1.239.347v-.347h-5.05v.347a2.732,2.732,0,0,0-1.4-.347H158.43v.347a2.337,2.337,0,0,0-1.448-.347h-3.738l-.855.925-.8-.925H146.02v6.035h5.47l.877-.94.83.937,3.368,0V60.145h.335a3.641,3.641,0,0,0,1.432-.208v1.631h2.789v-1.58h.136c.17,0,.183.013.183.174v1.406h8.444a2.469,2.469,0,0,0,1.413-.382v.382h2.676a3.67,3.67,0,0,0,1.518-.277V72.348H138.705V54.124h1.766l.4-.968h.89l.4.968h3.476v-.737l.312.738h1.8l.313-.75v.748h8.634v-1.58h.168c.124,0,.154.015.154.206v1.373h4.467v-.375a3.5,3.5,0,0,0,1.659.375h1.878l.406-.968h.89l.4.968h3.611v-.917l.555.917h2.9V48.089H170.91V48.8l-.411-.712h-2.947V48.8l-.362-.712h-3.981a3.587,3.587,0,0,0-1.729.347v-.347h-2.744v.347a1.75,1.75,0,0,0-1.171-.347H147.528l-.679,1.556-.687-1.556H143V48.8l-.357-.712h-2.7l-1.246,2.862V35.424h36.787V55.533m-2.63-2.261h-1.473l-1.958-3.246,0,3.246h-2.1l-.4-.969h-2.152l-.4.969h-1.2a1.832,1.832,0,0,1-2.051-2.133,2.31,2.31,0,0,1,.555-1.691,2.109,2.109,0,0,1,1.574-.507h.988v.928h-.968a.989.989,0,0,0-.8.259,1.4,1.4,0,0,0-.3.981,1.45,1.45,0,0,0,.294,1.015.982.982,0,0,0,.717.221h.464l1.457-3.4h1.54l1.753,4.1v-4.1h1.58l1.818,3.015V48.941h1.066Zm-13.3,0h1.059V48.94h-1.059Zm-1.127-4.122a2.448,2.448,0,0,0-1.246-.209h-2.382v4.331h1.034V51.7h1.11c.376,0,.6.034.751.19a1.266,1.266,0,0,1,.17.839v.548h1.041v-.859a1.23,1.23,0,0,0-.171-.785,1.169,1.169,0,0,0-.51-.367,1.214,1.214,0,0,0,.736-1.149,1.007,1.007,0,0,0-.533-.96m-4.344,3.217-2.42,0v-.858h2.362v-.89h-2.362v-.78h2.42v-.9h-3.454v4.331h3.454Zm-4.226-3.426h-1.722L146.9,51.878l-1.349-2.937h-1.693v4.1l-1.754-4.1h-1.54l-1.852,4.331h1.127l.4-.969h2.152l.4.969h2.1v-3.4l1.5,3.4h.909l1.5-3.391v3.391h1.062Zm16.693,2.46-.706-1.72-.7,1.72Zm-8.95-.684a.966.966,0,0,1-.507.089h-1.261v-.963h1.275a1.08,1.08,0,0,1,.492.075.422.422,0,0,1,.212.388.457.457,0,0,1-.212.411m-17,.684.7-1.72.706,1.72h-1.41m35.109,7.95c0,.921-.578,1.363-1.625,1.363h-2v-.928h1.99a.606.606,0,0,0,.416-.105.382.382,0,0,0,.122-.283.364.364,0,0,0-.126-.287.547.547,0,0,0-.36-.1c-.966-.026-2.182.031-2.182-1.343,0-.621.394-1.288,1.482-1.288H175.5v.93H173.61a.721.721,0,0,0-.411.073.34.34,0,0,0-.154.313.327.327,0,0,0,.227.321,1.273,1.273,0,0,0,.4.048l.555.015a1.631,1.631,0,0,1,1.182.348,1.2,1.2,0,0,1,.312.919m-4.353-.919a1.645,1.645,0,0,0-1.184-.348l-.553-.015a1.279,1.279,0,0,1-.4-.048A.328.328,0,0,1,169,57.7a.342.342,0,0,1,.152-.313.729.729,0,0,1,.414-.073h1.9v-.93H169.4c-1.088,0-1.482.666-1.482,1.288,0,1.375,1.215,1.316,2.18,1.343a.544.544,0,0,1,.36.1.365.365,0,0,1,.127.287.384.384,0,0,1-.123.283.6.6,0,0,1-.416.105h-2.007v.928h2.015c1.047,0,1.625-.442,1.625-1.363a1.2,1.2,0,0,0-.31-.919m-3.944,1.382H165v-.855h2.363v-.892H165v-.78h2.42v-.9h-3.454v4.331h3.454Zm-4.559-3.22a2.431,2.431,0,0,0-1.244-.211h-2.384v4.331h1.032V59.14h1.113c.376,0,.6.034.751.189a1.267,1.267,0,0,1,.168.839v.548h1.043v-.858a1.229,1.229,0,0,0-.173-.785,1.148,1.148,0,0,0-.507-.369,1.215,1.215,0,0,0,.734-1.149,1.007,1.007,0,0,0-.533-.959m-5.854-.211H153.7L152.382,57.8l-1.268-1.422H146.95v4.331h4.1l1.322-1.428,1.272,1.428h2.013v-1.45h1.286c.9,0,1.8-.25,1.8-1.45s-.919-1.432-1.735-1.432m5.028,1.779a1,1,0,0,1-.508.086h-1.262v-.963h1.277a1.111,1.111,0,0,1,.493.073.425.425,0,0,1,.211.389.463.463,0,0,1-.211.413m-5.04.214h-1.338V57.287h1.35c.37,0,.625.154.625.529s-.243.561-.637.561m-3.956.183,1.584-1.706v3.466Zm-2.514,1.253h-2.54v-.855h2.265v-.892h-2.265v-.78h2.586l1.135,1.259-1.18,1.267"
                                            transform="translate(-98.388 0)" fill="url(#radial-gradient)" />
                                    </g>
                                    <g id="Grupo_1051" data-name="Grupo 1051">
                                        <g id="Retângulo_207" data-name="Retângulo 207" transform="translate(510 1907)"
                                            fill="none" stroke="#900" stroke-width="1">
                                            <rect width="80" height="50" rx="5" stroke="none" />
                                            <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1054" data-name="Grupo 1054" transform="translate(-613 -1907)">
                                    <g id="Grupo_1052" data-name="Grupo 1052">
                                        <g id="Retângulo_208" data-name="Retângulo 208" transform="translate(613 1907)"
                                            fill="none" stroke="#900" stroke-width="1">
                                            <rect width="80" height="50" rx="5" stroke="none" />
                                            <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                        </g>
                                        <g id="Grupo_697" data-name="Grupo 697" transform="translate(554.136 1723.559)">
                                            <path id="Caminho_75" data-name="Caminho 75"
                                                d="M81.982,202.177a6.538,6.538,0,0,1,2.041-.322,6.407,6.407,0,0,1,6.31,5.048l4.413-.882a10.889,10.889,0,0,0-10.722-8.579,11.121,11.121,0,0,0-3.47.551Z"
                                                transform="translate(-2.257)" fill="#ffca05" fill-rule="evenodd" />
                                            <path id="Caminho_76" data-name="Caminho 76"
                                                d="M74.6,217.184l3.021-3.339a6.275,6.275,0,0,1,0-9.541l-3.02-3.339a10.668,10.668,0,0,0,0,16.219"
                                                transform="translate(0 -0.821)" fill="#00a4df" fill-rule="evenodd" />
                                            <path id="Caminho_77" data-name="Caminho 77"
                                                d="M90.333,213.3a6.406,6.406,0,0,1-6.306,5.045,6.512,6.512,0,0,1-2.044-.324l-1.43,4.19a11.133,11.133,0,0,0,3.473.55,10.892,10.892,0,0,0,10.719-8.573Z"
                                                transform="translate(-2.257 -3.693)" fill="#ee4123"
                                                fill-rule="evenodd" />
                                            <path id="Caminho_78" data-name="Caminho 78"
                                                d="M112.368,212.626l0,0-.125-.084a3.536,3.536,0,0,1-1.63,1.37,3.155,3.155,0,0,1-3.493-.353l-.082.126,0,0-1.53,2.3a6.555,6.555,0,0,0,1.216.669,6.623,6.623,0,0,0,7.981-2.462Zm-4.775-5.671a3.325,3.325,0,0,0-2.006,3.528l6.03-2.607A3.191,3.191,0,0,0,107.593,206.955Zm-4,7a7.908,7.908,0,0,1-.457-.884,6.718,6.718,0,0,1,3.332-8.722,6.657,6.657,0,0,1,6.142.45,6.583,6.583,0,0,1,2.742,3.324c.084.2.157.407.229.585l-11.988,5.247Zm16.178-12.992v12.779l1.978.805-1.124,2.634-2.183-.913a2.484,2.484,0,0,1-1.076-.908,2.865,2.865,0,0,1-.422-1.584V200.965Zm5.124,9.524a3.621,3.621,0,0,0,1.227,2.725l-2.027,2.275a6.7,6.7,0,0,1,.007-10l2.029,2.273A3.621,3.621,0,0,0,124.893,210.489Zm3.605,3.627a3.613,3.613,0,0,0,3.536-2.889l2.979.611a6.643,6.643,0,0,1-8.628,4.985l.97-2.894A3.635,3.635,0,0,0,128.5,214.116Zm.009-10.3a6.658,6.658,0,0,1,6.509,5.35l-2.979.606a3.6,3.6,0,0,0-4.676-2.718l-.96-2.9A6.6,6.6,0,0,1,128.507,203.815Z"
                                                transform="translate(-7.386 -0.821)" fill-rule="evenodd" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1053" data-name="Grupo 1053" transform="translate(-715 -1907)">
                                    <path id="path2997"
                                        d="M35.6,42.468l-25.1.009v-.06c0-.033.04-.249.089-.479s.125-.6.169-.813.119-.586.167-.82l.177-.866c.049-.242.127-.625.172-.851s.121-.595.168-.82.127-.615.178-.866.129-.633.172-.851.113-.552.155-.744.094-.452.117-.577.1-.494.166-.82.143-.695.167-.82.1-.494.168-.82.144-.695.167-.82.1-.494.168-.82.143-.688.165-.805.082-.418.134-.668.149-.722.217-1.048.184-.893.258-1.261.162-.805.2-.972l.137-.668.166-.805c.05-.242.132-.639.182-.881s.126-.618.17-.835.119-.579.166-.805.13-.622.182-.881.141-.655.2-.881.133-.5.173-.608a5.537,5.537,0,0,1,.246-.523l.173-.326.157-.206c.086-.113.241-.292.343-.4s.275-.264.383-.353.266-.208.349-.265.248-.158.365-.224.281-.151.365-.191.254-.111.38-.16.365-.13.532-.18.481-.127.7-.17.558-.1.759-.127l.366-.049,25.116-.01,25.116-.01v.06c0,.033-.04.249-.09.479s-.132.623-.183.874-.126.613-.167.805-.116.561-.169.82-.134.655-.181.881-.122.595-.167.82-.121.595-.169.82-.12.581-.162.79-.119.585-.17.835-.133.647-.182.881-.124.6-.167.805l-.17.835c-.051.251-.133.647-.182.881s-.123.589-.163.79l-.169.835c-.053.259-.129.635-.17.835s-.114.556-.163.79-.132.637-.185.9-.129.628-.168.82-.114.554-.165.805-.132.647-.181.881-.124.6-.168.82l-.171.835-.181.881-.165.805c-.041.2-.117.57-.168.82s-.134.646-.184.878l-.091.422-.109.292c-.06.161-.15.374-.2.474s-.152.277-.227.393-.179.264-.232.33-.211.235-.352.377l-.256.257-.247.175c-.136.1-.282.194-.325.218s-.206.107-.363.185-.378.178-.492.222-.339.118-.5.165-.335.094-.385.1l-.387.08c-.163.034-.491.086-.729.114l-.434.052-25.1.009Zm-8.931-6.493h.653l.018-.048a.489.489,0,0,0,.018-.138c0-.05.022-.23.048-.4s.088-.563.137-.872.123-.774.164-1.033.091-.59.111-.737a1.07,1.07,0,0,1,.054-.266.519.519,0,0,1,.094.144l.076.144.168.17.168.17.207.083.207.083.247.032.247.032.314-.019.314-.019.34-.088.34-.088.182-.083a3.724,3.724,0,0,0,.395-.222l.213-.139.2-.2a4.519,4.519,0,0,0,.342-.388,1.727,1.727,0,0,0,.143-.207.867.867,0,0,1,.086-.144,3.4,3.4,0,0,0,.216-.431c.071-.167.182-.468.247-.668l.118-.365.061-.316c.033-.174.077-.461.1-.638L32.928,29l-.02-.273-.02-.273-.063-.273-.063-.273-.1-.2-.1-.2-.2-.21-.2-.21-.234-.121-.234-.121-.258-.062-.258-.062-.258-.019-.258-.019-.288.033-.288.033-.235.06-.235.06-.2.094a3.708,3.708,0,0,0-.363.2,1.835,1.835,0,0,0-.2.143.951.951,0,0,1-.121.093l-.08.052.056-.267c.031-.147.056-.284.057-.3v-.038H27.644l-.1.615c-.054.338-.139.861-.188,1.162s-.125.752-.167,1-.117.695-.167.987-.132.757-.182,1.033l-.165.9-.168.911c-.052.284-.136.735-.186,1s-.132.691-.182.942-.1.486-.107.524l-.017.068Zm2.812-3.512-.254.015-.166-.029-.166-.029-.168-.077-.168-.077-.118-.112-.118-.112-.068-.152a2.146,2.146,0,0,1-.107-.315l-.039-.163.015-.262.015-.262.078-.41c.043-.226.12-.649.172-.942s.129-.721.173-.952l.08-.42.174-.145a2.828,2.828,0,0,1,.337-.237l.163-.092.213-.066.213-.066.273-.016.273-.016.223.047.223.047.157.072.157.072.132.132.132.132.071.14a2.048,2.048,0,0,1,.122.336l.051.2-.016.577-.016.577-.078.341c-.043.188-.125.475-.182.638l-.1.3-.127.24a4.232,4.232,0,0,1-.239.4,1.7,1.7,0,0,1-.218.248c-.058.05-.156.129-.218.174l-.111.083-.258.088-.258.088-.254.015Zm6.308.835.334,0,.334-.031c.184-.017.485-.052.668-.078s.5-.084.706-.129l.371-.082.019-.137c.01-.075.052-.3.093-.5l.074-.361-.016-.016-.016-.016-.114.055c-.062.03-.257.1-.432.16l-.319.105-.334.065-.334.065H35.761l-.182-.058a2.859,2.859,0,0,1-.328-.13l-.145-.072-.12-.108-.12-.108-.094-.164-.094-.164-.059-.205-.059-.205v-.76l.052-.339.052-.339.457-.021.457-.021,1.69.011,1.69.011.051-.216c.028-.119.071-.365.1-.547l.044-.33v-.556l-.048-.207-.048-.207-.08-.137a1.913,1.913,0,0,0-.171-.243,1.356,1.356,0,0,0-.2-.183,2.965,2.965,0,0,0-.26-.157l-.152-.081-.265-.064-.265-.064-.327-.031-.327-.031-.3.02-.3.02-.365.07-.365.07-.228.091a4.218,4.218,0,0,0-.425.2,2.978,2.978,0,0,0-.334.223c-.075.061-.205.179-.289.263a2.747,2.747,0,0,0-.276.335,4.409,4.409,0,0,0-.231.395c-.059.117-.136.281-.172.365s-.1.254-.142.38-.11.365-.15.532-.094.442-.12.611l-.048.307v.9l.046.2a3.718,3.718,0,0,0,.108.365,2.484,2.484,0,0,0,.139.3,1.7,1.7,0,0,0,.2.269,2.6,2.6,0,0,0,.277.245,2.182,2.182,0,0,0,.33.194l.179.081.249.06c.137.033.344.072.459.087s.361.029.544.031Zm.572-4.28c-.841,0-1.529-.006-1.529-.013s.036-.113.08-.235.121-.3.171-.4l.091-.182.2-.2.2-.2.2-.094a2.276,2.276,0,0,1,.319-.126,3.249,3.249,0,0,1,.425-.051l.3-.019.233.03.233.03.17.078.17.078.093.1a1.081,1.081,0,0,1,.135.181l.042.08.028.178.028.178-.032.3-.032.3Zm9.089,4.28.334,0,.38-.045c.209-.025.487-.066.618-.091s.343-.076.471-.112a1.657,1.657,0,0,0,.258-.087,1.459,1.459,0,0,0,.08-.306c.031-.157.069-.367.086-.468A.821.821,0,0,0,47.7,32c-.006-.007-.029,0-.05.019a2.668,2.668,0,0,1-.331.139l-.293.109-.417.081-.417.081-.354-.012-.354-.012-.2-.07-.2-.07-.155-.136-.155-.136-.1-.188-.1-.188-.049-.251-.049-.251v-.652l.06-.395.06-.395.063-.213c.035-.117.074-.254.087-.3a3.284,3.284,0,0,1,.124-.319c.055-.125.153-.319.217-.43l.118-.2.144-.15.144-.15.153-.095.153-.095.2-.06a3.661,3.661,0,0,1,.424-.1l.228-.036.334.017.334.017.395.079.395.079.161.06c.088.033.165.06.169.06a1.951,1.951,0,0,0,.047-.251c.021-.138.059-.365.084-.5a1.27,1.27,0,0,0,.032-.267,1.7,1.7,0,0,0-.264-.042c-.138-.016-.512-.044-.832-.062l-.582-.033-.41.031-.41.031-.3.064-.3.064-.2.078a2.835,2.835,0,0,0-.35.173c-.085.052-.193.122-.241.155a4.187,4.187,0,0,0-.319.29l-.233.229-.13.19a4.866,4.866,0,0,0-.275.485l-.145.295-.111.319c-.061.175-.146.463-.189.638l-.078.319-.028.289-.028.289v.759l.029.221.029.221.091.227.091.227.105.164.105.164.167.164.167.164.177.093.177.093.232.065a4.119,4.119,0,0,0,.41.09,5.025,5.025,0,0,0,.512.03Zm5-.011.41-.012.258-.066.258-.066.167-.079a3.164,3.164,0,0,0,.334-.191,2.576,2.576,0,0,0,.316-.259,3.472,3.472,0,0,0,.27-.308.8.8,0,0,1,.13-.151,2.577,2.577,0,0,1-.034.312,4.572,4.572,0,0,0-.044.493v.19H53.63l.017-.433.017-.433.08-.562c.044-.309.114-.767.157-1.018s.117-.674.165-.942.124-.684.169-.927l.082-.441,0-.381,0-.38-.086-.176-.086-.176-.117-.112-.117-.112-.192-.1-.192-.1-.285-.063-.285-.063-.393-.03-.393-.03-.506.031c-.278.017-.67.051-.871.076l-.365.044h-.5l-.036.175c-.02.1-.075.324-.123.507a2.689,2.689,0,0,0-.077.342,2.006,2.006,0,0,0,.3-.067c.157-.042.491-.112.741-.154l.456-.078.41-.017.41-.017.264.046.264.046.176.087.176.087.1.147.1.147v.464l-.052.255-.052.255-1.093,0-1.093,0-.358.1a4.1,4.1,0,0,0-.484.159.747.747,0,0,1-.155.061,1.733,1.733,0,0,0-.26.144l-.232.144-.183.182a2.831,2.831,0,0,0-.285.334,2.875,2.875,0,0,0-.2.388l-.1.236-.046.265-.046.265V31.9l.044.232.044.232.082.151a1.9,1.9,0,0,0,.185.271l.1.119.182.11.182.11.208.059c.114.032.288.072.387.087l.179.028.41-.012Zm.38-.85-.243.013-.161-.041a1.709,1.709,0,0,1-.3-.112l-.138-.071-.075-.089a1.421,1.421,0,0,1-.14-.214l-.065-.125-.013-.292-.013-.292.052-.177a2.926,2.926,0,0,1,.148-.376l.1-.2.184-.183.184-.183.2-.094.2-.094.243-.058.243-.058h1.519l.048.02.048.02-.04.238c-.022.131-.075.368-.118.527s-.118.392-.167.519-.09.238-.09.248a1.629,1.629,0,0,1-.111.2l-.111.186-.182.18a1.238,1.238,0,0,1-.207.18.568.568,0,0,0-.136.076l-.112.076-.246.078-.246.078-.243.013Zm9.889.86.289,0,.273-.044c.15-.024.342-.064.425-.087a2.239,2.239,0,0,0,.334-.136l.182-.093.157-.138.157-.138.165-.22a2.558,2.558,0,0,0,.183-.266l.018-.046-.015.152c-.008.084-.027.22-.042.3s-.036.244-.047.357l-.02.205h1.192v-.41l.091-.775c.05-.426.124-.993.164-1.261s.1-.65.138-.851.1-.563.141-.805.117-.666.167-.942.131-.713.179-.972l.166-.9c.043-.234.121-.644.172-.911s.127-.643.167-.835.073-.36.073-.372V24.1h-1.3l-.019.19c-.011.1-.06.45-.111.767s-.132.823-.182,1.124-.1.592-.107.648l-.016.1-.051-.022c-.028-.012-.181-.054-.34-.094l-.289-.072-.395-.031-.395-.031-.334.031-.334.031-.3.077-.3.077-.289.141-.289.141-.213.157-.213.157-.184.2a4.433,4.433,0,0,0-.324.4l-.141.2-.165.344c-.091.189-.2.439-.246.556s-.122.376-.173.576l-.093.363-.046.472-.046.472.034.38.034.38.041.137c.022.075.07.209.1.3l.064.161.117.158.117.158.134.109.134.109.182.09a2.5,2.5,0,0,0,.374.143,3.4,3.4,0,0,0,.38.077c.1.013.318.026.477.028Zm.518-.862-.229.012-.155-.028a1.686,1.686,0,0,1-.3-.091l-.148-.063-.124-.1-.125-.1-.093-.177-.093-.177-.042-.2-.042-.2,0-.395,0-.395.049-.349.049-.349.076-.243a2.467,2.467,0,0,0,.077-.28,1.471,1.471,0,0,1,.092-.243c.05-.113.134-.288.187-.388a3.175,3.175,0,0,1,.218-.347,2.943,2.943,0,0,1,.266-.3,2.034,2.034,0,0,1,.28-.222l.136-.084.239-.083.239-.083h1l.289.08c.159.044.327.1.375.113l.086.033-.017.083c-.009.046-.045.247-.08.448s-.1.583-.153.851-.125.671-.168.9-.106.513-.139.638-.08.3-.1.386a2.526,2.526,0,0,1-.127.334,2.652,2.652,0,0,1-.179.313,1.745,1.745,0,0,1-.2.231,2.573,2.573,0,0,1-.269.206l-.167.111-.241.077-.242.077-.229.012Zm-44.712.714h.738l.053-.327c.029-.18.086-.525.126-.767l.167-1c.051-.309.129-.767.172-1.018s.111-.639.151-.864a3.761,3.761,0,0,1,.09-.425l.017-.017h3.97l.022.022.022.022-.034.175c-.019.1-.075.394-.124.662l-.185,1c-.052.284-.128.687-.168.9s-.121.646-.18.972-.107.61-.107.63v.038h1.482l.033-.19c.018-.1.047-.292.064-.418s.059-.392.093-.592.1-.6.151-.881.131-.769.182-1.078.127-.76.169-1,.116-.652.165-.911.131-.7.181-.972.127-.693.169-.927.119-.658.171-.942.117-.616.145-.737l.051-.22h-1.5l-.02.144c-.011.079-.047.3-.081.494s-.093.534-.134.759-.114.656-.164.957-.114.7-.141.885l-.051.338-1.1.022-1.1.022-.923-.022c-.507-.012-.926-.024-.929-.027a2.579,2.579,0,0,1,.038-.262c.025-.141.071-.387.1-.546s.093-.473.136-.7.091-.506.107-.623.051-.312.076-.433.074-.376.107-.567.069-.368.08-.395l.018-.048H17.342l-.048.266c-.026.146-.061.355-.078.463s-.072.457-.123.775-.127.789-.168,1.048l-.167,1.048c-.051.317-.134.81-.185,1.094s-.126.687-.165.9l-.167.881c-.053.276-.129.665-.17.866s-.087.433-.1.516-.061.325-.1.535-.078.406-.078.433v.049h.738Zm8.172,0h.653l.018-.048a.569.569,0,0,0,.018-.154c0-.058.041-.361.091-.673s.133-.82.184-1.129.127-.76.168-1,.114-.646.163-.9.123-.64.165-.866.126-.655.185-.954.116-.556.125-.57l.016-.027-.661.008-.661.008-.055.395c-.03.217-.1.648-.147.957s-.127.781-.17,1.048-.118.7-.166.957l-.166.881c-.042.226-.119.622-.169.881s-.119.6-.151.759-.067.319-.077.357l-.018.068Zm15.283,0h.649l.019-.274c.011-.151.047-.455.082-.676s.1-.661.155-.979.147-.846.212-1.174.139-.655.164-.725a.833.833,0,0,0,.045-.17,1.609,1.609,0,0,1,.108-.277,3.776,3.776,0,0,1,.247-.441l.138-.205.185-.172.185-.172.229-.109.229-.109.349,0,.349,0,.172.051c.094.028.18.051.19.051s.018-.032.018-.072.034-.24.076-.445.076-.382.076-.392a.809.809,0,0,0-.22-.086,2.782,2.782,0,0,0-.372-.086l-.152-.019-.2.035a2.55,2.55,0,0,0-.359.094,2.042,2.042,0,0,0-.326.164,2.347,2.347,0,0,0-.312.25,3.573,3.573,0,0,0-.3.358l-.2.273-.043.061.026-.122c.015-.067.055-.286.09-.486s.071-.388.08-.418l.016-.053H40.424V26.9c0,.04-.034.283-.076.539s-.111.685-.153.952-.118.732-.167,1.033-.125.731-.167.957-.118.622-.168.881-.132.683-.183.942-.112.565-.136.68-.043.221-.043.235v.027h.649Zm15.4,0h.663v-.406l.076-.5c.042-.277.111-.715.154-.974s.1-.587.118-.729.082-.45.132-.684.113-.487.139-.562a.961.961,0,0,0,.048-.175,2.047,2.047,0,0,1,.126-.3l.125-.265.165-.219.165-.219.181-.136a2.628,2.628,0,0,1,.355-.22L58,27.669l.38,0,.38,0,.149.048.149.048.025-.016.025-.016v-.1a3.96,3.96,0,0,1,.072-.441l.071-.344-.08-.031c-.044-.017-.148-.053-.232-.079l-.152-.048h-.547l-.223.078-.223.078-.167.1-.167.1-.218.228-.218.228-.117.177a.849.849,0,0,1-.126.167c0-.005.03-.208.078-.45s.087-.471.088-.509v-.068H55.827v.019c0,.011-.028.205-.062.433s-.1.666-.153.976-.131.808-.182,1.109-.126.731-.168.957-.117.622-.166.881-.131.676-.18.927l-.147.737-.056.281h.663Zm-29.4-7.413h.184l.147-.05.147-.05.13-.132.13-.132.068-.175.068-.175,0-.258,0-.258-.061-.1-.061-.1-.106-.066-.106-.065H26.07l-.155.07-.156.07-.09.1-.09.1-.071.167-.071.167-.013.26-.013.26.066.129.066.129.127.058.127.058Z"
                                        transform="translate(714.5 1902.681)" fill="#b3131b" />
                                    <g id="Retângulo_209" data-name="Retângulo 209" transform="translate(715 1907)"
                                        fill="none" stroke="#900" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                </g>
                            </svg>
                        </li>
                    </ul>
                    <p class="x-payments-card__option-label">
                        Já habilitadas para Pessoa Física e Pessoa Jurídica
                    </p>
                    <div class="x-payments-card__option-border"></div>
                </li>
                <li class="x-payments-card__option">
                    <ul class="x-payments-card__option-flags">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1056" data-name="Grupo 1056" transform="translate(-817 -1907)">
                                    <g id="Retângulo_210" data-name="Retângulo 210" transform="translate(817 1907)"
                                        fill="none" stroke="#6c787a" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_710" data-name="Grupo 710" transform="translate(827.121 1902.197)">
                                        <g id="Grupo_708" data-name="Grupo 708" transform="translate(11.879 11.803)">
                                            <path id="Caminho_95" data-name="Caminho 95"
                                                d="M36.158,100.491h-.036c-1.745,0-2.248.649-2.248,2.161V104.2c0,1.494.5,2.142,2.284,2.142s2.251-.63,2.251-2.142v-1.547C38.409,101.14,37.906,100.491,36.158,100.491Z"
                                                transform="translate(-28.367 -78.286)" fill="#070807"
                                                fill-rule="evenodd" />
                                            <path id="Caminho_96" data-name="Caminho 96"
                                                d="M76.146,100.5c-1.356,0-2.044.592-2.044,1.779v.325h4.122v-.325C78.224,101.093,77.537,100.5,76.146,100.5Z"
                                                transform="translate(-58.523 -78.294)" fill="#070807"
                                                fill-rule="evenodd" />
                                            <path id="Caminho_97" data-name="Caminho 97"
                                                d="M37.245,25.2a1.907,1.907,0,0,1-1.877-1.874,11.746,11.746,0,0,0-23.489.227V46.819a1.868,1.868,0,0,0,1.868,1.867H37.015a11.745,11.745,0,0,0,.23-23.489ZM23.774,37.75c0,2.61-1.369,3.854-4.122,3.854-2.574,0-4.1-1.278-4.1-3.854V29.618c0-.649.162-.808.808-.808h.219c.647,0,.809.159.809.808v3.017a6.674,6.674,0,0,1,2.277-.352c2.5,0,4.112,1.314,4.112,3.922Zm9.61-.953c-.071.669-.251.829-.917.829h-5v.4c0,1.314.758,1.834,2.575,1.834a9.956,9.956,0,0,0,2.338-.287c.577-.145.739,0,.739.63v.236c0,.594-.108.718-.739.881a8.806,8.806,0,0,1-2.338.289c-3.024,0-4.429-1.137-4.429-3.853V36.186c0-2.61,1.333-3.9,4-3.9,2.5,0,3.816,1.276,3.816,3.722C33.422,36.277,33.4,36.529,33.384,36.8Zm9.7,4c0,.649-.16.811-.808.811h-.236c-.647,0-.808-.162-.808-.811V35.772c0-1.224-.452-1.763-2.052-1.763s-2.07.539-2.07,1.763v5.021c0,.649-.16.811-.811.811h-.231c-.652,0-.812-.162-.812-.811V35.772c0-2.32,1.313-3.489,3.923-3.489,2.735,0,3.9,1.168,3.9,3.489Z"
                                                transform="translate(-11.879 -11.803)" fill="#070807"
                                                fill-rule="evenodd" />
                                        </g>
                                        <g id="Grupo_709" data-name="Grupo 709" transform="translate(11.879 11.803)">
                                            <path id="Caminho_98" data-name="Caminho 98"
                                                d="M36.158,100.491h-.036c-1.745,0-2.248.649-2.248,2.161V104.2c0,1.494.5,2.142,2.284,2.142s2.251-.63,2.251-2.142v-1.547C38.409,101.14,37.906,100.491,36.158,100.491Z"
                                                transform="translate(-28.367 -78.286)" fill="#070807"
                                                fill-rule="evenodd" />
                                            <path id="Caminho_99" data-name="Caminho 99"
                                                d="M76.146,100.5c-1.356,0-2.044.592-2.044,1.779v.325h4.122v-.325C78.224,101.093,77.537,100.5,76.146,100.5Z"
                                                transform="translate(-58.523 -78.294)" fill="#070807"
                                                fill-rule="evenodd" />
                                            <path id="Caminho_100" data-name="Caminho 100"
                                                d="M37.245,25.2a1.907,1.907,0,0,1-1.877-1.874,11.746,11.746,0,0,0-23.489.227V46.819a1.868,1.868,0,0,0,1.868,1.867H37.015a11.745,11.745,0,0,0,.23-23.489ZM23.774,37.75c0,2.61-1.369,3.854-4.122,3.854-2.574,0-4.1-1.278-4.1-3.854V29.618c0-.649.162-.808.808-.808h.219c.647,0,.809.159.809.808v3.017a6.674,6.674,0,0,1,2.277-.352c2.5,0,4.112,1.314,4.112,3.922Zm9.61-.953c-.071.669-.251.829-.917.829h-5v.4c0,1.314.758,1.834,2.575,1.834a9.956,9.956,0,0,0,2.338-.287c.577-.145.739,0,.739.63v.236c0,.594-.108.718-.739.881a8.806,8.806,0,0,1-2.338.289c-3.024,0-4.429-1.137-4.429-3.853V36.186c0-2.61,1.333-3.9,4-3.9,2.5,0,3.816,1.276,3.816,3.722C33.422,36.277,33.4,36.529,33.384,36.8Zm9.7,4c0,.649-.16.811-.808.811h-.236c-.647,0-.808-.162-.808-.811V35.772c0-1.224-.452-1.763-2.052-1.763s-2.07.539-2.07,1.763v5.021c0,.649-.16.811-.811.811h-.231c-.652,0-.812-.162-.812-.811V35.772c0-2.32,1.313-3.489,3.923-3.489,2.735,0,3.9,1.168,3.9,3.489Z"
                                                transform="translate(-11.879 -11.803)" fill="#070807"
                                                fill-rule="evenodd" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1057" data-name="Grupo 1057" transform="translate(-919 -1907)">
                                    <g id="Retângulo_211" data-name="Retângulo 211" transform="translate(919 1907)"
                                        fill="none" stroke="#6c787a" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_705" data-name="Grupo 705" transform="translate(679.109 1760.957)">
                                        <path id="Caminho_79" data-name="Caminho 79"
                                            d="M288.883,154.043a16.524,16.524,0,0,0-9.252,2.816c-.188.127-1.488,1.057-1.545,1.1-2.158,1.624-3.607,1.912-5.593,1.408-.12-.03-.689-.227-.869-.294a12.372,12.372,0,1,0-.449,23.314c2.961-.886,4.568-.644,6.417.668.371.263,1.267.836,1.451.972a16.606,16.606,0,1,0,9.84-29.983Z"
                                            transform="translate(0)" fill="#006f4d" />
                                        <g id="Grupo_704" data-name="Grupo 704" transform="translate(260.117 163.831)">
                                            <g id="Grupo_703" data-name="Grupo 703">
                                                <g id="Grupo_698" data-name="Grupo 698"
                                                    transform="translate(15.698 2.259)">
                                                    <path id="Caminho_80" data-name="Caminho 80"
                                                        d="M357.387,234.6a2.935,2.935,0,0,1-3.633.387l-1.1,1.748a5.014,5.014,0,0,0,6.178-.656Z"
                                                        transform="translate(-350.31 -227.476)" fill="#fff" />
                                                    <path id="Caminho_81" data-name="Caminho 81"
                                                        d="M347.9,204.663a5.017,5.017,0,0,0-4.28,7.753l9.088-3.883A5.018,5.018,0,0,0,347.9,204.663Zm-3.011,5.328a2.95,2.95,0,0,1,5.189-2.218Z"
                                                        transform="translate(-342.808 -204.663)" fill="#fff" />
                                                </g>
                                                <g id="Grupo_700" data-name="Grupo 700" transform="translate(26.529)">
                                                    <g id="Grupo_699" data-name="Grupo 699">
                                                        <path id="Caminho_82" data-name="Caminho 82"
                                                            d="M390.235,195.17v9.686l1.679.7-.792,1.909-1.662-.69a1.839,1.839,0,0,1-.818-.689h0a2.145,2.145,0,0,1-.323-1.2V195.17Z"
                                                            transform="translate(-388.318 -195.17)" fill="#fff" />
                                                    </g>
                                                </g>
                                                <g id="Grupo_702" data-name="Grupo 702" transform="translate(11.905)">
                                                    <g id="Grupo_701" data-name="Grupo 701">
                                                        <path id="Caminho_83" data-name="Caminho 83"
                                                            d="M328.79,195.17v9.686l1.679.7-.792,1.909-1.662-.69a1.848,1.848,0,0,1-.819-.689h0a2.149,2.149,0,0,1-.323-1.2V195.17Z"
                                                            transform="translate(-326.873 -195.17)" fill="#fff" />
                                                    </g>
                                                </g>
                                                <path id="Caminho_84" data-name="Caminho 84"
                                                    d="M416.208,207.011a2.954,2.954,0,0,1,1.383,3.943h0l1.858.893h0a5.016,5.016,0,0,0-7.9-5.881l1.389,1.527A2.949,2.949,0,0,1,416.208,207.011Z"
                                                    transform="translate(-379.493 -202.399)" fill="#bccf3b" />
                                                <path id="Caminho_85" data-name="Caminho 85"
                                                    d="M408.4,221.442a2.955,2.955,0,0,1-1.383-3.941h0l-1.859-.893h0a5.016,5.016,0,0,0,7.9,5.881l-1.389-1.525A2.956,2.956,0,0,1,408.4,221.442Z"
                                                    transform="translate(-374.242 -211.504)" fill="#fff" />
                                                <path id="Caminho_86" data-name="Caminho 86"
                                                    d="M286.865,212.5v-2.8a5.007,5.007,0,1,0-5.006,5.007h0a4.986,4.986,0,0,0,2.232-.527l-.811-1.889A2.957,2.957,0,0,1,278.9,209.7h0a2.959,2.959,0,0,1,2.291-2.879,2.923,2.923,0,0,1,.667-.079,2.969,2.969,0,0,1,2.959,2.959h0c0,.084,0,2.78,0,2.78a2.156,2.156,0,0,0,.322,1.2,1.85,1.85,0,0,0,.818.689l.939.372.793-1.909Z"
                                                    transform="translate(-276.851 -202.424)" fill="#fff" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1058" data-name="Grupo 1058" transform="translate(-1021 -1907)">
                                    <g id="Retângulo_212" data-name="Retângulo 212" transform="translate(1021 1907)"
                                        fill="none" stroke="#6c787a" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_707" data-name="Grupo 707" transform="translate(805.4 1693.7)">
                                        <path id="Caminho_87" data-name="Caminho 87"
                                            d="M371.675,281.251l-.66,3.328a2.577,2.577,0,0,1-2.758,2.248c-1.9,0-2.413-1.184-1.994-2.848.585-2.353,2.518-3.058,5.411-2.728m3-4.752-2.024.135-.645,3.253c-.779-.03-1.019-.06-1.934-.06-2.848,0-5.336,1.2-6,4-.585,2.533.854,4.5,3.987,4.5,3.208,0,4.617-1.679,5.111-4.032Z"
                                            transform="translate(-117.611 -40.975)" fill="#001a71" />
                                        <path id="Caminho_88" data-name="Caminho 88"
                                            d="M235.1,301.309c-2.968-.27-5.516-.015-5.561.989-.06,1.514,4.886.195,4.8,2.983-.135,4.092-7.03,3.148-8.739,2.623l.315-1.214c2.938.465,6.041.51,6.116-1.109.075-1.724-4.9-.18-4.782-2.968.09-2.083,3.193-3.193,8.289-2.443Z"
                                            transform="translate(0 -60.898)" fill="#001a71" />
                                        <path id="Caminho_89" data-name="Caminho 89"
                                            d="M298.534,303.557a3.481,3.481,0,0,1-3.388,2.773c-1.679,0-2.443-.974-1.994-2.773a3.568,3.568,0,0,1,3.4-2.848c1.6,0,2.413,1.139,1.979,2.848m-1.709-4.257a5.757,5.757,0,0,0-5.906,4.257c-.585,2.548,1,4.257,3.957,4.257a5.757,5.757,0,0,0,5.906-4.257c.57-2.548-1-4.257-3.957-4.257"
                                            transform="translate(-55.427 -60.358)" fill="#001a71" />
                                        <path id="Caminho_90" data-name="Caminho 90"
                                            d="M505.778,308.279h-2.563A46.562,46.562,0,0,1,496.5,299.9h1.874c2.083,2.863,7.4,8.379,7.4,8.379"
                                            transform="translate(-230.295 -60.868)" fill="#001a71" />
                                        <path id="Caminho_91" data-name="Caminho 91"
                                            d="M556.848,230.758l1.169-2.458.345,2.5,2.4-.839-1.679,2.158,1.829,1.409-2.443.18-.135,2.608-1.349-1.919-1.994,1.829.75-2.578-2.338-.33,2.278-1.289-.929-2.233Z"
                                            transform="translate(-278.666 0)" fill="#001a71" />
                                        <path id="Caminho_92" data-name="Caminho 92"
                                            d="M565.133,303.4a3.532,3.532,0,0,1-3.447,2.818c-1.709,0-2.488-.989-2.024-2.818a3.618,3.618,0,0,1,3.463-2.893c1.649,0,2.443,1.169,2.008,2.893m-1.739-4.3a5.843,5.843,0,0,0-6,4.317c-.6,2.578,1.019,4.317,4.017,4.317a5.843,5.843,0,0,0,6-4.317c.6-2.593-1.019-4.317-4.017-4.317"
                                            transform="translate(-281.96 -60.188)" fill="#001a71" />
                                        <path id="Caminho_93" data-name="Caminho 93"
                                            d="M483.5,292a44.789,44.789,0,0,0,12.036-10.4c-2.143,6.715-7.315,10.327-12.036,10.4"
                                            transform="translate(-219.243 -45.311)" fill="#eb0029" />
                                        <path id="Caminho_94" data-name="Caminho 94"
                                            d="M437.886,300.544c.929,0,1.439.33,1.439.974,0,1.709-3.328,1.6-4.8,1.3a3.523,3.523,0,0,1,3.358-2.278m3.432.9c0-1.244-.989-2.143-3.223-2.143-3.627,0-6,2.353-6,5.276,0,1.889,1.559,3.447,4.422,3.447a5.953,5.953,0,0,0,3.283-.974c-2.5.27-5.591,0-5.591-2.683a2.214,2.214,0,0,1,.015-.315c3.418.7,7.09-.15,7.09-2.608"
                                            transform="translate(-175.548 -60.358)" fill="#001a71" />
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1059" data-name="Grupo 1059" transform="translate(-1123 -1907)">
                                    <g id="Retângulo_213" data-name="Retângulo 213" transform="translate(1123 1907)"
                                        fill="none" stroke="#6c787a" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_706" data-name="Grupo 706" transform="translate(1130 1845.176)">
                                        <ellipse id="path821-9-5" cx="16.754" cy="16.757" rx="16.754" ry="16.757"
                                            transform="translate(0.004 69.824)" fill="#fff" />
                                        <path id="Combined-Shape"
                                            d="M29.49,87.77H24.411A2.014,2.014,0,0,0,26.566,89.3a3.7,3.7,0,0,0,1.59-.36l-.141,1.514a5.191,5.191,0,0,1-1.923.32c-2.258,0-3.848-1.321-3.848-3.565a3.361,3.361,0,0,1,3.6-3.412C28.31,83.794,29.541,85.359,29.49,87.77Zm-9.183,2.873c-.1-.244-.257-.641-.385-1.039l-.295-.988c-.154-.526-.359-.744-.86-.744h-.846v2.77H15.958V81.588h1.963v4.99h.218L20,83.922h2.18l-2.193,2.77H20.1c.872,0,1.129.487,1.346,1.205l.372,1.244a8.725,8.725,0,0,0,.6,1.5Zm-6.285-1.5a2.883,2.883,0,0,0,1.257-.295L15.1,90.476a3.558,3.558,0,0,1-1.488.308,3.5,3.5,0,1,1-.013-6.99,4.544,4.544,0,0,1,2,.436l-.564,1.513a2.258,2.258,0,0,0-1.142-.32,1.694,1.694,0,0,0-1.782,1.847A1.768,1.768,0,0,0,14.022,89.142ZM7.429,83.063h2V81.588h-2Zm0,7.58h2V83.922h-2Zm22.484-3.629V82.447l2-.808V84.05h1.346l-.269,1.5h-1.1V87.09a5.615,5.615,0,0,0,1.167,3.393,16.76,16.76,0,0,0-32.3-8.9H6.993l-.243,1.8h-2.6v7.259H2.017V83.383H.307a16.759,16.759,0,0,0,32.711,7.259H31.042A6.322,6.322,0,0,1,29.914,87.013Zm-4-1.835a1.542,1.542,0,0,0-1.552,1.283h3.014a1.384,1.384,0,0,0-1.462-1.283"
                                            transform="translate(0 -0.002)" fill="#d52b1e" fill-rule="evenodd" />
                                        <path id="path9"
                                            d="M64.042,94.591V92.883h.628v1.811a1.342,1.342,0,0,1-2.67,0V92.883h.628v1.709c0,.481.232.764.707.764s.707-.283.707-.764m3.621-1.16a1.034,1.034,0,0,1,1.024-.6A1.075,1.075,0,0,1,69.876,94v1.856h-.628V94.111c0-.447-.2-.73-.639-.73s-.645.261-.645.736v1.737h-.617V94.116c0-.475-.209-.736-.645-.736s-.634.295-.634.73v1.742H65.44V94a1.073,1.073,0,0,1,1.182-1.166,1.03,1.03,0,0,1,1.018.6Zm4.437-.051a.947.947,0,0,0-.962.99.965.965,0,1,0,.962-.99Zm1.635,2.472h-.617v-.476a1.4,1.4,0,0,1-1.126.521,1.454,1.454,0,0,1-1.51-1.516,1.53,1.53,0,0,1,1.624-1.55,1.5,1.5,0,0,1,1.629,1.579Zm4.787-2.422a1.034,1.034,0,0,1,1.025-.6A1.074,1.074,0,0,1,80.734,94v1.856h-.628V94.111c0-.447-.2-.73-.639-.73s-.645.26-.645.736v1.737h-.617V94.116c0-.476-.21-.736-.645-.736s-.634.294-.634.73v1.742H76.3V94a1.073,1.073,0,0,1,1.183-1.166,1.031,1.031,0,0,1,1.018.6Zm4.437-.051a.947.947,0,0,0-.962.99.965.965,0,1,0,.962-.99Zm1.635,2.472h-.617v-.476a1.4,1.4,0,0,1-1.126.521,1.454,1.454,0,0,1-1.51-1.516,1.53,1.53,0,0,1,1.624-1.55,1.5,1.5,0,0,1,1.629,1.579Zm2.309-2.4a1.014,1.014,0,0,0-.339-.068c-.453,0-.572.283-.572.758v1.709h-.628V94.031a1.052,1.052,0,0,1,1.183-1.2,1.958,1.958,0,0,1,.492.085Zm1.907-.622a1.78,1.78,0,0,1,.843.2l-.209.5a1.087,1.087,0,0,0-.56-.164,1,1,0,0,0,.039,2.008,1.167,1.167,0,0,0,.577-.158l-.046.56a1.628,1.628,0,0,1-.656.13,1.536,1.536,0,0,1,.011-3.072m2.8.549a.946.946,0,0,0-.961.99.965.965,0,1,0,.961-.99Zm1.635,2.472h-.617v-.476A1.4,1.4,0,0,1,91.5,95.9a1.454,1.454,0,0,1-1.51-1.516,1.53,1.53,0,0,1,1.624-1.55,1.5,1.5,0,0,1,1.629,1.579Zm-30.283,4.86a.81.81,0,0,1-.877-.9V96.72h2.744l-.1.565H62.758v1.159h1.759l-.1.543H62.758V99.7c0,.357.158.447.373.447h1.658l-.1.566Zm3.853-2.472a.923.923,0,0,0-.962.984.944.944,0,0,0,.962.99.987.987,0,0,0,0-1.975Zm1.606.888a1.613,1.613,0,0,1-3.225.1,1.463,1.463,0,0,1,1.527-1.533,1.315,1.315,0,0,1,1.069.475V96.719h.628Zm1.319-.232h1.7a.776.776,0,0,0-.82-.724.869.869,0,0,0-.882.724m.871-1.2a1.467,1.467,0,0,1,1.51,1.669H69.735a.966.966,0,0,0,1.052.9,1.291,1.291,0,0,0,.662-.164l-.04.532a1.825,1.825,0,0,1-.741.136A1.505,1.505,0,0,1,69.056,99.2a1.473,1.473,0,0,1,1.55-1.51M73.328,99v1.709H72.7V98.9c0-.809.543-1.2,1.335-1.2s1.335.4,1.335,1.2v1.811h-.628V99c0-.481-.232-.763-.707-.763s-.707.283-.707.763m4.351-.69a1.019,1.019,0,0,0-.34-.068c-.453,0-.571.283-.571.758v1.709h-.628V98.892a1.052,1.052,0,0,1,1.182-1.2,1.965,1.965,0,0,1,.493.085Zm1.047.583h1.7a.777.777,0,0,0-.821-.724.869.869,0,0,0-.882.724m.871-1.2a1.467,1.467,0,0,1,1.51,1.669H78.726a.966.966,0,0,0,1.052.9,1.293,1.293,0,0,0,.662-.164l-.04.532a1.827,1.827,0,0,1-.741.136A1.5,1.5,0,0,1,78.048,99.2a1.472,1.472,0,0,1,1.55-1.51m3.554.549a.923.923,0,0,0-.962.984.944.944,0,0,0,.962.99.987.987,0,0,0,0-1.975Zm1.606.888a1.613,1.613,0,0,1-3.225.1,1.463,1.463,0,0,1,1.528-1.533,1.315,1.315,0,0,1,1.069.475V96.72h.628Z"
                                            transform="translate(-26.731 -9.92)" fill="#162056" fill-rule="evenodd" />
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1060" data-name="Grupo 1060" transform="translate(-1226 -1907)">
                                    <g id="Grupo_692" data-name="Grupo 692" transform="translate(-425 -607.362)">
                                        <path id="Caminho_71" data-name="Caminho 71"
                                            d="M1677,2575.876h28.907v-6.714H1677v6.714Z"
                                            transform="translate(0 -18.559)" fill="#f77e0b" fill-rule="evenodd" />
                                        <path id="Caminho_72" data-name="Caminho 72"
                                            d="M1705.907,2550.728H1677v-28.365h28.907v28.365Z"
                                            transform="translate(0 0)" fill="#2b8c37" />
                                        <path id="Caminho_73" data-name="Caminho 73"
                                            d="M1703.818,2554.987h-6.444l-2.228-8.372h1.594a1.72,1.72,0,0,0,1.537-1.656c0-1.092-1-1.069-1.355-1.084h-1.987l-4.306,11.112h-6.384l-4.306-11.744h5.27l2.078,6.234,2.469-9.726h9.44a4.748,4.748,0,0,1,4.623,4.863,4.907,4.907,0,0,1-2.365,4.245l2.365,6.13Z"
                                            transform="translate(-1.165 -6.895)" fill="#fff" />
                                        <path id="Caminho_74" data-name="Caminho 74"
                                            d="M1686.237,2574.84v-3.4a4.875,4.875,0,0,1,.9-.077,1.568,1.568,0,0,1,1,.256.848.848,0,0,1,.313.691.865.865,0,0,1-.175.539.984.984,0,0,1-.486.336.908.908,0,0,1,.507.7,6.435,6.435,0,0,0,.276.957h-.491a4.343,4.343,0,0,1-.23-.819,1.007,1.007,0,0,0-.243-.515.645.645,0,0,0-.458-.151h-.435v1.485Zm.476-3.077V2573h.476a.869.869,0,0,0,.571-.175.631.631,0,0,0,.008-.938.94.94,0,0,0-.593-.162,1.993,1.993,0,0,0-.461.041Zm4.433,1.935h-1.8a.812.812,0,0,0,.248.615.889.889,0,0,0,.617.214,1.882,1.882,0,0,0,.723-.128l.081.333a2.1,2.1,0,0,1-.865.164,1.18,1.18,0,0,1-1.265-1.254,1.414,1.414,0,0,1,.33-.953,1.1,1.1,0,0,1,.884-.384.95.95,0,0,1,.786.341,1.3,1.3,0,0,1,.274.836,1.1,1.1,0,0,1-.016.215Zm-1.792-.343h1.346a.775.775,0,0,0-.165-.516.581.581,0,0,0-.47-.2.638.638,0,0,0-.478.2.9.9,0,0,0-.233.516Zm2.9,1.485h-.476v-2.114h-.348v-.364h.348v-.113a1.245,1.245,0,0,1,.243-.821.827.827,0,0,1,.673-.291,1.034,1.034,0,0,1,.395.072l-.056.369a.74.74,0,0,0-.3-.056q-.486,0-.486.712v.128h.609v.364h-.6v2.114Zm3.036-1.142h-1.8a.813.813,0,0,0,.248.615.889.889,0,0,0,.617.214,1.879,1.879,0,0,0,.722-.128l.082.333a2.109,2.109,0,0,1-.865.164,1.181,1.181,0,0,1-1.265-1.254,1.415,1.415,0,0,1,.33-.953,1.1,1.1,0,0,1,.884-.384.949.949,0,0,1,.786.341,1.3,1.3,0,0,1,.274.836,1.129,1.129,0,0,1-.015.215Zm-1.792-.343h1.346a.777.777,0,0,0-.164-.516.583.583,0,0,0-.47-.2.639.639,0,0,0-.479.2.9.9,0,0,0-.233.516Zm2.856,1.485h-.476v-2.478h.476v2.478Zm.067-3.23a.293.293,0,0,1-.307.3.291.291,0,0,1-.218-.087.3.3,0,0,1-.084-.215.287.287,0,0,1,.086-.211.3.3,0,0,1,.221-.085.3.3,0,0,1,.217.085.286.286,0,0,1,.085.211Zm2.452,2.78.087.358a1.734,1.734,0,0,1-.7.144l-.123.2a.444.444,0,0,1,.26.121.318.318,0,0,1,.1.232.363.363,0,0,1-.146.311.757.757,0,0,1-.755.017l.077-.225a.52.52,0,0,0,.276.077c.15,0,.226-.053.226-.159s-.135-.188-.405-.21l.215-.378a1.164,1.164,0,0,1-.779-.41,1.279,1.279,0,0,1-.282-.839,1.265,1.265,0,0,1,.382-.952,1.374,1.374,0,0,1,1-.37,1.454,1.454,0,0,1,.65.139l-.1.363a1.165,1.165,0,0,0-.548-.123.854.854,0,0,0-.651.257.92.92,0,0,0-.244.66.9.9,0,0,0,.248.66.856.856,0,0,0,.637.251,1.389,1.389,0,0,0,.573-.123Zm2.438-1.05v.906a3.455,3.455,0,0,0,.041.594h-.435l-.056-.317a.92.92,0,0,1-.783.374.775.775,0,0,1-.566-.209.68.68,0,0,1-.212-.5.761.761,0,0,1,.392-.688,2.229,2.229,0,0,1,1.145-.238v-.046a.56.56,0,0,0-.144-.411.577.577,0,0,0-.43-.147,1.224,1.224,0,0,0-.676.19l-.107-.313a1.573,1.573,0,0,1,.855-.225.95.95,0,0,1,.731.267,1.087,1.087,0,0,1,.247.767Zm-.466.656v-.409a1.715,1.715,0,0,0-.832.143.443.443,0,0,0-.233.394.406.406,0,0,0,.117.308.427.427,0,0,0,.308.111.648.648,0,0,0,.456-.168.5.5,0,0,0,.185-.379Zm-.871-2.033h-.241a.712.712,0,0,1,.089-.383.278.278,0,0,1,.249-.139.791.791,0,0,1,.333.118.545.545,0,0,0,.235.087c.08,0,.125-.073.133-.22h.236q0,.507-.348.507a.7.7,0,0,1-.322-.113.55.55,0,0,0-.23-.087c-.077,0-.121.077-.133.23Zm4.418,1.614a1.413,1.413,0,0,1-.167.7,1.142,1.142,0,0,1-.466.46,1.341,1.341,0,0,1-.647.161,1.215,1.215,0,0,1-.9-.354,1.248,1.248,0,0,1-.353-.92,1.279,1.279,0,0,1,.365-.959,1.258,1.258,0,0,1,.919-.357,1.2,1.2,0,0,1,.9.354,1.258,1.258,0,0,1,.346.916Zm-2.043.03a1.018,1.018,0,0,0,.218.671.677.677,0,0,0,.545.265.7.7,0,0,0,.56-.266,1.029,1.029,0,0,0,.223-.686,1.06,1.06,0,0,0-.206-.659.666.666,0,0,0-.562-.272.679.679,0,0,0-.57.27,1.076,1.076,0,0,0-.209.677Z"
                                            transform="translate(-3.663 -19.342)" fill="#fff" />
                                    </g>
                                    <g id="Retângulo_214" data-name="Retângulo 214" transform="translate(1226 1907)"
                                        fill="none" stroke="#6c787a" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                </g>
                            </svg>
                        </li>
                    </ul>
                    <p class="x-payments-card__option-label">
                        Adicionais exclusivamente para Pessoa Jurídica
                    </p>
                    <div class="x-payments-card__option-border"></div>
                </li>
                <li class="x-payments-card__option">
                    <ul class="x-payments-card__option-flags">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="50" viewBox="0 0 80 50">
                                <g id="Grupo_1115" data-name="Grupo 1115" transform="translate(-1329 -1971)">
                                    <g id="Retângulo_214" data-name="Retângulo 214" transform="translate(1329 1971)"
                                        fill="none" stroke="#a7aeaf" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <path id="Caminho_101" data-name="Caminho 101"
                                        d="M120.825,68.115a2.432,2.432,0,0,1,0-4.826,2.469,2.469,0,0,1,2.047.948l1.73-1.248a4.456,4.456,0,0,0-3.877-1.88,4.568,4.568,0,1,0-.033,9.136,4.4,4.4,0,0,0,3.977-1.98l-1.764-1.2a2.323,2.323,0,0,1-2.08,1.048m21.714-1.032a2.1,2.1,0,0,1-2.09,1.348c-.865,0-1.4-.452-1.4-1.135,0-.716.478-1.018,1.46-1.018h2.032Zm-1.5-5.991a8.394,8.394,0,0,0-4.044,1.032l.8,1.764a5.7,5.7,0,0,1,2.672-.782c1.231,0,1.873.549,1.873,1.5v.182h-2.482c-2.2,0-3.411,1.007-3.411,2.688a2.772,2.772,0,0,0,3.079,2.792,3.559,3.559,0,0,0,2.813-1.169v.979h2.511l-.017-5.806c-.017-2.013-1.4-3.177-3.794-3.177m11.5.032-2.2,5.558-2.193-5.558H145.5l3.5,8.932-1.349,3.41h2.683l4.829-12.342Zm-21.478-2.712h-2.349v2.17h2.216c1.464,0,2.3.711,2.3,2.009,0,1.331-.832,2.059-2.3,2.059h-2.216V60.582h-2.577v9.494h2.577V66.821h2.349c2.962,0,4.659-1.608,4.659-4.321,0-2.579-1.7-4.088-4.659-4.088M116.048,60.13h-3.436V56.694h3.436Zm.859-4.295h-5.154v5.154h5.154Zm-11.392,2.577h-2.442v2.17h2.309c1.464,0,2.3.711,2.3,2.009,0,1.331-.832,2.059-2.3,2.059h-2.309V60.582H100.5v9.494h2.577V66.821h2.442c2.962,0,4.659-1.608,4.659-4.321,0-2.579-1.7-4.088-4.659-4.088m9.674-.859h-1.718v1.718h1.718Zm-3.436,12.523h2.577V62.616h-2.577Z"
                                        transform="translate(1241.504 1931.165)" fill="#11c76f" />
                                </g>
                            </svg>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="80" height="50" viewBox="0 0 80 50">
                                <defs>
                                    <clipPath id="clip-path">
                                        <path id="Caminho_34" data-name="Caminho 34"
                                            d="M1137.75,182.5a16.758,16.758,0,0,0-18.827-3.4,5.992,5.992,0,0,1-.792,7.482h0a5.968,5.968,0,0,1-7.482.794,16.785,16.785,0,1,0,27.1-4.881Z"
                                            transform="translate(-1109.126 -177.583)" fill="none" />
                                    </clipPath>
                                </defs>
                                <g id="Grupo_1116" data-name="Grupo 1116" transform="translate(-1431 -1971)">
                                    <g id="Retângulo_384" data-name="Retângulo 384" transform="translate(1431 1971)"
                                        fill="none" stroke="#a7aeaf" stroke-width="1">
                                        <rect width="80" height="50" rx="5" stroke="none" />
                                        <rect x="0.5" y="0.5" width="79" height="49" rx="4.5" fill="none" />
                                    </g>
                                    <g id="Grupo_1045" data-name="Grupo 1045" transform="translate(-12 -43)">
                                        <path id="Caminho_1563" data-name="Caminho 1563"
                                            d="M1119.2,185c0,.672,1.149,1.417,1.15,2.183a.426.426,0,0,1-.034.153c1.072.224,1.831.745,1.832,1.36,0,.825-1.341,1.5-3.006,1.511h-.054c-1.661,0-3.008-.653-3.008-1.475,0-.614.821-1.112,1.813-1.376,0,.341,1.13,1.412,1.156,1.845a.587.587,0,0,1,.006.081.219.219,0,0,1-.006.062c.245-.128.245-.524.245-.524,0-.941-1.1-1.359-1.1-2.285a.789.789,0,0,1,.324-.7v.259c0,.673,1.188,1.424,1.189,2.038v.2c.276-.106.276-.608.276-.608,0-.848-1.105-1.317-1.106-2.286a.782.782,0,0,1,.323-.7V185"
                                            transform="translate(351.949 1839.29)" fill="#fff" />
                                        <path id="Caminho_1564" data-name="Caminho 1564"
                                            d="M1137.75,182.5a16.758,16.758,0,0,0-18.827-3.4,5.992,5.992,0,0,1-.792,7.482h0a5.968,5.968,0,0,1-7.482.794,16.785,16.785,0,1,0,27.1-4.881Z"
                                            transform="translate(357.146 1844.642)" fill="#e00303" />
                                        <g id="Grupo_1044" data-name="Grupo 1044"
                                            transform="translate(1466.272 2022.225)">
                                            <g id="Grupo_621" data-name="Grupo 621" clip-path="url(#clip-path)">
                                                <g id="Grupo_620" data-name="Grupo 620"
                                                    transform="translate(23.05 0.92)">
                                                    <rect id="Retângulo_184" data-name="Retângulo 184" width="2.399"
                                                        height="7.212" transform="translate(0 0.002)" fill="#fde430" />
                                                    <rect id="Retângulo_185" data-name="Retângulo 185" width="2.399"
                                                        height="7.212" transform="translate(2.399)" fill="#41a93a" />
                                                </g>
                                            </g>
                                        </g>
                                        <path id="Caminho_1565" data-name="Caminho 1565"
                                            d="M1158.12,228.343h0v-1.148a1.557,1.557,0,0,0-1.555-1.555h-11.5a1.558,1.558,0,0,0-1.555,1.555h0v1.148h0v.687h-1.375a1.557,1.557,0,0,0-1.555,1.555v6.9a1.544,1.544,0,0,0,.456,1.1,1.572,1.572,0,0,0,.326.25,1.542,1.542,0,0,0,.773.206h11.5a1.557,1.557,0,0,0,1.555-1.555v-1.837h1.375a1.557,1.557,0,0,0,1.555-1.555v-5.747Zm-13.8-1.149h0a.748.748,0,0,1,.744-.744h11.5a.737.737,0,0,1,.369.1.765.765,0,0,1,.157.121.738.738,0,0,1,.219.525v.743h-12.984Zm0,1.554h12.984v1.488h-12.984Zm10.054,8.733a.745.745,0,0,1-.744.744h-11.5a.747.747,0,0,1-.744-.744v-6.9a.745.745,0,0,1,.744-.744h1.375v.8h0v3.448a1.556,1.556,0,0,0,1.555,1.555h9.311Zm2.186-2.648h-11.5a.745.745,0,0,1-.744-.744v-3.042h12.984v3.042A.745.745,0,0,1,1156.565,234.834Z"
                                            transform="translate(333.626 1808.712)" fill="#fff" />
                                        <path id="Caminho_1566" data-name="Caminho 1566"
                                            d="M1116.239,184.892h0a4.8,4.8,0,0,0-6.789-6.792h0a4.809,4.809,0,0,0-1.241,4.636l.012.045.017.059a4.815,4.815,0,0,0,1.892,2.609l0,.008A4.793,4.793,0,0,0,1116.239,184.892Z"
                                            transform="translate(357.953 1845.309)" fill="#e00303" />
                                        <path id="Caminho_1567" data-name="Caminho 1567"
                                            d="M1119.562,186.133a1.288,1.288,0,0,0-.171-.588l-.928-1.609a1.279,1.279,0,0,1-.147-.389l-.039.067a1.289,1.289,0,0,0,0,1.287l.742,1.287a1.29,1.29,0,0,1,0,1.287l-.039.067a1.29,1.29,0,0,0-.147-.389l-.68-1.178-.434-.753a1.294,1.294,0,0,1-.147-.389l-.039.067a1.289,1.289,0,0,0,0,1.283h0l.745,1.291a1.288,1.288,0,0,1,0,1.287l-.039.067a1.289,1.289,0,0,0-.147-.389l-.928-1.609a1.289,1.289,0,0,1-.171-.7c-.993.26-1.679.812-1.679,1.45,0,.889,1.327,1.609,2.963,1.609s2.963-.72,2.963-1.609c0-.639-.686-1.191-1.679-1.451"
                                            transform="translate(352.519 1840.183)" fill="#fff" fill-rule="evenodd" />
                                    </g>
                                </g>
                            </svg>
                        </li>
                        <li>
                            <img src="/arquivos/payments_card-caixa_tem_icon.jpg" alt="Caixa tem icon"/>
                        </li>
                    </ul>
                    <p class="x-payments-card__option-label">
                        Já habilitadas para Pessoa Física e Pessoa Jurídica
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
