.supergetqa-myvtex-com.body-cart {
    @include mq('sm', max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.body-cart {
    padding-bottom: 0 !important;
    .checkout-container {
        overflow: hidden !important;
        max-width: 1170px;
        .cart-more-options.span7 {
            width: 50%;
            margin: 0 auto;
            .srp-shipping-current-single__wrapper {
                padding: 0px 20px;
            }
            .srp-description.mw5 {
                margin: 0 auto;
            }
            @media screen and (max-width: 800px) {
                width: 100%;
                margin: 0 auto;
                .srp-container {
                    margin: 0 auto;
                }
            }
        }
    }
}

.container-cart {
    width: 100%;
    margin: 0 auto;
    padding-left: 2.5%;
    background-color: #fafafa;
    padding-right: 2.5%;
    #cart-title {
        color: red;
        width: 100%;
        font-weight: 600;
        text-align: left;
        max-width: 1170px;
        @media (max-width: 490px) {
            margin-left: 15px;
        }
    }
    .transactions-container {
        .transactions.span5.pull-right {
            display: flex;
        }
    }
}

.cart-template {
    .cart-template-holder {
        .cart {
            border: none;
            .table.cart-items {
                thead {
                    tr {
                        border-bottom: 1px solid $secondary-text-color;
                        th {
                            color: $color-purple;
                        }
                        .shipping-date {
                            display: none;
                        }
                    }
                }
                tbody {
                    .product-item {
                        background-color: white;
                        @media (max-width: 490px) {
                            display: flex;
                            flex-direction: column;
                            @include rem(padding, 12px);
                        }
                        td {
                            @include rem(padding, 20px);
                            @media (max-width: 490px) {
                                margin-left: 25%;
                                @include rem(padding, 6px !important);
                            }
                        }
                        .product-image {
                            @media (max-width: 490px) {
                                position: absolute;
                                margin: 0;
                                top: 25%;
                                left: 5%;
                            }
                        }
                        .product-name {
                            a {
                                color: $color-purple;
                                font-weight: bold;
                                font-size: 16px;
                                text-decoration: none;
                                cursor: pointer;
                            }
                            .brand {
                                @media (max-width: 490px) {
                                    display: block;
                                }
                                @include rem(margin-top, 8px);
                                .brand-label {
                                    display: none;
                                }
                                .brand-name {
                                    display: block;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                }
                            }
                            .seller.muted {
                                display: none;
                            }
                            .clone-item-sep,
                            .clone-item.btn.btn-mini {
                                display: none;
                            }
                        }
                        .shipping-date {
                            display: none;
                        }
                        .product-price {
                            @media (max-width: 490px) {
                                display: none;
                            }
                            .best-price {
                                font-weight: bold;
                                color: $color-purple;
                                @include rem(font-size, 16px);
                            }
                        }
                        .quantity {
                            @media (max-width: 490px) {
                                display: flex;
                            }
                            a {
                                color: $color-purple;
                            }
                        }
                        .quantity-price {
                            @media (max-width: 490px) {
                                display: block;
                                text-align-last: left;
                            }
                            .total-selling-price {
                                font-weight: bold;
                                color: $cart-table-text-color;
                                @include rem(font-size, 16px);
                            }
                        }
                        .item-remove {
                            @media (max-width: 490px) {
                                position: absolute;
                                top: 25%;
                                right: 8%;
                            }
                            .loading-text.icon-spinner.icon-spin {
                                display: none !important;
                            }
                            i {
                                display: none;
                                @media (max-width: 768px) {
                                    display: block !important;
                                }
                            }
                            .item-remove-text {
                                display: block !important;
                                color: $color-purple;
                                @include rem(font-size, 14px);
                                text-transform: capitalize;
                                font-weight: 600;
                                text-decoration: underline;
                                @media (max-width: 768px) {
                                    display: none !important;
                                }
                            }
                        }
                    }
                    .item-attachments-head.item-attachments-name-chip {
                        display: none;
                    }
                    .item-attachments-content.item-attachments-name-chip {
                        border-top: 1px solid #ddd;
                                                                    
                        .item-attachment.item-attachment-name-chip {
                            margin: 0;
                            margin-top: 10px;
                            @media (max-width: 490px) {
                                margin: 0;
                            }
                            label::before{
                                content: ' ';
                                position: absolute;
                                top: 116px;
                                left: 35px;
                                border: 15px solid;
                                transform: rotate(180deg);
                                border-color: #eee transparent transparent transparent;
                                @media (max-width: 490px) {
                                    top: -29px;
                                }
                            }  
                            label {
                                display: inline-block;
                                margin-left: 41px;
                            }
                            label::after {
                                content: "Chip";
                                margin-left: 31rem;
                                color: #000;
                                font-weight: bold;
                                padding-left: 15px;
                                padding-right: 15px;
                                background-color: #eeeeee;
                                top: 132px;
                                position: absolute;
                                border-top: 1px solid #ddd;
                                @media (max-width: 490px) {
                                    display: none;
                                }
                            }
                            .input-large.item-attachment-value {
                                padding-top: 0;
                                padding-bottom: 0;
                                margin: 0;
                                display: block;
                                border: none;
                                margin-top: 10px;
                                margin-bottom: 10px;
                                margin-left: 57px;
                                text-transform: uppercase;
                                font-weight: 500;
                                font-size: 13px;
                                @media (max-width: 490px) {
                                    margin-top: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .summary-template-holder {
        .forms.coupon-column.summary-coupon-wrap.span7.pull-left {
            display: none;
            .coupon.summary-coupon.pull-right {
                padding: 0;
                margin: 0;
                max-width: 320px;
                width: 100%;
                display: block;
                background-color: white;
                padding: 1rem;
                @include mq('sm', max) {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
                .coupon-form {
                    .coupon-fieldset {
                        .coupon-data.pull-right {
                            .link-coupon-add {
                                font-size: 12px;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .coupon-fieldset {
                    .coupon-data.pull-right {
                        margin: 0;
                        float: none;
                        @include rem(font-size, 12px);
                        text-transform: uppercase;
                        font-weight: bold;
                        text-decoration: none;
                        cursor: pointer;
                        color: #333;
                        background-color: red;
                        padding: .5rem 1rem;
                        border-radius: 50px;
                        a {
                            color: white;
                            text-align: center;
                            display: block;
                        }
                    }
                    .coupon-label {
                        color: red;
                        margin-bottom: 14px;
                        text-transform: uppercase;
                        label {
                            @include rem(font-size, 16px);
                            font-weight: bold;
                        }
                    }
                    .coupon-fields {
                        margin: 0;
                        #cart-coupon {
                            box-shadow: none;
                            padding: 16px 8px;
                            color: $color-purple;
                            font-weight: bold;
                            border: 1px solid #333;
                            font-size: 14px;
                            border-radius: 0;
                            width: 45%;
                        }
                        #cart-coupon-add {
                            background-color: $color-purple;
                            background-image: none;
                            text-shadow: none;
                            box-shadow: none;
                            color: white;
                            font-size: 12px;
                            padding: 8px 30px;
                            font-weight: bold;
                            text-transform: uppercase;
                            border-radius: 50px;
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
        .monetary {
            text-align: right;
            @include mq('sm', max) {
                @include rem(font-size, 14px);
                font-weight: bold;
            }
        }
        .info {
            text-align: left;
            @include mq('sm', max) {
                @include rem(font-size, 14px);
                font-weight: bold;
            }
        }
        .empty {
            display: none;
        }
        .span5.totalizers.summary-totalizers.cart-totalizers.pull-right {
            .accordion-group {
                background-color: white;
                padding: 1rem;
            }
            .table {
                .shipping-calculate {
                    .shipping.summary-shipping {
                        margin-left: auto;
                        margin-right: 15px;
                    }
                    tr {
                        .monetary.form-postal-code.forms {
                            width: 100%;
                            padding: 0 !important;
                            .shipping-fieldset {
                                padding: 0 !important;
                                margin-left: 1rem;
                                @media (max-width: 768px) {
                                    margin-right: 2rem;
                                    margin-top: 5px;
                                }
                                @media (max-width: 340px) {
                                    margin-left: 0;
                                }
                                .shipping-fields {
                                    display: flex;
                                    justify-content: flex-end;
                                    #summary-postal-code {
                                        padding: 13px 8px;
                                        max-width: none;
                                        width: 120px;
                                        color: $color-purple;
                                        box-shadow: none;
                                        font-weight: bold;
                                        border: 1px solid #333;
                                        font-size: 14px;
                                        border-radius: 0;
                                    }
                                    #cart-shipping-calculate {
                                        background: transparent;
                                        background-color: $color-purple;
                                        background-image: none;
                                        text-shadow: none;
                                        box-shadow: none;
                                        color: white;
                                        font-size: 10px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        -webkit-border-radius: 50px;
                                        border-radius: 50px;
                                        margin-left: 10px;
                                    }
                                }
                                .postal-code-service.summary-postal-code-service {
                                    text-align: right;
                                    padding-top: 4px;
                                    padding-left: 20px;
                                    a {
                                        color: $color-purple;
                                    }
                                }
                            }
                        }
                    }
                }
                tbody {
                    padding: 0 !important;
                    tr {
                        border: none;
                        td {
                            @include rem(font-size, 14px);
                            color: #999999;
                            font-weight: 500;
                        }
                    }
                    .Shipping {
                        .info {
                            .postal-code-for-sla {
                                position: relative;
                                @include rem(font-size, 14px);
                                .cart-reset-postal-code {
                                    color: $color-purple;
                                    position: absolute;
                                    top: 0;
                                    right: -20px;
                                }
                            }
                            .btn-group.shipping-sla-selector {
                                a {
                                    width: 100%;
                                    margin-top: 5px;
                                }
                            }
                        }
                        .monetary {
                            color: $color-purple;
                            @include rem(font-size, 14px);
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .clearfix.pull-right.cart-links.cart-links-bottom.hide {
        width: 36%;
        max-width: 500px;
        margin: 0;
        padding: 1rem;
        background-color: white;
        @include mq('sm', max) {
            width: 100%;
            max-width: none;
        }
        @media (max-width: 768px) {
            margin-top: -5px;
        }
        .link-choose-more-products-wrapper {
            #cart-choose-more-products {
                text-align: center;
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                color: $color-purple;
                font-weight: 700;
                margin: 0 auto;
            }
        }
        .btn-place-order-wrapper {
            #cart-to-orderform {
                @include rem(font-size, 12px);
                font-weight: 700;
                text-shadow: none;
                @include mq('sm', max) {
                    line-height: 36px;
                }
            }
        }
    }
}

.cart-template.full-cart.span12.active {
    @include mq('sm', max) {
        margin-bottom: 30px;
    }
}

.span5.totalizers.summary-totalizers.cart-totalizers.pull-right {
    padding: 0 !important;
    margin-bottom: 0;
}

.item-attachments-item-image {
    display: none;
}

.item-attachments-item-fields {
    padding-bottom: 0;
}

.x-checkout__fake-button {
    position: absolute;
    display: block;
    height: 36px;
    width: 204px;
    z-index: 2;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    @include mq(sm, max) {
        width: 256px;
    }
}

.payment-submit-wrap {
    position: relative;
}

@media only screen and (max-width:600px) {
    #cart-to-orderform {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 72px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        margin-top: 16px;
        max-width: 100% !important;
        background: 0 0;
        background-color: $color-red-light;
        z-index: 999;
        font-size: 0.75rem;
        font-weight: 700;
        border-radius: 0 !important;
        bottom: 0;
        left: 0;
    }
    .full-cart .cart-links-bottom .btn-success {
        width: 100%;
    }
    #payment-data-submit {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 72px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        max-width: 100% !important;
        margin-top: 16px;
        background: 0 0;
        background-color: $color-red-light;
        z-index: 999;
        font-size: 0.75rem;
        font-weight: 700;
        border-radius: 0 !important;
        bottom: 0;
        left: 0;
    }
}
