.x-landing--app {
      
    .x-banner {
        width: 100%;
        height: 463px;
        background-image: linear-gradient(0deg, #fcfcfc 0%, #d8d8d8 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 767px) { 
            flex-direction: column;
            height: auto;
            padding-top: 35px;
            text-align: center;
        }


        &__img {
            width: 460px;
            height: 460px;
            max-width: 100%;
            @media only screen and (max-width: 767px) { 
                order: 2;
                height: auto;
            }
        }

        &__title {
            margin-bottom: 20px;
            color: #662c62;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            text-transform: uppercase;
            @media only screen and (max-width: 767px) {
                display: inline-block;
                max-width: 100%;
                width: 240px;
                margin-bottom: 0;
                font-size: 28px;
                line-height: 32px;
            }
        }

        &__btn {
            width: 210px;
            height: 40px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #ff0000;
            border: none;
            border-radius: 25px;
            box-shadow: none;
            outline: none;
            @media only screen and (max-width: 767px) { display: none; }
        }

        .size_title {
            width: 440px;
            max-width: 100%;
            @media only screen and (max-width: 767px) { 
                order: 1;
            }
        }

    }

    .x-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        @media only screen and (max-width: 767px) { 
            padding: 0 20px;
            margin: 30px 0;
        }

        &__title {
            display: block;
            margin-bottom: 10px;
            color: #662c62;
            font-size: 25px;
            text-transform: uppercase;
            @media only screen and (max-width: 767px) {
                margin-bottom: 20px;
                font-size: 22px;
                text-align: center;
            }
            .color_title {
                color: #ff0000;
                font-weight: bold;
            }
        }

        &__subtitle {
            color: #676767;
            width: 62%;
            font-size: 18px;
            text-align: center;
            @media only screen and (max-width: 767px) {
                width: 100%;
                font-size: 16px;
            }
            .color_se {
                color: #ff0000;
                font-weight: bold;
            }
        }
        
    }

    .x-flexslick {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__content-type {
            width: 100%;
            max-width: 800px;
        }

        &__slider {
            margin-top: 40px;
            width: 100%;
            .slick-dots {
                @include mq(sm, max) {
                    @include rem(margin-top, 4px);
                }
                li {                
                    width: 9px;
                    height: 9px;
                    border: 1px solid #ff0000;
                    background-color: $color-white;
                    transition: all .175s $accelerate-ease;
                    &.slick-active {
                        transition: all .175s $decelerate-ease;
                        background-color: #ff0000;
                    }
                    button {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        
        }
        
        &__wrapper2 {
            display: flex;
            flex-direction: column;
            margin-left: 38px;
            margin-bottom: auto;
        }

        &__img-container {
            width: 256px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__title-single {
            width: 400px;
            color: #662C62;
            margin-top: 33.5px;
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
        }

        &__title-single2 {
            margin-top: 33.5px;
            color: #662C62;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    
        &__title-single3 {
            width: 310px;
            margin-top: 33.5px;
            color: #662C62;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.5;
        }
    
        &__subtitle-single {
            color: #707070;
            font-size: 16px;
            width: 325px;
            margin-top: 20px;
        }

        &__subtitle-single2 {
            color: #707070;
            font-size: 16px;
            width: 325px;
            margin-top: 20px;
        }
    
        &__subtitle-single3 {
            color: #707070;
            font-size: 16px;
            width: 325px;
            margin-top: 20px;
        }
    }

    @media only screen and (max-width: 767px) {
        .x-flexslick {
            display: none;
        }
    }


    .x-flexslick2 {
        display: none;
        padding: 0 20px;

        @media only screen and (max-width: 767px) { display: block; }

        &__slider { margin-top: 30px;
            .slick-dots {
                @include mq(sm, max) {
                    @include rem(margin-top, 4px);
                }
                li {                
                    width: 9px;
                    height: 9px;
                    border: 1px solid #ff0000;
                    background-color: $color-white;
                    transition: all .175s $accelerate-ease;
                    &.slick-active {
                        transition: all .175s $decelerate-ease;
                        background-color: #ff0000;
                    }
                    button {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__wrapper { text-align: center; }        

        &__img-container {
            display: inline-block;
            width: 75%;
        }

        &__title-single,
        &__title-single2,
        &__title-single3 {
            margin-top: 10px;
            color: #662C62;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    
        &__subtitle-single,
        &__subtitle-single2,
        &__subtitle-single3 {
            color: #707070;
            font-size: 16px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 35px;
        }

    }

    .x-youtube {
        background: #F8F8F8;
        padding: 50px 0;
        display: flex !important;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        min-width: 50%;
        box-sizing: border-box;
        
        &__title {
            width: 255px;
            max-width: 100%;
            margin-top: 50px;
            color: #662C62;
            font-weight: bold;
            font-size: 22px;
            line-height: 1.5;
            text-transform: uppercase;
        }

        &__subtitle {
            color: #707070;
            font-size: 16px;
            width: 270px;
            margin-top: 15px;

            div {
                margin-right: 0 !important;
                margin-top: 15px;
                a { margin-right: 10px; }
            }

        }

        iframe {
            width: 645px;
            height: 343px;
            max-width: 100%;
            margin-left: 75px;
        }

    }

    @media only screen and (max-width: 767px) {
        .x-youtube { display: none !important; }
    }


    .x-youtubemq {
        display: none;
        width: 100%;
        padding: 30px 0;
        text-align: center;
        background: #F8F8F8;
        box-sizing: border-box;

        @media only screen and (max-width: 767px) { display: block; }

        &__title {
            display: inline-block;
            width: 240px;
            max-width: 100%;
            margin-bottom: 25px;
            color: #662c62;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
        }

        &__subtitle {
            display: inline-block;
            width: 265px;
            max-width: 100%;
            margin-top: 20px;
            margin-bottom: 15px;
            color: #707070;    
            font-size: 16px;
            text-align: center;
        }

        &__button {
            a { margin: 0 5px; }
        }

        iframe { height: 245px; }
        
    }


    /*  classe slick  */
    .slick-next {
        background-image: url("img/next.svg") !important;
        background-repeat: no-repeat !important;
        color: transparent;
        position: absolute;
        right: 0%;
        top: 50%;
        cursor: pointer;
    }

    .slick-prev {
        background-image: url("img/back.svg") !important;
        background-repeat: no-repeat !important;
        color: transparent;
        position: absolute;
        top: 50%;
        z-index: 10;
        cursor: pointer;

    }

    .slick-arrow {
        background: none;
        box-shadow: none;
        border: none;
        outline: none;
        z-index: 10;
    }

    .single-item .slick-slide .slick-current .slick-active {
        outline: none;
    }

    @media only screen and (max-width: 767px) {
      
        .slick-prev {
            top: 70%;
            left: 0;
        }

        .slick-next {
            top: 70%;
            right: 0;
        }
    }
}
