
.x-ajax-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-white, .75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    perspective: 600;
    z-index: z('ajax-loader');

    .icon-loader {
        &__spinner,
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__spinner {
            @include rem(height, 160px);
            @include rem(width, 160px);
        }

        &__logo {
            @include rem(height, 60px);
            @include rem(width, 60px);
        }
    }
}
