footer.x-footer {
    background: #501e50;
    color: #FFF;
    padding: 70px 140px 15px;
}

.x-footer__item--image {
    height: 70px;
}

footer.x-footer .x-footer__contents {
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
}

.x-footer__item--icone {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

footer.x-footer .x-footer__contents .x-footer__item {
    flex: 4;
    text-align: left;
    line-height: 20px;
}

footer.x-footer .x-footer__copyright {
    border-top: 1px solid #FFF;
    padding: 42px 0;
    text-align: center;
    font-size: 12px;
}

.x-footer__copyright--top {
    background: #ffff;
    color: #501e50;
    text-align: center;
    height: 50px;
    line-height: 47px;
    font-size: 13px;
}

footer.x-footer .x-footer__contents .x-footer__item h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    font-weight: bold;
    &.bottom {
        margin-bottom: 0px !important;
    }
}

footer.x-footer .x-footer__contents .x-footer__item .x-footer__item--block .h3-font-menor {
    font-size: 14px;
}

footer.x-footer .x-footer__contents .x-footer__item .x-footer__item--block .p {
    font-size: 9px;
}

footer.x-footer .x-footer__contents .x-footer__item ul li a {
    font-size: 13px;
    color: #FFF;
    line-height: 23px;
    font-weight: 400;
}

footer.x-footer .x-footer__contents .x-footer__item .x-footer__item--block+.x-footer__item--block {
    margin-top: 25px;
}

footer.x-footer .x-footer__contents .x-footer__item ul li {
    font-weight: inherit;
    font-size: 12px;
    line-height: 18px;
}

footer.x-footer .x-footer__contents .x-footer__item:nth-child(3) ul li strong {
    font-size: 12px;
    font-weight: 400;
}

footer.x-footer .x-footer__contents .x-footer__item--social ul {
    display: flex;
    flex-direction: row;
    margin: 30px -9px 137px;
    align-items: center;
}

footer.x-footer .x-footer__contents .x-footer__item--social ul li,
footer.x-footer .x-footer__contents .x-footer__item--apps ul li,
footer.x-footer .x-footer__contents .x-footer__item--powered ul li {
    margin: 0 8px;
}

footer.x-footer .x-footer__contents .x-footer__item--apps ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3px -9px 40px
}

footer.x-footer .x-footer__contents .x-footer__item--powered,
footer.x-footer .x-footer__contents .x-footer__item--powered ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

html body>img {
    display: none;
}