
html {
    @include rem-baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

html body > img {
    display: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* stop WebKit and Windows mobile changing text size */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    color: $color-body-text;
    background-color: $color-body-bg;
    font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    @include reset-box-model;
}

a {
    @include reset-link;
}

ul,
ol {
    @include reset-list;
}

img {
    @include reset-media;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/**
 * Forms Reset
 */
input {
    @extend %form-reset-input;
}

label {
    @extend %form-reset-label;
}

select {
    @extend %form-reset-select;
}

button {
    @extend %form-reset-button;
}

textarea {
    @extend %form-reset-textarea;
}
