.x-get-orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 97px;

  h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #662C62;
    letter-spacing: 0.8px;
    line-height: 55px;

    .x-red-text {
      font-weight: 700;
      color: #EC0000;
    }
  }
}