.x-rates {
  width: 100%;
  background: #F8F8F8;
  padding: 0 140px;
  margin-top: 93px;
  margin-bottom: 70px;

  &__register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &.x-top {
      position: relative;
      top: -25px;
    }
    &.x-bottom {
      position: relative;
      top: 25px;
    }

    .x-register-button {
      background: #EC0000;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 14px 62px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      letter-spacing: 0.32px;
      line-height: 22px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__title {
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      font-weight: normal;
      color: #662C62;
      letter-spacing: 0.8px;
      line-height: 55px;
      text-align: center;
      margin-top: 28px;

      .x-red-text {
        font-weight: 700;
        color: #ec0000;
      }
    }
    &__subtitle {
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #676767;
      letter-spacing: 0;
      line-height: 33px;
      text-align: center;
      margin-top: 28px;
    }
    &__text {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      color: #676767;
      letter-spacing: 0;
      line-height: 27px;
      text-align: center;
      margin-top: 12px;

      a {
        text-decoration: underline;
        font-weight: 700;
      }
    }
    &__flag {
      box-sizing: border-box;
      border-radius: 0;
      border: 3px solid #EC0000;
      margin-top: 49px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      padding: 0 39px;

      &__percent {
        font-family: "Open Sans", sans-serif;
        font-size: 116px;
        font-weight: 700;
        color: #EC0000;
        letter-spacing: 0;
        line-height: 158px;
      }
      &__text {
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        font-weight: normal;
        color: #EC0000;
        letter-spacing: 0;
        line-height: 55px;
        margin-left: 15px;
      }
      strong {
        font-weight: 700;
      }
    }
  }

  &__contents {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
    @include rem(max-width, 1069px);
    margin: 55px auto 15px;

    .x-rates__first,
    .x-rates__left,
    .x-rates__right {
      width: 32%;
      background: #FFF;
      border: 1px solid #fff;
      text-align: center;
      @include rem(padding, 24px 20px 54px);
    }

    .x-superget-taxas {
      display: flex;
    }
  }

  .x-superget-taxas {
    &__credito--column {
      &:last-child {
        border-top: #f5f5f5 1px solid;
        padding-top: 40px;
        margin-top: 40px;
      }
    }

    &__credito--titulo {
      text-align: center;

      h3 {
        font-size: 21px;
        height: 66px;
        color: #662C62;
        font-weight: bold;
        padding-bottom: 8px;
        background: url('/arquivos/border-bottom.png') no-repeat center bottom;
        white-space: nowrap;
      }
    }

    &__info {
      font-size: 14px;
      color: #5C5C5C;
      text-align: center;

      h4 {
        font-size: 18px;
        font-weight: 900;
        color: #662c62;
        display: inline-block;
        @include rem(margin-left, 5px);
      }

      P {
        font-size: 11px;
        font-weight: 500;
        height: 37px;
      }

      strong {
        color: #662C62;
        margin-left: 6px;
      }
    }

    &__valores {
      font-size: 11px;
      color: #5C5C5C;
      margin: 0 13px;
      font-weight: 500;
      display: block;
      width: 100%;
      margin: 0 auto;

      strong {
        color: #4E1E4B;
        display: block;
        font-size: 22px;
        margin: 10px 0 0 0;

          span {
            font-weight: 400;
            font-size: 12px;
            display: block;
          }
      }

      span.x-discount {
        display: block;
        will-change: transform;
        transform: translateY(5px);
        @include rem(font-size, 9px);
      }

      &.x-border {
        position: relative;
        border-left: 1px solid #ccc;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          border-top: 0;
          border-left: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;
          width: 56%;
          pointer-events: none;
          margin: 0 19%;
          @include rem(bottom, -12px);
          @include rem(height, 8px);
          top: 48px;
        }
      }
    }

    &__credito {
      &--info-taxas {
        margin-top: 27px;
      }

      &--row {
        margin-top: 15px;
      }

      &--ver_melhores_taxas {
        color: #5C5C5C;
        font-weight: 500;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 15px;
      }

      &--sub-infos {
        p {
          color: #A7A7A7;
          font-size: 11px;
          text-align: center;
        }
      }
    }
  }
}