.x-page-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #EC0000;
  box-sizing: border-box;
  padding: 21px 0;

  h1 {
    a {
      font-family: "Open Sans", sans-serif;
      font-size: 28px;
      font-weight: 700;
      color: #FFFFFF;
      letter-spacing: 0.56px;
      line-height: 38px;
      text-align: center;
    }
  }
}