.x-superget-card {
  width: 100%;
  height: auto;
  margin-top: 44.5px;

  &__art {
    width: auto;
    height: auto;
    background: #EC0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: auto;
      height: auto;
    }
  }
  &__text {
    width: auto;
    height: auto;
  }
  &__news {
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: 100;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 49px;
    }
  }
  &__title {
    h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 60px;
      font-weight: 700;
      color: #FFFFFF;
      letter-spacing: 2.64px;
      line-height: 65px;
    }
  }
  &__text-in {
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: normal;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 35px;
    }
    strong {
      font-weight: 700;
    }
  }

  &__benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-wrapper {
      width: 100%;
      height: auto;
      margin: 46.5px auto 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    ul {
      width: auto;
      height: auto;

      &:not(:first-child) {
        margin-left: 100px;
      }
    }

    li {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &:not(:first-child) {
        margin-top: 30px;
      }

      img {
        width: auto;
        height: auto;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #676767;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: 21px;
      }
    }
  }

  &__other-benefits {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 37.63px;

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: normal;
      color: #662C62;
      letter-spacing: 1.1px;
      line-height: 34px;
      margin: 0 11.5px;
      position: relative;

      &::before, &::after {
        content: "";
        width: 280px;
        height: 1px;
        background: #662C62;
        position: absolute;
        top: 58%;
      }

      &::before {
        left: 0;
        $property: translate(-102.5%, -58%);
        -webkit-transform: $property;
        -ms-transform: $property;
        -o-transform: $property;
        transform: $property;
      }

      &::after {
        right: 0;
        $property: translate(102.5%, -58%);
        -webkit-transform: $property;
        -ms-transform: $property;
        -o-transform: $property;
        transform: $property;
      }
    }
  }

  &__benefits-digital {
    width: 100%;
    margin-top: 40.37px;

    ul {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:not(:first-child) {
          margin-left: 92px;
        }

        img {
          width: 60px;
          height: 60px;
        }
      }
    }

    &__text {
      margin-left: 20px;

      h6 {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #676767;
        letter-spacing: 0;
        line-height: 36px;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #676767;
        letter-spacing: 0;
        line-height: 26px;
      }
    }
  }
}