.x-openning {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 74px;

  &::after {
    content: "";
    display: block;
    width: 452px;
    height: 1px;
    background: #AFAFAF;
    position: absolute;
    bottom: -58px;
    left: 50%;
    $property: translateX(-50%);
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
  }

  &__photo {
    width: auto;
    height: auto;

    img {
      width: 265px;
      height: auto;
    }
  }

  &__content {
    width: auto;
    margin-left: 70px;
  }
  &__title {

    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      font-weight: normal;
      color: #662C62;
      letter-spacing: 0.8px;
      line-height: 55px;

      .x-red-text {
        font-weight: 700;
        color: #EC0000;
      }
    }
  }
  &__text {
    width: auto;
    height: auto;

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      color: #676767;
      letter-spacing: 0;
      line-height: 27px;
      margin-top: 25px;
    }

    strong {
      font-weight: 700;
    }
  }
  &__register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;

    .x-register-button {
      background: #EC0000;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 14px 62px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #FFFFFF;
      letter-spacing: 0.32px;
      line-height: 22px;
    }
  }
  &__get-now {
    margin-top: 27px;

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      color: #676767;
      letter-spacing: 0;
      line-height: 27px;

      a {
        font-weight: 700;
        color: #EC0000;
        text-decoration: underline;
      }
    }
  }
}