
$colorMain: #134cd8;
// $colorPink: #E0457B;
$fontSizeMenu: 14px;
body.x-account.x-orders {
    .x-account__container {

        @include mq('sm', max) {
            @include rem(min-height, 1600px);
        }
    }
}


.x-account {
    
    &__main {
       background: rgb(248, 248, 248);
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include rem(padding, 30px);
        @include rem(max-width, 70%);
        @include rem(margin, 0 auto 0);
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
    }
    .x-breadcrumb {
        display: none;
    }
    &__left {
        // @extend %page-content__left;
        display: block;
        width: 100%;
        text-align: center;
        .x-breadcrumb {
            display: none;
        }
    }
    &__left-title {
        @extend %page-content__left-title;
        margin: 0 auto;
        width: 90%;
        max-width: 852px;
        color: #fe0002;
        font-weight: 700;
        letter-spacing: 0;
        padding-bottom: 30px;
    }

    &__content {
        background-color: #fff;
        @include rem(padding,24px);
        border-radius: 18px;
        @extend %page-content__content;

        @include mq('sm') {
            display: inline-block;
            margin: 0 auto;
            width: 100%;
            max-width: 1006px;
        }
    }
    &__logout-btn {
            .icon-account-logout {
                @include rem(margin-right, 6px);
            }
            color: aqua;
            display: flex;
            align-items: center;
            @include rem(font-size, 12px);
            @include font-weight(black);
            letter-spacing: 2px;

            @include mq('sm') {
                border: 0 !important;
                background-color: transparent !important;
                height: auto !important;
                letter-spacing: 2px !important;
                margin: 0 !important;
                padding: 0 0 0 24px !important;

                &:hover {
                    color: $color-black !important;
                    text-decoration: underline !important;
                }
            }

            @include mq('sm', max) {
                position: absolute;
                @include rem(right, 16px);
                @include rem(top, -30px);
            }
        }

    &__user {
        .render-provider {
            .vtex-account {
                > .w-100 {
                    padding-top: 0;
                } 
                &_menu {
                    &-link {
                        color: #222;
                        margin: 0;
                        @include rem(padding, 12px 0 12px 1rem);
                        @include rem(font-size, $fontSizeMenu);
                        &.c-on-base {
                            font-weight: 600;
                            border-left: 0;
                            margin: 0;
                            &::after {
                                content: '';
                                background: $colorMain;
                                height: 3px;
                                display: block;
                                @include rem(margin, 10px 0 0);
                                @include rem(width, 35px);
                            }
                        }
                    }
                }
                &__page {
                    .vtex-pageHeader { 
                        &__container {
                            .vtex-button {
                                .flex {
                                    //color: #292929;
                                    @include rem(font-size, 14px);
                                    > span.mr3 {
                                        border-top: 1px solid $colorMain;
                                        border-left: 1px solid $colorMain;
                                        border-right: 0;
                                        border-bottom: 0;
                                        will-change: transform;
                                        transform: rotate(-45deg);
                                        @include rem(margin-top, 4px);
                                        @include rem(width, 8px);
                                        @include rem(height, 8px);
                                        svg {display: none;}
                                    }
                                }
                            }
                        }
                        &__title {
                            color: #292929;
                            @include rem(font-size, 20px);
                            @include rem(letter-spacing, 1px);
                        }
                    }
                    &-body {
                        padding: 0;
                        article { 
                            &.b--muted-4 {
                                @include rem(padding,10px);
                                border: 2;
                            }
                        }
                        .vtex-profile-form__profile-summary,
                        .vtex-account__password-box {
                            label {
                                &.db {
                                    color: #222;
                                    font-weight: 600;
                                    @include rem(font-size, 13px);
                                }
                            }
                            .light {
                                color: #222;
                                @include rem(font-size, 13px);
                            }
                        }
                        .flex {
                            .vtex-button {
                                // background: $colorMain;
                                background: transparent;
                                // color: #fff;
                                color: $colorMain;
                                text-transform: uppercase;
                                cursor: pointer;
                                // width: 100%;
                                // margin: 0 auto;
                                text-align: center;
                                outline: none;
                                border-radius: 0;
                                border: 0;
                                padding: 0;
                                @include rem(height, 40px);
                                @include rem(line-height, 40px);
                                @include rem(font-size, 14px);
                                @include rem(letter-spacing, 2px);
                                @include mq('sm', max) {
                                    @include rem(height, 30px);
                                    @include rem(line-height, 30px);
                                }
                                @media screen and (max-width:375px){
                                    @include rem(height,60px)
                                }
                            }
                            .vtex-button:hover{
                                background: #F2F4F5;
                            }
                        }
                        .address-summary {
                            @include rem(padding-bottom, 25px);
                        }
                      
                        //CSS especifico para poder aplicar cor diferente ao button de salvar alterações dos dados pessoais
                        button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.br2.min-h-small.t-action--small.bg-action-primary.b--action-primary.c-on-action-primary.hover-bg-action-primary.hover-b--action-primary.hover-c-on-action-primary.pointer.w-100{
                            background: $colorMain;
                            color: #fff;
                        }

                        &.vtex-account__order-details.w-100.pa4-s{
                            .w-100.fl.w-60-ns.pv3-ns.pr0 {
                                .db.dib-ns.mb5.mb0-ns {
                                    .no-underline {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .myo-progress-bar {
                            margin-top: -30px;                            

                            .flex.justify-center {
                                align-items: center;

                                .c-success {
                                    background-color: #6c316c !important;
                                }

                                // BG-SUCCESS                                
                                :nth-child(1).bg-success {
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/cadastro.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(3).bg-success {
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/cadastro.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;   
                                    
                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }                                

                                :nth-child(5).bg-success {
                                    background-color: #63ca33;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/cadastro.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(7).bg-success {
                                    background-color: #63ca33;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/cadastro.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(9).bg-success {
                                    background-color: #63ca33;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/cadastro.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                // BG-MUTED
                                :nth-child(3).bg-muted-3 {
                                    background-color: #b3b3b3;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/pagamento.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;   
                                    
                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(5).bg-muted-3 {
                                    background-color: #b3b3b3;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/preparo.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(7).bg-muted-3 {
                                    background-color: #b3b3b3;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/entrega.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                :nth-child(9).bg-muted-3 {
                                    background-color: #b3b3b3;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/recebido.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    .myo-progress-bar__subtitle {
                                        margin-top: 30px;
                                    }  
                                }

                                // C-SUCCESS
                                :nth-child(3).ma3 .c-success.bg-success {
                                    background-color: #6c316c;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/pagamento.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    &::before {
                                        display: none;
                                    }                                      
                                }

                                :nth-child(3) {
                                    .myo-progress-bar__subtitle {
                                        margin-top: 60px;
                                    }
                                }

                                :nth-child(5).ma3 .c-success.bg-success {
                                    background-color: #6c316c;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/preparo.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    &::before {
                                        display: none;
                                    }    
                                }

                                :nth-child(5) {
                                    .myo-progress-bar__subtitle {
                                        margin-top: 60px;
                                    }
                                }

                                :nth-child(7).ma3 .c-success.bg-success {
                                    background-color: #6c316c;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/entrega.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    &::before {
                                        display: none;
                                    }    
                                }

                                :nth-child(7) {
                                    .myo-progress-bar__subtitle {
                                        margin-top: 60px;
                                    }
                                }

                                :nth-child(9).ma3 .c-success.bg-success {
                                    background-color: #6c316c;
                                    padding: 30px;                                    
                                    background-image: url("/arquivos/recebido.png");
                                    background-repeat: no-repeat;
                                    background-size: auto;
                                    background-position: center;
                                    color: #ffffff;

                                    &::before {
                                        display: none;
                                    }    
                                }

                                :nth-child(9) {
                                    .myo-progress-bar__subtitle {
                                        margin-top: 60px;
                                    }
                                }
                                
                            }
                            
                        }
                    }
                }
            }
            aside {
                padding: 0;
                .c-on-base--inverted {
                    background: $colorMain;
                    @include rem(width, 23px);
                    @include rem(height, 23px);
                    @include rem(line-height, 23px);
                }
            }
        }
    }
    .vtex-profile-form {
        &__personal-fields {
            width: 100%;
        }
        &__field-wrapper {
            .vtex-input {
                &__label {
                    color: #222;
                    font-weight: 600;
                    @include rem(font-size, 13px);
                }
            }
            .vtex-dropdown {
                &__label {
                    color: #222;
                    font-weight: 600;
                    @include rem(font-size, 13px);
                }
                &__button {
                    border: 1px solid #DEE3E9;
                    color: #222;
                    border-radius: 0;
                    width: 100%;
                    @include rem(font-size, 14px);
                    @include rem(padding, 0 10px);
                    @include rem(height, 40px);
                    @include rem(line-height, 40px);
                    @include mq('sm', max) {
                        @include rem(height, 30px);
                        @include rem(line-height, 30px);
                    }
                }
            }
        }
    }
    .vtex-address-form {
        &__postalCode {
            .vtex-button {
                background: transparent!important;
                color: $colorMain!important;
                text-decoration: underline;
                text-transform: uppercase!important;
                @include rem(margin-left, 15px!important);
            }
        }
    }
    .vtex-modal {
        &__modal {
            border-radius: 0;
            .b--dashed {
                border: 0;
            }
            .lh-copy {
                color: #707070;
                @include rem(font-size, 20px);
                @include rem(line-height, 24px);
            }
            .vtex-button {
                background: $colorMain;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                outline: none;
                border-radius: 0;
                border: 0;
                padding: 0;
                @include rem(height, 40px);
                @include rem(line-height, 40px);
                @include rem(font-size, 14px);
                @include rem(letter-spacing, 2px); 
                @include mq('sm', max) {
                    @include rem(height, 30px);
                    @include rem(line-height, 30px);
                     
                }
                @media screen and (max-width:375px){
                    @include rem(height,60px)
                }
            }
            @media  screen and (max-width:425px ){
                overflow-x: hidden;
            }
        }
    }   
}
.ph7{
    padding:0;
}
// .pv6{
    
// }






// body.x-account.x-orders {
//     .x-account__container {

//         @include mq('sm', max) {
//             @include rem(min-height, 1600px);
//         }
//     }
// }

// .x-account {
    // &__main {
    //     background: rgb(248, 248, 248);
    // }

    // &__container {

    //     @extend %page-content__container;
    //     display: block;
    //     overflow: hidden;

    //     @include mq('sm') {
    //         @include rem(min-height, 850px);
    //     }

    //     @include mq('sm', max) {
    //         @include rem(min-height, 1240px);
    //     }
    // }

    // .x-breadcrumb {
    //     display: none;
    // }

    // &__left {
    //     // @extend %page-content__left;
    //     display: block;
    //     width: 100%;
    //     text-align: center;

    //     .x-breadcrumb {
    //         display: none;
    //     }

    // }

    // &__left-title {
    //     @extend %page-content__left-title;

    //     margin: 0 auto;
    //     width: 90%;
    //     max-width: 852px;
    //     color: #fe0002;
    //     font-weight: 700;
    //     letter-spacing: 0;
    //     padding-bottom: 30px;
    // }

    // &__right {
    //     // @extend %page-content__right;
    //     display: block;
    //     width: 100%;
    //     text-align: center;
    // }

    // &__content {
    //     background-color: #fff;
    //     @include rem(padding,24px);
    //     border-radius: 18px;
    //     @extend %page-content__content;

    //     @include mq('sm') {
    //         display: inline-block;
    //         margin: 0 auto;
    //         width: 100%;
    //         max-width: 1006px;
    //     }
    // }

    // &__user,
    // &__address {
    //     @include mq('sm') {
    //         width: 49%;
    //         max-width: 440px;
    //         margin: 0 35px;
    //         margin-top: 40px;

    //         display: inline-block;
    //         vertical-align: top;
    //         border: 0;
    //         background: #fff;

    //         .span4.profile-detail-display,
    //         .span6.address-display-block {

    //             width: 100%;
    //             padding: 25px;

    //             padding-top: 0px;

    //             text-align: left;
    //             display: inline-block;
    //             vertical-align: top;
    //             border: 0;
    //             background: #fff;
    //         }

    //         .span4.profile-detail-display {
    //             position: relative;
    //         }

    //         .span6.address-display-block {
    //             .address-display {
    //                 position: relative;
    //             }
    //         }
    //     }



    //     @include mq('sm', max) {
    //         @include rem(padding-bottom, 32px);
    //         text-align: left;

    //         .address-display-unit {
    //             background: #FFF;
    //         }
    //     }


    // }

    // &__user {

    //     margin-left: 0px;

    //     .profile-detail-display-info {

    //         >span {
    //             display: block !important;
    //         }
    //     }
        
    //     @include mq('sm', max) {
    //         .span4.profile-detail-display {
    //                 margin-bottom: 70px;
    //                 background: #fff;
    //                 margin-top: 90px;
    //                 padding: 15px;
    //             h4 {
    //                     margin-left: -15px;
    //                     padding-bottom: 40px;
    //                     margin-top: -50px;
    //             }

    //             h5,
    //             .profile-detail-display-email {
    //                 color: #333;
    //                 font-weight: 600;
    //             }
    //         }
    //     }
        

    // }

    // &__address {


    //     margin-right: 0px;

    //     h5 {
    //         margin-bottom: 15px;
    //         color: #662c62;
    //     }

    //     @include mq('sm', max) {
    //         .span6.address-display-block {
    //                 position: relative;
    //                 background: #fff;
    //                 padding: 20px 0;

    //                 h4 {
    //                     padding-bottom: 40px;
    //                     margin-top: -50px;
    //                     margin-left: 0;
    //                 }
    //         }
    //     }
    // }

    // &__orders {
    //     width: 100%;
    //     max-width: 100%;
    //     padding: 0;
    //     border: 0;
    //     background: #fff;
    //     position: relative;



        // * {
        //     font-family: ''Open Sans'', sans-serif;
        //     font-weight: 300;

        //     @include mq('sm', max) {
        //         height: auto;
        //     }

        // }

        // .w-100.fl.w-40-ns.pa2.pl0 {
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-around;
        //     align-items: center;
        //     padding: 20px;
        //     background: #fff;
        //     position: relative;

        //     @include mq('sm', max) {
        //             flex-direction: column;
        //             align-items: baseline;
        //             padding: 10px;
        //     }

        //     &:after {
        //         content: "";
        //         position: absolute;
        //         width: 80%;
        //         height: 2px;
        //         bottom: 0px;
        //         background: #f8f8f8;
        //     }

        //     h2 {
        //         font-size: 14px;
        //         font-weight: 400;
        //         font-family: 'Open Sans', sans-serif;
        //         color: #999;
        //         padding: 0;

        //         @include mq('sm', max) {
        //                 font-size: 19px;
        //                 font-weight: bold;
        //                 color: #662c62;
        //         }

        //         span {
        //             color: #662c62;
        //             font-weight: bold;
        //         }

        //     }

        //     .mid-gray {
        //         padding: 0;
        //         width: 50%;
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;

        //         @include mq('sm', max) {
        //             width: 100%;
        //             text-align: left;
        //             flex-direction: column;
        //             align-items: baseline;

        //         }

        //         span {
        //             font-size: 14px !important;
        //             font-weight: 400 !important;
        //             font-family: ''Open Sans'', sans-serif !important;
        //             color: #999 !important;
        //         }

        //         .bg-light-yellow {
        //             background: #fff;

        //             @include mq('sm', max) {
        //                 span {
        //                     span {
                                
        //                         color: red;
        //                         font-weight: bold;
        //                     }
        //                 }
        //             }

        //             span {
        //                 span {
        //                     font-size: 12px;
        //                     font-weight: 300;
        //                     font-family: ''Open Sans'', sans-serif;
        //                     color: #999;
        //                 }
        //             }
        //         }
        //     }
        // }

        // .w-100.fl.w-60-ns.pa0.pa2-ns.pr0 {
        //     background: #fff;
        //     width: 100%;

        //     .list.tl.tr-ns.mt3.ma0 {
        //         width: 70%;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-around;
        //         margin: 0 auto;
        //         padding: 10px;

        //         @include mq('sm', max) {
        //                     flex-direction: column;
        //                     align-items: flex-start;
        //                     width: 100%;
        //         }



        //         li,
        //         a,
        //         span {
        //             color: #662c62;
        //             text-decoration: underline;
        //         }

        //         svg {
        //             fill: #662c62;
        //         }
        //     }
        // }

        // .myo-order-card {
        //     margin: 0;
        //     padding: 20px;
        //     background: #fff;
        //     margin-bottom: 20px;
        // }


        // .myo-orders-listing {
        //     border: 1px solid #070707;
        // }

        // aside.w-100.w-30-l.fr-l,
        // section.w-100.w-70-l.fl-l.pr5 {
        //     width: 50%;

        //     input[type=radio] {
        //         border-radius: 0;
        //     }
        // }

        // aside.w-100.w-30-l.fr-l {
        //     .dib.br2.pv1.ph2.f7.fw5.black-70.tc.bg-light-yellow {
        //         background: #4d4d4d;
        //         color: #FFF;
        //     }

        //     div {
        //         border: 0;
        //     }
        // }

        // .container {
        //     width: 100%;

        //     h1 {
        //         font-weight: 300;
        //         padding: 10px;
        //     }

        //     .myo-order-header {
        //         background: #ffffff;
        //         border: 0;
        //         padding: 10px 20px;

        //         @include mq('sm', max) {
        //                 display: flex;
        //                 flex-direction: column;

        //                 .fl.db.w-75.w-25-l.w-third-m,
        //                 .fr.fl-ns.w-25.w-third-m {
        //                     margin-bottom: 2px;
        //                 }
        //                 .fl.mt2.mt0-ns.w-50-ns.w-third-m {
        //                         flex-direction: column;
        //                         align-items: baseline;
        //                 }
        //         }

        //         &+div {
        //             padding: 0;
        //             margin: 0px;
        //             display: flex;

        //             @include mq('sm', max) {
        //                     flex-direction: column;
        //             }

        //             .cf.fr.db.w-100.w-30-ns.pt0-l.pt3 {
        //                 clear: both;
        //                 display: flex;
        //                 flex-direction: column;
        //                 width: 30%;
        //                 align-items: flex-start;
        //                 padding-top: 40px;

        //                 @include mq('sm', max) {
        //                             align-items: center;
        //                             padding-top: 0;
        //                             width: 100%;
                                    
        //                             .myo-invoice-btn {
        //                                 width: auto;
        //                             }
        //                 }

        //                 .myo-invoice-btn {
        //                     color: #989898;
        //                     margin-bottom: 6px;
        //                     text-transform: uppercase;
        //                     font-size: 13px;

        //                     svg {
        //                         display: none;

        //                     }

        //                     span {
        //                         margin-left: 0px;
        //                     }
        //                 }
        //             }
        //         }

        //         .pv1.ph2 {
        //             color: #fe0002;
        //             font-weight: 600;
        //             text-transform: none;
        //             letter-spacing: 0;
        //             font-size: 14px;
        //             padding: 0;
        //             border: 0;
        //             text-transform: uppercase;
        //             background: transparent !important;

        //             span {
        //                 font-weight: bold;
        //             }
        //         }

        //         .w-100.f7 {
        //             padding: 0;

        //             span {
        //                 font-size: 14px;
        //                 text-transform: none;
        //                 font-weight: bold;
        //                 text-align: left;
        //                 letter-spacing: 0;
        //                 color: #662c62;
        //             }
        //         }

        //         .mid-gray {
        //             margin-top: 0px;
        //             padding: 0;
        //             font-size: 14px;
        //             font-weight: 400;
        //             text-align: left;

        //             span {
        //                 font-size: 14px;
        //                 text-transform: none;
        //                 font-weight: 300;
        //                 color: #999;
        //             }
        //         }

        //         .fl.mt2.mt0-ns.w-50-ns.w-third-m {
        //             @include mq('sm', max) {
        //                 width: 100%;
        //                 text-align: center;
        //             }
        //         }

        //         .myo-order-id {
        //             color: #662c62;
        //             font-weight: bold;

        //             @include mq('sm', max) {
        //                 text-align: center;
        //             }
        //         }

        //         .fl.mt2.mt0-ns.w-50-ns.w-third-m {
        //             display: flex;
        //             justify-content: space-between;
        //             align-items: center;

        //             @include mq('sm', max) {
        //                 display: flex-start!important;
        //             }
        //         }
        //     }

        //     .myo-order-product {
        //         background: #fff;
        //         padding: 15px 20px;
        //         padding-top: 40px;

        //         @include mq('sm', max) {
        //             padding: 15px 0;

        //             .v-top.dib.w-20.h-auto {
        //                     width: 40%!important;
        //                     img {
        //                             width: 120px;
        //                     }
        //             }
        //             .dib.w-80.pl3.mid-gray.f6.fw4 {
        //                     width: 60%!important;
        //             }
        //         }

        //         .dib.w-80.pl3.mid-gray.f6.fw4 {

        //             .mt1.f6 {
        //                 font-size: 14px;
        //                 margin: 0;
        //                 color: #999;
        //                 text-align: left;
        //             }

        //             span.db.mt0.mb2.f6.fw6 {

        //                 font-size: 14px;
        //                 color: #662c62;
        //                 text-align: left;

        //                 span {
        //                     font-size: 14px;
        //                     color: #662c62;
        //                     text-align: left;
        //                 }
        //             }
        //         }

        //         .v-top.dib.w-20.h-auto {
        //             img {
        //                 width: 120px;
        //             }
        //         }
        //     }

        //     .myo-reorder-btn {
        //         display: none;
        //     }

        //     .myo-details-btn {
        //         text-align: right;
        //         color: #999;

        //         &:hover {
        //             color: #999;
        //         }
        //     }
        // }

        // .myo-view-order {
        //     float: left;
        //     background: #f2f2f2;



        //     ul.list.tl.tr-ns.mt3.ma0 {
        //         li {
        //             vertical-align: middle;

        //             @include mq('sm', max) {
        //                 margin: 0;
        //             }

        //             a {
        //                 @include mq('sm', max) {
        //                     display: block !important;
        //                     width: 100% !important;
        //                     clear: both;

        //                     span {
        //                         margin: 10px 0 !important;
        //                     }
        //                 }

        //                 &[href*="cancel"] {
        //                     display: none !important;
        //                 }
        //             }

        //             .myo-reorder-btn {
        //                 display: inline-block;
        //                 background: transparent;
        //                 padding: 0;
        //                 border: 0;
        //                 margin: 0;
        //                 text-align: left;
        //                 width: auto;

        //                 span {
        //                     color: #999;
        //                     text-decoration: none;
        //                     font-size: 14px;
        //                     font-weight: 300;
        //                 }

        //                 svg {
        //                     @include mq('sm', max) {
        //                         display: none
        //                     }

        //                     fill: #662c62;

        //                     path {
        //                         fill: #662c62;
        //                     }
        //                 }
        //             }

        //             a[href*="/cancel"] {
        //                 span {
        //                     color: #999;
        //                     text-decoration: none;
        //                     font-size: 14px;
        //                     font-weight: 300;
        //                 }
        //             }
        //         }
        //     }

        //     a.db.mb4.link.f5.fw5.heavier-blue {
        //         background: #FFF;
        //         margin: 0;
        //         padding: 0 0 50px;

        //         svg {
        //             display: none;
        //         }

        //         span {
        //             span {
        //                 font-size: 21px;
        //                 font-weight: 300;
        //                 font-family: ''Open Sans'', sans-serif;

        //                 &::before {
        //                     content: "<";
        //                     margin-right: 15px;
        //                 }
        //             }
        //         }
        //     }

        //     section {
        //         background: #FFF;
        //         margin-top: 0px;

        //         &.mb3-m {
        //             padding: 0 70px;
        //             @include mq('sm', max) {
        //                 padding: 10px;

        //             }
        //         }

        //         article {
        //             position: relative;
        //             padding: 0px;
        //             padding-top: 30px;

        //             @include mq('sm', max) {
        //                     padding: 10px;

        //             }

        //             &::after {
        //                 content: "";
        //                 width: 1px;
        //                 height: 90%;
        //                 background: #d6d6d6;
        //                 position: absolute;
        //                 top: 50%;
        //                 transform: translatey(-50%);
        //                 right: 30px;

        //                 @include mq('sm', max) {
        //                     display: none;

        //                 }

        //             }

        //             &:last-child {
        //                 &::after {
        //                     display: none;
        //                 }
        //             }

        //             section {
        //                 border: 0;
        //                 overflow: hidden;
        //                 text-align: left;
        //                 padding: 0px;

        //                 @include mq ('sm', max) {
        //                     text-align: left;
        //                     padding: 0px;
        //                 }

        //                 h3 {
        //                     margin-bottom: 30px !important;

        //                     span {
        //                         color: #000;
        //                         font-weight: 600;
        //                         font-size: 14px;
        //                     }
        //                 }

        //                 p {
        //                     color: #333;
        //                     font-size: 14px;
        //                     font-weight: 300 !important;
        //                 }

        //                 .mb3 {
        //                     margin-bottom: 0px;

        //                     .nt-1px {
        //                         display: none;
        //                     }


        //                 }

        //                 .myo-invoice-btn {
        //                     margin-top: 0px;

        //                     button {
        //                         width: 15px;
        //                     }

        //                     span {
        //                         color: #FF0000;
        //                         font-weight: bold;
        //                         font-size: 14px;
        //                         text-decoration: underline;
        //                     }
        //                 }

        //                 .pa0 {
        //                     span {
        //                         font-size: 14px;

        //                     }
        //                 }

        //                 .w-100 {
        //                     hr {
        //                         display: none;
        //                     }
        //                 }
        //             }
        //         }
        //     }

        //     .db.mb4.link.f5.fw5.heavier-blue {
        //         background: #f8f8f8 !important;
        //         padding-bottom: 20px !important;
        //         margin-top: -40px !important;

        //         svg {
        //             display: inline;
        //         }

        //         span {
        //             color: #999;
        //             font-weight: bold !important;
        //             text-transform: uppercase;
        //             font-size: 12px !important;
        //         }

        //         .dib.lh-solid {

        //             span {
        //                 &::before {
        //                     display: none;
        //                 }
        //             }
        //         }
        //     }


        // }

        // .myo-progress-bar {
        //     background: #FFF;
        //     margin-top: -4px;
        //     padding: 0 13%;
        //     border: 0;
        //     height: 123px;
        //     position: relative;

        //     &:after {
        //         content: "";
        //         position: absolute;
        //         width: 80%;
        //         height: 2px;
        //         bottom: 0px;
        //         background: #f8f8f8;
        //         left: 10%;
        //     }

        //     .myo-progress-bar__subtitle.mt3.pa2.tc {
        //         span {
        //             font-size: 13px;
        //             font-weight: 400;
        //             color: #999;
        //             font-family: ''Open Sans'', sans-serif;
        //         }
        //     }

        //     &.b--white {
        //         border-color: #d6d6d6;
        //     }

        //     &.relative {
        //         margin-left: 0 !important;
        //         margin-right: 0 !important;
        //     }

        //     .myo-progress-bar__grey-line-color {
        //         border-color: #d6d6d6;
        //     }

        //     .myo-progress-bar__grey-circle-color {
        //         background: #fff;
        //         border-color: #ccc;
        //         margin: auto 0;
        //     }

        //     span.b.blue.myo-progress-bar__mobile-text {
        //         color: #999 !important;
        //     }

        //     @include mq ('sm', mq) {
        //         padding: 0 15px;
        //     }

        //     &__title-font {
        //         display: none;
        //     }

        //     &__blue-circle-color,
        //     &__ma-inner-circle::before {
        //         border-color: #FF0000;
        //         background-color: #fff;
        //         margin-right: 0;
        //         margin-left: 0;
        //         background-image: url(/arquivos/check-validation.png);
        //         background-position: center;
        //         background-size: 9px;
        //         background-repeat: no-repeat;
        //     }

        //     &__blue-circle-color,
        //     &__blue-line-color {
        //         border-color: #FF0000;

        //         span {
        //             font-weight: bold !important;
        //             color: #FF0000 !important;
        //         }
        //     }

        //     &__ma-inner-circle,
        //     &__margin {
        //         border-color: #FF0000;
        //         background: #fff;
        //         margin-right: 0;
        //         margin-left: 0;

        //         span {
        //             border-color: #FF0000;
        //         }
        //     }
        // }

    //     .w-100.pv4.fl {
    //         background: #FFF;
    //         padding: 40px 70px;

    //         @include mq('sm', max) {
    //             padding: 10px;
    //         }

    //         >.flex.flex-column {
    //             width: 25%;
    //             float: left;

    //             div {
    //                 display: flex;
    //                 flex-direction: column;
    //                 text-align: left;
    //                 font-size: 12px;
    //             }

    //             h2 {
    //                 margin-top: -5px;
    //                 margin-bottom: 20px;

    //                 span {
    //                     font-weight: 600;
    //                     font-size: 14px;
    //                 }
    //             }

    //             .bg-light-blue {
    //                 background: #ffffff;
    //                 color: #ff000f !important;
    //                 padding: 0;
    //                 text-transform: uppercase;
    //                 font-weight: bold;
    //                 font-size: 14px;
    //             }


    //             @include mq ('sm', max) {
    //                 width: 100%;
    //             }
    //         }

    //         table.myo-product-table.table.w-100.mt4 {
    //             margin: 0;
    //             width: 75%;
    //             float: left;

    //             th {
    //                 span {
    //                     text-transform: none;
    //                     font-weight: 600;
    //                     font-size: 14px;
    //                 }
    //             }

    //             tbody {
    //                 tr {
    //                     border: 0;

    //                     td.myo-product-info {
    //                         display: flex;
    //                     }

    //                     td {
    //                         .ml5-ns.mt2.fl.w-80-ns {
    //                             display: flex;

    //                             margin-top: -29px;

    //                             img {
    //                                 display: none;
    //                             }

    //                             .myo-attachment-name.f5.mb0 {
    //                                 text-align: left;

    //                                 color: #662c66;
    //                                 font-weight: bold;
    //                                 font-size: 12px;

    //                                 @include mq('sm', max) {
    //                                         margin-top: 20px;
    //                                 }
    //                             }

    //                             p {
    //                                 margin-right: 5px;
    //                             }

    //                             .pt3 {
    //                                 text-align: left;

    //                                 color: #662c66;
    //                                 font-weight: bold;
    //                                 font-size: 12px;
    //                                 padding: 0;
                                    
    //                                     @include mq('sm', max) {
    //                                         margin-top: 12px;
    //                                     }

    //                                 .myo-attachment-key.fw7 {
    //                                     display: none;
    //                                 }

    //                                 .myo-attachment-value {
    //                                     text-transform: uppercase;
    //                                     font-weight: bold;
    //                                 }

    //                             }
    //                         }
    //                     }
    //                 }
    //             }

    //             @include mq ('sm', max) {
    //                 width: 100%;
    //                 margin-top: 35px;
    //             }

    //             .myo-product-info {
    //                 text-align: center;

    //                 img {
    //                     width: 50px;
                    
    //                     @include mq('sm', max) {
    //                         width: auto;
    //                         height: 50px;
    //                     }
    //                 }

    //                 .fl.overflow-hidden.w-80-ns {

    //                     p,
    //                     span {
    //                         display: block !important;
    //                         text-align: left;
    //                         font-size: 14px;
    //                     }
    //                 }

    //                 div {

    //                     p,
    //                     span {
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    // &__logout-btn {
    //     .icon-account-logout {
    //         @include rem(margin-right, 6px);
    //     }
    //     color: aqua;
    //     display: flex;
    //     align-items: center;
    //     @include rem(font-size, 12px);
    //     @include font-weight(black);
    //     letter-spacing: 2px;

    //     @include mq('sm') {
    //         border: 0 !important;
    //         background-color: transparent !important;
    //         height: auto !important;
    //         letter-spacing: 2px !important;
    //         margin: 0 !important;
    //         padding: 0 0 0 24px !important;

    //         &:hover {
    //             color: $color-black !important;
    //             text-decoration: underline !important;
    //         }
    //     }

    //     @include mq('sm', max) {
    //         position: absolute;
    //         @include rem(right, 16px);
    //         @include rem(top, -30px);
    //     }
    // }

    // Avoid to non visible newsletter form
    // .x-footer-newsletter {
    //     &__form-input {
    //         visibility: visible !important;
    //     }
    // }
// }

// #editar-perfil-conteudo,
// #address-edit {
//     margin-top: 40px;

//     @include mq('sm', max) {
//          margin-top: 0px;
//     }

//     form {
//         .modal-header {
//             #myModalLabel {
//                 text-transform: none;
//                 font-size: 21px;
//                 font-size: 1.3125rem;
//                 margin: 0;
//                 margin-top: -40px;
//                 color: #fe0002;
//                 font-weight: 700;
//                 letter-spacing: 0;
//                 text-align: left;
//                 margin-bottom: 10px;
//                 padding-bottom: 0;
//                 background: #f8f8f8;

//                 @include mq('sm', max) {
//                     margin-bottom: -1px;
//                 }
//             }
//         }

//         .modal-body {

//             .address-form {
//                 background: #fff;
//                 padding: 25px;
//                 text-align: left;

//                 .row {

//                     div {
//                         display: inline-block;
//                         width: 49%;
//                         @include mq('sm', max) {
//                             width: 100%!important;
//                         }
//                     }

//                     display: inline-block;
//                     width: 100%;

//                     .control-group {
//                         width: 98%;

//                         @include mq('sm', max) {
//                             width: 100% !important;
//                         }

//                         .control-group {
//                             width: 48%;
//                             @include mq('sm', max) {
//                                 width: 100% !important;
//                             }
//                             .controls {
//                                 width: 100%;
//                             }
//                         }
//                     }
//                 }



//                 .control-group {
//                     width: 48%;
//                     margin-bottom: 15px;
//                     display: inline-block;
//                     margin-right: 8px;

//                     @include mq('sm', max) {
//                         width: 100% !important;
//                     }

//                     input {
//                         border-color: #9e9e9e;
//                         border-radius: 3px;
//                     }
//                 }

//                 .address-form-neighborhood {
//                     width: 97%;
//                 }

//                 .address-form-city {
//                     .controls {
//                         width: 100%;
//                     }
//                 }
//             }

//             .profile-detail-form {
//                 display: flex;
//                 flex-direction: column !important;

//                 .row.profile-detail-form-personal-data,
//                 .row.profile-detail-form-business-data {
//                     width: 49%;
//                     background: #fff;
//                     padding: 25px;
//                     text-align: left;

//                     @include mq('sm', max) {
//                         width: 100%;
//                     }

//                     .x-form__group:last-child{
//                         display: flex;
//                         flex-direction: column;
//                     }

//                     h5.span5 {
//                         display: none;
//                     }

//                     .control-group {
//                         width: 48%;
//                         margin-bottom: 15px;
//                         display: inline-block;
//                         margin-right: 8px;
//                         @include mq('sm', max) {
//                             width: 100% !important;
//                         }

//                         input {
//                             border-color: #9e9e9e;
//                             border-radius: 3px;
//                         }
//                     }

//                     .form-personal-data-name {
//                         width: 100%;
//                     }
//                 }

//                 .row.profile-detail-form-business-data {
//                     padding-top: 0px;

//                     .control-group {
//                         width: 48%;

//                         @include mq('sm', max) {
//                             width: 100% !important;
//                         }
//                     }
//                 }

//                 .control-group.form-business-data-name {
//                     width: 49%;
//                     padding-bottom: 20px;
//                     background: #fff;

//                     @include mq('sm', max) {
//                         width: 100% !important;
//                         width: 100%;
//                         margin-bottom: 50px;
//                         text-align: center;
//                     }

                   

//                     #business-toggle {
//                         position: relative;
//                         color: #662c62;
//                         font-style: normal;
//                         text-decoration: none;
//                         font-weight: bold;
//                         text-transform: uppercase;

//                         &:after {
//                             content: "";
//                             display: block;
//                             position: absolute;
//                             width: 10px;
//                             height: 10px;
//                             border-left: 2px solid #662c62;
//                             border-bottom: 2px solid #662c62;
//                             transform: rotate(-45deg);
//                             margin: 100px auto;
//                             right: -19px;
//                             top: -102px;
//                             transition: all .3s ease-in-out;
//                         }

//                     }

//                 }

//                 .row.profile-detail-form-contact-data {
//                     position: absolute;
//                     top: 0;
//                     right: 0;
//                     width: 49%;
//                     background: #fff;
//                     padding: 25px;
//                     text-align: left;

//                     @include mq('sm', max) {
//                             position: relative;
//                             width: 100%;
//                     }

//                     .control-group {
//                         width: 48%;
//                         margin-bottom: 15px;
//                         display: inline-block;
//                         margin-right: 8px;

//                         @include mq('sm', max) {
//                             width: 100% !important;
//                         }

//                         input {
//                             border-color: #9e9e9e;
//                             border-radius: 3px;
//                         }
//                     }

//                     .form-contact-data-email {
//                         width: 98%;
//                     }

//                     h5.span5 {
//                         margin-top: -50px;
//                         font-size: 21px;
//                         font-size: 1.3125rem;
//                         margin: 0;
//                         margin-top: -60px;
//                         margin-left: -25px;
//                         color: #fe0002;
//                         font-weight: 700;
//                         letter-spacing: 0;
//                         text-align: left;
//                         margin-bottom: 10px;
//                         padding-bottom: 0;
//                         text-transform: none;
//                         margin-bottom: 30px;
//                     }
//                 }
//             }
//         }

        
        

//         .modal-footer.save-cancel-buttons {
//             position: absolute;
//             width: 100%;
//             top: -60px;
//             display: flex;
//             justify-content: space-between;

//             @include mq('sm', max) {

//                 top: -90px;
//                 #profile-submit,
//                 .btn-link {
//                     width: auto;
//                 }
//             }

//             .btn-link {
//                 color: #999;
//                 font-weight: 700;
//                 position: relative;
//                 background: transparent;
//                 border: 0;
//                 padding: 0;
//                 letter-spacing: 0;
//             }

//             #profile-submit,
//             #form-submit {
//                 color: #fe0002;
//                 font-weight: 700;
//                 position: relative;
//                 background: transparent;
//                 border: 0;
//                 padding: 0;
//                 letter-spacing: 0;
//             }
//         }

        
//     }

//     #form-address {
//         .modal-footer.save-cancel-buttons {


//             @include mq('sm', max) {

//                 top: -55px !important;

//                 #form-submit,
//                 .btn-link {
//                     width: auto;
//                 }
//             }
//         }
//     }

// // }

// .x-form__group {
//     label {
//         @include rem(font-size, 11px);
//     }
// }}