.x-account__content {
    .address-display-block {
        h5 {
            float: left;
        }
    }

    .profile-detail-display,
    .address-display-block {
        @include headings(5, 4) {
            text-transform: none;
            @include rem(font-size, 21px);

        }

        h4 {
            text-transform: none;
            font-size: 21px;
            font-size: 1.3125rem;
            margin: 0;
            margin-top: -40px;
            margin-left: -25px;
            color: #fe0002;
            font-weight: 700;
            letter-spacing: 0;
            padding-bottom: 40px;
        }

        h5 {
            @include rem(font-size, 14px);
            color: #949494;
            text-transform: none;
            font-weight: 300;
        }

        @include mq ('sm', max) {
            a.x-account__logout-btn {
                display: none;
            }
        }
    }

    .profile-detail-display-email {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-top: 6px;
        color: #949494;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 10px;


        @include mq('sm', max) {
            @include rem(font-size, 16px);
        }
    }

    .profile-detail-display-info,
    .address-display-unit-info {
        @include rem(font-size, 14.5px);
        clear: both;

        >span {

            @include mq('sm') {
                display: inline-block;
                vertical-align: top;
                color: #949494;
            }

            @include rem(padding-bottom, 6px);

            &.profile-detail-display-nickname,
            &.profile-detail-display-cellphone {
                display: none !important;

                span.title {
                    color: #949494;
                }
            }

            span {
                display: block;
                margin-top: 5px;
            }
        }
    }

    

    .edit-address-link {
        @include rem(margin-bottom, 8px);
        position: absolute;
        right: 20px;
        top: 10px;
        color: #fff;

        @include mq ('sm', max) {
            top: auto;
            bottom: 79px;
            width: 100%;
            float: none;
            margin: 0 auto;
            right: auto;
            left: auto;
            display: block;

            .address-update {
                position: relative;
            }

        }

        a {
            display: block;
            text-align: right;
            line-height: 0px;
            background-color: transparent;
            color: #fe0002;
            font-weight: 600;
            text-transform: none;
            letter-spacing: 0;
            font-size: 11px;
            padding: 0;
            border: 0;
            text-transform: uppercase;


            &.address-update {
                &:after {
                    content: "";
                    background: url(/arquivos/btn-edit.png) no-repeat;
                    width: 20px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    top: -11px;
                    right: -25px;
                }

            }

            &.delete {
                color: #949494 !important;
            }

            &:hover {
                // @include link-hover(#949494);
                // text-decoration: underline;
            }
        }

        
    }

    .span3.address-display-unit {
        .edit-address-link {
            @include mq('sm', max) {
                    top: 20px !important;
                    width: 90% !important;
                    display: flex !important;
                    justify-content: space-between!important;
            }
        }
    }

    .address-display-unit {
        @include rem(margin-bottom, 12px);

        @include mq('sm', max) {
            @include rem(padding, 12px 12px 6px 12px);
        }
    }

    // Button
    .edit-profile-link,
    .new-address-link {
        @include rem(margin-top, 12px);

        @include mq('sm', max) {
            @include rem(margin-left, 12px);
            @include rem(margin-right, 12px);
        }

        a {
            position: absolute;
            top: 25px;
            right: 40px;
            background-color: transparent;
            color: #fe0002;
            font-weight: 600;
            text-transform: none;
            letter-spacing: 0;
            font-size: 11px;
            padding: 0;
            border: 0;
            text-transform: uppercase;

            &:after {
                content: "";
                background: url(/arquivos/btn-edit.png) no-repeat;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                top: -5px;
                right: -25px;
            }


            @include mq ('sm', max) {
                line-height: inherit;
                width: auto;
                height: auto;
            }

            &.x-account__logout-btn {
                display: none;
            }

        }
    }



    .new-address-link {
        @include mq('sm', max) {
            @include rem(margin, 0 12px);
        }

        .address-update {
            position: relative;
            color: #fff;
            background: red;
            padding: 10px 25px;
            border-radius: 20px;
            margin: 0 auto;
            display: table;
            top: 0;
            right: auto;

            &:after {
                display: none;
            }

            @include mq('sm' max) {
                top: 0;
                right: auto;
                margin-top: 70px;
            }
        }
    }
}

.address-display-unit-info {
    max-width: 170px;
}