/**
 * Default styles
 * Responsive
 */
.x-account {
    &__content {

        // Vtex AJAX Loader
        #accountAjaxBusy {
            @include flex-centered;
            @include rem(font-size, 11px);
            letter-spacing: 1px;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            will-change: visibility;
            z-index: 2;
        }

        .modal-header .close {
            display: none;
        }
    }

    &__user,
    &__address {
        margin: 0 2px;

        // Popup
        #editar-perfil,
        #address-edit {
            background: #f8f8f8;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .profile-detail-display,
        .address-display-block,
        #editar-perfil-conteudo {
            @include headings(2, 4) {
                text-transform: uppercase;
                @include rem(font-size, 18px);
                @include font-weight(black);
                @include rem(letter-spacing, 4px);
                @include rem(padding-bottom, 24px);

                @include mq('sm', max) {
                    @include rem(font-size, 16px);
                    @include rem(padding-bottom, 10px);
                }
            }

            @include headings(5, 6) {
                @include rem(font-size, 14px);
                text-transform: uppercase;
                @include font-weight(black);
            }
        }

        .profile-detail-display,
        .address-display-block {
            @include headings(5, 6) {
                text-transform: none;
            }
        }

        // Form Popup
        #form-address,
        .profile-detail-form {
            @extend %form__elements;
            flex-direction: column;

            @include headings(5, 6) {
                @include rem(padding-bottom, 16px);
            }
        }

        .edit-profile-link,
        .new-address-link {
            a {

                @include rem(font-size, 10px);
                @include rem(height, 36px);



                @include mq('sm', max) {
                    @include flex-centered;
                    @include rem(padding, 10px);
                    width: 100%;
                }
            }
        }

        // Address remove modal
        #address-remove {
            background: rgba($color-white, .75);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
        }

        #exclude {
            background-color: $color-white;
            @include absolute-centered;
            position: fixed;
            box-shadow: 0 0 10px 0 rgba($color-gray-dark, .75);
            @include rem(padding, 24px 24px 8px 24px);

            .address-label {
                display: none;
            }
        }

        #exclude-message {
            display: block;
            @include rem(font-size, 12px);
            @include rem(margin-bottom, 16px);
            text-align: center;
        }

        // Footer Modal Buttons
        .save-cancel-buttons {
            @include rem(padding-top, 16px);
            @include rem(padding-bottom, 16px);

            @include mq('sm') {
                display: flex;
            }
        }

        // Actions buttons
        .btn-primary,
        .btn-link {
            @include rem(height, 38px);

            @include mq('sm', max) {
                @include rem(margin-bottom, 12px);
                display: block;
                width: 100%;
            }
        }

        // Save buttons
        .btn-primary {
            @extend %btn--black;

            @include mq('sm') {
                @include rem(margin-left, 16px);
                order: 1000; // Pull to last index
            }
        }

        // Cancel buttons
        .btn-link {
            @extend %btn--white-fill;
        }

        // Hide all modals
        .modal.hide.fade {
            display: none;
        }
    }
}