.x-account-menu {
    .x-logout {
        float: right;

        @include mq ('sm', max) {
            clear: both;
            width: 100%;
            text-align: right;
            margin-bottom: 16px;
        }

        a.x-account__logout-btn {
            display: inline-block;
            float: right;
            letter-spacing: 0;
            text-decoration: none;
            color: #662c62;

            &::after {
                display: none;
            }

            @include mq ('sm', max) {
                position: static;
                text-align: right;
                float: right;
            }
        }
    }

    &__items {
        @extend %sidebar-menu__items;
        background: transparent;
        height: auto;
        display: block;
        padding: 0;
        max-width: 960px;
        margin: 0 auto 50px;
        border: 0;
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 20px;
        @include mq ('sm', max) {
            padding-bottom: 8px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
        }
    }

    &__item {
        @extend %sidebar-menu__item;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: auto;
        padding: 0px 40px;

        @include mq('sm', max) {
            
            padding: 0;

            &:after {
                display: none !important;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            @include mq('sm', max) {
                text-align: center;
                font-size: 9px;
            }
        }

        &:first-child {
            text-align: left;
        }

        &:nth-child(3) {
            display: none;
        }

        &.is--active {

            a {
                color: #662c62;
                text-shadow: 1px 0 0 #662c62;

                &:after {
                    width: 100%;
                    transition: all .3s ease-in-out;
                }
            }

            position: relative;

            @include mq('sm', max) {

                &:after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: #000;
                    position: absolute;
                    top: 38px;
                    left: 0;
                    transform: inherit;
                }
            }
        }

    }

    &__link {
        // @extend %sidebar-menu__link;
        font-size: 13px;
        font-size: 0.8125rem;
        color: #999999;
        font-weight: bold;
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
        position: relative;
        letter-spacing: 0.5px;

        &:after {
            content: "";
            display: block;
            background: #FF0000;
            width: 0;
            height: 3px;
            margin-top: 2px;
        }

        &:hover {
            color: #662C62;
            text-shadow: 1px 0 0 #662C62;

            &:after {
                width: 100%;
                -webkit-transition: all ease-in-out 0.3s;
                -o-transition: all ease-in-out 0.3s;
                transition: all ease-in-out 0.3s;
            }
        }

        @include mq('sm', max) {
            width: 100%;
        }
    }
}

.x-account__logout-btn {
    display: inline-block;
    float: right;
    letter-spacing: 0 !important;
    text-decoration: none !important;
    color: #662c62 !important;
    margin-right: 30px !important;
    position: relative;

    &:hover {
        color: #662c62 !important;
        text-decoration: none!important;
    }

    &:after {
        content: "";
        background: url(/arquivos/btn-sair.png) no-repeat;
        display: block;
        width: 28px;
        height: 20px;
        position: absolute;
        top: -2px;
        right: -32px;
    }

    @include mq('sm', max) {
            top: -70px !important;
            position: absolute;
            right: 0 !important;
    }
}
