.x-account {
    &__orders {

        a[href*="cancel"] {
            display: none;
        }

        .myo-cancel-btn {
            margin: 0;
            color: #662c62 !important;
            font-style: normal;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase !important;
            border: 0;
            padding: 0 !important;
            width: auto;
            margin-bottom: 8px;
            font-size: 11px;
            // display: none !important;
            display:block;

            &[href*="cancel"] {
                display: none;
            }

            span {
                margin: 0;
                display: block;
                width: 100%;
                text-align: center;
                font-weight: bold;
            }

            svg {
                display: none;
            }
        }

        // Page title
        .page-header {
            h1 {
                text-transform: uppercase;
                @include rem(font-size, 18px);
                @include font-weight(black);
                letter-spacing: 4px;
                margin-top: 0;
                @include rem(padding-bottom, 32px);
                display: none;
            }
        }

        // Top buttons
        #my-orders-container {
            nav {
                @include flex-spaced;
                @include rem(padding-left, 12px);
                @include rem(padding-right, 12px);

                @include mq('sm', max) {
                    padding: 0;
                }

                button.bg-near-white,
                button.hover-bg-near-white {
                    @include flex-centered;
                    text-transform: none;
                    @include font-weight(normal);
                    @include rem(height, 38px) ;
                    width: 48.5%;
                    width: calc(50% - 6px);

                    @include mq('sm', max) {
                        padding: 0 !important;
                        @include rem(height, 38px !important);
                    }
                }

                button.bg-near-white {
                    @extend %btn--black;
                }

                button.hover-bg-near-white {
                    @extend %btn--black-fill;
                }
            }
        }

        // 'Table' head
        .myo-order-header {
            background-color: $color-gray-light;

            @include mq('sm', max) {
                .fl.mt3.mt0-l.w-30.w-25-l {
                    width: 100%;
                }
            }

            // Status card
            .pv1.ph2 {
                border-radius: 0;
                @include rem(padding, 8px 12px);
                @include rem(margin-top, 0px);
            }
        }

        // 'Table' title
        .w-100.f7 {
            @include rem(font-size, 11px);
            @include rem(padding-bottom, 16px);
            letter-spacing: 2px;
            @include font-weight(bold);
        }

        // 'Table' text
        .f5-l,
        .lh-solid {
            font-size: 14px;
            text-transform: none;
            font-weight: 400;
            color: #949494;
            font-weight: bold;
            text-align: left;
            letter-spacing: 0;
            color: #662c62;

            &.heavier-blue {
                svg {
                    display: none;
                }
            }
        }

        .lh-solid {
            padding: 0;
        }

        .myo-order-id {
            display: block !important;
            @include rem(font-size, 18px);
            @include font-weight(black);
            @include rem(margin-bottom, 8px);
            text-transform: uppercase;
            line-height: .75;
        }

        .mt1.f6,
        .mb2.f6 {
            @include rem(margin-top, 8px);
            @include rem(margin-bottom, 8px);
            @include rem(font-size, 11px);
        }

        // 'Table' content
        .hover-bg-moon-gray:focus,
        .hover-bg-moon-gray:hover {
            background-color: transparent;
        }

        .myo-reorder-btn,
        .myo-details-btn {
            position: relative;
            color: #fff;
            background: red;
            padding: 5px 25px;
            border-radius: 20px;
            margin: 0;
            margin-top: 10px;
            width: auto;
            border: 0;

            span {
                margin: 0;
                display: block;
                width: 100%;
                text-align: center;
                color: #FFF;
                font-weight: bold;
            }
        }

        .myo-cancel-btn {
            padding: 0;

            .pv1 {
                @extend %btn--black-fill;
                @include rem(font-size, 9px);
                @include rem(padding-left, 12px);
                @include rem(padding-right, 12px);
                letter-spacing: 0;

                @include mq('sm', max) {
                    @include flex-centered;
                    width: 100%;
                }
            }
        }
    }

    &__orders-tracking {
        margin: 0;
        color: #662c62 !important;
        font-style: normal;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase !important;
        border: 0;
        padding: 0 !important;
        width: auto;
        font-size: 11px;
        margin-bottom: 8px;

        a {
            color: #662c62 !important;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}