
.x-account {
    &__orders {
        #my-orders-container {
            .w-100.w-70-l.fl-l.pr5 {
                p.mid-gray:first-child,
                p.mid-gray:first-child > span,
                .myo-option-heading {
                    color: $color-black;
                    @include rem(font-size, 14px);
                    @include font-weight(black);
                    @include rem(margin-bottom, 8px);
                    @include rem(letter-spacing, 2px);
                    text-transform: uppercase;
                }
            }

            @include mq('sm', max) {
                .fl {
                    float: none;
                }

                .w-third-l {
                    padding: 0;
                }
            }

            .w-third-l {
                p,
                .dib.f6.fw4.mid-gray.w-60 {
                    @include rem(font-size, 15px);
                    line-height: 1.2;
                }

                .lh-solid {
                    @include rem(padding-bottom, 3px !important);
                }
            }

            .myo-option {
                input {
                    cursor: pointer;
                    @include rem(height, 14px !important);
                    @include rem(min-height, 14px !important);
                    @include rem(width, 14px !important);

                    &:after {
                        @include rem(width, 6px);
                        @include rem(height, 6px);
                        @include rem(top, 3px);
                        @include rem(left, 3px);
                    }
                }

                label {
                    cursor: pointer;
                    @include rem(font-size, 11px !important);
                }
            }

            .myo-option-disclaimer {
                ul {
                    @include rem(font-size, 11px);
                    padding: 0;
                }
            }

            .myo-summary {
                .f6 {
                    @include rem(font-size, 11px);
                }

                .black-40 {
                    color: $color-black;
                    @include font-weight(bold);
                }
            }

            .myo-summary-product {
                h4 {
                    color: $color-black;
                    @include rem(font-size, 12px);
                }

                p {
                    @include rem(font-size, 11px);
                }
            }
        }
    }
}
