
.x-account {
    &__orders {
        .link {
            display: flex;
            align-items: center;

            @include mq('sm', max) {
                &.light-red {
                    display: block;
                    text-align: center;
                }
            }
        }

        #my-orders-container {
            .w-100.pv4.fl {
                display: flex;
                flex-direction: column;

                table {
                    order: 10;
                }

                .x-orders__info-shipping {
                    @include rem(font-size, 12px);
                }
            }

            h2,
            h2.lh-copy span {
                @include rem(font-size, 14px);
                @include font-weight(black);
                @include rem(margin-bottom, 8px);
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            span {
                @include rem(font-size, 11px);
            }

            .mid-gray,
            .lh-copy + p {
                > span {
                    @include rem(font-size, 17px);
                    @include rem(margin-right, 8px);

                    @include mq('sm', max) {
                        margin-right: 0;
                    }
                }
            }

            .mid-gray {
                color: $color-black;

                .db.mt0.mb2.f6.fw6 {
                    @include rem(font-size, 12px);
                    @include font-weight(normal);
                }
            }
        }

        // Table
        thead {
            th {
                @include rem(font-size, 11px);
                @include font-weight(bold);
                
                text-transform: uppercase;
            }
        }

        tbody {
            td {
                &:first-child {
                    div {
                        @include rem(padding-right, 12px);

                        @include mq('sm', max) {
                            @include rem(margin-top, 8px);
                        }
                    }
                }

                @include rem(font-size, 11px);
            }
        }
    }
}
