
.x-account {
    &__orders {
        // Border radius
        .br1,
        .br2,
        .br3 {
            border-radius: 0;
        }

        // Overflow
        .overflow-y-scroll {
            overflow: auto;
            @include scrollbar(4px, $color-gray-dark);
        }

        #locale-selector-template-holder,
        ul.nav-pills {
            display: none;
        }

        .myo-order-card,
        .bg-near-white,
        .hover-bg-near-white {
            background-color: transparent;
            border: 0;
            border-radius: 0;
        }
    }
}
