
body {
    &.is--wishlist-empty {
        .x-category__filter-container,
        .x-wishlist__btn-wrapper {
            display: none;
        }
    }

    @include mq('sm', max) {
        &.is--wishlist-page {
            .x-account {
                &__container {
                    padding: 0 !important;
                }

                &__left {
                    @include rem(padding-left, 16px);
                    @include rem(padding-right, 16px);
                }
            }

            .x-category {
                &__filters-container {
                    display: flex;
                    width: 100%;
                }

                &__grid {
                    margin-left: auto;
                    @include rem(margin-right, 16px);
                }
            }

            .x-wishlist {
                &__container {
                    @include rem(padding-left, 16px);
                    @include rem(padding-right, 16px);
                }
            }
        }
    }
}

.x-wishlist {
    .x-category__order {
        @include rem(width, 190px !important);
    }

    .x-category__filter-container {
        padding: 0 !important;
        width: 100%;
    }

    &__container,
    &__items {
        @extend %shelves-container;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__add-btn {
        .icon-wishlist-remove {
            display: block !important;
            @include rem(height, 16px);
            @include rem(width, 16px);
        }
    }

    &__not-found {
        @include flex-centered;
        @include rem(height, 120px);
        @include rem(font-size, 12px);
        text-transform: uppercase;
        text-align: center;
        width: 100%;
    }

    &__load-more-wrapper {
        @include flex-centered;
        @include rem(margin-top, 12px);
        @include rem(margin-bottom, 12px);
    }

    &__load-more-btn {
        @extend %btn--primary;
    }

    &__btn-wrapper {
        @include flex-centered;
        @include rem(margin-top, 24px);
        @include rem(margin-bottom, 24px);
    }

    &__btn-clear {
        @extend %btn--white-fill;
    }
}
