/* Variables */
$font: "Open Sans", sans-serif;
$main-color: #662c62;
$secondary-color: #ff0000;
$text-color: #5c5c5c;
$padding: 20px;
$desktop: 750px;
$desktop-2: 1000px;
/* End variables */

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-2 {
    @media (min-width: #{$desktop-2}) {
        @content;
    }
}

.x-landing-taxas-e-tarifas__main {
    font-family: $font;
    text-align: center;

    .x-d-none {
        display: none;

        @include desktop {
            display: initial;
        }
    }

    .x-container {
        width: 100%;
        margin: 0 auto;
    }

    .x-btn {
        cursor: pointer;
        padding: $padding - 10 $padding + 10;
        font-size: 0.9em;
        color: #ffffff;
        font-weight: 700;
        border-radius: 50px;
        text-transform: uppercase;
    }

    .x-btn--red {
        background-color: $secondary-color;
    }

    .x-btn--transparent {
        background-color: transparent;
    }

    .x-btn--purple {
        background-color: $main-color;
        color: #ffffff;
    }

    .x-content {
        padding: $padding;

        >* {
            margin: 20px 0;
        }

        .x-content__title {
            color: $main-color;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: 400;
        }

        .x-content__bolder {
            font-weight: 700;
        }

        .x-content__title--red {
            color: $secondary-color;
        }

        .x-content__title--gray {
            margin-top: 10px;
            color: $text-color;
            font-size: 0.8em;
        }

        .x-content__title--small {
            font-size: 1em;
        }

        .x-content__body {
            color: $text-color;
            font-size: 1em;
        }

        .x-content__body--purple {
            color: $main-color;
        }

        .x-content__body--white {
            color: #ffffff;
        }
    }

    .x-hero-section {
        background-position: bottom right;
        background-size: contain;
        position: relative;
        padding: 0;
        width: 100%;
        overflow: hidden;

        .x-container {
            @include desktop {
                display: flex;
                align-items: center;
            }
        }


        .x-left {
            .x-hero-section__title {
                padding-top: $padding * 2;
                line-height: 1.2;
                text-transform: uppercase;
                color: #ffffff;
                font-size: 2em;
                position: relative;
                text-align: left;
                z-index: 2;
                font-weight: 700;

                @include desktop {
                    font-size: 3em;
                    padding: $padding * 2 0;
                }
            }

            @include desktop {
                text-align: left;
                width: 50%;
            }
        }

        .x-img-container {
            width: 100%;

            svg:first-child {
                width: 220px;
                position: absolute;
                right: -50px;
                top: -10px;
                z-index: 1;


                @include desktop {
                    width: 420px;
                    height: auto;
                    top: -220px;
                    right: 60px;
                }
            }

            img {
                width: 100%;
                z-index: 2;
                position: relative;
            }
        }
    }

    .x-slider-content {
        .x-img-container {
            .x-img-container__img {
                width: 250px;
                margin: 0 auto;
            }

            .x-content {
                padding: 0;
                .x-content__title{
                    width: 150px;
                    padding: 10px 0;
                    margin: 0 auto;
                    @include desktop{
                        width:100%;
                    }
                }
            }
        }
    }

    .x-dots-container {
        width: 20%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .slick-active {
            margin-top: 4px;
            background-color: $secondary-color;
            height: 10px;
            width: 10px;

            button {
                border: none;
                width: 10px;
                height: 10px;
            }
        }

        li {
            list-style-type: none;

            button {
                width: 10px;
                height: 10px;
                cursor: pointer;
                color: transparent;
                background-color: transparent;
                border: $secondary-color 1px solid;
            }
        }
    }

    .x-card-section {
        position: relative;
        background-color: #ffffff;
        z-index: 4;

        .x-slider-content {
            @include desktop-2 {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }

            .x-img-container {
                @include desktop-2 {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    text-align: left;
                }

                .x-img-container__img {
                    height: fit-content;
                }

                .x-content__body {
                    width: 30%;
                    margin: 0 auto;
                    @include desktop {
                        width: 50%;
                        margin: 0 auto;
                    }
                    @include desktop-2 {
                        width: 100%;
                    }
                }
            }

            .x-img-container:first-child {
                @include desktop-2 {
                    flex-direction: row-reverse;
                    position: static;
                    text-align: right;
                }

                figcaption {
                    @include desktop-2 {
                        margin-right: 20px;
                    }
                }
            }

            .x-img-container:last-child {
                @include desktop-2 {
                    margin-left: -60px;
                    margin-top: 40px;
                    position: relative;
                    z-index: -2;
                }

                figcaption {
                    @include desktop-2 {
                        margin-left: 20px;
                    }
                }
            }
        }

        .x-call-to-action {
            padding: $padding;

            * {
                margin: 15px 0;
            }

            .x-call-to-action__title {
                font-size: 1.4em;
                font-weight: 700;
                text-transform: uppercase;
                color: $text-color;
            }

            .x-call-to-action__title--red {
                color: $secondary-color;
            }
        }
    }

    .x-smartphone-section {
        background-color: #5500a2;
        color: #ffffff;

        @include desktop-2 {
            display: flex;
            flex-direction: column;
            padding: $padding;
        }

        .x-smartphone-section__left {
            @include desktop-2 {
                margin: 0 auto;
                width: 90%;
                display: flex;
                align-items: center;
            }
        }

        >* {
            padding: $padding + 5 0;
        }

        .x-smartphone-section__title {
            width: 60%;
            font-size: 1.4em;
            font-weight: 700;
            margin: 0 auto;
            text-transform: uppercase;

            @include desktop-2 {
                font-size: 2em;
                width: 30%;
                text-align: left;
            }
        }

        .x-slider-content {
            margin-top: 20px;
            @include desktop-2 {
                display: flex;
                margin: 0 auto;
                width: 90%;
                align-items: center;
            }

            .x-img-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 200px;
                margin: 0 auto;

                @include desktop-2 {
                    margin: 0 15px;
                }

                .x-content {
                    .x-content__body {
                        width: 50%;
                        margin: 0 auto;

                        @include desktop-2 {
                            width: 100%;
                            font-size: .9em;
                        }
                    }
                }
            }

            .x-dots-container {
                margin-top: 25px;

                .slick-active {
                    background-color: #ffffff;

                    button {
                        border: none;
                    }
                }

                li {
                    button {
                        border: #ffffff 1px solid;
                    }
                }
            }
        }

        .x-download-app {
            .x-donwload-app__title {
                font-size: 1em;
                font-weight: 700;
                text-transform: uppercase;

                @include desktop-2 {
                    font-size: 1.2em;
                }
            }

            .x-button-group {
                margin-top: 15px;
            }
        }
    }

    .x-tax-section {
        padding: $padding + 5 0;
        background-color: #f8f8f8;

        @include desktop-2 {
            padding: $padding * 2 0;
        }

        .x-content {
            .x-content__title {
                width: 80%;

                @include desktop-2 {
                    width: 100%;
                }

                margin: 0 auto;

                .x-content__title--red {
                    @include desktop-2 {
                        display: inline;
                    }

                    display: block;
                }
            }

            .x-content__body {
                width: 90%;
                padding: $padding/2;
                margin: 0 auto;

                @include desktop-2 {
                    width: 35%;
                }
            }
        }

        .x-bottom {
            @include desktop-2() {
                width: 80%;
                margin: 0 auto;
                margin-top: 50px;
                display: flex;
            }

            .x-content__card-image {
                margin-top: -40px;
                width: 320px;

                @include desktop-2 {
                    width: 40%;
                    max-width: 450px;
                    height: auto;
                    align-self: center;
                }
            }
        }

        .x-services {
            background-color: #ffffff;
            width: 80%;
            margin: 0 auto;
            margin-top: -60px;
            border-radius: 5px;

            @include desktop-2 {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .x-services-container {
                @include desktop-2 {
                    display: flex;
                    padding: 10px 0;
                    position: relative;
                }

                .x-line-services {
                    @include desktop-2 {
                        width: 1px;
                        height: 70%;
                        background-color: gainsboro;
                        left: 50%;
                        top: 25%;
                        position: absolute;
                    }
                }

            }

            .x-content {
                @include desktop-2 {
                    padding: 0;
                    padding-top: 10px;
                }

                .x-content__title {
                    text-transform: initial;
                }

                .x-content__title--red,
                .x-content__title--purple {
                    font-size: 2em;
                }

                .x-content__title--gray {
                    @include desktop-2 {
                        text-transform: uppercase;
                    }
                }

                .x-content__title--red {
                    display: block;
                }

                .x-content__title--purple {
                    display: block;
                }
            }

            .x-services-list {
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include desktop-2 {
                    width: 100%;
                    text-align: left;
                    align-items: flex-start;
                    margin-left: 40px;
                }

                ul {
                    list-style-type: none;
                    width: 90%;

                    @include desktop-2 {
                        margin-top: 20px;
                    }

                    .x-services-list__item {
                        text-align: left;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 0;
                        color: $text-color;

                        p {
                            width: 100%;
                            text-align: left;
                        }

                        svg {
                            width: 20px;
                            margin-right: 10px;
                        }
                    }

                    .x-services-list__item--purple {
                        font-weight: 700;
                        color: $main-color;
                    }

                    &:after {
                        content: "";
                        margin-top: 20px;
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: lighten($text-color, 50%);

                        @include desktop {
                            display: none;
                        }
                    }
                }
            }

            .x-right-services {
                ul{
                    &:after{
                        display: none;
                        margin-bottom: 20px;
                    }
                }
                @include desktop-2 {
                    width: 100%;
                    text-align: left;
                    align-items: flex-start;
                }

                .x-services-list {
                    @include desktop-2 {
                        margin-left: 0;
                    }
                }
            }

            footer.x-services-list {
                @include desktop-2 {
                    margin-left: 0;
                }

                ul {
                    margin-bottom: 20px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    .x-contacts-section {
        padding: $padding 0;

        @include desktop {
            width: 50%;
            display: flex;
            margin: 0 auto;
            align-items: center;
        }

        .x-contacts-section__title {
            color: $main-color;
            font-size: 1em;
            font-weight: 700;

            @include desktop {
                font-weight: 400;
                color: $text-color;
                font-size: 1em;
                text-align: left;
            }
        }

        .x-contacts-section__title--purple {
            color: $main-color;
            font-weight: 700;
            font-size: 1.2em;
            display: block;
        }

        .x-contacts-list {
            width: 80%;
            margin: 10px auto;
            display: flex;
            justify-content: space-between;

            @include desktop {
                justify-content: space-evenly;
            }

            .x-contacts-list__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100px;
                padding: $padding 0;
                list-style-type: none;
                color: #a3a3a3;
                font-size: 0.8em;
            }
        }
    }

    .x-rates {
        background: #F8F8F8;
        padding: 35px 140px 20px;

        @include mq('sm', max) {
            @include rem(padding, 15px 10px 15px);
        }

        &__header {
            h2 {
                font-size: 20px;
                color: #662C62;
                text-align: center;
             
            }

            p {
                font-size: 16px;
                color: #707070;
                text-align: center;
            }
        }

        &__contents {
            display: flex;
            width: 100%;
            flex-direction: row;
            margin: 20px 0;
            @include mq('sm', max) {
                flex-direction: column;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

        &__left,
        &__right {
            text-align: center;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
            margin-right: 2%;
            @include mq('sm', max) {
                @include rem(padding, 20px 20px !important);
            }
            .x-superget-taxas {
                &__credito--titulo {
                    padding: 20px;
                    margin-bottom: 20px;
                    @include mq('sm', max) {
                        padding: 0;
                        margin: 0;
                    }
                }
                &__valores {
                    @include mq('sm', max) {
                        width: 100% !important;
                    }
                }
            }
        }

        &__right {
            margin: 0;
            padding: 20px;
            width: 73%;
            background: #fff;
            border-radius: 6px;
            @include mq('sm', max) {
                margin-top: 10px;
                @include rem(padding, 20px 20px 25px !important);
            }
            .x-superget-taxas {
                &__credito {
                    &--titulo { 
                        margin-bottom: 30px; 
                        @include mq('sm', max) {
                            margin-bottom: 0;
                        }
                    }
                }
                &__info {
                    font-size: 16px !important;
                    @include mq('sm', max) {
                        width: 100%;
                    }
                    strong {
                        display: block;
                        margin-left: 0 !important;
                    }
                }
            }
        }

        .x-superget-taxas {
            &__credito--titulo,
            &__debito--cta {
                background: #fff;
                border-radius: 6px;
            }

            &__credito--titulo {
                h3 {
                    font-size: 21px;
                    height: 66px;
                    color: #662C62;
                    font-weight: bold;
                    padding-bottom: 8px;
                    background: url('/arquivos/border-bottom.png') no-repeat center bottom;
                    margin-bottom: 20px;
                    @include mq('sm', max) {
                        margin-bottom: 8px;
                        height: auto !important;
                    }
                }
            }

            &__debito--cta {
                padding: 30px 50px;
                @include mq('sm', max){
                    display: none;
                }
                p {
                    margin-bottom: 20px;
                    color: #662C62;
                    font-size: 20px;
                    font-weight: bold;
                }
                button {
                    width: 100%;
                    height: 35px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    background: red;
                    border-radius: 18px;
                }
            }

            &__info {
                font-size: 14px;
                color: #5C5C5C;
                margin-bottom: 10px;
                @include mq('sm', max) {
                    height: auto !important;
                }

                strong {
                    color: #662C62;
                    margin-left: 6px;
                }
            }

            &__valores {
                font-size: 12px;
                color: #5C5C5C;
                margin: 16px 0;
                @include mq('sm', max) {
                    margin: 0;
                    width: 50%;
                }

                strong {
                    color: #4E1E4B;
                    display: block;
                    font-size: 22px;
                }
            }

            &__credito {
                &--collum {
                    width: 33.3333%;
                    border-right: .5px solid rgba(#d5d5d5, .5);
                    &:last-child { border: none; }
                    position: relative;
                    @include mq('sm', max) {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        margin-top: 10px;
                        &:not(:last-child) {
                            margin-bottom: 20px;
                            &:after {
                                position: absolute;
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: $color-gray-light;
                                bottom: -15px;
                            }
                        }
                        .x-superget-taxas__info {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            strong {
                                margin-left: 5px !important;
                            }
                        }
                    }
                }

                &--info-taxas {
                    display: flex;
                    flex-direction: row;
                    @include mq('sm', max) {
                        flex-direction: column !important;
                        margin-top: 0 !important;
                    }
                }

                &--row {
                    margin-top: 30px;
                }

                &--ver_melhores_taxas {
                    color: #5C5C5C;
                    font-weight: 500;
                    font-size: 14px;
                    text-decoration: underline;
                    margin-top: 15px;
                }

                &--sub-infos {
                    p {
                        color: #A7A7A7;
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .x-payments-card {
        width: 100%;
        display: flex;
        &__center {
            padding: 40px 45px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @include mq('sm', max) {
                @include rem(padding, 40px 20px 10px);
            }
        }

        &__header {
            width: 100%;
            color: #662C62;
            font-size: 18px;
            margin-bottom: 35px;
            display: flex;
            justify-content: center;
            text-align: center;

            h4 {
                letter-spacing: 0.5px;

                strong {
                    font-weight: 700;
                }
            }
        }

        &__contents {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @include mq('sm', max) {
                width: 100%;
            }
        }

        &__item {
            width: 80%;
            display: block;
            margin-bottom: 20px;
            @include mq('sm', max) {
                width: 100%;
            }

            &:last-of-type {
                margin-top: 10px;
            }

            &--title {
                border-top: 1px solid #E6E6E6;
                display: block;
                text-align: center;
                width: 65%;
                margin: 0 auto;
                @include mq('sm', max) {
                    width: 100%;
                }

                h3 {
                    color: #5C5C5C;
                    text-transform: uppercase;
                    font-size: 11px;
                    background: #ffffff;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                    position: relative;
                    bottom: 19px;
                    width: 30%;
                    margin: 0 auto;

                    &> span {
                        margin-right: 15px;

                        &.x-icon {
                            &-fisica {
                                // background: url("/arquivos/icon--pessoa-fisica.png");
                                -webkit-background-size: 17px 17px;
                                background-size: 17px;
                                background-repeat: no-repeat;
                                height: 17px;
                                width: 17px;
                            }

                            &-juridica {
                                // background: url("/arquivos/icon--pessoa-juridica.png");
                                -webkit-background-size: 17px 17px;
                                background-size: 17px;
                                background-repeat: no-repeat;
                                height: 17px;
                                width: 17px;
                            }
                        }
                    }
                }
            }

            &--cards {
                width: 100%;
                display: flex;
                justify-content: center;

                ul:last-child {
                    max-width: none !important;
                    margin: auto !important;
                }

                &> ul {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li {
                        margin-right: 15px;
                        svg{
                            width: 43px;
                            height: 43px;
                        }
                        &:last-of-type {
                          margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .x-newsletter-container {
        @include desktop {
            padding: 20px 0;
            background-color: #e6e6e6;
        }

        .x-newsletter {
            background-color: #e6e6e6;

            @include desktop-2 {
                display: flex;
                align-items: center;
                text-align: left;
                margin: 0 60px;
            }

            .x-newsletter__title {
                padding-top: $padding;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 400;
                color: $text-color;

                @include desktop-2 {
                    padding-top: 0;
                    width: 40%;
                    margin: 0 auto;
                }
            }

            .x-newsletter__title--purple {
                color: $main-color;
                font-weight: 700;
                display: block;

                @include desktop-2 {
                    display: inline;
                }
            }

            .x-newsletter-form {
                padding: $padding;
                display: flex;
                flex-direction: column;
                width: 100%;
                flex: 1;

                @include desktop-2 {
                    flex-direction: row;
                    width: 40%;
                    margin: 0 auto;
                }

                .x-newsletter-form__input {
                    color: #a7a7a7;
                    margin-bottom: 20px;
                    font-size: 0.9em;
                    font-weight: 700;
                    padding: $padding;
                    border-radius: 5px;

                    @include desktop-2 {
                        margin: 0;
                        margin-right: 20px;
                        width: 100%;
                    }
                }

                .x-newsletter-form__input::placeholder {
                    color: #a7a7a7;
                }

                .x-btn {
                    margin: 0 auto;
                    width: 160px;

                    @include desktop-2 {

                        width: 100%;
                    }
                }
            }
        }
    }


}
