/* nao substituir esta parte */
.fl-html h1,
.fl-html h2,
.fl-html h3,
.fl-html h4,
.fl-html h5,
.fl-html h6,
.fl-html p,
.fl-html span,
.fl-html a {
  letter-spacing: 0; }

.c-wrapper {
  margin-top: 0; }

/* acabada a parte que nao pode substituir */
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.x-header__navigation ul li a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: .895rem;
  font-weight: 400;
}

.x-header__info--item-button {
  text-decoration: none;}

.x-footer__item ul li a {
  text-decoration: none; }

@font-face {
  font-family: 'KievitOT';
  src: url("/arquivos/kievit/KievitOT-Regular.eot.css");
  src: url("/arquivos/KievitOT-Regular.eot.css") format("embedded-opentype"),
       url("/arquivos/KievitOT-Regular.ttf.css") format("truetype"), 
       url("/arquivos/KievitOT-Regular.woff.css") format("woff"), 
       url("/arquivos/KievitOT-Regular.svg.css") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'KievitOT';
  src: url("/arquivos/kievit/KievitOT-Bold.eot.css");
  src: url("/arquivos/KievitOT-Bold.eot.css") format("embedded-opentype"), 
  url("/arquivos/KievitOT-Bold.ttf.css") format("truetype"), 
  url("/arquivos/KievitOT-Bold.woff.css") format("woff"), 
  url("/arquivos/KievitOT-Bold.svg.css") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'KievitOT';
  src: url("/arquivos/kievit/KievitOT-ExtraLight.eot.css");
  src: url("/arquivos/KievitOT-ExtraLight.eot.css") format("embedded-opentype"), 
  url("/arquivos/KievitOT-ExtraLight.ttf.css") format("truetype"), 
  url("/arquivos/KievitOT-ExtraLight.woff.css") format("woff"), 
  url("/arquivos/KievitOT-ExtraLight.svg.css") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'KievitOT';
  src: url("/arquivos/kievit/KievitOT-Italic.eot.css");
  src: url("/arquivos/KievitOT-Italic.eot.css") format("embedded-opentype"), 
  url("/arquivos/KievitOT-Italic.ttf.css") format("truetype"), 
  url("/arquivos/KievitOT-Italic.woff.css") format("woff"), 
  url("/arquivos/KievitOT-Italic.svg.css") format("svg");
  font-weight: normal;
  font-style: italic; }

.sgcm-c-inicio__btn, .sgcm-c-benefits__btn {
  border-radius: 25px;
  padding: 9px 17px;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  transition: all .2s ease-out;
  margin-top: 20px;
  display: block;
  word-break: keep-all;
  width: fit-content;
  font-weight: bold; }
  .sgcm-c-inicio__btn:hover, .sgcm-c-benefits__btn:hover {
    opacity: 1; }

.sgcm-c-inicio__btn, .sgcm-c-benefits__btn {
  background-color: red;
  border: 1px solid red;
  color: white; }

.sgcm-c-modal h2, .sgcm-c-benefits__title, .sgcm-c-elo__title, .sgcm-c-steps__title, .sgcm-c-faq__title {
  color: #501e50;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 10px; }
  @media screen and (min-width: 960px) {
    .sgcm-c-modal h2, .sgcm-c-benefits__title, .sgcm-c-elo__title, .sgcm-c-steps__title, .sgcm-c-faq__title {
      font-size: 36px; } }

.sgcm-c-benefits__description, .sgcm-c-elo__description, .sgcm-c-faq__description {
  color: #5d5c5d;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
  position: relative; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body > img {
  display: block; }

*,
*:after,
*:before {
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden; }

body {
  font-family: "KievitOT", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 0;
  font-variant-numeric: lining-nums;
  color: #5D5D5D;
  background: #ffffff;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  letter-spacing: 0 !important;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
  transition: .2s all ease-out; }
  a:hover {
    opacity: .8; }

p a {
  word-break: break-word; }

img {
  max-width: 100%; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: initial;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.sgcm-u-wrapper {
  margin-left: 20px;
  margin-right: 20px; }

@media all and (min-width: 1280px) {
  .sgcm-u-wrapper {
    width: 1084px;
    margin-left: auto;
    margin-right: auto; } }

.sgcm-c-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: scale(0, 0); }
  .sgcm-c-modal * {
    color: #501e50; }
  .sgcm-c-modal h2 {
    margin-bottom: 20px; }
  .sgcm-c-modal p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5; }

.animations-enabled .sgcm-c-modal {
  transition: opacity 150ms ease; }

.sgcm-c-modal.sgcm-c-modal--active {
  transform: scale(1, 1);
  opacity: 1;
  transition: opacity 150ms ease; }

.sgcm-c-modal__container {
  max-width: 960px;
  max-height: 90vh;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden; }

.sgcm-c-modal__wrapper {
  position: relative;
  padding-top: 60px;
  min-height: 100px;
  background: white; }

.animations-enabled .sgcm-c-modal__wrapper {
  transition: transform 150ms ease; }

.animations-enabled .sgcm-c-modal.sgcm-c-modal--active .sgcm-c-modal__wrapper {
  transform: translateY(0);
  transition: transform 150ms ease; }

.sgcm-c-modal__close {
  text-decoration: none;
  font-size: 80px;
  line-height: 0.4;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: red;
  opacity: 1;
  transition: opacity 150ms ease; }

.sgcm-c-modal__close:hover {
  opacity: 0.5;
  transition: opacity 150ms ease; }

.sgcm-c-modal__content {
  max-height: calc(90vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px; }

.sgcm-c-modal__video .sgcm-c-modal__wrapper {
  padding-top: 0;
  background: transparent;
  transform: translateY(0); }

.sgcm-c-modal__video .sgcm-c-modal__content {
  padding: 0; }

@media all and (min-width: 768px) {
  .sgcm-c-modal__content {
    max-height: calc(90vh - 60px); }
  .sgcm-c-modal__container {
    padding: 50px 80px; } }

@media all and (min-width: 990px) {
  .sgcm-c-modal__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%; } }

.sgcm-c-inicio {
  background: url(/arquivos/sgcm-c-inicio_destaque-1_mob@2x.png) center center no-repeat;
  background-size: cover;
  height: 580px;
  padding-top: 30px;
  overflow: hidden;
  max-width: 100vw; }
  .sgcm-c-inicio:after {
    content: '';
    display: block;
    width: 100vw;
    height: 51px;
    left: 0;
    bottom: 77px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .sgcm-c-inicio__text {
    z-index: 2;
    position: relative; }
  .sgcm-c-inicio__label {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -.77px;
    color: white;
    background: red;
    text-transform: uppercase;
    padding: 7px;
    box-shadow: 0 0 13px 4px red;
    border-radius: 5.5px;
    margin-bottom: 8px;
    display: inline-block; }
  .sgcm-c-inicio__title {
    color: white;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 13px; }
    .sgcm-c-inicio__title span {
      display: block; }
  .sgcm-c-inicio__description {
    color: white;
    font-size: 22px;
    line-height: 1.23;
    margin-bottom: 15px; }
  .sgcm-c-inicio__btn {
    margin-top: 15px; }
  .sgcm-c-inicio__image {
    background: url(/arquivos/sgcm-c-inicio_destaque-2_mob@2x.png) bottom right no-repeat;
    background-size: contain;
    position: relative;
    margin-left: -20px;
    margin-top: -70px;
    width: calc(100% + 40px);
    height: 327px;
    display: flex;
    align-items: flex-end;
    line-height: 0; }
    @media screen and (max-width: 320px) {
      .sgcm-c-inicio__image {
        margin-top: -100px; } }
  .sgcm-c-inicio__disclaimer {
    position: relative;
    z-index: 2;
    line-height: 0;
    bottom: 40px; }
    .sgcm-c-inicio__disclaimer small {
      color: white;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      font-size: 12px;
      line-height: 1.1; }
  @media screen and (min-width: 720px) {
    .sgcm-c-inicio {
      background: url(/arquivos/sgcm-c-inicio_destaque-1@2x.png) center center no-repeat;
      height: 420px;
      padding-bottom: 30px;
      padding-top: 0; }
      .sgcm-c-inicio:after {
        content: none; }
      .sgcm-c-inicio__content {
        align-items: flex-start;
        justify-content: space-between;
        display: grid;
        grid-template-areas: 'text image' 'disclaimer image';
        grid-template-columns: auto 60%; }
      .sgcm-c-inicio__text {
        grid-area: text;
        margin-top: 30px;
        margin-bottom: 20px;
        align-self: flex-end; }
      .sgcm-c-inicio__image {
        grid-area: image;
        height: 420px;
        margin-left: 0;
        width: auto;
        margin-top: 0;
        margin-right: -30px;
        align-items: flex-start; }
        .sgcm-c-inicio__image img {
          height: 420px;
          left: -65px;
          position: relative; }
      .sgcm-c-inicio__disclaimer {
        grid-area: disclaimer;
        bottom: 0; } }
  @media screen and (min-width: 960px) {
    .sgcm-c-inicio__image {
      margin-right: -20px; }
      .sgcm-c-inicio__image img {
        left: 0; } }
  @media screen and (min-width: 1280px) {
    .sgcm-c-inicio {
      height: 480px;
      padding: 0; }
      .sgcm-c-inicio__container {
        content: '';
        background: url(/arquivos/sgcm-c-inicio_destaque-2@2x.png) 250% center no-repeat;
        background-size: contain;
        height: 480px;
        width: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 1; }
      .sgcm-c-inicio__content {
        position: relative;
        z-index: 2;
        grid-template-columns: 595px auto;
        grid-template-rows: 405px auto;
        justify-content: flex-start;
        align-items: center; }
      .sgcm-c-inicio__text {
        margin-bottom: 0;
        margin-top: 80px; }
      .sgcm-c-inicio__label {
        font-size: 29px;
        letter-spacing: -2px;
        padding: 4px 18px; }
      .sgcm-c-inicio__title {
        font-size: 70px;
        line-height: 1.075;
        margin-bottom: 12px; }
      .sgcm-c-inicio__description {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 40px; }
      .sgcm-c-inicio__image {
        background: none;
        height: 480px;
        left: -55px; }
        .sgcm-c-inicio__image img {
          height: 480px; }
      .sgcm-c-inicio__disclaimer {
        align-self: flex-end;
        margin-bottom: 30px; } }
  @media screen and (min-width: 1600px) {
    .sgcm-c-inicio__container {
      background-position-x: 125%; } }
  @media screen and (min-width: 1920px) {
    .sgcm-c-inicio__container {
      background-position-x: 100%; } }

.sgcm-c-benefits {
  padding-top: 50px;
  margin-bottom:  70px }
  .sgcm-c-benefits__image img {
    margin: 0 auto;
    display: block; }
  .sgcm-c-benefits small {
    display: block;
    color: #5d5c5d;
    font-size: 12px;
    line-height: 1.15;
    margin-bottom: 30px; }
  .sgcm-c-benefits__slider {
    width: calc(100% + 40px);
    margin-left: -20px;
    overflow: auto;
    margin-bottom: 40px; }
  .sgcm-c-benefits__cards {
    list-style: none;
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 20px;
    width: calc(136px * 6 + 40px); }
  .sgcm-c-benefits__card {
    background: linear-gradient(29.59deg, #f70400 0%, #ad0200 100%);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 20px 10px;
    border-radius: 5px;
    height: auto;
    width: 136px; }
    .sgcm-c-benefits__card:not(:last-of-type) {
      margin-right: 10px; }
    .sgcm-c-benefits__card img {
      margin: 0 auto 10px;
      width: fit-content; }
    .sgcm-c-benefits__card span {
      display: block;
      text-align: center;
      color: white;
      flex-basis: 100%;
      font-size: 16px;
      line-height: 1.375; }
  .sgcm-c-benefits__btn {
    margin: 0 auto 20px; }
  .sgcm-c-benefits__link {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 18px;
    line-height: 1.5; }
  .sgcm-c-benefits__obs {
    display: none; }
  @media screen and (min-width: 720px) {
    .sgcm-c-benefits__container {
      display: grid;
      grid-template-areas: 'head head' 'image content';
      grid-template-columns: 35% auto;
      grid-gap: 0 30px; }
    .sgcm-c-benefits__head {
      grid-area: head; }
    .sgcm-c-benefits__image {
      grid-area: image; }
      .sgcm-c-benefits__image--obs {
        display: none; }
    .sgcm-c-benefits__content {
      grid-area: content; }
    .sgcm-c-benefits__slider {
      width: auto;
      margin: 0; }
    .sgcm-c-benefits__cards {
      width: auto;
      padding: 0;
      margin-top: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px 20px; }
    .sgcm-c-benefits__card {
      flex-basis: calc(50% - 13px);
      flex-flow: row wrap;
      padding: 12px;
      margin: 0 !important;
      width: 100%;
      align-items: center;
      justify-content: space-around; }
      .sgcm-c-benefits__card img {
        max-height: 46px;
        margin: 0; }
      .sgcm-c-benefits__card span {
        flex-basis: calc(100% - 60px);
        text-align: left; }
    .sgcm-c-benefits__cta {
      display: flex;
      align-items: center;
      flex-flow: row wrap; }
    .sgcm-c-benefits__btn {
      margin-bottom: 0; }
    .sgcm-c-benefits__obs {
      margin: 10px 0;
      display: block; } }
  @media screen and (min-width: 960px) {
    .sgcm-c-benefits {
      padding-top: 70px; }
      .sgcm-c-benefits__container {
        grid-template-areas: 'image head' 'image content';
        grid-template-columns: auto 638px;
        grid-gap: 0 60px; }
      .sgcm-c-benefits__cards {
        grid-gap: 20px 26px; }
      .sgcm-c-benefits__btn {
        margin: 0;
        margin-right: 30px; }
      .sgcm-c-benefits__link {
        margin: 0; } }
  @media screen and (min-width: 1280px) {
    .sgcm-c-benefits__container {
      grid-gap: 0 60px; } }

.sgcm-c-elo {
  padding-top: 50px; }
  .sgcm-c-elo__image {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 30px;
    line-height: 0; }
    .sgcm-c-elo__image img {
      width: 100%;
      line-height: 0; }
  .sgcm-c-elo__link {
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: 18px;
    line-height: 1.5;
    color: #501e50; }
  @media screen and (min-width: 720px) {
    .sgcm-c-elo {
      padding-top: 80px; }
      .sgcm-c-elo__container {
        display: grid;
        grid-template-areas: 'content image' 'cta image';
        grid-gap: 0 25px;
        grid-template-columns: 55% auto;
        grid-template-rows: auto 1fr; }
      .sgcm-c-elo__content {
        grid-area: content; }
      .sgcm-c-elo__image {
        grid-area: image;
        width: auto;
        margin: 0; }
      .sgcm-c-elo__cta {
        grid-area: cta; }
      .sgcm-c-elo__link {
        text-align: left;
        margin: 0; } }
  @media screen and (min-width: 960px) {
    .sgcm-c-elo__container {
      grid-template-columns: auto 482px;
      grid-gap: 0 60px; } }

.sgcm-c-steps {
  padding-top: 50px;
  padding-bottom: 50px; }
  .sgcm-c-steps__title {
    margin-bottom: 30px; }
  .sgcm-c-steps__control {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 0 auto 30px; }
    .sgcm-c-steps__control:before {
      content: '';
      position: absolute;
      width: calc(100% - 40px);
      height: 2px;
      background: #9a9a9a;
      top: 17.5px;
      z-index: 1; }
  .sgcm-c-steps__bullet {
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    color: #501e50;
    background: #f8f8f8;
    border-radius: 100%;
    border: 2px solid #501e50;
    width: 37px;
    height: 37px;
    font-variant-numeric: lining-nums;
    box-shadow: none;
    margin: 0;
    position: relative;
    z-index: 2;
    outline: 0;
    transition: all .2s ease-out; }
    .sgcm-c-steps__bullet:after {
      content: '';
      height: 2px;
      width: calc(100vw / 4 - 30px);
      position: absolute;
      display: block;
      background: #501E50;
      top: 15.5px;
      left: 100%;
      z-index: -2;
      transition: .3s all ease-out; }
    .sgcm-c-steps__bullet.glide__bullet--active:after,
    .sgcm-c-steps__bullet.glide__bullet--active ~ button:after {
      width: 0; }
    .sgcm-c-steps__bullet.glide__bullet--active {
      background: #501e50;
      color: white; }
  .sgcm-c-steps .glide__slides {
    margin: 0; }
  .sgcm-c-steps__card {
    background: url(/arquivos/sgcm-c-step_bg_mob@2x.jpg) center center no-repeat;
    background-size: cover;
    padding: 32px 20px;
    filter: grayscale(1);
    opacity: .3;
    transition: all .2s ease-out; }
    .sgcm-c-steps__card--title {
      color: white;
      font-weight: bold;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      height: 92px; }
      .sgcm-c-steps__card--title-num {
        font-size: 28px;
        line-height: 1; }
      .sgcm-c-steps__card--title-text {
        font-size: 20px;
        line-height: 1.4;
        flex-basis: calc(100% - 26px); }
    .sgcm-c-steps__card--image {
      text-align: center;
      line-height: 0; }
      .sgcm-c-steps__card--image img {
        height: 205px;
        transition: all .2s ease-out; }
    .sgcm-c-steps__card--text {
      color: white;
      font-size: 16px;
      line-height: 1.375; }
    .sgcm-c-steps__card.glide__slide--active {
      filter: grayscale(0);
      opacity: 1; }
      .sgcm-c-steps__card.glide__slide--active .sgcm-c-steps__card--image img {
        height: 280px; }
  @media screen and (min-width: 720px) {
    .sgcm-c-steps {
      padding-top: 80px;
      padding-bottom: 80px; }
      .sgcm-c-steps__title {
        max-width: 627px; }
      .sgcm-c-steps__control {
        max-width: 680px; }
        .sgcm-c-steps__control:before {
          max-width: 680px;
          top: 23px; }
      .sgcm-c-steps__bullet {
        font-size: 36px;
        width: 50px;
        height: 50px; }
        .sgcm-c-steps__bullet:after {
          top: 21px;
          width: calc(680px / 4 - 8px); } }
  @media screen and (min-width: 960px) {
    .sgcm-c-steps__title {
      margin-bottom: 40px; }
    .sgcm-c-steps__control {
      margin-bottom: 40px; }
    .sgcm-c-steps__step-by-step,
    .sgcm-c-steps .glide__slides {
      overflow: visible;
      overflow-x: hidden; }
    .sgcm-c-steps__card {
      background: none;
      padding: 0;
      padding-top: 110px; }
      .sgcm-c-steps__card--content {
        background: url(/arquivos/sgcm-c-step_bg@2x.jpg) center center no-repeat;
        background-size: cover;
        padding: 50px 30px 0;
        display: grid;
        grid-template-areas: 'image title' 'image text';
        align-items: flex-end;
        grid-template-rows: 55px 183px;
        grid-gap: 10px 30px; }
      .sgcm-c-steps__card--title {
        grid-area: title;
        height: auto;
        align-items: center; }
        .sgcm-c-steps__card--title-num {
          font-size: 48px; }
        .sgcm-c-steps__card--title-text {
          flex-basis: calc(100% - 35px); }
      .sgcm-c-steps__card--image {
        grid-area: image; }
        .sgcm-c-steps__card--image img {
          height: auto; }
      .sgcm-c-steps__card--text {
        grid-area: text;
        align-self: flex-start; }
      .sgcm-c-steps__card.glide__slide--active .sgcm-c-steps__card--image img {
        height: auto; } }

.sgcm-c-faq {
  padding-top: 50px;
  padding-bottom: 40px;
  background: white; }
  .sgcm-c-faq__extra {
    font-size: 18px;
    line-height: 1.5;
    color: #5d5c5d;
    margin-top: 30px; }
  .sgcm-c-faq__accordeon {
    width: calc(100% + 20px);
    margin-left: -10px; }
    .sgcm-c-faq__accordeon ul {
      list-style: none;
      padding: 0;
      margin: 0; }
  .sgcm-c-faq__header a {
    color: #5d5c5d;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
    border-bottom: 1px solid #9a9a9a;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none; }
    .sgcm-c-faq__header a:hover {
      opacity: 1; }
    .sgcm-c-faq__header a span {
      width: 75%; }
    .sgcm-c-faq__header a:after {
      content: '';
      border: solid #501e50;
      width: 15px;
      height: 15px;
      display: block;
      border-radius: 3px;
      border-width: 3px 3px 0 0;
      transform: rotate(135deg);
      transition: all .2s ease-out; }
  .sgcm-c-faq__content {
    height: fit-content;
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-out; }
    .sgcm-c-faq__content p {
      font-size: 16px;
      line-height: 1.35;
      padding: 20px; }
  .sgcm-c-faq .is-open .sgcm-c-faq__header a:after {
    transform: rotate(-45deg); }
  .sgcm-c-faq .is-open .sgcm-c-faq__content {
    max-height: 500px; }
  @media screen and (min-width: 720px) {
    .sgcm-c-faq {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (min-width: 960px) {
    .sgcm-c-faq__container {
      display: grid;
      grid-template-columns: 393px 546px;
      justify-content: space-between; } }


@media screen and (max-width: 768px) {
  .sgcm-c-steps__card.glide__slide--active .sgcm-c-steps__card--image img {
    height: 550px;
  }
}
.sgcm-c-inicio__title{
  font-weight: 800;
}

/*Doubts*/
.showInfo.phone {
  display:none;}

.showInfo.email{
  display:none;}

/*# sourceMappingURL=bundle.css.map*/