.x-product {
    &__main-img-container {
        @include rem(width, 360px);
        @include mq(sm, max) {
            width: 100%;
        }
    }

    &__img-container {
        display: flex;
        justify-content: flex-start;
        @include mq(sm, max) {
            justify-content: center;
            width: 68%;
        }
        
        .slick-dots {
            @include mq(sm, max) {
                @include rem(margin-top, 4px);
            }
            li {                
                width: 7px;
                height: 7px;
                border: 1px solid #ff0000;
                background-color: $color-white;
                transition: all .175s $accelerate-ease;
                &.slick-active {
                    transition: all .175s $decelerate-ease;
                    background-color: #ff0000;
                }
                button {
                    &:before {
                        display: none;
                    }                    
                }
            }
        }        

        .slick-arrow {
            &:before {
                content: '';
                display: block;                                
                border-color: #707070;
            }
        }

        .slick-prev {
            @include mq(sm, max) {
                left: -2%;
            }
            &:before {                
                @include arrow-generate('left', 20px , 2px);
                @include mq(sm, max) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .slick-next {  
            @include mq(sm, max) {
                right: -2%;
            }          
            &:before {
                @include arrow-generate('right', 20px , 2px);
                @include mq(sm, max) {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}