.x-product {
    &__name-wrapper {
        display: flex;
        align-items: flex-start;
        @include rem(margin-bottom, 17px);

        /*ALTERAÇÃO DESCONTO*/
    }

    &__name {
        color: $color-purple;
        @include rem(font-size, 24px);
        @include font-weight(bold);
        @include rem(margin-bottom, 20px);
        @include mq(sm, max) {
            @include rem(max-width, 243px);
            @include rem(font-size, 22px);
            text-align: center;
            margin: 0 auto 15px;
        }
    }       

    &__ref {
        display: none;
    }

    &__old-price {             
        color: #848484;        
        font-size: 18px;        
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        @include mq(sm, max) {
            display: block;
            text-align: center;
            @include font-weight(600);
            @include rem(font-size, 14px);
        }
    }


    &__price-info {
        display: flex;
        align-items: flex-end;
        @include rem(margin-bottom, 20px);
        flex-wrap: wrap;
        @include mq(sm, max) {
            align-items: center;
            justify-content: center;
        }

        /*NEW PRICE*/
        /*DESKTOP*/
        .x-product_price {
            color: #662c67;
        }
        .x-product_price ul {
            display: flex;
            height: 49px;
        }
        .x-product_price_left_side {
            margin-top: 6px;
            margin-right: 4px;
        }
        .x-product_price_right_side {
            font-size: 40px;
        }

        /*MOBILE*/
        .x-product_price_mob {
            width: 184px;
            color: #662c67;
        }
        .x-product_price_mob ul {
            display: flex;
            height: 49px;
        }
        .x-product_price_left_side_mob {
            margin-top: 6px;
            margin-right: 4px;
        }
        .x-product_price_right_side_mob {
            font-size: 40px;
        }
    }

    &__best-price {      
        display: inline-block; 
        color: #848484;               
        @include rem(font-size, 14px);
        @include font-weight(semi-bold);                
        text-transform: uppercase;        
        font-style: italic;  
        span {
            color: $color-purple;
            @include mq(sm, max) {
                margin-left: 3px;
            }
        } 
        @include mq(sm, max) {
            @include rem(font-size, 11px);
            font-style: normal;
            margin-left: 3px;
        }
    }

    &__installments {
        display: inline-block;
    }

    &__installments-text {        
        @include rem(font-size, 10px);
        @include font-weight(semi-bold);
        display: flex;
        align-items: center;        
        span {
            @include font-weight(bold);
            text-transform: uppercase;
            display: inline-block;
            color: $color-purple;
            &:first-child {
                @include rem(font-size, 14px);
                @include rem(width, 30px);
                line-height: 16px;
                margin-right: 3px;
                @include mq(sm, max) {
                    @include rem(font-size, 11px);
                    margin-right: 0;
                    width: 27px;
                }
            }

            &:not(:first-child) {                
                @include rem(font-size, 35px);
                line-height: 33px;
                @include mq(sm, max) {
                    @include rem(font-size, 28px);
                }
            }
        }        
    }

    &__discount {      
        @include rem(margin-right, 14px);
        @include rem(padding-top, 5px);
        @include mq(sm, max) {
            position: absolute;
            top: 20px;
            right: 0;
        }
    }

    
    

    &__discount-flag {
        width: 61px;                
        height: 60px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background-color: #43c300;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;        
        color: white;
        @include font-weight(bold);
        @include rem(font-size, 9px);
        text-transform: uppercase;
        border-radius:0 0 50% 50%;
        strong {
            letter-spacing: 0.8px;
            @include rem(font-size, 20px);            
        }
    }
}





