.x-shelf {
    @include custom-container(141px, 141px);

    @include mq(sm, max) {
        padding: 0;
    }

    &__header {
        @include mq(sm, max) {
            @include rem(width, 187px);
            margin: 0 auto 40px;
        }
    }

    &__full {
        width: 100%;
        order: 1 !important;

        .shelf {
            >ul {
                display: flex;
                justify-content: space-between;

                >li {
                    width: 42.59%;
                    border: none;
                    order: 1 !important;
                }
            }
        }

        .x-product {
            &__name {
                @include mq(sm, min) {
                    @include rem(font-size, 21px !important);
                }

                @include rem(margin-bottom, 20px) @include rem(min-height, 58px);
            }

            &__image,
            &__group {
                order: 1 !important;
            }

            &__chips {
                width: 100%;
            }

            &__price {
                min-height: 44px;
            }

            &__discount {
                &--container {
                    background-color: #ff9d00;
                    order: 1 !important;
                    margin-left: 15px;
                    margin-right: 0;
                }
            }

            &__discount {
                &--flag {
                    font-weight: 700;
                }
            }
        }
    }
}
