.x-superget-sell {
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    
    &__center {
        margin: 0 45px;
        padding: 30px 0;
        width: calc(100% - 90px);
        display: flex;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
        background: #f4f4f4;
        max-height: 78px;
        overflow: hidden;
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        &.expand{
            max-height: 700px;
            transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        }
        @include mq(sm, max) {
            width: calc(100% - 34px);            
            padding: 0;
            @include rem(max-width, 342px);
        }
    }
    &__saiba-mais{
        width: calc(100% - 90px);
        display: flex;
        justify-content: center;
        padding: 30px 0;
        background: #f4f4f4;
        @include mq(sm, max) {
            width: calc(100% - 34px);
            @include rem(max-width, 342px);
            padding: 16px 0;
        }
        
        .more-info{
            cursor: pointer;
            text-decoration: underline;
            font-weight: 700;
            text-align: center;
            font-size: 18px;
            color: #898989;
            @include mq(sm, max) {
                font-size: 12px;
            }
        }
        .more-info .less,
        .more-info.expand .more {
          display: none;
        }
        .more-info.expand .less {
          display: inline;
        }
        .more-info:focus {
          outline: none;
        }	
    }
    
    &__header { 
        width: 100%;
        color: #662C62;
        font-size: 20px;
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 20px;
        @include mq(sm, max) {
            @include rem(max-width, 257px);

        }
        
        h2 {
            letter-spacing: 0.5px;
            margin-bottom: 5px;
            display: block;
            width: 100%;
            font-weight: 400;
            @include mq(sm, max) {
                @include rem(font-size, 12px);
                text-transform: uppercase;
            }
            
            strong {
                font-weight: 700;
            }
        }
        
        p {
            font-size: 17px;
            font-size: 1.0625rem;
            letter-spacing: 0.5px;
            color: #5C5C5C;
        }
    }

    &__contents {
        width: 100%;

        @include mq(sm, min) {
            font-size: 16px;
            padding: 0 45px;
            margin-left: 80px;
        }

        @include mq(sm, max) {
            font-size: 9px;
            margin: 0 25px;
        }
        
        &_description {
            margin-bottom: 30px;

            @include mq(sm, max) {
                margin-top: 15px;
            }
        }
        
        > ul {
            list-style: disc;
            margin-top: 25px;
            margin-bottom: 30px;
            margin-left: 50px;

            > li {
                margin-bottom: 5px;

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
        
    }
    
    &__list {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 45px;
        @include mq(sm, max) {            
            padding: 0;
            justify-content: space-between;
        }
    }
    
    &__item {
        color: #707070;
        @include mq(sm, max) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &:last-of-type p:after {
            display: none;
        }


        &--icon {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            height: 42px;
            width: 85%;
            
            svg {
                width: 42px;
            }
        }

        &:last-child {
            svg {
                width: 85px;
                height: auto;
            }
        }

        p {
            font-size: 18px;
            color: #707070;;
            text-transform: lowercase;
            letter-spacing: 0.5px;
            display: flex;
            align-items: center;
            
            &:after {
                content: "";
                // background: url("/arquivos/icon--arrow-right-red.png");
                -webkit-background-size: 8px 8px;
                background-size: 8px;
                background-repeat: no-repeat;
                width: 8px;
                height: 16px;
                display: inline-block;
                margin: 0 25px;
                @include mq(sm, max) {
                    display: none;
                }
            }

            @include mq(sm, max) {
                text-align: center;
                max-width: 105px;
            }

            @include mq(sm, max) {
                @include rem(font-size, 11px)
            }
        }

    }
}