.simulation-container {
    font-family: "Open Sans", sans-serif;
    margin-top: 2.38vmax;
    margin-left: 7.97vmax;
    margin-right: 6.77vmax;
    margin-bottom: 4.65vmax;
	text-align: left;
}

.simulation-header {
    margin-bottom: 5.27vmax;
}

.simulation-title {
    text-align: center;
    font-size: 1.72vmax;
}

.simulation-spanTitle2 {
    font-weight: bold;
}

.simulation-body {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

.simulation-card-values {
    margin-bottom: 1.56vmax;
    font-weight: bold;
    @include mq('sm', max) {
        @include rem(margin-bottom, 16px !important);
    }
}

.fontPurple {
    color: #662C62;
}

.simulation-font-left {
    color: #707070;
    font-family: "Open Sans", sans-serif;
}

.simulation-table {
    color: #A7A7A7;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.simulation-table-title-row {
    color: #5C5C5C;
}

.simulation-table-title-col,
.simulation-table-totalFee {
    font-weight: bold;
}

.simulation-table-totalFee {
    color: #5C5C5C;
    font-size: 1.25vmax;
}

.simulation-table-title-row,
.simulation-table-mdr,
.simulation-table-serviceFee {
    font-size: 0.9375vmax;
}

.simulation-table-title-col,
.simulation-table-totalMoney,
.simulation-card-values,
.simulation-font-left {
    font-size: 1.09375vmax;
}

.simulation-table-title-col,
.simulation-table-info1 {
    text-align: left;
}

.simulation-card {
    line-height: inherit !important;
    position: relative;
}

.simulation-card-body input,
select {
    height: 3.671875vmax;
    -moz-border-radius: 0.3125vmax;
    border-radius: 0.3125vmax;
    width: 100%;
    padding-left: 1.7968749999999998vmax;
}

.simulation-card-body input {
    border: 0.078125vmax solid #E6E6E6;
}

.simulation-card-body select {
    border: 0.078125vmax solid #F7F7F7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='red'/></g></svg>") no-repeat;
    background-size: 1.2vmax;
    background-position: calc(100% - 1.5625vmax) center;
    background-repeat: no-repeat;
}

.simulation-table tr td {
    height: 3.2265625vmax;
}

.simulation-table-debit td,
.simulation-table-credit td,
.simulation-table-overTimeEmitter td {
    border-bottom: 0.078125vmax solid #F7F7F7;
}

.simulation-right {
    width: 50.78125vmax;
}

.simulation-left {
    width: 24.609375vmax;
    @include mq('sm', max) {
        .fontPurple, select, .simulation-font-left {
            @include rem(font-size, 14px !important);
        }
    }
}

@include mq('sm', max) {
    .simulation-right {
        @include rem(margin-top, 20px !important);
    }
    .simulation-container {
        @include rem(margin-left, 4px !important);
        @include rem(margin-right, 4px !important);
        @include rem(padding, 6px !important);
    }
    .simulation-left {
        @include rem(margin-left, 14px !important);
        @include rem(margin-right, 14px !important);
    }
    .simulation-table-title-row,
    .simulation-table-mdr,
    .simulation-table-serviceFee {
        @include rem(font-size, 10px !important);
    }
}

@media (max-width: 992px) {
    .simulation-container {
        margin-left: 1.015625vmax;
        margin-top: 1.640625vmax;
		margin-right: 0.359375vmax;
		padding: 20px;
    }

    .simulation-right {
        width: 100%;
        margin-top: 8.564814814814815vh;
    }

    .simulation-left {
        width: 100%;
        margin-left: 1.015625vmax;
        margin-right: 2.65625vmax;
    }

    .simulation-card-body input,
    select {
        height: 5.5vmax;
    }

    .simulation-card-body input {
        border: 0.3vmin solid #E6E6E6;
    }

    .simulation-card-body select {
        border: 0.3vmin solid #F7F7F7;
        background-size: 1.7vmax;
        background-position: calc(100% - 2.1vmax) center;
    }

    .simulation-table tr td {
        height: 3.8vmax;
    }

    .simulation-title span,
    .simulation-table-title-col span {
        display: block;
    }

    .simulation-table-info1 {
        text-align: center;
    }

    .simulation-title {
        font-size: 4.066666666666666VW
    }

    .simulation-table-totalFee {
        font-size: 2.4666666666666663VW;
    }

    .simulation-table-title-col,
    .simulation-table-totalMoney,
    .simulation-card-values,
    .simulation-font-left {
        font-size: 1.933333333333333vw
    }

    .simulation-table-title-row,
    .simulation-table-mdr,
    .simulation-table-serviceFee {
        font-size: 1.4VW;
    }

}

@media (max-width: 792px){
	.simulation-title {
        font-size: 5.066666666666666VW
    }

    .simulation-table-totalFee {
        font-size: 3.4666666666666663VW;
    }

    .simulation-table-title-col,
    .simulation-table-totalMoney,
    .simulation-card-values,
    .simulation-font-left {
        font-size: 2.933333333333333vw
    }

    .simulation-table-title-row,
    .simulation-table-mdr,
    .simulation-table-serviceFee {
        font-size: 2.4VW;
    }
}
