
body.is--product {
    
}

.x-product {
    &__cart-btn-wrapper,
    &__cart-btn {
        
    }

    &__cart-btn-wrapper {        
        width: 100%;
        @include mq(sm, max) {
            text-align: center;
        }
    }

    &__cart-btn {
        @include rem(width, 169px);
        background-color: #ff0000;
        color: $color-white; 
        @include rem(border-radius, 18px);
        border: 1px solid #ff0000;
        transition: all .175s $accelerate-ease; 
        text-transform: uppercase;
        @include font-weight(bold);       
        @include rem(font-size, 12px);
        @include rem(height, 35px);
        &:not(.has--error) {
            &:not(:disabled) {
                &:hover {
                    transition: all .175s $decelerate-ease;
                    background-color: $color-white;
                    color: #ff0000;
                }
            }
        }

        &.has--error {
            opacity: .3;
            cursor: not-allowed;
        }
        &:disabled {
            cursor: wait;
        }
        &.has--no-stock {
            pointer-events: none;
            cursor: not-allowed;
            background: #f4f4f4;
            color: black;
            border-color: #f4f4f4;
        }
    }
}
