.x-product {
    &__flags {
        @include rem(margin-bottom, 30px);
        border: 1px solid transparent;
        transition: border-color .175s $accelerate-ease;
        display: block;        
        border-radius: 5px;
        @include rem(max-width, 282px);
        width: 100%;
        box-sizing: border-box;
        background-color: #F4F4F4;
        &.has--error {
            transition: border-color .175s $decelerate-ease;
            border-color: #ff0000;
        }

        @include mq(sm , max) {
            display: block;
            margin: 0 auto 30px;
        }

        
        .x-free_shipping {
            display: flex;
            width: 100%;
            background-color: #43c302;
            justify-content: center;
            border-radius: 10px 10px 0 0;

            p {
                font-family: "Open Sans", sans-serif;
                font-size: 10px;
                font-weight: 700;
                margin: 5px 0;
                color: #fff;
            }
        }
    }

    &__flags-text {
        display: flex;
        justify-content: center;
        color: #848484;        
        @include rem(font-size, 10px);
        @include font-weight(bold); 
        @include rem(margin-bottom, 10px); 
        display: flex;  
        align-items: center;
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 10px;

        svg {
            display: inline-block;
            margin-right: 0;
            margin-left: auto;
            opacity: 0;
            transition: opacity .175s $accelerate-ease;
            .has--error & {
                transition: opacity .175s $decelerate-ease;
                opacity: 1;
            }
            @include mq(sm, max) {
                position: absolute;
                right: 0;
                top: 50%; 
                transform: translateY(-50%);
            }
        }

        @include mq(sm, max) {
            text-align: center;
            position: relative;
            display: block;
        }
    }
    &__flags-list {
        display: flex;
        justify-content: center;
        padding: 0 8px;
        padding-bottom: 15px;
        @include mq(sm, max) {
            justify-content: center;
        }
        li {        
            width: 50px;
            height: 35px;
            border-radius: 6px;
            border: 1px solid #e6e6e6;
            background-color: #ffffff;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            will-change: transform;
            transition: all .175s $accelerate-ease;
            transform: scale(1);
            display: inline-block;
            &:not(:first-child) {
                margin-left: 10px;
            }
            &.is--vivo {
                background-image: url('//superget.vteximg.com.br/arquivos/vivo-chip.png');
            }

            &.is--tim {
                background-image: url('//superget.vteximg.com.br/arquivos/tim-chip.png');
            }

            &.is--claro {
                background-image: url('//superget.vteximg.com.br/arquivos/claro-chip.png');
            }

            &.is--oi {
                background-image: url('//superget.vteximg.com.br/arquivos/oi-chip.png');
            }

            &.is--active {
                transition: all .175s $decelerate-ease;
                border-color: #662c62;
                border-width: 2px;
            }
            &:not(.is--active) {
                &:hover {                    
                    transition: all .175s $decelerate-ease;
                    transform: scale(1.1)
                }
            }            
        }        
    }

    /*DESKTOP*/
    @include mq(sm, min) {
        .x-app_logo {
            // display: block;
            width: 282px;
            margin-top: 12px;
            margin-bottom: 17px;
            background-color: #f4f4f4;
            border-radius: 10px;

            .x-free_shipping {
                display: flex;
                width: 100%;
                background-color: #43c302;
                justify-content: center;
                border-radius: 10px 10px 0 0;

                p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 10px;
                    font-weight: 700;
                    margin: 5px 0;
                    color: #fff;
                }
            }

            & > ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 14px;
                padding-bottom: 17px;

                & > li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    #x-logo_app_image_1 {
                        width: 50px;
                        height: auto;
                    }

                    #x-logo_app_image_2 {
                        width: 170px;
                        height: auto;
                        margin-left: 22px;
                    }

                    .x-text_logo_exlusive {
                        font-family: "Open Sans", sans-serif;
                        font-size: 8px;
                        font-weight: 700;
                        color: #5C5C5C;
                        margin-left: 4px;

                        .x-para_1 {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }

    /*MOBILE*/
    @include mq(sm, max) {
        .x-app_logo_exclusive_mob {
            width: 233px;
            margin: 0 auto;
            margin-bottom: 19px;
            background-color: #f4f4f4;
            border-radius: 10px;

            .x-free_shipping {
                display: flex;
                width: 100%;
                background-color: #43c302;
                justify-content: center;
                border-radius: 10px 10px 0 0;

                p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 10px;
                    font-weight: 700;
                    margin: 5px 0;
                    color: #fff;
                }
            }

            > ul {
                display: flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 13px;

                > li {
                    > a {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;

                        #x-logo_app_image_1_mob {
                            width: 37px;
                            height: auto;
                        }

                        .x-text_logo_exlusive_mob {
                            font-family: "Open Sans", sans-serif;
                            font-size: 6px;
                            font-weight: 700;
                            color: #5c5c5c;
                            margin-left: 2px;
        
                            .x-para_1_mob {
                                margin-left: 2px;
                            }
                        }
                    }

                    #x-logo_app_image_2_mob {
                        width: 146px;
                        height: auto;
                        margin-left: 19px;
                    }
                }
            }
        }
    }
}