.x-product {
    &__nav-img-container {
        @include rem(width, 70px);              
        @include rem(margin-right, 70px);        
        position: relative;
        overflow: hidden; 

        .slick-slider {}

        .slick-slide {
            width: 100%;
            border: 2px solid transparent;
            &.slick-current {
                border-color: #662c62;
            }
        }

        .slick-arrow {
            position: absolute; 
            background-color: $color-white !important;  
            left: 50%;
            transform: translateX(-50%);
        }

        .slick-track {
            
        }
        
        .slick-list {    
            height: 280px !important
        }

        .slick-prev {
            top:-36px;
            &:before {
                content: '';
                @include arrow-generate('up', 12px, 3px);
                border-color: #BFBFBF;
            }
        }

        .slick-next {
            bottom: -36px;
            top: initial;
            &:before {
                content: '';
                @include arrow-generate('down', 12px, 3px);
                border-color: #BFBFBF;
            }
        }
    }

    &__nav-img-wrapper {

    }

    &__nav-img {
                
    }
}