
.x-product {
    &__wrapper {
        @include custom-container(175px, 175px);
        @include rem(padding-top, 50px);
        display: flex;
        justify-content: space-between;

        @include mq('sm', max) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include custom-container(14px, 14px, 100%);
            position: relative;
            @include rem(padding-top, 20px);
        }
    }

    &__container {
        @include rem(width, 362px);
        @include mq('sm', max) {
            width: 100%;
        }
    }

    &__img {
        margin: auto;
    }
}

// Modal - Links header credenciamento & quero alugar 

.x-modal--is--open {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    right: 0;
}
.x-modal--is--loading{
    width: 100% !important;
    border-radius: 0 0 10px 10px;
}
.x-modal--is-not-open{
    display: none;
}
.x-block--scroll{
    overflow-y: hidden !important;    
}
.x__modal__credenciamento {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 12px;
    min-height: 272px;
    width: 707px;
    &__sair {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      height: calc(95% - 44px);
      width: 85%;
      margin-left: 30px;
      margin-top: 26px;
      font-family: "Open Sans", sans-serif;
      h2 {
        font-size: 26px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 25px;
        font-weight: bold;
      }
      p {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        &:not(:first-of-type) {
          font-style: italic;
          margin-top: 20px;
        }
      }
      span {
        display: block;
        margin: 25px 0; 
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #E20C0C;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.x__modal__agendamento {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 12px;
    min-height: 272px;
    width: 707px;
    &__sair {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      height: calc(95% - 44px);
      width: 85%;
      margin-left: 30px;
      margin-top: 26px;
      font-family: "Open Sans", sans-serif;
      h2 {
        font-size: 26px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 25px;
        font-weight: bold;
      }
      p {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        &:not(:first-of-type) {
          font-style: italic;
          margin-top: 20px;
        }
      }
      span {
        display: block;
        margin: 25px 0; 
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #E20C0C;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}