
$local--image-space: 12px;

.x-instafeed {
    @include rem(padding,11px 0 20px);
    background-color: #001010;
    .slick-list {
        width: 100%;
        height: auto;
    }
    &__container {
        display: flex;
        justify-content: flex-end;

        @include mq('sm', max) {
            justify-content: space-between;
        }
    }

    &__title {
        @include mq('sm', max) {
            @include rem(font-size, 42px);
            @include rem(margin-top, 24px);
            @include rem(margin-bottom, 24px);
            text-align: center;
            text-transform: lowercase;
        }
    }

    &__item-wrapper {
        @include mq('sm', max) {
            width: 47.5%;
            width: calc(50% - 8px);

            &:first-child {
                .x-instafeed__item {
                    &:first-child {
                        @include rem(margin-bottom, 16px);
                    }
                }
            }
        }
    }
    
    &__inner-wrapper {
        @include mq('sm', max) {
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;   
        }
    }
    

    &__text {
        color: $color-white;
        @include rem(font-size, 14px);
        @include font-weight(regular);
        text-align: center;
        line-height: 1;
    }
    
    &__item {
        @include mq('sm') {
            padding: 10px;
        }
        // Mobile
        @include mq('sm', max) {
           
        }
    }    

    &__img {
        @include mq('sm') {
            transition: transform .225s ease;
            will-change: transform;
            height: calc(100vw / 6);
        }
        @include mq('sm', max) {
            @include rem(height, 170px);
        }
    }
}
