#my-orders-container {
    font-family: Lato;
    .myo-invoice-btn,.myo-details-btn,.myo-reorder-btn {
        button {
            border-radius: 0;
            border: none;
            box-shadow: none !important;
            &:hover {
                background: transparent;
            }
        }
        span, span > span {
            @include rem(font-size, 15px !important);
        }
    }

    a.myo-cancel-btn.c-danger.hover-c-danger.pa0.bg-transparent.bn.cf.db.link.tl.w5.f6.fw4.flex.items-center.mb5 {
        display: block;
    }
    .myo-details-btn {
        text-align: center;
        button {
            float: none;
            display: inline-block;
            &:before {
                content: "";
                display: inline-block;
                height: 18px;
                width: 30px;
                background: url("/arquivos/ver-detalhes.png") no-repeat center;
            }
        }
        span {
            float: none;
            display: inline-block;
        }
        svg,img {
            display: none;
        }
    }
    .helvetica {
        section {
            .myo-order {
                &-card {
                    border-radius: 0;
                    border-color: #e4e4e4;
                    @include rem(margin-top, 40px);
                }
                &-header {
                    background-color: #F9F9F9;
                    @include rem(margin-bottom, 0);
                    position: relative;
                    >div {
                        >div:nth-child(1) {
                            > span {
                                @include rem(font-size, 12px);
                            }
                        }
                        >div:nth-child(2),
                        > a {
                            > span {
                                @include rem(font-size, 14px);
                            }
                        }
                    }
                    >div:nth-child(4) {
                        >div:nth-child(3) {
                            div {
                                background: $color-brown-dark;
                                color: #fff;
                                span {
                                    @include rem(font-size, 13px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >div:not(.helvetica) {
        a[href$='cancel'] {
            display: none !important;
        }
        article {
            >section {
                overflow: hidden;
                height: auto;
                min-height: 250px;
                h3 {
                    font-weight: bold;
                    letter-spacing: normal;
                    margin-bottom: 20px !important;
                    color: #333;
                    text-transform: uppercase;
                    span {
                        @include rem(font-size, 16px !important);
                    }
                }
            }
        }
        .w-100.pv4.fl {
            >h2 {
                text-transform: uppercase;
                font-weight: bold;
            }
            >p {
                >span {
                    font-weight: bold;
                    &:last-child {
                        background-color: #fff;
                        border-radius: 0;
                        padding: 7px;
                        color: #fff;
                        font-weight: normal;
                        background: $color-brown-dark;
                        @include rem(font-size, 14px !important);
                    }
                }
            }
            table {
                img {
                    width: 15%;
                }
            }
        }
        >a {
            font-weight: bold;
            color: #333;
            margin-top: 15px;
            >svg {
                display: none;
            }
            &:before {
                content: "<";
                color: #afafaf;
                margin-right: 15px;
                font-size: 16px;
            }
        }
        >div:nth-child(2) {
            h2 {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 20px;
            }
            time {
                div {
                    background-color: #959595;
                    border-radius: 0;
                    padding: 7px;
                    color: #fff;
                }
            }
        }
        >div:nth-child(3) {
            a {
                color: #333;
                font-weight: bold;
                text-transform: lowercase;
                svg {
                    fill: #333;
                }
            }
        }
        .myo-workflow {
            li {
                text-align: center;
                &.x-ultimo-ativo {
                    &:first-child {
                        &:before {
                            border: none;
                        }
                        &:after {
                            margin-top: -46px;
                        }
                    }
                    &:last-child {
                        &:before {
                            margin-top: 11px;
                        }
                        &:after {
                            border: none;
                        }
                    }
                    span:first-child {
                        background: transparent;
                    }
                    span {
                        font-weight: 900;
                    }
                    &:before {
                        content: "";
                        float: left;
                        border: 2px solid #000;
                        width: 50%;
                        margin-top: 11px;
                    }
                    &:after {
                        content: "";
                        width: 50%;
                        float: right;
                        border: 2px solid #999;
                        margin-top: -46px;
                    }
                    img {
                        position: absolute;
                        left: 0;
                    }
                }
                &.x-ultimo-ativo~li {
                    span:nth-child(1) {
                        background-color: #fff;
                        border: 4px solid black;
                    }
                }
                span {
                    float: none;
                    z-index: 96;
                    position: relative;
                }
                span:nth-child(1) {
                    margin: 0 auto;
                    background-color: #000;
                    margin-bottom: 10px;
                }
                span:nth-child(2) {
                    color: #000;
                }
                &:after {
                    content: "";
                    float: left;
                    border: 2px solid #000;
                    width: 100%;
                    margin-top: -45px;
                }
                &:first-child:after {
                    content: "";
                    width: 50%;
                    float: right;
                }
                &:last-child:after {
                    content: "";
                    width: 50%;
                    float: left;
                }
            }
        }
        >div:nth-child(5),
        >div:nth-child(6),
        >div:nth-child(7) {
            >section {
                overflow: hidden;
                height: auto;
                min-height: 300px;
                h3 {
                    margin-bottom: 20px;
                    span {
                        font-weight: 900;
                    }
                }
            }
        }
        >div:nth-child(5) {
            div {
                >p:first-child {
                    font-weight: bold;
                }
            }
        }
        >div:nth-child(5) {
            h2 {
                font-weight: bold;
                color: #000;
            }
            >table {
                thead {
                    tr {
                        th {
                            text-transform: lowercase;
                            span {
                                color: #000;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            vertical-align: middle;
                            img {
                                width: 15%;
                                height: auto;
                            }
                            div {
                                width: 75%;
                            }
                            img,
                            div {
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }
    >div.cf.helvetica {
        font-weight: bold;
        >a {
            font-weight: bold;
            color: #868686;
            margin-top: 15px;
            >svg {
                display: none;
            }
            &:before {
                content: "<";
                color: #afafaf;
                margin-right: 15px;
                font-size: 16px;
            }
        }
        >aside {
            article {
                .myo-summary {
                    border-radius: 0;
                    &-header {
                        background-color: #fff;
                        border-radius: 0;
                        >div:last-child{
                            div {
                                background-color: #959595;
                                border-radius: 0;
                                padding: 7px;
                                font-weight: normal;
                                color: #fff;
                            }
                        }
                    }
                    &-product {
                        h4 {
                            color: #333;
                        }
                    }
                }
                >div:nth-child(1) *{
                    color: #333;
                }
                >div:nth-child(2) {
                    >div:last-child *{
                        color: #333;
                        font-weight: bold;
                    }
                }
            }
        }
        >section{
            >p:first-child {
                font-weight: bold;
                font-size: 20px;
                text-transform: uppercase;
            }
            button {
                background-color: #fb4035;
                color: white;
                border-radius: 0;
                border: none;
                padding: 8px 16px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
