
.x-copyright {
    @include mq('sm') {
        @include rem(padding-top, 31px);
        @include rem(padding-bottom, 31px);
    }

    &__container {
        @include mq('sm') {
            width: 94.475%;
            margin: 0 auto;
            align-items: center;
        }

        display: flex;
        justify-content: space-between;

        @include mq('sm', max) {
            flex-direction: column;
        }
    }

    &__left,
    &__right {
        @include mq('sm', max) {
            @include rem(padding, 16px 26px);
            width: 100%;
        }
    }

    &__text {
        color: #808080;
        @include rem(font-size, 14px);
        @include font-weight(light);

        @include mq('sm', max) {
            text-align: center;
        }

        p {
        }

        strong {
            color: $color-black;
            @include rem(font-size, 11px);
            @include font-weight(black);
        }
    }

    &__left {
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include mq('sm') {
        }

        @include mq('sm', max) {
            order: -1;
            flex-direction: column;
        }
    }

    &__security,
    &__devs,
    &__payments {

    }

    &__security,
    &__devs {
        @include mq('sm') {
            @include rem(margin-right, 24px);
        }
    }

    &__devs {
        display: flex;
    }

    &__security {
        .x-copyright__security-link {
            &:first-child {
                @include rem(margin-right, 8px);
            }

            &:nth-child(2) {
                display: inline-block;
                @include rem(width, 88px);
            }
        }
    }

    &__enext {
        @include rem(margin-right, 40px);

        @include mq ('sm', max) {
            display: inline-block;
            vertical-align: middle;
            a {
                display: none;
                margin-top: 3px;

                svg {
                    display: block;
                    width: 42px;
                }
            }
        }
    }

    &__vtex {

        @include mq ('sm', max) {
            display: inline-block;
            vertical-align: middle;
            a {
                display: none;
                svg {
                    display: block;
                    width: 56px;
                }
            }
        }
    }


    &__credit-cards-items {
        @include flex-spaced;
    }

    &__credit-cards-item {
        @include rem(margin-left, 10px);

        &:first-child {
            margin-left: 0;
        }
    }
}
