@import "./normalize";
@import "./variables/base";
@import "./checkout-header";
@import "./checkout-footer";
@import "./../../globals/popup-login/_popup-login-base";

@import "./main";
@import "./checkout/base";
@import "./email/base";
@import "./cart/base";
@import "./chip-popup";

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
}
