header {
    .x-container{
        width: 1170px !important;
        max-width: 100%;
        @include rem(padding-bottom, 15px);
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        img:first-child{
            margin-left: 0 !important;
        }

        @include mq('lg', max) {
            @include rem(padding-top, 20px);
        }
        
        @include mq('sm', max) {
            max-width: 100%;
        }

        .secure{
            margin-right: 1.2em;
            display: flex;
            align-items: center;

            p{
                font-size: 14px;
                line-height: 14px;
                margin-right: 1em;
                color: #662c62;
                text-transform: uppercase;

                @media screen and (max-width: 400px) {
                    font-size: 11px;
                }
            }
        }
    }
}
