footer {
    background-color: #eeeeee;
    padding: 20px;
    font-size: 12px;
    color: #616161;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    position: relative;
    height: 300px;

    @media (min-width: 979px) {
        position: relative;
        bottom: -172px;
    }

    .x-container {
        display: flex;
        justify-content: space-between;

        @include mq('sm', max) {
            display: block;

            p {
                margin-top: 12px;
            }
        }

        .payment {
            height: auto;
            margin-left: 4em;
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            grid-column-gap: 20px;

            .brands {
                display: grid;
                align-items: center;
                grid-template-columns: auto auto auto auto;
                grid-column-gap: 20px;
            }

            @media screen and (max-width: 800px) {
                display: block;
                margin-left: 0em;

                .brands {
                    justify-content: start;
                    margin-top: 1em;
                    grid-column-gap: 20px;
                }
            }
        }

        .line {
            display: none;
            height: 1px;
            background-color: #686868;
            margin-top: 17px;

            @media screen and (max-width: 800px) {
                display: block;
            }
        }

        .water-mark {
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 1em;

            @media screen and (max-width: 800px) {
                margin-top: 17px;
            }
        }
    }
}
