body.hide-overflow {
  overflow: hidden !important;
}

%hide {
  transition: 200ms;
  opacity: 0;
  visibility: hidden;
}

.x-chip {
  &__popup {

    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    transition: 200ms;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: initial;
    z-index: 89;
    &.hide {
      @extend %hide;
    }
    
    &__container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: auto;
      background: white;
      max-width: 600px;
      padding: 25px;
      display: flex;
      justify-content: center;
      flex-flow: column;  
      min-height: 300px;
      z-index: 90;
      opacity: 1;
      visibility: initial;
      &.hide {
        @extend %hide;
      }
      @media screen and (max-width: 360px) {
        width: 100%;
      }
      @media screen and (max-width: 900px) {
        width: 80%;
      }

      &__title {
        display: block;
        margin: 0 auto;
        color: #7b1d7b;
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 10px;
      }

      &__paragraph {
        width: 100%;
        padding: 0 90px;
        text-align: left;
        @media only screen and (max-width: 900px) {
          padding: 0 30px;
        }
        .inner {
          &__text {
            @media only screen and (max-width: 900px) {
              font-size: 12px;
            }
          }
          &__close {
            border-radius: 20px;
            border: none;
            width: 200px;
            background: #ff0b00;
            color: white;
            padding: 10px 0;
            text-transform: uppercase;
            margin: 0 auto;
            display: block;
            margin-top: 25px;
            outline: none;
          }
        }
      }

      &__close {
        float: right;
        border: none;
        background: none;
        color: #ff0b00;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        right: 20px;
        top: 30px;
        outline: none;
      }
    }
  }
}