
.x-wishlist {
    &__amount {
        color: $color-black;
        @include rem(font-size, 11px);
        @include font-weight(bold);
        @include rem(margin-left, 6px);
        position: absolute;
        top: -7px;
        left: 7px;
    }

    &__add-btn {
        display: block;
        position: absolute;
        @include rem(top, 8px);
        @include rem(right, 12px);
        z-index: z('wishlist-btn');

        &.has--wishlist-loader {
            .icon-wishlist,
            .icon-wishlist-remove {
                display: none !important;
            }

            .icon-wishlist-loader {
                display: inline-block;
            }
        }
        .icon-wishlist-product__outline {
            display: none !important;
        }        

        &.is--active {
            .icon-wishlist__full {
                display: block;
            }

            .icon-wishlist__outline {
                display: none;
            }
        }

        .icon-wishlist__full,
        .icon-wishlist-loader {
            display: none;
        }
    }
}
