.cart-template {
    @media (max-width: 768px) {
        margin-left: 0;
        width: 336px;
    }

    @media (min-width: 980px) {
        width: 408px;
    }

    .cart-fixed {
        @media (min-width: 980px) {
            width: 408px;
            position: static !important;
        }

        h2 {
            @include formHeader;
            display: flex;
            padding-top: 0px;
            padding-bottom: 11px;
            border-bottom: 1px solid #d6d6d6;
            padding-left: 0;
            display: flex;
            padding-top: 0;
            font-size: 14px;
            background-color: #f4f4f4;
        }

        .summary-cart-template-holder {
            background: white;
            margin-top: 23px;
            height: auto !important;

            .cart {
                max-height: none;
                margin-bottom: 20px;
                .cart-items {
                    padding: 24px;
                    padding-bottom: 12px;

                    .hproduct {
                        padding-bottom: 24px;
                        border: 0;
                        border-bottom: 1px solid grey;
                    }

                    .hproduct:last-child {
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }

        .summary-template-holder {
            background: white;
            border: none;
        }
    }
}

#go-to-cart-button {
    background-color: white;
}

.mini-cart {
    margin-top: 36px;
    max-width: 95%;
    text-shadow: none;

    @media (min-width: 768px) {
        margin-top: 0;
    }

    .link-cart {
        background: white;
        display: flex;
        justify-content: center;
        float: none;
        margin: 0;

        small {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-weight: normal;

            width: 200px;
            background-color: $color-purple;
            color: $color-white;
            height: 36px;
            border-radius: 100px;

            #orderform-minicart-to-cart {
                color: $color-white;
                text-transform: uppercase;
                font-weight: bold;
            }

            #orderform-minicart-to-cart:hover {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

.mini-cart.cart {
    padding: 0;

    @media (min-width: 1200px) {
        padding: 0;
    }

    .table {
        td {
            line-height: 24px;
        }
    }
}

.hproduct.item {
    display: flex;
    flex-wrap: wrap;
    background: white;

    .url {
        margin-right: 12px;

        img {
            width: 48px;

            @media (min-width: 768px) {
                width: 96px;
            }
        }
    }

    .product-name {
        @include formHeader;
        width: 180px;
        font-size: 16px;
    }

    .description {
        .shipping-date {
            display: none;
        }

        .price {
            display: block;
            position: absolute;
            left: 108px;
            @include header3;
            color: #7f7f7f;
            font-weight: bold;
            font-size: 14px;
            line-height: 28px;

            @media (max-width: 480px) {
                left: 54px;
            }
        }
    }
}

.summary-totalizers.cart-totalizers {
    .table {
        display: flex;
        flex-direction: column;
        padding: 0;

        .totalizers-list {
            padding-left: 8px;
        }

        .Items,
        .Shipping {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;

            .monetary {
                line-height: 24px;
                margin-right: 24px;
            }

            .info {
                width: unset;
            }
        }

        tfoot {
            margin-top: 20px;
            width: 100%;

            tr {
                border-top: 1px solid #d6d6d6;
                display: flex;
                padding: 12px 24px 0 0;

            }

            .monetary,
            .info {
                color: $color-red-light;
                text-transform: uppercase;
                width: 100%;
                font-size: 16px;
            }

            .monetary {
                @media (min-width: 1200px) {
                    font-weight: bold;
                    padding-top: 12px;
                }
            }

            .info {
                @media (min-width: 1200px) {
                    display: flex;
                }
            }
        }
    }
}

.payment-confirmation-wrap {
    padding: 20px 0;
    background: white;

    .icon-lock {
        display: none;
    }


    #payment-data-submit {
        font-size: 10px;
        font-weight: bold;
        max-width: 256px;
    }
}

@media (max-width: 979px) {
    .body-order-form.row-fluid .mini-cart {
        margin-top: 72px;
    }
}
.cart-fixed.cart-fixed-transition {
    @media (max-width: 979px) {
        margin-top: 48px;
    }
}