header(class='x-header')
    div(class='x-header__center')
        div(class='x-header__contents')
            div(class='x-header__logo')
                a(href='/' title='SuperGET')
                    #{`vtex.cmc:svgSuperGETLogo`}/
            nav(class='x-header__navigation')
                ul(class='x-header__navigation--menu')
                    li(class='x-header__navigation--item')
                        a(href='https://www.superget.com.br') Maquininhas
                        div(class='x-header__menu')
                            div(class='x-header__menu--content')
                                div(class='x-header__menu--content-left', style='display: none')
                                    h3
                                       | Conheça
                                       strong Nossas Máquinas
                                div(class='x-header__menu--content-right x-shelf__contents')
                                    ul(class='x-header__menu--content-products')
                                        #{`vtex.cmc:menushelf`}/
                    li
                        a(href='/app') App Getnet
                    li
                        a(href='/cartao-pre-pago-superget') Cartão SuperGet
                    li(class='x-help--item')
                        a(href='/institucional/politica-de-privacidade') Ajuda
                    li
                        a(href='/cadastro', id='credenciamento', rel='nofollow') Cadastro
                    li
                        a(href='https://site.getnet.com.br/maquininha/aluguel/', id='quero-alugar', target='_blank') Quero Alugar
        div(class='x-header__info')
            ul(class='x-header__info--list')
                li(class='x-header__info--item')
                    button(class='js--login')
                        span
                            #{`vtex.cmc:svgHeaderUser`}/
                li(class='x-header__info--item')
                    a(href='/#x-comparative', class='x-header__info--item-button') Pedir Maquininha
                li(class='x-header__info--item')
                    a(class='js--minicart-open')
                        a(href='/checkout')
                            #{`vtex.cmc:svgHeaderCart`}/
                            
#{`vtex.cmc:atendimento`}/