
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'login'
    - var $templateClass = 'login'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')

block append content
    <vtex.cmc:userLogin/>

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)