
extends ./../_layouts/_mobile-base.pug


//- Template variables
block vars
    - var $templateName = 'category'
    - var $templateClass = 'category'


//- Page styles
block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/


//- Main Content
block content
    section(class='x-category__main-container')
        div(class='hidden-heading') <vtex.cmc:searchTitle/>

        include ./../_partials/category/_category__banner.pug                
        include ./../_partials/category/_category__filters.pug
        include ./../_partials/category/_category__products.pug


//- Footer
block append footer
    div(class='x-category__filters-vtex is--hide')
        <vtex.cmc:searchNavigator/>


//- Page scripts
block append scripts
    script(type='text/javascript').
        var scriptContent = $('.resultItemsWrapper').children('script').html();
        eval('window.'+ /(PageClick_)([0-9]+)/g.exec(scriptContent)[0] +' = function() {}');
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)

