
extends ./../_layouts/_mobile-account-base.pug

block append breadcrumb
    //- Mixin General Breacrumb
    +generalBreadcrumb('orders')

block append accountContentLeft
    h2(class='x-account__left-title') Meus pedidos
    vtex:template(id='SuperGetCommon-AccountMenu')/

block append accountContentRight
    div(class='x-account__content')
        div(class='x-account__orders')
            <vtex.cmc:orderList/>

            include ./../../common/_partials/account/_account__orders-tracking.pug
