
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'home'
    - var $templateClass = 'home'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

block content
    main(class='x-content')
        
        include ../_partials/home/banner.pug
        include ../_partials/home/benefits.pug
        include ../_partials/home/shelf.pug
        include ../_partials/home/superget-sell.pug
        include ../_partials/home/rates.pug
        include ../_partials/home/superdigital.pug
        include ../_partials/home/payments-card.pug
        include ../_partials/home/testimonial.pug
        include ../_partials/home/faq.pug

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)