
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'empty-search'
    - var $templateClass = 'empty-search'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

//- Main Content
block content
    section(class='x-empty-search__main-container')
        div(class='x-empty-search__title')
            h2 Nenhum resultado encontrado para: #[span(class='js--empty-search-term')]

        form(class='x-empty-search__form js--empty-search-form')
            input(type='text', class='x-empty-search__input js--empty-search-input', placeholder='Busque novamente', required='required')/
            button(class='x-empty-search__submit', type='submit', title='Buscar') <vtex.cmc:svgIconSearch/>        

    section(class='x-empty-search__suggestion-shelf')
        div(class='x-empty-search__suggestion-shelf-container js--empty-search-suggestion-shelf')
            <vtex:contentPlaceHolder id="Vitrine Sugestão" />

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)
