extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
  - var $templateName = 'maquininha-cartao'
  - var $templateClass = 'maquininha-cartao'

//- Styles
block append styles
  link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

//- Main Content
block content
  #{`vtex:template id="SuperGetMobile-Header"`}/
  main(class='x-machine__main', role='main')
    main(class='x-content')
      section(class='x-banner-machines')
        div(class='x-banner-machines__container')
          div(class='x-banner-machines__container-left')
            #{`vtex:contentPlaceHolder id="Banner Texto"`}/
          div(class='x-banner-machines__container-right')
            #{`vtex:contentPlaceHolder id="Banner Imagem"`}
      section(class='x-especification-machine')
        div(class='x-especification-machine__intro')
          #{`vtex:contentPlaceHolder id="Introducao Texto Maquininha"`}/
          div(class='x-especification-machine__intro-border')
            img(src='/arquivos/borda-pontilhada.png')/
        div(class='x-especification-machine__machine-product')
          div(class='x-especification-machine__machine-product-text')
            #{`vtex:contentPlaceHolder id="Blocos Texto Maquininha"`}/
        div(class='x-especification-machine__button')
          a(href='#vitrine', class='button') Compre Agor
      section(class='x-shelf-product')
        div(class='x-shelf-product__intro')
          #{`vtex:contentPlaceHolder id="Introducao Vitrine Texto"`}/
        div(class='x-comparative__text', style='display:none')
          #{`vtex:contentPlaceHolder id="Texto Produtos em destaque`}/
        div(class='x-comparative__ideal', style='display:none')
          #{`vtex:contentPlaceHolder id="Ideal Produtos em destaque"`}/
        div(class='x-comparative__svgs', style='display:none')
          #{`vtex:contentPlaceHolder id="svgs produtos em destaque"`}/
      div(class='x-shelf-product__products', id='vitrine')
        #{`vtex:contentPlaceHolder id="Vitrine Maquininhas Cartao"`}
      section(class='x-types-payment-machine')
        div(class='x-types-payment-machine__intro')
          #{`vtex:contentPlaceHolder id="Introducao Pagamentos Texto"`}/
        div(class='x-types-payment-machine__center')
          div(class='x-types-payment-machine__center-content')
            div(class='x-types-payment-machine__center-content__item')
              div(class='x-types-payment-machine__center-content__item-name-machine')
                h3 Superget Mobile
              div(class='x-types-payment-machine__center-content__item-title')
                h3
                  span(class='x-icon-fisica') Pessoa Física
              div(class='x-types-payment-machine__center-content__item-card')
                ul
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgmastercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgvisa`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgamex`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgelo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svghipercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgHiper`}/
            div(class='x-types-payment-machine__center-content__item')
              div(class='x-types-payment-machine__center-content__item-title')
                h3
                  span(class='x-icon-juridica') Pessoa Jurídica
              div(class='x-types-payment-machine__center-content__item-card')
                ul
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgmastercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgvisa`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgamex`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgelo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svghipercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgHiper`}/
          div(class='x-types-payment-machine__center-content')
            div(class='x-types-payment-machine__center-content__item')
              div(class='x-types-payment-machine__center-content__item-name-machine')
                h3 Superget Com Chip, Superget Com Chip + Wifi, Superget Bobina
              div(class='x-types-payment-machine__center-content__item-title')
                h3
                  span(class='x-icon-fisica') Pessoa Física
              div(class='x-types-payment-machine__center-content__item-card')
                ul
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgmastercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgvisa`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgamex`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgelo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svghipercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgHiper`}/
            div(class='x-types-payment-machine__center-content__item')
              div(class='x-types-payment-machine__center-content__item-title')
                h3
                  span(class='x-icon-juridica') Pessoa Jurídica
              div(class='x-types-payment-machine__center-content__item-card')
                ul
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgmastercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgvisa`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgamex`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgelo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svghipercard`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgben`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgalelo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgsodexo`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgticket`}/
                  li
                    span(class='x-types-payment-machine-icon')
                      #{`vtex.cmc:svgvalerefeicao`}/
        div(class='x-types-payment-machine__short-desc')
          #{`vtex:contentPlaceHolder id="Texto Final Pagamentos"`}
      section(class='x-presentation-machine')
        div(class='x-presentation-machine__text')
          #{`vtex:contentPlaceHolder id="Texto Apresentacao Maquininha"`}
      section(class='x-hnowmore')
        div(class='x-hnowmore__button')
          a(href='#vitrine', class='button') Compre Agora
        div(class='x-hnowmore__text')
          #{`vtex:contentPlaceHolder id="Texto Saiba Mais"`}/
        div(class='x-hnowmore__advantages')
          div(class='x-hnowmore__advantages-image')
            #{`vtex:contentPlaceHolder id="Imagem Vantagens"`}/
          div(class='x-hnowmore__advantages-text')
            #{`vtex:contentPlaceHolder id="Texto Vantagens"`}
      section(class='x-machine-faq')
        div(class='x-machine-faq__image')
          #{`vtex:contentPlaceHolder id="Introducao FAQ"`}
        div(class='x-machine-faq__text')
          #{`vtex:contentPlaceHolder id="Questoes FAQ"`}/
        div(class='x-machine-faq__button')
          a(href='#vitrine', class='button') Compre Agora
        div(class='x-machine-faq__consulting')
          p * Consultar qual máquina que tem a função descrita.
        div(class='x-machine-faq__border')

//- Scripts
block append scripts
  script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)