
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'landing-taxas-e-tarifas'
    - var $templateClass = 'landing-taxas-e-tarifas'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

//- Main Content
block content
    include ./../_partials/landings/taxas-e-tarifas/taxas-e-tarifas.pug

block append scripts
    script(type='text/javascript', src=`/arquivos/jquery.maskMoney.min.js`)
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)
