
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'product'
    - var $templateClass = 'product'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

//- Rich Snippets
block append richSnippetsHead
    <vtex.cmc:productRichSnippets showFacebook="1"/>

block append richSnippetsBody
    <vtex.cmc:productRichSnippets showGoogle="1"/>

//- Main Content
block content
    //- SEO Parts
    section(class='hidden-heading')
        #{`vtex.cmc:ProductTag`}/
        #{`vtex.cmc:productName`}/
        #{`vtex.cmc:productDescriptionShort`}/
        #{`vtex.cmc:ProductDescription`}/
    section(id='vtexBreadcrumb', class='hidden-heading')
        #{`vtex.cmc:breadCrumb`}/

    //- Content - Product component
    section(id='productComponent', class='x-product__component')
        div(class='x-product__wrapper is--hide',
            rv-remove-class-is--hide=`app.state.isFetchingProduct | neg`)
            include ../_partials/product/image.pug

            div(class='x-product__container')
                include ../_partials/product/info_product4_mob.pug
                div(class="x-app_logo_exclusive_mob")
                    ul
                        li(class="x-app_logo_exclusive_mob_left_side")
                            a(href="https://supergetqa.vtexcommercestable.com.br/")
                                img(id="x-logo_app_image_1_mob", src="/arquivos/logo_aplicativo_exclusivo.png", alt="logo_app_exclusive")/
                                div(class="x-text_logo_exlusive_mob")
                                    p(class="x-para_1_mob") Baixe nosso
                                    p(class="x-para_2_mob") App exclusivo
                        li
                            img(id="x-logo_app_image_2_mob", src="/arquivos/descricao_app_exclusivo.png", alt="descricao_app_exclusivo")/
                
                include ../_partials/product/cart-btn.pug
                
    include ../_partials/product/superget-sell.pug
    include ../_partials/product/rates.pug
    include ../../common/_partials/product/taxas-e-tarifas.pug
    include ../_partials/product/shelf.pug
    include ../_partials/product/payments-card.pug
                
block append scripts
    script(type='text/javascript', src=`/arquivos/jquery.maskMoney.min.js`)
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)