
extends ./../_layouts/_mobile-base.pug


//- Template variables
block append vars
    - var $templateName = 'landing-superdigital'
    - var $templateClass = 'landing-superdigital'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-mobile-${$templateName}.css`, media='all')/

//- Main Content
block content
    include ./../../common/_partials/landings/superdigital/superdigital.pug

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-mobile-${$templateName}.js`)
