
extends ./../_layouts/_mobile-account-base.pug

block append breadcrumb
    //- Mixin General Breacrumb
    +generalBreadcrumb('account')

block append accountContentLeft
    h2(class='x-account__left-title') Minha conta
    vtex:template(id='SuperGetCommon-AccountMenu')/

block append accountContentRight
    div(class='x-account__content')
        div(class='x-account__user')
            <vtex.cmc:accountUserProfile/>

        div(class='x-account__address')
            <vtex.cmc:accountAddress/>
