div(class='x-atendimento')
    div(class='x-atendimento__icones')
    
        div(class='x-atendimento__icones--box js-atendimento__box')
            div(class='x-atendimento__icones--box')
                a(href='tel:+5501140202606')  4020-2606
                span
                    //- SVG TELEFONE
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90.267" height="90.266" viewBox="0 0 90.267 90.266">
                        <defs>
                            <filter id="Rectangle_310" x="0" y="0" width="90.267" height="90.266" filterUnits="userSpaceOnUse">
                            <feOffset dy="10" input="SourceAlpha"/>
                            <feGaussianBlur stdDeviation="7.5" result="blur"/>
                            <feFlood flood-opacity="0.161"/>
                            <feComposite operator="in" in2="blur"/>
                            <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g id="Group_413" data-name="Group 413" transform="translate(22.5 12.5)">
                            <g transform="matrix(1, 0, 0, 1, -22.5, -12.5)" filter="url(#Rectangle_310)">
                            <rect id="Rectangle_310-2" data-name="Rectangle 310" width="45.266" height="45.266" rx="22.633" transform="translate(22.5 12.5)" fill="red"/>
                            </g>
                            <g id="noun_Telephone_1917212_000000" transform="translate(12.017 10.9)">
                            <path id="Path_188" data-name="Path 188" d="M18.94,13.257c-1.99-2.07-3.781.358-5.015,1.592A15.123,15.123,0,0,1,7.556,8.48C11.258,5.1,10.541,4.619,6.362.639c-2.07-1.99-3.781.4-5.095,1.751A3.687,3.687,0,0,0,.192,4.738c-.677,6.05,9.036,17.156,16.758,17.554,2.309.159,3.145-1.154,4.777-2.786a2.35,2.35,0,0,0-.04-3.463Zm1.791,5.294c-1.314,1.393-2.07,2.508-3.7,2.428C10.183,20.5,1.068,10.51,1.545,4.818c.08-1.194,1.314-2.149,2.388-3.184a.953.953,0,0,1,1.513,0c3.861,3.861,4.1,3.1,1.075,5.971A.986.986,0,0,0,6.242,8.8c1.194,2.946,4.379,5.891,7.244,7.364,1.712.836,2.906-3.582,4.458-1.95.916.916,1.871,1.831,2.786,2.786A.983.983,0,0,1,20.731,18.551Z" transform="translate(-0.158 0.123)" fill="#fcfcfc" stroke="#fcfcfc" stroke-width="0.3" fill-rule="evenodd"/>
                            </g>
                        </g>
                    </svg>


            div(class='x-atendimento__icones--box')
                a(href='mailto:atendimento@getnet.com.br') atendimento@getnet.com.br
                span
                    //- SVG EMAIL
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90.131" height="90.131" viewBox="0 0 90.131 90.131">
                        <defs>
                            <filter id="Rectangle_310" x="0" y="0" width="90.131" height="90.131" filterUnits="userSpaceOnUse">
                            <feOffset dy="10" input="SourceAlpha"/>
                            <feGaussianBlur stdDeviation="7.5" result="blur"/>
                            <feFlood flood-opacity="0.161"/>
                            <feComposite operator="in" in2="blur"/>
                            <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g id="Group_414" data-name="Group 414" transform="translate(22.5 12.5)">
                            <g transform="matrix(1, 0, 0, 1, -22.5, -12.5)" filter="url(#Rectangle_310)">
                            <rect id="Rectangle_310-2" data-name="Rectangle 310" width="45.131" height="45.131" rx="22.566" transform="translate(22.5 12.5)" fill="red"/>
                            </g>
                            <g id="noun_Email_1604818_000000" transform="translate(10.618 14.078)">
                            <g id="Group_90" data-name="Group 90" transform="translate(0 0)">
                                <g id="Group_89" data-name="Group 89">
                                <path id="Path_189" data-name="Path 189" d="M122.739,219.813H102.98a.516.516,0,0,1-.12-.009s.152.029.038,0a1.963,1.963,0,0,1-.225-.059s-.073-.023-.073-.026c.079.035.091.038.035.012-.023-.012-.047-.023-.067-.035a1.865,1.865,0,0,1-.161-.1c-.111-.073.094.088,0,0-.026-.026-.056-.05-.082-.079s-.035-.035-.053-.056a.262.262,0,0,1-.026-.029c-.041-.047-.032-.038.02.029-.032,0-.105-.161-.123-.193,0-.009-.056-.1-.053-.1.009.023.02.047.029.07-.009-.023-.018-.047-.026-.073a1.348,1.348,0,0,1-.05-.187c0-.012-.006-.026-.009-.038-.012-.064-.009-.053,0,.038a.518.518,0,0,1-.006-.1v-.061c-.009-.772,0-1.544,0-2.313V205.064c0-.041,0-.082.006-.126.006-.137-.032.132,0,0,.009-.038.015-.076.026-.114s.015-.05.02-.076a.733.733,0,0,1,.026-.073c.023-.058.018-.047-.015.032-.012-.009.076-.149.091-.17s.041-.064.064-.1c.073-.108-.088.094,0,0,.044-.047.085-.094.132-.134a.263.263,0,0,1,.029-.026c.047-.041.038-.032-.029.02,0-.015.076-.053.094-.064s.19-.123.2-.108-.12.044-.032.015c.038-.012.073-.026.111-.035s.076-.021.114-.029l.038-.009h0c-.012,0-.026,0-.038.006a.713.713,0,0,1,.079-.006.777.777,0,0,1,.082,0h19.718a.777.777,0,0,1,.082,0c.015,0,.026,0,.041,0,.064.006.053,0-.038-.006a.686.686,0,0,1,.117.023c.064.015.123.035.187.056.126.041-.114-.061,0,0l.1.053c.032.02.064.038.1.061.012.006.02.015.032.02.05.038.041.029-.029-.023.012-.006.132.123.137.129a.66.66,0,0,1,.076.085s-.07-.1-.023-.029.094.149.137.228c.053.1-.018-.035-.012-.035a.522.522,0,0,1,.038.108c.02.061.032.126.047.19.029.132,0-.134,0,0,0,.041,0,.082.006.12V218.8a.718.718,0,0,1-.009.164c.012,0,.023-.137,0-.018-.006.032-.015.064-.02.1s-.021.076-.032.111-.061.114-.012.038-.012.02-.018.035a1.082,1.082,0,0,1-.056.1c-.02.032-.041.064-.064.1-.05.076.02-.032.023-.029s-.14.149-.158.164-.056.05-.059.05l.059-.044-.061.044a1.812,1.812,0,0,1-.164.1l-.035.018c-.059.026-.047.023.035-.012a.519.519,0,0,1-.108.038c-.061.02-.126.032-.19.047-.132.029.135,0,0,0a1.022,1.022,0,0,1-.143.015.585.585,0,1,0,0,1.17,2.2,2.2,0,0,0,2.164-2.2V205.067a2.208,2.208,0,0,0-.895-1.749,2.361,2.361,0,0,0-1.474-.418H103.129c-.064,0-.126,0-.19,0a2.2,2.2,0,0,0-1.793,1.082,2.731,2.731,0,0,0-.29,1.439v12.731c0,.222,0,.445,0,.667a2.2,2.2,0,0,0,2.182,2.164c.658.006,1.313,0,1.971,0h17.732a.59.59,0,0,0,.585-.585A.6.6,0,0,0,122.739,219.813Z" transform="translate(-100.855 -202.9)" fill="#fcfcfc" stroke="#fcfcfc" stroke-width="0.3"/>
                                </g>
                            </g>
                            <g id="Group_92" data-name="Group 92" transform="translate(3.222 3.977)">
                                <g id="Group_91" data-name="Group 91" transform="translate(0)">
                                <path id="Path_190" data-name="Path 190" d="M227.621,339.06l-.8.69c-.626.541-1.252,1.079-1.878,1.62q-1.106.956-2.214,1.91c-.591.512-1.184,1.021-1.775,1.533-.161.14-.322.278-.483.418l-.1.088a.163.163,0,0,0-.023.02c-.038.032-.079.064-.114.1s.132-.085.026-.026l-.143.079c-.056.032.023-.009.032-.012a.633.633,0,0,0-.067.023c-.047.015-.094.021-.14.035-.064.02.029,0,.035,0a.311.311,0,0,1-.073.006c-.067,0-.132,0-.2,0s.038,0,.035.006-.059-.012-.07-.015c-.047-.012-.091-.029-.135-.041-.061-.015.023.012.032.015-.02-.009-.041-.02-.061-.029s-.135-.085-.14-.082.161.132.1.073l-.053-.044-.129-.111a.415.415,0,0,0-.038-.032c-.1-.082-.193-.167-.292-.251-.512-.439-1.021-.877-1.533-1.319l-2.176-1.872q-1.022-.877-2.044-1.758l-1.135-.977c-.018-.015-.035-.032-.056-.047a.585.585,0,0,0-.828.828l.819.7q.961.829,1.924,1.655l2.234,1.922,1.749,1.5.442.38a2.735,2.735,0,0,0,.6.453,1.967,1.967,0,0,0,1.506.1,2.383,2.383,0,0,0,.734-.456l.266-.231q.763-.658,1.524-1.316,1.1-.943,2.191-1.889,1.035-.891,2.068-1.784l1.155-1c.018-.015.035-.032.056-.047a.589.589,0,0,0,0-.828.606.606,0,0,0-.828.009Z" transform="translate(-211.01 -338.884)" fill="#fcfcfc" stroke="#fcfcfc" stroke-width="0.3"/>
                                </g>
                            </g>
                            <g id="Group_94" data-name="Group 94" transform="translate(3.804 8.119)">
                                <g id="Group_93" data-name="Group 93" transform="translate(0 0)">
                                <path id="Path_191" data-name="Path 191" d="M235.3,480.664l-1.614,1.623c-.86.863-1.135,1.144-1.995,2.006-.2.2-.4.4-.6.6a.585.585,0,0,0,.828.828l1.614-1.623c.86-.863,1.135-1.144,1.995-2.006l.6-.6a.585.585,0,1,0-.828-.828Z" transform="translate(-230.923 -480.498)" fill="#fcfcfc" stroke="#fcfcfc" stroke-width="0.3"/>
                                </g>
                            </g>
                            <g id="Group_96" data-name="Group 96" transform="translate(14.876 8.121)">
                                <g id="Group_95" data-name="Group 95" transform="translate(0 0)">
                                <path id="Path_192" data-name="Path 192" d="M614.7,484.958l-1.614-1.623c-.86-.863-1.135-1.143-1.995-2.006-.2-.2-.4-.4-.6-.6a.585.585,0,0,0-.828.828l1.614,1.623c.86.863,1.135,1.144,1.995,2.006.2.2.4.4.6.6a.585.585,0,0,0,.828-.828Z" transform="translate(-609.498 -480.561)" fill="#fcfcfc" stroke="#fcfcfc" stroke-width="0.3"/>
                                </g>
                            </g>
                            </g>
                        </g>
                    </svg>

            div(class='x-atendimento__icones--box')
                a(href='/Institucional/faq')
                    //- SVG FAQ
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="90.131" height="90.131" viewBox="0 0 90.131 90.131">
                        <defs>
                            <filter id="Rectangle_310" x="0" y="0" width="90.131" height="90.131" filterUnits="userSpaceOnUse">
                            <feOffset dy="10" input="SourceAlpha"/>
                            <feGaussianBlur stdDeviation="7.5" result="blur"/>
                            <feFlood flood-opacity="0.161"/>
                            <feComposite operator="in" in2="blur"/>
                            <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g id="Group_415" data-name="Group 415" transform="translate(22.5 12.5)">
                            <g transform="matrix(1, 0, 0, 1, -22.5, -12.5)" filter="url(#Rectangle_310)">
                            <rect id="Rectangle_310-2" data-name="Rectangle 310" width="45.131" height="45.131" rx="22.566" transform="translate(22.5 12.5)" fill="red"/>
                            </g>
                            <path id="Path_197" data-name="Path 197" d="M41.53,21.7a4.8,4.8,0,0,0-4.8-4.8H25a4.8,4.8,0,0,0-4.8,4.8v9.341a4.8,4.8,0,0,0,3.972,4.724V39.8a.859.859,0,0,0,.429.716.645.645,0,0,0,.358.072.719.719,0,0,0,.465-.143l2.4-1.754a15.068,15.068,0,0,1,8.911-2.9,4.8,4.8,0,0,0,4.8-4.8Zm-1.575,9.341a3.192,3.192,0,0,1-3.185,3.185,16.82,16.82,0,0,0-9.842,3.185l-1.145.823V35.009A.794.794,0,0,0,25,34.222a3.192,3.192,0,0,1-3.185-3.185V21.7A3.192,3.192,0,0,1,25,18.51H36.77A3.192,3.192,0,0,1,39.955,21.7Z" transform="translate(-8.723 -5.761)" fill="#fcfcfc"/>
                            <path id="Path_198" data-name="Path 198" d="M45.313,31A2.467,2.467,0,0,0,42.7,33.505a.787.787,0,1,0,1.575,0c0-.859.93-.895,1.038-.895s1.038.036,1.038.895v.179a.91.91,0,0,1-.5.823l-.716.394a1.16,1.16,0,0,0-.608,1.038v.644a.787.787,0,1,0,1.575,0v-.394l.5-.251a2.49,2.49,0,0,0,1.324-2.219v-.215A2.487,2.487,0,0,0,45.313,31Z" transform="translate(-23.171 -14.815)" fill="#fcfcfc"/>
                            <path id="Path_199" data-name="Path 199" d="M48.266,51.3a1,1,0,0,0,0,2A1,1,0,0,0,48.266,51.3Z" transform="translate(-26.125 -27.85)" fill="#fcfcfc"/>
                        </g>
                    </svg>

        div(class='x-atendimento__icones--item js-atendimento')
            div(class='x-atendimento__icones--item-interrogacao')
                //- SVG INTERROGACAO
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85" height="85" viewBox="0 0 85 85">
                    <defs>
                        <filter id="Rectangle_205" x="0" y="0" width="85" height="85" filterUnits="userSpaceOnUse">
                        <feOffset dy="10" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="7.5" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                        </filter>
                    </defs>
                    <g id="Group_417" data-name="Group 417" transform="translate(-544.84 -3274.25)">
                        <g transform="matrix(1, 0, 0, 1, 544.84, 3274.25)" filter="url(#Rectangle_205)">
                        <rect id="Rectangle_205-2" data-name="Rectangle 205" width="40" height="40" rx="20" transform="translate(22.5 12.5)" fill="#662c62"/>
                        </g>
                        <text id="_" data-name="?" transform="translate(580.34 3318.75)" fill="#fff" font-size="30" font-family="OpenSans-Bold, Open Sans" font-weight="700"><tspan x="0" y="0">?</tspan></text>
                    </g>
                </svg>

            div(class='x-atendimento__icones--item-fechar')
                //- SVG FECHAR
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78.006" height="78.006" viewBox="0 0 78.006 78.006">
                    <defs>
                        <filter id="Rectangle_205" x="0" y="0" width="78.006" height="78.006" filterUnits="userSpaceOnUse">
                        <feOffset dy="10" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="7.5" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                        </filter>
                    </defs>
                    <g id="Group_416" data-name="Group 416" transform="translate(22.5 12.5)">
                        <g transform="matrix(1, 0, 0, 1, -22.5, -12.5)" filter="url(#Rectangle_205)">
                        <rect id="Rectangle_205-2" data-name="Rectangle 205" width="33.006" height="33.006" rx="16.503" transform="translate(22.5 12.5)" fill="#fcfcfc"/>
                        </g>
                        <g id="Group_24" data-name="Group 24" transform="translate(9.902 9.902)">
                        <path id="Path_32" data-name="Path 32" d="M13.365.156a.557.557,0,0,0-.773,0L.16,12.252A.521.521,0,0,0,.16,13a.557.557,0,0,0,.773,0L13.365.908A.522.522,0,0,0,13.365.156Z" transform="translate(0 0)" fill="red"/>
                        </g>
                        <g id="Group_27" data-name="Group 27" transform="translate(9.902 9.902)">
                        <g id="Group_26" data-name="Group 26" transform="translate(0 0)">
                            <path id="Path_33" data-name="Path 33" d="M13.365,12.253.933.157a.557.557,0,0,0-.773,0,.521.521,0,0,0,0,.752l12.432,12.1a.557.557,0,0,0,.773,0A.522.522,0,0,0,13.365,12.253Z" transform="translate(0 -0.001)" fill="red"/>
                        </g>
                        </g>
                    </g>
                </svg>
