
h2(class='x-institutional__title') POLÍTICA DE PRIVACIDADE
p Pode confiar: a Getnet garante a confidencialidade de todos os dados fornecidos pelos seus clientes. A captação e o armazenamento de dados realizam-se de forma segura, impedindo perdas ou manipulação.
h3(class='x-institutional__subtitle') Todas as informações são confidenciais
p A Getnet não divulga, nem vende os dados dos seus Clientes a terceiros.
h3(class='x-institutional__subtitle') Sigilo total: você e a Getnet
p O acesso à informação é restrito, sendo utilizada apenas para comunicação com o cliente e para o processamento das suas encomendas, especificamente pagamento, expedição e assistência pós-venda.
h3(class='x-institutional__subtitle') Um espaço reservado só para você
p Todos os clientes têm o direito de acesso, retificação, cancelamento e oposição dos seus dados.
h3(class='x-institutional__subtitle') Conte com a gente :)
p Em caso de dúvidas ou considerações, entre em contato com a Central de Relacionamento Getnet: 4002-4000 ou 0800-648-8000, de segunda a sexta-feira, das 08h00 às 17h30.

