.x-institutional-menu {
    &__items {
        @include mq("sm", max) {
            border: 1px solid gray;
            margin-bottom: 15px;
        }
    }

    &__item {
        font-weight: bold;
        text-transform: uppercase;
        color: $color-gray;
        @include mq("sm", max) {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            display: none;
            &:first-child {
                display: block;
                position: relative;
                &:after {
                    position: absolute;
                    right: 15px;
                    top: 7px;
                    @include arrow-generate("down", 12px);
                }
            }
        }
        a {
            font-size: 15px;
        }
    }

    &__link {
        @extend %sidebar-menu__link;
        color: red;
        // &:hover {
        //     color: red;
        // }
        &:after {
            height: 4px;
            background: #6b3367;
        }
    }
}
.item--arrow-animate {
    &:after {
        transform: rotate(-45deg);
    }
}
