.x-institutional {
    &__container {
        @extend %page-content__container;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        @include mq("sm", max) {
            width: 100%;
            padding: 0 !important;
        }
    }

    &__banner {
        background-image: url("/arquivos/institutional-gradient.png");
        width: 100%;
        height: 232px;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__banner-title {
        @include rem(font-size, 40px);
        color: #fff;
        font-weight: bold;
        width: 55%;
        margin: auto;
        text-align: center;
        @include mq("sm", max) {
            @include rem(font-size, 36px);
            width: 90%;
        }
    }

    &__left {
        @extend %page-content__left;
        padding-left: 3rem;
        @include mq("sm", max) {
            @include rem(padding-left, 24px);
            @include rem(padding-right, 24px);
        }
    }

    &__right {
        @extend %page-content__right;
        @include rem(padding-top, 16px);
        @include rem(padding-left, 26px);
        @include mq("sm", max) {
            @include rem(padding-left, 24px);
            @include rem(padding-right, 24px);
        }
    }

    &__content {
        @extend %page-content__content;
        @extend %page-content__formats;
        @extend %page-content__accordion;
        width: 70%;
        max-width: 750px;
        @media (min-width: 1400px) {
            margin-left: calc((100% - 1045px) / 2);
        }
        @include mq("sm", max) {
            width: 100%;
        }
        p {
            font-weight: 500;
        }
        h2,h4,h5,h6{
            margin:0;
            text-align:left;
        }
    }

    &__title {
        @include rem(font-size, 16px !important);
        font-weight: bold !important;
        color: #6b3367;
        text-transform: uppercase;
        text-align: left !important;
        margin-bottom: 1rem !important;
    }

    &__subtitle {
        @include rem(font-size, 16px !important);
        font-weight: bold !important;
        color: #6b3367;
    }

    .vve-accordion__outter {
        @include rem(margin-bottom, 40px);
    }

    &.is--store {
        .x-institutional__content {
            position: relative;
            @include rem(margin-top, -65px);
        }

        .x-institutional__right {
            flex: unset;
        }
    }

    &__contact-form {
        padding: 20px;
        @extend %form__elements;
        border: 1px solid #e8e8e8;
        label {
            @include rem(font-size, 14px);
            @include font-weight(regular);
            line-height: 1;
        }

        input[type="text"],
        input[type="email"],
        select,
        textarea {
            border-color: #e8e8e8;
        }
    }

    &__contact-submit {
        @extend %btn--black;
        letter-spacing: 3.5px;
    }

    &__contact-inner-wrapper {
        position: relative;
        @include rem(margin-bottom, 16px);
        &:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__contact-outter-wrapper {
        position: relative;
        width: 49%;
        @include mq("sm", max) {
            width: 100%;
        }
    }

    &__contact-error,
    &__contact-success,
    &__contact-loading {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.125s $accelerate-ease;
        &.is--active {
            transition: opacity 0.125s $decelerate-ease;
            opacity: 1;
            pointer-events: all;
        }
    }

    &__contact-error-back {
        @include flex-centered;
        @extend %btn--primary;
        @include rem(font-size, 11px);
        @include font-weight(bold);
        @include rem(height, 36px);
        max-width: 120px;
        margin: 0;
    }

    &__img-left {
        display: inline-block;
        width: 350px;
        max-width: 100%;

        @include mq("sm", max) {
            display: block;
            clear: both;
        }
    }

    &__text-right {
        display: inline-block;

        @include mq("sm") {
            width: calc(100% - 370px);
        }

        @include mq("sm", max) {
            display: block;
            width: 100%;
            clear: both;
        }
    }

    &.is--contact {
        .x-institutional__content {
            display: flex;
            @include mq("sm", max) {
                flex-direction: column;
            }

            @include mq("sm") {
                justify-content: space-between;
                p {
                    width: 49%;
                }
            }

            .x-institutional__contact-form {
                width: 100%;
                opacity: 1;
                pointer-events: all;
                transition: opacity 0.175s $decelerate-ease;
                &.is--inactive {
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.175s $accelerate-ease;
                }
                label.error {
                    top: unset;
                    bottom: -16px;
                }
            }
        }
    }

    &__banner {
        @include rem(margin-bottom, 40px);
        @include mq("sm", max) {
            @include rem(margin-bottom, 20px);
            img {
                &.has--placeloader {
                    padding: 10% 10%;
                }
            }
        }

        @include mq("sm") {
            &.has--placeloader {
            }
        }
    }

    &__middle {
        display: flex;
        @include mq("sm") {
            justify-content: space-between;
            .vve-image__container {
                width: 49%;
                img {
                    &.has--placeloader {
                        padding: 45% 50%;
                    }
                }
            }

            p {
                width: 49%;
            }
        }
        @include mq("sm", max) {
            flex-direction: column;
        }
    }

    &__store-info {
        @include rem(max-width, 302px);
        background-color: #f2f2f2;
        position: absolute;
        right: -150px;
        top: 25%;
        z-index: 2;
        @include mq("sm", max) {
            position: relative;
            margin: 0 auto;
            transform: translateY(76px);
            right: unset;
            top: unset;
        }
        h2 {
            @include mq("sm") {
                @include rem(margin-top, 5px);
                @include rem(margin-bottom, 6px);
            }
        }
        p {
            text-align: center;
            @include rem(font-size, 14px);
            @include font-weight(light);
        }
        img {
            &.has--placeloader {
                @include mq("sm") {
                    padding: 34% 10%;
                }

                @include mq("sm", max) {
                }
            }
        }
    }

    &__banner-map {
        @include mq("sm") {
            width: 590px;
            height: 700px;
            margin-top: 66px;
        }

        @include mq("sm", max) {
            width: 343px;
            height: 415px;
        }

        z-index: 1;

        img {
            &.has--placeloader {
                @include mq("sm", max) {
                }

                @include mq("sm") {
                }
            }
        }
    }

    &__footer {
        margin-top: 10px;
        padding-top: 30px;
        width: 70%;
        max-width: 750px;
        display: flex;
        align-items: center;
        border-top: 3px solid #efefef;
        justify-content: space-between;
        padding-bottom: 35px;
        @media (min-width: 1400px) {
            margin-left: calc((100% - 1045px) / 2);
        }
        @include mq("sm", max) {
            width: 100%;
            margin: 0;
            flex-direction: column;
            border: none;
            @include rem(padding-left, 20px);
            @include rem(padding-right, 20px);
            background-color: #efefef;
        }
    }

    &__footer-info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__footer-doubt {
        @include rem(font-size, 20px);
        color: #6b3367;
        font-weight: bold;
        text-align-last: left;
        @include mq("sm", max) {
            display: none;
        }
    }

    &__footer-doubt-p {
        @include rem(font-size, 16px);
        @include mq("sm", max) {
            color: #6b3367;
            text-align: center;
            margin: auto;
            font-weight: bold;
            margin-bottom: 18px;
        }
    }

    &__footer-icons {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        @include mq("sm", max) {
            width: 85%;
        }
    }

    &__footer-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin-bottom: 10px;
        }
    }
    &__footer-icon-1 {
        width: 34px;
        @include mq("sm", max) {
            width: 28px;
        }
    }
    &__footer-icon-2 {
        width: 43px;
        @include mq("sm", max) {
            width: 32px;
        }
    }
    &__footer-icon-3 {
        width: 35px;
        @include mq("sm", max) {
            width: 29px;
        }
    }
    &__footer-icon-4 {
        width: 32px;
        @include mq("sm", max) {
            width: 26px;
        }
    }
}
