
%popup-login-common {
    &__title {
        color: $color-black !important;
        @include rem(font-size, 24px !important);
        @include font-weight(black);
        letter-spacing: 2px;
        line-height: 32px;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center;
        text-transform: uppercase;

        @include mq('sm', max) {
            @include rem(font-size, 20px !important);
        }
    }

    &__btn-base {
        @include flex-centered;
        @include rem(height, 45px);
        padding: 8px 20px;
        background: $color-white;
        border: 1px solid $color-black !important;
        border-radius: 0 !important;
        line-height: 16px !important;
        box-shadow: none !important;
        text-shadow: none !important;

        i { display: none; }

        &,
        span {
            @include rem(font-size, 12px !important);
            @include font-weight(light);
            text-transform: uppercase !important;
            color: $color-black;
        }
    }
}
