
.vtexIdUI {
    #vtexIdUI-auth-selector.vtexIdUI-page-active {
        .vtexIdUI-heading {
            span { display: none; }
            // &:before { content: 'Acesse a sua'; }
            &:after { 
                content: '';
                background: url('/arquivos/logo.jpg') no-repeat center center;
                background-size: contain;
                margin: 0 auto 10px !important;
                height: 50px;
                width: 100%;
            }

            &:before,
            &:after {
                display: block;
                @extend %popup-login-common__title;
            }
        }
    }

    .modal-header {
        h4 {
            margin: 0;
            @include rem(padding, 0 40px);

            @include mq('sm', max) {
                @include rem(padding, 0 12px);
            }
        }

        .vtexIdUI-heading {
            @extend %popup-login-common__title;
        }
    }
}
