
.vtexIdUI {
    .vtexIdUI-main-content {
        .vtexIdUI-classic-login-control,
        .vtexIdUI-change-pswd,
        .vtexIdUI-email-field,
        .vtexIdUI-auth-code,
        .vtexIdUI-code-field {
            label {
                @include rem(font-size, 12px);
                @include font-weight(light);
                text-align: left;
                text-transform: uppercase;

                &.text-center {
                    text-align: center;

                    strong {
                        @include font-weight(black);
                    }
                }
            }

            input {
                @extend %form__input;
                padding-top: 0;
                padding-bottom: 0;
                border-radius: 0;
                @include font-weight(light);
                @include rem(height, 42px);
                @include placeholder($color-gray-dark, 1);

                &:focus {
                    border: 1px solid $color-gray;
                    box-shadow: 0 0 1px 1px rgba($color-gray, .35);
                }
            }
        }

        .vtexIdUI-auth-code,
        .vtexIdUI-code-field {
            input {
                @include rem(font-size, 32px);
                @include rem(height, 54px);
                line-height: 120%;
                text-align: center;
                @include font-weight(black);
            }
        }
    }
}
