
.vtexIdUI {
    .vtexIdUI-main-content {
        .btn,
        .btn-success,
        .btn-large {
            @extend %popup-login-common__btn-base;
        }

        .vtexIdUI-send-email {
            background: #662c62;
            border-radius: 23px !important;

            span {
                color: $color-white;
                font-weight: 700;
                font-size: 0 !important;

                &::after {
                    content: "Receber chave de acesso rápido por e-mail";
                    font-size: 12px !important;
                    width: 100%;
                    text-align: center;
                }
            }

            &:active,
            &:focus,
            &:hover {
                background-color: $color-gray-dark;
            }
        }

        #vtexIdUI-facebook {
            background: $color-facebook;
            border: none !important;
            &:active,
            &:focus,
            &:hover {
                background: lighten($color-facebook, 5%);
            }
            span {
                color: #fff;
                font-weight: 700;
            }
        }

        #vtexIdUI-google-plus {
            background: #ff0000;
            border: none !important;
            &:active,
            &:focus,
            &:hover {
                background: lighten(#ff0000, 5%);
            }
            span {
                font-weight: 700;
                color: #fff;
            }
        }

        .vtexIdUI-others-send-email {
            background-color: $color-white;
            border-color: #ff0000 !important;
            border-radius: 23px !important;

            span {
                color: #ff0000;
                font-weight: 500;
                font-size: 0 !important;

                &::after {
                    content: "Entrar com e-mail e senha";
                    font-size: 12px !important;
                    width: 100%;
                    text-align: center;
                }
            }

            &:active,
            &:focus,
            &:hover {
                background: lighten(#ff0000, 7%);
                border-color: #ff0000 !important;
                span {
                    color:$color-white;
                }
            }
        }

        #confirmLoginAccessKeyBtn,
        #tryChangePswdBtn,
        #changePswdBtn,
        #sendAccessKeyBtn,
        #classicLoginBtn {
            background: $color-gray-darken;
            color: $color-white;

            &:active,
            &:focus,
            &:hover {
                background: $color-gray-dark;
            }
        }
    }
}
