#change-other-shipping-option {
    display: none;
}

.icon-home {
    display: none;
}

.step.accordion-group.shipping-data .accordion-heading {
    top: -50px;
}

.step.accordion-group.shipping-data.active .accordion-heading {
    top: -59px;
}

#shipping-data {
    margin-top: 24px;

    .x-hide {
      display: none !important;
    }

    @media (min-width: 768px) {
        margin-top: 0;
    }
}

#dont-know-postal-code {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    text-align: right;
    margin-left: 0;
    position: absolute;
    right: 24px;
    top: 56px;
    color: #A4a4a4;
    text-decoration: underline;
}

#ship-postal-code {
    max-width: 128px;
    width: 100%;
}

.ship-more-info {
    span {
        display: block;
        width: 100%;
    }
}

.box-delivery {
    display: flex;
    flex-direction: column;
}

.ship-number.ship-number {
    margin-right: 0;
}

.choose-shipping-option-container,
.choose-shipping-option {
    width: 100%;
}

.shipping-option-item-text-wrapper.shipping-option-item-text-wrapper {
    width: unset;
}