
p(class='x-account__orders-tracking') Se você escolheu a opção de envio por transportadora, rastreie seu pedido por #[a(href='https://tracking.totalexpress.com.br/tracking/0?cpf_cnpj=', title='Rastrear', target='_blank') aqui]
