.hidden-title {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.x-modal--is--open {
    position: fixed;
    bottom: 0;
    z-index: 9999999;
    right: 0;
}
.x-modal--is--loading{
    width: 100% !important;
    border-radius: 0 0 10px 10px;
}
.x-modal--is-not-open{
    display: none;
}
.x-block--scroll{
    overflow-y: hidden !important;    
}
.x__modal__credenciamento {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 12px;
    min-height: 272px;
    width: 707px;
    &__sair {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      height: calc(95% - 44px);
      width: 85%;
      margin-left: 30px;
      margin-top: 26px;
      font-family: "Open Sans", sans-serif;
      h2 {
        font-size: 26px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 25px;
        font-weight: bold;
      }
      p {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        &:not(:first-of-type) {
          font-style: italic;
          margin-top: 20px;
        }
      }
      span {
        display: block;
        margin: 25px 0; 
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #E20C0C;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.x__modal__agendamento {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
  &__container {
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 12px;
    min-height: 272px;
    width: 707px;
    &__sair {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #707070;
      cursor: pointer;
    }
    &__conteudo {
      height: calc(95% - 44px);
      width: 85%;
      margin-left: 30px;
      margin-top: 26px;
      font-family: "Open Sans", sans-serif;
      h2 {
        font-size: 26px;
        color: #e20c0c;
        display: block;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 25px;
        font-weight: bold;
      }
      p {
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        &:not(:first-of-type) {
          font-style: italic;
          margin-top: 20px;
        }
      }
      span {
        display: block;
        margin: 25px 0; 
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
      }
    }
    &__carregamento {
      width: 100%;
      height: 10px;
      background: #8e8e8e;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 0 0 10px 10px;
      &__estado {
        display: block;
        background: #E20C0C;
        height: 100%;
        width: 7%;
        transition: 3s;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.x-banner {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    &__contents {
        width: 100%;
    }
    .box-banner {
        width: 100%;
        display: block;
    }
    img {
        width: 100%;
        display: block;
        height: auto;
    }
    .slick {
        &-slider {
            margin-bottom: 0;
        }
        &-arrow {
            width: 27px;
            height: 27px;
            background: rgba(#707070, 0.7);
            &:before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-top: 2px solid #fff;
                border-left: 2px solid #fff;
                box-sizing: border-box;
            }
        }
        &-prev {
            &:before {
                position: relative;
                left: 2px;
                transform: rotate(-45deg);
            }
        }
        &-next {
            &:before {
                position: relative;
                right: 3px;
                transform: rotate(135deg);
            }
        }
        &-dots {
            bottom: 20px;
            li {
                width: auto;
                height: auto;
                padding: 5px;
            }
            button {
                width: 8px;
                height: 8px;
                padding: 0;
                background: transparent;
                border: 1px solid #000;
            }
        }
        &-active {
            button {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.x-benefits {
    width: 100%;
    display: flex;
    margin-bottom: 35px;
    &__center {
        padding: 0 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__header {
        width: 100%;
        text-transform: uppercase;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            letter-spacing: 0.5px;
            strong {
                font-weight: 700;
            }
        }
    }
    &__contents {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .x-benefits__list {
            .slick-slider {
                button {
                    background: red;
                }
            }
        }
    }
    &__list {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
        .slick-slider {
            button {
                background: red;
            }
        }
        &--icon {
            display: block;
            img {
                width: auto;
            }
        }
        li {
            padding: 0 18px;
            font-size: 13px;
            color: #5C5C5C;
            text-align: center;
        }
    }
    &__info {
        width: 100%;
        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: #5C5C5C;
            font-size: 10px;
            display: block;
            text-align: center;
        }
    }
}

.x-superget-sell {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    &__header {
        color: #662c62;
        font-size: 1.25rem;
        margin-bottom: 20px;
        text-align: center;
        h2 {
            letter-spacing: 0.5px;
            margin-bottom: 5px;
            display: block;
            width: 100%;
            font-weight: 400;
            strong {
                font-weight: 700;
            }
        }
        p {
            font-size: 17px;
            font-size: 1.0625rem;
            letter-spacing: 0.5px;
            color: #5C5C5C;
        }
    }
    &__contents {
        width: 100%;
    }
    &__list {
        // width: 701px;
        display: flex;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        cursor: pointer;
        &:last-of-type p:after {
            display: none;
        }
        .infoText {
            visibility: hidden;
            width: 297px;
            background-color: #eef6f7;
            color: #8198a9;
            text-align: left;
            border-radius: 6px;
            padding: 20px;
            position: absolute;
            z-index: 1;
            bottom: 123%;
            left: -40px;
            // margin-left: -60px;
            font-size: 14px;
            border: 1px solid RGB( 212, 220, 228);
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50% !important;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: RGB( 212, 220, 228) transparent transparent;
            }
        }
        .infoText:nth-of-type(2) {
            left: -30px;
        }
        &:hover {
            .infoText {
                visibility: visible;
                animation: opacity 500ms;
            }
        }
        @keyframes opacity {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .arrow {
            position: absolute;
            right: 24px;
            top: 6px;
            i {
                border: solid red;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        &--icon {
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 15px;
            height: 42px;
            svg {
                width: 42px;
            }
        }
        h4 {
            font-size: 18px;
            color: #5c5c5c;
            text-transform: lowercase;
            letter-spacing: .5px;
            -ms-flex-align: center;
            margin-left: 10px;
            &:after {
                content: "";
                // background: url("/arquivos/icon--arrow-right-red.png");
                -webkit-background-size: 8px 8px;
                background-size: 8px;
                background-repeat: no-repeat;
                width: 8px;
                height: 16px;
                display: inline-block;
                margin: 0 25px;
            }
        }
    }
    &__item:nth-child(1) .infoText {
        left: -40px;
    }
}

.x-rates {
    background: #F8F8F8;
    padding: 35px 140px 20px;
    width: 100%;
    &__center {
        width: 100%;
        margin: 0 auto;
        @include rem(max-width,
        1069px);
    }
    &__header {
        h2 {
            font-size: 20px;
            color: #662C62;
            text-align: center;
        }
        p {
            font-size: 16px;
            color: #707070;
            text-align: center;
        }
        &-percent {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 37px;
            &--left {
                background-color: #f00;
                width: 220px;
                min-height: 192px;
                width: 20%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 12px 0px 35px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 80px;
                    top: 50%;
                    will-change: transform;
                    right: -25%;
                    transform: translateY(-50%) rotate(-180deg);
                }
                h3 {
                    font-size: 83px;
                    margin: 0 auto -14px;
                    text-align: center;
                    color: #fff;
                    font-weight: 900;
                }
                P {
                    color: #fff;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 100;
                    margin-left: 51px;
                    line-height: 24px;
                }
            }
            &--middle {
                text-align: center;
                background: #fff;
                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3 {
                    text-transform: uppercase;
                    color: #f00;
                    font-size: 20px;
                    margin: 0;
                    font-weight: 900;
                }
                p {
                    font-size: 18px;
                    color: #898989;
                    text-align: center;
                    line-height: 22px;
                    margin-top: 15px;
                }
                .js--open-taxas {
                    cursor: pointer;
                    text-decoration: underline;
                }
                .js-trigger-modal {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            &--right {
                width: 21%;
                background: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 80px;
                    top: 50%;
                    will-change: transform;
                    left: -25%;
                    transform: translateY(-50%) rotate(-180deg);
                }
                h3 {
                    font-size: 22px;
                    color: #662C62;
                    font-size: 20px;
                    font-weight: bold;
                    height: 0px;
                }
                h5 {
                    width: 167px;
                    font-size: 11px;
                    background: red;
                    color: #fff;
                    border-radius: 23px;
                    font-family: Ubuntu, sans-serif;
                    letter-spacing: .5px;
                    -ms-flex-pack: center;
                    color: #fff;
                    text-decoration: none;
                    line-height: 35px;
                    padding: 2px;
                    margin-left: 32px;
                    font-weight: 700;
                    height: 38px;
                }
            }
            &--text {
                h3 {
                    color: #f00;
                    text-align: center;
                    font-size: 19px;
                    margin-top: 56px;
                }
            }
        }
    }
    &__contents {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        margin: 30px auto;
        .x-rates__first,
        .x-rates__left,
        .x-rates__right {
            width: 32%;
            background: #FFF;
            border: 1px solid #fff;
            text-align: center;
            @include rem(padding,
            24px 20px 54px);
        }
        .x-superget-taxas {
            display: flex;
        }
    }
}

.x-superget-taxas {
    &__credito--column {
        &:last-child {
            border-top: #f5f5f5 1px solid;
            padding-top: 40px;
            margin-top: 40px;
        }
    }
    &__credito--titulo {
        text-align: center;
        h3 {
            font-size: 21px;
            color: #662C62;
            font-weight: bold;
            padding-bottom: 8px;
            background: url('/arquivos/border-bottom.png') no-repeat center bottom;
            white-space: nowrap;
        }
    }
    &__info {
        font-size: 14px;
        color: #5C5C5C;
        // margin-top: 0px;
        // height: 60px;
        text-align: center;
        h4 {
            font-size: 18px;
            font-weight: 900;
            color: #662c62;
            display: inline-block;
            @include rem(margin-left,
            5px);
        }
        P {
            font-size: 11px;
            font-weight: 500;
            height: 37px;
        }
        strong {
            color: #662C62;
            margin-left: 6px;
        }
    }
    &__valores {
        font-size: 11px;
        color: #5C5C5C;
        margin: 0 13px;
        font-weight: 500;
        display: block;
        // text-align: center;
        width: 100%;
        margin: 0 auto;
        // height: 51px;
        strong {
            color: #4E1E4B;
            display: block;
            font-size: 22px;
            margin: 10px 0 0 0;
            span {
                font-weight: 400;
                font-size: 12px;
                display: block;
            }
        }
        span.x-discount {
            display: block;
            will-change: transform;
            transform: translateY(5px);
            @include rem(font-size,
            9px);
        }
        &.x-border {
            position: relative;
            border-left: 1px solid #ccc;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                border-top: 0;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                width: 56%;
                pointer-events: none;
                margin: 0 19%;
                @include rem(bottom,
                -12px);
                @include rem(height,
                8px);
                top: 48px;
            }
        }
    }
    &__credito {
        // &--column {
        //      width: 35%;
        //     &:last-child {
        //         width: 65%;
        //     }
        // }
        &--info-taxas {
            // display: flex;
            // justify-content: space-around;
            // align-items: flex-start;
            margin-top: 27px;
        }
        &--row {
            margin-top: 15px;
        }
        &--ver_melhores_taxas {
            color: #5C5C5C;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            margin-top: 15px;
        }
        &--sub-infos {
            p {
                color: #A7A7A7;
                font-size: 11px;
                text-align: center;
            }
        }
    }
}

// .x-rates {
//     background: #F8F8F8;
//     padding: 35px 140px 20px;
//     &__header {
//         h2 {
//             font-size: 20px;
//             color: #662C62;
//             text-align: center;
//         }
//         p {
//             font-size: 16px;
//             color: #707070;
//             text-align: center;
//         }
//     }
//     &__contents {
//         display: flex;
//         width: 100%;
//         flex-direction: row;
//         margin: 20px 0;    
//     }
//     &__left,
//     &__right {
//         text-align: center;
//     }
//     &__left {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         width: 25%;
//         margin-right: 2%;
//         .x-superget-taxas {
//             &__credito--titulo {
//                 padding: 20px;
//                 margin-bottom: 20px;    
//             }
//         }
//     }
//     &__right {
//         margin: 0;
//         padding: 20px;
//         width: 73%;
//         background: #fff;
//         border-radius: 6px;
//         .x-superget-taxas {
//             &__credito {
//                 &--titulo { margin-bottom: 30px; }
//             }
//             &__info {
//                 font-size: 16px !important;
//                 strong {
//                     display: block;
//                     margin-left: 0 !important;
//                 }
//             }
//         }
//     }
//     .x-superget-taxas {
//         &__credito--titulo,
//         &__debito--cta {
//             background: #fff;
//             border-radius: 6px;
//         }
//         &__credito--titulo {
//             h3 {
//                 font-size: 21px;
//                 color: #662C62;
//                 font-weight: bold;
//                 padding-bottom: 8px;
//                 background: url('/arquivos/border-bottom.png') no-repeat center bottom;
//                 margin-bottom: 20px;
//             }
//         }
//         &__debito--cta {
//             padding: 30px 50px;
//             p {
//                 margin-bottom: 20px;
//                 color: #662C62;
//                 font-size: 20px;
//                 font-weight: bold;
//             }
//             button {
//                 width: 100%;
//                 height: 35px;
//                 color: #fff;
//                 font-size: 12px;
//                 font-weight: 700;
//                 letter-spacing: .5px;
//                 text-transform: uppercase;
//                 background: red;
//                 border-radius: 18px;
//             }
//         }
//         &__info {
//             font-size: 14px;
//             color: #5C5C5C;
//             margin-bottom: 10px;
//             strong {
//                 color: #662C62;
//                 margin-left: 6px;
//             }
//         }
//         &__valores {
//             font-size: 12px;
//             color: #5C5C5C;
//             margin: 16px 0;
//             strong {
//                 color: #4E1E4B;
//                 display: block;
//                 font-size: 22px;
//                 span {
//                     font-weight: 400;
//                     font-size: 12px;
//                     display: block;
//                 }
//             }
//         }
//         &__credito {
//             &--collum {
//                 width: 33.3333%;
//                 border-right: .5px solid rgba(#d5d5d5, .5);
//                 &:last-child { border: none; }
//             }
//             &--info-taxas {
//                 display: flex;
//                 flex-direction: row;
//             }
//             &--row {
//                 margin-top: 30px;
//             }
//             &--ver_melhores_taxas {
//                 color: #5C5C5C;
//                 font-weight: 500;
//                 font-size: 14px;
//                 text-decoration: underline;
//                 margin-top: 15px;
//             }
//             &--sub-infos {
//                 p {
//                     color: #A7A7A7;
//                     font-size: 11px;
//                     text-align: center;
//                 }
//             }
//         }
//     }
// }
.x-testimonials {
    width: 100%;
    display: flex;
    margin: 0 auto 40px;
    &__contents {
        width: 100%;
    }
    &__items {
        display: flex;
        vertical-align: middle;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .item-depoimentos {
            &__content {
                display: flex;
                width: 90%;
                margin: 0 auto;
                .imagem-depoimento {
                    width: 40%;
                }
                .texto-depoimento {
                    margin-left: 25px;
                    width: 60%;
                    h3 {
                        font-size: 21px;
                        color: #662C62;
                        font-weight: bold;
                    }
                    span {
                        font-size: 12px;
                        font-style: italic;
                        color: #848484;
                    }
                    p {
                        strong {
                            display: block;
                            margin-bottom: 10px;
                            color: #848484;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: bold;
                        }
                        font-size: 12px;
                        color: #848484;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .slick {
        &-arrow {
            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-top: 2px solid #707070;
                border-left: 2px solid #707070;
                box-sizing: border-box;
            }
        }
        &-prev {
            left: -20px;
            &:before {
                position: relative;
                left: 2px;
                transform: rotate(-45deg);
            }
        }
        &-next {
            right: -20px;
            &:before {
                position: relative;
                right: 3px;
                transform: rotate(135deg);
            }
        }
        &-dots {
            bottom: -35px;
            li {
                width: auto;
                height: auto;
                padding: 5px;
            }
            button {
                width: 8px;
                height: 8px;
                padding: 0;
                background: transparent;
                border: 1px solid #f00;
                &:before {
                    content: '';
                }
            }
        }
        &-active {
            button {
                background: #f00;
            }
        }
    }
}

.x-superdigital {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;
    &__center {
        padding: 0 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__header {
        width: 100%;
        text-transform: uppercase;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        h2 {
            letter-spacing: 0.5px;
            strong {
                font-weight: 700;
            }
        }
    }
    &__contents {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 10px;
        justify-content: center;
        align-items: center;
    }
    &__item {
        width: 50%;
        .box-banner img {
            width: auto;
            display: block;
            height: auto;
        }
        &--content {
            padding-left: 40px;
        }
        &--image {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 30px;
            padding-left: 15px;
            position: relative;
            img {
                width: 60%;
                display: block;
                height: auto;
            }
        }
        h5 {
            position: absolute;
            font-size: 26px;
            font-weight: 800;
            letter-spacing: 0.5px;
            text-transform: lowercase;
            color: #662C62;
            left: 90px;
            bottom: 0px;
        }
        &--text {
            width: 100%;
            text-align: center;
            padding: 0 40px 0 0;
            p {
                font-size: 16px;
                font-size: 1rem;
                color: #5C5C5C;
                line-height: 1.5;
                display: block;
                strong {
                    font-weight: 800;
                    color: #FF0000;
                }
            }
        }
    }
    &__advantages {
        width: 85%;
        display: block;
        margin: 0 auto;
        &--header {
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
            h5 {
                color: #662C62;
                text-transform: uppercase;
                font-size: 16px;
                font-size: 1rem;
                letter-spacing: 0.5px;
            }
        }
        &--list {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 25px;
            li {
                padding: 0 18px;
                padding: 0 1.125rem;
                font-size: 13px;
                font-size: 0.8125rem;
                color: #5C5C5C;
                text-align: center;
            }
        }
        &--icon {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;
        }
        &--cta {
            width: 100%;
            display: flex;
            justify-content: center;
            &>a {
                width: 170px;
                height: 37px;
                font-size: 12px;
                background: #662C62;
                color: #FFFFFF;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
            }
        }
    }
}

.x-testimonials {
    width: 100%;
    display: flex;
    &__center {
        padding: 0 45px;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    &__header {
        width: 100%;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        h6 {
            margin-top: 40px;
            letter-spacing: 0.5px;
            font-size: 20px;
            strong {
                font-weight: 700;
            }
        }
    }
}

.x-faq {
    width: 100%;
    display: flex;
    background: #f8f8f8;
    &__contents {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__item {
        &:first-of-type {
            position: relative;
            left: -1px;
            width: 45%;
        }
        .box-banner {
            width: 100%;
            display: block;
            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }
        &:last-of-type {
            padding-right: 5%;
            padding-left: 5%;
            width: 50%;
        }
        &--header {
            width: 100%;
            display: block;
            margin-bottom: 15px;
            h6 {
                font-size: 24px;
                color: #662C62;
                font-weight: 700;
                display: block;
                letter-spacing: 0.5px;
                text-align: center;
            }
        }
        &--container {
            width: 100%;
            &.js--faq-container {
                font-size: 15px;
                color: #5C5C5C;
                letter-spacing: 0.5px;
                padding-left: 15px;
                margin-top: 20px;
                display: none;
            }
            &-dropdown {
                width: 100%;
                margin-top: 20px;
                margin-top: 1.25rem;
                border-bottom: 1px solid #DDDDDD;
                padding: 0 0 20px;
                &:last-of-type {
                    .x-faq__item--title:after {
                        content: "";
                        border: 0;
                    }
                }
            }
            h6 {
                position: relative;
                &:after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-bottom: 1px solid #F00;
                    border-right: 1px solid #F00;
                    display: inline-block;
                    transform: rotateZ(45deg);
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 0;
                }
                &.is--active {
                    &:after {
                        transform: rotateZ(225deg);
                    }
                }
            }
            &-cta {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                &>a {
                    width: 170px;
                    height: 37px;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    background: #662C62;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 18px;
                }
            }
        }
        &--title {
            cursor: pointer;
            font-size: 15px;
            color: #5C5C5C;
            letter-spacing: 0.5px;
            &.no--border:after {
                border: 0;
            }
            &:after {
                content: "";
                display: block;
                width: 90%;
                margin: 20px auto 0;
                border-bottom: 1px solid #DDDDDD;
            }
        }
    }
}


.modal-containter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    align-items: center;
    transition: 0.4s;
    &.is--hidden {
        opacity: 0;
        transform: scale(0, 0);
    }
}
.port-c-modal.port-c-modal--active {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 150ms ease;
}
.port-c-modal__container {
    max-width: 840px;
    max-height: 90vh;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
.port-c-modal__wrapper {
    position: relative;
    padding-top: 60px;
    min-height: 100px;
    background: white;
}
.port-c-m-regulamento h2 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
    text-decoration: underline;
}
.port-c-m-regulamento p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 20px;
    color: #501e50;
}
.animations-enabled .port-c-modal__wrapper {
    transition: transform 150ms ease;
}
.animations-enabled .port-c-modal.port-c-modal--active .port-c-modal__wrapper {
    transform: translateY(0);
    transition: transform 150ms ease;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(0, 0);
}
.port-c-modal__close {
    text-decoration: none;
    font-size: 80px;
    line-height: 0.4;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: red;
    opacity: 1;
    transition: opacity 150ms ease;
}
.port-c-modal__close:hover {
    opacity: 0.5;
    transition: opacity 150ms ease;
}
.port-c-modal__content {
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.port-c-modal__video .port-c-modal__wrapper {
    padding-top: 0;
    background: transparent;
    transform: translateY(0);
}
.port-c-modal__video .port-c-modal__content {
    padding: 0;
}
@media all and (min-width: 768px) {
    .port-c-modal__content {
        max-height: calc(90vh - 60px);
    }
}
@media all and (min-width: 990px) {
    .port-c-modal__container {
        margin-left: auto;
        margin-right: auto;
    }
}

// .x-content {
//     .x-product-id-4 {
//         .x-product__image {
//             margin-right: 50px;
//         }
//     }
// }

// Black Friday 2019 flag

.x-shelf__contents .x-product__discount--container {
    position: relative !important;
    right: 12px !important;
    padding: 10px 5px 15px !important;
    margin: 0px !important;
}

.x-black {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    position: relative;
    right: 25px;
}
.x-black_mobile {
    display: none;
}



.x-product-id-4 .x-black {
    display: none !important;
}