.x-comparative {
  width: 100%;
  > div {
    width: 100%;
    > ul {
      justify-content: center;
      width: 100%;
      background: #fff;
      display: flex;
      justify-content: center;
      padding: 21px 43px;
      > li {
        max-width: 310px;
        flex-grow: 1;
        box-shadow: 0 6px 12px #ddd;
        padding: 23px;
        padding-top: 35px;
        height: 758px;
        .x-comparative__product {
          width: 100%;
          &__thumb {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
            img {
              width: 103px;
            }
          }
          &__title {
            color: #ff2600;
            display: block;
            a {
              font-size: 14px;
              text-transform: uppercase;
              display: block;
              text-align: center;
              font-weight: 900;
            }
          }
          &__text {
            margin-top: 12px;
            line-height: 30px;
            font-size: 11px;
            color: #5c5c5c;
            font-weight: 400;
            height: 60px;
          }
          &__old-price {
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            strong {
              color: #5c5c5c;
              text-decoration: line-through;
              font-weight: 900;
              margin-left: 5px;
            }
          }
          &__prices {
            color: #662c62;
            display: flex;
            align-items: flex-start;
            small {
              font-size: 12px;
              color: #662c62;
              font-weight: bold;
            }
            span {
              font-weight: 900;
              font-size: 26px;
              margin-left: 10px;
              line-height: 25px;
            }
          }
          &__full-price {
            color: #662c62;
            display: block;
            font-size: 13px;
            font-size: 13.3px;
          }
          &__topics {
            margin-top: 14px;
            margin-bottom: 16px;
            color: #774876;
            font-size: 11px;
            ul {
              li {
                display: flex;
                align-items: center;
                margin: 7px 0;
                height: 25px;
                svg {
                  min-width: 33px;
                }
                span {
                  margin-left: 7px;
                }
              }
            }
          }
          &__advantages {
            margin-top: 15px;
            margin-bottom: 36px;
            text-align: center;
            color: #5c5c5c;
            height: 79px;
            span {
              font-weight: bold;
              font-size: 13px;
              margin-bottom: 11px;
              display: block;
            }
            ul {
              font-size: 12px;
              li {
                margin: 12px 0;
              }
            }
          }
          &__app {
            display: block;
            background-color: #f4f4f4;
            padding: 16px 32px;
            border-radius: 10px;
            margin-top: 16px;
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: auto;
            }
            span {
              display: inline-block;
              text-align: center;
              color: #5c5c5c;
              font-weight: bold;
              font-size: 15px;
              @media only screen and (max-width: 1280px) {
                font-size: 12px;
              } 
            }
          }

          &__chips {
            background-color: #f4f4f4;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            padding: 5.4px 8px 9px 7px;
            margin-top: 16px;
            margin-bottom: 18px;
            height: 80px;
            border-radius: 10px;
            position: relative;
            span {
              font-size: 14px;
              color: #848484;
              font-weight: bold;
            }
            &.is--error {
              border: 1px solid red !important;
              transition: 0.2s;
              border-radius: 5px;
              &::after {
                content: "";
                background: url(/arquivos/icon--alert.png);
                background-repeat: no-repeat;
                background-size: 15px;
                width: 15px;
                height: 13px;
                position: absolute;
                top: 5px;
                right: 5px;
                opacity: 1;
                visibility: initial;
              }
            }

            &__container {
              display: block;
              margin-top: 11px;
              display: flex;
              justify-content: space-evenly;
              width: 100%;
              li {
                height: 36px;
                flex-grow: 1;
                background: white;
                border-radius: 5px;
                border: 1px solid #e6e6e6;
                &.is--active {
                  border: 1px solid #662c62 !important;
                  transition: 0.2s;
                }
                &:nth-child(2) {
                  margin-left: 7px;
                }
                &:nth-child(3) {
                  margin: 0 7px;
                }
                button {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-size: 30px;
                  background-repeat: no-repeat;
                  background-position: center;
                  &.js--chip-vivo {
                    background-image: url("/arquivos/vivo-chip.png");
                  }
                  &.js--chip-tim {
                    background-image: url("/arquivos/tim-chip.png");
                  }
                  &.js--chip-claro {
                    background-image: url("/arquivos/claro-chip.png");
                  }
                  &.js--chip-oi {
                    background-image: url("/arquivos/oi-chip.png");
                  }
                }
              }
            }
          }
          &__buy {
            display: block;
            margin-bottom: 15px;
            a {
              border-radius: 20px;
              background: #ff2600;
              color: white;
              display: block;
              text-align: center;
              padding: 10px 54px;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
        &:nth-child(2) {
          margin: 0 56px;
        }
        &:nth-child(4) {
          margin-right: 56px;
          order: 3;
        }
        &:nth-child(3) {
          order: 4;
        }
      }
    }
  }
}
