.x-home {
    $local-shelf-left-width: ((632 / 1280) * 100%);
    $local-shelf-width: ((478.45 / 648) * 100%);
    $local-shelf-item-width: ((208.68 / 478.45 ) * 100%);
    $local-shelf-margin: (100% - ($local-shelf-item-width * 2));
    
    &__shelf {
        display: flex;
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        &-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .x-home__shelf-titulo-container {
                width: 100%;
            }

            .x-section-title {
                text-align: center;
    
                h4 {
                    font-size: 26px;
                    font-weight: bold;
                    font-family: $font-main;
                    color: #00ADCC;
                    text-transform: uppercase;
                    letter-spacing: 3px;

                    @include mq ('sm', max) {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }

                    &::after {
                        content: "";
                        width: 150px;
                        height: 6px;
                        background: url('//superget.vteximg.com.br/arquivos/sea-waves.png') repeat-x;
                        background-position: center center;
                        display: block;
                        margin: 9px auto 0;
                    }
                }
            }
        }
    }

    .x-shelf {
        ul {}
            
        li {
            margin: 0 10px;
        }

        .slick-prev,
        .slick-next {
            width: 61px;
            height: 61px;

            &:before {
                content: unset;
            }

            svg {
                will-change: transform;
                transition: transform .125s $accelerate-ease;                
            } 
        }

        .slick-prev {
            left: -30px;

            svg {                
                transform: rotate(180deg) scale(1);
            }

            &:hover {
                svg {                
                    transition: transform .125s $decelerate-ease;
                    transform: rotate(180deg) scale(1.1);
                }                
            }
        }

        .slick-next {
            right: -30px;

            svg {                
                transform: scale(1);
            }

            &:hover {
                svg {                
                    transition: transform .125s $decelerate-ease;
                    transform: scale(1.1);  
                }                
            }
        }

        &__img {
            &.has--placeloader {
                padding: 62.5% 50%;
            }
        }

        &__placeloader {
            &.has--placeloader {
                padding: 62.5% 50%;
            }
        }

    }

    &__main-shelf {}

    &__shelf-container {
        width: 100%;
        margin: 0 auto 55px;

        .x-shelf__item {}
    }

    &__shelf-link-container {
        position: absolute;
        right: 3%;
        bottom: 0;

        a {
            @extend %text__orange;
        }
    }
}
