.x-rates {
    background: #F8F8F8;
    padding: 35px 140px 20px;
    width: 100%;
    
    &__center {
        width: 100%;
        margin: 0 auto;
        @include rem(max-width, 1069px);
    }

    &__header {
        h2 {
            font-size: 20px;
            color: #662C62;
            text-align: center;
         
        }
        p {
            font-size: 16px;
            color: #707070;
            text-align: center;
        }

        &-percent {
            display:flex;
            width:100%;
            justify-content: space-between;
            margin-top: 37px;
        
            &--left {
                background-color: #f00;
                width: 220px;
                min-height: 192px;
                width:20%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 12px 0px 35px;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 80px;
                    top: 50%;
                    will-change: transform;
                    right: -25%;
                    transform: translateY(-50%) rotate(-180deg);
                }
                h3 {
                    font-size: 83px;
                    margin: 0 auto -14px;
                    text-align: center;
                    color: #fff;
                    font-weight: 900;
                }
                P {
                    color: #fff;
                    font-size:20px;
                    text-transform:uppercase;
                    font-weight: 100;
                    margin-left: 51px;
                    line-height: 24px;
                }
            }

            &--middle {
                text-align:center; 
                background: #fff;
                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3 {
                    text-transform: uppercase;
                    color:#f00;
                    font-size: 20px;
                    margin:0;
                    font-weight: 900;
                }
                p {
                    font-size: 18px;
                    color: #898989;
                    text-align: center;
                    line-height: 22px;
                    margin-top: 15px;
                }
                .js--open-taxas {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            &--right {
                width:21%;
                background: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background: url(/arquivos/border-bottom.png) 50% no-repeat;
                    height: 2px;
                    width: 80px;
                    top: 50%;
                    will-change: transform;
                    left: -25%;
                    transform: translateY(-50%) rotate(-180deg);
                }
                h3 {
                    font-size: 22px;
                    color: #662C62;
                    font-size: 20px;
                    font-weight: bold;
                    height: 0px;
                }
            
                a {
                    width: 167px;
                    font-size: 11px;
                    background: red;
                    color: #fff;
                    border-radius:23px;
                    font-family: Ubuntu,sans-serif;
                    letter-spacing: .5px;
                    -ms-flex-pack: center;
                    color: #fff;
                    text-decoration: none;
                    line-height: 35px;
                    padding: 2px;
                    margin-left: 32px;
                    font-weight: 700;
                    height: 38px;
                }
            }  
            
            &--text {
                color:#f00;
                text-align: center;
                font-size: 19px;
                margin-top: 56px;
            }
        }
    }
 
    &__contents {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        margin: 30px auto;


        .x-rates__first,
        .x-rates__left,
        .x-rates__right {
            width: 32%;
            background: #FFF;
            border: 1px solid #fff;
            text-align: center;
            @include rem(padding, 24px 20px 54px);
        }

        .x-superget-taxas {
            display:flex;
        }
    }
}

.x-superget-taxas {
        &__credito--column{
            &:last-child{
                border-top: #f5f5f5 1px solid;
                padding-top: 40px;
                margin-top: 40px;
            }

        }
        &__credito--titulo {
            text-align: center;
            h3 {
                font-size: 21px;
                height: 66px;
                color: #662C62;
                font-weight: bold;
                padding-bottom: 8px;
                background: url('/arquivos/border-bottom.png') no-repeat center bottom;
                white-space: nowrap;
            }
        }
        
        &__info {
            font-size: 14px;
            color: #5C5C5C;
            // margin-top: 0px;
            // height: 60px;
            text-align: center;
            
            h4 {
                font-size: 18px;
                font-weight: 900;
                color: #662c62;
                display: inline-block;
                @include rem(margin-left, 5px);
            }

            P {
                font-size: 11px;
                font-weight: 500;
                height: 37px;
            }
            
            strong {
                color: #662C62;
                margin-left: 6px;
            
            }
          
          
        }
        
        &__valores {
            font-size: 11px;
            color: #5C5C5C;
            margin: 0 13px;
            font-weight: 500;
            display: block;
            // text-align: center;
            width: 100%;
            margin: 0 auto;
            // height: 51px;

            strong {
                color: #4E1E4B;
                display: block;
                font-size: 22px;
                margin: 10px 0 0 0;
          
                span {
                    font-weight: 400;
                    font-size: 12px;
                    display: block;
                }
            }

            span.x-discount {
                display: block;
                will-change: transform;
                transform: translateY(5px);
                @include rem(font-size, 9px);
            }

            &.x-border {
                position: relative;
                border-left: 1px solid #ccc;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    border-top: 0;
                    border-left: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    width: 56%;
                    pointer-events: none;
                    margin: 0 19%;
                    @include rem(bottom, -12px);
                    @include rem(height, 8px);
                    top:48px;
                }
            }
       
        }
        
        &__credito {
            // &--column {
            //      width: 35%;
            //     &:last-child {
            //         width: 65%;
            //     }
            // }
            
            &--info-taxas {
                // display: flex;
                // justify-content: space-around;
                // align-items: flex-start;
                margin-top: 27px;
            }
            
            &--row {
                margin-top: 15px;
            }
            
            &--ver_melhores_taxas {
                color: #5C5C5C;
                font-weight: 500;
                font-size: 14px;
                text-decoration: underline;
                margin-top: 15px;
            }
            
            &--sub-infos {
                p {
                    color: #A7A7A7;
                    font-size: 11px;
                    text-align: center;
                }
            }
        }
    }