.x-superdigital-cartao {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #eeefef;
  position: relative;
  &__content {
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 36px;
    padding-top: 60px;

    &__info {
      margin: 0 0 0 auto;
      max-width: 700px;
      
      @media only screen and (max-width: 1500px) {
        max-width: 600px;
      }

      h2 {
        margin-bottom: 0px;
        font-size: 46px;
        color: #ff0000;
        font-weight: bold;
        text-transform: uppercase;
      }
      &__paragraph {
        font-size: 18px;
        line-height: 32px;
        color: #5d5c5d;
      }
      h3 {
        margin: 30px 0;
        font-size: 24px;
        line-height: 29px;
        color: #5d5c5d;
        text-transform: uppercase;
        span {
          font-weight: bold;
        }
      }
      &__icons {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin: 25px 0;
        .x-container {
          flex-grow: 1;
          font-size: 14px;
          line-height: 20px;
          color: #5d5c5d;
          text-align: center;
          width: 22%;
          display: flex;
          justify-content: center;
          flex-flow: row wrap;
          margin-top: 5px;
          margin-bottom: 5px;
          &:nth-child(2),
          &:nth-child(5) {
            margin: 0px 50px;
          }
          &__img {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            img {
              width: auto;
            }
          }
          &__text {
            width: 100%;
            height: auto;
            font-size: 14px;
            min-height: 80px;
          }
          span {
            text-align: center;
          }
        }
      }
    }
    &__cta {
      display: flex;
      margin-bottom: 20px;
      a {
        color: rgb(255, 0, 0);
        padding: 10px 26px;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 20px;
        font-weight: 600;
        $transition: all .2s ease-out;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        transition: $transition;

        &:not(:hover) {
          background: transparent;
        }

        &:hover {
          background: rgb(255, 0, 0);
          color: #ffffff;
        }
      }
      button {
        margin-left: 20px;
        font-size: 18px;
        color: #5d5c5d;
        text-align: center;
        text-decoration: underline;
      }
    }
    &__note {
      font-size: 12px;
      color: #5d5c5d;
    }
  }
  &__img {
    width: 50%;
    height: 733px;
    background: url(/arquivos/cartao_img-aluguel-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    @media only screen and (max-width: 1500px) {
      height: 650px;
      background-size: auto;
      background-position: 0;
    }
  }
}

.x-hidecartao-digital{
  overflow-y: hidden;
}
.x-superdigital-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  &__box {
    width: 80%;
    height: auto;
    background: white;
    max-width: 800px;
    padding: 40px 30px;
    &__exit {
      display: flex;
      justify-content: flex-end;
      a {
        text-decoration: none;
        font-size: 50px;
        font-weight: 600;
        line-height: 1px;
        display: block;
        width: 40px;
        height: 40px;
        color: red;
        opacity: 1;
        transition: opacity 0.15s ease;
      }
    }
    &__content {
      h2 {
        color: #501e50;
        font-size: 36px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.5;
        strong{
          color: #501e50;
        }
      }
    }
  }
}

.x-superdigital {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  margin-top: 20px;

  &__center {
    padding: 0 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__header {
    width: 100%;
    text-transform: uppercase;
    color: #662c62;
    font-size: 16px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    text-align: center;

    h2 {
      letter-spacing: 0.5px;

      strong {
        font-weight: 700;
      }
    }
  }

  &__contents {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 50%;
    .box-banner img {
      width: auto;
      display: block;
      height: auto;
    }

    &--content {
      padding-left: 40px;
    }

    &--image {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 30px;
      padding-left: 15px;
      position: relative;

      img {
        width: 60%;
        display: block;
        height: auto;
      }
    }

    h5 {
      position: absolute;
      font-size: 26px;
      font-weight: 800;
      letter-spacing: 0.5px;
      text-transform: lowercase;
      color: #662c62;
      left: 90px;
      bottom: 0px;
    }

    &--text {
      width: 100%;
      text-align: center;
      padding: 0 40px 0 0;

      p {
        font-size: 16px;
        font-size: 1rem;
        color: #5c5c5c;
        line-height: 1.5;
        display: block;

        strong {
          font-weight: 800;
          color: #ff0000;
        }
      }
    }
  }

  &__advantages {
    width: 85%;
    display: block;
    margin: 0 auto;

    &--header {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 20px;

      h5 {
        color: #662c62;
        text-transform: uppercase;
        font-size: 16px;
        font-size: 1rem;
        letter-spacing: 0.5px;
      }
    }

    &--list {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 25px;

      li {
        padding: 0 18px;
        padding: 0 1.125rem;
        font-size: 13px;
        font-size: 0.8125rem;
        color: #5c5c5c;
        text-align: center;
      }
    }

    &--icon {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: center;
    }

    &--cta {
      width: 100%;
      display: flex;
      justify-content: center;

      & > a {
        width: 170px;
        height: 37px;
        font-size: 12px;
        background: #662c62;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
      }
    }
  }
}
