.x-testimonials {
    width: 100%;
    display: flex;
    margin: 0 auto 40px;

    &__contents {
        width: 100%;
    } 

    &__items {
        display: flex;
        vertical-align: middle;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        .item-depoimentos {
            &__content {
                display: flex;
                width: 90%;
                margin: 0 auto;

                .imagem-depoimento {
                    width: 40%;
                }
            
                .texto-depoimento {
                    margin-left: 25px;
                    width: 60%;
                    
                    h3 {
                        font-size: 21px;
                        color: #662C62;
                        font-weight: bold;
                    }
                    
                    span {
                        font-size: 12px;
                        font-style: italic;
                        color: #848484;
                    }
                    
                    p {
                        strong {
                            display: block;
                            margin-bottom: 10px;
                            color: #848484;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: bold;
                        }
                        
                        font-size: 12px;
                        color: #848484;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }
        }
    }

    .slick {
        &-arrow {
            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border-top: 2px solid #707070;
                border-left: 2px solid #707070;
                box-sizing: border-box;
            }
        }

        &-prev {
            left: -20px;
            &:before {
                position: relative;
                left: 2px;
                transform: rotate(-45deg);
            }
        }

        &-next {
            right: -20px;
            &:before {
                position: relative;
                right: 3px;
                transform: rotate(135deg);
            }
        }

        &-dots {
            bottom: -35px;
            li {
                width: auto;
                height: auto;
                padding: 5px;
            }
            button {
                width: 8px;
                height: 8px;
                padding: 0;
                background: transparent;
                border: 1px solid #f00;
                &:before {
                    content: '';
                }
            }
        }
        &-active {
            button { background: #f00; }
        }
    }
}

.x-testimonials {
    width: 100%;
    display: flex;
    
    &__center {
        padding: 0 45px;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    &__header {
        width: 100%;
        color: #662C62;
        font-size: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        
        h6 {
            margin-top: 40px;
            letter-spacing: 0.5px;
            font-size: 20px;
            
            strong {
              font-weight: 700;
            }
        }
    }
}