@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700');

@mixin input() {
    height: 36px;
    font-size: 12px;
    padding: 0;
    padding-left: 12px;
    border: 1px solid $input-border-color;
    border-radius: 3px;
    color: $color-black;
    font-weight: 500;
    width: 100%;
}

@mixin inputLabel() {
    color: #3E3E3E;
    font-weight: bolder;
    margin-bottom: 4px;
}

@mixin header3() {
    color: $color-black;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 16px;
}

@mixin header3-secondary($transform: capitalize, $weight: 500) {
    @include header3;
    color: $secondary-text-color;
    font-size: 12px;
    text-transform: $transform;
    font-weight: $weight;
}

@mixin formHeader() {
    @include header3;
    text-transform: none;
    text-transform: capitalize;
    color: $color-purple;
    font-weight: bolder;
}

@mixin btnSuccess() {
    position: static;
    height: 36px;
    color: $color-white;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    margin-top: 16px;
    width: 204px;
    background: none;
    background-color: $color-red-light;
}

.secure {
    display: none;
}

.vtexIdUI-user {
    margin-top: -25px;
    margin-bottom: 30px !important;
}

.btn-success {
    @include btnSuccess;
    max-width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }