.x-shelf {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    @include mq(sm, max) {
        margin-bottom: 52px;
    }

    &__center {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        position: relative;
    }

    &__full {
        width: 65%;
        // max-width: 36%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @include mq(sm, max) {
            width: 100%;
        }

        .shelf {
            width: 100%;
            &> ul {
                @include mq(sm, max) {
                    flex-direction: column;
                    width: calc(327 / 375 * 100%);
                    margin: 0 auto;
                }
                &> li {
                    &:nth-child(even) {
                        .x-product {
                            &__group,
                            &__image {
                                @include mq(sm, max) {
                                    order: 1 !important;
                                }
                            }

                            // &__image {
                            //     // order: 2;   
                            // }
                        }
                    }
                }
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 40px;

        h6 {
            font-size: 20px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            color: #662C62;
            text-align: center;
        }
    }

    &__contents {
        width: 100%;

        .x-app_logo_menu {
            display: block;
            width: 282px;
            padding-bottom: 17px;
            margin-top: 12px;
            margin-bottom: 17px;
            background-color: #f4f4f4;
            border-radius: 10px;

                .x-free_shipping {
                    width: 100%;
                    background-color: #43C302;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px 10px 0 0;

                    p {
                        font-family: "Open Sans", sans-serif;
                        font-size: 10px;
                        font-weight: bold;
                        margin: 5px 0;
                        color: #ffffff;
                    }
                }

            & > a {
                display: flex;
                align-items: center;

                & > div {
                    padding-top: 14px;
                    display: inline-block;
                    vertical-align: super;
                }
            }

            .x-text_logo_exlusive_home {
                font-size: 11px;
                margin-top: 10px;
                margin-left: 4px;
                font-weight: bold;
            }
            .x-para_1_home {
                margin-left: 10px;
                color: #5c5c5c;
               
                
            }
            .x-para_2_home {
                margin-left: 9px;
                color: #5c5c5c;
               
            }
            #x-logo_app_image_1_home {
                width: 50px;
                margin-left: 20px;
                margin-right: 19px;
                margin-top: 3px;
            }
            .x-logo_app-content{
                width: 93%;
                display: flex;
                flex-direction: row;
                img{
                    width: 24px !important;
                    max-height: 87px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    justify-content: space-around;
                    height: 100%;
                }
                li{
                    font-family: "Open Sans", sans-serif;
                    font-size: 9px;
                    color: #5c5c5c;
                    font-weight: bold;
                    text-align: left;
                    margin-left:6px;
                }
                li:not(:last-child){
                    padding-bottom: 9px;
                }
            }
            #x-logo_app_image_2 {
                width: 183px;
                vertical-align: initial;
            }
        }

        @include mq(sm, max) {
            .x-app_logo_menu {
                width: 100%;

                & > a {
                    flex-direction: row;
                    justify-content: center;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    #x-logo_app_image_1_home {
                        width: 22px;
                        margin: 0;
                    }
    
                    #x-logo_app_image_2 {
                        width: 100px;
                        margin-left: 6px;
                    }
    
                    .x-text_logo_exlusive_home {
                        font-family: "Open Sans", sans-serif;
                        font-size: 6px;
                        font-weight: bold;
                        text-align: center;
                        margin-top: 4px;

                        .x-para_1_home {
                            margin-left: 0;
                            margin-right: 0;
                        }

                        .x-para_2_home {
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .shelf > ul > li {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #E6E6E6;
            width: 100%;
        

            // &:last-of-type {
            //      padding-bottom: 0;
            //      border-bottom: 0;
            // }
            @include mq(sm, max) {
                margin-bottom: 0;
            }
        }

        .x-product {
            display: flex;
            justify-content: center;
            @include mq(md,min){
                width: 90%;
                // border: 1px solid green;
                margin: 0 auto;
            }

            &__image {
                // @include mq(sm){
                // margin: 0px -100px;
                // }
                @include mq(sm, max) {
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                &--container {
                    width: 100%;
                    margin-bottom: 10px;
                    display: block;

                    img {
                        width: 90%;
                        height: auto;
                        display: block;
                    }
                }

                &--know-more {
                    display: block;
                    text-align: center;
                    margin-right: 34px;
                    @include mq(sm, max) {
                        margin-right: 0px;
                    }
                    a {
                        text-transform: lowercase;
                        color: #662C62;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.5px;
                        text-decoration: underline;

                        @include mq(sm, max) {
                            font-size: 14px;
                            margin-top: 30px;
                            display: block;
                        }
                    }
                }
            }

            &__group {
                z-index: 1;
                width: 50%;
                @include mq(sm, max) {
                    width: 88%;
                }

                @include mq(sm, max) {
                    width: 63.75%    ;
                }
            }

            &__discount {
                display: flex;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 10px;
                @include mq(sm, max) {
                    position: initial;
                    margin-bottom: 4px;
                    width: 140%;
                }

                &--container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 59px;
                    padding: 10px 0 15px;
                    margin-right: 15px;
                    text-transform: uppercase;
                    background: #43c300 !important;
                    border-radius: 0 0 50% 50%;
                    box-shadow: 0 5px 10px rgba(0,0,0,.1);

                    @include mq(sm, max) {
                        order: 2;
                        background-color: #43c300;
                    }

                    & > span {
                        font-size: 9px;
                        color: #FFFFFF;

                        strong {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 20px;
                        }
                    }
                }

                &> h3 {
                    font-size: 16px;
                    color: #5c5c5c;
                    width: 75%;
                    line-height: 1.2;

                    @include mq(sm, max) {
                        font-size: 12px;
                        color: #5c5c5c;
                        width: 75%;
                        line-height: 1.2;
                    }
                }
            }

            &__name {
                width: 100%;
                margin-bottom: 15px;
                font-size: 30px;
                font-weight: 800;
                letter-spacing: 0.5px;
                @include mq(md,min){
                    white-space: nowrap;
                }
                @include mq(sm, max) {
                    @include rem(font-size, 16px !important);
                    min-height: initial !important;
                    @include rem(margin-bottom, 4px !important);
                    text-align: left;
                }

                a {
                    color: #662C62;
                }
            }

            &__price {
                width: 100%;
                display: block;
                text-transform: uppercase;

                a {
                    display: block;
                    p {
                        &:last-child {
                            @include mq(sm, max) {
                                line-height: 1;
                            }
                        }
                    }
                }

                &--old {
                    color: #5c5c5c;
                    text-transform: uppercase;
                    display: block;
                    text-decoration: line-through;
                    letter-spacing: -0.5px;
                    strong {
                        font-weight: 700;
                    }

                    @include mq(sm, max) {
                        display: block;
                        text-decoration: line-through;
                        @include rem(font-size, 13px);
                        color: #5c5c5c;
                        @include rem(margin-bottom, 3px);
                    }
                }

                &--best-single {
                    font-style: italic;
                    color: #662C62;
                    font-weight: 400;
                }

                &--best {
                    letter-spacing: -.75px;

                    @include mq(sm, max) {
                        p & {
                            line-height: 1;
                        }
                        color: #662c62;
                        @include rem(font-size, 12px);
                        @include font-weight(semi-bold);
                        text-transform: uppercase;
                        span {
                            color: #5c5c5c;
                            font-weight: 400;
                            margin-right: 4px;
                        }
                    }
                }

                &--installments {
                    font-size: 16px;
                    font-weight: 600;
                    color: #662C62;

                    &-value {
                        font-weight: 800;
                        font-size: 29px;
                        @include mq(sm, max) {
                            @include rem(font-size, 24px);
                        }
                    }

                    &-number {
                        @include font-weight(bold);
                        @include rem(font-size, 11px);
                        br {
                            display: none;
                        }

                        @include mq(sm, max) {
                            display: inline-block;
                            @include rem(width, 26px);
                        }
                    }

                    @include mq(sm, max) {
                        line-height: 1;
                    }
                }
            }

            &__chips {
                width: 240px;
                display: block;
                border: 1px solid transparent;
                border-radius: 10px;
                transition: border .3s ease-in-out;
                padding-bottom: 15px;
                margin-bottom: 30px;
                margin-top: 20px;
                position: relative;
                background-color: #f4f4f4;

                .x-free_shipping {
                    width: 100%;
                    background-color: #43C302;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px 10px 0 0;

                    p {
                        font-family: "Open Sans", sans-serif;
                        font-size: 10px;
                        font-weight: bold;
                        margin: 5px 0;
                        color: #ffffff;
                    }
                }

                .x-app_logo_home {
                    width: 90px;
                    height: 95px;
                    color: #6b6a6a;
                    margin-bottom: 1.875em;
                    margin-top: 20px;
                }

                .x-app_logo_home ul{
                    list-style: none;
                    display: flex;
                }
                .x-text_logo_exlusive_home {
                    font-size: 11px;
                    margin-top: 10px;
                    margin-left: 4px;
                }
                .x-para_1_home {
                    margin-left: 10px;
                   

                }
                .x-para_2_home {
                    margin-left: 9px;
                   

                }
                #x-logo_app_image_1_home {
                    width: 50px;
                    margin-left: 20px;
                    margin-right: 19px;
                    margin-top: 3px;
                }
                #x-logo_app_image_2_home {
                    width: 250px;
                }

                @include mq(sm, max) {
                    width: 100%;
                }

                &:after {
                    content: "";
                    background: url("/arquivos/icon--alert.png");
                    background-repeat: no-repeat;
                    background-size: 15px;
                    width: 15px;
                    height: 13px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    opacity: 0;
                    visibility: hidden;
                }

                &.is--error {
                    border-color: #FF0000;

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & > p {
                    font-family: "Open Sans", sans-serif;
                    display: flex;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: 700;
                    // display: block;
                    margin: 10px 0;
                    color: #919191;
                }

                @include mq(sm, max) {
                    & > p {
                        font-size: 8px;
                    }
                }

                & > ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        width: 50px;
                        height: 35px;
                        border: 1px solid #E6E6E6;
                        transition: border ease-in-out 0.3s;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 3px;

                        &.is--active {
                            border-color: #662C62;
                        }

                        button {
                            cursor: pointer;
                            outline: 0;

                            &.js--chip-vivo {
                                background: url("//superget.vteximg.com.br/arquivos/vivo-chip.png");
                                -webkit-background-size: 30px 30px;
                                background-size: 30px;
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 14px;
                            }

                            &.js--chip-tim {
                                background: url("//superget.vteximg.com.br/arquivos/tim-chip.png");
                                -webkit-background-size: 30px 30px;
                                background-size: 30px;
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 8px;
                            }

                            &.js--chip-claro {
                                background: url("//superget.vteximg.com.br/arquivos/claro-chip.png");
                                -webkit-background-size: 30px 30px;
                                background-size: 30px;
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 14px;
                            }

                            &.js--chip-oi {
                                background: url("//superget.vteximg.com.br/arquivos/oi-chip.png");
                                -webkit-background-size: 30px 30px;
                                background-size: 30px;
                                background-repeat: no-repeat;
                                width: 30px;
                                height: 30px;
                            }
                        }

                        @include mq(sm, max) {
                            @include mq(sm, max) {
                                @include rem(width, 40px);
                            }
                        }
                    }
                }
            }

            &__buy-button {
                width: 73%;
                display: flex;
                justify-content: start;

                a {
                    width: 170px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 18px;
                    background: #FF0000;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    font-size: 12px;
                    font-weight: 700;

                    &.is--disabled {
                        opacity: 0.6;
                        pointer-events: none;
                    }
                    &.--out-of-stock{                        
                        pointer-events: none;
                        cursor: not-allowed;
                        background: #f4f4f4;
                        color: black;
                        border-color: #f4f4f4;
                    }

                }
            }
        }
    }

    &__carousel {
        &> ul {
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .slick-initialized {
                opacity: 1;
                visibility: hidden;
            }

            .slick-track {
                display: flex;
            }
        }
    }
}

#x-shelf{
    .x-shelf{
        &__contents {
            .x-product {
                &__price {
                    &--best {
                     color: #662c62;
                       font-style: italic;
                        font-weight: 600;
                        font-size: 0.875rem;
                    }

                    &--old {
                        color: #848484;
                        font-size: 1.1em;
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
#ajaxBusy {
    display: none !important;
}

// .x-product-id-4 {
//     justify-content: flex-end !important;
// }
#x-shelf{
    .x-shelf__full{
        ul{
            display: flex;
            li:nth-child(3){
                order: 4;
                h2{
                    width: 80%;
                }
            }
            @include mq(sm, max) {
                    .slick-arrow{
                        top: 50% !important;
                        z-index: 9999;
                        &:before{
                            color: red;
                            font-weight: bold;
                        }
                        &.slick-prev{
                            left: -22px !important;
                        }
                        &.slick-next{
                            right: -22px !important;
                        }
                    }
            }
        }
    }
}