
.x-search {
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin-right: 32.5px;

    @include mq('sm', max) {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50px;
        height: 40px;
        line-height: 40px;
        background: #EEE;
    }

    &__close {
        margin: 0 50px 0 calc(33% - 115px);
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #a1a1a1;

        svg {
            width: 15px;
            height: 15px;
            margin-left: 10px;

            path {
                fill: #a1a1a1;
            }
        }
    }

    &__form {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 100%;
        border:none;
        color: #838383;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        font-family: $font-main;
        padding: 15px 30px;

        @include mq('sm', max) {
            height: 40px;
            line-height: 40px;
    
            &::placeholder {
                color: #838383;
                font-weight: regular;
            }
        }

        &::placeholder {
            color: #a1a1a1;
            font-weight: lighter;
        }
    }

    &__result {
        display: block !important;
    }

    &__form {
        border:none;
    }

    &__drop {
        display: block;
        overflow-y: scroll;
        max-height: 100vh;
    }
}
