
.x-pre-header {
    margin-bottom: -45px;
    padding: 10px 30px;
    position: relative;
    box-shadow: 0 0 35px -15px;
    transform: translateY(-100%);
    transition: linear .3s;

    &.is--active {
        margin-bottom: 0;
        transform: translateY(0);
    }

    ul {
        width: 100%;
    }

    li {
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
    }

    &__close {
        height: 100%;
        position: absolute;
        top: 0;
        right: 10px;

        svg {
            width: 10px;
            height: 10px;

            .cls {
                fill: black;
            }
        }
    }
}
