
.x-minicart {
    position: relative;

    &__amount {
        position: absolute;
        top: 50%;
        right: -40%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #FFF;
        border-radius: 100%;
        background: #FF4949;
        font-size: 12px;
        font-family: $font-main;
        font-weight: bold;
        text-align: center;
    }

}