.hidden-title {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.x-header {
    width: 100%;
    display: flex;
}

.x-header__center {
    width: 100%;
    display: flex;
    padding: 13px 45px;
    padding: 0.8125rem 2.8125rem;
    box-sizing: border-box;
}

.x-header__contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.x-header__logo {
    width: 21%;
}

.x-header__navigation {
    width: 79%;

    .x-header__menu {
        display: none;
    }
}

.x-header__navigation ul {
    width: 100%;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.x-header__navigation ul li a {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #5C5C5C;
    transition: all ease-in-out 0.3s;
    position: relative;
    letter-spacing: 0.5px;
    font-weight: 300;
    cursor: pointer;
}
.x-header__navigation ul .x-help--item{
    width: 50px;
}
.x-header__navigation ul .x-help--item::before{
    /* content:''; */
    content: "";
    display: block;
    /* background: red; */
    height: 26px;
    /* margin-top: 2px; */
    position: absolute;
    margin-left:4%;
    border-right: 2px solid rgba(1,1,1,0.3);
}
.x-header__navigation>ul>li>a:after {
    content: "";
    display: block;
    background: #FF0000;
    width: 0;
    height: 3px;
    margin-top: 2px;
}

.x-header__navigation>ul>li>a:hover {
    color: #662C62;
    text-shadow: 1px 0 0 #662C62;
}

.x-header__navigation ul li a:hover:after {
    width: 100%;
    transition: all ease-in-out 0.3s;
}

.x-header__navigation--dropdown {
    display: none;
}

.x-header__info {
    width: 25%;
}

.x-header__info--item {
    position: relative;
}

.x-header__info--item .js--minicart-open {
    width: 30px;
    height: 30px;
}

.x-header__info--list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.x-header__info--item-button {
    width: 160px;
    width: 10rem;
    height: 30px;
    height: 1.875rem;
    font-size: 14px;
    font-size: 0.875rem;
    background: #FF0000;
    color: #FFFFFF;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}




.x-header {
    position: relative;
}

.x-header__navigation--menu .x-header__navigation--item .x-header__menu {
    position: absolute;
    width: 100%;
    background: #FFF;
    left: 0;
    padding: 13px 45px;
    top: 100%;
    flex-direction: row;
    box-shadow: 0 4px 15px -13px #000;
    display: none;

}

.x-header__navigation--menu .x-header__navigation--item:hover .x-header__menu {
    display: flex;
    top: 77%;
    z-index: 99999;
}

.x-header__navigation--menu li .x-header__menu--content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.x-header__menu--content-left {
    width: 136px;
    padding-top: 160px;
}

.x-header__menu--content-left h3 {
    color:#662C62;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
    background: url('/arquivos/menu-border-bottom.png') no-repeat center bottom;
}

.x-header__menu--content-left h3 strong {
    display: block;
}

.x-header__menu--content-right .x-header__navigation ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.x-header__menu--content-right {
    width: 100%;
}

.x-header__navigation .x-header__menu--content-products ul {
    flex-direction: row;
    display: flex;
    justify-content: initial;
    text-align: center;
    padding: 0;
    flex-direction: row;
}

.x-header__navigation .x-header__menu--content-products ul li:first-child {
    order: 1;
}

.x-header__navigation .x-header__menu--content-products ul li:nth-child(2) {
    order: 2;
}

.x-header__navigation .x-header__menu--content-products ul li:nth-child(3) {
    order: 3;
}

.x-header__navigation .x-header__menu--content-products ul li:nth-child(4) {
    order: 4;
}

.x-header__menu--content-products li{
    padding: 0 60px;
}

.x-header__menu--content-products--item__title h3 {
    font-size: 16px;
    color: #662C62;
    font-weight: bold;
    text-align: center;
}

.x-header__menu--content-products--item__image {
    text-align: center;
}

.x-header__menu--content-products--item__image img {
    max-width: 115px;
    margin: 15px auto 5px;

}

.x-header__menu--content-products--item__price {
    text-align: center;
}

.x-header__menu--content-products--item__price-old {
    text-decoration: line-through;
    font-size: 14px;
    color: #5C5C5C;
}

.x-header__menu--content-products--item__price-best {
    color: #662C62;
    font-weight: bold;
    display: flex;
    align: center;
}

.x-header__menu--content-products--item__price-best span {
    font-size: 11px;
    width: 23px;
}

.x-header__menu--content-products--item__price-best strong {
    font-size: 28px;
}


.x-header__menu--content-products {
    display: block;
    width: 80%;
}

.x-header__menu--content-products ul {
    display: block;
}

.x-header __center .x-shelf__contents .x-product__chips>ul {
    display: flex;
}

.x-header .x-product .x-product__group .x-product__name a {
    // width: 114px;
    font-size: 14px;
    font-weight: bold;
    color: #662C62;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    // display: -webkit-inline-box;
    white-space: nowrap 
}

.x-header .x-product .x-product__group .x-product__name a:nth-child(2){
    width: 154px !important;
}


.x-header .x-header__menu--content-right .shelf>ul>li {
    flex-direction: row;
    display: flex;
    padding: 0;
    text-align: center;
    width: 33%;
    justify-content: space-between;
    vertical-align: top;
    border-bottom: 0 !important;
    align-items: flex-start !important;

    &:before {
        content: "";
        width: 1px;
        height: 270px;
        background: #707070;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: .2;
    }
}

.x-header .x-product__price a p.x-product__price--installments {
    flex-direction: row;
    justify-content:flex-start;
    color: #662C62;
    letter-spacing: .5px;
    text-align: center;
    align-items: center;
}

.x-header .x-product__price a p.x-product__price--installments span {
    width: 36px;
    font-size: 11px;
    display: inline-block;
}

.x-header .x-product__price a p.x-product__price--installments strong {
    font-size: 28px;
    color: #662C62;
}

.x-header .x-shelf__contents .x-product__price--best-single {
    font-size:14px;
    font-weight: 600;
}

.x-header__navigation--menu .x-product__chips {
    font-size: 12px;
    font-weight: bold;
    color: #848484;
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    background-color: transparent;
    border-radius: 0;
}

.x-header__menu .x-shelf__contents .x-product__chips>ul li {
    width: 40px;
    padding:  3px;
    margin: 0 4px;
}

.x-header .x-shelf__contents .x-product__group {
    width: 100%;
    text-align: center;
}

.x-header .x-shelf__contents .x-product__buy-button a {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin: 20px 0 10px;
    line-height: 35px;
}

.x-header .x-shelf__contents .x-product {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto;
    img{
        width: 47% !important;
        display: inline-flex !important;
    }
}

.x-header__menu--content-products .shelf {
    width: 80%;
}


.is--hidden {
    display: none;
}


.menu-product4-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    font-weight: bold;
    text-align: center;
}

.menu-product4-app-logo{
    width: 39px !important;
    height: auto;
}

.menu-product4-text-holder{
    margin-left: 12px;
    font-size: 11px !important;
    color: #5c5c5c;

}


small {
    color: #5c5c5c;
}
