
.x-utilities {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .x-minicart {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        padding: 0 5.5px;

        
        @include mq('sm', max) {
            &.is--active {
                width: 100%;
                background: #00b7d8;
                position: fixed;
                top: 0;
                left: 0;
                height: 50px;
                padding-left: 20px !important;
                padding-top: 15px;
                z-index: 5;

                .js--menu-mobile-btn {
                    display: none;
                }
                .js--menu-mobile-close {
                    display: flex;

                    svg {
                        width: 21px;
                        height: 21px;   
                        margin-right: 15px;

                        path {
                            width: 21px;
                            height: 21px;   
                        }
                    }

                    span {
                        font-size: 14px;
                        color: #FFF;
                        line-height: 16px;
                        margin-top: 3px;
                    }

                    .x-main-menu {
                        display: block;
                    }
                }
            }
        }
        
        a {
            display: flex; 
            align-items: center;
        }

        .js--search-btn-open {
            display: flex;
            align-items: center;
        }

        .js--menu-mobile-close {
            display: none;
        }
        

        &:first-child {
            padding-left: 0px;
        }

        &:last-child {
            border-right-color: transparent;
            padding-right: 0px;
            svg {
                margin-right: 15px;
            }
        }
        
        svg {
            width: 15px;

            path {
                fill: black;
            }
        }
    }
}
