
.x-main-menu {
    margin: 0 44px 0 31px;

    @include mq ('sm', max) {
        display: none;
        width: 100%;
        left: 0;
        top: 50px;
        margin: 0;
        position: fixed;
        background: #FFF;
        padding-top: 3px;
    }
    
    &__items {
        @include rem(letter-spacing, 1.5px);
        display: flex;
        
        @include mq ('sm', max) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 6.5px 0px;
        color: #FFF;
        @include rem(font-size, 16px);
        font-weight: bold;
        font-family: ''Open Sans'', sans-serif;
        text-transform: uppercase;

        @include mq ('sm', max) {
            color: #838383;
        }


        &:not(:first-child) {
            @include rem(margin-left, 35px);
        }
        strong {
            color: #ff521e;
            text-transform: none;
        }

        &.has--list {
            position: relative;
            cursor: pointer;
            
            // &:hover {
            //     .js--main-menu-materiais {
            //         display: block;
            //     }
            // }

            .js--main-menu-materiais {
                display: none;
                position: absolute;
                top: 100%;
                left: -10px;

                li {
                    display: block;
                    margin: 0 !important;
                    padding: 0;
                    border-bottom: 1px solid #000;
                    
                    &:hover {
                        border-color: #FFF;
                    }
                    
                    a {
                        padding: 7px 23px;
                        display: block;
                    }
                }
            }


        }
        
    }
}


@include mq('sm', max) {
    .x-utilities__item.is--active {
        .x-main-menu {
            display: block;
            &__item {
                margin: 0;
                a {
                    padding: 31px 20px;
                }
            }
        }
    }
}