
.x-search {   

    &__close {
        margin: 0 50px 0 calc(33% - 115px);
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #a1a1a1;

        svg {
            width: 15px;
            height: 15px;
            margin-left: 10px;

            path {
                fill: #a1a1a1;
            }
        }
    }

    &__form {        
        width: 100%;
        padding: 25px 0;
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 100%;
        color: #A1A1A1;
        font-size: 17px;
        @include font-weight(light)
        text-align: center;
        letter-spacing: 0;
        text-transform: none;

        &::placeholder {
            color: #a1a1a1;
            font-weight: lighter;
        }
    }

    &__logo {
        @include rem(margin-bottom, 93px);
    }
}
