
.x-minicart {
    position: relative;

    &__message {
        background-color: $color-white;
        border: solid 1px #f2f2f2;
        width: max-content;
        padding: 15px 20px 15px 30px;        
        align-items: center;
        position: absolute;
        display: flex;
        top: 180%;
        right: -20%;
        font-size: 13px;
        box-shadow: #00000040 0 0 30px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .125s $accelerate-ease;

        &.is--active {
            transition: opacity .125s $decelerate-ease;           
            opacity: 1;
            pointer-events: all;
        }

        &::before {
            content: '';
            border-left: 8px transparent solid;
            border-right: 8px transparent solid;
            border-bottom: white 8px solid;
            position: absolute;
            top: -8px;
            right: 20px;
        }

        svg {
            margin-left: 15px;
    
            .cls-1 {
                fill: #ff5a29;
            }
    
            .cls-2 {
                fill: white;
            }
        }
    }
}