.x-header {
    display: block;
    position: relative;
    z-index: z('fixed-header');
    &__center {
        width: 100%;
        display: flex;
        text-align: center;
        padding: 15px 20px;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        background: #fff;
    }
    &__contents {
        width: 50%;
    }
    &.overlay::after {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        z-index: -10;
    }
    &__menu--mobile {
        width: 25%;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        span{
          font-weight: bold;
          font-size: 14px;
          font-weight: bold;
          margin-left: 4px;
          color: rgb(102, 44, 98);
          @media only screen and (max-width: 360px) {
            font-size: 14px;
          }
        }
        svg {
            cursor: pointer;
        }
        .x-header__navigation {
            display: none;
            .x-header__menu {
                display: none;
            }
        }
        &.is--active {
            .x-header__navigation {
                left: 0;
                width: 100%;
                display: block;
                position: absolute;
                background: #FFF;
                top: 15px;
                z-index: -1;
                padding: 40px 25px 30px;
                &--menu {
                    li {
                        display: block;
                        width: 100%;
                        height: auto;
                        border-bottom: 1px solid #dedddd;
                        &:hover {
                            background-color: #deddddbf;
                            // background-color: #fd00004f;
                        }
                        a {
                            color: #5C5C5C;
                            font-size: 14px;
                            padding: 14.5px 0;
                            font-weight: bold;
                            display: block;
                        }
                    }
                    .x-header__menu--content-products {
                        ul {
                            display: flex;
                            flex-direction: row;
                            li {
                                width: 33%;
                                overflow-x: hidden;
                                margin: 0;
                                padding: 0;
                                article.x-product {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .x-product__image {
                                    width: 100%;
                                }
                                .x-product__group {
                                    order: 2;
                                    width: 100%;
                                    text-align: center;
                                    padding: 0 5px;
                                    margin-left: 40px;
                                    &:last-child {
                                        display: none;
                                    }
                                    .x-product__name {
                                        a {
                                            font-size: 12px;
                                            color: #662C62;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.is--active {
                    .x-header__menu {
                        display: block;
                    }
                }
            }
        }
    }
    &__info {
        width: 25%;
        &--item {
            margin: 0 7.5px;
        }
        &--list {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
}

.x-bottombar {
    &::before {
        content: "";
        bottom: 0;
        width: 100%;
        opacity: .5;
        height: 60px;
        z-index: 999;
        position: fixed;
        text-align: center;
        background: #343434;
        left: 0;
        display: none;
    }
    &__button {
        width: 230px;
        height: 40px;
        background: #FF0000;
        display: inline-block;
        opacity: 1;
        border-radius: 20px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFF;
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        z-index: 9999;
        display: none;
    }
}

.x-minicart {
    top: 0;
    display: none;
    &.is--active {
        right: 0;
        top: 60px;
        width: 100%;
        display: block;
        height: calc(100vh - 65px);
        transition: 1s;
        position: absolute;
    }
    &__items {
        height: 50vh;
        overflow-x: hidden;
    }
}

.is--hidden {
    display: none;
}