
.x-main-menu__wrapper.is--active {
    .x-main-menu {
        transform: translateX(0);
        transition: all .175s $decelerate-ease;
        overflow-y: scroll;
    }
}
.x-main-menu {
    width: 75%;
    position: fixed;
    top: 80px;
    height: calc(100% - 80px);
    left: 0;
    background: #000;
    transform: translateX(-100%);
    transition: all .175s $accelerate-ease;
    z-index: z('side-menu-mobile');

    &__items {
        padding: 40px 20% 15px;
        display: block;
        background-color: #000;
        @include rem(letter-spacing, 1.5px)
    }

    &__item {
        padding: 6.5px 0px;
        color: white;
        @include rem(font-size, 18px);
        text-transform: uppercase;
        
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            text-transform: none;
        }

        &:nth-child(9),
        &:nth-child(10) {
            margin-top: 40px;
            display: inline-block;
            
            a {
    
                &[title="Facebook"] {
                    margin-right: 26px;
                    svg {
                        width: 7px;
                    }
                }
    
                &[title="Instagram"] {
                    svg {
                        width: 15px;
                    }
                }
            }
        }
        a {
            font-family: ''Open Sans'', sans-serif;

            strong {
                font-size: 22px;
                font-weight: 400;
                color: #ff521e;
                text-transform: none;
            }

            svg {
                fill: #FFF;
            }
        }

        .x-sub-menu__items {
            display: none;
        }

        &.has--list {
            .x-main-menu__items {
                padding: 0;
                display: none;
            }

            .x-main-menu__item {
                display: block;
                margin: 0px;
                text-transform: capitalize;
            }
        }
    }

    &__drop-title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &:after {
            @include arrow-generate(down, 12px, 4px);
            border-color: $color-white;
            transition: all .3s $accelerate-ease;
        }

        &.is--active {
            &:after {
                transition: all .3s $decelerate-ease;
                transform: rotate(315deg);
            }
        }
    }
    &__item-social {}
    &__item-social-wrapper {
        display: flex;
        .is--icon {
            svg {
                height: 15px;
            }
        }
        .x-main-menu__item {
            &:nth-child(2) {
                margin-left: 28.5px;
            }
        }

    }

    &__link {
        &.is--weak {
            text-transform: capitalize;
        }
    }
    
    &__itens-separator {
        border-color: #707070;
        margin: 31px 0 28px;
    }
    
}
