
.x-utilities {
    display: none;
    width: 100%;
    position: relative;
    background: #000;
    height: 30px;
    text-align: center;

    .js--main-menu__close {
        display: none;
    }

    .x-minicart {
        display: flex;
        align-items: flex-start;

        .x-minicart__amount {
            color: #FFF;
            font-size: 12px;
            font-weight: 300;
            border-bottom: 1px solid #707070;
        }
    }
    &__item {
        display: table-cell;
        padding: 0 20px;
        vertical-align: middle;
        border: 0;
        .js--menu-mobile-btn {
            display: none;
            &.is--active {
                display: block;
            }
        }
        .js--menu-mobile-close {
            path {
                opacity: 1;
                stroke: #FFF;
            }

            display: none;
            &.is--active {
                display: block;
            }

        }
        &.is--active {
            .js--menu-mobile-btn {
                display: none;
            }
            .js--menu-mobile-close {
                display: block;
            }
            .x-search {
                display: block;            
                position: fixed;
                top: 0;
                left: 0;
                background: #FFF;

                &__drop {
                    transform: inherit;

                    .x-search__logo {
                        margin-top: 80px;
                        padding: 0 25px;
    
                        svg {
                            width: 100% !important;
                            fill: #000;
                            path {
                                fill: #000;
                            }
                        }
                    }
                    
                    .js--search-btn-close {
                        position: absolute;
                        top: 20px;
                        svg {
                            fill: #000;
                            path {
                                fill: #000 !important;
                            }
                        }
                    }

                    .x-search__form {
                        border: 0;

                        input {
                            text-transform: none;
                            border-bottom: 1px solid #E8E8E8;
                        }
                    }
                }

            }
        }

        a,
        button {
            margin: 0 auto;
            display: block;
            text-align: center;
        }        

        &:first-child {
            // padding-left: 0px;
        }

        &:last-child {
            border-right-color: transparent;
            padding-right: 0px;
            svg {
                margin-right: 15px;
            }
        }
        
        svg {
            width: 15px;
            fill: #FFF;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;

            path {
                fill: #FFF;
            }
        }
    }
}
