
div(style="display: none;" class="x-product__notice-me" rv-show='product.skuNotAvailable')                   
    div(class="x-product__notice-me-title")
        | Avise-me
    p(class="x-product__notice-me-paragraph")
        | Receba uma notificação quando o produto estiver disponível.
    
    div(class="x-product__notice-me-form-container")
        form(class="x-product__notice-me-form js--notify-me")
            div(class="x-product__notice-me-inner-wrapper")
                div(class="x-product__notice-me-form-group")
                    label(for="name" class="x-product__notice-me-label")
                        | Nome
                    
                    input(title='Nome' name='name' type="text" class="x-product__notice-me-input js--notify-me-name")/
                
                div(class="x-product__notice-me-form-group")
                    label(for="email" class="x-product__notice-me-label")
                        | Email
                    
                    input(title='Email' name='email' type="email" class="x-product__notice-me-input js--notify-me-email")/
                    
            
            button(id='notifyMeSubmit' class="x-product__notice-me-submit js--notify-me-submit" name="enviar" title="enviar" type="submit",rv-data-sku='product.skuId')
                | Enviar

        div(class="x-product__notice-me-messages")
                div(class="x-product__notice-me-error js--notify-me-error")
                    div(class="x-product__notice-me-error-message")
                        | Não foi possível cadastrar. Tente mais tarde.
                    
                    button(title="voltar" class="x-product__notice-me-error-back js--notify-me-error-btn")
                        | Voltar   
                    
                
                div(class="x-product__notice-me-success js--notify-me-success")
                    | Cadastrado com sucesso. Assim que o produto for disponibilizado você receberá um email avisando.
                
                div(class="x-product__notice-me-loading js--notify-me-loading")
                    <vtex.cmc:svgIconNotifyMeLoading />
                
        
    
