div(class="simulation-container")
  div(class="simulation-header")
    div(class="simulation-title")
      span(class="simulation-spanTitle1 fontPurple") Faça uma 
      span(class="simulation-spanTitle2 fontPurple") Simulação
  div(class="simulation-body")
    div(class="simulation-card simulation-left")
      div(class="simulation-card simulation-card-values")
        div(class="simulation-card-title fontPurple") Escolha o plano de recebimento
        div(class="simulation-card-body")
          select(id="simulation-select-plan", class="simulation-font-left")
            option(class="simulation-font-left", value='2d') Receba em 2 dias
            option(class="simulation-font-left", value='30d') Receba em 30 dias
            option(class="simulation-font-left", value='12t') Receba parcelado em até 12 vezes
      div(class="simulation-card simulation-card-values")
        div(class="simulation-card-title fontPurple") Escolha a forma de pagamento
        div(class="simulation-card-body")
          select(id="simulation-select-payment" class="simulation-font-left")
            option(class="simulation-font-left", value='debit') Débito
            option(class="simulation-font-left", value='credit') Crédito
            option(class="simulation-font-left", value='overtimeEmitter') Parcelado Emissor
            option(class="simulation-font-left", value='2') Parcelado em 2 vezes
            option(class="simulation-font-left", value='3') Parcelado em 3 vezes
            option(class="simulation-font-left", value='4') Parcelado em 4 vezes
            option(class="simulation-font-left", value='5') Parcelado em 5 vezes
            option(class="simulation-font-left", value='6') Parcelado em 6 vezes
            option(class="simulation-font-left", value='7') Parcelado em 7 vezes
            option(class="simulation-font-left", value='8') Parcelado em 8 vezes
            option(class="simulation-font-left", value='9') Parcelado em 9 vezes
            option(class="simulation-font-left", value='10') Parcelado em 10 vezes
            option(class="simulation-font-left", value='11') Parcelado em 11 vezes
            option(class="simulation-font-left", value='12') Parcelado em 12 vezes
      div(class="simulation-card simulation-card-values")
        div(class="simulation-card-title fontPurple") Valor da transação
        div(class="simulation-card-body")
          input(id="simulation-text-value" class="simulation-font-left", type='text' data-affixes-stay='true' data-prefix='R$' data-thousands='.' data-decimal=',' allowzero='true' value='R$1.000,00')/
    div(class="simulation-card simulation-right")
      table(class="simulation-table simulation-100")
        thead
          tr
            th
            th(class="simulation-table-title-row") MDR*
            th(class="simulation-table-title-row") Taxa de serviço
            th(class="simulation-table-title-row") Taxa de total
            th(class="simulation-table-title-row") Valor Total
        tbody
          tr(class="simulation-table-debit")
            td(class="simulation-table-title-col") Débito
            td(class="simulation-table-mdr") 2,00%
            td(class="simulation-table-serviceFee") -
            td(class="simulation-table-totalFee") 2,00%
            td(class="simulation-table-totalMoney") R$ 980,00
          tr(class="simulation-table-credit")
            td(class="simulation-table-title-col")
              | Crédito 
              span à vista
            td(class="simulation-table-mdr") 2,00%
            td(class="simulation-table-serviceFee") -
            td(class="simulation-table-totalFee") 2,00%
            td(class="simulation-table-totalMoney") R$ 980,00
          tr(class="simulation-table-overTimeEmitter")
            td(class="simulation-table-title-col") Parcelado Emissor
            td(class="simulation-table-mdr") 2,00%
            td(class="simulation-table-serviceFee") -
            td(class="simulation-table-totalFee") 2,00%
            td(class="simulation-table-totalMoney") R$ 980,00
          tr(class="simulation-table-overTimeShopkeeper")
            td(class="simulation-table-title-col") Parcelado Lojista
            td(class="simulation-table-mdr") 5,59%
            td(class="simulation-table-serviceFee") 2,99%
            td(class="simulation-table-totalFee") 9,82%
            td(class="simulation-table-totalMoney") R$ 901,76
          tr(class="simulation-table-info1")
            td(class="simulation-table-title-col")
            td(class="simulation-table-mdr") Taxa Administrativa*
            td(class="simulation-table-serviceFee")
            td(class="simulation-table-totalFee")
            td(class="simulation-table-totalMoney")
