
/**
 * Colors
 */
$color-white         : #fff;
$color-gray-lighten  : #f9f9f9;
$color-gray-light    : #E8E8E8;
$color-gray          : #A1A1A1;
$color-gray-dark     : #656667;
$color-grat-dark-2   : #898989;
$color-gray-darken   : #222;
$color-black         : #000;
$color-purple        : #662c62;

$color-red-light     : #ff0b00;
$color-red           : #d0070e;
$color-red-dark      : #860000;

$color-brown-lighten : #e9e5df;
$color-brown-light   : #dfd5c8;
$color-brown         : #4D4D4D;
$color-brown-soft    : #7a6c54;
$color-brown-dark    : #736347;

$color-primary       : $color-black;
$color-secondary     : $color-brown;

$color-input-placeholder: #A1A1A1;
$color-grey-shelf-title: #898989;
$color-orange: #FF521E
