
/**
 * Fonts Imports
 * mob-iconfonts Webfont
 */
@font-face {
    font-family: 'mob-iconfonts';
    src: url('/arquivos/mob-iconfonts.eot.css');
    src: url('/arquivos/mob-iconfonts.eot.css') format('embedded-opentype'),
        url('/arquivos/mob-iconfonts.ttf.css') format('truetype'),
        url('/arquivos/mob-iconfonts.woff2.css') format('woff2'),
        url('/arquivos/mob-iconfonts.woff.css') format('woff'),
        url('/arquivos/mob-iconfonts.svg.css') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KievitOT";
    src: url('/arquivos/KievitOT-Regular.otf.css');
    font-weight: 400;
}

@font-face {
    font-family: "KievitOT";
    src: url('/arquivos/KievitOT-Medium.otf.css');
    font-weight: 600;
}

@font-face {
    font-family: "KievitOT";
    src: url('/arquivos/KievitOT-Bold.otf.css');
    font-weight: 700;
}

/**
 * Remove and import this part on:
 * /scss/components/_iconfonts.scss
 *
@mixin iconfont-styles {
    font-family: "mob-iconfonts";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%iconfont {
    @include iconfont-styles;
}
 */
