
/**
 * General Variables
 * Call on every SASS files
 */
$color-body-text              : $color-black;
$color-body-bg                : $color-white;
$container-width              : 1920px;
$off-canvas-max-width         : 435px;
$newsletter-width             : 32px;
$input-height                 : 32px;


// Desktop Header
$header-logo-width: calc(484 / 1280 * 100vw);
$utilities-width: calc(214  / 1280 * 100%);
$preheader-height             : 31px;
$header-height-active         : 54px;
$header-logo-height           : 50px;
$header-nav-height            : 28px;
$header-height                :$header-logo-height + $header-nav-height;

/* Mobile Header */
$pre-header-height-mobile     : 32px;
$header-height-mobile         : 55px;
$header-search-input-height   : 72px;

$main-banner-padding          : 48px;
$side-newsletter-width        : 56px;
$grid-width                   : 60px;
$filters-right-width          : 380px;
$map-mobile-height            : 210px;
$order-drop-width: 130px;

// Minicart
$minicart-header-height       : 72px;
$minicart-header-height-mobile: 54px;
$minicart-bottom-height       : 184px;
$minicart-bottom-height-mobile: 170px;

// Lookbook
$lookbook-bottom-height       : 120px;

// Material
$accelerate-ease              : cubic-bezier(0.4, 0.0, 1, 1);
$decelerate-ease              : cubic-bezier(0.0, 0.0, 0.2, 1);
