
body {
    &.has--loader {
        .x-ajax-loader {
            opacity: 1;
            visibility: visible;
        }
    }

    &.has--no-scroll {
        height: 100%;
        overflow: hidden;

        @include mq('sm') {
            @include rem(margin-right, 17px);
        }
    }

    @include mq('sm') {
        &.x-home {
            .x-header__logo {
                opacity: 0;
            }
        }
    }
}

#vtexIdUI-global-loader {
    height: 0 !important;
    width: 0 !important;
}

#vtexIdContainer {
    position: fixed !important;
    z-index: 9999 !important;
}

#ajaxBusy {
    position: absolute !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transform: translate(100%, 100%) !important;
    will-change: transform;
}

/**
 * Slick prevent rendering
 */
// Banners with lazy
.x-main-banner__small,
.x-main-banner__big {
    opacity: 0;
    visibility: hidden;

    &.slick-initialized {
        opacity: 1;
        visibility: visible;
    }
}

// Slick for Shelves - 3 items only
.x-home__main-shelf ul,

.x-empty-search__suggestion-shelf ul {
    &:not(.slick-initialized) {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 30%;
            margin: 0 1.5%;
            width: calc(33.33% - 20px);
            @include rem(margin, 0 10px);

            &:nth-child(n + 4) {
                display: none;
            }

            @include mq('sm', max) {
                width: calc(50% - 16px);
                @include rem(margin, 0 8px);

                &:nth-child(n + 3) {
                    display: none;
                }
            }
        }
    }
}

.x-product__main-shelf ul {
    &:not(.slick-initialized) {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 25%;
            margin: 0 28px;
            $local-width:((208.68 / 1108.68) * 100%);
            width: $local-width;            
            @include rem(margin, 0 3.08%);

            &:nth-child(n + 5) {
                display: none;
            }

            @include mq('sm', max) {
                width: calc(50% - 16px);
                @include rem(margin, 0 8px);

                &:nth-child(n + 3) {
                    display: none;
                }
            }
        }
    }
}

// Product images
.x-product__img-main {
    &:not(.slick-initialized) {
        .x-product__img-main-content {
            &:nth-child(n + 2) {
                display: none;
            }
        }
    }
}


body.no-price {
    .x-shelf__best-price,
    .x-shelf__best-price .x-a-vista,
    .x-shelf .buy-button-normal,
    .x-product__price-info,
    .x-product__price-wrapper {
        display: none !important
    }
    .x-product__qty-container,
    .x-product__buy-btn {
        pointer-events: none;
        opacity: .7;
    }
}

.myo-cancel-btn{
    display: none !important
}

.no-underline{
    display: block;
    
}