* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open sans" !important;
}

.is--active {
    border: 1px solid #662c62 !important;
    transition: 200ms;
}

.x-product__chips.is--error {
    border: 1px solid red !important;
    transition: 200ms;
    border-radius: 5px;
}

.x-product__chips.is--error:after {
    opacity: 1;
    visibility: visible;
}

.x-product__chips:after {
    content: "";
    background: url(/arquivos/icon--alert.png);
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
}

body {
    background: #f2f2f2;

    header {
        .x-original-superget {
            width: 100%;
            background: #26a84a;
            padding: 22px 16px;

            h1 {
                font-size: 22px;
                font-weight: 700;
                color: #ffffff;
                margin-bottom: 9px;
            }

            span {
                color: #ffffff;
                font-size: 20px;
            }
        }
    }

    main {
        padding: 32px 0;
        padding-left: 15px;
        position: relative;

        .x-background {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 40%;
            background: url(/arquivos/bg-lp-original.png);
        }

        .x-promocao {
            width: 87%;
            margin: 0 auto;

            &__intro {
                display: flex;
                justify-content: center;
                flex-flow: row wrap;

                h2 {
                    font-size: 21px;
                    font-weight: 500;
                    color: #4a4a4a;
                    text-align: center;
                    text-transform: uppercase;
                }

                span {
                    display: block;
                    margin-top: 14px;
                    font-size: 21px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #4a4a4a;
                    text-align: center;
                    width: 100%;
                }

                strong {
                    font-size: 24px;
                    font-weight: 900;
                }
            }
        }

        .x-vitrine {
            width: 100%;
            margin-top: 51px;
            display: flex;
            justify-content: center;

            .x-shelf__full {
                width: 100%;

                .js--shelf {
                    width: 100%;

                    ul {
                        width: 100%;

                        li.container {
                            position: relative;
                            margin-right: 40px;

                            .x-product__discount--container {
                                display: none;
                            }

                            h2.x-product__name {
                                &::first-letter {
                                    margin-left: 3px;
                                }

                                span {
                                    display: block;
                                    color: #4a4a4a;
                                    font-size: 22px;
                                    font-weight: 400;

                                    &:first-child {
                                        display: block;
                                        color: #4a4a4a;
                                        font-size: 18px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            .x-product__discount {
                                width: 60%;
                                height: 66px;

                                h3 {
                                    margin-top: 6.1px;
                                    margin-bottom: 4.1px;
                                    color: #435866;
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }

                            .x-product__image--container {
                                position: absolute;
                                top: -3%;
                                right: -3%;
                                width: 114px;
                            }

                            .x-product__image--know-more {
                                display: none;
                            }

                            .x-free_shipping {
                                display: none;
                            }

                            .x-product__group {
                                .x-product.wrapper {
                                    width: 100%;
                                    border-radius: 0 0 15px 15px;
                                    border-radius: 0 0 15px 15px;
                                    margin-top: 30px;

                                    .x-product__introInfo {
                                        background: #26a84a;
                                        padding-top: 14px;
                                        padding-bottom: 40px;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        border-radius: 15px 15px 0 0;

                                        span {
                                            font-size: 22px;
                                            font-weight: 500;
                                            color: white;
                                            text-align: center;
                                            display: block;
                                        }
                                    }

                                    .x-product__price {
                                        p {
                                            font-size: 16px;
                                            color: #5c5c5c;
                                            font-weight: 300;
                                            text-transform: uppercase;
                                            text-decoration: line-through;
                                        }

                                        p.x-product__price--old {
                                            font-size: 16px;
                                            color: #5c5c5c;

                                            strong {
                                                font-weight: 300;
                                            }
                                        }

                                        p.x-product__price--installments {
                                            width: 100%;
                                            display: block;
                                            text-decoration: none;
                                            margin: 6px 0;
                                            text-transform: none;

                                            span {
                                                display: inline;

                                                br {
                                                    display: none;
                                                }
                                            }

                                            span.x-product__price--installments-number {
                                                color: #435866;
                                                font-size: 24px;
                                                font-weight: 500;
                                            }

                                            span.x-product__price--installments-value {
                                                color: #26a84a;
                                                font-size: 24px;
                                                font-weight: 400;
                                            }
                                        }

                                        .x-product__price--best {
                                            span {
                                                font-size: 16px;
                                                color: #5c5c5c;
                                            }

                                            font-size: 16px;
                                            color: #5c5c5c;
                                        }
                                    }

                                    .x-product.wrapper.container {
                                        padding: 16px 11.8px;
                                        margin-top: 0;
                                        background: #fff;
                                        position: relative;

                                        .x-product__chips {
                                            font-family: Open Sans, sans-serif;
                                            justify-content: center;
                                            font-size: 10px;
                                            font-weight: 700;
                                            margin: 10px 0;
                                            color: #919191;
                                            margin-left: 0;
                                            padding: 2px;
                                            transition: border 0.3s ease-in-out;
                                            position: relative;
                                            margin-top: 32px;
                                            margin-bottom: 55px;

                                            p {
                                                font-weight: bold;
                                                font-size: 13px;
                                                margin-bottom: 8.1px;
                                            }

                                            ul {
                                                display: flex;

                                                li {
                                                    font-family: Open Sans, sans-serif;
                                                    font-size: 9px;
                                                    color: #5c5c5c;
                                                    font-weight: 700;
                                                    text-align: left;
                                                    margin-left: 6px;
                                                    flex-grow: 1;
                                                    min-width: auto;
                                                    height: 36px;
                                                    border: 1px solid lightgray;
                                                    border-radius: 5px;

                                                    button {
                                                        background-repeat: no-repeat;
                                                        background-position: center;
                                                        width: 100%;
                                                        height: 100%;
                                                    }

                                                    .js--chip-tim {
                                                        background-image: url("//superget.vteximg.com.br/arquivos/tim-chip.png");
                                                    }

                                                    .js--chip-claro {
                                                        background-image: url("//superget.vteximg.com.br/arquivos/claro-chip.png");
                                                    }

                                                    .js--chip-vivo {
                                                        background-image: url("//superget.vteximg.com.br/arquivos/vivo-chip.png");
                                                    }

                                                    .js--chip-oi {
                                                        background-image: url("//superget.vteximg.com.br/arquivos/oi-chip.png");
                                                    }
                                                }
                                            }
                                        }

                                        .x-app_logo_menu {
                                            display: block;
                                            width: 100%;
                                            padding-bottom: 17px;
                                            margin-top: 12px;
                                            margin-bottom: 17px;
                                            background-color: #f4f4f4;
                                            border-radius: 10px;

                                            #x-logo_app_image_1_home {
                                                width: 50px;
                                                margin-left: 20px;
                                                margin-right: 19px;
                                                margin-top: 3px;
                                            }

                                            .x-text_logo_exlusive_home {
                                                font-size: 11px;
                                                margin-top: 10px;
                                                margin-left: 4px;
                                                font-weight: 700;
                                            }

                                            .x-para_1_home {
                                                margin-left: 10px;
                                                color: #5c5c5c;
                                            }

                                            .x-para_2_home {
                                                margin-left: 9px;
                                                color: #5c5c5c;
                                            }

                                            &>a {
                                                display: flex;
                                                align-items: center;

                                                &>div {
                                                    padding-top: 14px;
                                                    display: inline-block;
                                                    vertical-align: super;
                                                }
                                            }

                                            .x-logo_app-content {
                                                display: flex;
                                                width: 93%;
                                                flex-direction: row;

                                                img {
                                                    width: 24px !important;
                                                    max-height: 87px;
                                                }

                                                ul {
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: space-around;
                                                    height: 100%;

                                                    li {
                                                        font-size: 9px;
                                                        color: #5c5c5c;
                                                        font-weight: 700;
                                                        text-align: left;
                                                        margin-left: 6px;

                                                        &:not(:last-child) {
                                                            padding-bottom: 9px;
                                                        }
                                                    }
                                                }
                                            }

                                            #x-logo_app_image_2 {
                                                width: 183px;
                                                vertical-align: initial;
                                            }
                                        }

                                        .x-product__buy-button {                         
                                            padding: 13.4px 25.5px;
                                            background: #26a84a;
                                            border-radius: 5px;
                                            display: flex;
                                            justify-content: center;

                                            a {
                                                text-align: center;
                                                color: white;
                                                font-weight: 300;
                                                font-size: 24px;
                                            }
                                        }
                                        .x-product__price--out-of-stock {
                                          pointer-events: none;
                                          cursor: not-allowed;
                                          background: #f4f4f4;
                                          color: black;
                                          border-color: #f4f4f4;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ul.slick-dots {
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        width: 100vw;
                        transform: translate(-5%, 0);

                        li {
                            background: rgba(102, 44, 98, 0.4);
                            border-radius: 10px;

                            &.slick-active {
                                background: #662c62;
                                box-shadow: 0 0 20px #662c62;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {

  .x-painting {
    background: #F8F8F8;

    &__frames {
      background-color: #fff;
      margin: 30px 20px;
      padding: 30px;
    }
    .x-explanation-receive{
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        flex-direction: column;
        padding: 0% 16%;
        padding-bottom: 8%;
        letter-spacing: 0.6px;


        &__content {
            color: #662c62;

            &__inter {
                font-weight: 900;
                color: #EC0000;
            }
        }
    }

    .x-conditions-revice {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #676767;
        padding: 0% 12%;
        text-align: center;

        &__title {
            font-size: 20px;
            font-weight: 900;
            padding: 0% 6%;
            padding-bottom: 8%;
        }

        &__paragraph {
            font-size: 16px;

            &__link {
                font-weight: 900;
            }
        }
    }

    .x-rate-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      color: #EC0000;
      padding: 0% 4%;
      padding-top: 2%;
      padding-bottom: 4%;
      border: 3px solid #EC0000;
      width: 54%;
      margin: 10% 22%;


      &__title {
        font-size: 89px;
        font-weight: 900;
        line-height: 94px;
      }

      &__paragraph {
        font-size: 27px;
        line-height: 28px;
      }
    }

    .x-rates {
      background: #F8F8F8;
      width: 100%;
      &__center {
        width: 100%;
        margin: 0 auto;
        @include rem(max-width, 1069px);
      }
      &__header {
        h2 {
          font-size: 22px;
          color: #662C62;
          text-align: center;
          padding: 23px 0px 23px;
        }
        p {
          font-size: 13px;
          color: #707070;
          text-align: center;
          line-height: 27px;
        }
        &-percent {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 37px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &--left {
            background-color: #f00;
            width: 220px;
            min-height: 192px;
            width: 87%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 12px 0px 35px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              background: url(/arquivos/border-bottom.png) 50% no-repeat;
              height: 2px;
              width: 60px;
              bottom: -19px;
              will-change: transform;
              left: 50%;
              transform: translateX(-50%) rotate(-90deg);
            }
            h3 {
              font-size: 83px;
              margin: 0 auto -14px;
              text-align: center;
              color: #fff;
              font-weight: 900;
            }
            P {
              color: #fff;
              font-size: 20px;
              text-transform: uppercase;
              font-weight: 100;
              line-height: 24px;
              text-align: center;
            }
          }
          &--middle {
            text-align: center;
            background: #fff;
            width: 87%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 42px;
            height: 197px;
            h2 {
              text-transform: uppercase;
              color: #f00;
              font-size: 19px;
              font-weight: 900;
            }
            p {
              font-size: 12px;
              color: #898989;
              text-align: center;
              line-height: 22px;
              margin-top: 15px;
            }
            .js--open-taxas {
              text-decoration: underline;
            }
          }
          &--right {
            width: 88%;
            background: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;
            margin-top: 46px;
            height: 208px;
            text-align: center;
            align-items: center;
            &::after {
              content: "";
              position: absolute;
              background: url(/arquivos/border-bottom.png) 50% no-repeat;
              height: 2px;
              width: 60px;
              bottom: -19px;
              top: -10%;
              will-change: transform;
              left: 50%;
              transform: translateX(-50%) rotate(-90deg);
            }
            h3 {
              font-size: 22px;
              color: #662C62;
              font-size: 20px;
              font-weight: bold;
              height: 0px;
            }
            a {
              width: 167px;
              font-size: 11px;
              background: red;
              color: #fff;
              border-radius: 23px;
              font-family: Ubuntu, sans-serif;
              letter-spacing: .5px;
              -ms-flex-pack: center;
              color: #fff;
              text-decoration: none;
              line-height: 35px;
              font-weight: 700;
            }
          }
          &--text {
            color: #f00;
            text-align: center;
            font-size: 21px;
            margin-top: 37px;
          }
        }
      }
      &__contents {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 90%;
        margin: 30px auto;
        flex-direction: column;
        .x-rates__first,
        .x-rates__left,
        .x-rates__right {
          width: 100%;
          background: #FFF;
          border: 1px solid #fff;
          border-radius: 6px;
          text-align: center;
          @include rem(padding, 24px 20px 54px);
          margin-bottom: 10px;
        }
        .x-superget-taxas {
          display: flex;
        }
      }
    }

    .x-rates-taxas {
      display: flex !important;
      justify-content: space-around !important;
      margin: 0% 10%;

      &__right {
        margin-left: 20px;
      }
    }

    .x-superget-taxas {

      &__credito--column {
        &:last-child {
          border-top: #f5f5f5 1px solid;
          padding-top: 40px;
          margin-top: 40px;
        }
      }

      &__credito--titulo {
        text-align: center;

        h3 {
          font-size: 21px;
          color: #662C62;
          font-weight: bold;
          padding-bottom: 8px;
          background: url('/arquivos/border-bottom.png') no-repeat center bottom;
          white-space: nowrap;
        }
      }

      &__info {
        font-size: 14px;
        color: #5C5C5C;
        // margin-top: 0px;
        // height: 60px;
        text-align: center;

        h4 {
          font-size: 18px;
          font-weight: 900;
          color: #662c62;
          display: inline-block;
          @include rem(margin-left,
              5px);
        }

        P {
          font-size: 11px;
          font-weight: 500;
          height: 37px;
        }

        strong {
          color: #662C62;
          margin-left: 6px;
        }
      }

      &__valores {
        font-size: 11px;
        color: #5C5C5C;
        margin: 0 13px;
        font-weight: 500;
        display: block;
        // text-align: center;
        width: 100%;
        margin: 0 auto;

        // height: 51px;
        strong {
          color: #4E1E4B;
          display: block;
          font-size: 22px;
          margin: 10px 0 0 0;

          span {
            font-weight: 400;
            font-size: 12px;
            display: block;
          }
        }

        span.x-discount {
          display: block;
          will-change: transform;
          transform: translateY(5px);
          @include rem(font-size,
              9px);
        }

        &.x-border {
          position: relative;
          border-left: 1px solid #ccc;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            border-top: 0;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            width: 56%;
            pointer-events: none;
            margin: 0 19%;
            @include rem(bottom,
                -12px);
            @include rem(height,
                8px);
            top: 48px;
          }
        }
      }

      &__credito {

        // &--column {
        //      width: 35%;
        //     &:last-child {
        //         width: 65%;
        //     }
        // }
        &--info-taxas {
          // display: flex;
          // justify-content: space-around;
          // align-items: flex-start;
          margin-top: 27px;
        }

        &--row {
          margin-top: 15px;
        }

        &--ver_melhores_taxas {
          color: #5C5C5C;
          font-weight: 500;
          font-size: 14px;
          text-decoration: underline;
          margin-top: 15px;
        }

        &--sub-infos {
            p {
              color: #A7A7A7;
              font-size: 11px;
              text-align: center;
            }
        }
      }
    }

    .x-direct-page {
      width: 60%;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EC0000;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px;
      margin-left: 20%;

      &:nth-child(2) {
        background-color: #662c62;
      }

      &:last-child {
        transform: translateY(23px);
      }
    }
  }

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
    body {
      main {
          .x-vitrine {
              .x-shelf__full {
                  .js--shelf {
                      ul {
                          li.container {
                              .x-product__image--container {
                                  position: absolute;
                                  top: -3%;
                                  right: -12%;
                                  width: 114px;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}