* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open sans" !important;
}

.is--active {
  border: 1px solid #662c62 !important;
  transition: 200ms;
}
.x-product__chips.is--error {
  border: 1px solid red !important;
  transition: 200ms;
  border-radius: 5px;
}

.x-product__chips.is--error:after {
  opacity: 1;
  visibility: visible;
}

.x-product__chips:after {
  content: "";
  background: url(/arquivos/icon--alert.png);
  background-repeat: no-repeat;
  background-size: 15px;
  width: 15px;
  height: 13px;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  visibility: hidden;
}

body {
  background: #f2f2f2;
  header {
    width: 100%;
    height: 10vh;
    padding: 27px 44px;
    display: flex;
    align-items: center;
    background: white;
    .x-superget {
      position: relative;
      svg {
        margin-right: 55px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: -5%;
        background: #cdcdcd;
        width: 2px;
        height: 110%;
      }
    }
    .x-original {
      margin-left: 12px;
    }
    .x-login {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
  main {
    position: relative;
    padding-bottom: 97px;
    .background {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 40%;
      background: url(/arquivos/bg-lp-original.png);
    }
    .x-original-superget {
      width: 100%;
      height: 128px;
      background: #26a84a;
      padding-top: 34px;
      padding-bottom: 41px;
      padding-left: 43px;
      margin-bottom: 60px;
      h1 {
        font-weight: 700;
        color: #fff;
        font-size: 28px;
        line-height: 30px;
      }
      p {
        color: white;
        font-weight: 300;
        font-size: 18px;
      }
    }
    .x-promocao {
      display: flex;
      justify-content: center;
      margin-bottom: 83px;
      &__intro {
        h2 {
          font-weight: 500;
          font-size: 24px;
          display: block;
          color: #4a4a4a;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        span {
          text-transform: uppercase;
          font-size: 24px;
          color: #4a4a4a;
          text-align: center;
          display: block;
          font-weight: 500;
        }
        strong {
          font-size: 24px;
          font-weight: 900;
        }
      }
    }
    .x-vitrine {
      margin: 0 auto;
      width: 95%;
      max-width: 1800px;
      height: 536px;
      display: flex;
      justify-content: center;
      .x-shelf__full {
        width: 100%;
        .js--shelf {
          width: 100%;
          ul {
            display: flex;
            width: 100%;
            justify-content: center;
            li.container {
              max-width: 370px;
              min-width: 290px;
              flex-grow: 1;
              position: relative;
              .x-product__discount--container {
                display: none;
              }
              h2.x-product__name {
                &::first-letter {
                  margin-left: 3px;
                }
                span {
                  display: block;
                  color: #4a4a4a;
                  font-size: 22px;
                  font-weight: 400;
                  &:first-child {
                    display: block;
                    color: #4a4a4a;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                  }
                }
              }
              .x-product__discount {
                width: 60%;
                height: 66px;
                h3 {
                  margin-top: 6.1px;
                  margin-bottom: 4.1px;
                  color: #435866;
                  font-size: 16px;
                  font-weight: 500;
                }
              }

              .x-product__image--container {
                position: absolute;
                top: -5.3%;
                right: -10%;
                width: 114px;
              }
              .x-product__image--know-more {
                display: none;
              }
              .x-free_shipping {
                display: none;
              }
              .x-product__group {
                .x-product.wrapper {
                  width: 100%;
                  border-radius: 0 0 15px 15px;
                  border-radius: 0 0 15px 15px;
                  margin-top: 30px;
                  .x-product__introInfo {
                    background: #26a84a;
                    padding-top: 14px;
                    padding-bottom: 40px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 15px 15px 0 0;
                    span {
                      font-size: 22px;
                      font-weight: 700;
                      color: white;
                      text-align: center;
                      display: block;
                    }
                  }
                  .x-product__price {
                    p {
                      font-size: 16px;
                      color: #5c5c5c;
                      font-weight: 300;
                      text-transform: uppercase;
                      text-decoration: line-through;
                    }
                    p.x-product__price--old {
                      font-size: 16px;
                      color: #5c5c5c;
                      strong {
                        font-weight: 300;
                      }
                    }
                    p.x-product__price--installments {
                      width: 100%;
                      display: block;
                      text-decoration: none;
                      margin: 6px 0;
                      text-transform: none;
                      span {
                        display: inline;
                        br {
                          display: none;
                        }
                      }
                      span.x-product__price--installments-number {
                        color: #435866;
                        font-size: 24px;
                        font-weight: 500;
                      }
                      span.x-product__price--installments-value {
                        color: #26a84a;
                        font-size: 24px;
                        font-weight: 400;
                      }
                    }
                    .x-product__price--best {
                      span {
                        font-size: 16px;
                        color: #5c5c5c;
                      }
                      font-size: 16px;
                      color: #5c5c5c;
                    }
                  }
                  .x-product.wrapper.container {
                    padding: 16px 15.8px;
                    margin-top: 0;
                    background: #fff;
                    position: relative;
                    .x-product__chips {
                      font-family: Open Sans, sans-serif;
                      justify-content: center;
                      font-size: 10px;
                      font-weight: 700;
                      margin: 10px 0;
                      color: #919191;
                      margin-left: 0;
                      padding: 2px;
                      transition: border 0.3s ease-in-out;
                      position: relative;
                      margin-top: 32px;
                      margin-bottom: 55px;
                      p {
                        font-weight: bold;
                        font-size: 13px;
                        margin-bottom: 8.1px;
                      }
                      ul {
                        display: flex;
                        li {
                          font-family: Open Sans, sans-serif;
                          font-size: 9px;
                          color: #5c5c5c;
                          font-weight: 700;
                          text-align: left;
                          margin-left: 6px;
                          flex-grow: 1;
                          min-width: auto;
                          height: 36px;
                          border: 1px solid lightgray;
                          border-radius: 5px;
                          button {
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 100%;
                            height: 100%;
                          }
                          .js--chip-tim {
                            background-image: url("//superget.vteximg.com.br/arquivos/tim-chip.png");
                          }
                          .js--chip-claro {
                            background-image: url("//superget.vteximg.com.br/arquivos/claro-chip.png");
                          }
                          .js--chip-vivo {
                            background-image: url("//superget.vteximg.com.br/arquivos/vivo-chip.png");
                          }
                          .js--chip-oi {
                            background-image: url("//superget.vteximg.com.br/arquivos/oi-chip.png");
                          }
                        }
                      }
                    }
                    .x-app_logo_menu {
                      display: block;
                      width: 100%;
                      padding-bottom: 17px;
                      margin-top: 12px;
                      margin-bottom: 17px;
                      background-color: #f4f4f4;
                      border-radius: 10px;
                      #x-logo_app_image_1_home {
                        width: 50px;
                        margin-left: 20px;
                        margin-right: 19px;
                        margin-top: 3px;
                      }
                      .x-text_logo_exlusive_home {
                        font-size: 11px;
                        margin-top: 10px;
                        margin-left: 4px;
                        font-weight: 700;
                      }
                      .x-para_1_home {
                        margin-left: 10px;
                        color: #5c5c5c;
                      }
                      .x-para_2_home {
                        margin-left: 9px;
                        color: #5c5c5c;
                      }
                      & > a {
                        display: flex;
                        align-items: center;
                        & > div {
                          padding-top: 14px;
                          display: inline-block;
                          vertical-align: super;
                        }
                      }
                      .x-logo_app-content {
                        display: flex;
                        width: 93%;
                        flex-direction: row;
                        img {
                          width: 24px !important;
                          max-height: 87px;
                        }
                        ul {
                          display: flex;
                          flex-direction: column;
                          justify-content: space-around;
                          height: 100%;
                          li {
                            font-size: 9px;
                            color: #5c5c5c;
                            font-weight: 700;
                            text-align: left;
                            margin-left: 6px;
                            &:not(:last-child) {
                              padding-bottom: 9px;
                            }
                          }
                        }
                      }
                      #x-logo_app_image_2 {
                        width: 183px;
                        vertical-align: initial;
                      }
                    }
                    .x-product__buy-button {
                      padding: 13.4px 25.5px;
                      background: #26a84a;
                      border-radius: 5px;
                      display: flex;
                      justify-content: center;
                      a {
                        text-align: center;
                        color: white;
                        font-weight: 300;
                        font-size: 24px;
                      }
                    }
                    .x-product__price--out-of-stock {
                      pointer-events: none;
                      cursor: not-allowed;
                      background: #f4f4f4;
                      color: black;
                      border-color: #f4f4f4;
                    }
                  }
                }
              }
              &:nth-of-type(2) {
                margin-left: 47px;
              }
              &:nth-of-type(3) {
                margin-right: 47px;
                margin-left: 47px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .x-rates {
      width: 100%;
      padding: 0 140px;

      &__register {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &.x-bottom {
          position: relative;
          top: 25px;
        }

        .x-register-button {
          background: #EC0000;
          border-radius: 25px;
          box-sizing: border-box;
          padding: 14px 62px;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 700;
          color: #FFFFFF;
          letter-spacing: 0.32px;
          line-height: 22px;
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__title {
          font-family: "Open Sans", sans-serif;
          font-size: 40px;
          font-weight: normal;
          color: #662C62;
          letter-spacing: 0.8px;
          line-height: 55px;
          text-align: center;
          margin-top: 28px;
        .x-red-text {
          font-weight: 700;
          color: #ec0000;
        }
      }
      &__subtitle {
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #676767;
        letter-spacing: 0;
        line-height: 33px;
        text-align: center;
        margin-top: 28px;
      }
      &__text {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: normal;
        color: #676767;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
        margin-top: 12px;

        a {
          text-decoration: underline;
          font-weight: 700;
        }
      }
        &__flag {
          box-sizing: border-box;
          border-radius: 0;
          border: 3px solid #EC0000;
          margin-top: 49px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          box-sizing: border-box;
          padding: 0 39px;

          &__percent {
            font-family: "Open Sans", sans-serif;
            font-size: 116px;
            font-weight: 700;
            color: #EC0000;
            letter-spacing: 0;
            line-height: 158px;
          }
          &__text {
            font-family: "Open Sans", sans-serif;
            font-size: 40px;
            font-weight: normal;
            color: #EC0000;
            letter-spacing: 0;
            line-height: 55px;
            margin-left: 15px;
          }
          strong {
            font-weight: 700;
          }
        }
      }

      &__contents {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
        @include rem(max-width, 1069px);
        margin: 55px auto 15px;

        .x-rates__first,
        .x-rates__left,
        .x-rates__right {
          width: 32%;
          background: #FFF;
          border: 1px solid #fff;
          text-align: center;
          @include rem(padding, 24px 20px 54px);
        }

        .x-superget-taxas {
          display: flex;
        }
      }

      .x-superget-taxas {
        &__credito--column {
          &:last-child {
            border-top: #f5f5f5 1px solid;
            padding-top: 40px;
            margin-top: 40px;
          }
        }

        &__credito--titulo {
          text-align: center;

          h3 {
            font-size: 21px;
            height: 66px;
            color: #662C62;
            font-weight: bold;
            padding-bottom: 8px;
            background: url('/arquivos/border-bottom.png') no-repeat center bottom;
            white-space: nowrap;
          }
        }

        &__info {
          font-size: 14px;
          color: #5C5C5C;
          text-align: center;

          h4 {
            font-size: 18px;
            font-weight: 900;
            color: #662c62;
            display: inline-block;
            @include rem(margin-left, 5px);
          }

          P {
            font-size: 11px;
            font-weight: 500;
            height: 37px;
          }

          strong {
            color: #662C62;
            margin-left: 6px;
          }
        }

        &__valores {
          font-size: 11px;
          color: #5C5C5C;
          margin: 0 13px;
          font-weight: 500;
          display: block;
          width: 100%;
          margin: 0 auto;

          strong {
            color: #4E1E4B;
            display: block;
            font-size: 22px;
            margin: 10px 0 0 0;

              span {
                font-weight: 400;
                font-size: 12px;
                display: block;
              }
          }

          span.x-discount {
            display: block;
            will-change: transform;
            transform: translateY(5px);
            @include rem(font-size, 9px);
          }

          &.x-border {
            position: relative;
            border-left: 1px solid #ccc;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              border-top: 0;
              border-left: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              border-right: 1px solid #ccc;
              width: 56%;
              pointer-events: none;
              margin: 0 19%;
              @include rem(bottom, -12px);
              @include rem(height, 8px);
              top: 48px;
            }
          }
        }

        &__credito {
          &--info-taxas {
            margin-top: 27px;
          }

          &--row {
            margin-top: 15px;
          }

          &--ver_melhores_taxas {
            color: #5C5C5C;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
            margin-top: 15px;
          }

          &--sub-infos {
            p {
              color: #A7A7A7;
              font-size: 11px;
              text-align: center;
            }
          }
        }
      }
    }
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1260px) {
  .x-vitrine {
    .x-shelf__full {
      .js--shelf {
        ul {
          li.container {
            .x-product__image--container {
              top: -1.3%;
            }
          }
        }
      }
    }
  }
}
