section(class='x-video',data-section="video-promocional")
    div(class='x-video__container js--video-container')        
        div(class='x-video__thumb js--video-thumb')
            <vtex:contentPlaceHolder id="Video Thumb" />
        div(class='x-video__window js--video-wrapper')            
            div(class='x-video__wrapper')
                <vtex:contentPlaceHolder id="Video tag" />
        span(class='x-video__close js--video-close')
            <vtex.cmc:svgIconClose/>
        div(class='x-video__play js--video-play')
            <vtex.cmc:SvgIconPlay />     


