.x-payments-card {
    width: 100%;
    height: auto;

    &__wrapper {
        width: 87.50%;
        height: auto;
        margin: 0 auto;
        padding: 30px 0;
        box-sizing: border-box;
    }
    &__header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        width: auto;
        height: auto;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #662C62;
    }

    &__content {
        width: auto;
        height: auto;
    }

    &__options {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0;
    }

    &__option {
        width: auto;
        height: auto;

        &:not(:first-child) {
            margin: 33.5px 0 0;
        }

        &-flags {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                @include mq(450px, max) {
                    width: 55px;
                    height: 34.38px;
                }
                @include mq(450px, min) {
                    width: 70px;
                    height: 43.75px;
                }

                svg {
                    width: 100%;
                    height: auto;
                }

                &:not(:first-child) {
                    margin: 0 0 0 10px;
                }
            }
        }

        &-label {
            display: block;
            width: auto;
            height: auto;
            font-family: "KievitOT", "Open Sans", sans-serif;
            font-size: 9px;
            font-weight: 400;
            line-height: 16px;
            color: rgba($color: #3C3C3C, $alpha: 0.6);
            text-transform: uppercase;
            text-align: center;
            box-sizing: border-box;
            padding: 0;
            margin: 10px 0 0;
        }

        &-border {
            display: block;
            width: 90.51%;
            height: 1px;
            background: #A7AEAF;
            margin: 33.5px auto 0;
        }
    }
}